Repository cosmos/cosmos-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cosmos/sdk-core-dev, @julienrbrt, @JulianToledano, @raynaudoe, @alpe, @lucaslopezf, @ziscky, @tac0turtle

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the most precedence

# Cosmos SDK Codeowners

# Core team as default owners

* @cosmos/sdk-core-dev

# Components

/baseapp/ @cosmos/sdk-core-dev
/client/ @julienrbrt @JulianToledano @cosmos/sdk-core-dev
/client/v2/ @julienrbrt @JulianToledano @cosmos/sdk-core-dev
/collections/ @cosmos/sdk-core-dev
/core/ @cosmos/sdk-core-dev
/crypto/ @JulianToledano @raynaudoe @cosmos/sdk-core-dev
/depinject/ @julienrbrt @cosmos/sdk-core-dev
/indexer/ @cosmos/sdk-core-dev
/log/ @julienrbrt @cosmos/sdk-core-dev
/math/ @alpe @cosmos/sdk-core-dev
/orm/ @lucaslopezf @cosmos/sdk-core-dev
/runtime/ @julienrbrt @cosmos/sdk-core-dev
/runtime/v2/ @julienrbrt @cosmos/sdk-core-dev
/schema/ @cosmos/sdk-core-dev
/server/ @cosmos/sdk-core-dev
/server/v2/ @julienrbrt @cosmos/sdk-core-dev
/server/v2/stf/ @cosmos/sdk-core-dev
/server/v2/appmanager/ @cosmos/sdk-core-dev
/server/v2/cometbft/ @cosmos/sdk-core-dev
/simsx @alpe @cosmos/sdk-core-dev
/simapp/ @julienrbrt @cosmos/sdk-core-dev
/simapp/v2/ @julienrbrt @cosmos/sdk-core-dev
/store/ @cosmos/sdk-core-dev
/store/v2/ @cosmos/sdk-core-dev
/types/mempool/ @cosmos/sdk-core-dev
/tools/hubl @julienrbrt @JulianToledano @cosmos/sdk-core-dev
/tools/cosmovisor @julienrbrt @cosmos/sdk-core-dev
/tools/confix @julienrbrt @cosmos/sdk-core-dev
/tests/integration/aminojson @cosmos/sdk-core-dev

# x modules

/x/accounts/ @cosmos/sdk-core-dev
/x/auth/ @cosmos/sdk-core-dev
/x/auth/tx/config @julienrbrt @cosmos/sdk-core-dev
/x/authz/ @raynaudoe @cosmos/sdk-core-dev
/x/bank/ @julienrbrt @cosmos/sdk-core-dev
/x/bank/v2 @julienrbrt @cosmos/sdk-core-dev
/x/circuit/ @raynaudoe @cosmos/sdk-core-dev
/x/consensus/ @raynaudoe @cosmos/sdk-core-dev
/x/distribution/ @alpe @JulianToledano @cosmos/sdk-core-dev
/x/epochs/ @alpe @cosmos/sdk-core-dev
/x/evidence/ @alpe @cosmos/sdk-core-dev
/x/feegrant/ @alpe @cosmos/sdk-core-dev
/x/genutil/ @julienrbrt @cosmos/sdk-core-dev
/x/gov/ @julienrbrt @cosmos/sdk-core-dev
/x/group/ @cosmos/sdk-core-dev
/x/mint/ @lucaslopezf @cosmos/sdk-core-dev
/x/nft/ @alpe @lucaslopezf @cosmos/sdk-core-dev
/x/protocolpool/ @alpe @cosmos/sdk-core-dev
/x/simulation/ @cosmos/sdk-core-dev # deprecated so whole team
/x/slashing/ @raynaudoe @lucaslopezf @cosmos/sdk-core-dev
/x/staking/ @JulianToledano @ziscky @cosmos/sdk-core-dev
/x/tx/ @cosmos/sdk-core-dev
/x/upgrade/ @lucaslopezf @cosmos/sdk-core-dev
/x/validate @julienrbrt @cosmos/sdk-core-dev

# go mods

**/go.mod @cosmos/sdk-core-dev
**/go.sum @cosmos/sdk-core-dev

# ci & build

.github/ @julienrbrt @tac0turtle
scripts/ @julienrbrt @tac0turtle
contrib/ @julienrbrt @tac0turtle
*.mk @julienrbrt @tac0turtle
Makefile @julienrbrt @tac0turtle

# docs configuration

/docs/ @cosmos/sdk-core-dev
/docs/docusaurus.config.js @julienrbrt @tac0turtle
/docs/sidebars.js @julienrbrt @tac0turtle
/docs/pre.sh @julienrbrt @tac0turtle
/docs/post.sh @julienrbrt @tac0turtle

fix(codec): provide legacy amino og type (#23504)
  codec/depinject.go
Owners: @cosmos/sdk-core-dev

fix(codec): provide legacy amino og type (#23504)
  codec/depinject.go
Owners: @cosmos/sdk-core-dev

cl
  CHANGELOG.md
Owners: @cosmos/sdk-core-dev

feat(x/tx): add an option to encode maps using amino json (#23513)
  x/tx/signing/aminojson/json_marshal.go
Owners: @cosmos/sdk-core-dev

chore(collections): bring in `protocodec` in collections directly
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  collections/go.mod
  collections/protocodec/CHANGELOG.md
  collections/protocodec/go.mod
  collections/protocodec/go.sum
  go.work.example
Owners: @julienrbrt, @tac0turtle, @cosmos/sdk-core-dev

cl
  collections/CHANGELOG.md
Owners: @cosmos/sdk-core-dev

Update docs & go mod tidy
  docs/learn/beginner/03-accounts.md
  go.mod
Owners: @cosmos/sdk-core-dev

remove unused
  CHANGELOG.md
Owners: @cosmos/sdk-core-dev

chore(collections): bring in `protocodec` in collections directly (#23515)
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  collections/CHANGELOG.md
  collections/go.mod
  collections/protocodec/CHANGELOG.md
  collections/protocodec/go.mod
  collections/protocodec/go.sum
  go.work.example
Owners: @julienrbrt, @tac0turtle, @cosmos/sdk-core-dev

chore: fix changelog for `v0.52.0-rc.2` (#23502)
  CHANGELOG.md
Owners: @cosmos/sdk-core-dev

Update LICENSE
  crypto/keys/secp256k1/internal/secp256k1/LICENSE
Owners: @JulianToledano, @raynaudoe, @cosmos/sdk-core-dev

fix
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Owners: @cosmos/sdk-core-dev

fix(x/tx): add an option to encode maps using amino json (follow-up of #23513)
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Owners: @cosmos/sdk-core-dev

cl
  x/tx/CHANGELOG.md
Owners: @cosmos/sdk-core-dev

fix(x/tx): add an option to encode maps using amino json (ref #23513) (#23539)
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Owners: @cosmos/sdk-core-dev

fix(x/tx): add an option to encode maps using amino json (ref #23513) (#23539)
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Owners: @cosmos/sdk-core-dev

ok
  scripts/build/simulations.mk
  scripts/build/testing.mk
Owners: @julienrbrt, @tac0turtle

legacy params
  types/legacy/params.go
Owners: @cosmos/sdk-core-dev

fix conflicts
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Owners: @cosmos/sdk-core-dev

typo
  x/tx/CHANGELOG.md
Owners: @cosmos/sdk-core-dev

feat(client/v2): add map support
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

cl
  client/v2/CHANGELOG.md
  x/tx/CHANGELOG.md
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

Fix pebbleDB integration
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  store/v2/db/pebbledb.go
  x/simulation/client/cli/flags.go
Owners: @julienrbrt, @cosmos/sdk-core-dev

Add changelog
  store/v2/CHANGELOG.md
Owners: @cosmos/sdk-core-dev

fix(db): Fix pebbleDB integration (#23552)
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  store/v2/CHANGELOG.md
  store/v2/db/pebbledb.go
  x/simulation/client/cli/flags.go
Owners: @julienrbrt, @cosmos/sdk-core-dev

feat(client/v2): add map support (#23544)
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

feat(client/v2): add map support (#23544)
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

feat(client/v2): add map support (#23544)
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.sum
  simapp/v2/go.mod
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

conflicts
  client/v2/CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

fix conflicts
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.sum
  simapp/v2/go.mod
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @cosmos/sdk-core-dev

cl
  client/v2/CHANGELOG.md
Owners: @julienrbrt, @JulianToledano, @cosmos/sdk-core-dev

fix
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
Owners: @cosmos/sdk-core-dev

gmt
  simapp/go.mod
  simapp/go.sum
Owners: @cosmos/sdk-core-dev

remove
  .github/workflows/build.yml
Owners: @julienrbrt, @tac0turtle

fix v2 build
  .github/workflows/build.yml
Owners: @julienrbrt, @tac0turtle

build(deps): Bump github.com/cometbft/cometbft-db from 0.11.0 to 1.0.2 for all modules
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @cosmos/sdk-core-dev

Update LICENSE
  crypto/keys/secp256k1/internal/secp256k1/LICENSE
Owners: @JulianToledano, @raynaudoe, @cosmos/sdk-core-dev

Make prune system test work
  runtime/v2/app.go
  runtime/v2/module.go
  server/v2/commands.go
  simapp/v2/go.mod
Owners: @julienrbrt, @cosmos/sdk-core-dev

fix
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
Owners: @cosmos/sdk-core-dev

update
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Owners: @cosmos/sdk-core-dev
