Repository cosmos/cosmos-sdk, pull requests merged in 2018-07, with the labels that each got.

#1487 types: Rename rational.Evaluate to rational.Round
  CHANGELOG.md
  types/rational.go
  types/rational_test.go
  types/stake.go
  x/stake/genesis.go
  x/stake/handler_test.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/inflation.go
  x/stake/keeper/inflation_test.go
  x/stake/keeper/slash.go
  x/stake/keeper/slash_test.go
  x/stake/keeper/validator_test.go
  x/stake/types/pool.go
  x/stake/types/test_common.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: ready-for-review

#1459 add link to new docs location
  docs/index.rst
Labels: prelaunch

#1509 Fix basecoin Example
  examples/basecoin/app/app.go
  examples/basecoin/app/app_test.go
  examples/basecoin/cmd/basecli/main.go
  examples/basecoin/cmd/basecoind/main.go
  examples/basecoin/types/account.go
  server/init.go
Labels: prelaunch, ready-for-review

#1389 State tree pruning
  store/iavlstore.go
  store/iavlstore_test.go
  store/prefixstore_test.go
Labels: ready-for-review, wip

#1462 WIP: Set auth.FeeCollectionKeeper in Applications
  client/context/helpers.go
  client/context/types.go
  client/context/viper.go
  cmd/gaia/app/app.go
  types/context.go
Labels: wip

#1396 Dockerfile Update
  Dockerfile
Labels: ready-for-review

#1512 Add Ledger Instructions
  docs/clients/ledger.md
Labels: ready-for-review

#1467 staking index keys don't hold values
  CHANGELOG.md
  x/stake/client/cli/query.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/query.go
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/key.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/validator.go
Labels: ready-for-review

#1526 WIP: Merge unstable into develop
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  docs/core/app5.md
  examples/democoin/app/app_test.go
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/pow/app_test.go
  types/rational.go
  types/rational_test.go
  x/auth/mock/app.go
  x/auth/mock/auth_app_test.go
  x/auth/mock/simulate_block.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/gov/msgs_test.go
  x/gov/test_common.go
  x/ibc/app_test.go
  x/mock/app.go
  x/mock/app_test.go
  x/mock/test_utils.go
  x/slashing/app_test.go
  x/stake/app_test.go
  x/stake/client/cli/query.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/query.go
  x/stake/genesis.go
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/key.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/validator.go
  x/stake/stake.go
  x/stake/types/delegation.go
  x/stake/types/delegation_test.go
  x/stake/types/errors.go
  x/stake/types/msg_test.go
  x/stake/types/params.go
  x/stake/types/params_test.go
  x/stake/types/pool_test.go
  x/stake/types/shares.go
  x/stake/types/shares_test.go
  x/stake/types/test_utils.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: wip

#1548 no keys fields in state value
  CHANGELOG.md
  types/account.go
  x/slashing/handler_test.go
  x/slashing/test_common.go
  x/stake/client/cli/query.go
  x/stake/client/rest/query.go
  x/stake/keeper/delegation.go
  x/stake/keeper/key.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/validator.go
  x/stake/types/delegation.go
  x/stake/types/validator.go
Labels: ready-for-review, staking

#1532 Codec.Seal()
  baseapp/baseapp_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  examples/basecoin/app/app.go
  examples/democoin/app/app.go
  examples/democoin/x/oracle/oracle_test.go
  wire/wire.go
  x/ibc/ibc_test.go
Labels: ready-for-review

#1560 SortJSON method for GetSignBytes (ledger)
  Gopkg.lock
  server/util.go
  server/util_test.go
Labels: ready-for-review

#1339 Update testnet readme and use Bech32-encoded delegator address
  cmd/gaia/testnets/README.md
  x/stake/client/cli/query.go
Labels: ready-for-review

#1559 Inconsistent Genesis Generation Key Order
  examples/democoin/cmd/democoind/main.go
  server/init.go
  server/util.go
  server/util_test.go
Labels: cli, prelaunch, ready-for-review

#1538 tests: cli_tests no longer call `unsafe_reset_all` on local env
  CHANGELOG.md
  cmd/gaia/cli_test/cli_test.go
Labels: ready-for-review

#1490 gaiacli: Improve error messages for `send` command
  CHANGELOG.md
  x/auth/client/cli/account.go
  x/bank/client/cli/sendtx.go
Labels: ready-for-review

#1564 Add Gopkg.lock; 'make format'
  Gopkg.lock
  server/util_test.go
Labels: ready-for-review

#1569 gaiacli, keys: Improve error message when deleting non-existant key
  CHANGELOG.md
  client/keys/delete.go
  crypto/keys/keybase.go
Labels: ready-for-review

#1563 Sort all msg.GetSignBytes
  CHANGELOG.md
  baseapp/baseapp_test.go
  docs/core/examples/app1.go
  docs/core/examples/app2.go
  examples/democoin/x/cool/types.go
  examples/democoin/x/oracle/types.go
  examples/democoin/x/pow/types.go
  examples/democoin/x/pow/types_test.go
  examples/democoin/x/simplestake/msgs.go
  examples/kvstore/tx.go
  server/util.go
  server/util_test.go
  types/tx_msg.go
  types/utils.go
  types/utils_test.go
  x/auth/stdtx.go
  x/bank/msgs.go
  x/bank/msgs_test.go
  x/gov/msgs.go
  x/ibc/types.go
  x/slashing/msg.go
  x/stake/types/msg.go
Labels: ready-for-review

#1572 cli: Add async flag to all broadcasting txs
  CHANGELOG.md
  client/context/helpers.go
  client/context/types.go
  client/context/viper.go
  client/flags.go
  examples/democoin/x/cool/client/cli/tx.go
  examples/democoin/x/pow/client/cli/tx.go
  examples/democoin/x/simplestake/client/cli/commands.go
  x/bank/client/cli/sendtx.go
  x/gov/client/cli/tx.go
  x/ibc/client/cli/ibctx.go
  x/slashing/client/cli/tx.go
  x/stake/client/cli/tx.go
Labels: ready-for-review

#1573 gov/client: rename submitproposal to submit-proposal
  cmd/gaia/cli_test/cli_test.go
  x/gov/client/cli/tx.go
Labels: ready-for-review

#1175 Randomized Module Testing
  CHANGELOG.md
  baseapp/baseapp_test.go
  baseapp/multimsg_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/test_helpers.go
  x/mock/app.go
  x/mock/doc.go
  x/mock/random_simulate_blocks.go
  x/mock/types.go
Labels: tests, wip

#1566 Fix validator power decrease bug
  CHANGELOG.md
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
Labels: ready-for-review

#1514 Unbond validators set to zero power
  CHANGELOG.md
  x/stake/handler_test.go
  x/stake/keeper/slash.go
  x/stake/keeper/slash_test.go
  x/stake/keeper/validator_test.go
Labels: ready-for-review

#1565 Validator Cliff Updates
  CHANGELOG.md
  x/stake/handler_test.go
  x/stake/keeper/key.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
Labels: ready-for-review, staking

#1579 Cleanup Baseapp tests
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/multimsg_test.go
  baseapp/router.go
Labels: ready-for-review

#1591 gaiad: Genesis txs now use bech32 encoding of address and pubkey
  CHANGELOG.md
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  server/init.go
  types/account.go
Labels: ready-for-review

#1590 store: Setting default back to archive mode / no pruning
  store/iavlstore.go
Labels: ready-for-review

#1588 Add SECURITY.MD
  SECURITY.md
Labels: ready-for-review

#1601 Fix LCD rest-server command
  CHANGELOG.md
  client/lcd/root.go
Labels: cli, prelaunch

#1593 tools: Add code complexity linter, gocyclo
  CHANGELOG.md
  baseapp/baseapp.go
  client/keys/add.go
  server/testnet.go
  server/util.go
  store/iavlstore.go
  tools/Makefile
  tools/gometalinter.json
  types/errors.go
  types/int.go
  types/rational.go
  x/auth/ante.go
  x/gov/client/rest/rest.go
  x/ibc/client/cli/relay.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/tx.go
  x/stake/keeper/inflation_test.go
  x/stake/keeper/slash.go
  x/stake/keeper/validator.go
Labels: ready-for-review

#1609 prevent create-validator with duplicate pubkey
  CHANGELOG.md
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/stake.go
  x/stake/types/errors.go
Labels: ready-for-review, staking

#1400 Cleanup Baseapp
  baseapp/baseapp.go
  baseapp/helpers.go
Labels: ready-for-review

#1611 changelog: Reorder items in the changelog
  CHANGELOG.md
Labels: ready-for-review

#1595 Add Gov cmds for Gaia-7000
  CHANGELOG.md
  cmd/gaia/testnets/README.md
Labels: docs, prelaunch, ready-for-review

#1615 Fix unformatted files
  baseapp/baseapp.go
  x/mock/app_test.go
  x/stake/app_test.go
  x/stake/keeper/key.go
Labels: ready-for-review

#1612 prevent zero power validators at genesis
  CHANGELOG.md
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiadebug/hack.go
  x/gov/test_common.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/genesis.go
  x/stake/genesis_test.go
Labels: ready-for-review, staking

#1603 baseapp: Adding option functions to NewBaseApp
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
Labels: baseapp, ready-for-review

#1600 Friend can create validator and delegate on behalf of genesis validator
  CHANGELOG.md
  client/lcd/lcd_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/tx.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/stake.go
  x/stake/types/msg.go
  x/stake/types/msg_test.go
Labels: ready-for-review

#1631 keys: Keybase.Update no longer asks for newpass if oldpass is incorrect
  CHANGELOG.md
  client/keys/update.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/types.go
Labels: ready-for-review

#1619 R4R: Clearer staking logic
  CHANGELOG.md
  x/stake/keeper/validator.go
Labels: ready-for-review, staking

#1654 Quick Fix for non deterministic cli test failures
  cmd/gaia/cli_test/cli_test.go
Labels: CI, bug, cli, fixed, tests

#1659 crypto/keys: Allow one to export their private key
  CHANGELOG.md
  crypto/keys/keybase.go
  crypto/keys/types.go
Labels: ready-for-review

#1660 R4R: Redelegation doesn't subtract from liquid
  CHANGELOG.md
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
Labels: ready-for-review, staking

#1599 Implementation of TraceKVStore
  CHANGELOG.md
  baseapp/baseapp.go
  client/lcd/test_helpers.go
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/clients/node.md
  examples/basecoin/cmd/basecoind/main.go
  examples/democoin/cmd/democoind/main.go
  server/constructors.go
  server/export.go
  server/mock/store.go
  server/start.go
  store/cachekvstore.go
  store/cachemultistore.go
  store/dbstoreadapter.go
  store/gaskvstore.go
  store/iavlstore.go
  store/prefixstore.go
  store/rootmultistore.go
  store/tracekvstore.go
  store/tracekvstore_test.go
  store/types.go
  types/store.go
Labels: proposal, tests

#1533 Pruning cleanup
  CHANGELOG.md
  baseapp/options.go
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiadebug/hack.go
  examples/basecoin/app/app.go
  examples/basecoin/cmd/basecoind/main.go
  server/mock/store.go
  server/start.go
  store/iavlstore.go
  store/iavlstore_test.go
  store/rootmultistore.go
  types/store.go
Labels: cli, ready-for-review, tests

#1648 R4R: Write moniker on 'gaiad init' and 'gaiad init gen-tx'
  CHANGELOG.md
  server/init.go
Labels: ready-for-review

#1669 PR Template Admin Section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, ready-for-review

#1667 R4R: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, ready-for-review

#1668 Add Issue Templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: docs, ready-for-review

#1129 WIP: Update gov spec
  docs/spec/governance/state.md
  docs/spec/governance/transactions.md
Labels: wip

#1644 R4R remove global shares
  .circleci/config.yml
  CHANGELOG.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/cli_test/cli_test.go
  docs/spec/staking/state.md
  store/tracekvstore_test.go
  types/rational.go
  types/stake.go
  x/gov/test_common.go
  x/slashing/app_test.go
  x/slashing/keeper_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/client/rest/query.go
  x/stake/genesis.go
  x/stake/genesis_test.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/inflation.go
  x/stake/keeper/inflation_test.go
  x/stake/keeper/keeper_test.go
  x/stake/keeper/key.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/slash.go
  x/stake/keeper/slash_test.go
  x/stake/keeper/test_common.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/stake.go
  x/stake/types/inflation_test.go
  x/stake/types/pool.go
  x/stake/types/pool_test.go
  x/stake/types/shares.go
  x/stake/types/shares_test.go
  x/stake/types/test_utils.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: ready-for-review, staking

#1265 Global Paramstore
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiadebug/hack.go
  x/params/keeper.go
  x/params/keeper_test.go
  x/params/msg_status.go
  x/slashing/app_test.go
  x/slashing/handler_test.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/params.go
  x/slashing/signing_info_test.go
  x/slashing/test_common.go
  x/slashing/tick_test.go
Labels: ready-for-review

#1674 Fix Cross Compile Build/Ledger Build Tag
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  Makefile
  crypto/keys/keybase.go
  crypto/ledger.go
  crypto/ledger_common.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
Labels: prelaunch, ready-for-review

#1687 tools: Ensure Gopkg.lock is correct in linting
  Gopkg.lock
  Gopkg.toml
  Makefile
  crypto/ledger_secp256k1.go
  x/gov/client/cli/tx.go
Labels: ready-for-review

#1691 types: Switch table driven test error messages to new format
  types/coin_test.go
  types/rational.go
  types/rational_test.go
  types/utils_test.go
Labels: non-breaking, ready-for-review

#1697 Ready-for-review: Proposal Query filter by status
  CHANGELOG.md
  Gopkg.lock
  client/lcd/lcd_test.go
  x/gov/client/rest/rest.go
  x/slashing/params.go
  x/slashing/test_common.go
  x/stake/types/msg.go
Labels: governance, ready-for-review

#1705 baseapp: Allow alphanumerics in routes
  CHANGELOG.md
  baseapp/baseapp_test.go
  baseapp/router.go
Labels: non-breaking, ready-for-review

#1732 tools: add make {get, update, check}_dev_tools
  .circleci/config.yml
  CONTRIBUTING.md
  Makefile
  tools/Makefile
Labels: non-breaking, ready-for-review

#1731 tools: remove `rm -rf vendor/` from `make get_vendor_deps`
  CHANGELOG.md
  Makefile
Labels: non-breaking, ready-for-review

#1724 R4R: Add Stake Genesis Intra-Tx Counter
  CHANGELOG.md
  x/stake/genesis.go
  x/stake/genesis_test.go
  x/stake/types/validator.go
Labels: breaking, ready-for-review, staking

#1746 R4R: Remove ctx.IsCheckTx
  CHANGELOG.md
  PENDING.md
  baseapp/baseapp.go
  examples/democoin/x/cool/handler.go
  examples/democoin/x/pow/handler.go
  types/context.go
  x/mock/test_utils.go
  x/slashing/app_test.go
  x/slashing/handler.go
Labels: non-breaking, ready-for-review

#1698 Merge pull request #1554: Implementation - cosmos-sdk-cli
  Makefile
  PENDING.md
  cmd/cosmos-sdk-cli/cmd/init.go
  cmd/cosmos-sdk-cli/cmd/root.go
  cmd/cosmos-sdk-cli/main.go
  docs/sdk/cosmos-sdk-cli.md
Labels: non-breaking, ready-for-review

#1373 Initialization of POS chain
  PENDING.md
  baseapp/baseapp.go
  client/lcd/lcd_test.go
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiadebug/hack.go
  server/init.go
  x/gov/test_common.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/genesis.go
  x/stake/genesis_test.go
  x/stake/keeper/test_common.go
Labels: ready-for-review

#1748 R4R: CLI use --from consistently
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  docs/sdk/clients.md
  docs/sdk/gaiacli.md
  x/gov/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/stake/client/cli/tx.go
Labels: breaking, cli, ready-for-review

#1617 LCD and API Specification / Documentation
  docs/light/api.md
  docs/light/getting_started.md
  docs/light/load_balancer.md
  docs/light/pics/C2H.png
  docs/light/pics/H2C.png
  docs/light/pics/MA.png
  docs/light/pics/absence1.png
  docs/light/pics/absence2.png
  docs/light/pics/absence3.png
  docs/light/pics/architecture.png
  docs/light/pics/changeProcess.png
  docs/light/pics/commitValidation.png
  docs/light/pics/create-account.png
  docs/light/pics/deposit.png
  docs/light/pics/existProof.png
  docs/light/pics/high-level.png
  docs/light/pics/light-client-architecture.png
  docs/light/pics/loadbalanceDiagram.png
  docs/light/pics/simpleMerkleTree.png
  docs/light/pics/substoreProof.png
  docs/light/pics/transfer-tokens.png
  docs/light/pics/transfer.png
  docs/light/pics/trustPropagate.png
  docs/light/pics/updateValidatorToHeight.png
  docs/light/pics/validatorSetChange.png
  docs/light/pics/withdraw.png
  docs/light/readme.md
  docs/light/specification.md
  docs/light/todo.md
Labels: ready-for-review

#1620 R4R: Simulation framework, including staking simulation
  .circleci/config.yml
  Makefile
  PENDING.md
  cmd/gaia/app/sim_test.go
  examples/democoin/mock/validator.go
  tools/Makefile
  types/coin.go
  types/stake.go
  x/bank/app_test.go
  x/bank/simulation/invariants.go
  x/bank/simulation/msgs.go
  x/bank/simulation/sim_test.go
  x/bank/test_helpers.go
  x/mock/app.go
  x/mock/random_simulate_blocks.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/types.go
  x/mock/simulation/util.go
  x/mock/test_utils.go
  x/stake/keeper/delegation.go
  x/stake/simulation/invariants.go
  x/stake/simulation/msgs.go
  x/stake/simulation/sim_test.go
  x/stake/types/errors.go
  x/stake/types/test_utils.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: breaking, ready-for-review

#1770 ready-for-review: gov cli proposalID to proposal-id
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  x/gov/client/cli/tx.go
Labels: governance, ready-for-review

#1778 R4R: Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready-for-review

#1782 tools: Re-add get_tools to makefile
  Makefile
Labels: non-breaking, ready-for-review

#1764 Table-Driven Bank Module Unit Tests
  PENDING.md
  x/bank/app_test.go
Labels: non-breaking, ready-for-review, tests

#1781 R4R: Gov tags cleanup
  PENDING.md
  x/gov/handler.go
  x/gov/tags/tags.go
  x/stake/tags/tags.go
Labels: breaking, governance, ready-for-review

#1078 REVIEW: App Tutorial for Academy
  Gopkg.lock
  Makefile
  examples/democoin/app/app.go
  examples/simpleGov/README.md
  examples/simpleGov/app/app.go
  examples/simpleGov/app/app_test.go
  examples/simpleGov/cmd/simplegovcli/main.go
  examples/simpleGov/cmd/simplegovd/main.go
  examples/simpleGov/types/account.go
  examples/simpleGov/types/errors.go
  examples/simpleGov/x/simple_governance/client/cli/simple_governance.go
  examples/simpleGov/x/simple_governance/client/rest/simple_governance.go
  examples/simpleGov/x/simple_governance/errors.go
  examples/simpleGov/x/simple_governance/handler.go
  examples/simpleGov/x/simple_governance/handler_test.go
  examples/simpleGov/x/simple_governance/keeper.go
  examples/simpleGov/x/simple_governance/keeper_keys.go
  examples/simpleGov/x/simple_governance/keeper_test.go
  examples/simpleGov/x/simple_governance/test_common.go
  examples/simpleGov/x/simple_governance/tutorial.md
  examples/simpleGov/x/simple_governance/types.go
  examples/simpleGov/x/simple_governance/types_test.go
  examples/simpleGov/x/simple_governance/wire.go
  examples/simpleGov/x/simplestake/client/cli/commands.go
  examples/simpleGov/x/simplestake/errors.go
  examples/simpleGov/x/simplestake/handler.go
  examples/simpleGov/x/simplestake/keeper.go
  examples/simpleGov/x/simplestake/keeper_test.go
  examples/simpleGov/x/simplestake/msgs.go
  examples/simpleGov/x/simplestake/msgs_test.go
  examples/simpleGov/x/simplestake/types.go
  examples/simpleGov/x/simplestake/wire.go
Labels: wip

#1663 BaseApp cleanup
  PENDING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/sdk/core/app1.md
  docs/sdk/core/app2.md
  docs/sdk/core/app3.md
  docs/sdk/core/examples/app1.go
  docs/sdk/core/examples/app2.go
  docs/sdk/core/examples/app3.go
  docs/sdk/core/examples/app4.go
  examples/basecoin/app/app.go
  examples/democoin/app/app.go
  examples/kvstore/main.go
  server/mock/app.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/stdtx.go
  x/mock/app.go
Labels: API, ready-for-review

#1796 R4R: Contributing Guidelines advocate early discussion b4 coding
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: docs, non-breaking, ready-for-review

#1751 R4R: remove rationals in endblock
  PENDING.md
  cmd/gaia/app/app.go
  x/slashing/tick.go
  x/stake/handler.go
  x/stake/types/inflation_test.go
  x/stake/types/pool.go
Labels: breaking, ready-for-review, staking

#1682 Docs example app tests
  PENDING.md
  docs/sdk/core/app1.md
  docs/sdk/core/app2.md
  docs/sdk/core/examples/app2.go
  docs/sdk/core/examples/app2_test.go
  docs/sdk/core/examples/app3.go
  docs/sdk/core/examples/app4.go
  docs/sdk/core/examples/app4_test.go
Labels: docs, non-breaking, ready-for-review

#1801 Fixed governance bug with iterate delegations
  Gopkg.lock
  PENDING.md
  x/gov/tally.go
  x/gov/tally_test.go
Labels: ready-for-review

#1805 R4R: Downtime slashing off-by-one-block fix
  PENDING.md
  examples/democoin/mock/validator.go
  types/stake.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/stake/keeper/sdk_types.go
Labels: ready-for-review

#1818 R4R: CLI keybase-sig -> identity
  PENDING.md
  cmd/gaia/testnets/README.md
  docs/validators/validator-setup.md
  x/stake/client/cli/flags.go
Labels: breaking, docs, ready-for-review, staking

#1798 Update to tendermint v0.22.6-rc0
  Gopkg.lock
  Gopkg.toml
  PENDING.md
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  cmd/gaia/cmd/gaiadebug/main.go
  crypto/amino.go
  crypto/encode_test.go
  crypto/keys/hd/fundraiser_test.go
  crypto/keys/hd/hdpath.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/mintkey.go
  crypto/keys/wire.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
  docs/sdk/core/examples/app2.go
  examples/basecoin/app/app_test.go
  examples/democoin/app/app_test.go
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/pow/app_test.go
  examples/democoin/x/simplestake/client/cli/commands.go
  examples/democoin/x/simplestake/keeper_test.go
  examples/democoin/x/simplestake/msgs_test.go
  types/account.go
  wire/wire.go
  x/auth/account_test.go
  x/auth/ante_test.go
  x/auth/stdtx_test.go
  x/bank/app_test.go
  x/gov/tally_test.go
  x/ibc/app_test.go
  x/ibc/ibc_test.go
  x/mock/app.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/keeper/test_common.go
  x/stake/types/test_utils.go
Labels: non-breaking, ready-for-review

#1836 docs: Fix build errors on latest tendermint
  docs/sdk/core/examples/app2.go
  docs/sdk/core/examples/app2_test.go
  docs/sdk/core/examples/app3.go
  docs/sdk/core/examples/app4_test.go
  x/gov/tally_test.go
Labels: ready-for-review

#1835 gov/tests: Cleanup test file
  x/gov/tally_test.go
Labels: non-breaking, ready-for-review

#1800 Fix gaiad export
  PENDING.md
  baseapp/baseapp.go
  cmd/gaia/app/app_test.go
Labels: bug, ready-for-review

#1823 tests: Move cli tests behind a build flag
  Makefile
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/doc.go
Labels: non-breaking, ready-for-review

#1827 ready-for-review: fixed donotmodify bug
  x/stake/client/cli/flags.go
  x/stake/client/cli/tx.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: ready-for-review

#1824 WIP fix gen-tx
  PENDING.md
  server/init.go
Labels: wip

#1803 Add a Release Process for SDK
  .github/PULL_REQUEST_TEMPLATE.md
  docs/RELEASE_PROCESS.md
Labels: ready-for-review

#1841 Must specify amount flag
  PENDING.md
  x/stake/client/cli/flags.go
  x/stake/client/cli/tx.go
Labels: cli, ready-for-review

#1853 Fix genesis bond intra-tx counter bug
  PENDING.md
  x/stake/genesis.go
  x/stake/genesis_test.go
Labels: breaking, ready-for-review

#1842 simulation: Use transition matrices for simulating validator liveness
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/transition_matrix.go
  x/mock/simulation/types.go
  x/mock/simulation/util.go
Labels: ready-for-review

#1863 link to the new doc website in the readme!
  README.md
Labels: non-breaking, ready-for-review

#1873 CI: Reduce log output
  .circleci/config.yml
Labels: non-breaking, ready-for-review

#1862 x/stake: Speed up handleMsgEditValidator
  PENDING.md
  x/stake/handler.go
  x/stake/keeper/validator.go
Labels: non-breaking, performance, ready-for-review

#1859 R4R: Add slashing to governance for non-voting validators
  PENDING.md
  cmd/gaia/app/app.go
  x/gov/endblocker_test.go
  x/gov/handler.go
  x/gov/test_common.go
Labels: ready-for-review

#1845 R4R: Query-proposals CLI command
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  x/gov/client/cli/tx.go
Labels: ready-for-review

#1811 NewCoin takes sdk.Int
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  examples/democoin/x/cool/handler.go
  examples/democoin/x/pow/keeper.go
  examples/democoin/x/simplestake/keeper.go
  examples/democoin/x/simplestake/keeper_test.go
  examples/democoin/x/simplestake/msgs_test.go
  types/coin.go
  types/coin_test.go
  x/auth/account_test.go
  x/auth/ante_test.go
  x/auth/feekeeper_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/keeper_test.go
  x/bank/msgs_test.go
  x/gov/endblocker_test.go
  x/gov/genesis.go
  x/gov/keeper_test.go
  x/gov/msgs_test.go
  x/gov/tally_test.go
  x/gov/test_common.go
  x/ibc/app_test.go
  x/ibc/ibc_test.go
  x/ibc/types_test.go
  x/mock/app.go
  x/mock/app_test.go
  x/slashing/app_test.go
  x/stake/app_test.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/slash_test.go
  x/stake/simulation/msgs.go
  x/stake/types/msg_test.go
Labels: ready-for-review
