Repository cosmos/cosmos-sdk, pull requests merged in 2018-10, with the labels that each got.

#2425 simulation: Make bank testing auth configurable
  PENDING.md
  cmd/gaia/app/sim_test.go
  x/bank/simulation/msgs.go
  x/bank/simulation/sim_test.go
Labels: non-breaking, ready-for-review

#2219 R4R: Update to Tendermint 0.24 (except NextValSet offsets)
  Gopkg.lock
  Gopkg.toml
  Makefile
  PENDING.md
  baseapp/baseapp.go
  client/config.go
  client/context/context.go
  client/context/query.go
  client/lcd/certificates.go
  client/lcd/test_helpers.go
  client/rpc/block.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/query.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/benchmarks/txsize_test.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  crypto/encode_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  examples/basecoin/app/app_test.go
  examples/democoin/app/app_test.go
  server/start.go
  store/cachekvstore_test.go
  store/firstlast.go
  store/iavlstore.go
  store/iavlstore_test.go
  tools/gometalinter.json
  types/address_test.go
  types/coin_test.go
  types/context.go
  types/context_test.go
  types/errors.go
  types/stake.go
  types/utils.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/types.go
  x/slashing/keeper.go
  x/slashing/tick.go
  x/slashing/tick_test.go
  x/stake/genesis.go
  x/stake/genesis_test.go
  x/stake/handler.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: breaking, game-of-stakes, ready-for-review, tendermint

#2394 R4R: Split up UpdateValidator into distinct state transitions applied only in EndBlock
  Gopkg.lock
  PENDING.md
  x/gov/tally_test.go
  x/mock/simulation/random_simulate_blocks.go
  x/slashing/handler_test.go
  x/slashing/keeper_test.go
  x/slashing/tick_test.go
  x/stake/genesis.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/_store.md
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/keeper.go
  x/stake/keeper/key.go
  x/stake/keeper/slash.go
  x/stake/keeper/slash_test.go
  x/stake/keeper/test_common.go
  x/stake/keeper/val_state_change.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/querier/queryable_test.go
  x/stake/stake.go
  x/stake/types/validator.go
Labels: game-of-stakes, ready-for-review, staking

#2429 R4R: LCD: Properly Init Proposing Validator in Tests
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
Labels: game-of-stakes, lcd, ready-for-review, tests

#2435 Staking store keys bug fix + memory improvement
  PENDING.md
  x/stake/keeper/key.go
  x/stake/keeper/key_test.go
Labels: breaking, ready-for-review

#2215 [R4R]: add swagger-ui for gaiacli lite-server
  .circleci/config.yml
  .gitignore
  Gopkg.lock
  Gopkg.toml
  Makefile
  PENDING.md
  client/context/broadcast.go
  client/context/context.go
  client/flags.go
  client/lcd/lcd_test.go
  client/lcd/root.go
  client/lcd/statik/init.go
  client/lcd/swagger-ui/favicon-16x16.png
  client/lcd/swagger-ui/favicon-32x32.png
  client/lcd/swagger-ui/index.html
  client/lcd/swagger-ui/oauth2-redirect.html
  client/lcd/swagger-ui/swagger-ui-bundle.js
  client/lcd/swagger-ui/swagger-ui-bundle.js.map
  client/lcd/swagger-ui/swagger-ui-standalone-preset.js
  client/lcd/swagger-ui/swagger-ui-standalone-preset.js.map
  client/lcd/swagger-ui/swagger-ui.css
  client/lcd/swagger-ui/swagger-ui.css.map
  client/lcd/swagger-ui/swagger-ui.js
  client/lcd/swagger-ui/swagger-ui.js.map
  client/lcd/swagger-ui/swagger.yaml
  client/rpc/block.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/broadcast.go
  client/tx/query.go
  client/tx/root.go
  client/tx/search.go
  client/utils/rest.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/DOCS_README.md
  docs/clients/lcd-rest-api.yaml
  docs/light/readme.md
  examples/basecoin/cmd/basecli/main.go
  tools/Makefile
  tools/gometalinter.json
  x/auth/client/cli/account.go
  x/auth/client/cli/sign.go
  x/auth/client/rest/query.go
  x/auth/client/rest/sign.go
  x/bank/client/rest/broadcast.go
  x/bank/client/rest/sendtx.go
Labels: API, breaking, lite, ready-for-review

#2440 R4R: Fix CircleCI
  .circleci/config.yml
Labels: CI, game-of-stakes, ready-for-review

#2442 R4R: Support removal of accounts in account mapper
  PENDING.md
  x/auth/mapper.go
  x/auth/mapper_test.go
Labels: core, non-breaking, ready-for-review

#2437 R4R: Distr-PR-4 Distribution Types
  PENDING.md
  x/distribution/types/codec.go
  x/distribution/types/dec_coin.go
  x/distribution/types/dec_coin_test.go
  x/distribution/types/delegator_info.go
  x/distribution/types/delegator_info_test.go
  x/distribution/types/errors.go
  x/distribution/types/fee_pool.go
  x/distribution/types/fee_pool_test.go
  x/distribution/types/genesis.go
  x/distribution/types/keepers.go
  x/distribution/types/msg.go
  x/distribution/types/msg_test.go
  x/distribution/types/test_utils.go
  x/distribution/types/validator_info.go
  x/distribution/types/validator_info_test.go
Labels: distribution, ready-for-review

#2438 R4R: Add tests for more staking key operations as requested
  x/stake/keeper/key.go
  x/stake/keeper/key_test.go
Labels: non-breaking, ready-for-review

#2430 R4R: Aggressive slashing simulation & fixes
  PENDING.md
  scripts/multisim.sh
  x/mock/simulation/constants.go
  x/slashing/keeper.go
  x/slashing/keys.go
  x/slashing/slashing_period.go
Labels: game-of-stakes, ready-for-review, slashing

#2405 R4R: Unbonding and Redelegations Queue
  PENDING.md
  cmd/gaia/app/sim_test.go
  docs/spec/staking/end_block.md
  docs/spec/staking/transactions.md
  types/context.go
  types/store.go
  x/slashing/handler_test.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/tx.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/key.go
  x/stake/keeper/test_common.go
  x/stake/simulation/msgs.go
  x/stake/simulation/sim_test.go
  x/stake/stake.go
  x/stake/tags/tags.go
  x/stake/types/codec.go
  x/stake/types/delegation.go
  x/stake/types/msg.go
  x/stake/types/msg_test.go
Labels: ready-for-review, staking

#2255 R4R: Offset validator set power calculations by one block
  .circleci/config.yml
  Makefile
  PENDING.md
  client/keys/add.go
  client/keys/errors.go
  client/keys/utils.go
  client/rpc/validators.go
  scripts/multisim.sh
  x/distribution/types/validator_info.go
  x/mock/simulation/constants.go
  x/mock/simulation/random_simulate_blocks.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/keys.go
  x/slashing/slashing_period.go
  x/stake/genesis.go
  x/stake/keeper/slash_test.go
  x/stake/types/params.go
Labels: game-of-stakes, ready-for-review, slashing, tendermint

#2452 R4R: Fix LCD Validator Initialization
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/test_utils.go
Labels: game-of-stakes, lcd, ready-for-review, tests

#2460 R4R: Fix simulation proposer
  x/mock/simulation/random_simulate_blocks.go
Labels: game-of-stakes, ready-for-review, tests

#2461 Fix IBC paper link
  docs/spec/ibc/README.md
  tools/gometalinter.json
Labels: docs, ready-for-review

#2248 R4R: Fix PrefixIterator
  store/prefixstore.go
  store/prefixstore_test.go
Labels: ready-for-review

#2464 Lock binary dependencies to a specific commits / versions
  .circleci/config.yml
  Makefile
  PENDING.md
  client/lcd/certificates.go
  scripts/get_tools.sh
  tools/Makefile
  tools/gometalinter.json
  x/distribution/types/validator_info.go
Labels: non-breaking, ready-for-review

#2232 R4R: Paramstore Refactor Base
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/app/test_utils.go
  cmd/gaia/cmd/gaiadebug/hack.go
  store/gaskvstore_test.go
  store/prefixstore.go
  store/prefixstore_test.go
  types/context.go
  types/gas.go
  x/gov/keeper.go
  x/gov/simulation/sim_test.go
  x/gov/test_common.go
  x/params/doc.go
  x/params/keeper.go
  x/params/keeper_test.go
  x/params/msg_status.go
  x/params/subspace.go
  x/params/subspace/doc.go
  x/params/subspace/pair.go
  x/params/subspace/subspace.go
  x/params/subspace/table.go
  x/params/subspace/test_common.go
  x/slashing/app_test.go
  x/slashing/genesis.go
  x/slashing/handler_test.go
  x/slashing/hooks_test.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/params.go
  x/slashing/signing_info_test.go
  x/slashing/slashing_period_test.go
  x/slashing/test_common.go
  x/slashing/tick_test.go
  x/stake/app_test.go
  x/stake/client/cli/query.go
  x/stake/keeper/delegation.go
  x/stake/keeper/keeper.go
  x/stake/keeper/key.go
  x/stake/keeper/params.go
  x/stake/keeper/test_common.go
  x/stake/keeper/validator.go
  x/stake/simulation/sim_test.go
  x/stake/stake.go
  x/stake/types/params.go
Labels: ready-for-review

#2451 R4R: implement validator queue
  PENDING.md
  docs/spec/staking/end_block.md
  types/context.go
  types/context_test.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/key.go
  x/stake/keeper/slash.go
  x/stake/keeper/val_state_change.go
  x/stake/keeper/validator.go
  x/stake/types/validator.go
Labels: ready-for-review, staking

#2488 R4R: Add Query Proposal's deposits endpoint
  PENDING.md
  client/lcd/lcd_test.go
  x/gov/client/rest/rest.go
  x/gov/queryable.go
Labels: API, governance, lite, ready-for-review

#2491 R4R: Paramstore Followup
  PENDING.md
  docs/spec/params/README.md
  docs/spec/params/keeper.md
  docs/spec/params/subspace.md
  store/prefixstore_test.go
  x/params/doc.go
  x/params/keeper_test.go
  x/params/subspace/subspace.go
  x/params/subspace/table.go
  x/params/subspace/table_test.go
Labels: ready-for-review

#2500 R4R: Block conflicting redelegations
  PENDING.md
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/types/errors.go
Labels: game-of-stakes, ready-for-review, staking

#2236 R4R: Distr-PR-5 Implement Distribution
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/app/test_utils.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/spec/distribution/end_block.md
  docs/spec/distribution/hooks.md
  docs/spec/distribution/overview.md
  docs/spec/distribution/state.md
  docs/spec/distribution/transactions.md
  examples/democoin/mock/validator.go
  types/context.go
  types/decimal.go
  types/int.go
  types/stake.go
  x/auth/ante.go
  x/auth/feekeeper.go
  x/distribution/abci_app.go
  x/distribution/alias.go
  x/distribution/client/cli/tx.go
  x/distribution/genesis.go
  x/distribution/handler.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/key.go
  x/distribution/keeper/test_common.go
  x/distribution/keeper/validator.go
  x/distribution/keeper/validator_test.go
  x/distribution/tags/tags.go
  x/distribution/types/delegator_info.go
  x/distribution/types/delegator_info_test.go
  x/distribution/types/genesis.go
  x/distribution/types/test_common.go
  x/mock/simulation/random_simulate_blocks.go
  x/slashing/handler_test.go
  x/slashing/keeper_test.go
  x/slashing/test_common.go
  x/slashing/tick.go
  x/slashing/tick_test.go
  x/stake/app_test.go
  x/stake/genesis.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/slash_test.go
  x/stake/keeper/test_common.go
  x/stake/keeper/validator_test.go
  x/stake/simulation/msgs.go
  x/stake/stake.go
  x/stake/test_common.go
Labels: distribution, ready-for-review

#2480 R4R: Fix signing info handling bugs & faulty slashing
  PENDING.md
  client/lcd/certificates.go
  client/lcd/lcd_test.go
  docs/spec/slashing/begin-block.md
  docs/spec/slashing/hooks.md
  docs/spec/slashing/state.md
  docs/spec/slashing/transactions.md
  x/distribution/keeper/key.go
  x/distribution/types/validator_info.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/hooks.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/keys.go
  x/slashing/signing_info.go
  x/slashing/signing_info_test.go
  x/slashing/test_common.go
  x/slashing/tick_test.go
  x/stake/handler_test.go
Labels: game-of-stakes, ready-for-review, slashing, staking

#2458 R4R: Move linear to store
  store/list.go
  store/list_test.go
  store/queue.go
  store/queue_test.go
  types/lib/linear.go
  types/lib/linear_test.go
Labels: ready-for-review

#2508 R4R: Fix validator power key
  PENDING.md
  x/stake/keeper/key.go
  x/stake/keeper/key_test.go
Labels: game-of-stakes, ready-for-review, staking

#2519 R4R: Fixed naming for proposal id and time
  x/gov/msgs.go
  x/gov/proposals.go
Labels: ready-for-review

#2090 R4R: Improve crypto/keys and add `keys mnemonic` and `keys new` commands
  Gopkg.lock
  Gopkg.toml
  client/input.go
  client/keys/mnemonic.go
  client/keys/new.go
  client/keys/root.go
  client/lcd/lcd_test.go
  crypto/keys/bcrypt/base64.go
  crypto/keys/bcrypt/bcrypt.go
  crypto/keys/bip39/wordcodec.go
  crypto/keys/bip39/wordcodec_test.go
  crypto/keys/hd/fundraiser_test.go
  crypto/keys/hd/hdpath.go
  crypto/keys/hd/hdpath_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/types.go
Labels: keys, ux, wip

#2514 R4R: Refactor validator deletion
  PENDING.md
  docs/spec/staking/end_block.md
  docs/spec/staking/transactions.md
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/slash.go
  x/stake/keeper/validator.go
Labels: ready-for-review, staking

#2444 R4R: Standardize REST error responses
  PENDING.md
  client/context/broadcast.go
  client/context/query.go
  client/keys/add.go
  client/keys/update.go
  client/lcd/version.go
  client/tx/query.go
  client/tx/search.go
  client/utils/rest.go
  types/errors.go
  types/errors_test.go
  x/auth/client/rest/query.go
  x/gov/client/rest/rest.go
  x/gov/errors.go
  x/gov/queryable.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/tx.go
  x/stake/client/rest/query.go
  x/stake/client/rest/tx.go
  x/stake/querier/queryable.go
Labels: lcd, lite, ready-for-review, refactor

#2524 R4R: Replace GenTx with StdTx
  Gopkg.lock
  Gopkg.toml
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  client/utils/utils.go
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/app/test_utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/init/gentx.go
  cmd/gaia/init/init.go
  cmd/gaia/init/init_test.go
  cmd/gaia/init/testnet.go
  docs/getting-started/join-testnet.md
  examples/basecoin/app/app.go
  examples/basecoin/cli_test/cli_test.go
  examples/basecoin/cmd/basecli/main.go
  examples/basecoin/cmd/basecoind/main.go
  examples/democoin/app/app.go
  examples/democoin/cli_test/cli_test.go
  examples/democoin/cmd/democli/main.go
  examples/democoin/cmd/democoind/main.go
  server/config/config.go
  server/init.go
  server/mock/app.go
  server/test_helpers.go
  tests/gobash.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/client/cli/sign.go
  x/bank/app_test.go
  x/distribution/keeper/hooks.go
  x/mock/simulation/random_simulate_blocks.go
  x/stake/app_test.go
  x/stake/client/cli/flags.go
  x/stake/client/cli/tx.go
Labels: ready-for-review

#2527 R4R: Minting
  PENDING.md
  client/lcd/lcd_test.go
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cli_test/cli_test.go
  docs/spec/distribution/end_block.md
  docs/spec/mint/begin_block.md
  docs/spec/mint/state.md
  docs/spec/staking/state.md
  x/auth/ante.go
  x/auth/feekeeper.go
  x/auth/feekeeper_test.go
  x/distribution/abci_app.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/validator_test.go
  x/mint/abci_app.go
  x/mint/expected_keepers.go
  x/mint/genesis.go
  x/mint/keeper.go
  x/mint/minter.go
  x/mint/minter_test.go
  x/mint/params.go
  x/stake/genesis.go
  x/stake/genesis_test.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/params.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/test_common.go
  x/stake/simulation/msgs.go
  x/stake/stake.go
  x/stake/types/inflation_test.go
  x/stake/types/params.go
  x/stake/types/pool.go
  x/stake/types/validator_test.go
Labels: game-of-stakes, minting, ready-for-review

#2537 R4R: Staking REST utils refactor and querier tests (pt 1 redelegation PR)
  CHANGELOG.md
  PENDING.md
  docs/DOCS_README.md
  x/stake/client/rest/query.go
  x/stake/client/rest/tx.go
  x/stake/client/rest/utils.go
  x/stake/querier/queryable_test.go
  x/stake/types/delegation.go
Labels: ready-for-review, refactor, tests

#2548 R4R: Mark --to and --amount flags required for gaiacli tx send
  PENDING.md
  x/bank/client/cli/sendtx.go
Labels: ready-for-review

#2545 R4R: Rename AccountMapper to AccountKeeper
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/sdk/core/app3.md
  docs/sdk/core/examples/app3.go
  docs/sdk/core/examples/app4.go
  docs/sdk/overview.md
  docs/sdk/sdk-by-examples/simple-governance/bridging-it-all.md
  examples/basecoin/app/app.go
  examples/basecoin/app/app_test.go
  examples/basecoin/types/account.go
  examples/democoin/app/app.go
  examples/democoin/app/app_test.go
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/cool/keeper.go
  examples/democoin/x/cool/keeper_test.go
  examples/democoin/x/pow/app_test.go
  examples/democoin/x/pow/handler_test.go
  examples/democoin/x/pow/keeper_test.go
  examples/democoin/x/simplestake/keeper_test.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/context.go
  x/auth/mapper.go
  x/auth/mapper_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/keeper.go
  x/bank/keeper_test.go
  x/bank/simulation/invariants.go
  x/bank/simulation/msgs.go
  x/bank/simulation/sim_test.go
  x/distribution/keeper/test_common.go
  x/gov/keeper.go
  x/gov/simulation/sim_test.go
  x/gov/test_common.go
  x/ibc/app_test.go
  x/ibc/ibc_test.go
  x/mock/app.go
  x/mock/app_test.go
  x/mock/test_utils.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/keeper/test_common.go
  x/stake/simulation/invariants.go
  x/stake/simulation/msgs.go
  x/stake/simulation/sim_test.go
Labels: ready-for-review

#2542 R4R: validator outgoing redelegations and unbonding delegations
  PENDING.md
  client/lcd/lcd_test.go
  x/stake/client/rest/query.go
  x/stake/client/rest/utils.go
  x/stake/querier/queryable.go
  x/stake/querier/queryable_test.go
Labels: API, lite, ready-for-review

#2543 R4R: Split GET delegator endpoint
  PENDING.md
  client/lcd/lcd_test.go
  x/stake/client/rest/query.go
  x/stake/querier/queryable.go
  x/stake/querier/queryable_test.go
  x/stake/stake.go
  x/stake/types/delegation.go
Labels: API, breaking, lite, ready-for-review

#2570 R4R: Cmds for query deposits
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
Labels: cli, governance, ready-for-review

#2555 R4R: Don't acquire lock on read-only keybase
  Gopkg.lock
  PENDING.md
  client/keys/add.go
  client/keys/delete.go
  client/keys/update.go
  client/keys/utils.go
  client/keys/utils_test.go
  client/lcd/test_helpers.go
  crypto/keys/keybase.go
  crypto/keys/types.go
  server/init.go
Labels: ready-for-review

#2501 R4R: Simulate transactions for fee distribution, simulate inflation, and fix a multitude of bugs discovered in the process of doing so
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/sim_test.go
  docs/spec/staking/hooks.md
  types/decimal.go
  types/stake.go
  x/auth/simulation/fake.go
  x/distribution/alias.go
  x/distribution/handler.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/test_common.go
  x/distribution/keeper/validator.go
  x/distribution/simulation/msgs.go
  x/distribution/types/dec_coin.go
  x/distribution/types/delegator_info.go
  x/distribution/types/delegator_info_test.go
  x/distribution/types/errors.go
  x/distribution/types/fee_pool.go
  x/distribution/types/fee_pool_test.go
  x/distribution/types/keepers.go
  x/distribution/types/validator_info.go
  x/distribution/types/validator_info_test.go
  x/gov/tally.go
  x/mint/abci_app.go
  x/mint/expected_keepers.go
  x/mint/genesis.go
  x/mint/minter.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/util.go
  x/slashing/hooks.go
  x/slashing/hooks_test.go
  x/slashing/keeper.go
  x/slashing/slashing_period.go
  x/stake/genesis.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/hooks.go
  x/stake/keeper/keeper.go
  x/stake/keeper/key.go
  x/stake/keeper/key_test.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/slash.go
  x/stake/keeper/test_common.go
  x/stake/keeper/val_state_change.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/simulation/invariants.go
  x/stake/simulation/sim_test.go
  x/stake/stake.go
  x/stake/types/delegation.go
  x/stake/types/validator.go
Labels: game-of-stakes, ready-for-review, staking, tests

#2593 R4R: Fix DB Write Permissions for `gaia keys new`
  client/keys/new.go
Labels: cli, keys, ready-for-review

#2597 R4R: distribution accum invariants
  PENDING.md
  cmd/gaia/app/sim_test.go
  x/bank/simulation/invariants.go
  x/distribution/alias.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/test_common.go
  x/distribution/keeper/validator.go
  x/distribution/simulation/invariants.go
  x/distribution/types/delegator_info.go
  x/distribution/types/delegator_info_test.go
  x/distribution/types/fee_pool.go
  x/distribution/types/fee_pool_test.go
  x/distribution/types/total_accum.go
  x/distribution/types/total_accum_test.go
  x/distribution/types/validator_info.go
  x/distribution/types/validator_info_test.go
  x/gov/simulation/invariants.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/types.go
  x/mock/simulation/util.go
  x/slashing/simulation/invariants.go
  x/stake/simulation/invariants.go
Labels: distribution, ready-for-review, tests

#2569 R4R: Cmds for validator unbondings and redelegations
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/sdk/clients.md
  examples/basecoin/cmd/basecli/main.go
  x/stake/client/cli/query.go
Labels: ready-for-review

#2616 R4R: Block redelegations to the same validator
  PENDING.md
  x/stake/keeper/delegation.go
  x/stake/keeper/delegation_test.go
  x/stake/types/errors.go
Labels: bug, ready-for-review, staking

#2641 fix block offsets in printing simulation block number
  x/mock/simulation/util.go
Labels: non-breaking, ready-for-review

#2644 simulation: Print last block when there is an error
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/util.go
Labels: non-breaking, ready-for-review

#2642 R4R: Add list recommended diagrams
  docs/PRIORITIES.md
  docs/resources/diagrams/todo.md
Labels: non-breaking, ready-for-review

#2558 R4R: Various sign command improvements
  PENDING.md
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  docs/sdk/clients.md
  x/auth/client/cli/sign.go
Labels: ready-for-review

#2622 Make simulation use a transition matrix for block size
  PENDING.md
  client/lcd/certificates.go
  x/mock/simulation/constants.go
  x/mock/simulation/random_simulate_blocks.go
Labels: non-breaking, ready-for-review

#2614 R4R: Configurable Bech32 prefix for SDK users
  PENDING.md
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiadebug/main.go
  examples/democoin/cmd/democli/main.go
  examples/democoin/cmd/democoind/main.go
  types/address.go
  types/address_test.go
  types/config.go
Labels: core, non-breaking, ready-for-review
