Repository cosmos/cosmos-sdk, pull requests merged in 2018-06, with the labels that each got.

#1105 Fix minor slashing issues
  cmd/gaia/cmd/gaiacli/main.go
  x/slashing/client/cli/flags.go
  x/slashing/client/cli/query.go
  x/slashing/client/cli/tx.go
  x/slashing/signing_info.go
  x/slashing/signing_info_test.go
Labels: blocked

#1153 WIP: Writing more provision tests in tick_test.go (updated for refractor)
  x/stake/inflation.go
  x/stake/inflation_test.go
  x/stake/keeper_test.go
  x/stake/test_common.go
  x/stake/validator_test.go
Labels: staking

#1208 Testnet command and make localnet target
  .gitignore
  CHANGELOG.md
  Makefile
  cmd/gaia/app/genesis.go
  docker-compose.yml
  networks/local/Makefile
  networks/local/README.md
  networks/local/gaiadnode/Dockerfile
  networks/local/gaiadnode/wrapper.sh
  server/config/config.go
  server/init.go
  server/init_test.go
  server/mock/app.go
  server/testnet.go
  server/util.go
Labels: ready-for-review

#1218 sdk.Int in sdk.Coin
  .circleci/config.yml
  CHANGELOG.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/cli_test/cli_test.go
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/cool/handler.go
  examples/democoin/x/pow/app_test.go
  examples/democoin/x/pow/keeper.go
  examples/democoin/x/simplestake/keeper.go
  examples/democoin/x/simplestake/keeper_test.go
  examples/democoin/x/simplestake/msgs_test.go
  types/coin.go
  types/coin_test.go
  types/int.go
  types/int_test.go
  types/rational.go
  x/auth/account_test.go
  x/auth/ante_test.go
  x/auth/feekeeper_test.go
  x/auth/mock/auth_app_test.go
  x/auth/mock/simulate_block.go
  x/bank/app_test.go
  x/bank/keeper_test.go
  x/bank/msgs_test.go
  x/ibc/app_test.go
  x/ibc/ibc_test.go
  x/ibc/types_test.go
  x/slashing/app_test.go
  x/slashing/keeper_test.go
  x/slashing/test_common.go
  x/slashing/tick_test.go
  x/stake/app_test.go
  x/stake/handler_test.go
  x/stake/inflation.go
  x/stake/inflation_test.go
  x/stake/keeper.go
  x/stake/keeper_test.go
  x/stake/msg.go
  x/stake/msg_test.go
  x/stake/pool.go
  x/stake/pool_test.go
  x/stake/test_common.go
  x/stake/validator.go
  x/stake/validator_test.go
  x/stake/view_slash_keeper_test.go
Labels: ready-for-review

#1281 Don't run defers if it would result in an NPE
  .circleci/config.yml
  CHANGELOG.md
  client/lcd/lcd_test.go
  server/start_test.go
  server/test_helpers.go
Labels: ready-for-review

#1263 spec updates
  docs/spec/README.md
  docs/spec/WIP_slashing/valset-changes.md
  docs/spec/auth/state.md
  docs/spec/auth/transactions.md
  docs/spec/bank/state.md
  docs/spec/bank/transactions.md
  docs/spec/provisioning/fee_distribution_model.xlsx
  docs/spec/provisioning/overview.md
  docs/spec/provisioning/state.md
  docs/spec/slashing/end_block.md
  docs/spec/slashing/state.md
  docs/spec/slashing/transactions.md
  docs/spec/staking/state.md
  docs/spec/store/README.md
Labels: ready-for-review

#1262 WIP: Documentation
  docs/guides/guide.md
  types/store.go
Labels: wip

#1291 Delete unused tests
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  tests/tests.go
  tests/util.go
Labels: ready-for-review

#1310 Fix x/bank REST handler
  CHANGELOG.md
  client/lcd/lcd_test.go
  x/bank/client/rest/sendtx.go
Labels: ready-for-review

#1280 Implement simple transaction memos
  CHANGELOG.md
  baseapp/baseapp_test.go
  client/context/helpers.go
  client/context/types.go
  client/context/viper.go
  client/flags.go
  cmd/gaia/cli_test/cli_test.go
  examples/kvstore/tx.go
  server/mock/tx.go
  types/errors.go
  types/tx_msg.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/mock/simulate_block.go
  x/auth/stdtx.go
  x/auth/stdtx_test.go
Labels: ready-for-review

#1316 Update testnet validator instructions
  cmd/gaia/testnets/README.md
Labels: ready-for-review

#1325 Refactor Complete Setup to not take in a testing parameter
  CHANGELOG.md
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/pow/app_test.go
  x/auth/mock/app.go
  x/auth/mock/auth_app_test.go
  x/bank/app_test.go
  x/ibc/app_test.go
  x/slashing/app_test.go
  x/stake/app_test.go
Labels: ready-for-review

#1328 testnet readme: how to edit validator description
  cmd/gaia/testnets/README.md
Labels: docs, ux

#1317 Added tx hash to query output in LCD
  CHANGELOG.md
  client/lcd/lcd_test.go
  client/tx/query.go
Labels: ready-for-review

#1254 Add prefixstore and lib refactor
  server/mock/store.go
  store/cachekvstore.go
  store/dbstoreadapter.go
  store/gaskvstore.go
  store/iavlstore.go
  store/prefixstore.go
  store/prefixstore_test.go
  types/lib/linear.go
  types/lib/linear_test.go
  types/lib/mapper.go
  types/lib/mapper_test.go
  types/store.go
Labels: ready-for-review

#1168 Governance MVP
  .gitignore
  CHANGELOG.md
  client/lcd/lcd_test.go
  client/lcd/root.go
  cmd/gaia/app/app.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/spec/governance/state.md
  docs/spec/governance/transactions.md
  types/stake.go
  x/auth/mock/app.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/rest.go
  x/gov/client/rest/util.go
  x/gov/depositsvotes.go
  x/gov/endblocker_test.go
  x/gov/errors.go
  x/gov/genesis.go
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/keeper_keys.go
  x/gov/keeper_test.go
  x/gov/msgs.go
  x/gov/msgs_test.go
  x/gov/procedures.go
  x/gov/proposals.go
  x/gov/tally.go
  x/gov/tally_test.go
  x/gov/test_common.go
  x/gov/wire.go
  x/stake/keeper.go
  x/stake/validator.go
Labels: ready-for-review

#1337 tools: Fix makefile install scripts
  CHANGELOG.md
  Makefile
  tools/Makefile
Labels: ready-for-review

#1069 Oracle Module
  CHANGELOG.md
  examples/democoin/mock/validator.go
  examples/democoin/x/assoc/validator_set.go
  examples/democoin/x/assoc/validator_set_test.go
  examples/democoin/x/oracle/README.md
  examples/democoin/x/oracle/errors.go
  examples/democoin/x/oracle/handler.go
  examples/democoin/x/oracle/keeper.go
  examples/democoin/x/oracle/keeper_keys.go
  examples/democoin/x/oracle/oracle_test.go
  examples/democoin/x/oracle/types.go
  store/prefixstore.go
Labels: ready-for-review

#1332 benchmarks: Add benchmark for block time to bank module
  CHANGELOG.md
  baseapp/baseapp_test.go
  x/auth/mock/auth_app_test.go
  x/auth/mock/simulate_block.go
  x/bank/app_test.go
  x/bank/bench_test.go
Labels: ready-for-review

#1367 Set ChainID on InitChain
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  examples/basecoin/app/app_test.go
  examples/democoin/app/app_test.go
Labels: ready-for-review

#1357 RESTful governance endpoints
  .circleci/config.yml
  CHANGELOG.md
  client/lcd/lcd_test.go
  x/gov/client/rest/rest.go
  x/gov/depositsvotes.go
  x/gov/keeper.go
Labels: ready-for-review

#1421 tools: Add go vet as a linter
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  client/tx/broadcast.go
  client/tx/sign.go
  examples/basecoin/app/app_test.go
  examples/democoin/x/oracle/oracle_test.go
  x/stake/types/delegation.go
Labels: ready-for-review

#1424 tools: add unconvert linter
  CHANGELOG.md
  Makefile
  client/context/helpers.go
  client/lcd/version.go
  tests/util.go
  tools/Makefile
  types/coin.go
  x/ibc/mapper.go
  x/slashing/tick.go
Labels: ready-for-review

#1429 tools: Add ineffassign linter
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  client/lcd/lcd_test.go
  examples/democoin/app/app_test.go
  examples/democoin/cmd/democoind/main.go
  examples/democoin/x/simplestake/keeper_test.go
  store/iavlstore_test.go
  tools/Makefile
  x/stake/client/cli/tx.go
  x/stake/keeper/delegation.go
  x/stake/keeper/inflation_test.go
  x/stake/keeper/validator_test.go
Labels: ready-for-review

#1412 Add async flag and functionality to gaiacli send
  CHANGELOG.md
  client/context/helpers.go
  client/context/viper.go
  x/bank/client/cli/sendtx.go
Labels: ready-for-review

#1371 gaiadebug: support bech32
  cmd/gaia/cmd/gaiadebug/main.go
Labels: ready-for-review

#1438 Tools: Add errcheck linter
  CHANGELOG.md
  Makefile
  baseapp/baseapp.go
  baseapp/helpers.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  examples/basecoin/cmd/basecli/main.go
  examples/basecoin/cmd/basecoind/main.go
  examples/democoin/cmd/democli/main.go
  examples/democoin/cmd/democoind/main.go
  examples/kvstore/main.go
  server/init.go
  server/mock/helpers.go
  server/start.go
  server/test_helpers.go
  server/testnet.go
  server/util.go
  store/iavlstore.go
  store/rootmultistore.go
  tests/util.go
  tools/Makefile
  types/lib/linear.go
  x/auth/ante.go
  x/auth/mapper.go
  x/auth/mock/app.go
  x/bank/keeper.go
  x/gov/genesis.go
  x/slashing/test_common.go
  x/stake/keeper/delegation.go
  x/stake/keeper/test_common.go
Labels: ready-for-review

#1444 Repair link of QuickStart->Documentation which was broken by #1289
  README.md
Labels: ready-for-review

#1376 docs via example apps
  docs/README.md
  docs/_attic/basecoin/basics.rst
  docs/_attic/basecoin/extensions.rst
  docs/_attic/glossary.rst
  docs/_attic/ibc.rst
  docs/_attic/keys.md
  docs/_attic/replay-protection.rst
  docs/_attic/staking/intro.rst
  docs/_attic/staking/key-management.rst
  docs/_attic/staking/local-testnet.rst
  docs/_attic/staking/overview.md
  docs/_attic/staking/public-testnet.rst
  docs/_attic/staking/stakingSpec1.md
  docs/_attic/staking/stakingSpec2.md
  docs/_attic/staking/testnet.md
  docs/clients/cli.md
  docs/clients/key-management.md
  docs/clients/keys.md
  docs/clients/node.md
  docs/clients/rest.md
  docs/core/accounts.md
  docs/core/amino.md
  docs/core/app1.md
  docs/core/app2.md
  docs/core/app3.md
  docs/core/app4.md
  docs/core/app5.md
  docs/core/baseapp.md
  docs/core/examples/app1.go
  docs/core/examples/app2.go
  docs/core/examples/app3.go
  docs/core/examples/app4.go
  docs/core/handlers.md
  docs/core/intro.md
  docs/core/keepers.md
  docs/core/messages.md
  docs/core/multistore.md
  docs/core/transactions.md
  docs/modules/README.md
  types/handler.go
  types/tx_msg.go
Labels: docs, wip

#1449 crypto/keys: make bcrypt security param a var
  client/lcd/lcd_test.go
  crypto/keys/mintkey.go
Labels: ready-for-review

#1455 tools: Add make format
  CHANGELOG.md
  Makefile
Labels: ready-for-review

#1451 crypto/keys: move checksum size into constants
  crypto/encode_test.go
  crypto/keys/bip39/wordcodec.go
Labels: ready-for-review

#1452 docs: Explain the expected return type within the store
  x/stake/keeper/key.go
Labels: ready-for-review

#1463 docs: Fix dependencies, from monorepo merge
  docs/core/app1.md
  docs/core/app4.md
  docs/core/examples/app2.go
  docs/spec/slashing/end_block.md
  examples/README.md
Labels: ready-for-review

#1415 x/stake: Limit the size of rationals from user input
  CHANGELOG.md
  types/int.go
  types/rational.go
  types/rational_test.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/tx.go
  x/stake/types/errors.go
  x/stake/types/msg.go
Labels: ready-for-review

#1443 tools: Add unparam linter
  CHANGELOG.md
  Makefile
  client/lcd/root.go
  client/lcd/test_helpers.go
  client/lcd/version.go
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/cmd/gaiadebug/hack.go
  examples/basecoin/app/app.go
  examples/democoin/app/app.go
  examples/democoin/x/simplestake/errors.go
  examples/democoin/x/simplestake/handler.go
  server/init.go
  server/mock/store.go
  server/mock/store_test.go
  store/iavlstore.go
  tools/Makefile
  x/auth/mock/simulate_block.go
  x/gov/client/rest/rest.go
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/tally.go
  x/ibc/client/cli/relay.go
  x/ibc/errors.go
  x/slashing/app_test.go
  x/stake/client/rest/query.go
  x/stake/keeper/test_common.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/types/test_common.go
  x/stake/types/validator.go
Labels: ready-for-review

#1477 gaiacli: Make recovery allow new keys
  client/keys/add.go
  crypto/keys/keybase.go
  crypto/keys/types.go
Labels: ready-for-review

#1422 Add Contributing Guidelines
  CHANGELOG.md
  CONTRIBUTING.md
Labels: docs, ready-for-review

#1278 Slashing v2
  .circleci/config.yml
  CHANGELOG.md
  Gopkg.lock
  client/lcd/lcd_test.go
  client/lcd/root.go
  docs/spec/slashing/end_block.md
  examples/democoin/mock/validator.go
  types/stake.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
  x/slashing/handler.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/params.go
  x/slashing/tick.go
  x/slashing/tick_test.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/slash.go
  x/stake/keeper/slash_test.go
  x/stake/types/delegation.go
  x/stake/types/validator.go
Labels: ready-for-review
