Repository cosmos/cosmos-sdk, pull requests merged in 2018-09, with the labels that each got.

#2200 Improve GetValidator speed
  PENDING.md
  x/stake/keeper/validator.go
Labels: non-breaking, performance, ready-for-review

#2214 simulation: display db size at end of simulation, add makefile entries
  Makefile
  PENDING.md
  cmd/gaia/app/sim_test.go
Labels: non-breaking, ready-for-review

#2187 simulation: Add benchmarking
  Makefile
  PENDING.md
  cmd/gaia/app/sim_test.go
  x/bank/simulation/msgs.go
  x/gov/simulation/msgs.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/types.go
  x/slashing/simulation/msgs.go
  x/stake/keeper/validator.go
  x/stake/simulation/msgs.go
Labels: non-breaking, ready-for-review

#2230 baseapp: Remove baseapp.SetTxDecoder()
  PENDING.md
  baseapp/setters.go
Labels: non-breaking, ready-for-review

#2228 tools: Remove gocyclo
  PENDING.md
  tools/Makefile
  tools/gometalinter.json
Labels: non-breaking, ready-for-review

#2227 simulation: Minor changes
  Makefile
  cmd/gaia/app/sim_test.go
  x/mock/simulation/random_simulate_blocks.go
Labels: non-breaking, ready-for-review

#2165 R4R: Implement generate-only option for commands that create txs
  PENDING.md
  client/context/context.go
  client/flags.go
  client/lcd/lcd_test.go
  client/utils/rest.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  crypto/keys/keybase.go
  docs/sdk/clients.md
  x/auth/stdtx.go
  x/bank/client/cli/sendtx.go
  x/bank/client/rest/sendtx.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/util.go
  x/gov/msgs.go
  x/ibc/client/cli/ibctx.go
  x/ibc/client/rest/transfer.go
  x/ibc/types.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/tx.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/tx.go
Labels: cli, non-breaking, prelaunch, ready-for-review, ux

#2237 R4R: move WIP-lamborghini-distribution
  docs/_attic/WIP-lamborghini-distribution/README.md
  docs/_attic/WIP-lamborghini-distribution/end_block.md
  docs/_attic/WIP-lamborghini-distribution/example_sheet/distribution.xlsx
  docs/_attic/WIP-lamborghini-distribution/future_improvements.md
  docs/_attic/WIP-lamborghini-distribution/overview.md
  docs/_attic/WIP-lamborghini-distribution/state.md
  docs/_attic/WIP-lamborghini-distribution/transactions.md
  docs/_attic/WIP-lamborghini-distribution/triggers.md
Labels: ready-for-review, spec, staking

#1952 Update IAVL dependency for v0.10.0
  Gopkg.lock
  Gopkg.toml
  PENDING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  client/context/query.go
  cmd/cosmos-sdk-cli/cmd/init.go
  examples/democoin/x/assoc/validator_set.go
  server/init.go
  server/start.go
  store/iavlstore.go
  store/iavlstore_test.go
  store/multistoreproof_test.go
  store/prefixstore_test.go
  store/tracekvstore.go
  store/tracekvstore_test.go
  tests/gobash.go
  types/account.go
  types/context.go
  types/errors.go
  x/auth/client/cli/account.go
  x/gov/depositsvotes.go
  x/gov/keeper.go
  x/gov/proposals.go
  x/gov/queryable.go
  x/gov/simulation/msgs.go
  x/ibc/client/cli/relay.go
  x/mock/app.go
  x/mock/simulation/random_simulate_blocks.go
  x/params/keeper.go
  x/params/msg_status.go
  x/slashing/client/rest/query.go
  x/slashing/handler_test.go
  x/slashing/keeper_test.go
  x/slashing/tick_test.go
  x/stake/client/rest/utils.go
  x/stake/handler_test.go
  x/stake/keeper/key.go
  x/stake/keeper/slash.go
  x/stake/keeper/validator.go
  x/stake/simulation/invariants.go
  x/stake/simulation/msgs.go
  x/stake/types/delegation_test.go
Labels: ready-for-review

#2246 add script to make changelog links actual links
  PENDING.md
  scripts/linkify_changelog.py
Labels: non-breaking, ready-for-review

#2252 R4R: Suggest opening pending PR back to develop
  docs/RELEASE_PROCESS.md
Labels: ready-for-review

#2217 R4R: Governance BFT Time
  PENDING.md
  docs/spec/governance/state.md
  x/gov/endblocker_test.go
  x/gov/genesis.go
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/keeper_test.go
  x/gov/procedures.go
  x/gov/proposals.go
Labels: governance, ready-for-review

#2216 R4R: Implement command/REST endpoint for offline signing #1953
  PENDING.md
  client/input.go
  client/lcd/lcd_test.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/light/api.md
  docs/sdk/clients.md
  x/auth/client/cli/sign.go
  x/auth/client/context/context.go
  x/auth/client/rest/query.go
  x/auth/client/rest/sign.go
Labels: cli, lcd, prelaunch, ready-for-review, ux

#2245 R4R (minor) move types/account.go -> address
  types/address.go
  types/address_test.go
Labels: ready-for-review

#2226 simulation: Make governance simulation use future operations to schedule votes
  cmd/gaia/app/sim_test.go
  x/gov/simulation/msgs.go
  x/gov/simulation/sim_test.go
Labels: non-breaking, ready-for-review

#2273 Rename coinKeeper -> bankKeeper
  cmd/gaia/app/app.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/sdk/core/app3.md
  docs/sdk/core/examples/app3.go
  docs/sdk/core/examples/app4.go
  docs/sdk/sdk-by-examples/simple-governance/app-constructor.md
  docs/sdk/sdk-by-examples/simple-governance/app-structure.md
  examples/basecoin/app/app.go
  examples/democoin/app/app.go
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/pow/app_test.go
  examples/democoin/x/simplestake/keeper.go
  examples/democoin/x/simplestake/keeper_test.go
  x/bank/bench_test.go
  x/bank/keeper_test.go
  x/bank/simulation/sim_test.go
  x/distribution/keeper.go
  x/gov/simulation/msgs.go
  x/gov/simulation/sim_test.go
  x/ibc/app_test.go
  x/slashing/app_test.go
  x/stake/app_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/keeper.go
  x/stake/simulation/sim_test.go
Labels: non-breaking, ready-for-review

#2266 R4R: Fix CLI commands JSON output
  PENDING.md
  client/context/query.go
  cmd/gaia/cli_test/cli_test.go
Labels: bug, cli, ready-for-review

#2251 R4R: Refactor Bech32 Prefixes and Nomenclature of Validator Pubkey and Operator
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/_attic/WIP-lamborghini-distribution/transactions.md
  docs/clients/lcd-rest-api.yaml
  docs/sdk/clients.md
  docs/spec/other/bech32.md
  docs/spec/staking/state.md
  docs/validators/validator-faq.md
  docs/validators/validator-setup.md
  types/address.go
  types/stake.go
  x/gov/tally_test.go
  x/slashing/app_test.go
  x/slashing/keys.go
  x/slashing/msg.go
  x/slashing/msg_test.go
  x/slashing/signing_info.go
  x/slashing/slashing_period.go
  x/stake/app_test.go
  x/stake/client/rest/query.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/key.go
  x/stake/keeper/slash.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/types/errors.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: breaking, core, prelaunch, ready-for-review, staking, ux

#2276 make tx simulation no longer generate new privkeys
  x/auth/ante.go
Labels: non-breaking, ready-for-review

#2240 R4R: New broadcast command
  PENDING.md
  client/lcd/lcd_test.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/light/api.md
  docs/sdk/clients.md
  x/auth/client/rest/query.go
  x/bank/client/cli/broadcast.go
  x/bank/client/rest/broadcast.go
  x/bank/client/rest/sendtx.go
Labels: cli, prelaunch, ready-for-review

#2275 genesis: Ensure there are no duplicate accounts in genesis file
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
Labels: non-breaking, ready-for-review

#2301 R4R: Remove `BechValidator`
  client/lcd/lcd_test.go
  x/stake/client/rest/query.go
  x/stake/client/rest/utils.go
  x/stake/stake.go
  x/stake/types/validator.go
  x/stake/types/validator_test.go
Labels: ready-for-review, staking, ux

#2291 R4R: x/staking: standardize validator record not found error
  x/stake/keeper/validator.go
Labels: non-breaking, ready-for-review

#2292 R4R: x/staking: Use variable names in switch case
  x/stake/keeper/validator.go
Labels: non-breaking, ready-for-review

#2306 R4R: Change --gas=0 semantic and introduce --gas=simulate
  PENDING.md
  client/context/context.go
  client/flags.go
  client/lcd/lcd_test.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  docs/light/api.md
  docs/sdk/clients.md
  x/auth/client/txbuilder/txbuilder.go
  x/bank/client/rest/sendtx.go
  x/gov/client/rest/util.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/tx.go
  x/stake/client/rest/tx.go
Labels: cli, lcd, ready-for-review, ux

#2298 R4R: Ensure Tendermint Validator Update Invariants - Part II
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
Labels: bug, prelaunch, ready-for-review, staking

#2308 Remove ripemd160 entirely
  Gopkg.lock
  PENDING.md
  examples/README.md
  store/multistoreproof.go
  store/multistoreproof_test.go
  store/rootmultistore.go
Labels: breaking, ready-for-review

#2304 R4R: client/keys: remove excess code and uniform code style
  client/keys/show.go
Labels: cli, core, non-breaking, ready-for-review

#2238 R4R: Ensure Tendermint Validator Update Invariants
  PENDING.md
  docs/spec/staking/end_block.md
  x/gov/simulation/msgs.go
  x/mock/simulation/random_simulate_blocks.go
  x/stake/handler.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
Labels: bug, prelaunch, ready-for-review, staking

#2303 simulation: Add weighted operation
  Makefile
  PENDING.md
  cmd/gaia/app/sim_test.go
  x/bank/simulation/sim_test.go
  x/gov/simulation/sim_test.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/types.go
  x/stake/simulation/sim_test.go
Labels: non-breaking, ready-for-review

#2259 R4R: Minor changes on slashing logs and gov Querier
  x/gov/handler.go
  x/gov/queryable.go
  x/stake/keeper/slash.go
Labels: ready-for-review

#2310 R4R staking transient store for Tendermint Updates
  Makefile
  PENDING.md
  baseapp/baseapp.go
  cmd/gaia/app/app.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  examples/democoin/x/cool/app_test.go
  examples/democoin/x/pow/app_test.go
  x/bank/bench_test.go
  x/bank/simulation/sim_test.go
  x/gov/handler.go
  x/gov/simulation/sim_test.go
  x/gov/test_common.go
  x/ibc/app_test.go
  x/mock/app.go
  x/mock/app_test.go
  x/mock/simulation/random_simulate_blocks.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/handler.go
  x/stake/keeper/_store.md
  x/stake/keeper/keeper.go
  x/stake/keeper/key.go
  x/stake/keeper/test_common.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/simulation/sim_test.go
  x/stake/stake.go
Labels: ready-for-review, staking

#2330 R4R: RootMultiStore LoadVersion iterates over storesParams
  store/rootmultistore.go
Labels: ready-for-review

#2333 Copy ADR template from Tendermint
  docs/architecture/README.md
  docs/architecture/adr-template.md
Labels: non-breaking, ready-for-review

#2210 R4R: Judge if trust-node predefined before create certifier add verification for getBlock, queryTx and getValidators
  Gopkg.lock
  client/context/context.go
  client/context/errors.go
  client/context/query.go
  client/flags.go
  client/lcd/lcd_test.go
  client/lcd/root.go
  client/lcd/test_helpers.go
  client/rpc/block.go
  client/rpc/validators.go
  client/tx/query.go
  client/tx/search.go
  x/stake/client/rest/query.go
  x/stake/client/rest/utils.go
Labels: cli, lcd, ux, wip

#2337 Update revoked -> jailed in the docs, and in minor places within cmd.
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  cmd/gaia/testnets/STATUS.md
  docs/resources/whitepaper.md
  docs/spec/staking/transactions.md
Labels: non-breaking, ready-for-review

#2345 update doc.go for mock/simulation
  x/mock/doc.go
  x/mock/simulation/doc.go
Labels: non-breaking, ready-for-review

#2343 R4R: Add a name field to the message type
  PENDING.md
  baseapp/baseapp_test.go
  docs/sdk/core/examples/app1.go
  docs/sdk/core/examples/app2.go
  examples/democoin/x/cool/types.go
  examples/democoin/x/oracle/oracle_test.go
  examples/democoin/x/oracle/types.go
  examples/democoin/x/pow/types.go
  examples/democoin/x/simplestake/msgs.go
  examples/kvstore/tx.go
  server/mock/tx.go
  types/tx_msg.go
  x/bank/msgs.go
  x/gov/msgs.go
  x/ibc/types.go
  x/mock/app_test.go
  x/slashing/msg.go
  x/stake/types/msg.go
Labels: API, ready-for-review

#2299 R4R: simulation: reduce number of failed governance msgs
  x/gov/simulation/msgs.go
Labels: non-breaking, ready-for-review

#2348 R4R: Simulation Queued Time Operations
  PENDING.md
  x/gov/simulation/msgs.go
  x/mock/simulation/random_simulate_blocks.go
  x/mock/simulation/types.go
Labels: ready-for-review, tests

#2353 Added a couple of benchmarks
  store/cachekvstore_test.go
  x/auth/mapper_test.go
Labels: non-breaking, ready-for-review

#2318 R4R: Simplify version handling, rely on git describe
  .circleci/config.yml
  Makefile
  PENDING.md
  client/lcd/lcd_test.go
  version/command.go
  version/version.go
Labels: ready-for-review

#2355 R4R: Goverance BFT Time 2: Electric Boogaloo
  PENDING.md
  docs/spec/governance/state.md
  x/gov/endblocker_test.go
  x/gov/genesis.go
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/keeper_test.go
  x/gov/procedures.go
  x/gov/proposals.go
  x/gov/simulation/msgs.go
  x/mock/simulation/constants.go
Labels: governance, ready-for-review

#2366 baseapp: Automatically add action tags to messages
  PENDING.md
  baseapp/baseapp.go
Labels: breaking, ready-for-review

#2364 R4R: Implement HTTPS for the LCD REST server
  PENDING.md
  client/lcd/certificates.go
  client/lcd/certificates_test.go
  client/lcd/root.go
  docs/light/getting_started.md
Labels: prelaunch, ready-for-review

#1652 R4R: Service Provider doc
  docs/clients/service-providers.md
Labels: docs, lite, ready-for-review, will-close

#2375 Add an example for the size of a transaction
  cmd/gaia/app/benchmarks/txsize_test.go
Labels: non-breaking, ready-for-review

#2392 remove redundant sprintf calls, improve a doc comment, write test
  x/gov/keeper.go
  x/gov/proposals.go
  x/gov/proposals_test.go
  x/gov/queryable.go
Labels: non-breaking, ready-for-review

#2369 R4R: Distr-PR-1 Staking ConsPubKey -> ConsAddr index
  PENDING.md
  docs/spec/staking/state.md
  examples/democoin/mock/validator.go
  types/address.go
  types/stake.go
  x/distribution/keeper.go
  x/distribution/keeper_test.go
  x/distribution/movement.go
  x/distribution/types.go
  x/gov/handler.go
  x/gov/tally.go
  x/gov/tally_test.go
  x/slashing/genesis.go
  x/slashing/handler.go
  x/slashing/hooks.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/tick_test.go
  x/stake/client/cli/flags.go
  x/stake/genesis.go
  x/stake/handler.go
  x/stake/handler_test.go
  x/stake/keeper/delegation.go
  x/stake/keeper/keeper.go
  x/stake/keeper/key.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/slash.go
  x/stake/keeper/slash_test.go
  x/stake/keeper/validator.go
  x/stake/keeper/validator_test.go
  x/stake/simulation/invariants.go
  x/stake/stake.go
  x/stake/types/codec.go
  x/stake/types/delegation.go
  x/stake/types/validator.go
Labels: ready-for-review, slashing, staking

#2401 R4R: Remove Remnants of gocyclo
  client/keys/add.go
  tools/Makefile
  types/errors.go
  x/auth/ante.go
  x/bank/client/rest/sendtx.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/rest.go
  x/gov/keeper.go
  x/ibc/client/cli/relay.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/tx.go
  x/slashing/keeper.go
  x/stake/client/rest/query.go
  x/stake/client/rest/tx.go
  x/stake/keeper/slash.go
  x/stake/keeper/validator.go
  x/stake/types/inflation_test.go
Labels: core

#2072 R4R: Bank Denom Metadata Spec
  docs/spec/bank/WIP_keeper.md
  docs/spec/bank/state.md
Labels: ready-for-review, spec

#2395 R4R: removed governance slashing
  PENDING.md
  docs/spec/governance/state.md
  x/gov/endblocker_test.go
  x/gov/handler.go
  x/gov/queryable.go
  x/gov/tally.go
  x/gov/tally_test.go
Labels: ready-for-review

#2402 Skip LCD Test TestVersion When ENV Var is Missing
  client/lcd/lcd_test.go
Labels: lcd, tests

#2073 R4R: Allow --from to be a name or an address
  PENDING.md
  client/context/context.go
  client/context/query.go
  client/flags.go
  client/utils/utils.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/types.go
  types/address_test.go
  x/ibc/client/cli/relay.go
Labels: cli, ready-for-review, ux

#2408 decimal: Add a method to multiply a decimal by an Int.
  PENDING.md
  types/decimal.go
  types/decimal_test.go
  x/stake/keeper/slash.go
Labels: non-breaking, ready-for-review

#2386 types/coins: Add benchmarks for coins addition
  types/coin_test.go
Labels: non-breaking, ready-for-review

#2383 baseapp: Move query tests to their own file
  baseapp/baseapp_test.go
  baseapp/query_test.go
Labels: non-breaking, ready-for-review

#2382 baseapp: Move code from setters.go to options.go
  baseapp/options.go
  baseapp/setters.go
Labels: non-breaking, ready-for-review

#2391 R4R: LCD Cleanup and DRY Refactor
  client/context/broadcast.go
  client/context/query.go
  client/lcd/lcd_test.go
  client/tx/broadcast.go
  client/utils/rest.go
  client/utils/utils.go
  examples/democoin/x/cool/client/cli/tx.go
  examples/democoin/x/pow/client/cli/tx.go
  examples/democoin/x/simplestake/client/cli/commands.go
  x/bank/client/cli/broadcast.go
  x/bank/client/cli/sendtx.go
  x/bank/client/rest/sendtx.go
  x/bank/client/util.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/rest.go
  x/gov/client/rest/util.go
  x/ibc/client/cli/ibctx.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/tx.go
  x/stake/client/cli/tx.go
  x/stake/client/rest/tx.go
Labels: cli, core, lcd, lite, ready-for-review

#2377 auth: Move stdsignmsg to txbuilder, add tests
  PENDING.md
  x/auth/client/txbuilder/stdsignmsg.go
  x/auth/client/txbuilder/txbuilder.go
  x/auth/client/txbuilder/txbuilder_test.go
  x/auth/stdtx.go
  x/auth/stdtx_test.go
Labels: non-breaking, ready-for-review

#2390 R4R: CLI subcommands reorganization
  PENDING.md
  client/rpc/validators.go
  client/tx/sign.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/clients/ledger.md
  docs/clients/service-providers.md
  docs/sdk/clients.md
  docs/validators/validator-setup.md
  x/auth/client/cli/sign.go
  x/gov/client/cli/tx.go
Labels: ready-for-review

#2357 R4R: Refactor Iterator Gas Consumption
  PENDING.md
  store/gaskvstore.go
  store/gaskvstore_test.go
  types/gas.go
Labels: core, ready-for-review

#2313 R4R: Multi-seed parallel simulation
  Makefile
  PENDING.md
  scripts/multisim.sh
Labels: game-of-steaks, ready-for-review, tests

#2376 auth: Don't recalculate mempool fees for every msg signer, misc. cleanup
  CHANGELOG.md
  PENDING.md
  cmd/gaia/app/benchmarks/txsize_test.go
  docs/sdk/core/app3.md
  x/auth/account.go
  x/auth/ante.go
  x/auth/stdtx.go
  x/auth/stdtx_test.go
Labels: non-breaking, ready-for-review

#2413 Remove reflection from handlers
  docs/sdk/sdk-by-examples/simple-governance/module-handler.md
  examples/democoin/x/cool/handler.go
  examples/democoin/x/pow/handler.go
  x/bank/handler.go
  x/ibc/handler.go
Labels: non-breaking, ready-for-review

#2162 R4R: Add loose/bonded token supply invariants back to simulation
  PENDING.md
  x/stake/simulation/invariants.go
Labels: game-of-steaks, ready-for-review
