Repository cosmos/cosmos-sdk, pull requests merged in 2018-12, with the labels that each got.

#2928 R4R: Improve testnet docs
  README.md
  docs/.vuepress/config.js
  docs/README.md
  docs/gaia/README.md
  docs/gaia/deploy-testnet.md
  docs/gaia/installation.md
  docs/gaia/join-testnet.md
  docs/gaia/validators/validator-setup.md
Labels: will-merge

#2974 R4R: Cleanup home dirs when cli testcases exit with success
  cmd/gaia/cli_test/cli_test.go
Labels: ready-for-review

#2977 R4R: Don't serialize Account Number and Sequence Number in signatures
  PENDING.md
  cmd/gaia/app/benchmarks/txsize_test.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/client/txbuilder/txbuilder.go
  x/auth/stdtx.go
  x/bank/app_test.go
  x/mock/app.go
Labels: breaking, ready-for-review

#2938 R4R: Address gov cli ux issues and add additional input validation for better errors
  cmd/gaia/cli_test/cli_test.go
  docs/gaia/gaiacli.md
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/client/module_client.go
Labels: ready-for-review

#2972 R4R: Fix gaiacli config and make it non-interactive only
  Gopkg.lock
  Gopkg.toml
  PENDING.md
  client/config.go
  cmd/gaia/cli_test/cli_test.go
Labels: ready-for-review

#2994 R4R: change wrong password message
  PENDING.md
  crypto/keys/keyerror/errors.go
Labels: ready-for-review

#2950 R4R: AnteHandler Cleanup
  x/auth/ante.go
Labels: code-hygiene, core, ready-for-review

#2982 R4R: Inflation bug fixes
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/export.go
  cmd/gaia/app/invariants.go
  docs/spec/mint/begin_block.md
  docs/spec/mint/state.md
  x/distribution/alias.go
  x/distribution/types/dec_coin.go
  x/mint/abci_app.go
  x/mint/minter.go
  x/mint/minter_test.go
Labels: distribution, game-of-stakes, minting, ready-for-review

#2984 R4R: Removal of Mandatory Self-Delegation Reward
  PENDING.md
  cmd/gaia/app/app.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/validator.go
  x/stake/keeper/hooks.go
Labels: distribution, game-of-stakes, ready-for-review

#2964 R4R: x/auth module spec / code reconciliation
  PENDING.md
  docs/spec/auth/README.md
  docs/spec/auth/handlers.md
  docs/spec/auth/keepers.md
  docs/spec/auth/state.md
  docs/spec/auth/transactions.md
  docs/spec/auth/types.md
  x/auth/keeper.go
Labels: docs, prelaunch, ready-for-review, spec

#2995 R4R: Fully verify the signature in `gaiacli tx sign`
  PENDING.md
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  x/auth/client/cli/sign.go
Labels: cli, ready-for-review

#3005 R4R: Move x/auth keeper benchmarks to separate file
  x/auth/keeper_bench_test.go
  x/auth/keeper_test.go
Labels: code-hygiene, ready-for-review

#3010 R4R: Add Missing genesis checks in Gaia
  PENDING.md
  cmd/gaia/app/app_test.go
  cmd/gaia/app/genesis.go
  cmd/gaia/init/gentx.go
  x/distribution/alias.go
  x/distribution/types/fee_pool.go
  x/distribution/types/genesis.go
  x/gov/genesis.go
  x/slashing/genesis.go
Labels: genesis, ready-for-review

#3052 R4R: Update gas costs to more reasonable numbers for GoS
  PENDING.md
  scripts/multisim.sh
  store/gaskvstore.go
  store/gaskvstore_test.go
  types/gas.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/stdtx_test.go
  x/bank/keeper.go
Labels: game-of-stakes

#3053 R4R: Governance Quorum
  PENDING.md
  cmd/gaia/cmd/gaiareplay/main.go
  docs/spec/governance/overview.md
  docs/spec/governance/state.md
  x/gov/genesis.go
  x/gov/params.go
  x/gov/tally.go
  x/gov/tally_test.go
Labels: game-of-stakes, governance

#3063 R4R: Fix linter
  x/stake/keeper/test_common.go
Labels: ready-for-review

#3070 R4R: Check for gas overflow in tx validation
  PENDING.md
  x/auth/stdtx.go
  x/auth/stdtx_test.go
Labels: core, non-breaking, ready-for-review

#3072 R4R: Catch overflows in gas wanted
  PENDING.md
  baseapp/baseapp.go
  types/errors.go
  x/auth/stdtx.go
  x/auth/stdtx_test.go
Labels: ready-for-review

#2997 R4R: split POST delegations endpoint
  PENDING.md
  client/context/context.go
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/utils/rest.go
  client/utils/utils.go
  x/bank/client/rest/sendtx.go
  x/gov/client/rest/rest.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/tx.go
  x/stake/client/rest/tx.go
Labels: breaking, ready-for-review, will-merge

#3080 R4R: Run fewer blocks on CI multi-seed simulation
  .circleci/config.yml
Labels: ready-for-review, simulation, tests

#3021 R4R: Reintroduce collect-gentxs's --gentx-dir flag
  PENDING.md
  client/flags.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/init/collect.go
  cmd/gaia/init/gentx.go
  cmd/gaia/init/init.go
  cmd/gaia/init/testnet.go
  x/stake/client/cli/flags.go
Labels: genesis, ready-for-review

#2990 Update f1 spec:
  docs/spec/spec-proposals/f1-fee-distribution/f1_fee_distr.pdf
  docs/spec/spec-proposals/f1-fee-distribution/f1_fee_distr.tex
Labels: docs, ready-for-review

#3087 R4R: Fix gaia lite docs on REST server's SSL flags
  docs/clients/lite/getting_started.md
Labels: docs, ready-for-review

#3038 R4R: distribution REST endpoints swagger file
  client/lcd/swagger-ui/swagger.yaml
  x/distribution/types/delegation_info.go
  x/distribution/types/delegation_info_test.go
Labels: gaia-lite, ready-for-review

#3117 R4R: x/slashing Query Params
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/app/app.go
  cmd/gaia/cli_test/cli_test.go
  docs/gaia/gaiacli.md
  x/slashing/client/cli/query.go
  x/slashing/client/module_client.go
  x/slashing/client/rest/query.go
  x/slashing/params.go
  x/slashing/querier.go
  x/slashing/querier_test.go
Labels: API, CLI, breaking, ready-for-review, slashing

#3091 R4R: x/gov Get Vote(s)/Deposit(s) Updates
  PENDING.md
  client/lcd/lcd_test.go
  client/tx/search.go
  x/gov/client/cli/query.go
  x/gov/client/rest/rest.go
  x/gov/client/utils/query.go
  x/gov/handler.go
  x/gov/msgs.go
  x/gov/tags/tags.go
Labels: API, CLI, governance, ready-for-review, will-merge

#3138 R4R: Fix linter errors
  cmd/logjack/main.go
Labels: bug, ready-for-review

#3135 R4R: Expose necessary ante handler auxiliary functions
  x/auth/ante.go
  x/auth/ante_test.go
Labels: code-hygiene, core, non-breaking, ready-for-review, will-merge

#3148 R4R: Fix gaiad export
  PENDING.md
  client/lcd/test_helpers.go
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiareplay/main.go
Labels: CLI, ready-for-review, tooling

#3127 R4R: Don't fallback to any default values for chain id
  PENDING.md
  client/config.go
  client/flags.go
  cmd/gaia/cli_test/cli_test.go
  types/utils.go
  x/auth/client/txbuilder/txbuilder.go
Labels: breaking, bug, ready-for-review

#3092 R4R: Make coins denoms case insensitive
  PENDING.md
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/init/testnet.go
  docs/_attic/sdk/core/examples/app2_test.go
  docs/gaia/deploy-testnet.md
  types/coin.go
  types/coin_test.go
  types/context_test.go
  x/auth/ante_test.go
  x/gov/client/cli/tx.go
  x/stake/types/errors.go
  x/stake/types/params.go
Labels: breaking, ready-for-review

#3121 R4R: x/auth: fetch one account after another
  PENDING.md
  x/auth/ante.go
  x/auth/ante_test.go
Labels: ready-for-review, will-merge

#2559 R4R: Redelegation Querier
  Makefile
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  cmd/logjack/main.go
  x/stake/client/rest/query.go
  x/stake/client/rest/utils.go
  x/stake/keeper/delegation_test.go
  x/stake/keeper/query_utils.go
  x/stake/querier/querier.go
  x/stake/querier/querier_test.go
  x/stake/stake.go
Labels: gaia-lite, ready-for-review, staking, will-merge

#3163 R4R: Withdraw commission on self bond removal
  PENDING.md
  x/distribution/keeper/hooks.go
  x/distribution/keeper/validator.go
Labels: distribution, game-of-stakes, ready-for-review

#3167 [DOCS] Fix link to ABCI in SDK Application Architecture
  docs/intro/sdk-app-architecture.md
Labels: will-merge

#3149 R4R: DOCS: Improve SDK Intro
  docs/README.md
  docs/intro/README.md
  docs/intro/sdk-app-architecture.md
  docs/intro/sdk-design.md
Labels: docs

#3119 R4R: Move all store keys into constants
  PENDING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  client/context/context.go
  client/lcd/test_helpers.go
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/_attic/sdk/core/app1.md
  docs/_attic/sdk/core/app2.md
  docs/_attic/sdk/core/app3.md
  docs/_attic/sdk/core/examples/app1.go
  docs/_attic/sdk/core/examples/app2.go
  docs/_attic/sdk/core/examples/app3.go
  docs/_attic/sdk/core/examples/app4.go
  docs/_attic/sdk/sdk-by-examples/simple-governance/bridging-it-all.md
  docs/concepts/baseapp.md
  docs/examples/basecoin/app/app.go
  docs/examples/basecoin/cmd/basecli/main.go
  docs/examples/democoin/app/app.go
  docs/examples/democoin/cmd/democli/main.go
  docs/examples/democoin/x/simplestake/keeper.go
  docs/examples/democoin/x/simplestake/keeper_test.go
  docs/examples/kvstore/main.go
  server/mock/app.go
  x/auth/keeper.go
  x/bank/msgs.go
  x/distribution/alias.go
  x/distribution/keeper/test_common.go
  x/distribution/types/delegation_info_test.go
  x/distribution/types/keys.go
  x/distribution/types/msg.go
  x/distribution/types/validator_info_test.go
  x/gov/client/rest/rest.go
  x/gov/keeper.go
  x/gov/msgs.go
  x/gov/querier_test.go
  x/gov/test_common.go
  x/ibc/client/cli/relay.go
  x/mint/keeper.go
  x/mock/app.go
  x/params/keeper.go
  x/params/subspace/subspace.go
  x/params/subspace/test_common.go
  x/slashing/app_test.go
  x/slashing/client/rest/query.go
  x/slashing/keys.go
  x/slashing/msg.go
  x/slashing/querier.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/client/rest/query.go
  x/stake/keeper/test_common.go
  x/stake/stake.go
  x/stake/types/keys.go
  x/stake/types/msg.go
Labels: non-breaking, ready-for-review

#3085 R4R: Fix Makefile's all target
  .circleci/config.yml
  Dockerfile
  Makefile
  Vagrantfile
  docs/DOCS_README.md
  docs/examples/README.md
  docs/gaia/installation.md
  scripts/Makefile
  scripts/install/install_sdk_arm.sh
  scripts/install/install_sdk_bsd.sh
  scripts/install/install_sdk_ubuntu.sh
Labels: ready-for-review

#2998 R4R: Auth Module Param Store
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/export.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/examples/basecoin/app/app.go
  docs/examples/democoin/app/app.go
  docs/examples/democoin/x/cool/keeper_test.go
  docs/examples/democoin/x/pow/handler_test.go
  docs/examples/democoin/x/pow/keeper_test.go
  docs/examples/democoin/x/simplestake/keeper_test.go
  x/auth/account_test.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/context.go
  x/auth/context_test.go
  x/auth/feekeeper_test.go
  x/auth/genesis.go
  x/auth/keeper.go
  x/auth/keeper_bench_test.go
  x/auth/keeper_test.go
  x/auth/params.go
  x/auth/params_test.go
  x/auth/stdtx.go
  x/auth/stdtx_test.go
  x/auth/test_utils.go
  x/bank/keeper_test.go
  x/distribution/keeper/test_common.go
  x/gov/test_common.go
  x/ibc/ibc_test.go
  x/mock/app.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/stake/app_test.go
  x/stake/keeper/test_common.go
Labels: breaking, code-hygiene, core, ready-for-review, will-merge

#3170 R4R: change --gas=simulate to --gas=auto when sending txs
  PENDING.md
  client/flags.go
  client/lcd/lcd_test.go
  cmd/gaia/cli_test/cli_test.go
  docs/gaia/gaiacli.md
Labels: breaking, ready-for-review

#3172 R4R: Support min fees in a localnet and fix gaiad config
  PENDING.md
  baseapp/baseapp.go
  baseapp/options.go
  cmd/gaia/init/testnet.go
  server/config/toml.go
  server/util.go
Labels: breaking, core, ready-for-review, tests

#3185 fixed makefile target in macos build job
  .circleci/config.yml
Labels: CI

#3183 R4R: Export for zero height fixes
  PENDING.md
  cmd/gaia/app/export.go
Labels: bug, distribution, game-of-stakes, ready-for-review, staking

#3184 R4R: Implement Proposal Proposer client interfaces
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  docs/gaia/gaiacli.md
  x/gov/client/cli/query.go
  x/gov/client/module_client.go
  x/gov/client/rest/rest.go
  x/gov/client/utils/query.go
Labels: API, CLI, governance, ready-for-review, will-merge

#3154 R4R: s/steak/STAKE in validator-setup
  docs/gaia/validators/validator-setup.md
Labels: non-breaking, ready-for-review
