Repository cosmos/cosmos-sdk, pull requests merged in 2019-02, with the labels that each got.

#3464 R4R: Upgrade to go 1.11.5
  .circleci/config.yml
  README.md
  docs/gaia/installation.md
  scripts/install/install_sdk_arm.sh
  scripts/install/install_sdk_bsd.sh
  scripts/install/install_sdk_ubuntu.sh
Labels: ready-for-review

#3467 R4R: Allow Simulation and Gen Only in REST Client
  PENDING.md
  client/errors.go
  client/utils/rest.go
  client/utils/utils.go
  docs/gaia/gaiacli.md
  x/auth/client/txbuilder/txbuilder.go
  x/bank/client/rest/sendtx.go
  x/gov/client/rest/rest.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/tx.go
Labels: REST, gaia-lite, will-merge

#3475 R4R: Sanitize Dec.Roundint64
  PENDING.md
  x/auth/ante.go
  x/auth/client/txbuilder/txbuilder.go
  x/slashing/params.go
Labels: ready-for-review

#3485 R4R: Introduce RESTful error responses
  PENDING.md
  client/utils/rest.go
Labels: ready-for-review

#3487 R4R: client/utils/ reorganization
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  client/rest/rest.go
  client/rest/types.go
  client/rpc/block.go
  client/rpc/root.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/broadcast.go
  client/tx/query.go
  client/tx/search.go
  client/utils/utils.go
  x/auth/client/rest/query.go
  x/auth/client/rest/sign.go
  x/bank/client/rest/broadcast.go
  x/bank/client/rest/sendtx.go
  x/gov/client/rest/rest.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/query.go
  x/staking/client/rest/tx.go
  x/staking/client/rest/utils.go
Labels: ready-for-review

#3454 R4R: Add --jail-whitelist to gaiad export
  PENDING.md
  cmd/gaia/app/app_test.go
  cmd/gaia/app/export.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiad/main.go
  server/constructors.go
  server/export.go
Labels: ready-for-review

#3486 R4R: Checking Vesting Coins with AmountOf
  PENDING.md
  x/auth/account.go
  x/auth/account_test.go
Labels: ready-for-review, vesting

#3447 R4R: Consume Gas Proportional to Tx Size
  PENDING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/helpers.go
  client/flags.go
  client/lcd/lcd_test.go
  client/utils/utils.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cli_test/cli_test.go
  docs/spec/auth/gas_fees.md
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/genesis.go
  x/auth/params.go
  x/bank/app_test.go
  x/ibc/app_test.go
  x/mock/app.go
  x/mock/app_test.go
  x/mock/test_utils.go
  x/slashing/app_test.go
  x/staking/app_test.go
Labels: core, ready-for-review

#3438 R4R: SendMsg and MultiSendMsg seperation
  client/lcd/lcd_test.go
  cmd/gaia/app/benchmarks/txsize_test.go
  cmd/gaia/app/sim_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/client/cli/sendtx.go
  x/bank/client/rest/sendtx.go
  x/bank/client/util.go
  x/bank/codec.go
  x/bank/handler.go
  x/bank/msgs.go
  x/bank/msgs_test.go
  x/bank/simulation/msgs.go
Labels: breaking, prelaunch, ready-for-review

#3460 R4R: Implement fee distribution RESTful endpoints
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/rest/types.go
  cmd/gaia/cmd/gaiacli/main.go
  x/auth/client/rest/sign.go
  x/bank/client/rest/sendtx.go
  x/distribution/alias.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/distribution/client/common/common.go
  x/distribution/client/common/common_test.go
  x/distribution/client/common/pretty_params.go
  x/distribution/client/module_client.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
  x/distribution/keeper/querier.go
  x/gov/client/rest/rest.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/tx.go
Labels: ready-for-review

#2605 R4R: Paramstore Subkey
  PENDING.md
  docs/spec/params/keeper.md
  docs/spec/params/subspace.md
  x/auth/keeper.go
  x/auth/params.go
  x/bank/keeper.go
  x/bank/params.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/params.go
  x/gov/keeper.go
  x/mint/keeper.go
  x/params/doc.go
  x/params/keeper_test.go
  x/params/subspace.go
  x/params/subspace/paramset.go
  x/params/subspace/subspace.go
  x/params/subspace/table.go
  x/params/subspace/table_test.go
  x/params/subspace/test_common.go
  x/slashing/keeper.go
  x/slashing/params.go
  x/staking/keeper/keeper.go
  x/staking/keeper/params.go
  x/staking/types/params.go
Labels: ready-for-review

#3461 R4R: GaiaCLI - refactor/fix --account and --index
  client/input.go
  client/keys/add.go
  client/keys/delete.go
  client/keys/errors.go
  client/keys/mnemonic.go
  client/keys/types.go
  client/keys/utils.go
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  client/rest/types.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  crypto/keys/hd/hdpath.go
  crypto/keys/hd/hdpath_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/types.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
Labels: CLI, REST, prelaunch, ready-for-review

#3431 R4R: PrivKeyLedgerSecp256k1: lost connection
  Gopkg.lock
  Gopkg.toml
  Makefile
  PENDING.md
  crypto/ledger_integration_test.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
Labels: ledger, ready-for-review, wip

#3395 R4R: Store Refactor 2
  store/errors/errors.go
  store/gaskv/store_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: ready-for-review

#3505 R4R: Reconcile Genesis JSON Tags
  x/auth/params.go
  x/slashing/params.go
Labels: breaking, genesis

#3502 R4R: Fixing bug in genesis Equal
  PENDING.md
  x/gov/genesis.go
  x/gov/genesis_test.go
Labels: bug, genesis, ready-for-review

#3468 R4R: Increase BaseApp Test Coverage
  PENDING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/helpers.go
  baseapp/options.go
  baseapp/query.go
  baseapp/query_test.go
  baseapp/queryrouter.go
  baseapp/queryrouter_test.go
  baseapp/router.go
  baseapp/router_test.go
  baseapp/testdata/genesis.json
  baseapp/testdata/genesis2.json
  baseapp/testdata/genesis2b.json
  baseapp/testdata/genesis3.json
Labels: baseapp, ready-for-review

#3504 R4R: Fix validator address encoding in tm validator set command
  PENDING.md
  client/lcd/lcd_test.go
  client/rpc/validators.go
  cmd/gaia/cmd/gaiacli/main.go
Labels: CLI, ready-for-review

#3400 R4R: power reduction for Tendermint
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/init/gentx.go
  cmd/gaia/init/testnet.go
  types/decimal.go
  types/stake.go
  x/auth/ante.go
  x/auth/client/txbuilder/txbuilder.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/test_common.go
  x/gov/endblocker_test.go
  x/gov/genesis.go
  x/gov/keeper_test.go
  x/gov/msgs_test.go
  x/gov/proposals.go
  x/gov/simulation/msgs.go
  x/gov/tally.go
  x/gov/tally_test.go
  x/gov/test_common.go
  x/mint/params.go
  x/mock/app.go
  x/mock/test_utils.go
  x/slashing/app_test.go
  x/slashing/handler_test.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/slashing/params.go
  x/slashing/signing_info.go
  x/slashing/test_common.go
  x/slashing/tick_test.go
  x/staking/app_test.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/querier/querier_test.go
  x/staking/simulation/invariants.go
  x/staking/staking.go
  x/staking/test_common.go
  x/staking/types/commission.go
  x/staking/types/genesis.go
  x/staking/types/validator.go
Labels: ready-for-review, staking, will-merge

#3444 DOCS: Delegator guide CLI
  docs/gaia/delegator-guide-cli.md
  test2.json
Labels: docs

#3520 R4R: Minor CLI Output Updates
  client/utils/utils.go
  types/tags.go
Labels: CLI, ready-for-review

#3524 R4R: Show Mnemonic by Default
  PENDING.md
  client/keys/add.go
Labels: CLI, ux

#3527 R4R: Multiply initial simulation token amounts by 1e6
  cmd/gaia/app/sim_test.go
Labels: ready-for-review, simulation, staking

#3507 R4R: Results from x/staking & x/slashing peer review
  PENDING.md
  client/lcd/lcd_test.go
  cmd/gaia/app/app.go
  cmd/gaia/app/export.go
  docs/spec/staking/hooks.md
  docs/spec/staking/state.md
  types/int.go
  types/stake.go
  x/distribution/keeper/hooks.go
  x/slashing/client/module_client.go
  x/slashing/errors.go
  x/slashing/genesis.go
  x/slashing/handler.go
  x/slashing/hooks.go
  x/slashing/keeper.go
  x/slashing/keys.go
  x/slashing/params.go
  x/slashing/tick.go
  x/staking/client/module_client.go
  x/staking/genesis.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/_store.md
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/hooks.go
  x/staking/keeper/keeper.go
  x/staking/keeper/key.go
  x/staking/keeper/params.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/sdk_types.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/types/commission.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/errors.go
  x/staking/types/keys.go
  x/staking/types/msg.go
  x/staking/types/params.go
  x/staking/types/pool.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: ready-for-review, slashing, staking

#3526 R4R: BaseApp Peer Review
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/helpers.go
  baseapp/options.go
  cmd/gaia/app/app.go
  cmd/gaia/app/invariants.go
  types/result.go
Labels: ready-for-review

#3555 R4R: Reintroduce Fees OR Semantics
  PENDING.md
  cmd/gaia/cli_test/cli_test.go
  docs/gaia/gaiacli.md
  docs/spec/auth/gas_fees.md
  server/config/config.go
  server/config/toml.go
  server/start.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/int.go
  x/auth/ante.go
  x/auth/ante_test.go
Labels: breaking, core, ready-for-review

#3557 R4R: Removing pkg/errors when not necessary
  baseapp/baseapp.go
  client/context/broadcast.go
  client/context/errors.go
  client/context/query.go
  client/input.go
  client/keys/add.go
  client/keys/show.go
  cmd/gaia/init/validate_genesis.go
  crypto/keys/keybase.go
  server/export.go
  server/start.go
  server/util.go
  x/auth/client/txbuilder/txbuilder.go
  x/bank/client/cli/sendtx.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/rest.go
  x/gov/depositsvotes.go
  x/gov/proposals.go
  x/staking/client/cli/utils.go
Labels: code-hygiene, ready-for-review

#3546 R4R: Min Self Delegation
  PENDING.md
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/init/gentx.go
  cmd/gaia/init/testnet.go
  types/stake.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/querier_test.go
  x/gov/tally_test.go
  x/slashing/app_test.go
  x/slashing/errors.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/params.go
  x/slashing/test_common.go
  x/staking/app_test.go
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/simulation/msgs.go
  x/staking/staking.go
  x/staking/test_common.go
  x/staking/types/errors.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/validator.go
Labels: ready-for-review

#3517 R4R: Increasing test coverage - First Pass
  .circleci/config.yml
  Makefile
  PENDING.md
  baseapp/baseapp.go
  client/input.go
  client/keys/add.go
  client/keys/add_test.go
  client/keys/codec_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/keys/keys.db/LOCK
  client/keys/list.go
  client/keys/list_test.go
  client/keys/mnemonic.go
  client/keys/mnemonic_test.go
  client/keys/root.go
  client/keys/root_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/update.go
  client/keys/update_test.go
  client/keys/utils.go
  client/lcd/lcd_test.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/init/init_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/ledger_integration_test.go
  crypto/ledger_mock.go
  crypto/ledger_notavail.go
  crypto/ledger_real.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
  server/util.go
  store/iavl/store.go
  store/prefix/store_test.go
  store/rootmulti/proof.go
  tests/knownValues.go
  tests/test_cover.sh
  tests/util.go
  types/address.go
  types/address_test.go
  types/errors.go
  types/store_test.go
  x/gov/depositsvotes.go
  x/mock/app.go
  x/staking/keeper/delegation.go
  x/staking/keeper/test_common.go
  x/staking/simulation/msgs.go
Labels: code-hygiene, ready-for-review, tests

#3549 R4R: Support Vesting Accounts in `add-genesis-account`
  PENDING.md
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/init/genesis_accts.go
  cmd/gaia/init/genesis_accts_test.go
  cmd/gaia/init/init.go
Labels: CLI, ready-for-review

#3523 R4R: Add tx/encode endpoint and CLI command
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/cmd/gaiacli/main.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/encode.go
  x/auth/client/cli/multisign.go
  x/auth/client/cli/sign.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/query.go
  x/auth/client/util.go
  x/auth/client/util_test.go
  x/bank/client/rest/sendtx.go
Labels: ready-for-review

#3561 R4R: Don't store denominations in staking
  PENDING.md
  client/lcd/lcd_test.go
  cmd/gaia/cli_test/cli_test.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/querier/querier_test.go
  x/staking/simulation/invariants.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/msg.go
Labels: ready-for-review, staking

#3553 R4R: Code cleanup, take #1
  .circleci/config.yml
  client/context/query.go
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/list_test.go
  client/keys/mnemonic.go
  client/keys/show_test.go
  client/keys/update_test.go
  client/lcd/lcd_test.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/init/collect.go
  cmd/gaia/init/gentx.go
  cmd/gaia/init/init_test.go
  cmd/gaia/init/testnet.go
  cmd/gaia/init/utils_test.go
  crypto/keys/lazy_keybase.go
  crypto/ledger_secp256k1.go
  server/constructors_test.go
  server/export.go
  server/init_test.go
  server/tm_cmds.go
  store/list/list_test.go
  store/transient/store.go
  tests/util.go
  x/distribution/client/cli/tx.go
  x/distribution/client/common/common_test.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/gov/client/cli/parse.go
  x/gov/client/cli/parse_test.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
Labels: ready-for-review

#3552 R4R: General Sanitization & Gas Cost Review
  PENDING.md
  types/int.go
  types/int_test.go
Labels: core, ready-for-review

#3357 R4R: staking spec upgrades / some renaming
  PENDING.md
  docs/spec/SPEC-SPEC.md
  docs/spec/staking/TODO.md
  docs/spec/staking/end_block.md
  docs/spec/staking/overview.md
  docs/spec/staking/state.md
  docs/spec/staking/state_transitions.md
  x/distribution/types/keepers.go
  x/staking/alias.go
  x/staking/keeper/delegation.go
  x/staking/keeper/hooks.go
  x/staking/keeper/keeper.go
  x/staking/keeper/key.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
Labels: docs, ready-for-review, spec, staking

#3567 R4R: x/gov peer review
  client/lcd/lcd_test.go
  x/gov/client/module_client.go
  x/gov/client/rest/rest.go
  x/gov/depositsvotes.go
  x/gov/endblocker.go
  x/gov/errors.go
  x/gov/genesis.go
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/keeper_keys.go
  x/gov/msgs.go
  x/gov/params.go
  x/gov/proposals.go
  x/gov/tally.go
Labels: governance, ready-for-review

#3591 R4R: Fix setting tx hash when nil
  PENDING.md
  types/result.go
Labels: CLI, ready-for-review

#3582 R4R: Fix for make test_unit
  Makefile
  PENDING.md
Labels: ready-for-review

#3586 R4R: Fixes gaia/keybase storage of ledger accounts
  PENDING.md
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  crypto/keys/codec.go
  crypto/keys/hd/hdpath.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/types.go
  crypto/keys/types_test.go
  crypto/ledger_test.go
Labels: bug, keys, ledger

#3604 R4R: Improve SDK Error Messages & Allow Unicode
  PENDING.md
  types/errors.go
  types/errors_test.go
  x/auth/ante.go
  x/bank/keeper.go
Labels: UX, ready-for-review

#3593 R4R: hide dbKeybase's constructor
  PENDING.md
  client/keys.go
  client/keys/add.go
  client/keys/keys/keys.db/LOCK
  client/keys/utils.go
  client/lcd/test_helpers.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/lazy_keybase.go
Labels: breaking, ready-for-review

#3625 R4R: Fix Fee Comparison
  PENDING.md
  types/coin.go
  types/coin_test.go
Labels: core, ready-for-review, security

#3624 R4R: Return an empty TxResponse
  PENDING.md
  types/result.go
Labels: CLI, REST, ready-for-review

#3618 R4R: Upgrade to tendermint 0.30.0 final
  Gopkg.lock
  Gopkg.toml
  PENDING.md
Labels: ready-for-review

#3638 R4R: Bcrypt investigations / benchmarks
  PENDING.md
  crypto/keys/mintkey/README.md
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_bench_test.go
Labels: core, crypto, keys, ready-for-review

#3620 R4R: Indicate build flags in version
  Makefile
  PENDING.md
  docs/gaia/installation.md
  version/version.go
Labels: ready-for-review

#3606 R4R: JSON-stringify ABCI Log w/ Msg Indexes
  PENDING.md
  baseapp/baseapp.go
Labels: UX, breaking, ready-for-review

#3651 R4R: Add JSON Struct Tags to Vesting Accounts
  PENDING.md
  x/auth/account.go
Labels: ready-for-review, vesting

#3580 R4R: various: code clean up, refactoring
  PENDING.md
  client/keys/add.go
  client/keys/list.go
  client/keys/show.go
  client/keys/utils.go
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  client/rest/rest.go
  client/rpc/block.go
  client/rpc/codec.go
  client/rpc/root.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/broadcast.go
  client/tx/query.go
  client/tx/search.go
  types/rest/rest.go
  types/rest/rest_test.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/requests.go
  x/auth/client/rest/sign.go
  x/bank/client/rest/sendtx.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/tx.go
  x/gov/client/rest/rest.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/query.go
  x/staking/client/rest/tx.go
  x/staking/client/rest/utils.go
Labels: ready-for-review

#3607 R4R: Reconcile DecCoin/s API with Coin/s API
  PENDING.md
  baseapp/baseapp_test.go
  server/config/config_test.go
  types/coin.go
  types/coin_test.go
  types/context_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/bank/msgs.go
  x/bank/msgs_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/simulation/invariants.go
  x/distribution/types/fee_pool.go
Labels: ready-for-review, types

#3654 R4R: mint use total supply instead of power
  PENDING.md
  types/staking.go
  x/distribution/types/expected_keepers.go
  x/gov/tally.go
  x/mint/abci_app.go
  x/mint/expected_keepers.go
  x/staking/keeper/alias_functions.go
  x/staking/types/validator.go
Labels: minting, ready-for-review

#3661 R4R: Release v0.32.0 back to develop
  CHANGELOG.md
  PENDING.md
Labels: ready-for-review

#3415 R4R: Restructure pending log
  PENDING.md
Labels: docs, ready-for-review

#3676 Refactored prefixes as constants
  client/keys/show.go
  client/keys/show_test.go
  cmd/gaia/cmd/gaiakeyutil/main.go
  store/prefix/store_test.go
  types/address.go
  types/address_test.go
Labels: code-hygiene, ready-for-review

#3674 Remove password/keybase from REST Client
  PENDING.md
  client/keys/add.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/list.go
  client/keys/root.go
  client/keys/root_test.go
  client/keys/show.go
  client/keys/update.go
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/rest/rest.go
  client/utils/utils.go
  cmd/gaia/cmd/gaiacli/main.go
  types/rest/rest.go
  types/rest/rest_test.go
  x/auth/client/rest/query.go
  x/auth/client/rest/requests.go
  x/auth/client/rest/sign.go
  x/bank/client/rest/sendtx.go
  x/distribution/client/rest/tx.go
  x/gov/client/rest/rest.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/tx.go
Labels: REST, api-breaking, gaia-lite, ready-for-review, will-merge

#3665 R4R: Uint overhaul
  PENDING.md
  types/int.go
  types/int_test.go
  types/uint.go
  types/uint_test.go
Labels: core, ready-for-review

#3683 R4R: spec-spec update, spec file reorg, TOC updates
  PENDING.md
  docs/spec/SPEC-SPEC.md
  docs/spec/auth/01_concepts.md
  docs/spec/auth/02_state.md
  docs/spec/auth/03_messages.md
  docs/spec/auth/03_types.md
  docs/spec/auth/04_keepers.md
  docs/spec/auth/05_vesting.md
  docs/spec/auth/README.md
  docs/spec/bank/01_state.md
  docs/spec/bank/02_keepers.md
  docs/spec/bank/03_messages.md
  docs/spec/bank/04_tags.md
  docs/spec/bank/README.md
  docs/spec/distribution/01_concepts.md
  docs/spec/distribution/02_state.md
  docs/spec/distribution/03_end_block.md
  docs/spec/distribution/04_messages.md
  docs/spec/distribution/05_hooks.md
  docs/spec/distribution/06_tags.md
  docs/spec/distribution/README.md
  docs/spec/governance/01_concepts.md
  docs/spec/governance/02_state.md
  docs/spec/governance/03_messages.md
  docs/spec/governance/04_tags.md
  docs/spec/governance/05_future_improvements.md
  docs/spec/governance/README.md
  docs/spec/mint/01_state.md
  docs/spec/mint/02_begin_block.md
  docs/spec/mint/README.md
  docs/spec/params/01_keeper.md
  docs/spec/params/02_subspace.md
  docs/spec/params/README.md
  docs/spec/slashing/01_concepts.md
  docs/spec/slashing/02_state.md
  docs/spec/slashing/03_messages.md
  docs/spec/slashing/04_begin_block.md
  docs/spec/slashing/05_hooks.md
  docs/spec/slashing/06_tags.md
  docs/spec/slashing/07_tombstone.md
  docs/spec/slashing/README.md
  docs/spec/staking/01_state.md
  docs/spec/staking/02_state_transitions.md
  docs/spec/staking/03_messages.md
  docs/spec/staking/04_end_block.md
  docs/spec/staking/05_hooks.md
  docs/spec/staking/06_tags.md
  docs/spec/staking/README.md
Labels: non-breaking, ready-for-review, spec

#3680 R4R: Convenience ToDec()
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  types/dec_coin.go
  types/int.go
  x/auth/account.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/validator.go
  x/gov/tally.go
  x/slashing/handler_test.go
  x/slashing/keeper_test.go
  x/staking/app_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/querier/querier_test.go
  x/staking/simulation/invariants.go
  x/staking/simulation/msgs.go
  x/staking/types/pool.go
  x/staking/types/validator.go
Labels: non-breaking, ready-for-review

#3691 Minor Error Message Cleanup
  PENDING.md
  types/rest/rest.go
  x/auth/ante.go
  x/auth/keeper.go
  x/staking/querier/querier.go
Labels: api-breaking, code-hygiene, ready-for-review

#3679 R4R: Consistent Operators
  PENDING.md
  client/lcd/lcd_test.go
  docs/_attic/sdk/core/examples/app1.go
  types/coin.go
  types/coin_benchmark_test.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/decimal_test.go
  types/int.go
  types/int_test.go
  types/staking.go
  types/uint.go
  types/uint_test.go
  x/auth/account.go
  x/auth/account_test.go
  x/auth/ante.go
  x/auth/feekeeper.go
  x/auth/simulation/fake.go
  x/bank/keeper.go
  x/bank/keeper_test.go
  x/bank/msgs.go
  x/bank/simulation/invariants.go
  x/bank/simulation/msgs.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/validator.go
  x/gov/keeper.go
  x/gov/keeper_test.go
  x/mock/app.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/handler_test.go
Labels: api-breaking, core, ready-for-review

#3706 Update InitChain to Include Time in Block Header
  PENDING.md
  baseapp/baseapp.go
Labels: baseapp, ready-for-review

#3688 JSON Decode Log in REST Client
  PENDING.md
  baseapp/baseapp.go
  client/context/context.go
  types/rest/rest.go
  types/result.go
  types/result_test.go
Labels: REST, api-breaking, ready-for-review

#3710 R4R: lcd test unexpected slashing in TestBonding
  PENDING.md
  client/lcd/lcd_test.go
Labels: ready-for-review

#3713 Use from instead of name CLI flag for the tx sign cmd
  PENDING.md
  cmd/gaia/cli_test/test_helpers.go
  x/auth/client/cli/sign.go
Labels: CLI, UX, ready-for-review

#3670 R4R: CLI support for showing bech32 addresses in Ledger devices
  Gopkg.lock
  Gopkg.toml
  PENDING.md
  client/keys/show.go
  client/keys/show_test.go
  crypto/keys/keybase_test.go
  crypto/keys/types.go
  crypto/keys/types_test.go
  crypto/ledger_mock.go
  crypto/ledger_secp256k1.go
Labels: CLI, ledger, ready-for-review

#3725 R4R: Fix errcheck lint
  server/export.go
Labels: ready-for-review

#3673 R4R: Message & Codec Registration Consistency
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  cmd/gaia/app/export.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/cli_test/cli_test.go
  docs/spec/ibc/mvp/mvp1.md
  docs/spec/ibc/mvp/mvp2.md
  docs/spec/ibc/mvp/mvp3.md
  x/bank/codec.go
  x/bank/msgs_test.go
  x/distribution/client/rest/query.go
  x/distribution/genesis.go
  x/distribution/handler.go
  x/distribution/keeper/querier.go
  x/distribution/types/genesis.go
  x/distribution/types/msg.go
  x/ibc/app_test.go
  x/ibc/client/cli/ibctx.go
  x/ibc/client/cli/relay.go
  x/ibc/client/rest/transfer.go
  x/ibc/codec.go
  x/ibc/handler.go
  x/ibc/ibc_test.go
  x/ibc/types.go
  x/ibc/types_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/client/rest/tx.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/key.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/querier/querier_test.go
  x/staking/simulation/msgs.go
  x/staking/types/codec.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/msg.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: code-hygiene, ready-for-review, state-machine-breaking

#3698 Prompt User Confirmation Prior to Signing & Broadcasting
  PENDING.md
  client/context/context.go
  client/flags.go
  client/input.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  x/auth/client/txbuilder/txbuilder.go
Labels: CLI, UX, ready-for-review

#3696 REST: Cleanup Tx Broadcasting and Encoding
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/tx/broadcast.go
  client/tx/encode.go
  client/tx/root.go
  client/utils/utils.go
  client/utils/utils_test.go
  cmd/gaia/cmd/gaiacli/main.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/encode.go
  x/auth/client/cli/multisign.go
  x/auth/client/cli/sign.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/requests.go
  x/auth/client/util.go
  x/auth/client/util_test.go
Labels: REST, api-breaking, code-hygiene, ready-for-review

#3745 R4R: Return on zero-length byte array input
  PENDING.md
  store/types/utils.go
Labels: bug, kvstore, ready-for-review

#3728 R4R: Alternative negative coins fix (floor multiplication)
  PENDING.md
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
Labels: bug, distribution, ready-for-review

#3733 Update Client Keys Permissions to 0700
  PENDING.md
  cmd/gaia/cli_test/test_helpers.go
  crypto/keys/lazy_keybase.go
Labels: keys, ready-for-review, security

#3758 Remove governance_penalty
  PENDING.md
  cmd/gaia/app/sim_test.go
  docs/spec/governance/01_concepts.md
  docs/spec/governance/02_state.md
  x/gov/genesis.go
  x/gov/params.go
Labels: governance, ready-for-review

#3734 R4R: Gentx workflow for offline keys
  PENDING.md
  cmd/gaia/init/gentx.go
Labels: ready-for-review
