Repository cosmos/cosmos-sdk, pull requests merged in 2019-11, with the labels that each got.

#5258 Integrate Evidence Implementation into ICS-02
  x/ibc/02-client/alias.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/querier.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/errors/errors.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/tendermint/codec.go
  x/ibc/02-client/types/tendermint/misbehaviour.go
  x/ibc/02-client/types/tendermint/misbehaviour_test.go
  x/ibc/24-host/errors.go
Labels: R4R, x/ibc

#5271 changelog: add v0.37.4 section
  CHANGELOG.md
Labels: R4R

#4515 ICS 23 Implementation
  client/context/context.go
  client/context/query.go
  x/ibc/23-commitment/codec.go
  x/ibc/23-commitment/commitment_test.go
  x/ibc/23-commitment/merkle.go
  x/ibc/23-commitment/merkle_test.go
  x/ibc/23-commitment/types.go
  x/ibc/23-commitment/verify.go
  x/ibc/24-host/errors.go
  x/ibc/24-host/utils.go
  x/ibc/24-host/validate.go
Labels: R4R, x/ibc

#4516 ICS 02 Implementation
  x/ibc/02-client/alias.go
  x/ibc/02-client/client/cli/query.go
  x/ibc/02-client/client/cli/tx.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/doc.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/querier.go
  x/ibc/02-client/module.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/errors/errors.go
  x/ibc/02-client/types/events.go
  x/ibc/02-client/types/keys.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/02-client/types/querier.go
  x/ibc/02-client/types/state.go
  x/ibc/02-client/types/tendermint/codec.go
  x/ibc/02-client/types/tendermint/consensus_state.go
  x/ibc/02-client/types/tendermint/consensus_state_test.go
  x/ibc/02-client/types/tendermint/doc.go
  x/ibc/02-client/types/tendermint/header.go
  x/ibc/02-client/types/tendermint/misbehaviour.go
  x/ibc/02-client/types/tendermint/misbehaviour_test.go
  x/ibc/02-client/types/tendermint/tendermint_test.go
  x/ibc/02-client/types/tendermint/test_utils.go
  x/ibc/24-host/errors.go
  x/ibc/alias.go
  x/ibc/client/cli/cli.go
  x/ibc/handler.go
  x/ibc/keeper/keeper.go
  x/ibc/keeper/querier.go
  x/ibc/module.go
  x/ibc/types/types.go
  x/ibc/version/version.go
Labels: R4R, x/ibc

#4517 ICS 03 Implementation
  client/flags/flags.go
  x/ibc/03-connection/alias.go
  x/ibc/03-connection/client/cli/query.go
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/handler.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/querier.go
  x/ibc/03-connection/module.go
  x/ibc/03-connection/types/codec.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/errors.go
  x/ibc/03-connection/types/events.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/03-connection/types/keys.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/querier.go
  x/ibc/03-connection/types/version.go
  x/ibc/client/cli/cli.go
  x/ibc/handler.go
  x/ibc/keeper/keeper.go
  x/ibc/keeper/querier.go
  x/ibc/module.go
Labels: WIP, x/ibc

#5193 ICS 05 implementation
  store/types/store.go
  types/store.go
  x/ibc/05-port/alias.go
  x/ibc/05-port/keeper/keeper.go
  x/ibc/05-port/types/errors.go
  x/ibc/05-port/types/keys.go
  x/ibc/keeper/keeper.go
Labels: WIP, x/ibc

#4548 ICS 04 Implementation
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/client/cli/query.go
  x/ibc/04-channel/client/cli/tx.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/exported/exported.go
  x/ibc/04-channel/handler.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/querier.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/module.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/errors.go
  x/ibc/04-channel/types/events.go
  x/ibc/04-channel/types/expected_keepers.go
  x/ibc/04-channel/types/keys.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/packet.go
  x/ibc/04-channel/types/querier.go
  x/ibc/handler.go
  x/ibc/keeper/keeper.go
  x/ibc/keeper/querier.go
  x/ibc/module.go
Labels: WIP, x/ibc

#5279 Fix IAVL Iterator Race Condition
  CHANGELOG.md
  store/iavl/store.go
Labels: R4R

#5092 changed bench32prefixes, gaiacli keys parse command still use cosmos …
  CHANGELOG.md
  client/keys/parse.go
Labels: R4R

#5283 Revert "changed bench32prefixes, gaiacli keys parse command still use cosmos …"
  CHANGELOG.md
  client/keys/parse.go
Labels: R4R

#5280 Custom JSON Marshal/Unmarshal for Account Types
  CHANGELOG.md
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/supply/internal/types/account.go
  x/supply/internal/types/account_test.go
Labels: R4R, UX

#5240 x/evidence module implementation
  CHANGELOG.md
  docs/architecture/adr-009-evidence-module.md
  docs/building-modules/README.md
  simapp/app.go
  types/errors.go
  types/errors/errors.go
  types/router.go
  x/evidence/alias.go
  x/evidence/client/cli/query.go
  x/evidence/client/cli/tx.go
  x/evidence/client/evidence_handler.go
  x/evidence/client/rest/query.go
  x/evidence/client/rest/rest.go
  x/evidence/client/rest/tx.go
  x/evidence/doc.go
  x/evidence/exported/evidence.go
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/handler.go
  x/evidence/handler_test.go
  x/evidence/internal/keeper/keeper.go
  x/evidence/internal/keeper/keeper_test.go
  x/evidence/internal/keeper/querier.go
  x/evidence/internal/keeper/querier_test.go
  x/evidence/internal/types/codec.go
  x/evidence/internal/types/codec_test.go
  x/evidence/internal/types/errors.go
  x/evidence/internal/types/events.go
  x/evidence/internal/types/genesis.go
  x/evidence/internal/types/genesis_test.go
  x/evidence/internal/types/keys.go
  x/evidence/internal/types/msgs.go
  x/evidence/internal/types/msgs_test.go
  x/evidence/internal/types/querier.go
  x/evidence/internal/types/router.go
  x/evidence/internal/types/router_test.go
  x/evidence/internal/types/test_util.go
  x/evidence/module.go
  x/evidence/spec/01_concepts.md
  x/evidence/spec/02_state.md
  x/evidence/spec/03_messages.md
  x/evidence/spec/04_events.md
  x/evidence/spec/README.md
  x/gov/types/router.go
Labels: R4R, x/evidence

#5275 Add unit tests for ICS03
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/keeper/keeper_test.go
Labels: R4R, tests, x/ibc

#5286 Add unit tests for ICS04
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/05-port/keeper/keeper.go
Labels: R4R, tests, x/ibc

#4233 Add upgrade module
  CHANGELOG.md
  x/gov/alias.go
  x/gov/client/rest/rest.go
  x/gov/client/utils/utils.go
  x/gov/handler.go
  x/gov/legacy/v0_34/types.go
  x/gov/legacy/v0_36/migrate.go
  x/gov/legacy/v0_36/types.go
  x/gov/test_common.go
  x/gov/types/codec.go
  x/gov/types/events.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/proposal.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/alias.go
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/proposal_handler.go
  x/upgrade/client/rest/query.go
  x/upgrade/client/rest/tx.go
  x/upgrade/doc.go
  x/upgrade/exported/keeper.go
  x/upgrade/handler.go
  x/upgrade/internal/keeper/keeper.go
  x/upgrade/internal/keeper/querier.go
  x/upgrade/internal/types/codec.go
  x/upgrade/internal/types/handler.go
  x/upgrade/internal/types/keys.go
  x/upgrade/internal/types/plan.go
  x/upgrade/internal/types/plan_test.go
  x/upgrade/internal/types/proposal.go
  x/upgrade/internal/types/proposal_test.go
  x/upgrade/internal/types/querier.go
  x/upgrade/module.go
Labels: R4R

#5244 Add debug commands
  client/debug/main.go
  x/auth/client/cli/decode.go
  x/gov/types/router.go
  x/staking/simulation/operations.go
Labels: CLI, R4R

#5306 add docs staging build
  .circleci/config.yml
  Makefile
Labels: build, docs

#5180 Drop on-disk keybase in favor of keyring
  client/alias.go
  client/context/context.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/list_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/update.go
  client/keys/utils.go
  crypto/keys/keyring.go
  docs/interfaces/service-providers.md
  server/init.go
  server/init_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/utils/tx.go
  x/auth/types/txbuilder.go
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/genutil/client/cli/gentx.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Labels: R4R, keys

#5328 Add upgrade module to simapp
  simapp/app.go
  x/upgrade/abci_test.go
  x/upgrade/exported/keeper.go
Labels: R4R, x/upgrade

#5329 ICS-02: Keeper Tests
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/tendermint/consensus_state_test.go
  x/ibc/02-client/types/tendermint/tendermint_test.go
  x/ibc/02-client/types/tendermint/test_utils.go
Labels: tests, x/ibc

#5313 Fix proof verify
  client/keys/root_test.go
  x/ibc/02-client/types/keys.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/types/keys.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/types/keys.go
  x/ibc/05-port/keeper/keeper.go
  x/ibc/05-port/keeper/keeper_test.go
  x/ibc/23-commitment/merkle.go
  x/ibc/23-commitment/merkle_test.go
  x/ibc/24-host/validate.go
Labels: R4R, bug, tests, x/ibc

#5308 Add ICS20 tests
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/05-port/alias.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/callbacks.go
  x/ibc/20-transfer/keeper/callbacks_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/types/msgs.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/20-transfer/types/packet_test.go
Labels: R4R, tests, x/ibc

#5294 Upgrade Module Spec
  x/upgrade/abci.go
  x/upgrade/handler.go
  x/upgrade/internal/keeper/keeper.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/spec/02_state.md
  x/upgrade/spec/03_events.md
  x/upgrade/spec/README.md
Labels: R4R, docs, x/upgrade

#5345 Add dev docs for COSMOS_SDK_TEST_KEYRING
  client/keys/utils.go
  crypto/keys/keyring.go
Labels: R4R, docs
