Repository cosmos/cosmos-sdk, pull requests merged in 2019-03, with the labels that each got.

#3763 Disable ED25519 Account Keys
  PENDING.md
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/test_utils.go
  x/bank/app_test.go
  x/ibc/app_test.go
  x/mock/app.go
  x/slashing/app_test.go
  x/staking/test_common.go
Labels: core, ready-for-review, state-machine-breaking

#3777 Fix Export Panic
  PENDING.md
  server/export.go
Labels: ready-for-review

#3762 Allow Validator w/ No Self-Delegation to Unjail (Transfers Disabled)
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/gaia/validators/validator-setup.md
  x/slashing/app_test.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/keeper.go
  x/slashing/keeper_contracts.go
  x/slashing/test_common.go
Labels: ready-for-review, slashing

#3748 Multisig Display UX Improvements
  PENDING.md
  client/keys/add.go
  client/keys/codec_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/types.go
  client/keys/utils.go
  client/lcd/test_helpers.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/init/gentx.go
  crypto/keys/codec.go
  crypto/keys/keybase.go
  crypto/keys/lazy_keybase.go
  crypto/keys/output.go
  crypto/keys/types.go
  crypto/keys/types_test.go
  docs/gaia/gaiacli.md
  x/auth/client/cli/multisign.go
  x/auth/client/cli/sign.go
Labels: UX, keys, ready-for-review

#3783 Finalise snapcraft.yaml
  PENDING.md
  snapcraft.yaml
Labels: ready-for-review

#3792 use DBBackend set at compile time
  Makefile
  PENDING.md
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiadebug/hack.go
  cmd/gaia/cmd/gaiareplay/main.go
  crypto/keys/lazy_keybase.go
  server/constructors.go
  server/mock/app.go
  types/utils.go
Labels: ready-for-review

#3803 Validator Creation Updates
  PENDING.md
  docs/gaia/validators/validator-setup.md
  docs/translations/kr/gaia/validators/validator-setup.md
  x/staking/alias.go
  x/staking/app_test.go
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/handler_test.go
  x/staking/test_common.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Labels: ready-for-review, staking, state-machine-breaking

#3788 R4R F1 mechanism rounding fix
  PENDING.md
  client/lcd/lcd_test.go
  cmd/gaia/app/export.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/staking.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/slashing/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: distribution, ready-for-review, staking

#3806 Fix nil returned in Unmarshal functions
  PENDING.md
  types/address.go
  x/gov/depositsvotes.go
  x/gov/proposals.go
Labels: code-hygiene, ready-for-review

#3807 Custom MsgMultiSend Handler (x/bank fork)
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/x/bank/handler.go
  cmd/gaia/app/x/bank/handler_test.go
Labels: bank, ready-for-review, state-machine-breaking

#3750 R4R: Outstanding per-validator rewards; correctly handle same-BeginBlock redelegation-double-slash
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/app/export.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/decimal.go
  types/decimal_test.go
  types/staking.go
  x/distribution/alias.go
  x/distribution/client/cli/query.go
  x/distribution/client/module_client.go
  x/distribution/client/rest/query.go
  x/distribution/genesis.go
  x/distribution/keeper/alias_functions.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/key.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/simulation/invariants.go
  x/distribution/types/fee_pool.go
  x/distribution/types/genesis.go
  x/distribution/types/validator.go
  x/slashing/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/slash.go
  x/staking/simulation/invariants.go
  x/staking/types/expected_keepers.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: api-breaking, distribution, ready-for-review, simulation

#3818 Simulation Performance Improvements
  x/distribution/simulation/invariants.go
Labels: ready-for-review, simulation

#3801 BaseApp Security Improvements
  PENDING.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  x/bank/app_test.go
  x/gov/endblocker_test.go
  x/gov/genesis_test.go
  x/gov/keeper_test.go
  x/gov/tally_test.go
  x/ibc/app_test.go
  x/mock/app_test.go
  x/mock/test_utils.go
  x/slashing/app_test.go
  x/staking/app_test.go
Labels: baseapp, ready-for-review, security, will-merge

#3832 R4R: Removed complexity from docs deployment job
  .circleci/config.yml
  PENDING.md
Labels: CI, code-hygiene

#3836 Fix WithdrawValidatorCommission
  PENDING.md
  types/dec_coin.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
Labels: distribution, ready-for-review, staking, state-machine-breaking

#3828 add sdkch to maintain changelog effectively and free of file conflicts
  .github/PULL_REQUEST_TEMPLATE.md
  .pending/bugfixes/sdk/3837-Fix-WithdrawValidatorCommission-to-properly-set-the-validator-s-remaining-commission
  .pending/features/sdk/3813-New-sdk-NewCoins-safe-constructor-to-replace-bare
  .pending/improvements/gaia/3808-gaiad-and-gaiacli-integration-tests-use-build-binaries
  .pending/improvements/gaiacli/3841-Add-indent-to-J
  .pending/improvements/gaiacli/3859-Add-newline-to-echo-of-gaiacli-keys
  .pending/improvements/sdk/3801-baseapp-safety-improvements
  .pending/improvements/sdk/3820-Make-Coins-IsAllGT-more-robust-and-consistent
  .pending/improvements/sdk/3828-New-sdkch-tool-to-maintain-changelogs
  .pending/improvements/sdk/3864-Make-Coins-IsAllGTE-more-consistent
  Makefile
  PENDING.md
  cmd/sdkch/README.md
  cmd/sdkch/main.go
Labels: ready-for-review, tooling

#3819 R4R: Simulation Refactor
  .pending/improvements/gaia/3819-Simulation-refa
  cmd/gaia/app/sim_test.go
  x/auth/simulation/fake.go
  x/bank/simulation/msgs.go
  x/distribution/abci_app.go
  x/distribution/keeper/allocation.go
  x/distribution/simulation/msgs.go
  x/gov/simulation/msgs.go
  x/mock/simulation/operation.go
  x/simulation/account.go
  x/simulation/doc.go
  x/simulation/event_stats.go
  x/simulation/log.go
  x/simulation/mock_tendermint.go
  x/simulation/operation.go
  x/simulation/params.go
  x/simulation/rand_util.go
  x/simulation/simulate.go
  x/simulation/transition_matrix.go
  x/simulation/util.go
  x/slashing/simulation/msgs.go
  x/staking/simulation/msgs.go
Labels: ready-for-review

#3779 R4R: Split Proposal Interface
  client/lcd/lcd_test.go
  cmd/gaia/cli_test/cli_test.go
  docs/spec/governance/02_state.md
  x/gov/client/cli/query.go
  x/gov/client/rest/rest.go
  x/gov/codec.go
  x/gov/endblocker.go
  x/gov/endblocker_test.go
  x/gov/genesis.go
  x/gov/genesis_test.go
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/keeper_test.go
  x/gov/proposals.go
  x/gov/querier.go
  x/gov/querier_test.go
  x/gov/tally.go
  x/gov/tally_test.go
  x/gov/test_common.go
Labels: governance, ready-for-review

#3747 Implement initial simple denom convert utils
  .pending/features/sdk/Implement-coin-conversion-and-denomination-registration-utilities
  types/coin.go
  types/denom.go
  types/denom_test.go
Labels: ready-for-review

#3910 R4R: Remove Height Flag from CLI Queries #3883
  .pending/bugfixes/gaiacli/3883-Remove-Height-F
  client/flags.go
  docs/gaia/gaiacli.md
  docs/translations/kr/gaia/gaiacli.md
Labels: CLI, ready-for-review

#3913 Fix TruncateDecimal
  .pending/bugfixes/sdk/3870-Fix-DecCoins-TruncateDecimal-to-never-return-zero-coins-in
  types/dec_coin.go
  types/dec_coin_test.go
  types/decimal.go
Labels: core, ready-for-review

#3894 R4R: Minting mechanism explanatory docs
  .pending/improvements/sdk/3752-Explanatory-doc
  docs/spec/mint/01_concepts.md
  docs/spec/mint/02_state.md
  docs/spec/mint/03_begin_block.md
  x/mint/minter.go
Labels: ready-for-review

#3933 gometalinter -> golangci-lint migration
  .circleci/config.yml
  .gitignore
  .golangci.yml
  .pending/improvements/sdk/Fixed-various-linter
  CONTRIBUTING.md
  Makefile
  client/keys/types.go
  client/lcd/certificates.go
  client/lcd/test_helpers.go
  client/rest/rest.go
  client/rpc/block.go
  client/rpc/root.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/broadcast.go
  client/tx/encode.go
  client/utils/utils.go
  contrib/install-golangci-lint.sh
  go.sum
  scripts/Makefile
  tools/gometalinter.json
  x/auth/client/cli/multisign.go
  x/gov/client/cli/query.go
  x/gov/client/rest/rest.go
Labels: tooling

#3918 Allow Unrated Decreases to Validator Commission Rates
  .pending/improvements/sdk/3917-Allow-arbitrary-decreases-to-validator-commission-rates
  x/staking/types/commission.go
  x/staking/types/commission_test.go
Labels: ready-for-review, staking, state-machine-breaking

#3927 Validate genesis before running gentx
  .pending/bugfixes/gaia/3825-Validate-genesis-before-running-gentx
  cmd/gaia/init/gentx.go
Labels: ready-for-review

#3953 Codespace should be lowercase.
  .pending/improvements/sdk/3940-Codespace-shoul
  x/distribution/types/errors.go
Labels: distribution, ready-for-review

#3958 Fix lcd-testing 303030 bug continued
  client/lcd/lcd_test.go
Labels: ready-for-review

#3957 Gov ValidateGenesis fix
  x/gov/genesis.go
Labels: genesis, ready-for-review

#3951 Remove ';' delimiting support from ParseDecCoins
  .pending/bugfixes/sdk/3915-Remove-delimiting-support-from-ParseDecCoins
  server/config/config.go
  server/config/toml.go
  types/coin.go
  types/dec_coin.go
Labels: api-breaking, core, ready-for-review

#3960 CLI: Disable Keybase for Generate Only
  .pending/bugfixes/gaia/3889-When---generate-only-is-provided-the-Keybase-is-not-used-and-as-a-result
  client/context/context.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/init/gentx.go
Labels: CLI, ready-for-review

#3968 Documentation on how to sign Cosmos transactions
  docs/clients/service-providers.md
Labels: docs

#3857 Remove Shares Concept from Unbond/Redelegate UX
  .pending/breaking/sdk/3516-Remove-concept-of-shares-from-staking-unbonding-and-redelegation-UX
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/cli_test/cli_test.go
  docs/_attic/WIP-lamborghini-distribution/transactions.md
  docs/gaia/gaiacli.md
  docs/translations/kr/gaia/gaiacli.md
  types/staking.go
  x/distribution/keeper/delegation.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/keeper_test.go
  x/staking/app_test.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/utils.go
  x/staking/client/rest/tx.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/simulation/msgs.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: api-breaking, ready-for-review, staking, state-machine-breaking

#3935 Modify stake to uatom in gaia's doc. #3833
  .pending/improvements/gaiacli/3833-Modify-stake-to
  client/flags.go
  docs/gaia/validators/validator-setup.md
  docs/translations/cn/gaia/delegator-guide-cli.md
  docs/translations/kr/gaia/gaiacli.md
  docs/translations/kr/gaia/ledger.md
  docs/translations/kr/gaia/validators/validator-setup.md
Labels: docs, ready-for-review

#3954 Remove Tx Broadcast and Commit Support
  .pending/breaking/gaia/3875-Replace-async-flag-with---broadcast-mode-flag-where-the-default
  baseapp/baseapp.go
  client/config.go
  client/context/broadcast.go
  client/context/context.go
  client/flags.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/tx/broadcast.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  docs/gaia/gaiacli.md
  types/result.go
Labels: api-breaking, core, ready-for-review

#3970 Fix Tx Sign Offline Mode
  .pending/improvements/gaia/3893-Improve-gaiacli-tx-sign-command
  client/flags.go
  client/utils/utils.go
  x/auth/client/cli/sign.go
  x/auth/client/txbuilder/txbuilder.go
  x/bank/client/cli/sendtx.go
Labels: CLI, ready-for-review

#3983 Fix Flag Typo
  client/flags.go
Labels: ready-for-review

#3897 Gaiad gentx optional flags
  .pending/features/sdk/3858-add-website-details-and-identity-to-gentx-cli-command
  cmd/gaia/init/gentx.go
  cmd/gaia/init/gentx_test.go
Labels: ready-for-review

#3986 Fix Proposal Stringer
  .pending/improvements/sdk/3986-Update-the-Stringer-implementation-of-the-Proposal-type
  x/gov/proposals.go
Labels: code-hygiene, governance, ready-for-review

#3939 Implement client functionality for the community pool
  .pending/features/gaiacli/3937-Add-command-to-query-community-pool
  .pending/features/gaiarest/3937-Add-route-to-fetch-community-pool
  .pending/improvements/sdk/3937-Implement-community-pool-querier
  client/lcd/swagger-ui/swagger.yaml
  docs/gaia/gaiacli.md
  x/distribution/client/cli/query.go
  x/distribution/client/module_client.go
  x/distribution/client/rest/query.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
Labels: CLI, REST, distribution, ready-for-review

#3952 Add route for querying signing_info for all validators
  .pending/features/gaiarest/3949-added-slashing-validators-signing_info-to-get-signing_info-for-all-validators
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/rpc/validators.go
  client/tx/search.go
  types/rest/rest.go
  types/rest/rest_test.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/query_test.go
Labels: REST, ready-for-review, slashing

#3656 R4R: Broken-Invar Tx - aka. Crisis module
  .pending/features/gaia/2935-optionally-asse
  .pending/features/sdk/2935-New-module-Cris
  client/lcd/test_helpers.go
  client/utils/utils.go
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/export.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/invariants.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiareplay/main.go
  docs/spec/crisis/01_state.md
  docs/spec/crisis/02_messages.md
  docs/spec/crisis/03_tags.md
  docs/spec/crisis/README.md
  x/auth/stdtx.go
  x/bank/expected_keepers.go
  x/bank/invariants.go
  x/crisis/client/cli/tx.go
  x/crisis/client/module_client.go
  x/crisis/codec.go
  x/crisis/errors.go
  x/crisis/expected_keepers.go
  x/crisis/genesis.go
  x/crisis/handler.go
  x/crisis/handler_test.go
  x/crisis/keeper.go
  x/crisis/msg.go
  x/crisis/params.go
  x/crisis/route.go
  x/distribution/alias.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/fee_pool.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/key.go
  x/distribution/keeper/test_common.go
  x/distribution/types/errors.go
  x/distribution/types/expected_keepers.go
  x/distribution/types/keys.go
  x/distribution/types/msg.go
  x/gov/simulation/invariants.go
  x/mint/genesis.go
  x/slashing/simulation/invariants.go
  x/staking/alias.go
  x/staking/keeper/invariants.go
  x/staking/types/expected_keepers.go
Labels: ready-for-review

#4001 Upgrade Tendermint to v0.31.1
  .pending/breaking/tendermint/4001-Upgrade-Tendermint-to-v0-31-1
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  client/lcd/root.go
  client/lcd/test_helpers.go
  go.mod
  go.sum
Labels: ready-for-review, tendermint
