Repository cosmos/cosmos-sdk, pull requests merged in 2019-09, with the labels that each got.

#4967 Split Breaking Changes into Specific Subsections
  CHANGELOG.md
Labels: R4R, dev-ux

#4983 Quick fix to docs to not show staging website
  docs/DOCS_README.md
Labels: R4R, docs

#4984 switch version to master
  docs/versions
Labels: R4R, docs

#4989 Go 1.13 Upgrade
  .circleci/config.yml
  README.md
  go.mod
  go.sum
Labels: R4R

#4748 Write-Through Inter-Block Cache
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/doc.go
  baseapp/helpers.go
  baseapp/options.go
  baseapp/state.go
  docs/core/baseapp.md
  docs/core/baseapp_state-begin_block.png
  docs/core/baseapp_state-checktx.png
  docs/core/baseapp_state-commit.png
  docs/core/baseapp_state-deliver_tx.png
  docs/core/baseapp_state-initchain.png
  docs/core/baseapp_state_types.png
  go.mod
  go.sum
  server/mock/store.go
  server/start.go
  simapp/sim_test.go
  store/cache/cache.go
  store/cache/cache_test.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/iavl/store.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/store.go
  store/types/store.go
  types/store.go
  x/params/subspace/subspace.go
  x/simulation/account.go
Labels: R4R, baseapp, kvstore

#4999 Dep update
  go.mod
  go.sum
Labels: dependencies

#4986 [ADR-11] - Generalize Genesis Accounts
  docs/architecture/README.MD
  docs/architecture/adr-011-generalize-genesis-accounts.md
Labels: ADR, R4R

#4997 Fix CacheMultiStoreWithVersion (inter-block cache)
  store/cache/cache.go
  store/cache/cache_test.go
  store/rootmulti/store.go
  store/types/store.go
Labels: R4R

#5009 remove redundant invariant simapp check
  Makefile
  simapp/sim_test.go
  simapp/utils.go
  x/simulation/simulate.go
  x/simulation/util.go
Labels: R4R, simulation

#4719 Add cli commands for the coinswap module.
  x/coinswap/client/cli/query.go
  x/coinswap/client/cli/tx.go
  x/coinswap/client/rest/query.go
  x/coinswap/client/rest/rest.go
  x/coinswap/client/rest/tx.go
  x/coinswap/internal/types/params.go
  x/coinswap/internal/types/querier.go
Labels: WIP

#5015 Update Makefile runsim targets
  Makefile
Labels: R4R, build

#5005 Add support for halt-time
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
Labels: R4R, next-point-release

#5018 Fix test_sim_multi_seed_long make target
  Makefile
Labels: R4R, build

#5019 Export sim CLI flags
  simapp/sim_test.go
  simapp/state.go
  simapp/utils.go
Labels: R4R, simulation

#5022 Remove inter-block cache reset in init-chain
  baseapp/abci.go
Labels: R4R

#4917 add where to find the event tags into the swagger
  client/lcd/swagger-ui/swagger.yaml
Labels: R4R, docs

#5024 Fix and Utilize GetCommitKVStore
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: R4R, kvstore

#4704 transactions concept doc
  docs/core/transactions.md
Labels: R4R, docs

#5030 Update golangci-lint to match release used by golangci bot
  contrib/devtools/Makefile
Labels: R4R

#5025 Standardise and clean up Makefile
  .circleci/config.yml
  Makefile
  contrib/devtools/Makefile
Labels: R4R, build

#4996 Expose precheck errors from tx
  CHANGELOG.md
  client/context/broadcast.go
  client/context/broadcast_test.go
  go.mod
  go.sum
  types/errors.go
Labels: R4R

#5042 Auxiliary Functionality for Genesis Accounts
  x/auth/alias.go
  x/auth/exported/exported.go
  x/auth/exported/exported_test.go
  x/auth/genesis.go
  x/auth/simulation/genesis.go
  x/auth/types/genesis.go
  x/auth/types/genesis_test.go
Labels: R4R

#5048 Fix linters and add golint
  .golangci.yml
  baseapp/baseapp_test.go
  client/keys/codec_test.go
  server/export.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
  store/gaskv/store_test.go
  store/iavl/store_test.go
  store/prefix/store_test.go
  store/tracekv/store_test.go
  types/events.go
  types/rest/rest_test.go
  x/auth/client/utils/rest.go
  x/auth/simulation/genesis.go
  x/bank/internal/keeper/keeper_test.go
  x/crisis/handler_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/querier_test.go
  x/distribution/types/fee_pool_test.go
  x/genutil/client/cli/init_test.go
  x/gov/keeper/vote_test.go
  x/params/proposal_handler_test.go
  x/params/simulation/operations/msgs.go
  x/staking/keeper/querier.go
  x/staking/keeper/slash.go
Labels: code-hygiene

#5047 Fix Genesis Accounts Migration
  x/auth/legacy/v0_38/migrate.go
  x/auth/legacy/v0_38/migrate_test.go
  x/auth/legacy/v0_38/types.go
  x/auth/types/account.go
  x/genutil/legacy/v0_38/migrate.go
Labels: R4R

#5055 Added Prealloc, Gosec, Golint linters
  .golangci.yml
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  server/mock/store.go
  types/errors/errors.go
  types/events.go
  types/module/module.go
  x/auth/types/stdtx.go
  x/distribution/client/common/common.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/gentx.go
  x/gov/module.go
Labels: R4R, code-hygiene

#5023 Implement Gaia Tx Decode
  CHANGELOG.md
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/swagger.yaml
  x/auth/client/cli/decode.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/rest.go
  x/auth/client/utils/tx.go
Labels: CLI, R4R, REST

#5051 Remove staking tkey
  simapp/app.go
  x/distribution/keeper/test_common.go
  x/gov/keeper/test_common.go
  x/gov/test_common.go
  x/slashing/app_test.go
  x/slashing/internal/keeper/test_common.go
  x/staking/app_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/test_common.go
Labels: R4R

#5068 Add linter Nakedret
  .golangci.yml
  baseapp/abci.go
  client/context/context.go
  server/util.go
  store/iavl/store.go
  store/types/utils.go
  tests/gobash.go
  x/auth/client/cli/decode.go
  x/auth/client/cli/encode.go
  x/auth/simulation/genesis.go
  x/distribution/keeper/querier_test.go
Labels: R4R, code-hygiene

#5036 Code Owner Membership - Contributing Guidelines
  CONTRIBUTING.md
Labels: R4R

#5054 v0.37.1 RC1 Cherry Picks
  .circleci/config.yml
  CHANGELOG.md
  Makefile
  README.md
  baseapp/baseapp.go
  baseapp/options.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/start.go
  types/result.go
  types/result_test.go
Labels: R4R

#5073 Add changelog notes from v0.37.1
  CHANGELOG.md
Labels: R4R

#5084 Sanitize Tools Makefile
  contrib/devtools/Makefile
Labels: R4R, build

#5029 Add support for github.com/99designs/keyring-backed keybases
  CHANGELOG.md
  crypto/keys/keybase.go
  crypto/keys/keybase_base.go
  crypto/keys/keybase_keyring.go
  crypto/keys/keybase_test.go
  crypto/keys/lazy_keybase.go
  crypto/keys/lazy_keybase_keyring.go
  crypto/keys/lazy_keybase_keyring_test.go
  crypto/keys/types.go
  crypto/keys/types_test.go
  go.mod
  go.sum
Labels: R4R, keys

#5071 x/nft Ownership
  .github/CODEOWNERS
  x/nft/CONTRACT.md
Labels: R4R, x/nft

#5099 fixes migrate bug #5095
  CHANGELOG.md
  x/staking/legacy/v0_36/types.go
  x/staking/legacy/v0_37/types.go
Labels: R4R

#5102 Expose/Alias Events (from internal pkgs)
  x/bank/alias.go
  x/bank/internal/types/events.go
  x/crisis/alias.go
  x/crisis/internal/types/events.go
  x/distribution/types/events.go
  x/slashing/alias.go
  x/staking/types/events.go
Labels: R4R, next-point-release

#5103 Migration Testing
  .golangci.yml
  server/export.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/legacy/v0_38/migrate.go
  x/genutil/legacy/v0_38/migrate_test.go
  x/genutil/types/types.go
  x/staking/legacy/v0_38/migrate.go
  x/staking/legacy/v0_38/types.go
Labels: R4R, next-point-release

#5105 Upgrade golangci-lint to latest release (1.19.1)
  contrib/devtools/Makefile
  contrib/devtools/install-golangci-lint.sh
Labels: R4R

#5114 Fix offline flag description
  x/auth/client/cli/tx_sign.go
Labels: R4R

#5097 Add keys migrate command
  CHANGELOG.md
  client/keys/migrate.go
  client/keys/migrate_test.go
  client/keys/root.go
  client/keys/root_test.go
  crypto/keys/keybase_keyring.go
  crypto/keys/lazy_keybase_keyring.go
  crypto/keys/lazy_keybase_keyring_test.go
  types/config.go
Labels: R4R, keys

#5104 Remove keyring lazy implementation
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  crypto/keys/lazy_keybase_keyring.go
Labels: R4R, keys

#5035 R4R: NFT find is broken
  CHANGELOG.md
  x/nft/client/cli/query.go
  x/nft/internal/keeper/querier.go
  x/nft/internal/types/collection.go
  x/nft/internal/types/collection_test.go
  x/nft/internal/types/nft.go
  x/nft/internal/types/nft_test.go
  x/nft/internal/types/owners.go
  x/nft/internal/types/owners_test.go
  x/nft/internal/types/utils.go
  x/nft/simulation/genesis.go
Labels: R4R, bug, x/nft

#4827 R4R ADR 007 / 008: Specialization Groups Abstraction / CERT Group
  docs/architecture/adr-007-specialization-groups.md
  docs/architecture/adr-008-dCERT-group.md
Labels: R4R

#5115 Add stale config
  .github/stale.yml
Labels: R4R

#4998 [ADR-012] - State Accessors
  docs/architecture/README.MD
  docs/architecture/adr-012-state-accessors.md
Labels: ADR, WIP

#5111 Add linters from new golangci version
  .golangci.yml
  types/context_test.go
Labels: R4R
