Repository cosmos/cosmos-sdk, pull requests merged in 2019-05, with the labels that each got.

#4241 Drop multisim.sh in favor of runsim
  cmd/gaia/contrib/sim/multisim.sh
Labels: code-hygiene, ready-for-review

#4248 Update contribution doc
  CONTRIBUTING.md
Labels: docs, ready-for-review

#4228 R4R: gaiakeyutil -> gaiacli keys parse
  .pending/breaking/gaiacli/4228-merge-gaiakeyutil-into-gaiacli
  Makefile
  client/keys/parse.go
  client/keys/parse_test.go
  client/keys/root.go
  client/keys/root_test.go
  cmd/gaia/Makefile
  cmd/gaia/cmd/gaiakeyutil/main.go
Labels: ready-for-review

#4249 Move clog out of the repo
  .clog.yaml
  contrib/devtools/Makefile
  contrib/devtools/clog/README.md
  contrib/devtools/clog/main.go
Labels: ready-for-review

#4251 Remove tools from go.sum deps
  Makefile
Labels: build, ready-for-review

#4253 Change User Supplied Param Change Value to json.RawMessage
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/lcd_test/helpers_test.go
  docs/cosmos-hub/gaiacli.md
  x/params/client/cli/tx.go
  x/params/client/rest/rest.go
  x/params/client/utils/utils.go
  x/params/client/utils/utils_test.go
Labels: CLI, REST, UX, governance, ready-for-review

#4232 Allow custom key types and address formats
  .pending/breaking/sdk/The-default-signatur
  .pending/improvements/sdk/Add-SetAddressVerifi
  .pending/improvements/sdk/Add-an-additional-pa
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiadebug/hack.go
  types/address.go
  types/address_test.go
  types/config.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/mock/app.go
Labels: api-breaking, ready-for-review

#4250 Remove baseapp dependency on the version package
  .pending/breaking/sdk/4250-BaseApp-Query-r
  .pending/features/sdk/4250-New-BaseApp-Set
  Makefile
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  cmd/gaia/Makefile
  cmd/gaia/app/app.go
  version/command.go
  version/version.go
Labels: ready-for-review

#4244 Param Proposal Simulation Messages; Minting Params Fix
  .pending/improvements/sdk/4235-Add-parameter-c
  .pending/improvements/sdk/4235-Update-the-mint
  cmd/gaia/app/sim_test.go
  x/gov/params.go
  x/gov/simulation/msgs.go
  x/mint/keeper.go
  x/mint/params.go
  x/params/simulation/msgs.go
  x/simulation/params.go
Labels: ready-for-review, simulation

#4257 avoid clogging /tmp with test runs leftover
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/lcd_test/helpers_test.go
Labels: ready-for-review

#4264 Discard error returned by os.RemoveAll() when pruning test dirs
  cmd/gaia/lcd_test/helpers_test.go
Labels: ready-for-review

#4214 R4R: Support query txs' TotalCount in GET /txs
  .pending/breaking/gaiarest/3942-Support-query-t
  client/lcd/swagger-ui/swagger.yaml
  client/tx/query.go
  client/tx/utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/lcd_test/helpers_test.go
  cmd/gaia/lcd_test/lcd_test.go
  types/result.go
  x/gov/client/utils/query.go
  x/staking/client/rest/query.go
  x/staking/client/rest/utils.go
Labels: REST, ready-for-review

#4266 Release v0.34.4: RC1
  CHANGELOG.md
  client/keys/add.go
  client/lcd/lcd_test.go
  cmd/gaia/app/export.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  docs/spec/distribution/06_tags.md
  x/auth/client/rest/query.go
  x/bank/client/cli/sendtx.go
  x/distribution/handler.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/tags/tags.go
  x/slashing/client/rest/query.go
Labels: ready-for-review

#4270 Update Contribution Docs
  CONTRIBUTING.md
Labels: docs, ready-for-review

#4272 Merge gaiareplay into gaiad to reduce number of binaries
  .pending/breaking/gaia/4272-Merge-gaiarepla
  Makefile
  cmd/gaia/Makefile
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiad/replay.go
Labels: ready-for-review

#4277 Replace vet with golangci lint govet
  .golangci.yml
  Makefile
  client/rpc/status.go
  cmd/gaia/Makefile
  cmd/gaia/lcd_test/helpers_test.go
  contrib/devtools/Makefile
  crypto/ledger_mock.go
  x/auth/ante.go
  x/gov/types/proposal.go
  x/mint/client/module_client.go
  x/params/simulation/msgs.go
  x/slashing/params.go
Labels: build, ready-for-review

#4258 R4R Contributing doc update
  CONTRIBUTING.md
Labels: ready-for-review

#4290 Upgrade iavl v0.12.2
  .pending/improvements/tendermint/4290-Upgrade-tenderm
  go.mod
  go.sum
Labels: ready-for-review

#4285 Update REST Client to Support Custom R/W Timeouts
  .pending/breaking/sdk/4263-RestServer-Star
  .pending/features/sdk/4263-Add---read-time
  client/flags.go
  client/lcd/root.go
Labels: REST, dev-ux, ready-for-review

#4281 Fix addGenesisAccount
  .pending/bugfixes/sdk/4271-Fix-addGenesisA
  .pending/features/sdk/4271-Implement-Coins
  cmd/gaia/init/genesis_accts.go
  cmd/gaia/init/genesis_accts_test.go
  types/coin.go
  types/coin_test.go
Labels: genesis, ready-for-review

#4293 Add changelog back to master for v0.34.4
  CHANGELOG.md
Labels: ready-for-review

#4309 Fix deposit command
  x/gov/client/cli/tx.go
Labels: ready-for-review

#4306 Allow generate-only to fully operate offline
  .pending/breaking/sdk/4305-GenerateOrBroad
  .pending/improvements/sdk/4305-The---generate-
  client/context/context.go
  client/flags.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/init/gentx.go
  x/bank/client/cli/sendtx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/gov/client/module_client.go
  x/ibc/client/cli/ibctx.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
Labels: CLI, ready-for-review

#4292 Fix Signing Infos Endpoint
  .pending/bugfixes/sdk/4194-Fix-pagination-
  .pending/improvements/sdk/4194-ValidatorSignin
  types/rest/rest.go
  types/staking.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/query_test.go
  x/slashing/errors.go
  x/slashing/handler_test.go
  x/slashing/hooks.go
  x/slashing/querier.go
  x/slashing/signing_info.go
  x/slashing/signing_info_test.go
  x/slashing/test_common.go
  x/staking/client/rest/query.go
Labels: REST, ready-for-review, slashing

#4307 Don't pass height to RPC calls
  .pending/bugfixes/sdk/4307-https-github-co
  client/rpc/block.go
  client/rpc/validators.go
Labels: ready-for-review

#4324 server: run cleanupFunc before Exit
  server/util.go
Labels: ready-for-review

#4331 CircleCI: Fix insecure password via CLI
  .circleci/config.yml
Labels: CI, ready-for-review

#4321 Flag account and sequence should not be set when offline was not set.
  x/auth/client/cli/sign.go
Labels: CLI, ready-for-review

#4334 Align cn-doc to 7558f760 (2019-05-13) and fix some typo of en-doc.
  docs/clients/service-providers.md
  docs/cosmos-hub/gaiacli.md
  docs/translations/cn/clients/service-providers.md
  docs/translations/cn/cn-translation-progress.md
  docs/translations/cn/cosmos-hub/gaiacli.md
  docs/translations/cn/cosmos-hub/installation.md
Labels: docs, ready-for-review

#4262 R4R: Infrastructure for reproducible builds
  .circleci/config.yml
  .pending/breaking/gaia/4027-gaiad-and-gaiac
  .pending/breaking/sdk/4262-GoSumHash-is-no
  Dockerfile
  Makefile
  cmd/gaia/Makefile
  cmd/gaia/contrib/gitian-build.sh
  cmd/gaia/contrib/gitian-descriptors/gitian-darwin.yml
  cmd/gaia/contrib/gitian-descriptors/gitian-linux.yml
  cmd/gaia/contrib/gitian-descriptors/gitian-windows.yml
  cmd/gaia/contrib/gitian-keys/README.md
  cmd/gaia/contrib/gitian-keys/keys.txt
  cmd/gaia/sims.mk
  contrib/devtools/Makefile
  contrib/devtools/gosum/main.go
  contrib/devtools/install-golangci-lint.sh
  docs/cosmos-hub/installation.md
  docs/cosmos-hub/reproducible-builds.md
  docs/translations/cn/cosmos-hub/installation.md
  docs/translations/kr/gaia/installation.md
  version/version.go
Labels: ready-for-review

#4336 Fix AppendTags usage error
  .pending/bugfixes/sdk/4273-Fix-usage-of-Ap
  x/staking/handler.go
Labels: ready-for-review

#4342 Upgrade to go-amino v0.15.0
  .pending/breaking/sdk/4342-https-github-co
  go.mod
  go.sum
Labels: ready-for-review

#4265 R4R: CacheKVStore keep sorted items
  .pending/improvements/sdk/2286-Improve-perform
  store/cachekv/memiterator.go
  store/cachekv/store.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
Labels: ready-for-review

#4333 Remove Shares from Client Responses
  .pending/bugfixes/gaiacli/4190-Fix-redelegatio
  .pending/improvements/sdk/4190-Client-response
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/lcd_test/helpers_test.go
  x/staking/alias.go
  x/staking/client/cli/query.go
  x/staking/client/rest/query.go
  x/staking/keeper/query_utils.go
  x/staking/querier/querier.go
  x/staking/querier/querier_test.go
  x/staking/querier/utils.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
Labels: CLI, REST, UX, ready-for-review

#4343 Update go to 1.12.5
  .circleci/config.yml
  .pending/improvements/gaia/4261-Upgrade-toolcha
  .pending/improvements/gaia/4343-Upgrade-toolcha
  README.md
  docs/cosmos-hub/installation.md
  docs/translations/cn/cosmos-hub/installation.md
  scripts/install/install_sdk_arm.sh
  scripts/install/install_sdk_bsd.sh
  scripts/install/install_sdk_ubuntu.sh
Labels: ready-for-review

#4345 Updating upstream dependencies
  .pending/bugfixes/gaiacli/4345-Improved-NanoX-detection
  go.mod
  go.sum
Labels: next-minor-release, ready-for-review

#4337 Integrate reproducible builds - CircleCi integration
  .circleci/config.yml
  cmd/gaia/contrib/gitian-build.sh
  docs/cosmos-hub/reproducible-builds.md
Labels: ready-for-review

#4346 R4R: report card minor fixes
  baseapp/baseapp.go
  cmd/gaia/cli_test/cli_test.go
  crypto/encode_test.go
  crypto/keys/hd/hdpath_test.go
  x/auth/client/cli/sign.go
Labels: ready-for-review

#4351 R4R: remove x/ dependency on cmd/gaia
  .pending/breaking/sdk/4351-AddGenesisAccou
  cmd/gaia/cmd/gaiad/main.go
  x/auth/genaccounts/client/cli/genesis_accts.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
Labels: ready-for-review

#4353 Documentation Fixes
  docs/clients/lite/readme.md
  docs/clients/lite/specification.md
  docs/clients/service-providers.md
  docs/cosmos-hub/validators/validator-faq.md
  docs/intro/ocap.md
  docs/modules/README.md
  docs/spec/README.md
  docs/spec/distribution/README.md
  docs/spec/mint/README.md
Labels: docs, ready-for-review

#4355 improve key table format
  client/keys/utils.go
  go.mod
  go.sum
Labels: UX, ready-for-review

#4356 Update default verifier path
  client/context/context.go
Labels: ready-for-review

#4363 FIX: invalid 0stake deposit amount in sim
  x/simulation/params.go
Labels: ready-for-review, simulation

#4365 R4R simulator bugfix for multisim 7601778
  .pending/bugfixes/sdk/4362-simulation-setu
  cmd/gaia/contrib/runsim/main.go
  x/simulation/params.go
Labels: ready-for-review

#4372 Use Build's Client/Server Name
  server/util.go
  version/command.go
  version/version.go
  x/auth/client/cli/multisign.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
Labels: code-hygiene, ready-for-review

#4375 Add missing pending log entry from gaia split
  .pending/breaking/sdk/4104-Rename-gaiad-to
Labels: ready-for-review

#4349 R4R Autogen alias files
  x/distribution/alias.go
  x/gov/alias.go
  x/params/alias.go
  x/params/types/keys.go
  x/params/types/proposal.go
  x/staking/alias.go
  x/staking/client/cli/query.go
  x/staking/handler.go
Labels: code-hygiene, ready-for-review

#4374 R4R: Don't Burn Deposits for Rejected Governance Proposals Unless Vetoed
  .pending/features/gaia/4373-Don-t-Burn-Depo
  devtools-stamp
  x/gov/endblocker.go
  x/gov/querier.go
  x/gov/tally.go
  x/gov/tally_test.go
Labels: governance, ready-for-review

#4377 Remove statik/Swagger UI
  .gitignore
  Makefile
  client/lcd/root.go
  client/lcd/statik/init.go
  client/lcd/swagger-ui/favicon-16x16.png
  client/lcd/swagger-ui/favicon-32x32.png
  client/lcd/swagger-ui/index.html
  client/lcd/swagger-ui/oauth2-redirect.html
  client/lcd/swagger-ui/swagger-ui-bundle.js
  client/lcd/swagger-ui/swagger-ui-bundle.js.map
  client/lcd/swagger-ui/swagger-ui-standalone-preset.js
  client/lcd/swagger-ui/swagger-ui-standalone-preset.js.map
  client/lcd/swagger-ui/swagger-ui.css
  client/lcd/swagger-ui/swagger-ui.css.map
  client/lcd/swagger-ui/swagger-ui.js
  client/lcd/swagger-ui/swagger-ui.js.map
  client/lcd/swagger-ui/swagger.yaml
  go.mod
  go.sum
Labels: ready-for-review

#4329 R4R: Community pool spend proposal
  .pending/features/sdk/Community-pool-spend
  simapp/app.go
  simapp/sim_test.go
  x/bank/simulation/msgs.go
  x/distribution/alias.go
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/utils.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/utils.go
  x/distribution/handler.go
  x/distribution/keeper/proposal_handler.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/msgs.go
  x/distribution/types/codec.go
  x/distribution/types/errors.go
  x/distribution/types/proposal.go
  x/gov/simulation/msgs.go
  x/params/simulation/msgs.go
  x/simulation/rand_util.go
Labels: distribution, feature, governance, ready-for-review

#4386 Remove reproducible_builds and macos_ci jobs from circleci config
  .circleci/config.yml
Labels: build, ready-for-review

#4388 Remove gaia docs from sdk repo
  README.md
  docs/.vuepress/config.js
  docs/README.md
  docs/cosmos-hub/README.md
  docs/cosmos-hub/delegator-guide-cli.md
  docs/cosmos-hub/deploy-testnet.md
  docs/cosmos-hub/gaiacli.md
  docs/cosmos-hub/genesis-state.md
  docs/cosmos-hub/genesis.md
  docs/cosmos-hub/hd-wallets.md
  docs/cosmos-hub/installation.md
  docs/cosmos-hub/join-mainnet.md
  docs/cosmos-hub/join-testnet.md
  docs/cosmos-hub/keys.md
  docs/cosmos-hub/launch/blog-1-cn.md
  docs/cosmos-hub/launch/blog-1-en.md
  docs/cosmos-hub/launch/blog-1-kr.md
  docs/cosmos-hub/launch/blog-2-cn.md
  docs/cosmos-hub/launch/blog-2-en.md
  docs/cosmos-hub/launch/blog-2-kr.md
  docs/cosmos-hub/ledger.md
  docs/cosmos-hub/reproducible-builds.md
  docs/cosmos-hub/upgrade-node.md
  docs/cosmos-hub/validators/kms/kms.md
  docs/cosmos-hub/validators/kms/kms_ledger.md
  docs/cosmos-hub/validators/kms/ledger_1.jpg
  docs/cosmos-hub/validators/kms/ledger_2.jpg
  docs/cosmos-hub/validators/overview.md
  docs/cosmos-hub/validators/security.md
  docs/cosmos-hub/validators/validator-faq.md
  docs/cosmos-hub/validators/validator-setup.md
  docs/cosmos-hub/what-is-gaia.md
Labels: docs, ready-for-review

#4379 close db write batch after use
  .pending/improvements/sdk/4379-close-db-write-
  store/rootmulti/store.go
Labels: kvstore, ready-for-review

#4398 Refactor genaccounts genesis state
  simapp/sim_test.go
  x/auth/genaccounts/client/cli/genesis_accts.go
  x/auth/genaccounts/export.go
  x/auth/genaccounts/genesis_account.go
  x/auth/genaccounts/genesis_state.go
  x/auth/genaccounts/genesis_state_test.go
  x/auth/genaccounts/init.go
  x/auth/genaccounts/module.go
Labels: ready-for-review

#4395 Improve sig verification error message
  .pending/improvements/sdk/3655-Improve-signatu
  x/auth/ante.go
Labels: UX, next-minor-release, ready-for-review

#4400 Release v0.34.5 - RC1
  CHANGELOG.md
  client/keys/add.go
  client/keys/show.go
  cmd/gaia/app/sim_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/lazy_keybase.go
  crypto/keys/types.go
  crypto/ledger_mock.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
  go.mod
  go.sum
  store/cachekv/memiterator.go
  store/cachekv/store.go
  store/cachekv/store_bench_test.go
  store/cachekv/store_test.go
  x/auth/ante.go
  x/mint/client/module_client.go
  x/simulation/params.go
  x/simulation/rand_util.go
  x/staking/handler.go
Labels: ready-for-review

#4396 Use TxSigLimit instead of default constant value
  .pending/bugfixes/sdk/4394-Fix-signature-c
  x/auth/ante.go
  x/auth/stdtx.go
  x/auth/stdtx_test.go
Labels: ready-for-review

#4376 DOCS: Consolidate Intro Material
  docs/intro/README.md
  docs/intro/sdk-app-architecture.md
  docs/intro/why-app-specific.md
Labels: docs, ready-for-review

#4384 allow splitting withdrawal txs
  .pending/improvements/sdk/4384-WithdrawalTxSplitting
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
Labels: CLI, UX, next-point-release, ready-for-review

#4408 Remove cosmos hub docs translation
  docs/translations/cn/cosmos-hub/README.md
  docs/translations/cn/cosmos-hub/delegator-guide-cli.md
  docs/translations/cn/cosmos-hub/deploy-testnet.md
  docs/translations/cn/cosmos-hub/gaiacli.md
  docs/translations/cn/cosmos-hub/genesis-state.md
  docs/translations/cn/cosmos-hub/genesis.md
  docs/translations/cn/cosmos-hub/installation.md
  docs/translations/cn/cosmos-hub/join-mainnet.md
  docs/translations/cn/cosmos-hub/join-testnet.md
  docs/translations/cn/cosmos-hub/keys.md
  docs/translations/cn/cosmos-hub/launch/blog-1-cn.md
  docs/translations/cn/cosmos-hub/launch/blog-2-cn.md
  docs/translations/cn/cosmos-hub/ledger.md
  docs/translations/cn/cosmos-hub/validators/overview.md
  docs/translations/cn/cosmos-hub/validators/security.md
  docs/translations/cn/cosmos-hub/validators/validator-faq.md
  docs/translations/cn/cosmos-hub/validators/validator-setup.md
  docs/translations/cn/cosmos-hub/what-is-gaia.md
  docs/translations/kr/gaia/README.md
  docs/translations/kr/gaia/delegator-guide-cli.md
  docs/translations/kr/gaia/deploy-testnet.md
  docs/translations/kr/gaia/gaiacli.md
  docs/translations/kr/gaia/genesis.md
  docs/translations/kr/gaia/installation.md
  docs/translations/kr/gaia/join-testnet.md
  docs/translations/kr/gaia/keys.md
  docs/translations/kr/gaia/ledger.md
  docs/translations/kr/gaia/validators/overview.md
  docs/translations/kr/gaia/validators/security.md
  docs/translations/kr/gaia/validators/validator-faq.md
  docs/translations/kr/gaia/validators/validator-setup.md
  docs/translations/kr/gaia/what-is-gaia.md
Labels: docs, ready-for-review

#4404 Update Spec to include params
  docs/spec/SPEC-SPEC.md
  docs/spec/auth/07_params.md
  docs/spec/auth/README.md
  docs/spec/bank/05_params.md
  docs/spec/bank/README.md
  docs/spec/crisis/04_params.md
  docs/spec/crisis/README.md
  docs/spec/distribution/07_params.md
  docs/spec/distribution/README.md
  docs/spec/governance/06_params.md
  docs/spec/governance/README.md
  docs/spec/mint/04_params.md
  docs/spec/mint/README.md
  docs/spec/slashing/08_params.md
  docs/spec/slashing/README.md
  docs/spec/staking/07_params.md
  docs/spec/staking/README.md
Labels: docs, ready-for-review

#4389 R4R stake invariance bug
  .pending/bugfixes/sdk/4383---currentStakeR
  contrib/runsim/main.go
  simapp/sim_test.go
  types/decimal.go
  x/distribution/keeper/delegation.go
  x/simulation/params.go
  x/simulation/simulate.go
Labels: ready-for-review, simulation, staking

#4312 Touch up light client docs
  docs/clients/lite/readme.md
Labels: ready-for-review

#4403 R4R: Paramchange proposal skips omitempty fields
  .pending/improvements/sdk/4403-parameter-chang
  x/gov/keeper.go
  x/gov/params.go
  x/gov/test_common.go
  x/params/alias.go
  x/params/client/cli/tx.go
  x/params/client/utils/utils.go
  x/params/keeper_test.go
  x/params/proposal_handler.go
  x/params/proposal_handler_test.go
  x/params/simulation/msgs.go
  x/params/subspace/subspace.go
  x/params/test_common.go
  x/params/types/proposal.go
  x/params/types/proposal_test.go
  x/simulation/params.go
Labels: ready-for-review

#4413 Revert swagger removal
  .circleci/config.yml
  Makefile
  client/lcd/root.go
  client/lcd/statik/init.go
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/favicon-16x16.png
  client/lcd/swagger-ui/favicon-32x32.png
  client/lcd/swagger-ui/index.html
  client/lcd/swagger-ui/oauth2-redirect.html
  client/lcd/swagger-ui/swagger-ui-bundle.js
  client/lcd/swagger-ui/swagger-ui-standalone-preset.js
  client/lcd/swagger-ui/swagger-ui.css
  client/lcd/swagger-ui/swagger.yaml
  go.mod
  go.sum
Labels: REST, ready-for-review

#4382 Support height queries for queriers
  .pending/features/sdk/4318-Support-height-
  baseapp/baseapp.go
  client/flags/flags.go
  server/mock/store.go
  store/cachemulti/store.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
Labels: baseapp, kvstore, ready-for-review

#4434 Remove draw_deps target
  Makefile
  go.sum
Labels: build, ready-for-review

#4300 Configurable Bip44 CoinType & HdPath for SDK users
  .pending/features/sdk/4144-Configurable-Be
  crypto/keys/hd/hdpath.go
  crypto/keys/hd/hdpath_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/lazy_keybase_test.go
  crypto/keys/types_test.go
  crypto/ledger_mock.go
  crypto/ledger_test.go
  types/address.go
  types/config.go
Labels: keys, ready-for-review

#4436 Implement private keys export/import symmetric functionalities
  .pending/features/sdk/2020-New-keys-export
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/root.go
  client/keys/root_test.go
  crypto/keys/keybase.go
  crypto/keys/lazy_keybase.go
  crypto/keys/lazy_keybase_test.go
  crypto/keys/types.go
Labels: keys, ready-for-review

#4448 Implement Gov EndBlocker Failed Handler Test
  x/gov/endblocker_test.go
  x/gov/test_common.go
Labels: governance, ready-for-review, tests

#4452 Update CHANGELOG from v0.34.6 Release
  CHANGELOG.md
Labels: docs, ready-for-review

#4433 Adopt YAML as human-readable text output
  client/context/context.go
  client/keys/parse.go
  client/keys/show.go
  client/keys/utils.go
  go.mod
  server/tm_cmds.go
  types/address.go
  types/address_test.go
  version/command.go
Labels: UX, ready-for-review

#4461 Port advisory patch to master
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
Labels: ready-for-review, staking, state-machine-breaking

#4463 remove docs/_attic
  docs/_attic/WIP-lamborghini-distribution/README.md
  docs/_attic/WIP-lamborghini-distribution/end_block.md
  docs/_attic/WIP-lamborghini-distribution/example_sheet/distribution.xlsx
  docs/_attic/WIP-lamborghini-distribution/future_improvements.md
  docs/_attic/WIP-lamborghini-distribution/overview.md
  docs/_attic/WIP-lamborghini-distribution/state.md
  docs/_attic/WIP-lamborghini-distribution/transactions.md
  docs/_attic/WIP-lamborghini-distribution/triggers.md
  docs/_attic/sdk/core/app1.md
  docs/_attic/sdk/core/app2.md
  docs/_attic/sdk/core/app3.md
  docs/_attic/sdk/core/app4.md
  docs/_attic/sdk/core/app5.md
  docs/_attic/sdk/core/examples/app1.go
  docs/_attic/sdk/core/examples/app2.go
  docs/_attic/sdk/core/examples/app2_test.go
  docs/_attic/sdk/core/examples/app3.go
  docs/_attic/sdk/core/examples/app4.go
  docs/_attic/sdk/core/examples/app4_test.go
  docs/_attic/sdk/core/intro.md
  docs/_attic/sdk/core/multistore.md
  docs/_attic/sdk/sdk-by-examples/intro.md
  docs/_attic/sdk/sdk-by-examples/simple-governance/app-init.md
  docs/_attic/sdk/sdk-by-examples/simple-governance/bridging-it-all.md
  docs/_attic/sdk/sdk-by-examples/simple-governance/intro.md
  docs/_attic/sdk/sdk-by-examples/simple-governance/running-the-application.md
  docs/_attic/sdk/sdk-by-examples/simple-governance/setup-and-design.md
  docs/_attic/sdk/sdk-by-examples/simple-governance/simple-gov-module.md
Labels: docs, ready-for-review
