Repository cosmos/cosmos-sdk, pull requests merged in 2019-07, with the labels that each got.

#4592 supply querier
  .pending/improvements/sdk/4595-supply-queriers
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/swagger.yaml
  x/supply/client/cli/query.go
  x/supply/client/rest/query.go
  x/supply/keeper/querier.go
  x/supply/keeper/querier_test.go
  x/supply/module.go
  x/supply/types/querier.go
Labels: R4R, supply

#4654 validator slash event stored by period and height
  .pending/bugfixes/sdk/4654-validator-slash
  x/distribution/genesis.go
  x/distribution/keeper/key.go
  x/distribution/keeper/querier_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/types/genesis.go
Labels: R4R, distribution, genesis-breaking, slashing, state-machine-breaking

#4599 Supply module spec
  docs/spec/README.md
  docs/spec/distribution/02_state.md
  docs/spec/distribution/03_end_block.md
  docs/spec/distribution/04_messages.md
  docs/spec/governance/01_concepts.md
  docs/spec/governance/03_messages.md
  docs/spec/mint/02_state.md
  docs/spec/mint/03_begin_block.md
  docs/spec/staking/01_state.md
  docs/spec/staking/02_state_transitions.md
  docs/spec/staking/03_messages.md
  docs/spec/staking/04_end_block.md
  docs/spec/supply/01_concepts.md
  docs/spec/supply/02_state.md
  docs/spec/supply/03_future_improvements.md
  docs/spec/supply/README.md
Labels: R4R, spec, supply

#4573 R4R: generalize query response with height
  .pending/improvements/sdk/4573-adds-height-in-
  types/rest/rest.go
  types/rest/rest_test.go
  x/auth/client/rest/query.go
  x/auth/types/account_retriever.go
  x/bank/client/rest/query.go
  x/distribution/client/rest/query.go
  x/distribution/types/delegator.go
  x/gov/client/rest/rest.go
  x/mint/client/rest/query.go
  x/slashing/client/rest/query.go
  x/staking/client/rest/query.go
  x/staking/client/rest/utils.go
Labels: R4R, api-breaking

#4649 Refactor crisis package using internal
  .pending/breaking/sdk/4649-Refactor-x-cris
  x/crisis/abci.go
  x/crisis/alias.go
  x/crisis/client/cli/tx.go
  x/crisis/genesis.go
  x/crisis/handler.go
  x/crisis/handler_test.go
  x/crisis/internal/keeper/keeper.go
  x/crisis/internal/keeper/params.go
  x/crisis/internal/types/codec.go
  x/crisis/internal/types/errors.go
  x/crisis/internal/types/events.go
  x/crisis/internal/types/expected_keepers.go
  x/crisis/internal/types/genesis.go
  x/crisis/internal/types/keys.go
  x/crisis/internal/types/msgs.go
  x/crisis/internal/types/params.go
  x/crisis/internal/types/route.go
  x/crisis/module.go
Labels: R4R

#4659 Fix master Build
  simapp/utils_test.go
  x/distribution/alias.go
Labels: R4R, build

#4658 Generalize Querier REST Pagination
  .pending/improvements/sdk/4601-Implement-gener
  client/utils.go
  client/utils_test.go
  x/slashing/querier.go
  x/staking/keeper/querier.go
  x/supply/keeper/querier.go
Labels: R4R, REST, code-hygiene

#4663 Refactor bank keeper by removing private funcs
  .pending/breaking/sdk/refactor-bank-keeper
  x/bank/internal/keeper/keeper.go
Labels: R4R, bank, refactor

#4662 Removed Previous IBC repo and docs
  docs/modules/README.md
  docs/spec/README.md
  docs/spec/ibc/README.md
  docs/spec/ibc/appendices.md
  docs/spec/ibc/channels-and-packets.md
  docs/spec/ibc/conclusion.md
  docs/spec/ibc/connections.md
  docs/spec/ibc/images/CleanUp.png
  docs/spec/ibc/images/ReceiptError.png
  docs/spec/ibc/images/Receipts.png
  docs/spec/ibc/mvp/ibc.md
  docs/spec/ibc/mvp/mvp1.md
  docs/spec/ibc/mvp/mvp2.md
  docs/spec/ibc/mvp/mvp3.md
  docs/spec/ibc/optimizations.md
  docs/spec/ibc/overview.md
  docs/spec/ibc/protobuf/.gitignore
  docs/spec/ibc/protobuf/Makefile
  docs/spec/ibc/protobuf/merkle.proto
  docs/spec/ibc/protobuf/messages.proto
  docs/spec/ibc/protobuf/queue.proto
  docs/spec/ibc/references.md
  docs/translations/kr/modules/README.md
  x/ibc/app_test.go
  x/ibc/client/cli/README.md
  x/ibc/client/cli/ibctx.go
  x/ibc/client/cli/relay.go
  x/ibc/client/rest/transfer.go
  x/ibc/codec.go
  x/ibc/errors.go
  x/ibc/expected_keepers.go
  x/ibc/handler.go
  x/ibc/handler_test.go
  x/ibc/ibc_test.go
  x/ibc/mapper.go
  x/ibc/types.go
  x/ibc/types_test.go
Labels: R4R

#4661 x/supply: use internal package
  .pending/breaking/sdk/3972-supply
  simapp/sim_test.go
  x/auth/test_common.go
  x/bank/app_test.go
  x/genaccounts/genesis_account_test.go
  x/mock/app_test.go
  x/supply/alias.go
  x/supply/client/cli/query.go
  x/supply/client/rest/query.go
  x/supply/genesis.go
  x/supply/internal/keeper/account.go
  x/supply/internal/keeper/bank.go
  x/supply/internal/keeper/bank_test.go
  x/supply/internal/keeper/invariants.go
  x/supply/internal/keeper/keeper.go
  x/supply/internal/keeper/keeper_test.go
  x/supply/internal/keeper/key.go
  x/supply/internal/keeper/querier.go
  x/supply/internal/keeper/querier_test.go
  x/supply/internal/keeper/test_common.go
  x/supply/internal/types/account.go
  x/supply/internal/types/account_test.go
  x/supply/internal/types/codec.go
  x/supply/internal/types/expected_keepers.go
  x/supply/internal/types/genesis.go
  x/supply/internal/types/key.go
  x/supply/internal/types/permissions.go
  x/supply/internal/types/querier.go
  x/supply/internal/types/supply.go
  x/supply/internal/types/supply_test.go
  x/supply/module.go
Labels: R4R, supply

#4667 Sort events by type
  types/events.go
Labels: R4R

#4672 fix supply NewQuerierHandler
  x/supply/alias.go
  x/supply/module.go
Labels: R4R

#4674 Expose simapp genState generators and utils
  .pending/improvements/sdk/4676-expose-simapp-f
  simapp/sim_test.go
  simapp/utils.go
  simapp/utils_test.go
Labels: R4R, code-hygiene

#4471 Migrate genesis cmd
  .pending/features/sdk/4409-migration-scrip
  contrib/migrate/lib.py
  contrib/migrate/v0.33.x-to-v0.34.0.py
  docs/clients/README.md
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/legacy/v036/migrate.go
  x/genutil/legacy/v036/migrate_test.go
  x/genutil/types.go
  x/gov/legacy/v034/types.go
  x/gov/legacy/v036/migrate.go
  x/gov/legacy/v036/types.go
Labels: R4R, genesis

#4675 Export sim funcs pt2
  simapp/sim_test.go
  simapp/utils.go
  simapp/utils_test.go
  x/staking/alias.go
  x/staking/types/keys.go
Labels: R4R, code-hygiene, simulation

#4683 Remove tools from the repository
  Makefile
  contrib/devtools/Makefile
  contrib/runsim/main.go
  contrib/runsim/notification.go
  devtools-stamp
  go.mod
  go.sum
Labels: R4R, tooling

#4681 Add check before minting empty coins
  .pending/bugfixes/sdk/4681-mint-check
  x/mint/internal/keeper/keeper.go
  x/staking/keeper/pool.go
  x/supply/internal/keeper/account.go
  x/supply/internal/keeper/bank.go
  x/supply/internal/keeper/bank_test.go
Labels: R4R, minting

#4669 v0.36 distribution genesis migration
  x/distribution/legacy/v0_34/types.go
  x/distribution/legacy/v0_36/migrate.go
  x/distribution/legacy/v0_36/types.go
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v036/migrate.go
  x/genutil/legacy/v036/migrate_test.go
  x/genutil/types.go
  x/slashing/types/genesis.go
  x/slashing/types/params.go
Labels: R4R, distribution, genesis

#4679 Extended permissions for module accounts
  docs/spec/supply/01_concepts.md
  simapp/app.go
  x/auth/test_common.go
  x/distribution/keeper/test_common.go
  x/genaccounts/genesis_account.go
  x/gov/test_common.go
  x/mint/internal/keeper/test_common.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/staking/app_test.go
  x/staking/keeper/test_common.go
  x/supply/alias.go
  x/supply/exported/exported.go
  x/supply/internal/keeper/account.go
  x/supply/internal/keeper/bank.go
  x/supply/internal/keeper/bank_test.go
  x/supply/internal/keeper/keeper.go
  x/supply/internal/keeper/keeper_test.go
  x/supply/internal/keeper/test_common.go
  x/supply/internal/types/account.go
  x/supply/internal/types/account_test.go
  x/supply/internal/types/permissions.go
  x/supply/internal/types/permissions_test.go
Labels: R4R, supply

#4698 Supply patch for REST
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/swagger.yaml
  x/supply/client/rest/query.go
Labels: R4R, REST, docs

#4687 Remove go modules replace directive
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_bench_test.go
  go.mod
  go.sum
Labels: R4R, build

#4707 collect all invariants for a block before stopping
  simapp/sim_test.go
  simapp/utils.go
  types/invariant.go
  x/bank/internal/keeper/invariants.go
  x/crisis/handler.go
  x/crisis/handler_test.go
  x/crisis/internal/keeper/keeper.go
  x/distribution/keeper/invariants.go
  x/gov/invariants.go
  x/simulation/simulate.go
  x/simulation/util.go
  x/staking/keeper/invariants.go
  x/supply/internal/keeper/invariants.go
Labels: R4R

#4701 Colin/supply genesis
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/swagger.yaml
  docs/spec/supply/01_concepts.md
  simapp/app.go
  x/auth/test_common.go
  x/distribution/keeper/test_common.go
  x/genaccounts/genesis_account.go
  x/genaccounts/legacy/v0_36/migrate.go
  x/genaccounts/legacy/v0_36/types.go
  x/gov/test_common.go
  x/mint/internal/keeper/test_common.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/staking/app_test.go
  x/staking/keeper/test_common.go
  x/supply/alias.go
  x/supply/client/rest/query.go
  x/supply/exported/exported.go
  x/supply/internal/keeper/account.go
  x/supply/internal/keeper/bank.go
  x/supply/internal/keeper/bank_test.go
  x/supply/internal/keeper/keeper.go
  x/supply/internal/keeper/keeper_test.go
  x/supply/internal/keeper/test_common.go
  x/supply/internal/types/account.go
  x/supply/internal/types/account_test.go
  x/supply/internal/types/permissions.go
  x/supply/internal/types/permissions_test.go
Labels: R4R

#4710 Update Invariant Printing
  types/invariant.go
  x/bank/internal/keeper/invariants.go
  x/distribution/keeper/invariants.go
  x/gov/invariants.go
  x/staking/keeper/invariants.go
  x/supply/internal/keeper/invariants.go
Labels: R4R

#4706 Simplify context
  .pending/improvements/sdk/4706-Simplify-context
  types/context.go
  types/context_test.go
Labels: R4R, refactor

#4722 Remove Basic Permission
  docs/spec/supply/01_concepts.md
  simapp/app.go
  x/distribution/keeper/test_common.go
  x/mint/internal/keeper/test_common.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/staking/app_test.go
  x/staking/keeper/test_common.go
  x/supply/alias.go
  x/supply/internal/keeper/bank_test.go
  x/supply/internal/keeper/test_common.go
  x/supply/internal/types/account_test.go
  x/supply/internal/types/permissions.go
  x/supply/internal/types/permissions_test.go
Labels: R4R

#4691 Add baseapp concept doc
  docs/_architecture/adr-002-docs-structure.md
  docs/basics/accounts-fees-gas.md
  docs/basics/app-anatomy.md
  docs/basics/tx-lifecycle.md
  docs/building-modules.md/README.md
  docs/building-modules.md/handler.md
  docs/building-modules.md/invariants.md
  docs/building-modules.md/keeper.md
  docs/building-modules.md/module-interfaces.md
  docs/building-modules.md/modules.md
  docs/building-modules.md/querier.md
  docs/concepts/fees-signature.md
  docs/core/baseapp.md
  docs/core/baseapp_old.md
  docs/core/context.md
  docs/core/encoding.md
  docs/core/genesis.md
  docs/core/node.md
  docs/core/ocap.md
  docs/core/store.md
  docs/core/tx-msgs.md
  docs/interfaces/README.md
  docs/interfaces/cli.md
  docs/interfaces/interfaces.md
  docs/interfaces/lite/getting_started.md
  docs/interfaces/lite/pics/C2H.png
  docs/interfaces/lite/pics/H2C.png
  docs/interfaces/lite/pics/MA.png
  docs/interfaces/lite/pics/absence1.png
  docs/interfaces/lite/pics/absence2.png
  docs/interfaces/lite/pics/absence3.png
  docs/interfaces/lite/pics/architecture.png
  docs/interfaces/lite/pics/changeProcess.png
  docs/interfaces/lite/pics/commitValidation.png
  docs/interfaces/lite/pics/create-account.png
  docs/interfaces/lite/pics/deposit.png
  docs/interfaces/lite/pics/existProof.png
  docs/interfaces/lite/pics/high-level.png
  docs/interfaces/lite/pics/light-client-architecture.png
  docs/interfaces/lite/pics/loadbalanceDiagram.png
  docs/interfaces/lite/pics/simpleMerkleTree.png
  docs/interfaces/lite/pics/substoreProof.png
  docs/interfaces/lite/pics/transfer-tokens.png
  docs/interfaces/lite/pics/transfer.png
  docs/interfaces/lite/pics/trustPropagate.png
  docs/interfaces/lite/pics/updateValidatorToHeight.png
  docs/interfaces/lite/pics/validatorSetChange.png
  docs/interfaces/lite/pics/withdraw.png
  docs/interfaces/lite/readme.md
  docs/interfaces/lite/specification.md
  docs/interfaces/service-providers.md
  docs/intro/sdk-design.md
Labels: R4R, docs

#4686 v0.36 supply changes to genesis migration
  simapp/app.go
  simapp/sim_test.go
  x/auth/legacy/v0_34/types.go
  x/auth/legacy/v0_36/migrate.go
  x/auth/legacy/v0_36/migrate_test.go
  x/auth/legacy/v0_36/types.go
  x/auth/types/keys.go
  x/distribution/keeper/delegation.go
  x/distribution/legacy/v0_36/migrate.go
  x/distribution/legacy/v0_36/migrate_test.go
  x/distribution/legacy/v0_36/types.go
  x/genaccounts/legacy/v0_34/types.go
  x/genaccounts/legacy/v0_36/migrate.go
  x/genaccounts/legacy/v0_36/migrate_test.go
  x/genaccounts/legacy/v0_36/types.go
  x/genutil/legacy/v036/migrate.go
  x/gov/legacy/v034/types.go
  x/gov/legacy/v036/migrate.go
  x/gov/legacy/v036/types.go
  x/gov/legacy/v0_34/types.go
  x/gov/legacy/v0_36/migrate.go
  x/gov/legacy/v0_36/types.go
  x/simulation/simulate.go
  x/slashing/keeper.go
  x/staking/legacy/v0_34/types.go
  x/staking/legacy/v0_36/migrate.go
  x/staking/legacy/v0_36/types.go
  x/staking/simulation/msgs.go
  x/staking/types/pool.go
  x/supply/genesis.go
  x/supply/internal/keeper/bank.go
  x/supply/internal/keeper/bank_test.go
  x/supply/internal/types/supply.go
  x/supply/internal/types/supply_test.go
  x/supply/legacy/v0_36/types.go
Labels: R4R, genesis, supply

#4703 ADR section to Contribution
  CONTRIBUTING.md
  docs/architecture/README.md
  docs/architecture/adr-template.md
Labels: R4R, docs

#4742 Add Table of Contents to README
  docs/architecture/README.md
  docs/architecture/adr-002-docs-structure.md
Labels: R4R

#4717 update x/slashing to match module spec
  .pending/improvements/sdk/4717-refactor-slashi
  docs/spec/slashing/03_messages.md
  docs/spec/slashing/05_hooks.md
  x/params/alias.go
  x/params/subspace/paramset.go
  x/slashing/abci.go
  x/slashing/abci_test.go
  x/slashing/alias.go
  x/slashing/app_test.go
  x/slashing/client/cli/query.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/tx.go
  x/slashing/genesis.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/internal/keeper/hooks.go
  x/slashing/internal/keeper/infractions.go
  x/slashing/internal/keeper/keeper.go
  x/slashing/internal/keeper/keeper_test.go
  x/slashing/internal/keeper/params.go
  x/slashing/internal/keeper/querier.go
  x/slashing/internal/keeper/querier_test.go
  x/slashing/internal/keeper/signing_info.go
  x/slashing/internal/keeper/signing_info_test.go
  x/slashing/internal/keeper/test_common.go
  x/slashing/internal/keeper/unjail.go
  x/slashing/internal/types/codec.go
  x/slashing/internal/types/errors.go
  x/slashing/internal/types/events.go
  x/slashing/internal/types/expected_keepers.go
  x/slashing/internal/types/genesis.go
  x/slashing/internal/types/keys.go
  x/slashing/internal/types/msg.go
  x/slashing/internal/types/msg_test.go
  x/slashing/internal/types/params.go
  x/slashing/internal/types/querier.go
  x/slashing/internal/types/signing_info.go
  x/slashing/module.go
  x/slashing/signing_info_test.go
Labels: R4R, refactor, slashing

#4743 Update ADR template
  docs/architecture/adr-template.md
Labels: R4R

#4729 Extend DiffKVStores to return a list of KVPairs
  .pending/improvements/sdk/4640-extend-DiffKVSt
  simapp/sim_test.go
  simapp/utils.go
  simapp/utils_test.go
  store/types/utils.go
  types/store.go
Labels: R4R, simulation

#4745 Update contributing doc
  CONTRIBUTING.md
Labels: R4R, docs

#4731 Save sim params and export app state to file
  .pending/improvements/sdk/4566-sim-export
  Makefile
  simapp/doc.go
  simapp/sim_test.go
  simapp/utils.go
  x/simulation/simulate.go
Labels: R4R, simulation

#4750 Simulation: Allow the use of a custom genesis time
  simapp/sim_test.go
  simapp/utils.go
  x/simulation/simulate.go
Labels: R4R, simulation

#4752 ABCI Part Additional Translation
  docs/translations/kr/intro/sdk-app-architecture.md
Labels: R4R, docs

#4759 update x/genaccounts to match module spec
  .pending/improvements/sdk/4758-update-genaccou
  client/keys/add.go
  client/keys/import.go
  client/keys/list.go
  client/keys/parse.go
  client/keys/utils.go
  go.mod
  server/tm_cmds.go
  simapp/utils.go
  simapp/utils_test.go
  tests/mocks/account_retriever.go
  types/address.go
  types/address_test.go
  types/coin_test.go
  version/command.go
  x/auth/legacy/v0_36/migrate_test.go
  x/bank/handler_test.go
  x/bank/internal/keeper/keeper.go
  x/distribution/keeper/test_common.go
  x/distribution/legacy/v0_36/migrate_test.go
  x/distribution/proposal_handler_test.go
  x/genaccounts/alias.go
  x/genaccounts/codec.go
  x/genaccounts/expected.go
  x/genaccounts/export.go
  x/genaccounts/genesis.go
  x/genaccounts/init.go
  x/genaccounts/internal/types/codec.go
  x/genaccounts/internal/types/expected_keepers.go
  x/genaccounts/internal/types/genesis_account.go
  x/genaccounts/internal/types/genesis_account_test.go
  x/genaccounts/internal/types/genesis_state.go
  x/genaccounts/internal/types/genesis_state_test.go
  x/genaccounts/legacy/v0_36/migrate_test.go
  x/genaccounts/module.go
  x/genutil/genesis_state_test.go
  x/gov/handler_test.go
  x/gov/test_common.go
  x/gov/types/keys_test.go
  x/mint/internal/keeper/test_common.go
  x/slashing/app_test.go
  x/slashing/handler.go
  x/slashing/internal/keeper/signing_info.go
  x/slashing/internal/keeper/test_common.go
  x/slashing/internal/keeper/unjail.go
  x/staking/app_test.go
  x/staking/exported/exported.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/types/validator_test.go
  x/supply/client/cli/query.go
  x/supply/internal/keeper/test_common.go
  x/supply/internal/types/account_test.go
  x/supply/internal/types/supply.go
  x/supply/internal/types/supply_test.go
Labels: R4R, code-hygiene

#4761 Update clog & Tags
  .clog.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  go.mod
  go.sum
Labels: R4R

#4767 Sort genesis JSON before Output
  .pending/bugfixes/_Sort-state-JSON-dur
  server/export.go
  x/genutil/client/cli/init.go
Labels: R4R

#4768 Sort JSON during migration
  x/genutil/client/cli/migrate.go
Labels: R4R

#4770 Migrate Validators v0.36
  x/staking/legacy/v0_34/types.go
  x/staking/legacy/v0_36/migrate.go
  x/staking/legacy/v0_36/types.go
  x/staking/types/commission.go
  x/staking/types/validator_test.go
Labels: R4R

#4757 update x/genutil to match module spec
  .clog.yaml
  .pending/improvements/modules/_4751-update-genutil
  x/genaccounts/alias.go
  x/genaccounts/genesis.go
  x/genaccounts/internal/types/codec.go
  x/genaccounts/internal/types/expected_keepers.go
  x/genaccounts/internal/types/genesis_account.go
  x/genaccounts/internal/types/genesis_account_test.go
  x/genaccounts/internal/types/genesis_state.go
  x/genaccounts/internal/types/genesis_state_test.go
  x/genaccounts/module.go
  x/genutil/alias.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/codec.go
  x/genutil/collect.go
  x/genutil/expected.go
  x/genutil/genesis.go
  x/genutil/genesis_state_test.go
  x/genutil/gentx.go
  x/genutil/module.go
  x/genutil/types.go
  x/genutil/types/codec.go
  x/genutil/types/expected_keepers.go
  x/genutil/types/genesis_state.go
  x/genutil/types/genesis_state_test.go
  x/genutil/types/types.go
Labels: R4R, code-hygiene

#4772 Add New Events Attributes
  docs/spec/bank/04_events.md
  types/events.go
  x/bank/internal/keeper/keeper.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/keeper.go
  x/distribution/types/events.go
  x/gov/deposit.go
  x/gov/types/events.go
  x/mint/abci.go
  x/mint/internal/types/events.go
  x/staking/handler.go
  x/staking/types/events.go
Labels: R4R

#4779 Update staking/supply to use exported account interface
  x/staking/types/expected_keepers.go
  x/supply/genesis.go
Labels: R4R

#4764 fix flag min-self-delegation
  .pending/bugfixes/cli/_4763-fix-flag-min-s
  x/staking/client/cli/tx.go
Labels: CLI, R4R

#4777 Fix Height Queries
  .pending/breaking/_All-REST-responses-
  .pending/bugfixes/_Return-height-in-re
  baseapp/baseapp.go
  client/context/query.go
  types/rest/rest.go
  types/rest/rest_test.go
Labels: CLI, R4R, REST, api-breaking

#4784 JSON representation of event stats
  .clog.yaml
  .pending/improvements/simulation/_4670-JSON-sim-stats
  simapp/sim_test.go
  simapp/utils.go
  x/distribution/simulation/msgs.go
  x/genutil/types/genesis_state_test.go
  x/gov/simulation/msgs.go
  x/simulation/event_stats.go
  x/simulation/mock_tendermint.go
  x/simulation/operation.go
  x/simulation/simulate.go
  x/slashing/simulation/msgs.go
  x/staking/simulation/msgs.go
Labels: R4R, simulation

#4760 update x/auth to match module spec
  .pending/improvements/modules/_4760-update-auth
  client/cmd_test.go
  x/auth/alias.go
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/keeper.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_bench_test.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/params.go
  x/auth/keeper/querier.go
  x/auth/keeper/querier_test.go
  x/auth/keeper/test_common.go
  x/auth/keeper_test.go
  x/auth/querier_test.go
  x/mock/app.go
  x/slashing/internal/types/expected_keepers.go
  x/staking/types/expected_keepers.go
  x/supply/genesis.go
  x/supply/internal/keeper/common_test.go
Labels: R4R, code-hygiene

#4792 panic on non-registered store
  .pending/improvements/store/_4792-panic-non-regi
  go.mod
  go.sum
  store/cachemulti/store.go
Labels: R4R

#4716 Fix ledger custom coin type support bug
  .pending/bugfixes/keys/Fix-ledger-custom-co
  client/keys/add_ledger_test.go
  crypto/ledger_mock.go
  crypto/ledger_secp256k1.go
Labels: R4R, ledger

#4801 Update tools dependency
  .circleci/config.yml
  go.mod
  go.sum
Labels: code-hygiene

#4766 NFT spec
  docs/spec/README.md
  docs/spec/SPEC-SPEC.md
  docs/spec/nft/01_concepts.md
  docs/spec/nft/02_state.md
  docs/spec/nft/03_messages.md
  docs/spec/nft/04_events.md
  docs/spec/nft/05_future_improvements.md
  docs/spec/nft/06_appendix.md
  docs/spec/nft/README.md
  x/nft/alias.go
  x/nft/handler.go
  x/nft/handler_test.go
  x/nft/internal/types/events.go
  x/nft/internal/types/msgs.go
  x/nft/internal/types/msgs_test.go
Labels: WIP, spec

#4800 Organize store keys in app.go into a map
  .pending/improvements/keys/_4611-store-keys-in-
  baseapp/baseapp.go
  simapp/app.go
  simapp/export.go
  simapp/sim_test.go
  simapp/utils.go
  types/store.go
  x/distribution/alias.go
  x/distribution/client/proposal_handler.go
  x/distribution/types/keys.go
  x/params/alias.go
Labels: R4R, baseapp, dev-ux

#4823 fix DefaultUnbondingTime
  .pending/bugfixes/modules/_fix-defaultunbondin
  x/staking/types/params.go
Labels: R4R, staking

#4798 Deprecate remove and add permissions in ModuleAccount
  .pending/improvements/modules/4762-Deprecate-remov
  x/supply/internal/keeper/keeper_test.go
  x/supply/internal/types/account.go
  x/supply/internal/types/account_test.go
Labels: R4R

#4797 blacklist module accounts from receiving txs
  .pending/bugfixes/modules/_4795-restrict-txs-m
  docs/spec/supply/01_concepts.md
  simapp/app.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/handler.go
  x/bank/internal/keeper/common_test.go
  x/bank/internal/keeper/invariants.go
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/test_common.go
  x/gov/test_common.go
  x/mint/internal/keeper/common_test.go
  x/slashing/app_test.go
  x/slashing/internal/keeper/test_common.go
  x/staking/app_test.go
  x/staking/keeper/test_common.go
  x/supply/internal/keeper/common_test.go
Labels: R4R, bug, supply

#4790 fix multisig output
  .pending/bugfixes/keys/_4338-fix-multisig-o
  crypto/keys/output.go
  crypto/keys/output_test.go
  crypto/keys/types.go
  crypto/keys/types_test.go
Labels: R4R, bug

#4825 Fix upload_coverage CI Job
  .circleci/config.yml
Labels: CI, R4R
