Repository cosmos/cosmos-sdk, pull requests merged in 2019-12, with the labels that each got.

#5348 Fix Ignored Error During Tx Generate Only Mode
  CHANGELOG.md
  x/auth/client/utils/tx.go
Labels: R4R

#5310 Add IBC REST endpoints
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/swagger.yaml
  types/rest/rest.go
  x/ibc/02-client/client/rest/query.go
  x/ibc/02-client/client/rest/rest.go
  x/ibc/02-client/client/rest/swagger.go
  x/ibc/02-client/client/rest/tx.go
  x/ibc/02-client/module.go
  x/ibc/03-connection/client/rest/query.go
  x/ibc/03-connection/client/rest/rest.go
  x/ibc/03-connection/client/rest/swagger.go
  x/ibc/03-connection/client/rest/tx.go
  x/ibc/03-connection/module.go
  x/ibc/04-channel/client/rest/query.go
  x/ibc/04-channel/client/rest/rest.go
  x/ibc/04-channel/client/rest/swagger.go
  x/ibc/04-channel/client/rest/tx.go
  x/ibc/04-channel/module.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/20-transfer/client/rest/query.go
  x/ibc/20-transfer/client/rest/rest.go
  x/ibc/20-transfer/client/rest/swagger.go
  x/ibc/20-transfer/client/rest/tx.go
  x/ibc/20-transfer/module.go
  x/ibc/client/rest/rest.go
  x/ibc/module.go
Labels: R4R, REST, x/ibc

#5351 fix ibc proofs
  x/ibc/02-client/client/cli/cli.go
  x/ibc/02-client/client/cli/query.go
  x/ibc/02-client/client/cli/tx.go
  x/ibc/02-client/client/rest/query.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/03-connection/client/cli/cli.go
  x/ibc/03-connection/client/cli/query.go
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/client/rest/query.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/04-channel/client/cli/cli.go
  x/ibc/04-channel/client/cli/query.go
  x/ibc/04-channel/client/cli/tx.go
  x/ibc/04-channel/client/rest/query.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/types/querier.go
  x/ibc/05-port/keeper/keeper_test.go
  x/ibc/20-transfer/client/cli/cli.go
  x/ibc/20-transfer/client/cli/query.go
  x/ibc/20-transfer/client/cli/tx.go
  x/ibc/20-transfer/client/rest/query.go
  x/ibc/20-transfer/client/utils/utils.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/types/msgs_test.go
Labels: R4R, x/ibc

#5299 Migrate Equivocation Handling to x/evidence
  CHANGELOG.md
  simapp/app.go
  x/evidence/abci.go
  x/evidence/alias.go
  x/evidence/client/cli/query.go
  x/evidence/client/rest/query.go
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/handler_test.go
  x/evidence/internal/keeper/infraction.go
  x/evidence/internal/keeper/infraction_test.go
  x/evidence/internal/keeper/keeper.go
  x/evidence/internal/keeper/keeper_test.go
  x/evidence/internal/keeper/params.go
  x/evidence/internal/keeper/params_test.go
  x/evidence/internal/keeper/querier.go
  x/evidence/internal/keeper/querier_test.go
  x/evidence/internal/types/codec.go
  x/evidence/internal/types/evidence.go
  x/evidence/internal/types/evidence_test.go
  x/evidence/internal/types/expected_keepers.go
  x/evidence/internal/types/genesis.go
  x/evidence/internal/types/genesis_test.go
  x/evidence/internal/types/keys.go
  x/evidence/internal/types/params.go
  x/evidence/internal/types/querier.go
  x/evidence/module.go
  x/evidence/spec/05_params.md
  x/evidence/spec/06_begin_block.md
  x/evidence/spec/README.md
  x/params/keeper_test.go
  x/params/subspace/subspace.go
  x/slashing/abci.go
  x/slashing/alias.go
  x/slashing/internal/keeper/infractions.go
  x/slashing/internal/keeper/keeper.go
  x/slashing/internal/keeper/keeper_test.go
  x/slashing/internal/keeper/params.go
  x/slashing/internal/keeper/signing_info.go
  x/slashing/internal/keeper/signing_info_test.go
  x/slashing/internal/types/genesis.go
  x/slashing/internal/types/params.go
  x/slashing/simulation/genesis.go
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/06_events.md
  x/slashing/spec/08_params.md
  x/slashing/spec/README.md
Labels: R4R, x/evidence, x/slashing

#5352 Allow node to restart after halt config trigger
  CHANGELOG.md
  baseapp/abci.go
  server/config/config.go
  server/config/toml.go
Labels: R4R, baseapp

#5342 fix MsgEditValidator json tag
  CHANGELOG.md
  x/staking/legacy/v0_36/types.go
  x/staking/legacy/v0_38/types.go
  x/staking/types/msg.go
Labels: REST, api-breaking, will-merge

#5340 ADR 17: Historical header module
  docs/architecture/README.MD
  docs/architecture/adr-017-historical-header-module.md
  docs/architecture/adr-template.md
Labels: ADR, R4R

#5362 Updated PR template, stale and codecov settings
  .codecov.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
Labels: R4R

#5321 ICS-2 Implement Misbehavior
  simapp/app.go
  x/evidence/exported/evidence.go
  x/ibc/02-client/alias.go
  x/ibc/02-client/client/cli/tx.go
  x/ibc/02-client/client/rest/rest.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/errors/errors.go
  x/ibc/02-client/types/events.go
  x/ibc/02-client/types/keys.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/02-client/types/tendermint/codec.go
  x/ibc/02-client/types/tendermint/committer.go
  x/ibc/02-client/types/tendermint/consensus_state.go
  x/ibc/02-client/types/tendermint/consensus_state_test.go
  x/ibc/02-client/types/tendermint/doc.go
  x/ibc/02-client/types/tendermint/evidence.go
  x/ibc/02-client/types/tendermint/evidence_test.go
  x/ibc/02-client/types/tendermint/header.go
  x/ibc/02-client/types/tendermint/misbehaviour.go
  x/ibc/02-client/types/tendermint/misbehaviour_test.go
  x/ibc/02-client/types/tendermint/tendermint_test.go
  x/ibc/02-client/types/tendermint/test_utils.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/handler.go
Labels: R4R, x/evidence, x/ibc

#4869 Sim refactor 3: move weighted operations to modules
  CHANGELOG.md
  simapp/app.go
  simapp/params.go
  simapp/params/doc.go
  simapp/params/weights.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/state.go
  simapp/utils.go
  types/module/simulation.go
  x/auth/module.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/proposals.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/simulation/proposals.go
  x/mint/module.go
  x/params/module.go
  x/params/simulation/operations.go
  x/params/simulation/proposals.go
  x/simulation/operation.go
  x/simulation/params.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
  x/staking/module.go
  x/staking/simulation/operations.go
  x/supply/module.go
Labels: R4R, code-hygiene, simulation

#5366 Small non-breaking UX changes to keys {list,delete} commands
  CHANGELOG.md
  client/keys/delete.go
  client/keys/list.go
  client/keys/list_test.go
Labels: CLI, R4R, keys

#5360 R4R: Sortable Decimal Bytes
  types/decimal.go
  types/decimal_test.go
Labels: R4R, types

#5373 [x/simulation] RandSubsetCoins() should return sorted coinset
  x/simulation/rand_util.go
  x/simulation/rand_util_test.go
Labels: R4R, simulation

#5356 use isPositive on staking msg validation
  x/staking/types/commission.go
  x/staking/types/delegation.go
  x/staking/types/genesis.go
  x/staking/types/msg.go
Labels: R4R, code-hygiene, x/staking

#5376 Add Scaffolding tooling to README
  README.md
  docs/core/ocap.md
Labels: R4R, docs

#5368 Params Validation II
  types/coin.go
  types/dec_coin.go
  types/denom.go
  x/auth/ante/ante_test.go
  x/auth/simulation/genesis.go
  x/auth/types/params.go
  x/bank/internal/types/params.go
  x/crisis/internal/types/params.go
  x/distribution/keeper/params.go
  x/evidence/internal/types/params.go
  x/gov/types/params.go
  x/mint/alias.go
  x/mint/internal/types/genesis.go
  x/mint/internal/types/params.go
  x/params/keeper_test.go
  x/params/proposal_handler_test.go
  x/params/types/proposal_test.go
  x/slashing/handler_test.go
  x/slashing/internal/types/params.go
  x/staking/handler_test.go
  x/staking/types/params.go
Labels: R4R, x/params

#5357 Misc ibc fixes
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/04-channel/client/cli/tx.go
  x/ibc/20-transfer/client/cli/tx.go
Labels: R4R, bug, x/ibc

#5359 Params Validation
  types/coin.go
  types/dec_coin.go
  types/denom.go
  x/auth/ante/ante_test.go
  x/auth/simulation/genesis.go
  x/auth/simulation/params.go
  x/auth/types/params.go
  x/bank/internal/types/params.go
  x/bank/simulation/params.go
  x/crisis/internal/types/params.go
  x/distribution/keeper/params.go
  x/distribution/simulation/params.go
  x/evidence/internal/types/params.go
  x/gov/simulation/params.go
  x/gov/types/params.go
  x/mint/alias.go
  x/mint/internal/types/genesis.go
  x/mint/internal/types/params.go
  x/mint/simulation/params.go
  x/params/alias.go
  x/params/client/utils/utils.go
  x/params/client/utils/utils_test.go
  x/params/doc.go
  x/params/keeper.go
  x/params/keeper_test.go
  x/params/proposal_handler.go
  x/params/proposal_handler_test.go
  x/params/simulation/operations.go
  x/params/subspace/common_test.go
  x/params/subspace/doc.go
  x/params/subspace/paramset.go
  x/params/subspace/subspace.go
  x/params/subspace/subspace_test.go
  x/params/subspace/table.go
  x/params/subspace/table_test.go
  x/params/subspace/test_common.go
  x/params/types/errors.go
  x/params/types/proposal.go
  x/params/types/proposal_test.go
  x/simulation/params.go
  x/slashing/handler_test.go
  x/slashing/internal/types/params.go
  x/slashing/simulation/params.go
  x/staking/handler_test.go
  x/staking/simulation/params.go
  x/staking/types/params.go
Labels: R4R, x/params

#5249 Support for sending funds to the community pool
  CHANGELOG.md
  simapp/app.go
  simapp/app_test.go
  simapp/test_helpers.go
  x/bank/app_test.go
  x/bank/internal/keeper/keeper_test.go
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/tx.go
  x/distribution/handler.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/types/msg.go
  x/distribution/types/msg_test.go
Labels: R4R, x/distribution

#5384 Fund Community Pool -- Part II
  simapp/params/weights.go
  x/distribution/alias.go
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/tx.go
  x/distribution/handler.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/simulation/operations.go
  x/distribution/types/msg.go
  x/distribution/types/msg_test.go
Labels: R4R, x/distribution

#5355 keyring's encrypted file backend integration
  CHANGELOG.md
  Makefile
  client/alias.go
  client/config.go
  client/flags/flags.go
  client/keys/export.go
  client/keys/import.go
  client/keys/root.go
  client/keys/root_test.go
  client/keys/utils.go
  client/keys/utils_test.go
  crypto/keys/README.md
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  x/genutil/client/cli/gentx.go
Labels: CLI, R4R, keys

#5230 [ADR: 015] IBC Packet Receiver
  docs/architecture/README.md
  docs/architecture/adr-015-ibc-packet-receiver.md
Labels: ADR, WIP, x/ibc

#5391 Bump font weight docs website and fix link
  README.md
  docs/README.md
  docs/package-lock.json
  docs/package.json
Labels: R4R, docs

#5396 Fix links on homepage, reduce font weight in cards
  docs/package-lock.json
  docs/package.json
Labels: R4R, docs

#5385 fix int overflow error for rand.Intn
  simapp/state.go
Labels: R4R

#5392 Fix typos in the CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: R4R, docs

#5399 Fix Uint#LTE
  CHANGELOG.md
  types/uint.go
  types/uint_test.go
Labels: R4R, types

#5400 Small fix to module docs ordering
  x/README.md
  x/mint/spec/01_concepts.md
  x/slashing/spec/README.md
Labels: R4R, docs

#5278 Interchangable PrivKey implementations in keybase
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/codec.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/list_test.go
  client/keys/migrate.go
  client/keys/migrate_test.go
  client/keys/mnemonic.go
  client/keys/mnemonic_test.go
  client/keys/parse.go
  client/keys/root.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/update.go
  client/keys/update_test.go
  client/keys/utils.go
  crypto/keys/codec.go
  crypto/keys/keybase.go
  crypto/keys/keybase_base.go
  crypto/keys/keybase_test.go
  crypto/keys/keyring.go
  crypto/keys/lazy_keybase.go
  crypto/keys/lazy_keybase_test.go
  crypto/keys/types.go
Labels: R4R, keys

#5402 Implement Query Committer methods in ICS-02
  x/ibc/02-client/client/cli/query.go
  x/ibc/02-client/client/rest/query.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/querier.go
  x/ibc/02-client/types/querier.go
Labels: R4R, x/ibc

#5407 Bump x/simulation coverage
  x/simulation/account_test.go
  x/simulation/rand_util_test.go
Labels: R4R, tests

#5397 [R4R] ADR 003: Dynamic Capability Store
  docs/architecture/README.md
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: R4R, docs, x/ibc

#5377 update SECURITY.md
  .github/ISSUE_TEMPLATE/bug-report.md
  SECURITY.md
Labels: R4R, docs, security

#5364 IBC UX improvements
  client/flags/flags.go
  x/ibc/02-client/alias.go
  x/ibc/02-client/client/cli/cli.go
  x/ibc/02-client/client/cli/query.go
  x/ibc/02-client/client/rest/query.go
  x/ibc/02-client/client/rest/rest.go
  x/ibc/02-client/client/rest/swagger.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/keeper/querier.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/keys.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/querier.go
  x/ibc/03-connection/alias.go
  x/ibc/03-connection/client/cli/cli.go
  x/ibc/03-connection/client/cli/query.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/querier.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/keys.go
  x/ibc/03-connection/types/querier.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/querier.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/keys.go
  x/ibc/04-channel/types/querier.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/keeper/querier.go
  x/ibc/keeper/querier_test.go
  x/ibc/types/keys.go
  x/ibc/types/types.go
Labels: R4R, UX, x/ibc

#5410 fix DecCoins constructor
  CHANGELOG.md
  types/dec_coin.go
  types/dec_coin_test.go
Labels: R4R, bug, types

#5406 Reduce password prompt duplication when using keyring's file backend
  x/genutil/client/cli/gentx.go
Labels: CLI, R4R

#5378 application interfaces for simulation
  CHANGELOG.md
  simapp/app.go
  simapp/app_test.go
  simapp/config.go
  simapp/params/params.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/state.go
  simapp/test_helpers.go
  simapp/types.go
  simapp/utils.go
Labels: R4R, code-hygiene, simulation

#5417 Update distribution module doc
  x/distribution/alias.go
  x/distribution/doc.go
Labels: R4R, docs, x/distribution

#5380 ADR 17 Implementation: Historical Module
  CHANGELOG.md
  x/staking/abci.go
  x/staking/alias.go
  x/staking/client/cli/query.go
  x/staking/client/rest/query.go
  x/staking/handler.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/params.go
  x/staking/keeper/querier.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/val_state_change.go
  x/staking/module.go
  x/staking/simulation/genesis.go
  x/staking/spec/01_state.md
  x/staking/spec/04_begin_block.md
  x/staking/spec/05_end_block.md
  x/staking/spec/06_hooks.md
  x/staking/spec/07_events.md
  x/staking/spec/07_params.md
  x/staking/spec/08_params.md
  x/staking/spec/README.md
  x/staking/types/errors.go
  x/staking/types/historical_info.go
  x/staking/types/historical_info_test.go
  x/staking/types/keys.go
  x/staking/types/params.go
  x/staking/types/querier.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: R4R, x/ibc, x/staking

#5419 Parametrise simulation gas value
  CHANGELOG.md
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: R4R, simulation

#5405 x/gov: Queries to /gov/proposals/{proposalID}/votes support pagination
  x/gov/client/cli/query.go
  x/gov/client/rest/query.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/querier.go
  x/gov/keeper/querier_test.go
  x/gov/types/querier.go
Labels: R4R, REST, x/gov

#5425 fix ICS02 queries
  x/ibc/02-client/client/cli/query.go
  x/ibc/02-client/client/rest/query.go
  x/ibc/02-client/client/utils/utils.go
Labels: R4R, bug, x/ibc

#5418 RC1 v0.37.5 Cherry Picks
  CHANGELOG.md
  baseapp/baseapp.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  store/iavl/store.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/decimal.go
  types/decimal_test.go
  types/uint.go
  types/uint_test.go
Labels: R4R, next-point-release

#5442 Remove of the client/alias.go
  CHANGELOG.md
  client/alias.go
  client/routes.go
  x/auth/client/cli/decode.go
  x/auth/client/utils/tx.go
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/evidence/client/cli/query.go
  x/evidence/client/cli/tx.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/migrate_test.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/mint/client/cli/query.go
  x/slashing/client/cli/query.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
  x/supply/client/cli/query.go
  x/upgrade/module.go
Labels: R4R, code-hygiene

#5445 Mock rpcclient in tests for votes pagination
  x/gov/client/cli/query.go
  x/gov/client/rest/query.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
Labels: R4R, x/gov

#5435 Added iterator that allows to read only requested values
  CHANGELOG.md
  store/types/iterator.go
  store/types/iterator_test.go
  types/store.go
Labels: R4R

#5427 Remove code duplication in x/auth/client/cli
  CHANGELOG.md
  client/flags/flags.go
  x/auth/client/cli/decode.go
Labels: CLI, R4R, code-hygiene
