Repository cosmos/cosmos-sdk, pull requests merged in 2019-01, with the labels that each got.

#3212 R4R: Add IsValid check on sendCoins
  types/coin.go
  x/bank/keeper.go
  x/bank/keeper_test.go
  x/bank/msgs.go
Labels: core, ready-for-review, sdk.coins, security

#3189 R4R: Reset slashing periods on export
  PENDING.md
  cmd/gaia/app/export.go
  x/slashing/genesis.go
  x/slashing/hooks.go
  x/slashing/slashing_period.go
  x/slashing/slashing_period_test.go
Labels: game-of-stakes, genesis, ready-for-review, slashing

#3213 R4R: Hotfix v0.29.1 for GoS
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  x/bank/keeper.go
  x/bank/keeper_test.go
  x/bank/msgs.go
Labels: game-of-stakes, ready-for-review

#3229 R4R: Change swagger host for online API requests
  PENDING.md
  client/lcd/swagger-ui/swagger.yaml
Labels: API, ready-for-review

#3159 R4R: Add address interface
  PENDING.md
  types/address.go
  types/address_test.go
Labels: ready-for-review

#3216 F1: Add O(1) slashing section
  docs/spec/spec-proposals/f1-fee-distribution/f1_fee_distr.pdf
  docs/spec/spec-proposals/f1-fee-distribution/f1_fee_distr.tex
Labels: spec

#3230 R4R: Remove KV marshalling split
  PENDING.md
  x/stake/client/cli/query.go
  x/stake/client/cli/utils.go
  x/stake/keeper/delegation.go
  x/stake/keeper/query_utils.go
  x/stake/keeper/sdk_types.go
  x/stake/keeper/validator.go
  x/stake/types/delegation.go
  x/stake/types/validator.go
Labels: breaking, ready-for-review, staking

#3247 WIP: Added test for governance queues import/export fix
  x/gov/endblocker_test.go
  x/gov/genesis.go
  x/gov/genesis_test.go
  x/gov/keeper_test.go
  x/gov/params.go
  x/gov/querier_test.go
  x/gov/tally_test.go
  x/gov/test_common.go
Labels: bug, governance, ready-for-review, tests

#3232 R4R: fix swagger
  client/lcd/swagger-ui/swagger.yaml
  docs/DOCS_README.md
Labels: docs, ready-for-review, will-merge

#3254 R4R: Increase coins test coverage
  types/coin_test.go
Labels: ready-for-review, tests

#3244 R4R: Fix runTx Gas Consumption during Tx Aborting
  PENDING.md
  baseapp/baseapp.go
  x/auth/ante.go
Labels: baseapp, breaking, ready-for-review

#3195 R4R: Configurable pruning
  PENDING.md
  baseapp/baseapp_test.go
  baseapp/options.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiadebug/hack.go
  cmd/gaia/cmd/gaiareplay/main.go
  docs/examples/basecoin/cmd/basecoind/main.go
  server/mock/store.go
  store/codec.go
  store/dbstoreadapter.go
  store/iavlstore.go
  store/multistoreproof_test.go
  store/pruning.go
  store/rootmultistore.go
  store/rootmultistore_test.go
  store/transientstore.go
  types/store.go
Labels: breaking, core, ready-for-review

#3250 R4R: CLI Test refactor and coverage increase
  PENDING.md
  cmd/gaia/cli_test/README.md
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  tests/gobash.go
Labels: CLI, ready-for-review

#3265 R4R: Fix IsAnyGTE
  cmd/gaia/cli_test/cli_test.go
  types/coin.go
  types/coin_test.go
Labels: sdk.coins, will-merge

#3269 R4R: Rename Proposal TallyResult to FinalTallyResult
  PENDING.md
  client/lcd/swagger-ui/swagger.yaml
  x/gov/handler.go
  x/gov/keeper.go
  x/gov/proposals.go
  x/gov/querier.go
Labels: governance, ready-for-review

#3278 R4R: Upgrade Tendermint to 0.27.4
  Gopkg.lock
  Gopkg.toml
  PENDING.md
Labels: ready-for-review

#2694 [R4R]: Vesting Account(s) Implementation
  PENDING.md
  docs/spec/auth/vesting.md
  types/coin.go
  types/int.go
  types/int_test.go
  x/auth/account.go
  x/auth/account_test.go
  x/auth/ante.go
  x/bank/keeper.go
  x/bank/keeper_test.go
  x/bank/tags.go
  x/staking/keeper/delegation.go
Labels: breaking, core, prelaunch, ready-for-review

#3282 R4R: build gaia docker image during CI
  .circleci/config.yml
  PENDING.md
Labels: CI, ready-for-review

#3285 R4R: Add tendermint version command
  PENDING.md
  server/tm_cmds.go
  server/util.go
Labels: ready-for-review

#2894 [R4R] #2730 add tx search pagination related CLI/REST API parameter
  PENDING.md
  client/tx/search.go
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/cmd/gaiadebug/hack.go
  docs/examples/democoin/app/app.go
  docs/gaia/gaiacli.md
  types/stake.go
  x/distribution/alias.go
  x/gov/client/utils/query.go
  x/slashing/signing_info.go
Labels: CLI, gaia-lite, wip

#3243 R4R: allow multiple simultaneous redelegations/ubds between same delegator/validator(s) addresses
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/export.go
  cmd/gaia/cli_test/cli_test.go
  docs/spec/staking/state.md
  x/staking/genesis.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/test_common.go
  x/staking/querier/querier_test.go
  x/staking/simulation/invariants.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/errors.go
Labels: breaking, ready-for-review, staking

#3304 R4R: Non-zero-height export fix
  cmd/gaia/cmd/gaiad/main.go
Labels: CLI, bug, game-of-stakes, ready-for-review

#3264 R4R: Multisig support
  PENDING.md
  baseapp/baseapp_test.go
  client/keys/add.go
  client/utils/utils.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiareplay/main.go
  cmd/gaia/init/genesis_accts.go
  docs/examples/democoin/x/simplestaking/client/cli/commands.go
  docs/gaia/gaiacli.md
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/client/cli/multisign.go
  x/auth/client/cli/sign.go
  x/auth/client/rest/sign.go
  x/gov/genesis_test.go
Labels: ready-for-review

#3292 R4R: Enable/disable withdraw addresses with a parameter
  PENDING.md
  cmd/gaia/cmd/gaiad/main.go
  x/distribution/genesis.go
  x/distribution/handler.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/key.go
  x/distribution/keeper/params.go
  x/distribution/types/errors.go
  x/distribution/types/genesis.go
Labels: breaking, distribution, prelaunch, ready-for-review

#3318 R4R: Upgrade to latest tendermint
  Gopkg.lock
  Gopkg.toml
  PENDING.md
Labels: ready-for-review

#3316 R4R: fix regression in gaiacli config file handling
  PENDING.md
  client/config.go
  client/flags.go
  client/rpc/block.go
  client/rpc/validators.go
  client/tx/query.go
  client/tx/search.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/gaia/gaiacli.md
Labels: ready-for-review

#3308 R4R: Genesis Vesting Accounts & Simulation
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/app/sim_test.go
  docs/spec/auth/vesting.md
  x/auth/account.go
  x/auth/account_test.go
  x/auth/codec.go
  x/bank/keeper_test.go
  x/bank/simulation/msgs.go
  x/mock/simulation/account.go
  x/mock/simulation/simulate.go
Labels: core, prelaunch, ready-for-review, simulation

#3315 R4R: Increase decimal precision to 18
  PENDING.md
  client/lcd/lcd_test.go
  types/decimal.go
  types/decimal_test.go
Labels: breaking, core, ready-for-review

#3314 R4R: Staking misc rename
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/sim_test.go
  docs/spec/distribution/hooks.md
  docs/spec/staking/tags.md
  x/gov/client/utils/query.go
  x/slashing/handler_test.go
  x/slashing/keeper_test.go
  x/slashing/test_common.go
  x/staking/app_test.go
  x/staking/client/cli/tx.go
  x/staking/client/rest/query.go
  x/staking/client/rest/tx.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/querier/querier_test.go
  x/staking/simulation/msgs.go
  x/staking/staking.go
  x/staking/test_common.go
  x/staking/types/codec.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/validator.go
Labels: breaking, ready-for-review, staking

#3258 R4R: Refactor Gas/Fee Model
  PENDING.md
  baseapp/baseapp.go
  baseapp/options.go
  client/flags.go
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/utils/rest.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/init/testnet.go
  docs/gaia/gaiacli.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/start.go
  types/coin.go
  types/coin_test.go
  types/context.go
  types/context_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/decimal.go
  types/decimal_test.go
  x/auth/ante.go
  x/auth/ante_test.go
  x/auth/client/rest/sign.go
  x/auth/client/txbuilder/txbuilder.go
  x/auth/client/txbuilder/txbuilder_test.go
Labels: breaking, core, prelaunch, ready-for-review, refactor

#3319 R4R: Distribution Queriers & CLI query commands
  PENDING.md
  cmd/gaia/app/app.go
  docs/gaia/gaiacli.md
  x/distribution/alias.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/util.go
  x/distribution/client/module_client.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
Labels: CLI, distribution, game-of-stakes, ready-for-review, ux

#3143 WIP: custom Bech32 prefixes break tutorial code
  docs/examples/basecoin/cmd/basecoind/main.go
Labels: ready-for-review

#3281 R4R: Staking Spec Upgrade
  PENDING.md
  client/lcd/lcd_test.go
  client/lcd/test_helpers.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/app/sim_test.go
  docs/gaia/gaiacli.md
  docs/spec/SPEC-SPEC.md
  docs/spec/_ics/ics-030-signed-messages.md
  docs/spec/_proposals/f1-fee-distribution/f1_fee_distr.pdf
  docs/spec/_proposals/f1-fee-distribution/f1_fee_distr.tex
  docs/spec/addresses/bech32.md
  docs/spec/bank/messages.md
  docs/spec/distribution/messages.md
  docs/spec/governance/messages.md
  docs/spec/inflation/end_block.md
  docs/spec/inflation/state.md
  docs/spec/other/other.md
  docs/spec/reserve-pool/TODO.md
  docs/spec/slashing/messages.md
  docs/spec/staking/TODO.md
  docs/spec/staking/end_block.md
  docs/spec/staking/hooks.md
  docs/spec/staking/messages.md
  docs/spec/staking/overview.md
  docs/spec/staking/state.md
  docs/spec/staking/transactions.md
  x/distribution/keeper/test_common.go
  x/gov/test_common.go
  x/slashing/app_test.go
  x/slashing/test_common.go
  x/staking/app_test.go
  x/staking/handler.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/sdk_types.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/invariants.go
  x/staking/types/msg.go
  x/staking/types/params.go
  x/staking/types/pool.go
  x/staking/types/pool_test.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: breaking, docs, ready-for-review, staking

#3334 R4R: add command to generate bash completion for gaia{d,cli}
  PENDING.md
  client/flags.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  docs/gaia/gaiacli.md
Labels: ready-for-review

#3342 R4R: make gaiacli config handle "indent" flag
  PENDING.md
  client/config.go
  cmd/gaia/cli_test/cli_test.go
Labels: ready-for-review

#3323 R4R: Update to Tendermint 0.29.0
  Gopkg.lock
  Gopkg.toml
  PENDING.md
Labels: game-of-stakes, ready-for-review

#3343 R4R: enrich version command's output
  .circleci/config.yml
  Makefile
  PENDING.md
  version/command.go
  version/version.go
Labels: ready-for-review

#3347 R4R: Ensure Canonical Message Signature Bytes
  PENDING.md
  x/bank/msgs.go
  x/bank/msgs_test.go
  x/distribution/types/msg.go
  x/gov/msgs.go
  x/slashing/msg.go
  x/staking/types/msg.go
Labels: breaking, prelaunch, ready-for-review

#3333 R4R: F1 storage efficiency improvements
  PENDING.md
  cmd/gaia/app/export.go
  docs/spec/distribution/f1_reference_counting.md
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/key.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/simulation/invariants.go
  x/distribution/types/validator.go
  x/staking/types/validator_test.go
Labels: distribution, performance, prelaunch, ready-for-review

#3359 R4R: Round down when calculating rewards (fixes F1 sim bug)
  PENDING.md
  types/dec_coin.go
  types/decimal.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/validator.go
Labels: distribution, game-of-stakes, ready-for-review

#3361 R4R: Fix Fee Usage for Vesting Accounts in Simulation
  x/auth/simulation/fake.go
Labels: game-of-stakes, ready-for-review, simulation

#3363 R4R: Only Track Undelegation for non-zero Amounts
  x/staking/keeper/delegation.go
Labels: bug, game-of-stakes, simulation

#3241 R4R: Add Fee & Gas Spec
  docs/spec/auth/README.md
  docs/spec/auth/gas_fees.md
Labels: docs, ready-for-review, spec

#3365 R4R: Simulation Fee Deduction Fixes
  x/auth/account.go
  x/auth/simulation/fake.go
Labels: game-of-stakes, ready-for-review, simulation

#3373 R4R: F1 storage simulation debugging
  x/auth/simulation/fake.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/simulation/invariants.go
  x/staking/genesis.go
Labels: distribution, game-of-stakes, ready-for-review

#3378 R4R: Floor slash fraction
  x/distribution/keeper/delegation.go
  x/distribution/keeper/validator.go
  x/staking/keeper/slash.go
Labels: ready-for-review

#3381 R4R: Add vendor-deps to `.gitignore`
  .gitignore
Labels: ready-for-review, tooling, ux

#3379 R4R: Fix staking hooks on import exported state
  x/staking/genesis.go
  x/staking/keeper/delegation.go
Labels: distribution, game-of-stakes, ready-for-review, staking

#3382 WIP: Import/Export Vesting Accounts Correctly
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/app/sim_test.go
  docs/spec/auth/vesting.md
  x/auth/account.go
Labels: game-of-stakes, simulation, wip

#3350 R4R: Release v0.30.0 back to develop
  CHANGELOG.md
  PENDING.md
Labels: ready-for-review

#3372 R4R: limit unbonding delegation / redelegations
  PENDING.md
  docs/spec/staking/messages.md
  docs/spec/staking/state.md
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/params.go
  x/staking/types/errors.go
  x/staking/types/params.go
Labels: ready-for-review, staking

#3394 R4R: typo - update staking `String()`
  x/staking/types/params.go
  x/staking/types/pool.go
Labels: ready-for-review, staking

#3397 R4R: Implement GenesisState.Sanitize()
  PENDING.md
  cmd/gaia/app/app.go
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  cmd/gaia/init/collect.go
  cmd/gaia/init/genesis_accts.go
  cmd/gaia/init/gentx.go
  cmd/gaia/init/testnet.go
  cmd/gaia/init/utils.go
Labels: ready-for-review

#3407 R4R: Remove Pubkey field from BaseAccount#String
  x/auth/account.go
Labels: core, ready-for-review

#3313 R4R: Snap packaging
  Makefile
  snapcraft.yaml.in
Labels: ready-for-review

#3103 R4R: Sunny/tombstone spec
  docs/spec/slashing/tombstone.md
Labels: docs, ready-for-review

#3425 R4R: Add Vesting Account Genesis Validation
  PENDING.md
  cmd/gaia/app/genesis.go
  cmd/gaia/app/genesis_test.go
  docs/gaia/genesis.md
Labels: genesis, ready-for-review

#3396 R4R: Gaia Lite Generate Only Support (w/o Keybase)
  PENDING.md
  client/context/context.go
  client/context/query.go
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/utils/rest.go
  client/utils/utils.go
  docs/clients/service-providers.md
  docs/gaia/gaiacli.md
  x/auth/client/rest/sign.go
  x/bank/client/cli/sendtx.go
  x/bank/client/rest/sendtx.go
  x/distribution/client/cli/tx.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/rest.go
  x/ibc/client/cli/ibctx.go
  x/ibc/client/cli/relay.go
  x/ibc/client/rest/transfer.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/tx.go
  x/staking/client/cli/tx.go
  x/staking/client/rest/tx.go
Labels: REST, breaking, ready-for-review

#3434 R4R: Add length caps for governance proposal titles and descriptions
  PENDING.md
  x/gov/errors.go
  x/gov/msgs.go
  x/gov/msgs_test.go
Labels: breaking, governance

#3428 R4R: Simulate from a genesis file
  Makefile
  PENDING.md
  cmd/gaia/app/sim_test.go
  scripts/multisim.sh
  x/mock/simulation/simulate.go
Labels: game-of-stakes, ready-for-review, tooling

#3433 R4R: Query all Delegator Distribution Rewards
  PENDING.md
  docs/gaia/gaiacli.md
  x/distribution/client/cli/query.go
  x/distribution/keeper/querier.go
Labels: CLI, distribution, wip

#3440 R4R: Fix long multi-seed simulation
  .circleci/config.yml
Labels: ready-for-review

#3446 R4R: Register x/gov Message Types on init
  x/gov/codec.go
  x/gov/msgs_test.go
Labels: governance, ready-for-review

#3449 R4R: LCD proof verification
  PENDING.md
  client/context/context.go
  client/context/query.go
Labels: gaia-lite, ready-for-review
