Repository cosmos/cosmos-sdk, pull requests merged in 2019-04, with the labels that each got.

#3851 Enable Transfers
  .pending/breaking/gaia/3463-Revert-bank-module-handler-fork-re-enables-transfers
  cmd/gaia/app/app.go
  cmd/gaia/app/x/bank/handler.go
  cmd/gaia/app/x/bank/handler_test.go
Labels: bank, ready-for-review, state-machine-breaking

#4011 Mint/Inflation Querier
  .pending/features/gaia/3886-Implement-minting-module-querier-and-CLI-REST-clients
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  cmd/gaia/app/app.go
  cmd/gaia/cmd/gaiacli/main.go
  docs/gaia/gaiacli.md
  x/mint/client/cli/query.go
  x/mint/client/module_client.go
  x/mint/client/rest/query.go
  x/mint/client/rest/rest.go
  x/mint/keeper.go
  x/mint/minter.go
  x/mint/params.go
  x/mint/querier.go
  x/mint/querier_test.go
  x/mint/test_common.go
Labels: distribution, ready-for-review

#4017 R4R: Rename validator.GetJailed() to validator.IsJailed() #3245
  .pending/breaking/sdk/3245-Rename-validato
  types/staking.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/keeper.go
  x/slashing/keeper_test.go
  x/staking/keeper/slash_test.go
  x/staking/types/validator.go
Labels: api-breaking, ready-for-review, staking

#4022 Link to latest IBC spec
  docs/spec/ibc/README.md
Labels: docs, ready-for-review

#4007 Block Time in Txs Response
  .pending/improvements/sdk/3238-Add-block-time-to-tx-responses-when-querying-for
  client/tx/query.go
  client/tx/root.go
  client/tx/search.go
  client/tx/utils.go
  types/result.go
  x/staking/client/rest/query.go
  x/staking/client/rest/utils.go
Labels: REST, code-hygiene, ready-for-review

#4029 Update Tendermint to v0.31.3
  .pending/breaking/tendermint/4001-Upgrade-Tendermint-to-v0-31-1
  .pending/breaking/tendermint/4029-Upgrade-Tendermint-to-v0-31-3
  client/keys/show_test.go
  go.mod
  go.sum
Labels: ready-for-review

#4028 Hex Encode Data in Tx Responses
  .pending/improvements/sdk/3916-Hex-encode-data-in-tx-responses
  client/lcd/lcd_test.go
  types/result.go
Labels: api-breaking, core, ready-for-review

#4024 Hotfix release/v0.33.1 (master)
  CHANGELOG.md
  cmd/gaia/app/export.go
Labels: ready-for-review

#4039 Hotfix release/v0.33.2
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  client/keys/show_test.go
Labels: ready-for-review

#3782 Return errors instead of panic
  .pending/breaking/sdk/3782-Return-errors-i
  baseapp/baseapp.go
  cmd/gaia/app/app.go
  cmd/gaia/app/export.go
  cmd/gaia/cmd/gaiadebug/hack.go
  types/abci.go
  x/bank/keeper.go
  x/crisis/params.go
  x/distribution/abci_app.go
  x/gov/endblocker.go
  x/gov/keeper.go
  x/gov/test_common.go
  x/mint/abci_app.go
  x/mint/genesis.go
  x/mint/keeper.go
  x/mint/querier.go
  x/mint/querier_test.go
  x/mint/test_common.go
  x/params/keeper_test.go
  x/params/subspace/subspace.go
  x/slashing/app_test.go
  x/slashing/keeper_test.go
  x/slashing/params.go
  x/slashing/tick.go
  x/slashing/tick_test.go
  x/staking/app_test.go
  x/staking/handler.go
  x/staking/keeper/params.go
Labels: WIP

#4042 Add `GO111MODULE=on` to environment.
  .pending/improvements/gaia/4042-Add-description
  docs/gaia/installation.md
  docs/translations/cn/gaia/installation.md
  docs/translations/kr/gaia/installation.md
  scripts/install/install_sdk_arm.sh
  scripts/install/install_sdk_ubuntu.sh
Labels: ready-for-review

#4047 Fix queryDelegationRewards
  CHANGELOG.md
  x/distribution/keeper/querier.go
Labels: distribution, ready-for-review

#4058 Fix DecCoins Bugs
  CHANGELOG.md
  types/dec_coin.go
  types/dec_coin_test.go
Labels: core, ready-for-review

#4054 Revert "Return errors instead of panic"
  .pending/breaking/sdk/3782-Return-errors-i
  baseapp/baseapp.go
  cmd/gaia/app/app.go
  cmd/gaia/app/export.go
  cmd/gaia/cmd/gaiadebug/hack.go
  types/abci.go
  x/bank/keeper.go
  x/crisis/params.go
  x/distribution/abci_app.go
  x/gov/endblocker.go
  x/gov/keeper.go
  x/gov/test_common.go
  x/mint/abci_app.go
  x/mint/genesis.go
  x/mint/keeper.go
  x/mint/querier.go
  x/mint/querier_test.go
  x/mint/test_common.go
  x/params/keeper_test.go
  x/params/subspace/subspace.go
  x/slashing/app_test.go
  x/slashing/keeper_test.go
  x/slashing/params.go
  x/slashing/tick.go
  x/slashing/tick_test.go
  x/staking/app_test.go
  x/staking/handler.go
  x/staking/keeper/params.go
Labels: ready-for-review

#4023 Genesis port script v0.34.0
  .gitignore
  .pending/improvements/gaia/4018-create-genesis-
  contrib/export/lib.py
  contrib/export/v0.33.x-to-v0.34.0.py
Labels: genesis, ready-for-review

#4045 fix and cleanup action tags
  .pending/bugfixes/sdk/3966-fixed-multiple-
  x/slashing/handler.go
  x/slashing/tags/tags.go
  x/staking/alias.go
  x/staking/client/rest/query.go
  x/staking/handler.go
  x/staking/tags/tags.go
Labels: ready-for-review

#4009 Add interactive mode to sdkch
  cmd/sdkch/main.go
Labels: ready-for-review, tooling

#3946 There's no check for chain-id in TxBuilder.SignStdTx #3945
  .pending/bugfixes/gaiacli/3945-There-s-no-chec
  x/auth/client/txbuilder/txbuilder.go
  x/auth/client/txbuilder/txbuilder_test.go
Labels: core, ready-for-review

#4080 R4R Run missing invariants during simulations
  .pending/improvements/gaia/4080-add-missing-inv
  cmd/gaia/app/sim_test.go
  x/crisis/keeper.go
  x/simulation/util.go
Labels: ready-for-review, simulation

#4068 remove duplicated account check and test
  .pending/improvements/gaiacli/3426-remove-redundant-account-check
  cmd/gaia/cli_test/cli_test.go
  x/bank/client/cli/sendtx.go
  x/gov/client/cli/tx.go
Labels: ready-for-review

#4077 Update bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: ready-for-review

#4091 Fix docs build develop
  docs/.vuepress/config.js
Labels: docs, ready-for-review

#4065 Replace all REST query empty result HTTP Status codes to 200
  .pending/improvements/gaiarest/2007-Return-200-status-code-on-empty-results
  client/lcd/lcd_test.go
  x/auth/client/rest/query.go
  x/slashing/client/rest/query.go
Labels: REST, ready-for-review

#4078 Fix queryDelegatorTotalRewards
  .pending/bugfixes/sdk/3705-Return-instead-of-null-when-querying-delegator-rewards
  x/distribution/alias.go
  x/distribution/client/common/common.go
  x/distribution/keeper/querier.go
Labels: REST, distribution, ready-for-review

#4094 Account for Rounding Errors in Distribution Calculations
  CHANGELOG.md
  types/staking.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/validator.go
  x/staking/types/validator.go
Labels: distribution, ready-for-review

#4083 Replace assertInvariantsBlockly invariantsCheckFrequency
  .pending/breaking/gaia/4053-Add-inv-che
  client/config.go
  client/keys/add.go
  client/lcd/test_helpers.go
  client/rpc/codec.go
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/invariants.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiareplay/main.go
  crypto/amino.go
  crypto/keys/hd/fundraiser_test.go
  crypto/keys/hd/hdpath_test.go
  x/auth/client/txbuilder/txbuilder.go
  x/mint/client/module_client.go
Labels: ready-for-review

#4086 Release v0.34.0 (develop)
  .gitignore
  .pending/breaking/gaia/3463-Revert-bank-module-handler-fork-re-enables-transfers
  .pending/breaking/gaia/3875-Replace-async-flag-with---broadcast-mode-flag-where-the-default
  .pending/breaking/gaiacli/Remove-REST-server-s
  .pending/breaking/sdk/3245-Rename-validato
  .pending/breaking/sdk/3516-Remove-concept-of-shares-from-staking-unbonding-and-redelegation-UX
  .pending/breaking/tendermint/4029-Upgrade-Tendermint-to-v0-31-3
  .pending/bugfixes/gaia/3825-Validate-genesis-before-running-gentx
  .pending/bugfixes/gaia/3889-When---generate-only-is-provided-the-Keybase-is-not-used-and-as-a-result
  .pending/bugfixes/gaia/3974-Fix-go-env-sett
  .pending/bugfixes/gaia/3996-Change-make-get
  .pending/bugfixes/gaiacli/3883-Remove-Height-F
  .pending/bugfixes/gaiacli/3899-Using-gaiacli-c
  .pending/bugfixes/sdk/3837-Fix-WithdrawValidatorCommission-to-properly-set-the-validator-s-remaining-commission
  .pending/bugfixes/sdk/3870-Fix-DecCoins-TruncateDecimal-to-never-return-zero-coins-in
  .pending/bugfixes/sdk/3915-Remove-delimiting-support-from-ParseDecCoins
  .pending/bugfixes/sdk/3977-Fix-docker-imag
  .pending/features/gaia/2935-optionally-asse
  .pending/features/gaia/3886-Implement-minting-module-querier-and-CLI-REST-clients
  .pending/features/gaiacli/3937-Add-command-to-query-community-pool
  .pending/features/gaiarest/3937-Add-route-to-fetch-community-pool
  .pending/features/gaiarest/3949-added-slashing-validators-signing_info-to-get-signing_info-for-all-validators
  .pending/features/sdk/2935-New-module-Cris
  .pending/features/sdk/3813-New-sdk-NewCoins-safe-constructor-to-replace-bare
  .pending/features/sdk/3858-add-website-details-and-identity-to-gentx-cli-command
  .pending/features/sdk/Implement-coin-conversion-and-denomination-registration-utilities
  .pending/improvements/gaia/3808-gaiad-and-gaiacli-integration-tests-use-build-binaries
  .pending/improvements/gaia/3819-Simulation-refa
  .pending/improvements/gaia/3893-Improve-gaiacli-tx-sign-command
  .pending/improvements/gaiacli/3833-Modify-stake-to
  .pending/improvements/gaiacli/3841-Add-indent-to-J
  .pending/improvements/gaiacli/3859-Add-newline-to-echo-of-gaiacli-keys
  .pending/improvements/gaiacli/3959-Improving-error-messages-when-signing-with-ledger-devices-fails
  .pending/improvements/sdk/3238-Add-block-time-to-tx-responses-when-querying-for
  .pending/improvements/sdk/3752-Explanatory-doc
  .pending/improvements/sdk/3801-baseapp-safety-improvements
  .pending/improvements/sdk/3820-Make-Coins-IsAllGT-more-robust-and-consistent
  .pending/improvements/sdk/3828-New-sdkch-tool-to-maintain-changelogs
  .pending/improvements/sdk/3864-Make-Coins-IsAllGTE-more-consistent
  .pending/improvements/sdk/3907-Drop-dep-in-fav
  .pending/improvements/sdk/3917-Allow-arbitrary-decreases-to-validator-commission-rates
  .pending/improvements/sdk/3937-Implement-community-pool-querier
  .pending/improvements/sdk/3940-Codespace-shoul
  .pending/improvements/sdk/3986-Update-the-Stringer-implementation-of-the-Proposal-type
  .pending/improvements/sdk/926-circuit-breaker-
  .pending/improvements/sdk/Fixed-various-linter
  CHANGELOG.md
  client/lcd/lcd_test.go
  contrib/export/lib.py
  contrib/export/v0.33.x-to-v0.34.0.py
  go.mod
  go.sum
  types/dec_coin.go
  types/dec_coin_test.go
  types/result.go
  types/staking.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/validator.go
  x/staking/types/validator.go
Labels: ready-for-review

#4100 Return correct error on invalid messages
  .pending/improvements/sdk/3978-Return-ErrUnknownRequest-in-message-handlers-for-unknown
  x/bank/handler.go
  x/bank/handler_test.go
  x/crisis/handler.go
  x/crisis/handler_test.go
  x/distribution/handler.go
  x/gov/handler.go
  x/gov/handler_test.go
  x/ibc/handler.go
  x/ibc/handler_test.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/staking/handler.go
  x/staking/handler_test.go
Labels: api-breaking, code-hygiene, ready-for-review

#4126 Add module-wide named loggers
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/keeper.go
  x/gov/endblocker.go
  x/gov/keeper.go
  x/slashing/keeper.go
  x/slashing/tick.go
  x/staking/keeper/keeper.go
  x/staking/keeper/slash.go
Labels: code-hygiene, ready-for-review

#4101 Return per-validator rewards when querying delegator all delegations rewards
  .pending/breaking/gaiacli/3715-query-distr-rew
  .pending/breaking/gaiarest/3715-Update-distribu
  client/lcd/lcd_test.go
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
  x/distribution/alias.go
  x/distribution/client/cli/query.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/types/query.go
Labels: CLI, REST, distribution, ready-for-review

#4135 Minor Fixes
  client/context/context.go
  client/flags.go
  docs/cosmos-hub/gaiacli.md
  types/result.go
Labels: ready-for-review

#4129 R4R: Translate doc clients to chinese.
  .pending/improvements/gaiarest/4129-Translate-doc-c
  docs/translations/cn/clients/README.md
  docs/translations/cn/clients/cli.md
  docs/translations/cn/clients/lite/README.md
  docs/translations/cn/clients/lite/getting_started.md
  docs/translations/cn/clients/lite/specification.md
  docs/translations/cn/clients/service-providers.md
  docs/translations/cn/cn-translation-progress.md
Labels: docs, ready-for-review

#4133 R4R: Updated release process documentation
  docs/RELEASE_PROCESS.md
Labels: docs, ready-for-review

#4163 Fix v0.33.x export script to port gov data correctly
  contrib/export/v0.33.x-to-v0.34.0.py
Labels: genesis, governance, ready-for-review

#4140 Fix Failed Simulation Seeds
  cmd/gaia/app/sim_test.go
  x/simulation/params.go
  x/simulation/rand_util.go
Labels: ready-for-review, simulation

#4059 Add support for graceful halt via server config
  .pending/features/sdk/3981-Add-support-to-gracefully-halt-a-node-at-a-given-height
  baseapp/baseapp.go
  baseapp/options.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/init/testnet.go
  docs/cosmos-hub/validators/validator-setup.md
  server/config/config.go
  server/config/toml.go
  server/start.go
  server/util.go
Labels: baseapp, ready-for-review

#3659 KMS Documentation/Tutorial. How to run a Validator with a Ledger device
  docs/cosmos-hub/validators/kms/kms.md
  docs/cosmos-hub/validators/kms/kms_ledger.md
  docs/cosmos-hub/validators/kms/ledger_1.jpg
  docs/cosmos-hub/validators/kms/ledger_2.jpg
  docs/cosmos-hub/validators/security.md
  docs/cosmos-hub/validators/validator-setup.md
Labels: docs, keys, ready-for-review

#4177 Update Staking Validators Rest Query
  .pending/features/sdk/4099-Update-the-staking-validators-endpoint-to-support
  client/lcd/swagger-ui/swagger.yaml
  client/tx/query.go
  types/staking.go
  x/staking/alias.go
  x/staking/client/rest/query.go
  x/staking/keeper/validator_test.go
  x/staking/querier/querier.go
  x/staking/querier/querier_test.go
  x/staking/types/validator.go
Labels: REST, api-breaking, ready-for-review, staking

#4182 Cherry pick 4083 v0.34.2
  CHANGELOG.md
  client/config.go
  client/lcd/test_helpers.go
  client/rpc/codec.go
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/invariants.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiareplay/main.go
  crypto/amino.go
  crypto/keys/hd/fundraiser_test.go
  crypto/keys/hd/hdpath_test.go
  x/auth/client/txbuilder/txbuilder.go
  x/mint/client/module_client.go
Labels: ready-for-review

#4181 Cherry pick 4135 v0.34.2
  CHANGELOG.md
  client/context/context.go
  client/flags.go
  docs/cosmos-hub/gaiacli.md
  types/result.go
Labels: ready-for-review

#4183 Cherry pick 4181 v0.34.2
  CHANGELOG.md
  client/lcd/swagger-ui/swagger.yaml
  client/tx/query.go
  types/staking.go
  x/staking/alias.go
  x/staking/client/rest/query.go
  x/staking/keeper/validator_test.go
  x/staking/querier/querier.go
  x/staking/querier/querier_test.go
  x/staking/types/validator.go
Labels: ready-for-review

#4176 Docs update
  README.md
  docs/.vuepress/config.js
  docs/README.md
  docs/cosmos-hub/delegator-guide-cli.md
  docs/cosmos-hub/deploy-testnet.md
  docs/cosmos-hub/gaiacli.md
  docs/cosmos-hub/upgrade-node.md
  docs/cosmos-hub/validators/validator-setup.md
  docs/intro/README.md
  docs/intro/sdk-app-architecture.md
  docs/intro/sdk-design.md
Labels: docs, ready-for-review

#4184 Patch Release v0.34.2 (master)
  .github/CODEOWNERS
  CHANGELOG.md
  client/config.go
  client/context/context.go
  client/flags.go
  client/lcd/swagger-ui/swagger.yaml
  client/lcd/test_helpers.go
  client/rpc/codec.go
  client/tx/query.go
  cmd/gaia/app/app.go
  cmd/gaia/app/app_test.go
  cmd/gaia/app/invariants.go
  cmd/gaia/app/sim_test.go
  cmd/gaia/cmd/gaiacli/main.go
  cmd/gaia/cmd/gaiad/main.go
  cmd/gaia/cmd/gaiareplay/main.go
  contrib/export/v0.33.x-to-v0.34.0.py
  crypto/amino.go
  crypto/keys/hd/fundraiser_test.go
  crypto/keys/hd/hdpath_test.go
  docs/cosmos-hub/gaiacli.md
  types/result.go
  types/staking.go
  x/auth/client/txbuilder/txbuilder.go
  x/mint/client/module_client.go
  x/staking/alias.go
  x/staking/client/rest/query.go
  x/staking/keeper/validator_test.go
  x/staking/querier/querier.go
  x/staking/querier/querier_test.go
  x/staking/types/validator.go
Labels: ready-for-review

#4185 Patch Release v0.34.2 (develop)
  .github/CODEOWNERS
  .pending/breaking/gaia/4053-Add-inv-che
  .pending/features/sdk/4099-Update-the-staking-validators-endpoint-to-support
  CHANGELOG.md
  README.md
  contrib/export/v0.33.x-to-v0.34.0.py
  docs/.vuepress/config.js
  docs/README.md
  docs/cosmos-hub/delegator-guide-cli.md
  docs/cosmos-hub/deploy-testnet.md
  docs/cosmos-hub/gaiacli.md
  docs/cosmos-hub/upgrade-node.md
  docs/cosmos-hub/validators/validator-setup.md
  docs/intro/README.md
  docs/intro/sdk-app-architecture.md
  docs/intro/sdk-design.md
  x/mint/client/module_client.go
Labels: ready-for-review

#4193 Set default invariant check period to 0
  CHANGELOG.md
  cmd/gaia/cmd/gaiad/main.go
Labels: ready-for-review

#4196 Set default invariant check period to 0
  CHANGELOG.md
  cmd/gaia/cmd/gaiad/main.go
Labels: ready-for-review

#4197 Release v0.34.3 (master)
  CHANGELOG.md
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/cmd/gaiad/main.go
Labels: ready-for-review

#4198 Release v0.34.3 (develop)
  .github/CODEOWNERS
  CHANGELOG.md
  client/lcd/swagger-ui/swagger.yaml
  cmd/gaia/cmd/gaiad/main.go
Labels: ready-for-review

#4207 Add rewards and commission tags
  .pending/features/sdk/3850-Add-rewards-and-commission-to-distribution-tx-tags
  cmd/gaia/app/export.go
  docs/spec/distribution/06_tags.md
  x/distribution/handler.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/tags/tags.go
Labels: distribution, ready-for-review

#4223 Fix dependency of devtools Makefile and clean code.
  contrib/devtools/Makefile
Labels: build, ready-for-review

#4220 R4R: Empty mnemonic should return error when recover key
  .pending/bugfixes/gaiacli/4219-Empty-mnemonic-
  client/keys/add.go
  cmd/gaia/cli_test/cli_test.go
  cmd/gaia/cli_test/test_helpers.go
Labels: CLI, keys, ready-for-review

#4230 Minor cleanup in tx tags and response format
  .pending/breaking/sdk/4230-Change-the-type
  .pending/bugfixes/sdk/4230-Properly-set-an
  baseapp/baseapp.go
  types/result.go
  types/result_test.go
  types/tags.go
Labels: api-breaking, code-hygiene, ready-for-review

#4227 Adding support for Ledger Cosmos App v1.5
  .pending/improvements/gaiacli/4227-Support-for-Ledger-App-1.5
  client/keys/add.go
  client/keys/show.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/lazy_keybase.go
  crypto/keys/types.go
  crypto/ledger_mock.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
  go.mod
  go.sum
  x/mint/client/module_client.go
Labels: CLI, ledger, ready-for-review

#4234 Allow tx send (generate-only) to actually work offline
  .pending/bugfixes/sdk/4234-https-github-co
  x/bank/client/cli/sendtx.go
Labels: CLI, ready-for-review
