Repository cosmos/cosmos-sdk, pull requests merged in 2020-05, with the labels that each got.

#6112 Fix IBC Error Code Registration
  x/ibc/types/errors.go
Labels: R4R, x/ibc

#6095 Add CLI tests for simd, distribution
  .github/workflows/test.yml
  Makefile
  tests/cli/constants.go
  tests/cli/doc.go
  tests/cli/executors.go
  tests/cli/fixtures.go
  tests/cli/helpers.go
  tests/cli/init.go
  tests/cli/keys_test.go
  tests/cli/simd_test.go
  x/bank/client/cli_test/helpers.go
  x/bank/client/cli_test/send_test.go
  x/distribution/client/cli_test/distr_test.go
  x/distribution/client/cli_test/helpers.go
  x/staking/client/cli_test/helpers.go
  x/staking/client/cli_test/staking_test.go
Labels: CLI, R4R, automerge, x/distribution

#6119 CODEOWNERS: add Aaron, Cory
  .github/CODEOWNERS
Labels: R4R

#6117 bump ibc sub module error codes
  x/ibc/02-client/types/errors.go
  x/ibc/03-connection/types/errors.go
  x/ibc/04-channel/types/errors.go
  x/ibc/05-port/types/errors.go
  x/ibc/07-tendermint/types/errors.go
  x/ibc/23-commitment/types/errors.go
  x/ibc/24-host/errors.go
Labels: R4R, automerge, x/ibc

#6108 x/auth: turn sign --validate-signatures into a standalone command
  CHANGELOG.md
  Makefile
  client/flags/flags.go
  simapp/cmd/simcli/main.go
  tests/cli/helpers.go
  tests/cli/simd_test.go
  tests/io.go
  tests/known_values.go
  tests/util.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/client/testutil/helpers.go
  x/bank/client/cli/cli_test.go
  x/bank/client/testutil/helpers.go
  x/distribution/client/cli/cli_test.go
  x/distribution/client/testutil/helpers.go
  x/staking/client/cli/cli_test.go
  x/staking/client/testutil/helpers.go
Labels: R4R, automerge

#6133 Update swagger.yaml
  client/lcd/swagger-ui/swagger.yaml
Labels: R4R, automerge, docs

#6136 Initialize Capabilities with Uncached Context
  baseapp/helpers.go
  simapp/app.go
Labels: R4R, automerge, x/capability

#6137 add string method to gas meter
  CHANGELOG.md
  store/types/gas.go
Labels: R4R, automerge

#6138 add anotation for json/yaml marshal ibc/tendermint/header type
  x/ibc/07-tendermint/types/header.go
Labels: automerge, x/ibc

#6139 ibc default genesis state
  x/ibc/module.go
Labels: R4R, automerge, genesis, x/ibc

#5979 [DOCS] Translate docs/kr/intro and fix typo
  docs/intro/sdk-design.md
  docs/kr/intro/README.md
  docs/kr/intro/overview.md
  docs/kr/intro/sdk-app-architecture.md
  docs/kr/intro/sdk-design.md
  docs/kr/intro/why-app-specific.md
Labels: automerge, docs

#6140 Args: cobra.ExactArgs(1) required but never used
  x/ibc/03-connection/client/cli/query.go
Labels: automerge, x/ibc

#6143 CONTRIBUTING.md: use git tag -a for release tags
  CONTRIBUTING.md
Labels: R4R, automerge

#6118 Fix Timeout Handling
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/module.go
Labels: R4R, automerge, bug, x/ibc

#6146 Remove Evidence Codec
  simapp/app.go
  x/evidence/alias.go
  x/evidence/handler_test.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/simulation/decoder_test.go
  x/evidence/types/codec.go
  x/evidence/types/codec_test.go
Labels: R4R, automerge, x/evidence

#6149 add comment bot for PR checklist
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto-comment.yml
Labels: R4R, automerge

#6145 release 0.37.12
  CHANGELOG.md
  go.mod
  go.sum
Labels: R4R

#6150 update master with release changelog
  CHANGELOG.md
Labels: R4R

#6148 release: procedure change
  .github/workflows/release-sims.yml
  CONTRIBUTING.md
Labels: R4R, automerge

#6153 run make format
  x/ibc/07-tendermint/types/header.go
  x/slashing/client/cli/cli_test.go
  x/slashing/client/testutil/helpers.go
Labels: R4R, automerge

#6155 x/ibc: query all client connection paths
  client/lcd/statik/statik.go
  client/lcd/swagger-ui/swagger.yaml
  x/ibc/02-client/client/rest/query.go
  x/ibc/03-connection/alias.go
  x/ibc/03-connection/client/cli/query.go
  x/ibc/03-connection/client/rest/query.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/querier.go
  x/ibc/03-connection/types/querier.go
  x/ibc/keeper/querier.go
  x/ibc/keeper/querier_test.go
Labels: CLI, R4R, REST, automerge, x/ibc

#6157 x/ibc: add missing query height
  x/ibc/02-client/client/cli/query.go
  x/ibc/04-channel/client/cli/query.go
  x/ibc/20-transfer/client/cli/query.go
Labels: R4R, automerge, x/ibc

#6151 Add amino compatibility layer for proto Any
  codec/amino_codec.go
  codec/amino_codec_test.go
  codec/any.go
  codec/any_test.go
  codec/testdata/animal.go
  codec/testdata/proto.pb.go
  codec/testdata/proto.proto
  codec/types/amino_compat.go
  codec/types/amino_compat_test.go
  codec/types/any.go
  codec/types/interface_registry.go
  codec/types/types_test.go
  go.sum
  x/evidence/keeper/keeper.go
Labels: R4R, automerge, encoding

#6156 lint: official action
  .github/workflows/lint.yml
  .golangci.yml
  simapp/utils.go
  x/auth/alias.go
  x/auth/ante/basic.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/simulation/event_stats.go
  x/slashing/client/cli/cli_test.go
  x/upgrade/keeper/keeper.go
Labels: R4R, automerge, code-hygiene

#6167 REST: Add 'max-body-bytes' Flag
  CHANGELOG.md
  client/flags/flags.go
  client/lcd/root.go
Labels: R4R, REST, automerge

#6171 x/ibc: fix int overflow
  x/ibc/07-tendermint/types/test_utils.go
Labels: R4R

#6162 linter: enable nolintlint
  .golangci.yml
  client/flags/flags.go
  client/tx/factory.go
  crypto/keyring/keyring.go
  std/msgs.go
  store/mem/store.go
  store/reexport.go
  store/types/store.go
  types/coin.go
  types/dec_coin.go
  types/proto.go
  types/store.go
  types/tx_msg.go
  x/auth/types/test_utils.go
  x/auth/vesting/types/test_common.go
  x/bank/alias.go
  x/bank/client/rest/query.go
  x/capability/alias.go
  x/crisis/alias.go
  x/crisis/types/msgs.go
  x/distribution/alias.go
  x/evidence/alias.go
  x/genutil/alias.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/collect.go
  x/gov/alias.go
  x/gov/keeper/deposit.go
  x/gov/types/msgs.go
  x/ibc/02-client/alias.go
  x/ibc/03-connection/alias.go
  x/ibc/04-channel/alias.go
  x/ibc/05-port/alias.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/alias.go
  x/ibc/genesis_test.go
  x/mint/alias.go
  x/mint/keeper/keeper.go
  x/mint/types/keys.go
  x/params/alias.go
  x/slashing/alias.go
  x/slashing/client/cli/flags.go
  x/slashing/keeper/hooks.go
  x/slashing/types/msg.go
  x/upgrade/alias.go
  x/upgrade/types/proposal.go
Labels: R4R, automerge, code-hygiene

#6177 CODEOWNERS: add Jonathan
  .github/CODEOWNERS
Labels: R4R

#6120 gov: CLI tests
  .github/workflows/test.yml
  tests/cli/helpers.go
  x/gov/client/cli/cli_test.go
  x/gov/client/testutil/helpers.go
Labels: CLI, R4R, x/gov

#6180 Fix "max-body-bytes" CLI Flag Description
  client/flags/flags.go
Labels: CLI, R4R, automerge

#6170 x/ibc: create localhost client on InitGenesis
  x/ibc/02-client/abci_test.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/09-localhost/client/cli/tx.go
  x/ibc/client/cli/cli.go
  x/ibc/genesis.go
  x/ibc/genesis_test.go
  x/ibc/module.go
Labels: R4R, x/ibc

#6184 x/ibc: log fixes
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/errors.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/05-port/keeper/keeper.go
  x/ibc/handler.go
Labels: R4R, automerge, x/ibc

#6187 baseapp: track events emitted from AnteHandler
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
Labels: R4R, baseapp

#6195 feat(types): add codespace to broadcast(sync/async) response
  CHANGELOG.md
  client/context/broadcast.go
  client/context/broadcast_test.go
  types/result.go
  types/result_test.go
Labels: R4R

#6200 types: add bech32
  client/keys/parse.go
  go.mod
  types/address.go
  types/bech32/bech32.go
  types/bech32/bech32_test.go
Labels: R4R, automerge, types

#6201 bech32: use sdk version
  types/bech32/bech32_test.go
Labels: R4R, automerge

#6166 Bank proto buf migration
  std/codec.go
  std/codec.pb.go
  std/codec.proto
  third_party/proto/cosmos-proto/cosmos.proto
  x/bank/alias.go
  x/bank/keeper/keeper.go
  x/bank/module.go
  x/bank/simulation/decoder.go
  x/bank/simulation/decoder_test.go
  x/bank/types/codec.go
  x/bank/types/types.pb.go
  x/bank/types/types.proto
Labels: R4R, automerge, encoding, proto-breaking, x/bank

#6202 x/ibc: stateful clients
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/genesis_test.go
  x/ibc/ibc_test.go
Labels: R4R, x/ibc

#6206 ibc/07-tendermint: variable trust-level
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/ante/ante_test.go
  x/ibc/genesis_test.go
Labels: R4R, automerge, x/ibc

#6205 client: fix Paginate's arguments validation
  client/utils.go
  client/utils_test.go
Labels: R4R, automerge

#6072 ADR 022 - Custom baseapp panic handling
  docs/architecture/README.md
  docs/architecture/adr-022-custom-panic-handling.md
Labels: ADR, R4R, automerge, baseapp

#6211 x/distribution: register MsgFundCommunityPool
  CHANGELOG.md
  x/distribution/types/codec.go
Labels: R4R, automerge, bug, x/distribution

#6209 Alter connection handshake
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
Labels: R4R, automerge, bug, x/ibc

#6111 Update ADR 020 to use Any
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Labels: ADR, R4R

#6212 Remove Get* Prefixes from Key Construction Functions
  CHANGELOG.md
  x/slashing/alias.go
  x/slashing/client/cli/query.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/signing_info.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/slashing/types/keys.go
Labels: R4R, api-breaking

#6219 Different db support
  types/utils.go
Labels: R4R

#6214 Add Tx, SignDoc, etc. proto types from 6111
  crypto/types/types.pb.go
  crypto/types/types.proto
  scripts/protocgen.sh
  types/tx/types.pb.go
  types/tx/types.proto
Labels: R4R

#6217 Add pub key proto definitions
  crypto/types/types.pb.go
  crypto/types/types.proto
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Labels: ADR, R4R, crypto

#6158 x/ibc: default genesis state for sims
  simapp/app.go
  simapp/sim_test.go
  x/ibc/02-client/simulation/genesis.go
  x/ibc/02-client/types/genesis.go
  x/ibc/03-connection/simulation/genesis.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/genesis.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/04-channel/simulation/genesis.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/genesis.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/packet.go
  x/ibc/05-port/keeper/keeper.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/20-transfer/genesis.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/simulation/genesis.go
  x/ibc/20-transfer/types/genesis.go
  x/ibc/20-transfer/types/genesis_test.go
  x/ibc/20-transfer/types/keys.go
  x/ibc/20-transfer/types/msgs.go
  x/ibc/23-commitment/types/merkle.go
  x/ibc/24-host/validate.go
  x/ibc/module.go
  x/ibc/simulation/genesis.go
Labels: R4R, automerge, bug, simulation, x/ibc

#6229 Fix proto-gen find cmd
  scripts/protocgen.sh
Labels: R4R, automerge

#6227 x/ibc: alter id requirements
  baseapp/helpers.go
  baseapp/queryrouter.go
  baseapp/router.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection_test.go
  x/ibc/03-connection/types/genesis_test.go
  x/ibc/04-channel/types/channel_test.go
  x/ibc/04-channel/types/genesis_test.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/05-port/keeper/keeper_test.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/20-transfer/types/genesis_test.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/23-commitment/types/merkle_test.go
  x/ibc/24-host/validate.go
  x/ibc/24-host/validate_test.go
  x/ibc/genesis_test.go
Labels: R4R, automerge, bug, x/ibc

#6233 update path validator to enforce no beginning or ending of the separator
  x/ibc/24-host/validate.go
  x/ibc/24-host/validate_test.go
Labels: R4R, bug, x/ibc

#6222 x/ibc-transfer: move ICS20 out from x/ibc
  crypto/types/types.pb.go
  simapp/app.go
  simapp/sim_test.go
  x/ibc-transfer/alias.go
  x/ibc-transfer/client/cli/cli.go
  x/ibc-transfer/client/cli/query.go
  x/ibc-transfer/client/cli/tx.go
  x/ibc-transfer/client/rest/query.go
  x/ibc-transfer/client/rest/rest.go
  x/ibc-transfer/client/rest/tx.go
  x/ibc-transfer/client/utils/utils.go
  x/ibc-transfer/genesis.go
  x/ibc-transfer/handler.go
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/keeper/keeper_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/keeper/relay_test.go
  x/ibc-transfer/module.go
  x/ibc-transfer/simulation/genesis.go
  x/ibc-transfer/types/codec.go
  x/ibc-transfer/types/errors.go
  x/ibc-transfer/types/events.go
  x/ibc-transfer/types/expected_keepers.go
  x/ibc-transfer/types/genesis.go
  x/ibc-transfer/types/genesis_test.go
  x/ibc-transfer/types/keys.go
  x/ibc-transfer/types/msgs.go
  x/ibc-transfer/types/msgs_test.go
  x/ibc-transfer/types/packet.go
  x/ibc-transfer/types/packet_test.go
  x/ibc-transfer/types/types.pb.go
  x/ibc-transfer/types/types.proto
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/spec/README.md
  x/transfer/handler_test.go
Labels: R4R, automerge, x/ibc

#6236 ibc-transfer: remove leftover file
  x/transfer/handler_test.go
Labels: R4R, automerge

#6239 remove duplicated check when RemoveValidator
  x/staking/keeper/validator.go
Labels: R4R, automerge

#6242 bring back pr template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto-comment.yml
Labels: R4R, automerge

#6243 CODEOWNERS: remove Hans
  .github/CODEOWNERS
  go.sum
Labels: R4R, automerge

#6244 x/ibc: constrain acks processing order
  x/ibc-transfer/keeper/relay.go
  x/ibc/04-channel/genesis.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/errors.go
  x/ibc/04-channel/types/genesis.go
  x/ibc/04-channel/types/genesis_test.go
  x/ibc/24-host/keys.go
  x/ibc/24-host/utils.go
  x/ibc/genesis_test.go
Labels: R4R, automerge, x/ibc

#6245 CODEOWNERS: remove Peng
  .github/CODEOWNERS
Labels: R4R, automerge

#6251 ci: test paths directive
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  README.md
  types/tx/types.proto
Labels: R4R, automerge

#6147 Update x/gov to use Any
  CHANGELOG.md
  Makefile
  codec/amino.go
  codec/amino_codec.go
  codec/amino_codec_test.go
  codec/types/amino_compat.go
  codec/types/interface_registry.go
  crypto/keyring/codec.go
  docs/architecture/adr-019-protobuf-state-encoding.md
  simapp/cmd/simcli/main.go
  simapp/cmd/simd/genaccounts.go
  std/codec.go
  std/codec.pb.go
  std/codec.proto
  std/msgs.go
  std/msgs_test.go
  tests/util.go
  types/result.go
  x/auth/client/cli/broadcast_test.go
  x/auth/client/cli/decode.go
  x/auth/types/stdsignmsg.go
  x/auth/types/stdtx.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper.go
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/rest.go
  x/distribution/module.go
  x/distribution/types/codec.go
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/alias.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/tx.go
  x/gov/genesis_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/module.go
  x/gov/simulation/decoder.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/operations.go
  x/gov/types/codec.go
  x/gov/types/genesis.go
  x/gov/types/msgs.go
  x/gov/types/msgs_test.go
  x/gov/types/proposal.go
  x/gov/types/types.pb.go
  x/gov/types/types.proto
  x/params/client/cli/tx.go
  x/params/client/rest/rest.go
  x/params/module.go
  x/params/types/proposal/codec.go
  x/simulation/params.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/tx.go
  x/upgrade/module.go
  x/upgrade/types/codec.go
Labels: R4R, api-breaking, automerge, encoding, proto-breaking

#6256 Remove proto oneof tx types
  std/codec.proto
  std/tx.go
  std/tx_test.go
Labels: R4R, automerge, proto-breaking

#6252 add github actions
  .circleci/config.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  client/input/input.go
  client/keys/import_test.go
  codec/codec.go
  crypto/keys/keyring.go
  crypto/keys/lazy_keybase_test.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/types_test.go
  simapp/utils.go
  store/prefix/store_test.go
  store/reexport.go
  types/int.go
  types/module/simulation.go
  types/rest/rest.go
  x/auth/ante/basic.go
  x/bank/app_test.go
  x/bank/internal/types/codec.go
  x/bank/simulation/operations.go
  x/crisis/internal/types/codec.go
  x/distribution/types/codec.go
  x/genutil/client/cli/migrate_test.go
  x/gov/types/codec.go
  x/mint/internal/types/codec.go
  x/mint/internal/types/keys.go
  x/params/client/proposal_handler.go
  x/params/types/codec.go
  x/simulation/account_test.go
  x/simulation/event_stats.go
  x/simulation/rand_util_test.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
  x/staking/types/codec.go
  x/upgrade/alias.go
Labels: R4R

#6258 Fix client/tx test breakage
  client/tx/tx_test.go
  std/codec.pb.go
  std/codec.proto
Labels: R4R, automerge

#6165 Update x/auth to use Any
  client/keys/parse.go
  simapp/app.go
  simapp/cmd/simd/genaccounts.go
  simapp/genesis_account.go
  simapp/test_helpers.go
  std/codec.go
  std/codec.pb.go
  std/codec.proto
  x/auth/alias.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/sigverify.go
  x/auth/client/tx.go
  x/auth/exported/exported.go
  x/auth/exported/exported_test.go
  x/auth/genesis.go
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/keeper/querier_test.go
  x/auth/legacy/v0_38/types.go
  x/auth/legacy/v0_39/migrate_test.go
  x/auth/module.go
  x/auth/simulation/decoder.go
  x/auth/simulation/decoder_test.go
  x/auth/simulation/genesis.go
  x/auth/types/account.go
  x/auth/types/account_retriever.go
  x/auth/types/account_test.go
  x/auth/types/codec.go
  x/auth/types/genesis.go
  x/auth/types/genesis_test.go
  x/auth/types/stdtx.go
  x/auth/types/types.pb.go
  x/auth/types/types.proto
  x/auth/vesting/alias.go
  x/auth/vesting/exported/exported.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/genesis_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/types/expected_keepers.go
  x/distribution/keeper/alias_functions.go
  x/distribution/keeper/delegation.go
  x/distribution/types/expected_keepers.go
  x/genutil/types/expected_keepers.go
  x/gov/keeper/keeper.go
  x/gov/types/expected_keepers.go
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/types/expected_keepers.go
  x/mint/types/expected_keepers.go
  x/slashing/app_test.go
  x/slashing/types/expected_keepers.go
  x/staking/app_test.go
  x/staking/keeper/pool.go
  x/staking/types/expected_keepers.go
Labels: R4R, automerge, encoding, proto-breaking, x/auth

#6241 multisig: add type and bitarray
  CHANGELOG.md
  crypto/types/compact_bit_array.go
  crypto/types/compact_bit_array_test.go
  crypto/types/multisig/codec.go
  crypto/types/multisig/multisignature.go
  crypto/types/multisig/threshold_pubkey.go
  crypto/types/multisig/threshold_pubkey_test.go
  crypto/types/types.pb.go
  crypto/types/types.proto
  types/tx/types.pb.go
  types/tx/types.proto
Labels: R4R, automerge, crypto

#6263 docs: update SECURITY.md
  SECURITY.md
  docs/core/README.md
Labels: R4R, docs

#6249 v0.38.4-RC1
  .circleci/config.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CHANGELOG.md
  client/input/input.go
  client/keys/import_test.go
  codec/codec.go
  crypto/keys/keyring.go
  crypto/keys/lazy_keybase_test.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/types_test.go
  simapp/utils.go
  store/prefix/store_test.go
  store/reexport.go
  types/int.go
  types/module/simulation.go
  types/rest/rest.go
  types/utils.go
  x/auth/ante/basic.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/bank/app_test.go
  x/bank/internal/types/codec.go
  x/bank/simulation/operations.go
  x/crisis/internal/types/codec.go
  x/distribution/types/codec.go
  x/genutil/client/cli/migrate_test.go
  x/gov/types/codec.go
  x/mint/internal/types/codec.go
  x/mint/internal/types/keys.go
  x/params/client/proposal_handler.go
  x/params/types/codec.go
  x/simulation/account_test.go
  x/simulation/event_stats.go
  x/simulation/rand_util_test.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
  x/staking/types/codec.go
  x/upgrade/alias.go
Labels: R4R

#6265 v0.38.4 CL
  CHANGELOG.md
Labels: R4R, automerge

#6270 x/auth: remove unused passphrase arguments
  CHANGELOG.md
  x/auth/client/tx.go
  x/auth/types/txbuilder.go
Labels: R4R, automerge, x/auth

#6271 ibc/07-tendermint: fix CLI
  x/ibc/07-tendermint/client/cli/tx.go
Labels: R4R, bug, x/ibc

#6268 x/ibc: fix internal errors messages
  types/errors/errors.go
  x/ibc/02-client/exported/exported.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/errors.go
  x/ibc/07-tendermint/update.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/23-commitment/types/errors.go
  x/ibc/23-commitment/types/merkle.go
  x/ibc/24-host/utils.go
Labels: R4R, automerge, code-hygiene, x/ibc

#6230 ci: automate release post tag push
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  .goreleaser.yml
  CONTRIBUTING.md
Labels: CI, docs

#6278 Add msg type sim operations
  types/simulation/types.go
  x/bank/simulation/operations.go
  x/bank/types/msgs.go
  x/distribution/simulation/operations.go
  x/distribution/types/msg.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/slashing/types/msg.go
  x/staking/simulation/operations.go
  x/staking/types/msg.go
Labels: R4R, automerge, simulation

#6285 Registered upgrade module tx commands
  x/upgrade/module.go
Labels: CLI, R4R, x/upgrade

#6286 Revert "Registered upgrade module tx commands"
  x/upgrade/module.go
Labels: R4R, automerge

#6288 readme: centering tags
  README.md
Labels: R4R

#6283 R4R: Save account for multi sending
  CHANGELOG.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Labels: R4R, needs-more-info, x/bank

#6300 Bump Tendermint v0.33.5
  client/lcd/root.go
  go.mod
  go.sum
  tests/util.go
Labels: R4R, automerge, dependencies

#6291 fix #6287 sending multiple transactions from an account make nonce sequence stuck
  CHANGELOG.md
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Labels: R4R, automerge, x/auth

#6297 ci: split unit tests across 4 machines
  .github/workflows/clean-artifacts.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/test.yml
  types/simulation/account_test.go
  types/simulation/rand_util_test.go
Labels: CI, R4R, automerge

#6295 Fix typo
  CHANGELOG.md
  x/gov/types/params.go
  x/staking/types/params.go
Labels: R4R, automerge, state-machine-breaking

#6292 packet commitment deletion after ack verification
  x/ibc/02-client/alias.go
  x/ibc/02-client/handler.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/handler.go
Labels: R4R, bug, x/ibc
