Repository cosmos/cosmos-sdk, pull requests merged in 2020-12, with the labels that each got.

#8029 Fix QueryByEvents with multiple events and empty pagination request
  proto/cosmos/tx/v1beta1/service.proto
  server/grpc/server_test.go
  types/tx/service.pb.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: automerge, backport/0.40.x (Stargate), bug, gRPC

#7987 Fix CryptoCdc inconsistent
  CHANGELOG.md
  codec/legacy/codec.go
  codec/types/any.go
  crypto/armor.go
  crypto/armor_test.go
  crypto/codec/amino.go
  crypto/keyring/codec.go
  crypto/keyring/info.go
  crypto/keyring/keyring.go
  crypto/keyring/types_test.go
  crypto/ledger/ledger_test.go
  types/address.go
Labels: crypto, encoding

#7852 Add tx broadcast gRPC endpoint
  Makefile
  client/broadcast.go
  client/grpc_query.go
  docs/migrations/rest.md
  proto/cosmos/tx/v1beta1/service.proto
  server/grpc/server_test.go
  types/tx/service.pb.go
  types/tx/service.pb.gw.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest_test.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: automerge

#8066 evidence: fix query command
  x/evidence/client/cli/cli_test.go
  x/evidence/client/cli/query.go
Labels: automerge, x/evidence

#8065 fix: Metadata is not initialized in x/bank InitGenesis #7951
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper.go
  x/bank/module.go
Labels: automerge, bug

#7801 Update signbatch multisig to work online
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_sign.go
Labels: automerge

#8072 Refactor Logging using Zerolog
  CHANGELOG.md
  baseapp/abci.go
  client/flags/flags.go
  contrib/images/simd-env/Dockerfile
  go.mod
  go.sum
  server/logger.go
  server/start.go
  server/util.go
  simapp/simd/cmd/root.go
  x/auth/keeper/keeper.go
  x/bank/keeper/keeper.go
  x/bank/keeper/view.go
  x/crisis/keeper/keeper.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/proposal_handler.go
  x/evidence/keeper/keeper.go
  x/gov/abci.go
  x/gov/keeper/keeper.go
  x/ibc/applications/transfer/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/03-connection/keeper/keeper.go
  x/ibc/core/04-channel/keeper/keeper.go
  x/ibc/core/05-port/keeper/keeper.go
  x/mint/keeper/keeper.go
  x/params/keeper/keeper.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/staking/keeper/keeper.go
  x/staking/keeper/slash.go
  x/upgrade/keeper/keeper.go
Labels: automerge

#8037 Audit through legacy endpoints to find breaking changes
  CHANGELOG.md
  docs/migrations/rest.md
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest_test.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest_test.go
  x/staking/client/rest/query.go
  x/staking/client/rest/rest_test.go
Labels: Legacy API, REST, automerge, encoding

#7814 fix: bank gRPC error status codes
  x/bank/keeper/grpc_query.go
Labels: automerge

#8079 Rename GRPCRouter
  baseapp/grpcrouter_test.go
  server/api/server.go
  server/util_test.go
  simapp/app.go
  store/types/store.go
  types/events.go
  types/tx_msg.go
  x/bank/client/rest/rest.go
  x/distribution/keeper/msg_server.go
  x/evidence/client/cli/cli_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/msg_server.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
  x/ibc/core/02-client/types/keys_test.go
  x/ibc/core/02-client/types/params_test.go
  x/ibc/core/03-connection/keeper/grpc_query_test.go
  x/ibc/core/03-connection/types/keys_test.go
  x/ibc/core/04-channel/keeper/grpc_query_test.go
  x/ibc/core/04-channel/types/keys_test.go
  x/ibc/core/23-commitment/types/utils.go
  x/ibc/core/23-commitment/types/utils_test.go
  x/ibc/core/24-host/parse_test.go
  x/ibc/core/keeper/msg_server.go
  x/slashing/client/rest/rest.go
  x/staking/client/rest/rest.go
  x/staking/handler_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/legacy/v036/migrate_test.go
  x/staking/types/historical_info_test.go
  x/staking/types/params_test.go
  x/upgrade/client/rest/rest.go
Labels: automerge, code-hygiene

#8081 increase ibc basic genesis validation
  x/ibc/core/02-client/types/genesis.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/03-connection/types/genesis.go
  x/ibc/core/03-connection/types/genesis_test.go
  x/ibc/core/04-channel/types/genesis.go
  x/ibc/core/04-channel/types/genesis_test.go
  x/ibc/core/genesis_test.go
Labels: automerge, x/ibc

#8097 fix typo
  x/crisis/keeper/keeper.go
Labels: automerge

#8069 Implement Connection-specified delay
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/tx.proto
  x/ibc/core/02-client/genesis.go
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/errors.go
  x/ibc/core/02-client/types/genesis.go
  x/ibc/core/02-client/types/genesis.pb.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/03-connection/client/cli/tx.go
  x/ibc/core/03-connection/genesis.go
  x/ibc/core/03-connection/keeper/grpc_query_test.go
  x/ibc/core/03-connection/keeper/handshake.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/keeper/keeper_test.go
  x/ibc/core/03-connection/keeper/verify.go
  x/ibc/core/03-connection/keeper/verify_test.go
  x/ibc/core/03-connection/types/connection.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/03-connection/types/connection_test.go
  x/ibc/core/03-connection/types/genesis_test.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/03-connection/types/tx.pb.go
  x/ibc/core/exported/client.go
  x/ibc/core/exported/connection.go
  x/ibc/core/genesis_test.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/client_state_test.go
  x/ibc/light-clients/06-solomachine/types/codec_test.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/consensus_state.go
  x/ibc/light-clients/07-tendermint/types/errors.go
  x/ibc/light-clients/07-tendermint/types/genesis.go
  x/ibc/light-clients/07-tendermint/types/genesis_test.go
  x/ibc/light-clients/07-tendermint/types/proposal_handle.go
  x/ibc/light-clients/07-tendermint/types/store.go
  x/ibc/light-clients/07-tendermint/types/store_test.go
  x/ibc/light-clients/07-tendermint/types/update.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
Labels: automerge, x/ibc

#8086 docs: version switcher for /v0.39
  docs/.vuepress/config.js
  docs/package-lock.json
  docs/package.json
Labels: docs

#8060 change TmService's validator pubkey type to any
  client/grpc/tmservice/query.pb.go
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  client/rpc/validators.go
  proto/cosmos/base/tendermint/v1beta1/query.proto
Labels: automerge

#8092 x/ibc/core/23-commitment/types: fix MerkleProof.Empty comparisons
  x/ibc/core/23-commitment/types/bench_test.go
  x/ibc/core/23-commitment/types/merkle.go
Labels: automerge, x/ibc

#8105 Fix incorrect description in governance docs
  x/gov/spec/01_concepts.md
Labels: automerge, bug, docs, x/gov

#8080 Move and update codec.MarshalAny functions to codec.Marshaler interface
  CHANGELOG.md
  codec/amino_codec.go
  codec/amino_codec_test.go
  codec/any.go
  codec/any_test.go
  codec/codec.go
  codec/codec_common_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/core/encoding.md
  testutil/testdata/animal.go
  x/auth/keeper/keeper.go
  x/bank/exported/exported.go
  x/bank/keeper/keeper.go
  x/evidence/exported/evidence.go
  x/evidence/keeper/keeper.go
  x/evidence/types/genesis_test.go
  x/ibc/core/02-client/types/encoding.go
  x/ibc/core/exported/client.go
  x/ibc/light-clients/06-solomachine/types/consensus_state.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/06-solomachine/types/solomachine_test.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/slashing/keeper/keeper.go
  x/staking/types/msg_test.go
  x/upgrade/types/plan.go
Labels: api-breaking, automerge, encoding

#8084 docs: docs-staging → master
  docs/.vuepress/config.js
Labels: automerge, docs

#8099 Recover private validator key
  CHANGELOG.md
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/utils.go
  x/genutil/utils_test.go
Labels: automerge

#8107 Robert/api clientctx
  CHANGELOG.md
  client/context.go
  client/context_test.go
  client/rpc/validators.go
  client/tx/tx.go
  docs/building-modules/module-interfaces.md
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/query.go
  x/bank/client/cli/query.go
  x/distribution/client/cli/query.go
  x/evidence/client/cli/query.go
  x/gov/client/cli/query.go
  x/ibc/applications/transfer/client/cli/query.go
  x/ibc/core/02-client/client/cli/query.go
  x/ibc/core/03-connection/client/cli/query.go
  x/ibc/core/04-channel/client/cli/query.go
  x/mint/client/cli/query.go
  x/params/client/cli/query.go
  x/slashing/client/cli/query.go
  x/staking/client/cli/query.go
  x/upgrade/client/cli/query.go
Labels: automerge

#8108 ADR template: add Further Discussions
  docs/architecture/adr-template.md
Labels: ADR, automerge

#8118 Add UnpackInterfaces to BroadcastReq
  codec/amino_codec_test.go
  x/auth/client/rest/broadcast.go
Labels: automerge

#8119 fix ibc-transfer receiving denom bug
  x/ibc/applications/transfer/handler_test.go
  x/ibc/applications/transfer/keeper/relay.go
Labels: automerge, bug, x/ibc

#8123 testutil: new TempFile function, simplify WriteToNewTempFile
  testutil/ioutil.go
  testutil/ioutil_test.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/encode_test.go
  x/auth/client/rest/rest_test.go
  x/auth/client/tx_test.go
  x/distribution/client/cli/tx_test.go
  x/gov/client/cli/parse_test.go
  x/params/client/cli/tx_test.go
Labels: automerge

#8101 make it exit gracefully.
  server/start.go
Labels: automerge

#8103 add page flags for staking validators
  x/staking/client/cli/cli_test.go
  x/staking/client/cli/query.go
Labels: automerge

#8130 use testutil in test cases
  go.mod
  snapshots/helpers_test.go
  snapshots/manager_test.go
  snapshots/store_test.go
  testutil/ioutil.go
  x/distribution/client/cli/cli_test.go
  x/gov/client/cli/cli_test.go
Labels: automerge

#8137 x/bank: update atlas manifest
  x/bank/atlas/atlas.toml
Labels: automerge, docs

#7996 atlas: x/auth v0.39.1
  x/auth/atlas/atlas-v0.39.1.md
  x/auth/atlas/atlas.toml
Labels: automerge, docs

#8140 x/auth: update atlas manifest
  x/auth/atlas/atlas-v0.39.1.md
  x/auth/atlas/atlas.toml
  x/bank/atlas/atlas-v0.39.1.md
Labels: automerge, docs

#8131 Switch LogFormat to Plain by default
  simapp/simd/cmd/root.go
Labels: CLI, UX, automerge

#7259 Snapshot sync: use hasher for chunk hashes (#7215)
  snapshots/helpers_test.go
  snapshots/manager_test.go
  snapshots/store.go
  snapshots/store_test.go
  store/rootmulti/store_test.go
Labels: automerge, crypto

#8144 server: extract Execute func
  server/cmd/execute.go
  simapp/simd/cmd/cmd_test.go
  simapp/simd/cmd/root.go
  simapp/simd/main.go
Labels: automerge

#7999 Update CONTRIBUTING.md Point Release Procedure
  CONTRIBUTING.md
Labels: automerge

#8136 Use SignModeLegacyAminoJSON when signer is ledger key
  client/cmd.go
  client/context.go
  client/flags/flags.go
  client/tx/factory.go
  x/auth/client/cli/tx_sign.go
Labels: automerge

#8145 Model-based tests for relay functions of ICS-20 token transfer
  x/ibc/applications/transfer/keeper/MBT_README.md
  x/ibc/applications/transfer/keeper/keeper_test.go
  x/ibc/applications/transfer/keeper/mbt_relay_test.go
  x/ibc/applications/transfer/keeper/model_based_tests/Test5Packets.json
  x/ibc/applications/transfer/keeper/model_based_tests/Test5Packets.tla
  x/ibc/applications/transfer/keeper/model_based_tests/Test5PacketsAllDifferentPass.json
  x/ibc/applications/transfer/keeper/model_based_tests/Test5PacketsAllDifferentPass.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementErrorFail.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementErrorFail.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementErrorPass.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementErrorPass.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementResultFail.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementResultFail.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementResultPass.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvAcknowledgementResultPass.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvPacketFail.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvPacketFail.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvPacketPass.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnRecvPacketPass.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnTimeoutFail.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnTimeoutFail.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnTimeoutPass.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestOnTimeoutPass.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestSendTransferFail.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestSendTransferFail.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestSendTransferPass.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestSendTransferPass.tla
  x/ibc/applications/transfer/keeper/model_based_tests/TestUnescrowTokens.json
  x/ibc/applications/transfer/keeper/model_based_tests/TestUnescrowTokens.tla
  x/ibc/applications/transfer/keeper/relay_model/account.tla
  x/ibc/applications/transfer/keeper/relay_model/account_record.tla
  x/ibc/applications/transfer/keeper/relay_model/apalache-to-relay-test.json
  x/ibc/applications/transfer/keeper/relay_model/apalache-to-relay-test2.json
  x/ibc/applications/transfer/keeper/relay_model/denom.tla
  x/ibc/applications/transfer/keeper/relay_model/denom_record.tla
  x/ibc/applications/transfer/keeper/relay_model/denom_record2.tla
  x/ibc/applications/transfer/keeper/relay_model/denom_sequence.tla
  x/ibc/applications/transfer/keeper/relay_model/identifiers.tla
  x/ibc/applications/transfer/keeper/relay_model/relay.tla
  x/ibc/applications/transfer/keeper/relay_model/relay_tests.tla
Labels: automerge, tests, x/ibc

#8064 docs: Add grpc & rest endpoints overview
  docs/README.md
  docs/core/README.md
  docs/core/encoding.md
  docs/core/events.md
  docs/core/grpc_rest.md
  docs/core/node.md
  docs/core/ocap.md
  docs/core/runtx_middleware.md
  docs/core/telemetry.md
  docs/core/transactions.md
  docs/interfaces/README.md
  docs/migrations/README.md
  docs/migrations/rest.md
  docs/run-node/README.md
  docs/run-node/interact-node.md
  docs/run-node/keyring.md
Labels: automerge, docs

#8165 Support IBC upgrade on same revision
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#8106 fix: Signature only flag bug on tx sign command 7632
  CHANGELOG.md
  client/context.go
  client/tx/tx.go
  client/tx/tx_test.go
  codec/types/any.go
  server/grpc/server_test.go
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  types/errors/errors.go
  types/tx/types.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/decode.go
  x/auth/client/cli/encode.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/rest/rest_test.go
  x/auth/client/tx.go
  x/auth/tx/builder.go
  x/auth/tx/service_test.go
  x/bank/client/cli/cli_test.go
  x/genutil/client/cli/gentx.go
Labels: automerge, bug

#8155 Combine client.ReadTxCommandFlags with GetClientContextFromCmd
  client/cmd.go
  client/cmd_test.go
  client/keys/add.go
  client/keys/delete.go
  client/keys/export.go
  client/keys/import.go
  client/keys/list.go
  client/keys/show.go
  client/rpc/block.go
  client/rpc/status.go
  client/rpc/validators.go
  server/start.go
  simapp/simd/cmd/testnet.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/query.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/vesting/client/cli/tx.go
  x/bank/client/cli/query.go
  x/bank/client/cli/tx.go
  x/bank/client/testutil/cli_helpers.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/evidence/client/cli/query.go
  x/genutil/client/cli/gentx.go
  x/gov/client/cli/query.go
  x/gov/client/cli/tx.go
  x/ibc/applications/transfer/client/cli/query.go
  x/ibc/applications/transfer/client/cli/tx.go
  x/ibc/core/02-client/client/cli/query.go
  x/ibc/core/03-connection/client/cli/query.go
  x/ibc/core/03-connection/client/cli/tx.go
  x/ibc/core/04-channel/client/cli/query.go
  x/ibc/core/04-channel/client/cli/tx.go
  x/ibc/light-clients/06-solomachine/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/mint/client/cli/query.go
  x/params/client/cli/query.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/query.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/tx.go
Labels: automerge, code-hygiene

#8164 Add msg on CLI for migrating GenesisDoc
  simapp/simd/cmd/root.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/client/cli/validate_genesis_test.go
Labels: automerge

#8157 Add Increment method to Height interface
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
  x/ibc/core/02-client/types/height.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/exported/client.go
  x/ibc/light-clients/07-tendermint/types/header_test.go
  x/ibc/light-clients/07-tendermint/types/proposal_handle_test.go
Labels: automerge, x/ibc

#8169 Fix IBC software upgrade proposals from automatically failing, add unpackinterfaces function
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/upgrade/types/proposal.go
  x/upgrade/types/proposal_test.go
Labels: backport/0.40.x (Stargate), bug

#8170 x/ibc: fix ClientUpdateProposal unpacker
  x/ibc/core/02-client/types/proposal.go
  x/ibc/core/02-client/types/proposal_test.go
  x/upgrade/types/plan.go
Labels: backport/0.40.x (Stargate), bug, x/ibc

#8172 docs: typo fix
  x/distribution/spec/README.md
Labels: automerge, docs

#8182 client: remove redundant/repeated code
  client/broadcast.go
Labels: automerge

#8187 Fix IBC upgrade: manually tested
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#8178 Update default historical header number for stargate
  x/staking/client/cli/cli_test.go
  x/staking/simulation/genesis_test.go
  x/staking/simulation/params_test.go
  x/staking/types/params.go
Labels: automerge, x/ibc

#8190 ADR-033 Updates / Amendments
  docs/architecture/adr-033-protobuf-inter-module-comm.md
Labels: automerge

#8194 Tulasi/export homepath
  simapp/simd/cmd/root.go
Labels: automerge

#8167 Clean Any interface
  client/tx/tx.go
  codec/types/any.go
  codec/types/compat.go
  codec/types/types_test.go
  simapp/test_helpers.go
  x/auth/client/query.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/legacy/v040/migrate.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/direct_test.go
  x/auth/tx/service_test.go
  x/auth/tx/sigs.go
  x/auth/types/account.go
  x/ibc/light-clients/06-solomachine/types/update_test.go
  x/ibc/testing/solomachine.go
  x/staking/genesis_test.go
  x/staking/legacy/v040/migrate.go
  x/staking/types/data_test.go
  x/staking/types/msg.go
  x/staking/types/validator.go
Labels: automerge, encoding

#8196 x/upgrade docs - general audit and cleanup
  x/upgrade/doc.go
Labels: automerge, docs

#8200 Fix IBC Timeout verification bug
  x/ibc/core/04-channel/keeper/keeper.go
  x/ibc/core/04-channel/keeper/keeper_test.go
  x/ibc/core/04-channel/keeper/packet_test.go
Labels: automerge, backport/0.40.x (Stargate), bug, x/ibc

#8184 Fix proto-swagger-gen
  client/docs/swagger-ui/swagger.yaml
  scripts/protoc-swagger-gen.sh
Labels: automerge

#8217 simulation: close opened files and check for error while creating files
  x/simulation/log.go
Labels: automerge

#8221 Fix Unregistered interface types.Evidence
  client/rpc/block.go
  client/rpc/rpc_test.go
Labels: automerge, bug

#8229 minor channel fixes
  x/ibc/core/04-channel/keeper/handshake.go
Labels: x/ibc

#8225 test: Use the bond denomination from the configuration, not the default
  testutil/network/network.go
Labels: automerge

#8236 Fix tendermint query proto scoping
  proto/cosmos/base/tendermint/v1beta1/query.proto
Labels: automerge

#8209 Update randomfees selection of non-zero coins
  types/simulation/account.go
Labels: automerge

#8240 Fix setting withdraw address
  x/distribution/keeper/msg_server.go
Labels: bug, x/distribution

#8238 Add script to generate proto-docs
  docs/core/README.md
  docs/core/grpc_rest.md
  docs/core/proto-docs.md
  docs/protodoc-markdown.tmpl
  go.mod
  go.sum
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/tx.proto
  scripts/protocgen.sh
  types/tx/tx.pb.go
  x/staking/types/tx.pb.go
Labels: automerge, docs
