Repository cosmos/cosmos-sdk, pull requests merged in 2020-11, with the labels that each got.

#7730 Fix fetch txs by height on legacy REST endpoint
  x/auth/client/rest/decode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest_test.go
Labels: Legacy API, automerge, backlog, backport/0.40.x (Stargate)

#7763 Don't claim channel capability on crossing hellos
  x/ibc/applications/transfer/keeper/keeper.go
  x/ibc/applications/transfer/module.go
  x/ibc/applications/transfer/module_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7641 Fix #7640: tally calculation precision error
  CHANGELOG.md
  types/decimal_test.go
  x/gov/keeper/tally.go
Labels: automerge, backport/0.40.x (Stargate)

#7735 Async Ack Fixes
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/ibc/custom.md
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/query.proto
  x/ibc/core/04-channel/client/cli/cli.go
  x/ibc/core/04-channel/client/cli/query.go
  x/ibc/core/04-channel/client/utils/utils.go
  x/ibc/core/04-channel/genesis.go
  x/ibc/core/04-channel/keeper/grpc_query.go
  x/ibc/core/04-channel/keeper/grpc_query_test.go
  x/ibc/core/04-channel/keeper/keeper.go
  x/ibc/core/04-channel/keeper/keeper_test.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/genesis.go
  x/ibc/core/04-channel/types/genesis.pb.go
  x/ibc/core/04-channel/types/genesis_test.go
  x/ibc/core/04-channel/types/query.go
  x/ibc/core/04-channel/types/query.pb.go
  x/ibc/core/04-channel/types/query.pb.gw.go
  x/ibc/core/24-host/keys.go
  x/ibc/core/genesis_test.go
  x/ibc/core/keeper/grpc_query.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
  x/staking/types/staking.pb.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7780 ibc: remove root from verification funcs
  x/ibc/core/03-connection/keeper/verify.go
  x/ibc/core/exported/client.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/store.go
  x/ibc/light-clients/07-tendermint/types/store_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7764 Update x/banking and x/crisis InitChain re slow Gaia startup
  CHANGELOG.md
  server/export.go
  server/export_test.go
  server/start.go
  server/types/app.go
  server/util.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
  testutil/network/network.go
  x/bank/keeper/genesis.go
  x/bank/module.go
  x/crisis/handler_test.go
  x/crisis/keeper/keeper.go
  x/crisis/module.go
  x/gov/genesis_test.go
  x/upgrade/abci_test.go
Labels: automerge, backport/0.40.x (Stargate), genesis

#7784 Remove BatchProofs implementation
  x/ibc/core/23-commitment/types/merkle.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7781 ibc: validate signer address
  x/ibc/applications/transfer/types/msgs.go
  x/ibc/applications/transfer/types/packet.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/04-channel/types/msgs.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7783 Host Key changes
  x/ibc/core/24-host/keys.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7789 Add log_level CLI Flag
  server/util.go
  simapp/simd/cmd/root.go
Labels: CLI, automerge

#7663 baseapp, client: reject gRPC connections with out-of-range/nefarious x-cosmos-block-height values
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/grpcserver.go
  client/grpc_query.go
  server/grpc/server_test.go
Labels: automerge, backport/0.40.x (Stargate), baseapp, gRPC

#7628 crypto/hd: properly catch index overflows to ensure conformance with BIP 32
  crypto/hd/hdpath.go
  crypto/hd/hdpath_test.go
Labels: backport/0.40.x (Stargate), security

#7507 fix: allow app.SetSnapshotStore(nil)
  baseapp/abci.go
  baseapp/options.go
Labels: automerge, backport/0.40.x (Stargate)

#7788 Remove duplicate tx commands for auth
  CHANGELOG.md
  x/auth/client/cli/tx.go
  x/auth/module.go
Labels: automerge

#7807 Minor Channel Fixes from Audit
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
Labels: x/ibc

#7800 append -json to go test -race
  .github/workflows/test.yml
Labels: automerge

#7701 docs: Add new section "Running a Node"
  crypto/keyring/doc.go
  docs/interfaces/README.md
  docs/run-node/README.md
  docs/run-node/interact-node.md
  docs/run-node/keyring.md
  docs/run-node/run-node.md
  docs/using-the-sdk/quick-start.md
Labels: automerge, backport/0.40.x (Stargate), docs

#7812 ibc: remove GetClientConsensusStateLTE
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
Labels: x/ibc

#7813 Merge Packet Functions
  x/ibc/core/03-connection/keeper/verify_test.go
  x/ibc/core/04-channel/keeper/packet.go
  x/ibc/core/04-channel/keeper/packet_test.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
Labels: automerge, x/ibc

#7826 Small fixes in docs and error messages
  docs/run-node/interact-node.md
  docs/run-node/keyring.md
  docs/run-node/run-node.md
  types/tx/types.go
Labels: automerge, docs

#7828 Bump to tendermint v0.34-rc6
  CHANGELOG.md
  Makefile
  go.mod
  go.sum
  server/tm_cmds.go
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/types/evidence.proto
  x/staking/types/staking.pb.go
Labels: automerge

#7492 ADR 35: Rosetta API Support
  docs/architecture/README.md
  docs/architecture/adr-035-rosetta-api-support.md
Labels: ADR

#7837 Update cosmovisor.md
  docs/using-the-sdk/cosmovisor.md
Labels: docs

#7831 docs: fix broken url in cn/basics/app-anatomy.md (master)
  docs/cn/basics/app-anatomy.md
Labels: automerge, docs

#7843 Update changelog for v0.40.0-rc3
  CHANGELOG.md
Labels: automerge

#7845 x/cap: fix comments, SetIndex, and some tests
  x/capability/genesis.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
Labels: automerge

#7580 x/ibc: transfer specs
  x/ibc/applications/transfer/spec/01_concepts.md
  x/ibc/applications/transfer/spec/02_state.md
  x/ibc/applications/transfer/spec/03_state_transitions.md
  x/ibc/applications/transfer/spec/04_messages.md
  x/ibc/applications/transfer/spec/06_metrics.md
  x/ibc/applications/transfer/spec/07_params.md
  x/ibc/applications/transfer/spec/README.md
Labels: automerge, backport/0.40.x (Stargate), spec, x/ibc

#7853 ibc: spec overview
  x/ibc/core/spec/README.md
  x/ibc/spec/README.md
Labels: spec, x/ibc

#7857 Remove redundancy in IBC error
  x/ibc/light-clients/07-tendermint/types/client_state.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7770 unknownproto: check result from protowire.ConsumeFieldValue and return an error
  codec/unknownproto/regression_test.go
  codec/unknownproto/unknown_fields.go
Labels: automerge, encoding

#7840 Fix creation of local RPC node in clientCtx
  server/start.go
Labels: automerge

#7869 Proof Fixes
  proto/ibc/core/commitment/v1/commitment.proto
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/04-channel/keeper/keeper_test.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/23-commitment/types/commitment.pb.go
  x/ibc/core/23-commitment/types/key_path.go
  x/ibc/core/23-commitment/types/merkle.go
  x/ibc/core/23-commitment/types/merkle_test.go
  x/ibc/core/23-commitment/types/utils.go
  x/ibc/core/23-commitment/types/utils_test.go
  x/ibc/core/client/query.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/tendermint_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
  x/staking/types/staking.pb.go
Labels: x/ibc

#7873 Update IBC host keys + cleanup
  x/ibc/applications/transfer/keeper/relay_test.go
  x/ibc/core/02-client/client/utils/utils.go
  x/ibc/core/02-client/keeper/grpc_query.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/simulation/decoder.go
  x/ibc/core/02-client/simulation/decoder_test.go
  x/ibc/core/03-connection/client/utils/utils.go
  x/ibc/core/03-connection/keeper/grpc_query.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/keeper/keeper.go
  x/ibc/core/03-connection/keeper/verify_test.go
  x/ibc/core/03-connection/simulation/decoder.go
  x/ibc/core/03-connection/simulation/decoder_test.go
  x/ibc/core/04-channel/client/utils/utils.go
  x/ibc/core/04-channel/keeper/grpc_query.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/04-channel/keeper/keeper.go
  x/ibc/core/04-channel/keeper/packet_test.go
  x/ibc/core/04-channel/keeper/timeout_test.go
  x/ibc/core/04-channel/simulation/decoder.go
  x/ibc/core/04-channel/simulation/decoder_test.go
  x/ibc/core/24-host/errors.go
  x/ibc/core/24-host/keys.go
  x/ibc/core/24-host/parse.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/core/simulation/decoder_test.go
  x/ibc/core/spec/02_state.md
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/solomachine_test.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/store.go
  x/ibc/light-clients/07-tendermint/types/store_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/solomachine.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7881 ibc: fix grpc gateway routes
  client/docs/swagger-ui/swagger.yaml
  proto/ibc/applications/transfer/v1/query.proto
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/connection/v1/query.proto
  x/ibc/applications/transfer/types/query.pb.go
  x/ibc/applications/transfer/types/query.pb.gw.go
  x/ibc/core/02-client/types/query.pb.go
  x/ibc/core/02-client/types/query.pb.gw.go
  x/ibc/core/03-connection/types/query.pb.go
  x/ibc/core/03-connection/types/query.pb.gw.go
  x/ibc/core/04-channel/types/query.pb.go
  x/ibc/core/04-channel/types/query.pb.gw.go
  x/ibc/core/23-commitment/types/commitment.pb.go
Labels: automerge, gRPC, x/ibc

#7882 fix mismatched solomachine signature data type verification
  x/ibc/light-clients/06-solomachine/types/proof.go
  x/ibc/light-clients/06-solomachine/types/proof_test.go
Labels: automerge, backport/0.40.x (Stargate), bug, x/ibc

#7883 solo machine GetPubKey returns an error instead of panicing
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/consensus_state.go
  x/ibc/light-clients/06-solomachine/types/header.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/06-solomachine/types/proposal_handle.go
  x/ibc/light-clients/06-solomachine/types/proposal_handle_test.go
  x/ibc/light-clients/06-solomachine/types/update.go
  x/ibc/light-clients/06-solomachine/types/update_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7892 IBC Fraction for trust level changed to uints
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/types/fraction.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7895 IBC Upgrades function interface return client/consensus
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/exported/client.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7893 docker: proto
  Makefile
  contrib/devtools/proto-tools-installer.sh
  scripts/protocgen-any.sh
  scripts/protocgen.sh
  x/staking/types/staking.pb.go
Labels: automerge, dev-ux

#7891 Remove consensus params from IBC tm client
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/codec_test.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/genesis_test.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/errors.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/07-tendermint/types/update_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/ibc/testing/chain.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7842 Add TxsByEvent gRPC endpoint
  proto/cosmos/tx/v1beta1/service.proto
  types/query/filtered_pagination.go
  types/query/pagination.go
  types/tx/service.pb.go
  types/tx/service.pb.gw.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: automerge, gRPC

#7915 remove timestamp check from solomachine misbehaviour
  x/ibc/light-clients/06-solomachine/spec/01_concepts.md
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle_test.go
Labels: automerge, backport/0.40.x (Stargate), security, x/ibc

#7917 move sdk denom validation to top of ValidateIBCDenom
  x/ibc/applications/transfer/types/trace.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7916 Minor fixes for ibc tendermint
  x/ibc/light-clients/07-tendermint/types/codec.go
  x/ibc/light-clients/07-tendermint/types/header.go
  x/ibc/light-clients/07-tendermint/types/header_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7838 Add support for TM secp256k1
  crypto/codec/tm.go
  crypto/keys/secp256k1/secp256k1_test.go
  x/staking/handler_test.go
Labels: automerge, crypto, tendermint

#7923 x/ibc/24-host: fix some comments and dedup a function
  x/ibc/core/24-host/validate.go
Labels: automerge

#7918 Capability Fixes
  CHANGELOG.md
  x/capability/genesis.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/errors.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle.go
Labels: automerge, bug, x/capability

#7885 Fixed help message for export's 'jail-whitelist' command to be clearer
  server/export.go
Labels: automerge

#7810 ibc: packet fixes
  proto/ibc/core/channel/v1/tx.proto
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/types/connection_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/04-channel/types/tx.pb.go
  x/ibc/core/keeper/msg_server.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7932 remove chainid from ibc tm misbehaviour
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/types/codec_test.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/exported/client.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7926 Update transfer docs and make ibc prefix a const
  x/ibc/applications/transfer/keeper/relay.go
  x/ibc/applications/transfer/spec/01_concepts.md
  x/ibc/applications/transfer/types/keys.go
  x/ibc/applications/transfer/types/trace.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7776 cosmovisor: pass quit signals to subprocess
  cosmovisor/process.go
Labels: automerge

#7817 Fix upgrade store loader
  store/rootmulti/store.go
  x/upgrade/types/storeloader.go
  x/upgrade/types/storeloader_test.go
Labels: automerge, x/upgrade

#7931 All Makefile proto commands use Docker
  .github/workflows/proto.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  client/docs/swagger-ui/swagger.yaml
  codec/types/any.pb.go
  contrib/devtools/Makefile
  contrib/devtools/proto-tools-installer.sh
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/base/store/v1beta1/commit_info.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/crypto/ed25519/keys.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/params/v1beta1/params.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/service.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/ibc/applications/transfer/v1/tx.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/client/v1/tx.proto
  proto/ibc/core/commitment/v1/commitment.proto
  proto/ibc/core/connection/v1/tx.proto
  scripts/protocgen-any.sh
  testutil/testdata/query.proto
  testutil/testdata/tx.proto
  testutil/testdata/unknonwnproto.proto
Labels: automerge

#7925 Update dependencies to use gRPC v1.33.2
  CHANGELOG.md
  go.mod
  go.sum
Labels: automerge

#7733 ADR 037: Governance Split Votes
  docs/architecture/README.md
  docs/architecture/adr-037-gov-split-vote.md
Labels: ADR, x/gov

#7936 Use VerifyCommitLight when validating misbehaviour
  x/ibc/light-clients/07-tendermint/types/misbehaviour.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7930 Fix connection path validation and remove unused PathValidator function
  x/ibc/core/03-connection/types/connection_test.go
  x/ibc/core/03-connection/types/genesis.go
  x/ibc/core/03-connection/types/genesis_test.go
  x/ibc/core/24-host/validate.go
  x/ibc/core/24-host/validate_test.go
  x/ibc/core/genesis_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7941 version --long displays replaced build dependencies
  CHANGELOG.md
  version/version.go
Labels: automerge

#7777 cli: convert coins to smallest unit registered
  client/tx/factory.go
  simapp/simd/cmd/genaccounts.go
  types/coin.go
  types/coin_test.go
  types/dec_coin_test.go
  types/denom.go
  types/denom_internal_test.go
  types/rest/rest_test.go
  types/simulation/rand_util_test.go
  x/auth/vesting/client/cli/tx.go
  x/bank/client/cli/tx.go
  x/bank/client/testutil/cli_helpers.go
  x/distribution/client/cli/tx.go
  x/genutil/client/cli/gentx.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Labels: CLI, automerge, client-ux

#7946 counterParty -> counterparty
  docs/ibc/custom.md
  x/ibc/core/05-port/types/module.go
  x/ibc/core/spec/05_callbacks.md
Labels: automerge, backport/0.40.x (Stargate), code-hygiene, x/ibc

#7897 Fix power reduction test cast int64
  x/bank/keeper/msg_server.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/querier_test.go
  x/slashing/abci_test.go
  x/slashing/handler_test.go
  x/slashing/keeper/keeper_test.go
  x/staking/client/cli/cli_test.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/common_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/common_test.go
  x/staking/simulation/operations_test.go
  x/staking/teststaking/helper.go
Labels: automerge

#7833 docs: fix broken urls (launchpad/backports)
  docs/basics/app-anatomy.md
  docs/building-modules/module-interfaces.md
Labels: automerge, docs

#7944 Fix int64 overflow error for height comparison
  x/ibc/core/02-client/types/height.go
  x/ibc/core/02-client/types/height_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7945 ValidateSelfClient selfHeight check needs to use GTE
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7957 SendPacket prevents sends with frozen clients
  x/ibc/core/04-channel/keeper/packet.go
  x/ibc/core/04-channel/keeper/packet_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7952 x/simulation: make signals channel buffered to avoid missing signals
  x/simulation/simulate.go
Labels: automerge

#7856 improve error messages for legacy rest endpoints
  x/auth/client/rest/decode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest_test.go
Labels: automerge

#7959 reduce redundancy in 24 host
  x/ibc/core/24-host/keys.go
Labels: automerge, backport/0.40.x (Stargate), code-hygiene, x/ibc

#7962 fix validate basic check in channels
  x/ibc/core/04-channel/types/channel.go
  x/ibc/core/04-channel/types/channel_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7960 add domain separation between port and channel for transfer escrow address
  x/ibc/applications/transfer/types/keys.go
  x/ibc/applications/transfer/types/keys_test.go
Labels: automerge, backport/0.40.x (Stargate), security, x/ibc

#7938 docs: add newline to versions file
  docs/versions
Labels: automerge

#7702 [docs]: update building modules section to reflect ADR31
  docs/basics/app-anatomy.md
  docs/basics/gas-fees.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/README.md
  docs/building-modules/beginblock-endblock.md
  docs/building-modules/handler.md
  docs/building-modules/intro.md
  docs/building-modules/keeper.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-manager.md
  docs/building-modules/msg-services.md
  docs/building-modules/query-services.md
  docs/building-modules/structure.md
  docs/core/baseapp.md
  docs/core/events.md
  docs/core/transactions.md
  docs/intro/sdk-app-architecture.md
  types/module/module.go
  x/auth/module.go
  x/capability/module.go
  x/ibc/testing/mock/mock.go
  x/mint/module.go
  x/params/module.go
  x/upgrade/module.go
Labels: automerge, backport/0.40.x (Stargate)

#7968 update transfer error messages
  x/ibc/applications/transfer/keeper/relay.go
Labels: backport/0.40.x (Stargate), x/ibc

#7970 crypto/hd: add 'm/' prefix to hd path
  CHANGELOG.md
  crypto/hd/fundraiser_test.go
  crypto/hd/hdpath.go
  crypto/hd/hdpath_test.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/types_test.go
  crypto/ledger/ledger_test.go
  types/address.go
Labels: automerge, backport/0.39.x (Launchpad), backport/0.40.x (Stargate), bug, crypto

#7808 ibc: commit packet and hash
  x/ibc/applications/transfer/types/trace.go
  x/ibc/core/02-client/types/codec.go
  x/ibc/core/03-connection/keeper/verify_test.go
  x/ibc/core/04-channel/keeper/packet.go
  x/ibc/core/04-channel/keeper/timeout.go
  x/ibc/core/04-channel/types/packet.go
  x/ibc/core/04-channel/types/packet_test.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7971 launchpad: bump tendermint to v0.33.9
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  go.sum
Labels: dependencies, tendermint

#7974 Fix StatusCommand
  client/rpc/rpc_test.go
  client/rpc/status.go
Labels: automerge

#7839 ADR-031: elaborate consequences and encapsulation of module client-se…
  docs/architecture/adr-031-msg-service.md
Labels: ADR, automerge

#7961 x/bank: Atlas Doc
  x/bank/atlas/atlas-v0.39.1.md
  x/bank/atlas/atlas.toml
Labels: docs

#7979 Bech32 PubKey: use protobuf in slashing keeper
  CHANGELOG.md
  x/slashing/keeper/keeper.go
Labels: automerge, x/slashing

#7995 Bump Tendermint v0.34.0
  .github/workflows/test.yml
  go.mod
  go.sum
  x/ibc/light-clients/07-tendermint/types/fraction.go
Labels: automerge, dependencies

#7989 types/Coin: compile and reuse Regexps to reduce massive RAM+CPU burn
  go.mod
  go.sum
  types/bench_test.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
Labels: automerge

#8006 Fix tendermint misbehaviour trusted consensus state age check
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
Labels: backport/0.40.x (Stargate), bug, x/ibc

#8009 Mark accepted ADRs as accepted
  docs/architecture/README.md
  docs/architecture/adr-004-split-denomination-keys.md
  docs/architecture/adr-021-protobuf-query-encoding.md
  docs/architecture/adr-023-protobuf-naming.md
  docs/architecture/adr-031-msg-service.md
  go.mod
Labels: automerge

#7997 Show height on legacy REST endpoints
  baseapp/abci.go
  client/errors.go
  client/rpc/block.go
  x/bank/client/rest/query_test.go
Labels: automerge

#7919 Add ConsensusState to IBC Upgrades
  client/docs/swagger-ui/swagger.yaml
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/ibc/core/client/v1/tx.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/codec.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/02-client/types/tx.pb.go
  x/ibc/core/exported/client.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/07-tendermint/types/tendermint_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/testing/chain.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/keys.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal_test.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
Labels: automerge, x/ibc

#8016 Robust ClientGenesis Validation
  x/ibc/core/02-client/types/genesis.go
  x/ibc/core/02-client/types/genesis_test.go
Labels: genesis, x/ibc

#8011 docs: Add REST endpoints migration guide
  client/rest/rest.go
  docs/migrations/rest.md
  x/auth/client/rest/query.go
Labels: REST, automerge, docs

#7948 Update "Core Concepts" docs
  docs/building-modules/msg-services.md
  docs/core/README.md
  docs/core/baseapp.md
  docs/core/context.md
  docs/core/node.md
  docs/core/store.md
  docs/core/transactions.md
  docs/run-node/keyring.md
  docs/run-node/run-node.md
  simapp/simd/cmd/root.go
Labels: automerge, docs

#7993 Deterministic connection and channel identifiers
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/tx.proto
  proto/ibc/core/connection/v1/genesis.proto
  proto/ibc/core/connection/v1/tx.proto
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/auth/client/rest/rest_test.go
  x/ibc/applications/transfer/keeper/relay_test.go
  x/ibc/applications/transfer/module_test.go
  x/ibc/applications/transfer/types/msgs_test.go
  x/ibc/core/03-connection/client/cli/tx.go
  x/ibc/core/03-connection/genesis.go
  x/ibc/core/03-connection/keeper/grpc_query_test.go
  x/ibc/core/03-connection/keeper/handshake.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/keeper/keeper.go
  x/ibc/core/03-connection/types/connection_test.go
  x/ibc/core/03-connection/types/genesis.go
  x/ibc/core/03-connection/types/genesis.pb.go
  x/ibc/core/03-connection/types/genesis_test.go
  x/ibc/core/03-connection/types/keys.go
  x/ibc/core/03-connection/types/keys_test.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/03-connection/types/tx.pb.go
  x/ibc/core/04-channel/client/cli/tx.go
  x/ibc/core/04-channel/genesis.go
  x/ibc/core/04-channel/handler.go
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/04-channel/keeper/keeper.go
  x/ibc/core/04-channel/keeper/keeper_test.go
  x/ibc/core/04-channel/keeper/packet_test.go
  x/ibc/core/04-channel/types/genesis.go
  x/ibc/core/04-channel/types/genesis.pb.go
  x/ibc/core/04-channel/types/genesis_test.go
  x/ibc/core/04-channel/types/keys.go
  x/ibc/core/04-channel/types/keys_test.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/04-channel/types/tx.pb.go
  x/ibc/core/24-host/validate.go
  x/ibc/core/genesis_test.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/06_events.md
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/types.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#8015 CopyTx also copies timeoutHeight
  client/tx/legacy.go
  client/tx/legacy_test.go
Labels: automerge, encoding

#7875 CLI `migrate` command for x/{upgrade,params} proposals
  x/genutil/legacy/v036/migrate.go
  x/genutil/legacy/v038/migrate.go
  x/genutil/legacy/v039/migrate.go
  x/genutil/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate_test.go
  x/params/legacy/v036/types.go
  x/upgrade/legacy/v038/types.go
Labels: automerge, x/params, x/upgrade

#7992 Fix legacy querying tx ("unregistered type" bug)
  docs/migrations/rest.md
  x/auth/client/rest/decode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest_test.go
Labels: REST, automerge, bug

#7965 gRPC-gateway routes as alternative to legacy tendermint REST endpoints
  Makefile
  client/grpc/tmservice/block.go
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  client/grpc/tmservice/status.go
  proto/cosmos/base/tendermint/v1beta1/query.proto
  server/start.go
  server/types/app.go
  simapp/app.go
  testutil/network/util.go
  third_party/proto/tendermint/p2p/types.proto
  third_party/proto/tendermint/types/block.proto
  types/query/pagination.go
  types/query/pagination_test.go
  types/query/query.pb.go
  types/query/query.pb.gw.go
Labels: automerge, gRPC, tendermint

#7954 cli: ParseCoin doesn't do normalize
  types/bench_test.go
  types/coin.go
  x/ibc/applications/transfer/client/cli/tx.go
  x/staking/client/cli/cli_test.go
  x/staking/client/cli/tx.go
  x/staking/client/rest/grpc_query_test.go
Labels: automerge

#7967 Add an IBC prefix to transfer escrow addresses
  x/ibc/applications/transfer/module.go
  x/ibc/applications/transfer/module_test.go
  x/ibc/applications/transfer/types/errors.go
  x/ibc/applications/transfer/types/keys.go
Labels: automerge, backport/0.40.x (Stargate), security, x/ibc

#7782 docs: Remove legacy Msg/queriers in "Basics" section
  docs/DOCS_README.md
  docs/basics/accounts.md
  docs/basics/app-anatomy.md
  docs/basics/gas-fees.md
  docs/basics/tx-lifecycle.md
Labels: automerge, backport/0.40.x (Stargate), docs

#7491 ADR034: Account Rekeying
  docs/architecture/adr-034-account-rekeying.md
Labels: ADR, x/auth

#8034 Use generated client identifiers
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/client/v1/tx.proto
  types/query/query.pb.go
  x/auth/client/rest/rest_test.go
  x/ibc/core/02-client/genesis.go
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/client.go
  x/ibc/core/02-client/types/client_test.go
  x/ibc/core/02-client/types/genesis.go
  x/ibc/core/02-client/types/genesis.pb.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/height.go
  x/ibc/core/02-client/types/height_test.go
  x/ibc/core/02-client/types/keys.go
  x/ibc/core/02-client/types/keys_test.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/02-client/types/tx.pb.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/types/keys.go
  x/ibc/core/03-connection/types/keys_test.go
  x/ibc/core/04-channel/types/keys.go
  x/ibc/core/04-channel/types/keys_test.go
  x/ibc/core/24-host/parse.go
  x/ibc/core/24-host/parse_test.go
  x/ibc/core/genesis_test.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/02_state.md
  x/ibc/core/spec/03_state_transitions.md
  x/ibc/core/spec/04_messages.md
  x/ibc/light-clients/06-solomachine/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/ibc/testing/chain.go
  x/ibc/testing/chain_test.go
  x/ibc/testing/coordinator.go
Labels: automerge, x/ibc

#8039 Add panic handler on queries
  baseapp/abci.go
  baseapp/grpcserver.go
  client/grpc/tmservice/query.pb.go
  client/grpc/tmservice/query.pb.gw.go
  client/grpc/tmservice/service.go
  client/grpc/tmservice/service_test.go
  go.mod
  go.sum
  proto/cosmos/base/tendermint/v1beta1/query.proto
  server/grpc/server_test.go
  types/errors/abci.go
  types/errors/abci_test.go
  x/auth/tx/service_test.go
Labels: automerge, gRPC

#8048 multistore: fix SetInitialVersion
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: automerge, kvstore

#8043 client/keys: support export of unarmored private key
  client/keys/export.go
  client/keys/export_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Labels: keys
