Repository cosmos/cosmos-sdk, pull requests merged in 2020-10, with the labels that each got.

#7367 Upgrade Client
  .gitignore
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  proto/ibc/client/client.proto
  proto/ibc/commitment/commitment.proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc/02-client/handler.go
  x/ibc/02-client/handler_test.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/client.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/errors.go
  x/ibc/02-client/types/events.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/07-tendermint/types/upgrade.go
  x/ibc/07-tendermint/types/upgrade_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/23-commitment/types/commitment.pb.go
  x/ibc/23-commitment/types/key_path.go
  x/ibc/23-commitment/types/merkle.go
  x/ibc/exported/client.go
  x/ibc/genesis_test.go
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/testing/chain.go
  x/staking/types/staking.pb.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/keys.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/upgrade.pb.go
Labels: x/ibc

#7426 Add keyring backend flag in AddGenesisAccountCmd
  simapp/simd/cmd/genaccounts.go
Labels: automerge

#7361 ibc: async acknowledgements
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/module.go
  x/ibc-transfer/types/expected_keepers.go
  x/ibc/02-client/types/errors.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/04-channel/types/errors.go
  x/ibc/04-channel/types/expected_keepers.go
  x/ibc/24-host/keys.go
  x/ibc/exported/client.go
  x/ibc/handler.go
  x/ibc/handler_test.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/client_state_test.go
  x/ibc/light-clients/06-solomachine/types/proof.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
  x/ibc/spec/01_concepts.md
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
Labels: automerge, x/ibc

#7394 Enforce solo machine signature type uniqueness
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/ibc/light-clients/06-solomachine/spec/01_concepts.md
  x/ibc/light-clients/06-solomachine/types/client_state_test.go
  x/ibc/light-clients/06-solomachine/types/codec.go
  x/ibc/light-clients/06-solomachine/types/codec_test.go
  x/ibc/light-clients/06-solomachine/types/errors.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/06-solomachine/types/proof.go
  x/ibc/light-clients/06-solomachine/types/proof_test.go
  x/ibc/light-clients/06-solomachine/types/solomachine.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/06-solomachine/types/update_test.go
  x/ibc/testing/solomachine.go
Labels: automerge, encoding, x/ibc

#7410 Fix installation of gocosmos
  contrib/devtools/proto-tools-installer.sh
Labels: automerge

#7429 ibc: rename epoch -> version
  client/docs/swagger-ui/swagger.yaml
  docs/architecture/adr-026-ibc-client-recovery-mechanisms.md
  proto/ibc/channel/query.proto
  proto/ibc/client/client.proto
  proto/ibc/client/query.proto
  proto/ibc/connection/query.proto
  x/ibc-transfer/client/cli/tx.go
  x/ibc-transfer/types/msgs_test.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/grpc_query.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/height.go
  x/ibc/02-client/types/height_test.go
  x/ibc/02-client/types/query.pb.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/03-connection/client/cli/query.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/grpc_query.go
  x/ibc/03-connection/keeper/grpc_query_test.go
  x/ibc/03-connection/types/query.pb.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/client/cli/query.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/grpc_query.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/04-channel/types/query.pb.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/client/query.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/header.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint_test.go
  x/ibc/light-clients/07-tendermint/types/test_utils.go
  x/ibc/light-clients/07-tendermint/types/update.go
  x/ibc/light-clients/07-tendermint/types/update_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/spec/01_concepts.md
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
Labels: automerge, x/ibc

#7433 proto register "cosmos.base.v1beta.Msg" interface
  codec/types/interface_registry.go
  types/codec.go
Labels: automerge

#7432 ibc: protobuf v1
  proto/ibc/applications/transfer/v1/transfer.proto
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/genesis.proto
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/genesis.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/commitment/v1/commitment.proto
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/genesis.proto
  proto/ibc/core/connection/v1/query.proto
  proto/ibc/core/types/v1/genesis.proto
  proto/ibc/lightclients/localhost/v1/localhost.proto
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/genesis.pb.go
  x/ibc/02-client/types/query.pb.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/03-connection/types/codec.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/genesis.pb.go
  x/ibc/03-connection/types/query.pb.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/channel.pb.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/genesis.pb.go
  x/ibc/04-channel/types/query.pb.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/23-commitment/types/codec.go
  x/ibc/23-commitment/types/commitment.pb.go
  x/ibc/applications/transfer/types/transfer.pb.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/09-localhost/types/localhost.pb.go
  x/ibc/types/genesis.pb.go
  x/staking/types/staking.pb.go
Labels: automerge, encoding, x/ibc

#7427 Flexible Connection Handshake Selection
  proto/ibc/core/connection/v1/connection.proto
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/handler.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/errors.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/version.go
  x/ibc/03-connection/types/version_test.go
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#7440 LGTM alerts audit
  client/debug/main.go
  crypto/hd/hdpath.go
  crypto/keyring/keyring.go
  x/simulation/mock_tendermint.go
  x/staking/keeper/delegation.go
Labels: bug, security

#7439 Flexible Channel Handshake Selection
  proto/ibc/core/channel/v1/channel.proto
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/04-channel/client/cli/tx.go
  x/ibc/core/04-channel/handler.go
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/04-channel/types/channel.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/errors.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/04_messages.md
  x/ibc/testing/chain.go
Labels: x/ibc

#6368 Proportional slashing ADR Update
  docs/architecture/adr-014-proportional-slashing.md
  package-lock.json
Labels: ADR, automerge, x/slashing

#6954 Update ADR 023 package versioning guidelines
  docs/architecture/adr-023-protobuf-naming.md
Labels: automerge, pinned

#7446 docs: docs-staging → master
  Makefile
Labels: automerge, docs

#7455 rename signature to signature data in solo machine
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/ibc/light-clients/06-solomachine/spec/01_concepts.md
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/client_state_test.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/light-clients/06-solomachine/types/solomachine_test.go
Labels: automerge, code-hygiene, x/ibc

#7454 Flexible handshake followup
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/connection/v1/connection.proto
  x/ibc/core/03-connection/handler.go
  x/ibc/core/03-connection/keeper/handshake.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/04-channel/handler.go
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/handler.go
  x/ibc/core/spec/04_messages.md
Labels: automerge, code-hygiene, x/ibc

#7449 Updating the ADR template
  docs/architecture/adr-template.md
Labels: ADR, automerge

#7418 Add Fee granter field
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/tx.pb.go
  types/tx_msg.go
  x/auth/ante/ante.go
  x/auth/ante/fee_grant.go
  x/auth/ante/fee_grant_test.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/legacy/legacytx/stdtx_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: automerge, x/auth

#7460 Upgrade-Client Followup #2
  x/ibc/core/02-client/handler_test.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
Labels: automerge, x/ibc

#7463 Use nil instead of protobuf.Empty in genesis BaseAccount
  x/auth/legacy/v040/migrate.go
  x/auth/legacy/v040/migrate_test.go
  x/auth/types/codec.go
Labels: automerge

#6755 R4R: Add custom validation for denom
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
Labels: backport/0.39.x (Launchpad)

#7467 Upgrade followup #3
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
Labels: automerge, x/ibc

#7430 Update Encoding Doc for 0.40
  docs/core/encoding.md
Labels: automerge

#7471 baseapp: fix err message and use valid default consensus params values
  baseapp/params.go
  simapp/test_helpers.go
Labels: automerge, baseapp

#7457 UpgradeClient Followup #1
  proto/ibc/core/client/v1/client.proto
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/distribution/types/genesis.pb.go
  x/ibc/core/02-client/handler.go
  x/ibc/core/02-client/handler_test.go
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/client.pb.go
  x/ibc/core/02-client/types/codec_test.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/exported/client.go
  x/ibc/core/genesis_test.go
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/07-tendermint/types/tendermint_test.go
  x/ibc/light-clients/07-tendermint/types/update_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/ibc/light-clients/09-localhost/types/client_state.go
  x/ibc/testing/chain.go
  x/staking/types/staking.pb.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/keys.go
Labels: automerge, x/ibc

#7442 Update TM to latest (+add test)
  .github/workflows/test.yml
  go.mod
  go.sum
  testutil/network/network.go
  x/staking/client/cli/cli_test.go
Labels: automerge

#7456 add ConsensusParams to ClientState
  proto/ibc/lightclients/tendermint/v1/tendermint.proto
  x/ibc/core/02-client/handler_test.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/grpc_query_test.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/codec_test.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/genesis_test.go
  x/ibc/core/ibc_test.go
  x/ibc/light-clients/07-tendermint/client/cli/tx.go
  x/ibc/light-clients/07-tendermint/types/client_state.go
  x/ibc/light-clients/07-tendermint/types/client_state_test.go
  x/ibc/light-clients/07-tendermint/types/errors.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/ibc/light-clients/07-tendermint/types/update_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#6913 x/genutil: fix CollectTxs traversal logic
  x/genutil/collect.go
  x/genutil/collect_test.go
Labels: automerge, x/genutil

#7478 types: keep migrating tests to test suites
  types/dec_coin_test.go
  types/errors/abci_test.go
  types/errors/errors_test.go
  types/errors/stacktrace_test.go
Labels: automerge

#7483 rename epoch to version
  x/ibc/applications/transfer/client/cli/tx.go
  x/ibc/core/02-client/client/utils/utils.go
  x/ibc/core/02-client/handler_test.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/height.go
  x/ibc/core/02-client/types/height_test.go
  x/ibc/core/03-connection/keeper/grpc_query_test.go
  x/ibc/core/03-connection/keeper/verify_test.go
  x/ibc/core/04-channel/keeper/grpc_query_test.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/04-channel/types/packet.go
  x/ibc/core/exported/client.go
  x/ibc/core/spec/01_concepts.md
  x/ibc/light-clients/06-solomachine/types/client_state.go
  x/ibc/light-clients/06-solomachine/types/header.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/06-solomachine/types/proposal_handle_test.go
  x/ibc/light-clients/06-solomachine/types/solomachine_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint_test.go
  x/ibc/light-clients/07-tendermint/types/update.go
  x/ibc/light-clients/07-tendermint/types/update_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
Labels: automerge, code-hygiene, x/ibc

#7441 ibc: metrics
  docs/core/telemetry.md
  x/ibc/applications/transfer/handler.go
  x/ibc/applications/transfer/keeper/relay.go
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/proposal.go
  x/ibc/core/03-connection/keeper/handshake.go
  x/ibc/core/04-channel/keeper/grpc_query.go
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/keeper.go
  x/ibc/core/04-channel/keeper/packet.go
  x/ibc/core/04-channel/keeper/timeout.go
  x/ibc/core/handler.go
Labels: automerge, telemetry, x/ibc

#7485 keyring-dir flag
  CHANGELOG.md
  client/cmd.go
  client/cmd_test.go
  client/context.go
  client/flags/flags.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/keyring-test/00ddf62001f91b9aaf7758fb727bea3932bb236e.address
  client/keys/keyring-test/252b5fe0336e82b269d1c26e379b11b54474f57a.address
  client/keys/keyring-test/43ca6f8e891fd1ef46a28d67c9be33ffecd8a6f8.address
  client/keys/keyring-test/454b29a63587e58ce2487836d90bda016c6fff7c.address
  client/keys/keyring-test/900b3a0b8932e443b60fd6273cc3026aa25116c8.address
  client/keys/keyring-test/9a85abde78d0e55e7650f11dcfdbb6bd131038d0.address
  client/keys/keyring-test/keyname1.info
  client/keys/keyring-test/keyname2.info
  client/keys/keyring-test/keyname4.info
  client/keys/keyring-test/keyname5.info
  client/keys/keyring-test/keyname6.info
  client/keys/keyring-test/keyname7.info
  client/keys/list.go
  client/keys/list_test.go
  client/keys/migrate_test.go
  client/keys/root.go
  client/keys/show.go
  client/keys/show_test.go
Labels: automerge, keys

#7470 docs: docs-staging → master
  docs/versions
Labels: automerge, docs

#7496 docs: Update the code.MarshalYAML docs
  codec/yaml.go
Labels: automerge, docs

#7106 ADR 029: Fee Grant Module
  docs/architecture/README.md
  docs/architecture/adr-029-fee-grant-module.md
Labels: ADR, automerge, x/feegrant

#7493 Fix on gov module
  x/upgrade/client/cli/tx.go
Labels: automerge

#7464 CLI `migrate` command follow-up: decode & re-encode
  x/auth/legacy/v040/migrate.go
  x/bank/legacy/v040/migrate.go
  x/crisis/legacy/v039/types.go
  x/crisis/legacy/v040/migrate.go
  x/crisis/legacy/v040/types.go
  x/distribution/legacy/v040/migrate.go
  x/distribution/legacy/v040/types.go
  x/evidence/legacy/v040/migrate.go
  x/evidence/legacy/v040/migrate_test.go
  x/genaccounts/legacy/v036/migrate.go
  x/genutil/legacy/v039/types.go
  x/genutil/legacy/v040/migrate.go
  x/genutil/legacy/v040/types.go
  x/gov/legacy/v040/migrate.go
  x/gov/legacy/v040/types.go
  x/mint/legacy/v039/types.go
  x/mint/legacy/v040/migrate.go
  x/mint/legacy/v040/types.go
  x/slashing/legacy/v040/migrate.go
  x/staking/legacy/v034/types.go
  x/staking/legacy/v036/types.go
  x/staking/legacy/v038/types.go
  x/staking/legacy/v040/migrate.go
  x/staking/legacy/v040/migrate_test.go
  x/staking/legacy/v040/types.go
Labels: CLI, automerge, genesis, x/genutil

#7458 ADR 031: Protobuf Msg Services
  docs/architecture/README.md
  docs/architecture/adr-021-protobuf-query-encoding.md
  docs/architecture/adr-031-msg-service.md
Labels: ADR, automerge, client-ux, dev-ux, encoding

#7514 simapp: use tmjson on InitChainer
  simapp/app.go
Labels: automerge

#7499 Use enum instead of int32 for BondStatus
  CHANGELOG.md
  proto/cosmos/staking/v1beta1/staking.proto
  simapp/export.go
  simapp/test_helpers.go
  types/staking.go
  types/staking_test.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/validator.go
  x/distribution/types/expected_keepers.go
  x/evidence/types/expected_keepers.go
  x/gov/keeper/common_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/types/expected_keepers.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/genesis.go
  x/slashing/handler_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/types/expected_keepers.go
  x/staking/app_test.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/rest/query.go
  x/staking/exported/exported.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/alias_functions.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/invariants.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator_test.go
  x/staking/legacy/v040/migrate.go
  x/staking/legacy/v040/migrate_test.go
  x/staking/simulation/genesis_test.go
  x/staking/spec/05_end_block.md
  x/staking/types/delegation.go
  x/staking/types/expected_keepers.go
  x/staking/types/exported.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: automerge

#7416 docs: Update "Basics" section
  docs/basics/README.md
  docs/basics/accounts.md
  docs/basics/app-anatomy.md
  docs/basics/tx-lifecycle.md
  simapp/app.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/query.go
  x/slashing/client/cli/query.go
  x/slashing/client/cli/tx.go
Labels: automerge, backport/0.40.x (Stargate), docs

#7518 Refactor RegisterQueryServices -> RegisterServices
  simapp/app.go
  tests/mocks/types_module_module.go
  types/module/configurator.go
  types/module/module.go
  types/module/module_test.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/bank/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/ibc/testing/mock/mock.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: automerge

#7512 update solo machine specs
  x/ibc/core/spec/README.md
  x/ibc/light-clients/06-solomachine/spec/01_concepts.md
  x/ibc/light-clients/06-solomachine/spec/02_state.md
  x/ibc/light-clients/06-solomachine/spec/03_state_transitions.md
  x/ibc/light-clients/06-solomachine/spec/04_messages.md
  x/ibc/light-clients/06-solomachine/spec/README.md
  x/ibc/light-clients/06-solomachine/types/update.go
Labels: automerge, docs, x/ibc

#7520 Refactor x/bank according to ADR 031
  buf.yaml
  proto/cosmos/bank/v1beta1/tx.proto
  types/result.go
  types/result_test.go
  x/bank/handler.go
  x/bank/keeper/msg_server.go
  x/bank/types/tx.pb.go
Labels: automerge, x/bank

#7521 IBC channel types testing cleanup
  x/ibc/core/04-channel/types/msgs_test.go
Labels: automerge, code-hygiene, tests, x/ibc

#7515 Fix misbehaviour handling for solo machine
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/ibc/light-clients/06-solomachine/types/misbehaviour.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/06-solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/06-solomachine/types/solomachine.pb.go
  x/ibc/testing/solomachine.go
Labels: bug, x/ibc

#7415 Return empty store tree on non-existing version
  CHANGELOG.md
  baseapp/baseapp_test.go
  go.mod
  go.sum
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
Labels: kvstore

#7474 ADR 32: Typed Events
  docs/architecture/README.md
  docs/architecture/adr-032-typed-events.md
Labels: ADR, baseapp, dev-ux, types

#7527 tendermint: update sdk to rc5
  Makefile
  baseapp/params.go
  baseapp/params_test.go
  go.mod
  go.sum
  server/export.go
  simapp/test_helpers.go
  third_party/proto/confio/proofs.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/params.proto
  third_party/proto/tendermint/types/types.proto
Labels: automerge

#7528 Update changelog on master (from v0.40.x branch)
  CHANGELOG.md
Labels: automerge

#7473 Update Building Modules documentation
  docs/basics/app-anatomy.md
  docs/building-modules/README.md
  docs/building-modules/beginblock-endblock.md
  docs/building-modules/errors.md
  docs/building-modules/genesis.md
  docs/building-modules/handler.md
  docs/building-modules/intro.md
  docs/building-modules/invariants.md
  docs/building-modules/keeper.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  docs/building-modules/querier.md
  docs/building-modules/query-services.md
  docs/building-modules/structure.md
  docs/core/baseapp.md
  docs/core/encoding.md
  docs/core/transactions.md
  docs/interfaces/query-lifecycle.md
  docs/interfaces/rest.md
Labels: automerge, docs

#7522 remove test_utils.go in tm client
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/genesis_test.go
  x/ibc/core/02-client/types/msgs_test.go
  x/ibc/core/genesis_test.go
  x/ibc/core/handler_test.go
  x/ibc/core/ibc_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/light-clients/07-tendermint/types/misbehaviour_test.go
  x/ibc/light-clients/07-tendermint/types/tendermint_test.go
  x/ibc/light-clients/07-tendermint/types/test_utils.go
  x/ibc/light-clients/07-tendermint/types/update_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/chain_test.go
Labels: automerge, code-hygiene, tests, x/ibc

#7535 Adding a rule for private files in gitignore
  .gitignore
Labels: automerge, dev-ux

#7536 Typo in docs
  docs/architecture/README.md
Labels: automerge, docs

#7565 Add back missing go package option to proofs.proto
  third_party/proto/confio/proofs.proto
Labels: automerge

#7524 Refactor x/distribution according to ADR 031
  proto/cosmos/distribution/v1beta1/tx.proto
  x/distribution/handler.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/tx.pb.go
Labels: automerge, x/distribution

#7558 client: add GetAccount and GetAccountWithHeight to AccountRetriever
  client/account_retriever.go
  client/test_helpers.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  x/auth/types/account_retriever.go
Labels: automerge, backport/0.40.x (Stargate), x/auth

#7557 [x/slashing] Implement Protobuf Msg Services
  proto/cosmos/slashing/v1beta1/tx.proto
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
  x/slashing/handler.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/tx.pb.go
  x/staking/types/staking.pb.go
Labels: automerge, x/slashing

#7221 Add the option of emitting amino encoded json from the CLI
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
Labels: automerge, backport/0.40.x (Stargate)

#7567 Update upgrade query plan response
  x/upgrade/client/cli/query.go
Labels: automerge

#7570 msg_service_router: reduce code complexity
  baseapp/msg_service_router.go
Labels: automerge

#7579 update solo machine create client cli cmd
  x/ibc/light-clients/06-solomachine/client/cli/tx.go
Labels: CLI, automerge, backport/0.40.x (Stargate), x/ibc

#7407 docs: Revert SPEC-SPEC and update x/{auth,bank,evidence,slashing}
  docs/spec/SPEC-SPEC.md
  x/auth/keeper/account.go
  x/auth/keeper/keeper.go
  x/auth/spec/02_state.md
  x/auth/spec/03_antehandlers.md
  x/auth/spec/03_types.md
  x/auth/spec/04_keepers.md
  x/auth/spec/07_params.md
  x/auth/spec/README.md
  x/bank/spec/01_state.md
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/spec/04_events.md
  x/bank/spec/05_params.md
  x/bank/spec/README.md
  x/evidence/spec/01_concepts.md
  x/evidence/spec/02_state.md
  x/evidence/spec/03_messages.md
  x/evidence/spec/04_events.md
  x/evidence/spec/05_params.md
  x/evidence/spec/06_begin_block.md
  x/evidence/spec/README.md
  x/slashing/spec/01_concepts.md
  x/slashing/spec/02_state.md
  x/slashing/spec/03_messages.md
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/05_hooks.md
  x/slashing/spec/07_tombstone.md
  x/slashing/spec/README.md
Labels: automerge, backport/0.40.x (Stargate), docs

#7533 Refactor x/{gov, crisis} according to ADR 031
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/gov/v1beta1/tx.proto
  x/crisis/handler.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/tx.pb.go
  x/gov/abci_test.go
  x/gov/handler.go
  x/gov/keeper/msg_server.go
  x/gov/types/msgs.go
  x/gov/types/tx.pb.go
Labels: automerge, x/crisis, x/gov

#7501 fix: Rework InterceptConfigsPreRunHandler to make sure configuration …
  server/doc.go
  server/util.go
  server/util_test.go
Labels: automerge

#7556 Refactor x/staking according to ADR 031
  proto/cosmos/staking/v1beta1/tx.proto
  x/distribution/handler.go
  x/distribution/keeper/msg_server.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/msg_server.go
  x/staking/types/tx.pb.go
Labels: automerge, x/staking

#7538 Refactor x/evidence to ADR-031
  CHANGELOG.md
  proto/cosmos/evidence/v1beta1/tx.proto
  x/bank/handler.go
  x/evidence/exported/evidence.go
  x/evidence/handler.go
  x/evidence/handler_test.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/msgs.go
  x/evidence/types/msgs_test.go
  x/evidence/types/tx.pb.go
Labels: automerge, x/evidence

#7577 remove id in localhost
  proto/ibc/lightclients/localhost/v1/localhost.proto
  x/ibc/light-clients/09-localhost/types/localhost.pb.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7551 Refactor x/auth/vesting to use ADR-031
  proto/cosmos/vesting/v1beta1/tx.proto
  types/tx/tx.pb.go
  x/auth/vesting/handler.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/tx.pb.go
  x/distribution/types/tx.pb.go
  x/ibc/light-clients/07-tendermint/types/tendermint.pb.go
Labels: automerge

#7581 Fix solomachine cmds
  x/ibc/light-clients/06-solomachine/client/cli/tx.go
Labels: CLI, automerge, backport/0.40.x (Stargate), x/ibc

#7573 Remove ClientType func and update consensus state path
  x/ibc/core/02-client/keeper/grpc_query.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/simulation/decoder.go
  x/ibc/core/02-client/simulation/decoder_test.go
  x/ibc/core/24-host/keys.go
  x/ibc/core/spec/02_state.md
Labels: automerge, backport/0.40.x (Stargate), code-hygiene, x/ibc

#7526 Refactor x/staking Validation and Delegation tests based on MsgCreateValidator.Pubkey type change.
  codec/any_test.go
  codec/types/any.go
  proto/cosmos/staking/v1beta1/tx.proto
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  types/address.go
  x/auth/types/account.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/querier_test.go
  x/evidence/keeper/infraction_test.go
  x/evidence/keeper/init_test.go
  x/evidence/keeper/keeper_test.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/abci_test.go
  x/gov/common_test.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/genesis_test.go
  x/slashing/handler_test.go
  x/slashing/init_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/querier_test.go
  x/slashing/keeper/test_common.go
  x/slashing/testslashing/params.go
  x/staking/app_test.go
  x/staking/client/cli/tx.go
  x/staking/common_test.go
  x/staking/handler_test.go
  x/staking/keeper/msg_server.go
  x/staking/simulation/operations.go
  x/staking/simulation/operations_test.go
  x/staking/teststaking/helper.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/tx.pb.go
Labels: automerge, backport/0.40.x (Stargate)

#7586 Fix sequence checks in solomachine
  x/ibc/light-clients/06-solomachine/types/client_state.go
Labels: automerge, backport/0.40.x (Stargate), bug, x/ibc

#7584 Add MsgServer to Configurator for ADR 031 wiring
  CHANGELOG.md
  simapp/app.go
  tests/mocks/account_retriever.go
  types/module/configurator.go
  types/module/module_test.go
  x/auth/vesting/module.go
  x/bank/client/cli/cli_test.go
  x/bank/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/slashing/module.go
  x/staking/module.go
Labels: automerge

#7594 Handle nil *Any in UnpackAny and add panic handler for tx decoding
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/helpers.go
  baseapp/test_helpers.go
  client/grpc/simulate/simulate.go
  codec/types/interface_registry.go
  simapp/test_helpers.go
  x/auth/client/cli/cli_test.go
  x/bank/bench_test.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/gov/simulation/operations.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: automerge, backport/0.40.x (Stargate)

#7576 Refactor x/ibc to ADR 031
  proto/ibc/applications/transfer/v1/transfer.proto
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/connection/v1/connection.proto
  x/ibc/applications/transfer/handler.go
  x/ibc/applications/transfer/keeper/msg_server.go
  x/ibc/applications/transfer/module.go
  x/ibc/applications/transfer/types/transfer.pb.go
  x/ibc/core/02-client/handler.go
  x/ibc/core/02-client/handler_test.go
  x/ibc/core/02-client/proposal_handler.go
  x/ibc/core/02-client/proposal_handler_test.go
  x/ibc/core/02-client/types/client.pb.go
  x/ibc/core/03-connection/handler.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/genesis_test.go
  x/ibc/core/handler.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/core/module.go
Labels: automerge, x/ibc

#7549 [IAVL]: Bump to v0.15.0-rc4
  Makefile
  go.mod
  go.sum
  store/iavl/store.go
Labels: automerge, backport/0.40.x (Stargate)

#7516 backport: Use enum instead of int32 for BondStatus (#7499)
  CHANGELOG.md
  proto/cosmos/staking/v1beta1/staking.proto
  simapp/export.go
  simapp/test_helpers.go
  types/staking.go
  types/staking_test.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/validator.go
  x/distribution/types/expected_keepers.go
  x/evidence/types/expected_keepers.go
  x/gov/keeper/common_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/types/expected_keepers.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/genesis.go
  x/slashing/handler_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/types/expected_keepers.go
  x/staking/app_test.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/rest/query.go
  x/staking/exported/exported.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/alias_functions.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/invariants.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator_test.go
  x/staking/legacy/v040/migrate.go
  x/staking/legacy/v040/migrate_test.go
  x/staking/simulation/genesis_test.go
  x/staking/spec/05_end_block.md
  x/staking/types/delegation.go
  x/staking/types/expected_keepers.go
  x/staking/types/exported.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: in progress, proto-breaking

#7587 server: catch and return unhandled errors in interceptConfigs
  server/util.go
  server/util_test.go
Labels: automerge

#7607 Add CommunitySpendProposals in migration
  x/distribution/legacy/v036/types.go
  x/genutil/legacy/v036/migrate.go
  x/genutil/legacy/v038/migrate.go
  x/genutil/legacy/v039/migrate.go
  x/genutil/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate_test.go
Labels: automerge

#7610 gitignore: adding Emacs .dir-locals.el
  .gitignore
Labels: automerge, dev-ux

#7589 Bugfix gov votes querier to use votes params
  x/gov/client/rest/query.go
Labels: automerge, backport/0.40.x (Stargate)

#7613 Update readme to link starport instead of scaffold
  README.md
Labels: automerge

#7616 Add background for Sequence change in ADR-020
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Labels: ADR, automerge

#7086 ADR 028: Public Key Addresses
  docs/architecture/README.md
  docs/architecture/adr-028-public-key-addresses.md
Labels: ADR, automerge, security

#7364 tests: add command to compile all test files
  Makefile
Labels: automerge, dev-ux, tests

#7621 ADR: add a process proposal
  docs/architecture/PROCESS.md
  docs/architecture/README.md
  docs/architecture/adr-template.md
Labels: ADR, automerge

#7646 Use InterfaceRegistry as AnyResolver for grpc-gateway
  server/api/server.go
Labels: automerge, backport/0.40.x (Stargate)

#7648 Fix IBC Query cmds
  x/ibc/core/client/query.go
Labels: CLI, automerge, backport/0.40.x (Stargate), x/ibc

#7645 IBC: panic on GetSignBytes and remove SubModuleCdc
  x/ibc/applications/transfer/types/msgs.go
  x/ibc/applications/transfer/types/msgs_test.go
  x/ibc/core/02-client/types/codec.go
  x/ibc/core/02-client/types/msgs.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/04-channel/types/msgs.go
  x/ibc/core/04-channel/types/msgs_test.go
  x/ibc/core/23-commitment/types/codec.go
  x/ibc/light-clients/06-solomachine/types/codec.go
  x/ibc/light-clients/07-tendermint/types/codec.go
  x/ibc/light-clients/09-localhost/types/codec.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7649 Return an unsigned tx in legacy GET /tx endpoint when signature conversion fails
  client/tx/legacy.go
  client/tx/legacy_test.go
Labels: Legacy API, automerge, backport/0.40.x (Stargate), client-ux

#7654 Remove duplicate print message on keys add command
  client/keys/add.go
Labels: CLI, automerge

#7617 ci: add pushing of tags and master
  .github/workflows/docker.yml
Labels: CI, automerge

#7350 Fix clang-format to specific version
  .clang-format
  CONTRIBUTING.md
  Makefile
  contrib/devtools/proto-tools-installer.sh
Labels: automerge

#7681 simapp: rename MakeEncodingConfig to MakeTestEncodingConfig
  CHANGELOG.md
  baseapp/msg_service_router_test.go
  client/grpc/simulate/simulate_test.go
  client/tx/legacy_test.go
  client/tx/tx_test.go
  server/README.md
  server/export_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/encoding.go
  simapp/genesis.go
  simapp/params/amino.go
  simapp/params/proto.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/test_helpers.go
  testutil/network/network.go
  types/rest/rest_test.go
  x/auth/ante/testutil_test.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/encode_test.go
  x/auth/client/tx_test.go
  x/auth/legacy/v040/migrate_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/client/rest/tx_test.go
  x/bank/legacy/v040/migrate_test.go
  x/bank/simulation/operations.go
  x/crisis/handler_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/simulation/operations.go
  x/evidence/legacy/v040/migrate_test.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/client/utils/query_test.go
  x/gov/genesis_test.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/simulation/operations.go
  x/ibc/testing/chain.go
  x/params/keeper/common_test.go
  x/params/proposal_handler_test.go
  x/params/types/subspace_test.go
  x/slashing/app_test.go
  x/slashing/legacy/v040/migrate_test.go
  x/slashing/simulation/operations.go
  x/staking/app_test.go
  x/staking/legacy/v040/migrate_test.go
  x/staking/simulation/operations.go
  x/upgrade/abci_test.go
Labels: api-breaking, automerge, backport/0.40.x (Stargate)

#7683 Create separate Write-Ack Event
  x/ibc/core/04-channel/keeper/packet.go
  x/ibc/core/04-channel/types/events.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7637 Wrap ProtoCodec in interface
  codec/proto_codec.go
  x/auth/tx/config.go
  x/auth/tx/decoder.go
  x/auth/tx/encoder.go
  x/ibc/core/03-connection/types/codec.go
Labels: automerge, backport/0.40.x (Stargate)

#7689 ibc: refactor proto files
  proto/ibc/applications/transfer/v1/transfer.proto
  proto/ibc/applications/transfer/v1/tx.proto
  proto/ibc/core/channel/v1/channel.proto
  proto/ibc/core/channel/v1/tx.proto
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/tx.proto
  x/ibc/applications/transfer/types/transfer.pb.go
  x/ibc/applications/transfer/types/tx.pb.go
  x/ibc/core/02-client/types/client.pb.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/03-connection/types/tx.pb.go
  x/ibc/core/04-channel/types/channel.pb.go
  x/ibc/core/04-channel/types/tx.pb.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7678 Fix Optimistic Channel Handshake bugs
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/testing/coordinator.go
Labels: automerge, backport/0.40.x (Stargate), bug, x/ibc

#7560 update core IBC docs
  x/ibc/core/04-channel/keeper/handshake.go
  x/ibc/core/05-port/types/module.go
  x/ibc/core/spec/01_concepts.md
  x/ibc/core/spec/02_state.md
  x/ibc/core/spec/03_state_transitions.md
  x/ibc/core/spec/04_messages.md
  x/ibc/core/spec/05_callbacks.md
Labels: automerge, backport/0.40.x (Stargate), docs, spec, x/ibc

#7692 docker fix
  .github/workflows/docker.yml
Labels: automerge

#7644 ibc: Connection Version changed from string to proto definition
  proto/ibc/core/connection/v1/connection.proto
  proto/ibc/core/connection/v1/tx.proto
  x/ibc/core/03-connection/client/cli/tx.go
  x/ibc/core/03-connection/keeper/grpc_query_test.go
  x/ibc/core/03-connection/keeper/handshake.go
  x/ibc/core/03-connection/keeper/handshake_test.go
  x/ibc/core/03-connection/keeper/keeper_test.go
  x/ibc/core/03-connection/simulation/decoder_test.go
  x/ibc/core/03-connection/types/codec.go
  x/ibc/core/03-connection/types/connection.go
  x/ibc/core/03-connection/types/connection.pb.go
  x/ibc/core/03-connection/types/connection_test.go
  x/ibc/core/03-connection/types/genesis_test.go
  x/ibc/core/03-connection/types/msgs.go
  x/ibc/core/03-connection/types/msgs_test.go
  x/ibc/core/03-connection/types/tx.pb.go
  x/ibc/core/03-connection/types/version.go
  x/ibc/core/03-connection/types/version_test.go
  x/ibc/core/04-channel/keeper/handshake_test.go
  x/ibc/core/exported/connection.go
  x/ibc/core/genesis_test.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/simulation/decoder_test.go
  x/ibc/core/spec/01_concepts.md
  x/ibc/light-clients/06-solomachine/types/client_state_test.go
  x/ibc/light-clients/06-solomachine/types/codec_test.go
  x/ibc/light-clients/09-localhost/types/client_state_test.go
  x/ibc/testing/chain.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7672 Use embedded lib key type in sdk pub keys instead of bytes.
  crypto/keys/ed25519/ed25519.go
  crypto/keys/ed25519/ed25519_test.go
  crypto/keys/ed25519/keys.pb.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_cgo.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  crypto/keys/secp256k1/secp256k1_test.go
  proto/cosmos/crypto/ed25519/keys.proto
  x/staking/types/staking.pb.go
Labels: automerge

#7697 fix inconsistent flag names in upgrade proposal command
  CHANGELOG.md
  x/upgrade/client/cli/tx.go
Labels: automerge

#7564 init: Implement ADR 032 typed events
  types/events.go
  types/events_test.go
Labels: automerge

#7696 Rename RegisterGRPCRoutes
  docs/basics/app-anatomy.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  server/api/server.go
  simapp/app.go
  tests/mocks/types_module_module.go
  types/module/module.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/bank/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/genutil/module.go
  x/gov/module.go
  x/ibc/applications/transfer/module.go
  x/ibc/core/module.go
  x/ibc/testing/mock/mock.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: automerge, backport/0.40.x (Stargate)

#7670 docs: Basic/App-anatomy explains Msg Service by default
  docs/basics/app-anatomy.md
Labels: automerge, backport/0.40.x (Stargate), docs

#7699 Fix panic in context when setting nodeURI
  CHANGELOG.md
  client/cmd.go
  client/context.go
Labels: automerge, backport/0.40.x (Stargate)

#7704 ibc: internal audit part 1
  x/ibc/core/02-client/abci_test.go
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/keeper_test.go
  x/ibc/core/02-client/types/genesis.go
  x/ibc/core/02-client/types/proposal.go
  x/ibc/core/24-host/keys.go
  x/ibc/core/24-host/parse.go
  x/ibc/core/24-host/validate.go
  x/ibc/core/handler.go
  x/ibc/core/keeper/msg_server.go
  x/ibc/core/keeper/msg_server_test.go
Labels: automerge, x/ibc

#7671 RegisterInterfaces registers service Msg type_urls
  baseapp/msg_service_router.go
  baseapp/msg_service_router_test.go
  testutil/testdata/codec.go
  types/msgservice/msg_service.go
  x/auth/client/cli/cli_test.go
  x/auth/vesting/types/codec.go
  x/bank/client/cli/cli_test.go
  x/bank/client/testutil/cli_helpers.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/gov/types/codec.go
  x/ibc/applications/transfer/types/codec.go
  x/ibc/core/02-client/types/codec.go
  x/ibc/core/03-connection/types/codec.go
  x/ibc/core/04-channel/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
Labels: automerge, backport/0.40.x (Stargate), encoding

#7686 Add Deprecation headers for legacy rest endpoints
  client/docs/swagger-ui/swagger-ui-bundle.js
  client/docs/swagger_legacy.yaml
  client/rest/rest.go
  types/module/module.go
  x/auth/client/rest/rest.go
  x/bank/client/rest/rest.go
  x/distribution/client/rest/rest.go
  x/evidence/client/rest/rest.go
  x/gov/client/rest/rest.go
  x/mint/client/rest/rest.go
  x/slashing/client/rest/rest.go
  x/staking/client/rest/rest.go
  x/upgrade/client/rest/rest.go
Labels: automerge, backport/0.40.x (Stargate)

#7691 Sort validators like tendermint in HistoricalInfo
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper_test.go
  x/staking/types/historical_info.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc, x/staking

#7725 remove proof path from IBC queries
  proto/ibc/core/channel/v1/query.proto
  proto/ibc/core/client/v1/query.proto
  proto/ibc/core/connection/v1/query.proto
  x/ibc/core/02-client/client/utils/utils.go
  x/ibc/core/02-client/types/query.go
  x/ibc/core/02-client/types/query.pb.go
  x/ibc/core/03-connection/client/utils/utils.go
  x/ibc/core/03-connection/types/query.go
  x/ibc/core/03-connection/types/query.pb.go
  x/ibc/core/04-channel/client/utils/utils.go
  x/ibc/core/04-channel/keeper/grpc_query.go
  x/ibc/core/04-channel/types/query.go
  x/ibc/core/04-channel/types/query.pb.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7729 Throw an error on duplicate registration
  baseapp/grpcrouter.go
  baseapp/grpcrouter_helpers.go
  baseapp/grpcrouter_test.go
  baseapp/msg_service_router.go
  baseapp/msg_service_router_test.go
  client/grpc/reflection/reflection_test.go
  codec/types/interface_registry.go
  codec/types/types_test.go
Labels: automerge, backport/0.40.x (Stargate), encoding

#7716 Remove duplicated Module.Route calls
  types/module/module.go
  types/module/module_test.go
  types/router.go
Labels: automerge

#7732 Add function to query ack proofs
  x/ibc/core/04-channel/client/utils/utils.go
Labels: automerge, backport/0.40.x (Stargate), x/ibc

#7688 Add GetTx gRPC endpoint
  CHANGELOG.md
  baseapp/grpcrouter.go
  client/grpc/simulate/simulate.go
  client/grpc/simulate/simulate.pb.go
  client/grpc/simulate/simulate.pb.gw.go
  client/grpc/simulate/simulate_test.go
  client/tx/tx.go
  client/tx/tx_test.go
  proto/cosmos/base/simulate/v1beta1/simulate.proto
  proto/cosmos/tx/v1beta1/service.proto
  server/start.go
  server/types/app.go
  simapp/app.go
  testutil/network/util.go
  types/tx/service.pb.go
  types/tx/service.pb.gw.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: automerge, backport/0.40.x (Stargate)

#7731 Handle ServiceMsg in StdTxBuilder.SetMsgs
  x/auth/client/rest/rest_test.go
  x/auth/legacy/legacytx/stdtx_builder.go
Labels: automerge, encoding

#7608 cosmovisor: docs first draft
  docs/using-the-sdk/README.md
  docs/using-the-sdk/cosmovisor.md
Labels: docs
