Repository cosmos/cosmos-sdk, pull requests merged in 2020-02, with the labels that each got.

#5602 ICS 20 implementation cleanup work
  CHANGELOG.md
  docs/building-modules/simulator.md
  docs/building-modules/structure.md
  docs/package.json
  docs/using-the-sdk/README.md
  docs/using-the-sdk/simulation.md
  x/bank/alias.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/staking/keeper/delegation.go
  x/staking/keeper/val_state_change.go
  x/staking/spec/07_events.md
Labels: code-hygiene, state-machine-breaking, x/ibc

#5611 Add Missing Bank Genesis Aliases
  x/bank/alias.go
Labels: R4R

#5459 ADR 18: Extendable Governance Voting Periods
  docs/architecture/README.md
  docs/architecture/adr-018-extendable-voting-period.md
Labels: ADR, R4R, x/gov

#5604 docs: minor doc formatting & touchup of the scaffold section
  docs/using-the-sdk/quick-start.md
  x/gov/spec/01_concepts.md
  x/gov/spec/02_state.md
  x/gov/spec/03_messages.md
  x/gov/spec/04_events.md
Labels: docs

#5612 Makefile: remove golangci-lint installation
  Makefile
  contrib/devtools/Makefile
  contrib/devtools/install-golangci-lint.sh
Labels: R4R

#5615 Create Account on SendCoins
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
Labels: R4R, x/auth, x/bank

#5613 Appease golangci-lint
  .golangci.yml
  crypto/keys/lazy_keybase_test.go
  types/address_test.go
  types/decimal_test.go
  types/module/simulation.go
  x/bank/simulation/operations.go
  x/distribution/keeper/keeper_test.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/proposals.go
  x/genutil/client/cli/migrate.go
  x/gov/simulation/operations.go
  x/mock/app.go
  x/slashing/simulation/operations.go
  x/staking/keeper/historical_info_test.go
  x/staking/simulation/operations.go
  x/staking/types/historical_info.go
  x/staking/types/historical_info_test.go
  x/upgrade/alias.go
Labels: R4R, code-hygiene

#5600 Migrate x/staking to Protobuf
  .codecov.yml
  .golangci.yml
  CHANGELOG.md
  codec/amino.go
  codec/codec.go
  go.mod
  simapp/app.go
  simapp/codec.go
  third_party/proto/tendermint/abci/types/types.proto
  third_party/proto/tendermint/crypto/merkle/merkle.proto
  third_party/proto/tendermint/libs/kv/types.proto
  types/address_bench_test.go
  types/decimal.go
  types/int.go
  types/staking.go
  types/types.pb.go
  types/types.proto
  x/distribution/keeper/test_common.go
  x/distribution/types/expected_keepers.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/test_common.go
  x/gov/test_common.go
  x/slashing/app_test.go
  x/slashing/internal/keeper/test_common.go
  x/slashing/internal/types/expected_keepers.go
  x/staking/alias.go
  x/staking/app_test.go
  x/staking/client/cli/query.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/handler.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/params.go
  x/staking/keeper/query_utils.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/genesis.go
  x/staking/types/codec.go
  x/staking/types/commission.go
  x/staking/types/delegation.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
  x/staking/types/historical_info.go
  x/staking/types/historical_info_test.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/params.go
  x/staking/types/types.pb.go
  x/staking/types/types.proto
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: R4R, state-machine-breaking, x/staking

#5579 Fix Restart application issue
  CHANGELOG.md
  baseapp/baseapp_test.go
  server/start.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/pruning.go
Labels: R4R, bug, kvstore

#5622 Track proposal handler events on success
  CHANGELOG.md
  x/gov/abci.go
Labels: R4R, x/gov

#5625 docs: sentence about gas is not correct currently
  docs/basics/tx-lifecycle.md
Labels: R4R, docs

#5626 Update README.md
  x/staking/spec/README.md
Labels: R4R, docs

#5620 Fix nil pointer deref in distribution tax/rewward validation helpers
  CHANGELOG.md
  x/distribution/types/params.go
  x/distribution/types/params_test.go
Labels: R4R, bug

#5628 v0.37.7-RC1
  CHANGELOG.md
  docs/spec/bank/04_events.md
  docs/spec/staking/06_events.md
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
  x/gov/endblocker.go
  x/staking/handler.go
  x/staking/keeper/delegation.go
  x/staking/keeper/val_state_change.go
Labels: R4R

#5629 Add v0.37.7 changelog entry
  CHANGELOG.md
Labels: R4R

#5497 ensure non-nil gentxs
  CHANGELOG.md
  x/genutil/types/genesis_state.go
  x/genutil/types/genesis_state_test.go
Labels: R4R

#5630 v0.38.1 RC1
  CHANGELOG.md
  baseapp/baseapp_test.go
  server/start.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/pruning.go
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
  x/bank/spec/04_events.md
  x/gov/abci.go
  x/staking/keeper/delegation.go
  x/staking/keeper/val_state_change.go
  x/staking/spec/07_events.md
Labels: R4R

#5610 proto: migrate x/distr to use hybrid codec
  CHANGELOG.md
  Makefile
  contrib/devtools/Makefile
  simapp/app.go
  simapp/codec.go
  simapp/export.go
  third_party/proto/tendermint/abci/types/types.proto
  x/crisis/internal/types/codec.go
  x/crisis/internal/types/msgs.go
  x/crisis/internal/types/types.pb.go
  x/crisis/internal/types/types.proto
  x/distribution/alias.go
  x/distribution/genesis.go
  x/distribution/keeper/alias_functions.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/test_common.go
  x/distribution/keeper/validator.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations.go
  x/distribution/types/codec.go
  x/distribution/types/delegator.go
  x/distribution/types/fee_pool.go
  x/distribution/types/msg.go
  x/distribution/types/params.go
  x/distribution/types/proposal.go
  x/distribution/types/types.pb.go
  x/distribution/types/types.proto
  x/distribution/types/validator.go
Labels: R4R, state-machine-breaking, x/distribution

#5633 Add v0.38.1 changelog entry
  CHANGELOG.md
Labels: R4R

#5619 proto: migrate params to hybrid codec
  CHANGELOG.md
  simapp/app.go
  simapp/codec.go
  x/distribution/keeper/test_common.go
  x/gov/keeper/test_common.go
  x/mock/app.go
  x/params/alias.go
  x/params/commmon_test.go
  x/params/keeper.go
  x/params/proposal_handler_test.go
  x/params/subspace/subspace.go
  x/params/subspace/subspace_test.go
  x/params/types/codec.go
  x/params/types/proposal.go
  x/params/types/types.pb.go
  x/params/types/types.proto
  x/slashing/internal/keeper/test_common.go
  x/staking/keeper/test_common.go
Labels: R4R, state-machine-breaking, x/params

#5640 change default path to show swagger
  CHANGELOG.md
  client/lcd/root.go
Labels: R4R, REST

#5645 dep: bump tendermint version to 0.33.1
  go.mod
  go.sum
  x/auth/client/cli/query.go
  x/auth/client/query.go
  x/auth/client/rest/query.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/staking/client/rest/utils.go
Labels: dependencies

#5642 Remove x/mock
  simapp/test_helpers.go
  x/gov/abci_test.go
  x/gov/common_test.go
  x/gov/genesis_test.go
  x/gov/handler_test.go
  x/gov/test_common.go
  x/mock/app.go
  x/mock/app_test.go
  x/mock/doc.go
  x/mock/test_utils.go
  x/mock/types.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/handler_test.go
  x/staking/app_test.go
  x/staking/common_test.go
  x/staking/handler_test.go
  x/staking/test_common.go
Labels: R4R

#5652 Squash various linter warnings
  server/export.go
  server/util.go
  x/distribution/types/params_test.go
  x/genutil/client/cli/init.go
  x/slashing/app_test.go
  x/staking/app_test.go
Labels: R4R

#5648 Add min-height and max-height filters to TxSearch
  CHANGELOG.md
  client/lcd/swagger-ui/swagger.yaml
  types/rest/rest.go
  types/rest/rest_test.go
Labels: R4R, REST

#5655 Fix TestParseHTTPArgs
  types/rest/rest_test.go
Labels: R4R

#5654 Replace Lino with Kava in docs
  docs/intro/overview.md
Labels: R4R

#5650 ADR 019 - Protocol Buffer State Encoding
  docs/architecture/README.md
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/architecture/adr-template.md
Labels: ADR, R4R

#5656 Make golangci-lint happy again
  types/rest/rest.go
Labels: R4R

#5552 remove Rigel from codeowners
  .github/CODEOWNERS
Labels: R4R

#5578 Add additional IBC Channel Tests
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/ante/ante.go
  x/ibc/types/mock.go
Labels: R4R, tests, x/ibc

#5665 Bump ABCI Error Codes
  types/errors/abci.go
  x/auth/types/errors.go
  x/bank/internal/types/errors.go
  x/crisis/internal/types/errors.go
  x/distribution/types/errors.go
  x/evidence/internal/types/errors.go
  x/gov/types/errors.go
  x/params/types/errors.go
  x/slashing/internal/types/errors.go
  x/staking/types/errors.go
Labels: R4R

#5606 ICS07 follow up changes
  x/ibc/02-client/alias.go
  x/ibc/02-client/client/cli/cli.go
  x/ibc/02-client/client/rest/rest.go
  x/ibc/02-client/client/rest/swagger.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/module.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/events.go
  x/ibc/02-client/types/expected_keepers.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/07-tendermint/client/cli/cli.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/swagger.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/consensus_state.go
  x/ibc/07-tendermint/consensus_state_test.go
  x/ibc/07-tendermint/evidence_test.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/module.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/consensus_state_test.go
  x/ibc/07-tendermint/types/errors.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/ante/ante.go
  x/ibc/ante/ante_test.go
  x/ibc/client/cli/cli.go
  x/ibc/handler.go
  x/ibc/module.go
  x/staking/types/types.pb.go
Labels: R4R, x/ibc

#5426 IBC SDK specification
  docs/spec/ibc/README.md
  x/ibc/03-connection/handler.go
  x/ibc/03-connection/types/events.go
  x/ibc/04-channel/handler.go
  x/ibc/04-channel/types/events.go
  x/ibc/spec/01_concepts.md
  x/ibc/spec/02_state.md
  x/ibc/spec/04_messages.md
  x/ibc/spec/05_callbacks.md
  x/ibc/spec/06_events.md
  x/ibc/spec/README.md
Labels: WIP, spec, x/ibc

#5668 Fix GetAccountWithHeight
  x/auth/types/account_retriever.go
Labels: R4R, x/auth

#5588 x/ibc ICS24
  CHANGELOG.md
  types/router.go
  x/ibc/24-host/errors.go
  x/ibc/24-host/utils.go
  x/ibc/24-host/validate.go
Labels: R4R, x/ibc

#5649 Update x/params to follow module standards.
  simapp/app.go
  simapp/sim_test.go
  x/auth/keeper/keeper.go
  x/auth/types/params.go
  x/bank/internal/keeper/keeper.go
  x/bank/internal/types/params.go
  x/crisis/internal/keeper/keeper.go
  x/crisis/internal/types/params.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/test_common.go
  x/distribution/types/params.go
  x/evidence/internal/keeper/keeper.go
  x/evidence/internal/types/params.go
  x/gov/keeper/test_common.go
  x/gov/types/params.go
  x/mint/internal/keeper/keeper.go
  x/mint/internal/types/params.go
  x/params/alias.go
  x/params/client/cli/tx.go
  x/params/client/rest/rest.go
  x/params/client/utils/utils.go
  x/params/keeper/common_test.go
  x/params/keeper/keeper.go
  x/params/keeper/keeper_test.go
  x/params/module.go
  x/params/proposal_handler.go
  x/params/proposal_handler_test.go
  x/params/simulation/operations.go
  x/params/subspace/table_test.go
  x/params/types/common_test.go
  x/params/types/doc.go
  x/params/types/paramset.go
  x/params/types/proposal/codec.go
  x/params/types/proposal/errors.go
  x/params/types/proposal/keys.go
  x/params/types/proposal/proposal.go
  x/params/types/proposal/proposal_test.go
  x/params/types/proposal/types.pb.go
  x/params/types/proposal/types.proto
  x/params/types/subspace.go
  x/params/types/subspace_test.go
  x/params/types/table.go
  x/params/types/table_test.go
  x/slashing/internal/keeper/test_common.go
  x/slashing/internal/types/expected_keepers.go
  x/slashing/internal/types/params.go
  x/staking/keeper/keeper.go
  x/staking/keeper/params.go
  x/staking/keeper/test_common.go
  x/staking/types/params.go
Labels: R4R, api-breaking, x/params

#5678 Errors Guidelines Doc
  docs/building-modules/README.md
  docs/building-modules/errors.md
  docs/building-modules/structure.md
Labels: R4R, docs

#5627 Regen Network/Slashing protobuf
  CHANGELOG.md
  simapp/app.go
  types/proto.go
  x/slashing/abci_test.go
  x/slashing/alias.go
  x/slashing/client/cli/query.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/tx.go
  x/slashing/genesis.go
  x/slashing/handler.go
  x/slashing/handler_test.go
  x/slashing/internal/types/codec.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/params.go
  x/slashing/keeper/querier.go
  x/slashing/keeper/querier_test.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/keeper/test_common.go
  x/slashing/keeper/unjail.go
  x/slashing/module.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/genesis.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/params.go
  x/slashing/types/codec.go
  x/slashing/types/errors.go
  x/slashing/types/events.go
  x/slashing/types/expected_keepers.go
  x/slashing/types/genesis.go
  x/slashing/types/keys.go
  x/slashing/types/msg.go
  x/slashing/types/msg_test.go
  x/slashing/types/params.go
  x/slashing/types/querier.go
  x/slashing/types/signing_info.go
  x/slashing/types/types.pb.go
  x/slashing/types/types.proto
Labels: R4R, state-machine-breaking, x/slashing

#5669 proto: update tendermint proto files
  Makefile
  third_party/proto/gogoproto/gogo.proto
  third_party/proto/tendermint/abci/types/types.proto
  third_party/proto/tendermint/crypto/merkle/merkle.proto
  third_party/proto/tendermint/libs/kv/types.proto
Labels: R4R

#5681 proto: migrate bank to hybridcodec
  .codecov.yml
  simapp/app.go
  x/bank/alias.go
  x/bank/app_test.go
  x/bank/client/cli/query.go
  x/bank/client/cli/tx.go
  x/bank/client/rest/query.go
  x/bank/client/rest/tx.go
  x/bank/handler.go
  x/bank/internal/types/codec.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier.go
  x/bank/keeper/querier_test.go
  x/bank/module.go
  x/bank/simulation/genesis.go
  x/bank/simulation/operations.go
  x/bank/simulation/params.go
  x/bank/types/codec.go
  x/bank/types/errors.go
  x/bank/types/events.go
  x/bank/types/expected_keepers.go
  x/bank/types/genesis.go
  x/bank/types/key.go
  x/bank/types/key_test.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/params.go
  x/bank/types/querier.go
  x/bank/types/types.pb.go
  x/bank/types/types.proto
  x/distribution/keeper/test_common.go
  x/gov/keeper/test_common.go
  x/slashing/keeper/test_common.go
  x/slashing/types/types.pb.go
  x/staking/keeper/test_common.go
Labels: R4R, encoding, state-machine-breaking, x/bank

#5682 Change pubkey to bytes
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/types/types.pb.go
  x/auth/types/types.proto
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/slashing/types/types.pb.go
  x/slashing/types/types.proto
Labels: R4R, encoding, x/auth, x/staking

#5577 ICS 20 Cleanup and Tests
  types/coin.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/exported/exported.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/errors.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/04-channel/types/packet.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/client/cli/cli.go
  x/ibc/20-transfer/client/rest/swagger.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/keeper/callbacks.go
  x/ibc/20-transfer/keeper/callbacks_test.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/codec.go
  x/ibc/20-transfer/types/errors.go
  x/ibc/20-transfer/types/events.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/20-transfer/types/keys.go
  x/ibc/20-transfer/types/msgs.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/20-transfer/types/packet_test.go
  x/ibc/ante/ante.go
Labels: R4R, tests, x/ibc

#5688 Proto Option Updates
  types/types.pb.go
  types/types.proto
  x/auth/types/types.pb.go
  x/auth/types/types.proto
  x/bank/types/types.pb.go
  x/bank/types/types.proto
  x/crisis/internal/types/types.pb.go
  x/crisis/internal/types/types.proto
  x/distribution/types/types.pb.go
  x/distribution/types/types.proto
  x/params/types/proposal/types.pb.go
  x/params/types/proposal/types.proto
  x/slashing/types/types.pb.go
  x/slashing/types/types.proto
  x/staking/types/types.pb.go
  x/staking/types/types.proto
  x/supply/types/types.pb.go
  x/supply/types/types.proto
Labels: R4R, encoding

#5671 cors: add a flag for cors
  client/flags/flags.go
  client/lcd/root.go
  docs/interfaces/rest.md
  go.mod
  go.sum
Labels: R4R, REST, dev-ux

#5666 Use Tendermint lite client verification
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/tendermint_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/errors.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/ante/ante_test.go
  x/slashing/keeper/keeper.go
Labels: R4R, x/ibc

#5659 Migrate upgrade module to protobuf
  CHANGELOG.md
  simapp/app.go
  x/upgrade/alias.go
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/query.go
  x/upgrade/client/rest/tx.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/querier.go
  x/upgrade/types/codec.go
  x/upgrade/types/handler.go
  x/upgrade/types/keys.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal.go
  x/upgrade/types/proposal_test.go
  x/upgrade/types/querier.go
  x/upgrade/types/types.pb.go
  x/upgrade/types/types.proto
Labels: R4R, state-machine-breaking, x/upgrade

#5696 Fix x/auth proto json tags
  server/export.go
  x/auth/types/account.go
  x/auth/types/types.pb.go
  x/auth/types/types.proto
  x/upgrade/types/types.pb.go
Labels: R4R, x/auth

#5702 Add Param Querying to x/auth
  CHANGELOG.md
  simapp/codec/msgs.go
  x/auth/alias.go
  x/auth/client/cli/query.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest.go
  x/auth/keeper/querier.go
  x/auth/types/account_retriever_test.go
  x/auth/types/keys.go
  x/auth/types/querier.go
  x/evidence/handler_test.go
  x/evidence/types/msgs_test.go
Labels: R4R, x/auth

#5703 Fix typo in distribution proto package name
  x/distribution/types/types.proto
Labels: R4R

#5706 Exclude proto files from format
  Makefile
  client/cmd_test.go
  codec/amino_codec_test.go
  codec/hybrid_codec_test.go
  codec/proto_codec_test.go
  types/address_bench_test.go
  types/decimal_test.go
  x/bank/client/rest/rest.go
  x/bank/types/key_test.go
  x/params/keeper/common_test.go
  x/params/keeper/keeper_test.go
  x/params/types/table_test.go
  x/staking/types/commission.go
  x/staking/types/delegation.go
  x/staking/types/params.go
  x/upgrade/client/cli/query.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/querier.go
Labels: R4R

#5714 tools: add mergify
  .mergify.yml
Labels: R4R

#5500 Regen network/multistore upgrades
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  store/types/store.go
  x/crisis/handler_test.go
  x/crisis/internal/keeper/integration_test.go
  x/gov/genesis_test.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/alias.go
  x/upgrade/doc.go
  x/upgrade/keeper/keeper.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/types/storeloader.go
  x/upgrade/types/storeloader_test.go
Labels: R4R, x/upgrade

#5719 Build with Go 1.14
  .circleci/config.yml
  CHANGELOG.md
  README.md
  go.mod
Labels: R4R

#5721 Run go mod tidy
  go.sum
Labels: R4R

#5718 Return Empty GasInfo on Failed Msg Validation
  CHANGELOG.md
  baseapp/baseapp.go
Labels: R4R, baseapp

#5726 Increase code coverage of version up to 100%
  version/command.go
  version/version_test.go
Labels: R4R, tests

#5683 Migrate Keeper staking tests to use simapp
  simapp/test_helpers.go
  x/staking/common_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/test_common.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
Labels: R4R, automerge, x/staking

#5709 Add granularity options to pruning state
  CHANGELOG.md
  server/pruning.go
  server/pruning_test.go
  server/start.go
  server/start_test.go
Labels: CLI, R4R, api-breaking, automerge

#5727 Increase coverage across the store package
  Makefile
  store/dbadapter/store_test.go
  store/transient/store_test.go
  store/types/pruning_test.go
  tests/mocks/account_retriever.go
  tests/mocks/tendermint_tm_db_DB.go
Labels: R4R, automerge, tests
