Repository cosmos/cosmos-sdk, pull requests merged in 2020-04, with the labels that each got.

#5900 types/rest: convenience functions for error checking
  CHANGELOG.md
  client/rpc/block.go
  client/rpc/status.go
  client/rpc/validators.go
  client/tx/tx.go
  types/rest/rest.go
  types/rest/rest_test.go
  x/auth/client/rest.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/query.go
  x/bank/client/rest/query.go
  x/bank/client/rest/tx.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
  x/evidence/client/rest/query.go
  x/gov/client/rest/query.go
  x/gov/client/rest/tx.go
  x/mint/client/rest/query.go
  x/params/client/rest/rest.go
  x/slashing/client/rest/query.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/query.go
  x/staking/client/rest/tx.go
  x/staking/client/rest/utils.go
  x/supply/client/rest/query.go
  x/upgrade/client/rest/query.go
  x/upgrade/client/rest/tx.go
Labels: R4R, REST

#5902 update docs/cn: match newest Chinese docs in intro and basics
  docs/cn/README.md
  docs/cn/basics/README.md
  docs/cn/basics/accounts.md
  docs/cn/basics/app-anatomy.md
  docs/cn/basics/gas-fees.md
  docs/cn/basics/tx-lifecycle.md
  docs/cn/intro/README.md
  docs/cn/intro/overview.md
  docs/cn/intro/sdk-app-architecture.md
  docs/cn/intro/sdk-design.md
  docs/cn/intro/why-app-specific.md
Labels: R4R, docs

#5899 crypto/keyring: drop password from keyWriter internal interface
  crypto/keyring/base_keybase.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Labels: R4R, crypto

#5879 Starting creating refactored keyring [WIP]
  crypto/keyring/alt_signing_algorithms.go
  crypto/keyring/alt_signing_algorithms_test.go
  crypto/keyring/altkeyring.go
  crypto/keyring/altkeyring_test.go
  crypto/keyring/base_keybase.go
  crypto/keyring/keyring.go
Labels: WIP

#5890 Move IBC packet data interpretation to the application module
  docs/architecture/adr-015-ibc-packet-receiver.md
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/exported/exported.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/04-channel/types/packet.go
  x/ibc/04-channel/types/packet_test.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/20-transfer/types/packet_test.go
  x/ibc/ante/ante_test.go
Labels: R4R, x/ibc

#5909 fix ibc-alpha sims
  x/ibc/02-client/handler.go
  x/ibc/03-connection/handler.go
  x/ibc/04-channel/handler.go
  x/ibc/20-transfer/handler.go
Labels: R4R, x/ibc

#5906 REST calls panic on some method call
  CHANGELOG.md
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Labels: R4R

#5894 ADR 021 - Protocol Buffer Query Support
  docs/architecture/README.md
  docs/architecture/adr-021-protobuf-query-encoding.md
Labels: R4R

#5901 Add & update IBC queriers for relayer use
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/querier.go
  x/ibc/03-connection/types/querier.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/querier.go
  x/ibc/04-channel/types/querier.go
  x/ibc/keeper/querier.go
  x/ibc/keeper/querier_test.go
  x/ibc/types/keys.go
Labels: x/ibc

#5914 x/capability: Fix Object Capability Model
  baseapp/baseapp.go
  docs/architecture/adr-003-dynamic-capability-store.md
  simapp/app.go
  store/mem/mem_test.go
  store/mem/store.go
  store/rootmulti/store.go
  store/types/store.go
  types/store.go
  x/capability/alias.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/store.go
Labels: R4R, x/capability

#5916 x/crisis: Proto Tx CLI Command
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
Labels: R4R, x/crisis

#5918 Remove source field from ICS 20 packet & message types per latest spec
  x/ibc/20-transfer/client/cli/tx.go
  x/ibc/20-transfer/client/rest/rest.go
  x/ibc/20-transfer/client/rest/tx.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/types/errors.go
  x/ibc/20-transfer/types/msgs.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/20-transfer/types/packet_test.go
Labels: R4R, refactor, x/ibc

#5927 Fix parseQueryResponse
  x/auth/client/tx.go
  x/auth/client/tx_test.go
Labels: R4R

#5915 Tx Client Migration: x/staking
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/staking/client/rest/rest.go
  x/staking/client/rest/tx.go
Labels: CLI, R4R, REST, x/staking

#5920 Fix validate cmd bug
  client/cmd.go
  client/cmd_test.go
Labels: CLI, R4R

#5925 Add additional events to x/ibc
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/types/events.go
Labels: R4R, code-hygiene, x/ibc

#5926 Migrate x/capability to Protobuf
  simapp/app.go
  x/capability/alias.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/codec.go
  x/capability/types/keys.go
  x/capability/types/keys_test.go
  x/capability/types/store.go
  x/capability/types/types.go
  x/capability/types/types.pb.go
  x/capability/types/types.proto
  x/capability/types/types_test.go
  x/staking/types/types.pb.go
Labels: R4R, encoding, x/capability

#5936 Handle and return error on tx.SetMsgs
  client/tx/tx.go
Labels: R4R

#5937 run go mod tidy
  go.sum
Labels: R4R, automerge

#5938 x/genutil: fix InitializeNodeValidatorFiles
  CHANGELOG.md
  x/genutil/utils.go
Labels: R4R, bug, x/genutil

#5939 Unmarshal packets as JSON
  x/ibc/20-transfer/handler.go
Labels: x/ibc

#5888 R4R: Dynamic Capabilities with Routing
  simapp/app.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/ibc/04-channel/handler.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/errors.go
  x/ibc/04-channel/types/expected_keepers.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/05-port/alias.go
  x/ibc/05-port/keeper/keeper.go
  x/ibc/05-port/keeper/keeper_test.go
  x/ibc/05-port/types/errors.go
  x/ibc/05-port/types/module.go
  x/ibc/05-port/types/router.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/20-transfer/types/keys.go
  x/ibc/handler.go
  x/ibc/keeper/keeper.go
  x/ibc/types/utils.go
Labels: R4R, x/ibc

#5945 cleanup ibc-alpha
  go.mod
  go.sum
  sim_state-4.json
  x/auth/client/cli/query.go
  x/bank/alias.go
  x/staking/keeper/keeper.go
Labels: R4R, code-hygiene, x/ibc

#5950 Fix IncrementSequenceDecorator
  CHANGELOG.md
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Labels: R4R, automerge, x/auth

#5949 x/staking: skip HistoricalInfo in simulations
  .github/workflows/sims.yml
  CHANGELOG.md
  simapp/app.go
  simapp/sim_test.go
  store/types/utils.go
  x/staking/alias.go
  x/staking/genesis.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
  x/staking/types/keys.go
Labels: R4R, automerge, bug, x/staking

#5904 Enter the new keyring interface
  CHANGELOG.md
  client/context/context.go
  client/context/context_test.go
  client/input/input.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/codec_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/list_test.go
  client/keys/migrate.go
  client/keys/migrate_test.go
  client/keys/mnemonic.go
  client/keys/root_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/tx/factory.go
  client/tx/tx.go
  crypto/armor_test.go
  crypto/hd/algo.go
  crypto/hd/algo_test.go
  crypto/hd/doc.go
  crypto/hd/fundraiser_test.go
  crypto/hd/hdpath.go
  crypto/hd/hdpath_test.go
  crypto/hd/testdata/test.json
  crypto/keyring/base_keybase.go
  crypto/keyring/codec.go
  crypto/keyring/doc.go
  crypto/keyring/info.go
  crypto/keyring/keybase.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy.go
  crypto/keyring/legacy_test.go
  crypto/keyring/options.go
  crypto/keyring/signing_algorithms.go
  crypto/keyring/signing_algorithms_test.go
  crypto/keyring/types.go
  crypto/keyring/types_test.go
  crypto/ledger_mock.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
  server/init.go
  server/init_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/tx.go
  x/auth/types/params_test.go
  x/auth/types/txbuilder.go
  x/genutil/client/cli/gentx.go
Labels: R4R, crypto, keys

#5955 lint: migrate to review-dog
  .github/workflows/lint.yml
  README.md
  types/context_test.go
Labels: R4R, automerge

#5941 Add proto compatible x/distribution tx cli
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
Labels: CLI, R4R, automerge, x/distribution

#5957 Add flag to FlagKeyringBackend to QueryTxsByEventsCmd
  x/auth/client/cli/query.go
Labels: CLI, R4R

#5959 Fix ibc-alpha lint
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/03-connection/alias.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/23-commitment/types/merkle_test.go
  x/ibc/ante/ante_test.go
Labels: R4R, code-hygiene, x/ibc

#5960 x/ibc: changelog
  CHANGELOG.md
  x/ibc/spec/README.md
Labels: R4R, docs, x/ibc

#5954 Bind Transfer Port on InitChain
  simapp/app.go
  x/auth/ante/ante_test.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/ibc/05-port/types/router.go
  x/ibc/20-transfer/genesis.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/20-transfer/types/keys.go
  x/ibc/keeper/keeper.go
  x/ibc/keeper/keeper_test.go
  x/ibc/module.go
Labels: R4R, x/ibc

#5967 Fixed cliCtx in tx cli
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
Labels: CLI, R4R

#5968 v0.37.9 RC1
  CHANGELOG.md
  go.mod
  go.sum
Labels: R4R

#5969 x/params: Protobug Tx CLI Migration
  x/params/client/cli/tx.go
  x/params/client/utils/utils.go
Labels: CLI, R4R, x/params

#5970 0.37.9 Changelog
  CHANGELOG.md
Labels: R4R

#5973 v0.38.3 RC1
  CHANGELOG.md
  go.mod
  go.sum
Labels: R4R

#5974 v0.38.3 Release (#5973)
  CHANGELOG.md
  go.mod
  go.sum
Labels: R4R

#5975 v0.38.3 changelog
  CHANGELOG.md
Labels: R4R

#5966 Prove counterparty on expected channels
  x/ibc/04-channel/keeper/handshake.go
Labels: R4R, bug, x/ibc

#5980 Fix Prefixes and Create Prefix Store for Clients
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/types/querier.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/types/keys.go
Labels: R4R, automerge, x/ibc

#5985 add missing keyring-backend flag
  client/rpc/block.go
  client/rpc/validators.go
  x/auth/client/cli/query.go
Labels: CLI, R4R

#5982 fix all bits broken by viper API changes
  CHANGELOG.md
  client/context/context.go
  client/context/context_test.go
  client/keys/add.go
  server/config/config.go
  server/config/toml.go
  server/pruning.go
  server/pruning_test.go
  server/start.go
  server/start_test.go
  types/rest/rest_test.go
  x/distribution/client/common/common_test.go
Labels: R4R

#5942 x/gov: Proto Tx CLI command
  codec/std/codec.go
  codec/std/codec.pb.go
  codec/std/codec.proto
  codec/std/msgs.go
  codec/std/msgs_test.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  x/distribution/handler.go
  x/distribution/keeper/proposal_handler.go
  x/distribution/proposal_handler_test.go
  x/distribution/types/codec.go
  x/distribution/types/proposal.go
  x/gov/abci_test.go
  x/gov/alias.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/rest.go
  x/gov/client/rest/tx.go
  x/gov/keeper/proposal_test.go
  x/gov/simulation/operations.go
  x/gov/types/codec.go
  x/gov/types/msgs.go
  x/gov/types/proposal.go
  x/params/proposal_handler.go
  x/params/proposal_handler_test.go
  x/params/types/proposal/codec.go
  x/params/types/proposal/proposal.go
  x/upgrade/abci_test.go
  x/upgrade/handler.go
  x/upgrade/types/codec.go
  x/upgrade/types/proposal.go
  x/upgrade/types/proposal_test.go
Labels: CLI, R4R, x/gov

#5991 spring cleanup
  client/keys/migrate_test.go
  crypto/armor.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/keyring_test.go
  server/init.go
  server/start.go
  types/context_test.go
  types/rest/rest_test.go
  x/distribution/client/cli/tx.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
  x/ibc/04-channel/client/rest/tx.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/ante/ante_test.go
  x/mint/types/keys.go
  x/params/client/proposal_handler.go
  x/params/types/proposal/codec.go
Labels: R4R, automerge

#5992 Decouple client/tx from x/auth
  client/tx/tx.go
  client/tx/tx_test.go
  codec/std/codec.pb.go
  codec/std/codec.proto
  codec/std/tx.go
  codec/std/tx_test.go
  types/errors/errors.go
  x/auth/alias.go
  x/auth/client/rest.go
  x/auth/client/tx.go
  x/auth/types/errors.go
  x/auth/types/stdtx.go
  x/auth/types/types.pb.go
  x/auth/types/types.proto
Labels: R4R

#5984 Implement ICS-20 Callbacks
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/events.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/ante/ante_test.go
  x/ibc/handler.go
Labels: R4R, automerge, x/ibc

#5987 ci: upload artifacts on failure
  .circleci/config.yml
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
Labels: automerge

#5952 Refactor Evidence Age Util + Governable Consensus Params
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/params.go
  baseapp/params_test.go
  docs/core/baseapp.md
  docs/core/store.md
  server/constructors.go
  server/export.go
  server/mock/app.go
  simapp/app.go
  simapp/app_test.go
  simapp/export.go
  simapp/sim_test.go
  simapp/test_helpers.go
  simapp/types.go
  simapp/utils.go
  std/consensus_params.go
  std/doc.go
  store/transient/store.go
  x/crisis/keeper/integration_test.go
  x/crisis/keeper/keeper_test.go
  x/evidence/alias.go
  x/evidence/client/cli/query.go
  x/evidence/client/rest/query.go
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/handler_test.go
  x/evidence/keeper/infraction.go
  x/evidence/keeper/infraction_test.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/params.go
  x/evidence/keeper/params_test.go
  x/evidence/keeper/querier.go
  x/evidence/keeper/querier_test.go
  x/evidence/types/genesis.go
  x/evidence/types/genesis_test.go
  x/evidence/types/params.go
  x/evidence/types/querier.go
  x/evidence/types/types.pb.go
  x/evidence/types/types.proto
  x/gov/genesis_test.go
  x/params/alias.go
  x/params/types/subspace.go
  x/staking/handler.go
  x/upgrade/types/storeloader_test.go
Labels: R4R, baseapp, state-machine-breaking, x/evidence, x/params

#6005 x/params: Raw Parameter Querying
  CHANGELOG.md
  simapp/app.go
  x/params/alias.go
  x/params/client/cli/query.go
  x/params/keeper/querier.go
  x/params/module.go
  x/params/types/keys.go
  x/params/types/querier.go
Labels: CLI, R4R, x/params

#5999 Revert Capabilities on Failed Tx
  baseapp/baseapp.go
  simapp/app.go
  store/mem/mem_test.go
  store/mem/store.go
  store/rootmulti/store.go
  store/types/store.go
  types/store.go
  x/capability/alias.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/store.go
Labels: R4R, x/capability

#6007 Update 03-ADR to latest implementation
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: ADR, R4R

#5993 Tx Client Migration: x/upgrade
  x/gov/client/rest/rest.go
  x/gov/client/rest/tx.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/tx.go
Labels: CLI, R4R, x/upgrade

#6009 Change address type to string
  x/ibc/20-transfer/client/cli/tx.go
  x/ibc/20-transfer/client/rest/rest.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/msgs.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/20-transfer/types/packet_test.go
Labels: R4R, x/ibc

#6003 add build phase prior to sims & test
  .github/workflows/sims.yml
  .github/workflows/test.yml
Labels: R4R, automerge, build

#6013 add cmd validation to ibc query cli cmd
  x/ibc/02-client/client/cli/cli.go
Labels: CLI, R4R

#5958 Docs website update
  docs/package-lock.json
  docs/package.json
Labels: R4R, automerge, docs

#6017 [DOCS]: fix the error link
  docs/core/events.md
Labels: R4R, automerge, docs

#5769 implement 09-localhost per specification
  CHANGELOG.md
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/09-localhost/client_state.go
  x/ibc/09-localhost/client_state_test.go
  x/ibc/09-localhost/codec.go
  x/ibc/09-localhost/consensus_state.go
  x/ibc/09-localhost/doc.go
  x/ibc/09-localhost/evidence.go
  x/ibc/09-localhost/header.go
  x/ibc/09-localhost/localhost_test.go
Labels: R4R, x/ibc

#6021 Fix Gentx
  x/staking/client/cli/tx.go
Labels: CLI, R4R

#6011 Flexible Port Binding for Transfer Module
  x/ibc/20-transfer/genesis.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/genesis.go
  x/ibc/20-transfer/types/keys.go
Labels: R4R, automerge, x/ibc

#6018 x/ibc: update ICS09 Loopback Client
  CHANGELOG.md
  simapp/app.go
  x/ibc/02-client/abci.go
  x/ibc/02-client/abci_test.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/09-localhost/client/cli/cli.go
  x/ibc/09-localhost/client/cli/tx.go
  x/ibc/09-localhost/client/rest/rest.go
  x/ibc/09-localhost/client/rest/tx.go
  x/ibc/09-localhost/client_state_test.go
  x/ibc/09-localhost/consensus_state.go
  x/ibc/09-localhost/evidence.go
  x/ibc/09-localhost/header.go
  x/ibc/09-localhost/module.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/09-localhost/types/msgs.go
  x/ibc/20-transfer/module.go
  x/ibc/ante/ante.go
  x/ibc/client/cli/cli.go
  x/ibc/client/rest/rest.go
  x/ibc/module.go
Labels: R4R, x/ibc

#6026 x/ibc: register missing msgs to codec
  x/ibc/04-channel/types/codec.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/09-localhost/types/codec.go
Labels: R4R, automerge, x/ibc

#5998 Add simd and simcli commands
  Makefile
  simapp/cmd/simcli/main.go
  simapp/cmd/simd/genaccounts.go
  simapp/cmd/simd/main.go
Labels: R4R

#6036 Fixes for Packet Ack
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/events.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/handler.go
Labels: automerge

#6040 x/auth/ante: AccountKeeper expected interface used instead of the str…
  CHANGELOG.md
  x/auth/ante/ante.go
  x/auth/ante/basic.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/sigverify.go
Labels: R4R, automerge, x/auth

#6002 Add consensus params into Simulation
  CHANGELOG.md
  client/cmd_test.go
  x/ibc/09-localhost/types/localhost_test.go
  x/simulation/params.go
  x/simulation/simulate.go
  x/staking/types/genesis.go
Labels: R4R, automerge, simulation

#5986 instantiate verifier when --trust-node is off
  CHANGELOG.md
  client/context/context.go
  types/rest/rest_test.go
  x/distribution/client/common/common_test.go
Labels: R4R

#6037 refactor simulation decoder
  CHANGELOG.md
  Makefile
  simapp/app.go
  simapp/sim_test.go
  simapp/utils.go
  simapp/utils_test.go
  types/store.go
  x/auth/module.go
  x/auth/simulation/decoder.go
  x/auth/simulation/decoder_test.go
  x/bank/module.go
  x/bank/simulation/decoder.go
  x/bank/simulation/decoder_test.go
  x/distribution/module.go
  x/distribution/simulation/decoder.go
  x/distribution/simulation/decoder_test.go
  x/gov/module.go
  x/gov/simulation/decoder.go
  x/gov/simulation/decoder_test.go
  x/mint/module.go
  x/mint/simulation/decoder.go
  x/mint/simulation/decoder_test.go
  x/slashing/module.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/staking/module.go
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
Labels: R4R, api-breaking, refactor, simulation

#6046 Revert "Add consensus params into Simulation"
  CHANGELOG.md
  client/cmd_test.go
  x/ibc/09-localhost/types/localhost_test.go
  x/simulation/params.go
  x/simulation/simulate.go
  x/staking/types/genesis.go
Labels: R4R, automerge

#6047 Start global capability index at 1
  simapp/app.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/module.go
Labels: R4R, x/capability

#6054 Remove JSON marshaler for base account
  CHANGELOG.md
  x/auth/types/account.go
Labels: R4R, api-breaking, automerge, x/auth

#6057 Fix capabilities issue
  x/capability/keeper/keeper.go
  x/capability/module.go
  x/capability/types/genesis.go
Labels: automerge

#6051 Jonathan/5988 sim params consensus 2
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  client/cmd_test.go
  simapp/sim_test.go
  x/ibc/09-localhost/types/localhost_test.go
  x/simulation/params.go
  x/simulation/simulate.go
  x/staking/types/genesis.go
Labels: R4R, automerge, simulation

#6055 Bump Tendermint v0.33.4
  client/context/context.go
  client/context/verifier.go
  go.mod
  go.sum
  server/tm_cmds.go
  tests/util.go
  x/genutil/utils.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/tendermint_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/ante/ante_test.go
Labels: R4R, automerge, dependencies

#6058 diagnostic messages should go to /dev/stderr
  x/genutil/client/cli/gentx.go
Labels: R4R

#6022 x/ibc: Implement Timeout Timestamp
  x/ibc/02-client/exported/exported.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/exported/exported.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/04-channel/types/events.go
  x/ibc/04-channel/types/expected_keepers.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/04-channel/types/packet.go
  x/ibc/04-channel/types/packet_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/ante/ante_test.go
Labels: R4R, automerge, x/ibc

#6050 Release v0.37.11
  CHANGELOG.md
  x/staking/client/cli/tx.go
Labels: R4R

#6035 x/evidence: StoreDecoder simulation
  CHANGELOG.md
  simapp/app.go
  simapp/sim_test.go
  x/evidence/module.go
  x/evidence/simulation/decoder.go
  x/evidence/simulation/decoder_test.go
  x/evidence/simulation/genesis.go
  x/evidence/types/genesis.go
Labels: automerge, simulation, x/evidence

#6059 Update DefaultHistoricalEntries to 100
  CHANGELOG.md
  simapp/app.go
  x/staking/simulation/genesis.go
  x/staking/simulation/params.go
  x/staking/types/params.go
Labels: R4R, automerge, x/staking

#6048 Updated docs website
  docs/.vuepress/config.js
  docs/package-lock.json
  docs/package.json
Labels: R4R, automerge, docs

#6067 ibc/03-connection: import export GenesisState
  CHANGELOG.md
  x/ibc/03-connection/alias.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/exported/exported.go
  x/ibc/03-connection/genesis.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/querier.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection_test.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/03-connection/types/genesis.go
  x/ibc/03-connection/types/genesis_test.go
  x/ibc/03-connection/types/querier.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/genesis.go
  x/ibc/genesis_test.go
  x/ibc/module.go
Labels: R4R, automerge, genesis, x/ibc

#6061 Allow Unjail of Non-Bonded Jailed Validator
  CHANGELOG.md
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/unjail.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
Labels: WIP, automerge, x/slashing, x/staking

#6069 store: simplehashfrommap
  store/rootmulti/merkle_map.go
  store/rootmulti/merkle_map_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: R4R, automerge, kvstore, tendermint

#6079 server: remove deprecated UpgradeOldPrivValFile
  CHANGELOG.md
  server/start.go
  server/tm_cmds.go
  server/util.go
  x/genutil/utils.go
Labels: R4R, automerge

#6073 ibc/02-client: import export GenesisState
  x/ibc/02-client/alias.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/24-host/validate.go
  x/ibc/genesis.go
  x/ibc/genesis_test.go
  x/ibc/ibc_test.go
Labels: R4R, genesis, x/ibc

#6085 Move codec/std to std
  client/tx/tx_test.go
  codec/std/doc.go
  simapp/app.go
  simapp/cmd/simcli/main.go
  simapp/cmd/simd/genaccounts.go
  simapp/cmd/simd/main.go
  simapp/genesis.go
  simapp/utils_test.go
  std/codec.go
  std/codec.pb.go
  std/codec.proto
  std/msgs.go
  std/msgs_test.go
  std/tx.go
  std/tx_test.go
  x/auth/keeper/keeper_test.go
  x/auth/simulation/decoder_test.go
  x/auth/types/common_test.go
  x/auth/vesting/types/common_test.go
  x/bank/keeper/keeper_test.go
  x/bank/simulation/decoder_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/handler_test.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/querier_test.go
  x/evidence/simulation/decoder_test.go
  x/evidence/types/codec_test.go
  x/evidence/types/msgs_test.go
  x/gov/abci_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/querier_test.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/operations.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/mint/simulation/decoder_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/staking/simulation/decoder_test.go
Labels: R4R, automerge, code-hygiene

#6090 golangci-lint: exclude _test.go files from analysis
  .golangci.yml
Labels: R4R, automerge

#6084 ci: migrate long sims
  .circleci/config.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  Makefile
  README.md
  codec/testdata/proto.proto
Labels: CI, R4R, automerge

#6041 add pre-commit hook
  CONTRIBUTING.md
  contrib/githooks/README.md
  contrib/githooks/pre-commit
Labels: R4R, automerge, build, tooling

#6087 ibc/04-channel: import export GenesisState
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/genesis.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/keeper.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/querier.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/genesis.go
  x/ibc/04-channel/types/genesis_test.go
  x/ibc/04-channel/types/querier.go
  x/ibc/genesis.go
  x/ibc/genesis_test.go
  x/ibc/ibc_test.go
  x/ibc/types/keys.go
Labels: R4R, genesis, x/ibc

#6081 Update ADR 019 to reflect usage of Any
  docs/architecture/adr-019-protobuf-state-encoding.md
Labels: ADR, R4R

#6033 Add setup for cli_test
  .github/workflows/test.yml
  Makefile
  contrib/test_cover.sh
  tests/cli/helpers/constants.go
  tests/cli/helpers/executors.go
  tests/cli/helpers/fixtures.go
  tests/cli/helpers/helpers.go
  tests/cli/helpers/init.go
  tests/cli/tests/doc.go
  tests/cli/tests/keys_test.go
  x/bank/client/cli_test/helpers.go
  x/bank/client/cli_test/send_test.go
  x/ibc/module.go
  x/staking/client/cli_test/helpers.go
  x/staking/client/cli_test/staking_test.go
Labels: CLI, WIP, tests

#6098 Split proto CI into lint and breakage checks
  .github/workflows/proto.yml
Labels: R4R, automerge, build

#6088 Add CLI tests for fee deduction
  tests/cli/helpers/helpers.go
  tests/cli/tests/keys_test.go
  x/bank/client/cli_test/send_test.go
  x/staking/client/cli_test/staking_test.go
Labels: CLI, R4R, automerge

#6099 x/ibc: fix missing return statement
  .golangci.yml
  baseapp/baseapp.go
  client/keys/add.go
  client/keys/parse.go
  client/tx/tx.go
  codec/amino_codec.go
  codec/codec.go
  codec/hybrid_codec.go
  codec/proto_codec.go
  crypto/armor.go
  crypto/hd/hdpath.go
  store/cachekv/memiterator.go
  store/cachekv/mergeiterator.go
  store/cachekv/store.go
  store/prefix/store.go
  store/rootmulti/merkle_map.go
  tests/cli/helpers/fixtures.go
  types/rest/rest.go
  x/auth/keeper/keeper_test.go
  x/bank/client/cli_test/helpers.go
  x/bank/client/cli_test/send_test.go
  x/bank/keeper/keeper_test.go
  x/bank/simulation/decoder_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/simulation/decoder.go
  x/evidence/simulation/genesis.go
  x/gov/abci_test.go
  x/gov/keeper/querier_test.go
  x/gov/simulation/decoder_test.go
  x/ibc/04-channel/keeper/handshake.go
  x/slashing/simulation/decoder_test.go
  x/staking/client/cli_test/helpers.go
  x/staking/client/cli_test/staking_test.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/staking/simulation/decoder_test.go
Labels: R4R, code-hygiene

#6104 x/ibc: add logs
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/05-port/keeper/keeper.go
  x/ibc/20-transfer/handler.go
Labels: R4R, x/ibc

#6062 x/capability: simulations
  simapp/app.go
  simapp/sim_test.go
  x/capability/alias.go
  x/capability/genesis.go
  x/capability/keeper/keeper.go
  x/capability/module.go
  x/capability/simulation/decoder.go
  x/capability/simulation/decoder_test.go
  x/capability/simulation/genesis.go
  x/capability/types/genesis.go
  x/capability/types/genesis_test.go
  x/ibc/20-transfer/genesis.go
  x/ibc/20-transfer/keeper/keeper.go
Labels: R4R, automerge, simulation, x/capability

#6101 Makefiles: various improvements
  .gitignore
  Makefile
  contrib/devtools/Makefile
Labels: R4R, build
