Repository cosmos/cosmos-sdk, pull requests merged in 2020-01, with the labels that each got.

#5431 fix CLI JSON param unmarshaling
  x/ibc/02-client/client/cli/tx.go
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/04-channel/client/cli/tx.go
Labels: R4R, x/ibc

#5437 Fix inconsistent string lookup functions
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/exported/exported_test.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/types/msgs.go
  x/ibc/03-connection/alias.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/types/connection.go
  x/ibc/03-connection/types/connection_test.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/channel_test.go
Labels: R4R, bug, x/ibc

#5463 docs: add link to iavl documentation
  .github/workflows/linkchecker.yml
  docs/architecture/adr-009-evidence-module.md
  docs/core/store.md
  docs/spec/README.md
  go.sum
  x/README.md
  x/auth/spec/03_types.md
  x/staking/spec/01_state.md
  x/staking/spec/02_state_transitions.md
  x/staking/spec/03_messages.md
Labels: R4R, code-hygiene

#5464 Update docs config.js
  docs/.vuepress/config.js
Labels: R4R, docs

#5367 Regen network/skip upgrade
  server/start.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  x/crisis/handler_test.go
  x/crisis/internal/keeper/integration_test.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/internal/keeper/keeper.go
  x/upgrade/internal/keeper/querier.go
Labels: R4R, x/upgrade

#5465 Remove (Deprecated) Events from TxResponse
  types/result.go
Labels: R4R, code-hygiene

#5449 Add New constructor for the DecCoin
  CHANGELOG.md
  simapp/export.go
  simapp/genesis_account_test.go
  simapp/test_helpers.go
  types/coin.go
  types/coin_benchmark_test.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/auth/types/stdtx.go
  x/auth/vesting/types/genesis_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
  x/bank/internal/types/msgs.go
  x/bank/simulation/operations.go
  x/crisis/handler_test.go
  x/distribution/genesis.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/fee_pool.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/validator.go
  x/distribution/proposal_handler_test.go
  x/genaccounts/legacy/v0_36/migrate.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/invariants.go
  x/gov/keeper/querier_test.go
  x/mock/app.go
  x/mock/types.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/supply/genesis.go
  x/supply/internal/keeper/bank_test.go
  x/supply/internal/keeper/invariants.go
  x/supply/internal/types/supply.go
Labels: R4R, types

#5452 Pass in sdk.Context to router.Route()
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/router.go
  baseapp/router_test.go
  docs/core/baseapp.md
  types/router.go
Labels: R4R, api-breaking, baseapp

#5447 Added nth root function to sdk.Decimal type
  CHANGELOG.md
  types/decimal.go
  types/decimal_test.go
  types/int.go
  types/int_test.go
Labels: R4R, types

#5469 ADR 003 follow-up
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: R4R, docs, feature, x/ibc

#5233 ADR 016: Validator consensus key rotation
  docs/architecture/README.md
  docs/architecture/adr-016-validator-consensus-key-rotation.md
Labels: ADR, R4R

#5482 Update Query Txs by Events Command
  CHANGELOG.md
  docs/core/events.md
  x/auth/client/cli/query.go
Labels: CLI, R4R, docs, next-point-release

#5479 Add convenience Incr() and Decr() methods to Uint
  types/uint.go
  types/uint_test.go
Labels: R4R, types

#5487 v0.37.5-rc2 🍒 Picks (Final)
  CHANGELOG.md
  docs/core/events.md
  x/auth/client/cli/query.go
Labels: R4R

#5488 v0.37.5 Changelog Entry
  CHANGELOG.md
Labels: R4R

#5484 Add errors.Is support to the wrappedError
  types/errors/errors.go
  types/errors/errors_test.go
Labels: R4R

#5495 Replace Redundant Bech32 PubKey Functions
  CHANGELOG.md
  client/debug/main.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/rpc/validators.go
  crypto/keys/keybase_test.go
  crypto/keys/output.go
  crypto/keys/output_test.go
  crypto/keys/types_test.go
  crypto/ledger_test.go
  server/tm_cmds.go
  types/address.go
  types/address_test.go
  x/auth/types/account.go
  x/auth/types/stdtx.go
  x/auth/types/stdtx_test.go
  x/auth/vesting/types/vesting_account.go
  x/genutil/client/cli/gentx.go
  x/slashing/client/cli/query.go
  x/slashing/client/rest/query.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
  x/staking/legacy/v0_34/types.go
  x/staking/legacy/v0_36/types.go
  x/staking/legacy/v0_38/types.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: R4R, api-breaking, code-hygiene

#5501 Fix keyring error message on macos
  go.mod
  go.sum
Labels: R4R

#5499 Cleanup genesis state validation + Genutil
  CHANGELOG.md
  x/auth/module.go
  x/bank/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/genesis.go
  x/genutil/module.go
  x/genutil/types/genesis_state.go
  x/gov/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/supply/module.go
Labels: R4R, genesis

#5503 use build-in iterator function
  x/staking/keeper/val_state_change.go
Labels: R4R, code-hygiene

#5506 Refactor use of parameters in x/distribution to match module spec
  CHANGELOG.md
  x/distribution/alias.go
  x/distribution/client/cli/query.go
  x/distribution/client/common/common.go
  x/distribution/client/common/pretty_params.go
  x/distribution/client/rest/query.go
  x/distribution/genesis.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/key.go
  x/distribution/keeper/params.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/test_common.go
  x/distribution/legacy/v0_38/migrate.go
  x/distribution/legacy/v0_38/types.go
  x/distribution/simulation/decoder.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/genesis.go
  x/distribution/types/genesis.go
  x/distribution/types/keys.go
  x/distribution/types/params.go
  x/distribution/types/querier.go
  x/evidence/internal/types/params.go
Labels: R4R, api-breaking, genesis-breaking, x/distribution

#5508 Fix and Return Height in x/distribution REST Handlers
  CHANGELOG.md
  x/distribution/client/cli/query.go
  x/distribution/client/common/common.go
  x/distribution/client/common/common_test.go
  x/distribution/client/rest/query.go
Labels: R4R, REST, x/distribution

#5512 Fix go-keychain Dep
  go.mod
  go.sum
Labels: R4R

#5401 ADR 015 Implementation
  client/context/verifier_test.go
  simapp/app.go
  x/auth/alias.go
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/ibc/02-client/keeper/client.go
  x/ibc/04-channel/alias.go
  x/ibc/04-channel/client/rest/rest.go
  x/ibc/04-channel/client/rest/tx.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/exported/exported.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/04-channel/types/packet.go
  x/ibc/20-transfer/alias.go
  x/ibc/20-transfer/client/rest/rest.go
  x/ibc/20-transfer/client/rest/tx.go
  x/ibc/20-transfer/handler.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/callbacks.go
  x/ibc/20-transfer/keeper/callbacks_test.go
  x/ibc/20-transfer/keeper/keeper.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/20-transfer/keeper/relay.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/module.go
  x/ibc/20-transfer/types/codec.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/20-transfer/types/msgs_test.go
  x/ibc/20-transfer/types/packet.go
  x/ibc/20-transfer/types/packet_test.go
  x/ibc/ante.go
  x/ibc/ante/ante.go
  x/ibc/ante/ante_test.go
  x/ibc/client/cli/cli.go
  x/ibc/client/rest/rest.go
  x/ibc/handler.go
  x/ibc/keeper/keeper.go
  x/ibc/module.go
  x/mock/app.go
Labels: R4R, x/ibc

#5439 Keybase: Multiple Signature Algorithms
  CHANGELOG.md
  client/keys/add.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/list_test.go
  client/keys/show_test.go
  client/keys/update_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_base.go
  crypto/keys/keybase_test.go
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  crypto/keys/keys.go
  crypto/keys/lazy_keybase.go
  crypto/keys/lazy_keybase_test.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_test.go
  crypto/keys/types.go
  crypto/keys/types_test.go
  server/init_test.go
  x/auth/ante/sigverify.go
Labels: R4R, api-breaking, keys

#5494 ADR 004: Split Denomination Keys
  docs/architecture/README.md
  docs/architecture/adr-004-split-denomination-keys.md
Labels: ADR, R4R, core, docs, kvstore, x/bank

#5522 Fixed backwards amino compatibility for KeyInfo types
  crypto/keys/types.go
Labels: bug, keys

#5526 Fix migrate command
  client/keys/migrate.go
  crypto/keys/keyring.go
Labels: CLI, R4R, keys

#5211 [ADR: 014] Proportional Slashing
  docs/architecture/adt-014-proportional-slashing.md
Labels: ADR, x/slashing

#5517 Add quick start guide
  docs/README.md
  docs/basics/app-anatomy.md
  docs/using-the-sdk/quick-start.md
Labels: R4R, docs

#5537 Fix /validatorsets REST Pagination
  client/rpc/validators.go
Labels: R4R, REST

#5544 v0.37.6 rc1
  CHANGELOG.md
  go.mod
  go.sum
Labels: R4R

#5545 v0.37.6 CHANGELOG
  CHANGELOG.md
Labels: R4R

#5547 Decouple NewKeyringFromDir() from sdk.GetConfig()
  CHANGELOG.md
  client/context/context.go
  client/flags/flags.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/list_test.go
  client/keys/migrate.go
  client/keys/root_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/update.go
  client/keys/update_test.go
  client/keys/utils.go
  client/keys/utils_test.go
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  server/init_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/types/txbuilder.go
  x/genutil/client/cli/gentx.go
Labels: R4R, keys

#5538 Refactor IAVL Pruning
  CHANGELOG.md
  baseapp/baseapp_test.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/pruning.go
Labels: R4R, kvstore, performance

#5560 [keyring] support for kwallet, pass
  CHANGELOG.md
  crypto/keys/keyring.go
Labels: R4R, keys

#5561 v0.38 Migration Fixes
  x/auth/legacy/v0_38/migrate.go
  x/auth/legacy/v0_38/migrate_test.go
  x/auth/legacy/v0_38/types.go
  x/auth/types/account_test.go
  x/distribution/legacy/v0_38/types.go
  x/genutil/legacy/v0_38/migrate.go
Labels: R4R

#5562 Remove KeyringServiceName from the sdk.Config struct
  client/context/context.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/list_test.go
  client/keys/migrate.go
  client/keys/show.go
  client/keys/show_test.go
  crypto/keys/keyring.go
  types/config.go
  x/auth/client/cli/tx_multisign.go
  x/auth/types/txbuilder.go
  x/genutil/client/cli/gentx.go
Labels: R4R, keys

#5563 Add v0.38.0 changelog
  CHANGELOG.md
Labels: R4R

#5491 Protobuf Introduction + Types
  .circleci/config.yml
  Makefile
  buf.yaml
  codec/amino.go
  codec/amino_codec.go
  codec/amino_codec_test.go
  codec/codec.go
  codec/hybrid_codec.go
  codec/hybrid_codec_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  codec/testdata/animal.go
  codec/testdata/proto.pb.go
  codec/testdata/proto.proto
  contrib/devtools/Makefile
  docs/core/encoding.md
  go.mod
  go.sum
  scripts/protocgen.sh
  third_party/proto/cosmos-proto/cosmos.proto
  third_party/proto/gogoproto/gogo.proto
  types/codec.go
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/decimal.go
  types/decimal_test.go
  types/int.go
  types/int_test.go
  types/proto.go
  types/types.pb.go
  types/types.proto
  types/uint.go
  x/simulation/rand_util.go
Labels: R4R, encoding, state-machine-breaking, types

#5555 Refactor x/auth/client/utils/
  CHANGELOG.md
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/encode.go
  x/auth/client/cli/query.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/query.go
  x/auth/client/rest.go
  x/auth/client/rest/query.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
  x/auth/client/utils/errors.go
  x/auth/types/errors.go
  x/bank/client/cli/tx.go
  x/bank/client/rest/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
  x/genutil/client/cli/gentx.go
  x/gov/client/cli/tx.go
  x/gov/client/rest/tx.go
  x/gov/client/utils/query.go
  x/params/client/cli/tx.go
  x/params/client/rest/rest.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/tx.go
  x/staking/client/cli/tx.go
  x/staking/client/rest/tx.go
  x/staking/client/rest/utils.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/tx.go
Labels: R4R

#5557 Added amount event to InputOutputCoins for MsgMultSend
  CHANGELOG.md
  x/bank/internal/keeper/keeper.go
  x/bank/internal/keeper/keeper_test.go
  x/bank/spec/04_events.md
Labels: R4R, next-point-release

#5475 IBC historical info support
  simapp/app.go
  x/ibc/02-client/alias.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/expected_keepers.go
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/client/rest/rest.go
  x/ibc/03-connection/client/rest/tx.go
  x/ibc/03-connection/handler.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/timeout.go
  x/ibc/04-channel/types/expected_keepers.go
  x/ibc/07-tendermint/client_state.go
  x/ibc/20-transfer/client/cli/tx.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/relay_test.go
  x/ibc/20-transfer/types/expected_keepers.go
  x/ibc/ante/ante_test.go
  x/ibc/keeper/keeper.go
  x/staking/types/historical_info.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: R4R, x/ibc

#5581 Add convenience functions {,Must}Bech32ifyAddressBytes
  CHANGELOG.md
  types/address.go
  types/address_test.go
Labels: R4R, types

#5584 Staking additions for IBC
  CHANGELOG.md
  x/staking/types/historical_info.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: R4R, x/ibc, x/staking

#5583 Add to the docs of events and handler to set a new EventManager to the Context
  docs/building-modules/handler.md
  docs/core/events.md
Labels: R4R

#5587 docs: remove yarn
  docs/yarn.lock
Labels: docs

#5589 ADR 004 Geneis Migration
  x/auth/legacy/v0_38/migrate.go
  x/auth/legacy/v0_38/types.go
  x/auth/legacy/v0_39/migrate.go
  x/auth/legacy/v0_39/migrate_test.go
  x/auth/legacy/v0_39/types.go
  x/bank/legacy/v0_38/types.go
  x/bank/legacy/v0_39/migrate.go
  x/bank/legacy/v0_39/migrate_test.go
  x/bank/legacy/v0_39/types.go
  x/genutil/client/cli/migrate.go
  x/genutil/legacy/v0_39/migrate.go
Labels: R4R

#5585 client and types additions for IBC
  CHANGELOG.md
  client/context/query.go
  client/flags/flags.go
  store/types/store.go
  types/coin.go
  types/rest/rest.go
  types/store.go
Labels: types, x/ibc

#5591 Fix Proto Linting
  buf.yaml
Labels: R4R

#5033 Simulation docs
  docs/building-modules/simulator.md
  docs/building-modules/structure.md
  docs/package-lock.json
  docs/package.json
  docs/using-the-sdk/README.md
  docs/using-the-sdk/simulation.md
Labels: R4R, docs

#5597 Include Amount in Complete Unbonding/Redelegation Events
  CHANGELOG.md
  x/staking/keeper/delegation.go
  x/staking/keeper/val_state_change.go
  x/staking/spec/07_events.md
Labels: R4R, x/staking
