Repository cosmos/cosmos-sdk, pull requests merged in 2020-03, with the labels that each got.

#5733 linter fixes
  .golangci.yml
  x/gov/keeper/test_common.go
Labels: R4R, automerge, code-hygiene

#5732 Replace defer with testing.T.Cleanup()
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list_test.go
  client/keys/migrate_test.go
  client/keys/mnemonic_test.go
  client/keys/show_test.go
  client/keys/types_test.go
  client/keys/update_test.go
  crypto/keys/keyring_test.go
  crypto/keys/lazy_keybase_test.go
  server/constructors_test.go
  server/init_test.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/utils_test.go
  x/upgrade/types/storeloader_test.go
Labels: R4R, automerge

#5730 fix DiffKVStores(), store/types gets 100% coverage
  CHANGELOG.md
  store/firstlast.go
  store/gaskv/store_test.go
  store/iavl/store.go
  store/iavl/tree_test.go
  store/types/gas_test.go
  store/types/store_test.go
  store/types/utils.go
  store/types/utils_test.go
  store/types/validity_test.go
  types/bytes.go
  types/utils.go
  types/utils_test.go
Labels: R4R, automerge, tests

#5734 Tweak mergify config
  .mergify.yml
Labels: R4R, automerge

#5735 crypto: cleanup, more testing
  CHANGELOG.md
  client/keys/show.go
  crypto/keys/keybase.go
  crypto/keys/keybase_base.go
  crypto/keys/keybase_test.go
  crypto/keys/keyerror/errors_test.go
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_test.go
  crypto/ledger_secp256k1.go
  crypto/ledger_test.go
Labels: R4R, automerge, crypto, tests

#5738 Migrate Gov module to Simapp
  x/gov/abci_test.go
  x/gov/common_test.go
  x/gov/genesis_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/test_common.go
  x/gov/keeper/vote_test.go
Labels: R4R, automerge, tests, x/gov

#5739 crypto: print an error message if the password input failed
  CHANGELOG.md
  crypto/keys/keyring.go
Labels: R4R, automerge, keys

#5740 increase types/module coverage up to 80%
  .codecov.yml
  Makefile
  tests/mocks/types_handler.go
  tests/mocks/types_invariant.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
  types/module/module_test.go
Labels: R4R, automerge, tests

#5742 fix types.ChainAnteDecorators() panic
  CHANGELOG.md
  types/handler.go
  types/handler_test.go
Labels: R4R, automerge

#5744 Migrate slashing module to use new Simapp
  simapp/test_helpers.go
  x/slashing/abci_test.go
  x/slashing/handler_test.go
  x/slashing/keeper/common_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/querier_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/keeper/test_common.go
Labels: R4R, automerge, tests, x/slashing

#5745 Remove internal folder in package Crisis
  x/crisis/alias.go
  x/crisis/client/cli/tx.go
  x/crisis/genesis.go
  x/crisis/handler.go
  x/crisis/keeper/integration_test.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/params.go
  x/crisis/module.go
  x/crisis/types/codec.go
  x/crisis/types/errors.go
  x/crisis/types/events.go
  x/crisis/types/expected_keepers.go
  x/crisis/types/genesis.go
  x/crisis/types/keys.go
  x/crisis/types/msgs.go
  x/crisis/types/params.go
  x/crisis/types/route.go
  x/crisis/types/types.pb.go
  x/crisis/types/types.proto
  x/distribution/types/types.pb.go
Labels: R4R, automerge, x/crisis

#5737 x/gov - Proto Migration
  CHANGELOG.md
  simapp/app.go
  simapp/codec/codec.go
  simapp/codec/codec.pb.go
  simapp/codec/codec.proto
  simapp/codec/msgs.go
  x/distribution/types/types.pb.go
  x/distribution/types/types.proto
  x/evidence/types/codec.go
  x/gov/abci_test.go
  x/gov/alias.go
  x/gov/common_test.go
  x/gov/genesis_test.go
  x/gov/handler.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/types/codec.go
  x/gov/types/deposit.go
  x/gov/types/genesis.go
  x/gov/types/msgs.go
  x/gov/types/params.go
  x/gov/types/proposal.go
  x/gov/types/tally.go
  x/gov/types/types.pb.go
  x/gov/types/types.proto
  x/gov/types/vote.go
  x/staking/keeper/common_test.go
  x/upgrade/types/types.pb.go
  x/upgrade/types/types.proto
Labels: R4R, automerge, state-machine-breaking, x/gov

#5747 types: add test cases
  .codecov.yml
  go.mod
  go.sum
  types/address.go
  types/address_test.go
  types/config_test.go
  types/context_test.go
  types/errors/abci_test.go
  types/int_test.go
  types/invariant_test.go
  types/result_test.go
  types/staking_test.go
  types/store_test.go
  types/tx_msg_test.go
  types/uint_test.go
  types/utils_test.go
Labels: R4R, automerge, tests

#5725 x/distribution: simapp for testing
  x/distribution/alias.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/common_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/keeper/test_common.go
  x/distribution/keeper/validator.go
  x/distribution/proposal_handler_test.go
Labels: R4R, automerge, tests, x/distribution

#5750 Move Simapp Codec to Std
  codec/std/codec.go
  codec/std/codec.pb.go
  codec/std/codec.proto
  codec/std/doc.go
  codec/std/msgs.go
  simapp/app.go
  simapp/genesis.go
  simapp/utils_test.go
  x/auth/types/common_test.go
  x/auth/vesting/types/common_test.go
  x/evidence/handler_test.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/querier_test.go
  x/evidence/types/codec_test.go
  x/evidence/types/msgs_test.go
  x/gov/abci_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/querier_test.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/supply/keeper/bank_test.go
  x/supply/keeper/keeper_test.go
  x/upgrade/types/types.pb.go
Labels: R4R, automerge, dev-ux, encoding

#5751 Update Module Spec
  docs/building-modules/structure.md
Labels: R4R, automerge, docs

#5188 [ADR: 013] Observability
  docs/architecture/README.md
  docs/architecture/adr-013-metrics.md
Labels: ADR, R4R, automerge, telemetry

#5752 Attempt to fix flaky tests
  types/module/module_test.go
Labels: R4R, automerge

#5749 Create module Account for mint module on InitGenesis
  CHANGELOG.md
  simapp/app.go
  x/auth/genesis.go
  x/auth/module.go
  x/auth/module_test.go
  x/distribution/module_test.go
  x/gov/module_test.go
  x/mint/genesis.go
  x/mint/module.go
  x/mint/module_test.go
  x/mint/types/expected_keepers.go
  x/staking/module_test.go
  x/supply/keeper/account.go
Labels: R4R, api-breaking, code-hygiene, x/mint

#5753 store: cleanup
  store/list/list.go
  store/list/list_test.go
  store/prefix/store.go
  store/queue/queue.go
  store/rootmulti/proof.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/rootmulti/wire.go
  store/tracekv/store.go
Labels: R4R, automerge, code-hygiene, kvstore

#5755 Remove redundant staking APIs
  x/slashing/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/val_state_change.go
Labels: R4R, automerge, x/staking

#5756 Fix x/auth GET commands
  x/auth/client/cli/query.go
Labels: CLI, R4R, automerge, x/auth

#5757 ADR 020 - Protocol Buffer Transaction Encoding
  docs/architecture/README.md
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/architecture/adr-020-protobuf-transaction-encoding.md
Labels: ADR, R4R, automerge

#5764 Fix Timing Issues on UpdateClient
  go.mod
  go.sum
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/tendermint_test.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/20-transfer/handler_test.go
  x/ibc/20-transfer/keeper/keeper_test.go
  x/ibc/ante/ante_test.go
Labels: x/ibc

#5775 Fix x/genutil ExportGenesis
  CHANGELOG.md
  x/genutil/module.go
Labels: R4R, automerge

#5779 types/rest: add unit tests
  CHANGELOG.md
  types/module/module_test.go
  types/rest/rest.go
  types/rest/rest_test.go
Labels: R4R, automerge

#5780 Rename misspelled filename for ADR-014
  docs/architecture/adr-014-proportional-slashing.md
Labels: ADR

#5777 v0.37.8-RC1 Cherry Picks
  CHANGELOG.md
  client/lcd/swagger-ui/swagger.yaml
  types/rest/rest.go
  types/rest/rest_test.go
  x/auth/module.go
  x/bank/module.go
  x/crisis/module.go
  x/distribution/client/cli/query.go
  x/distribution/client/common/common.go
  x/distribution/client/common/common_test.go
  x/distribution/client/rest/query.go
  x/distribution/module.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/genesis.go
  x/genutil/module.go
  x/genutil/types/genesis_state.go
  x/genutil/types/genesis_state_test.go
  x/gov/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/supply/module.go
Labels: R4R

#5789 Changelog v0.37.8
  CHANGELOG.md
Labels: R4R

#5792 fix error's raw log messages ugly encoding
  CHANGELOG.md
  x/bank/keeper/keeper.go
Labels: R4R, automerge

#5793 Simplify flaky test case and disable parallelism
  types/module/module_test.go
Labels: R4R, automerge

#5790 Standarize the representation of Governance param changes on cli requests.
  CHANGELOG.md
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/cli/utils.go
  x/params/client/cli/tx.go
  x/params/client/cli/tx_test.go
  x/params/client/utils/utils.go
Labels: CLI, R4R

#5799 Favor marshal unmashal binare bare
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp_test.go
  client/context/query.go
  codec/std/codec.go
  crypto/keys/keybase_base.go
  crypto/keys/types.go
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/core/store.md
  simapp/test_helpers.go
  simapp/utils_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof.go
  store/rootmulti/store.go
  x/auth/ante/basic.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/decode.go
  x/auth/client/cli/encode.go
  x/auth/client/query.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/encode.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
  x/auth/keeper/keeper.go
  x/auth/simulation/decoder.go
  x/auth/simulation/decoder_test.go
  x/auth/types/stdtx.go
  x/auth/types/stdtx_test.go
  x/distribution/keeper/store.go
  x/distribution/simulation/decoder.go
  x/distribution/simulation/decoder_test.go
  x/genutil/gentx.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/vote.go
  x/gov/simulation/decoder.go
  x/gov/simulation/decoder_test.go
  x/mint/keeper/keeper.go
  x/mint/simulation/decoder.go
  x/mint/simulation/decoder_test.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/signing_info.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
  x/slashing/types/signing_info.go
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
  x/staking/types/delegation.go
  x/staking/types/historical_info.go
  x/staking/types/params.go
  x/staking/types/validator.go
  x/supply/simulation/decoder.go
  x/supply/simulation/decoder_test.go
Labels: R4R, automerge, encoding, state-machine-breaking

#5813 Update params doc with restrictions
  go.sum
  x/distribution/spec/07_params.md
Labels: R4R, automerge, docs

#5814 Revert changes for keybase encoding.
  CHANGELOG.md
  crypto/keys/keybase_base.go
  crypto/keys/types.go
Labels: R4R, encoding, keys

#5795 Proto Transaction Migration
  client/context/context.go
  client/tx/tx.go
  codec/std/codec.pb.go
  codec/std/codec.proto
  codec/std/msgs_test.go
  codec/std/tx.go
  codec/std/tx_test.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  go.mod
  go.sum
  simapp/helpers/test_helpers.go
  types/codec.go
  types/tx_msg.go
  x/auth/alias.go
  x/auth/ante/basic.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/types/stdtx.go
  x/auth/types/stdtx_test.go
  x/auth/types/test_utils.go
  x/auth/types/txbuilder.go
  x/auth/types/types.pb.go
  x/auth/types/types.proto
Labels: R4R, encoding

#5823 crypto/keys/mintkey: fix errors handling in UnarmorPubKeyBytes
  CHANGELOG.md
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_test.go
Labels: R4R, crypto

#5824 Fix various linter warnings
  client/input/input.go
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  crypto/keys/mintkey/mintkey_test.go
  crypto/keys/types_test.go
  store/reexport.go
  types/module/module_test.go
  types/rest/rest_test.go
  types/staking_test.go
  version/version_test.go
  x/auth/ante/basic.go
Labels: R4R, automerge

#5820 Remove CloseDB method from Keybase interface
  CHANGELOG.md
  crypto/keys/keybase.go
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
  crypto/keys/lazy_keybase.go
  crypto/keys/types.go
Labels: R4R, automerge, keys

#5797 Use docs-staging branch for docs preview website
  .circleci/config.yml
Labels: R4R, automerge, docs

#5810 Implementing --offline flag
  CHANGELOG.md
  client/context/context.go
  client/context/context_test.go
  client/context/query.go
  client/flags/flags.go
  x/auth/client/cli/broadcast.go
  x/auth/client/cli/broadcast_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
  x/distribution/client/cli/tx.go
Labels: CLI, R4R

#5833 crypto/keys: improve documentation
  client/flags/flags.go
  client/keys/root.go
  crypto/keys/README.md
  crypto/keys/doc.go
  crypto/keys/keyring.go
Labels: R4R, automerge, docs

#5839 baseapp: add sdk.Result to simulation response
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp_test.go
  types/result.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
Labels: R4R, baseapp

#5844 crypto/keys: remove DecodeSignature from baseKeybase
  CHANGELOG.md
  crypto/keys/keybase.go
  crypto/keys/keybase_base.go
  crypto/keys/keybase_test.go
  crypto/keys/keyring.go
  crypto/keys/keyring_test.go
Labels: R4R

#5847 run go mod tidy && make format
  go.sum
  server/pruning.go
  store/transient/store_test.go
  tests/mocks/account_retriever.go
  tests/mocks/tendermint_tm_db_DB.go
  tests/mocks/types_handler.go
  tests/mocks/types_invariant.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/querier_test.go
  x/distribution/module_test.go
  x/distribution/proposal_handler_test.go
  x/slashing/abci_test.go
  x/slashing/keeper/test_common.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/slash_test.go
Labels: automerge

#5848 regenerate mocks, don't format autogenered files on make format
  Makefile
  tests/mocks/account_retriever.go
  tests/mocks/tendermint_tm_db_DB.go
  tests/mocks/types_handler.go
  tests/mocks/types_invariant.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
Labels: R4R, automerge, code-hygiene

#5825 lint: various linting fixs
  .golangci.yml
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list_test.go
  crypto/keys/keybase.go
  crypto/keys/keybase_test.go
  crypto/keys/keyring_test.go
  crypto/keys/lazy_keybase_test.go
  store/cachekv/store_test.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  types/context_test.go
  types/decimal_test.go
  types/handler_test.go
  types/staking_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify_test.go
  x/auth/client/cli/broadcast.go
  x/auth/keeper/keeper_test.go
  x/auth/types/genesis_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/genesis.go
  x/bank/keeper/keeper.go
  x/crisis/handler_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper_test.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/validate_genesis.go
  x/gov/client/cli/parse_test.go
  x/gov/keeper/keeper_test.go
  x/params/client/cli/tx_test.go
  x/params/keeper/keeper_test.go
  x/params/types/subspace_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/validator_test.go
  x/supply/keeper/bank_test.go
Labels: automerge, code-hygiene

#5835 Remove dependency of types/module package on x/simulation
  CHANGELOG.md
  simapp/config.go
  simapp/helpers/test_helpers.go
  simapp/state.go
  simapp/utils.go
  types/module/module.go
  types/module/simulation.go
  types/simulation/account.go
  types/simulation/account_test.go
  types/simulation/config.go
  types/simulation/rand_util.go
  types/simulation/rand_util_test.go
  types/simulation/transition_matrix.go
  types/simulation/types.go
  x/auth/module.go
  x/auth/simulation/genesis.go
  x/auth/simulation/params.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/simulation/params.go
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/params.go
  x/distribution/simulation/proposals.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/simulation/operations.go
  x/gov/simulation/params.go
  x/gov/simulation/proposals.go
  x/gov/types/content.go
  x/mint/module.go
  x/mint/simulation/params.go
  x/params/module.go
  x/params/simulation/operations.go
  x/params/simulation/proposals.go
  x/simulation/mock_tendermint.go
  x/simulation/operation.go
  x/simulation/params.go
  x/simulation/params_test.go
  x/simulation/simulate.go
  x/simulation/transition_matrix.go
  x/simulation/util.go
  x/slashing/module.go
  x/slashing/simulation/genesis.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/params.go
  x/staking/module.go
  x/staking/simulation/genesis.go
  x/staking/simulation/operations.go
  x/staking/simulation/params.go
  x/supply/module.go
Labels: R4R, simulation

#5852 crypto/keys: simplify pass keyring directory's prefix
  crypto/keys/keyring.go
Labels: R4R

#5854 add keyring backends docs
  docs/interfaces/keyring.md
Labels: docs, keys

#5860 docs: link checker
  .github/workflows/linkchecker.yml
  docs/architecture/README.md
  docs/architecture/adr-009-evidence-module.md
  docs/spec/addresses/bech32.md
Labels: automerge, docs

#5828 ADR-003: Dynamic Capabilities
  baseapp/baseapp.go
  docs/architecture/adr-003-dynamic-capability-store.md
  simapp/app.go
  store/mem/mem_test.go
  store/mem/store.go
  store/rootmulti/store.go
  store/types/store.go
  types/store.go
  types/utils.go
  x/capability/alias.go
  x/capability/docs/README.md
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/module.go
  x/capability/types/codec.go
  x/capability/types/errors.go
  x/capability/types/keys.go
  x/capability/types/keys_test.go
  x/capability/types/types.go
  x/capability/types/types_test.go
Labels: R4R, kvstore, x/ibc

#5827 Update docs website
  docs/.vuepress/config.js
  docs/architecture/adr-013-metrics.md
  docs/basics/accounts.md
  docs/basics/app-anatomy.md
  docs/basics/gas-fees.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/beginblock-endblock.md
  docs/building-modules/errors.md
  docs/building-modules/genesis.md
  docs/building-modules/handler.md
  docs/building-modules/intro.md
  docs/building-modules/invariants.md
  docs/building-modules/keeper.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  docs/building-modules/querier.md
  docs/building-modules/structure.md
  docs/core/baseapp.md
  docs/core/context.md
  docs/core/encoding.md
  docs/core/events.md
  docs/core/node.md
  docs/core/store.md
  docs/core/transactions.md
  docs/interfaces/cli.md
  docs/interfaces/interfaces-intro.md
  docs/interfaces/keyring.md
  docs/interfaces/query-lifecycle.md
  docs/interfaces/rest.md
  docs/intro/why-app-specific.md
  docs/package-lock.json
  docs/package.json
  x/staking/spec/05_end_block.md
  x/staking/spec/06_hooks.md
  x/staking/spec/07_events.md
  x/staking/spec/07_params.md
Labels: automerge, docs

#5822 Improve keyring docs
  docs/interfaces/cli.md
  docs/interfaces/keyring.md
Labels: automerge, docs

#5867 Use cosmos' fork of github.com/bartekn/go-bip39
  client/keys/add.go
  client/keys/mnemonic.go
  go.mod
  go.sum
Labels: R4R, dependencies

#5866 crypto/keys: move keybase and keyring to crypto/keyring/ dir
  CHANGELOG.md
  client/context/context.go
  client/flags/flags.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/codec_test.go
  client/keys/delete.go
  client/keys/delete_test.go
  client/keys/export.go
  client/keys/export_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/list_test.go
  client/keys/migrate.go
  client/keys/root_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/types.go
  client/keys/update_test.go
  client/keys/utils.go
  crypto/keyring/base_keybase.go
  crypto/keyring/codec.go
  crypto/keyring/db_keybase.go
  crypto/keyring/doc.go
  crypto/keyring/errors.go
  crypto/keyring/info.go
  crypto/keyring/keybase.go
  crypto/keyring/keybase_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/keys.toml
  crypto/keyring/lazy_keybase.go
  crypto/keyring/lazy_keybase_test.go
  crypto/keyring/options.go
  crypto/keyring/output.go
  crypto/keyring/output_test.go
  crypto/keyring/signing_algorithms.go
  crypto/keyring/types.go
  crypto/keyring/types_test.go
  crypto/keys/keyerror/errors.go
  crypto/keys/keyerror/errors_test.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_test.go
  server/init.go
  server/init_test.go
  types/errors/errors.go
  x/auth/client/cli/tx_multisign.go
  x/auth/types/txbuilder.go
  x/genutil/client/cli/gentx.go
Labels: R4R, automerge, code-hygiene, keys

#5861 v0.38.2 - RC1
  CHANGELOG.md
  baseapp/baseapp.go
  client/context/query.go
  client/lcd/swagger-ui/swagger.yaml
  crypto/keys/keyring.go
  crypto/keys/mintkey/mintkey.go
  crypto/keys/mintkey/mintkey_test.go
  go.mod
  go.sum
  types/rest/rest.go
  types/rest/rest_test.go
  x/auth/client/utils/query.go
  x/distribution/types/params.go
  x/distribution/types/params_test.go
  x/genutil/module.go
  x/gov/client/utils/query_test.go
Labels: R4R

#5871 Add v0.38.2 Changelog
  CHANGELOG.md
Labels: R4R, automerge

#5873 Update ADR 3: add ReleaseCapability
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: docs, spec, x/capability, x/ibc

#5865 Proto Client Migration: x/bank
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  client/context/context.go
  client/tx/factory.go
  client/tx/tx.go
  client/tx/tx_test.go
  codec/json.go
  codec/proto_codec.go
  codec/std/tx.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  types/codec.go
  types/rest/rest.go
  types/rest/rest_test.go
  types/result.go
  types/types.pb.go
  types/types.proto
  x/auth/types/stdtx.go
  x/bank/client/cli/query.go
  x/bank/client/cli/tx.go
  x/bank/client/rest/query.go
  x/bank/client/rest/rest.go
  x/bank/client/rest/tx.go
  x/bank/handler.go
  x/bank/keeper/keeper_test.go
  x/crisis/handler.go
  x/distribution/handler.go
  x/evidence/handler.go
  x/gov/handler.go
  x/slashing/handler.go
  x/staking/handler.go
Labels: CLI, R4R, REST, encoding

#5881 exclude generated code from code coverage statistics
  .circleci/config.yml
Labels: R4R, automerge

#5880 merge crypto/keys/mintkey into crypto/
  CHANGELOG.md
  crypto/armor.go
  crypto/armor_test.go
  crypto/bcrypt_readme.md
  crypto/keyring/db_keybase.go
  crypto/keyring/keybase_test.go
  crypto/keyring/keyring.go
  crypto/keys/mintkey/mintkey_bench_test.go
Labels: R4R, crypto

#5877 x/capability: ReleaseCapability
  x/capability/alias.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/types/errors.go
  x/capability/types/types.go
  x/capability/types/types_test.go
Labels: R4R, x/capability

#5884 move some sims to github actions
  .circleci/config.yml
  .github/workflows/sims.yml
Labels: CI

#5885 Added proto compatible x/slashing clients
  x/bank/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
Labels: R4R, x/slashing

#5887 types/errors: make Wrap() work like github.com/pkg/errors.Wrap
  types/errors/abci_test.go
  types/errors/errors.go
  types/errors/errors_test.go
  types/errors/stacktrace_test.go
Labels: R4R

#5858 crypto/keyring: change addrKey to store chain-agnostic addresses
  CHANGELOG.md
  client/keys/add.go
  client/keys/list.go
  client/keys/parse.go
  client/keys/parse_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/utils.go
  crypto/keyring/db_keybase.go
  crypto/keyring/keyring.go
Labels: R4R, crypto, keys

#5889 crypto/keyring: deprecate lazy keybase
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list_test.go
  client/keys/migrate.go
  client/keys/root.go
  client/keys/root_test.go
  client/keys/show_test.go
  client/keys/testdata/keys/keys.db/000002.ldb
  client/keys/testdata/keys/keys.db/CURRENT
  client/keys/testdata/keys/keys.db/CURRENT.bak
  client/keys/testdata/keys/keys.db/LOCK
  client/keys/testdata/keys/keys.db/LOG
  client/keys/testdata/keys/keys.db/MANIFEST-000004
  client/keys/update.go
  client/keys/update_test.go
  client/keys/utils.go
  crypto/keyring/base_keybase.go
  crypto/keyring/db_keybase.go
  crypto/keyring/doc.go
  crypto/keyring/keybase.go
  crypto/keyring/keybase_test.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/lazy_keybase.go
  crypto/keyring/lazy_keybase_test.go
  crypto/keyring/legacy.go
  crypto/keyring/legacy_test.go
  crypto/keyring/testdata/keys/keys.db/000002.ldb
  crypto/keyring/testdata/keys/keys.db/CURRENT
  crypto/keyring/testdata/keys/keys.db/CURRENT.bak
  crypto/keyring/testdata/keys/keys.db/LOCK
  crypto/keyring/testdata/keys/keys.db/LOG
  crypto/keyring/testdata/keys/keys.db/MANIFEST-000004
  go.mod
  go.sum
  server/init.go
  server/init_test.go
Labels: R4R, crypto, keys

#5856 client: support offline flag in config command
  CHANGELOG.md
  client/config.go
  client/config_test.go
Labels: CLI, R4R

#5892 patch auth register cdc
  CHANGELOG.md
  x/auth/types/account.go
  x/auth/types/codec.go
  x/auth/types/stdtx.go
Labels: R4R, automerge, x/auth

#5896 client: show defaults when config help screen is displayed
  CHANGELOG.md
  client/config.go
  client/config_test.go
Labels: R4R

#5898 x/auth: use validateMaxMemoCharacters() for memo fields
  x/auth/types/params.go
  x/auth/types/params_test.go
Labels: R4R

#5893 Ibc rm swagger files
  x/ibc/02-client/client/rest/swagger.go
  x/ibc/03-connection/client/rest/swagger.go
  x/ibc/04-channel/client/rest/swagger.go
  x/ibc/07-tendermint/client/rest/swagger.go
  x/ibc/20-transfer/client/rest/swagger.go
Labels: R4R, automerge, x/ibc
