Repository cosmos/cosmos-sdk, pull requests merged in 2020-08, with the labels that each got.

#6865 fix ibc-transfer source bug
  proto/ibc/transfer/transfer.proto
  x/ibc-transfer/client/cli/tx.go
  x/ibc-transfer/client/rest/rest.go
  x/ibc-transfer/handler.go
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/keeper/relay_test.go
  x/ibc-transfer/module.go
  x/ibc-transfer/spec/04_messages.md
  x/ibc-transfer/spec/05_events.md
  x/ibc-transfer/types/coin.go
  x/ibc-transfer/types/errors.go
  x/ibc-transfer/types/events.go
  x/ibc-transfer/types/keys.go
  x/ibc-transfer/types/msgs.go
  x/ibc-transfer/types/msgs_test.go
  x/ibc-transfer/types/packet.go
  x/ibc-transfer/types/packet_test.go
  x/ibc-transfer/types/transfer.pb.go
  x/ibc/handler_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/transfer.go
Labels: automerge, x/ibc

#6912 types: remove unused CanonicalSignBytes
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  types/codec.go
Labels: automerge

#6915 x/params/types: make KeyTable.RegisterType fully dereference pointers
  x/params/types/deref_test.go
  x/params/types/table.go
Labels: automerge, code-hygiene

#6662 ADR 001: coin cross-chain transfer source tracing
  docs/architecture/README.md
  docs/architecture/adr-001-coin-source-tracing.md
Labels: ADR, automerge, types, x/ibc

#6819 remove parts of amino from ibc
  x/ibc-transfer/module.go
  x/ibc-transfer/types/codec.go
  x/ibc-transfer/types/msgs.go
  x/ibc-transfer/types/msgs_test.go
  x/ibc-transfer/types/packet.go
  x/ibc/03-connection/types/codec.go
  x/ibc/04-channel/types/codec.go
  x/ibc/04-channel/types/msgs.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/types/codec.go
Labels: automerge, encoding, x/ibc

#6925 migrate localhost client state to proto
  proto/ibc/localhost/localhost.proto
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/09-localhost/types/errors.go
  x/ibc/09-localhost/types/keys.go
  x/ibc/09-localhost/types/localhost.pb.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/09-localhost/types/msgs.go
Labels: x/ibc

#6919 tendermint: update 4
  baseapp/abci.go
  baseapp/params_test.go
  client/rpc/validators.go
  codec/amino.go
  crypto/hd/algo.go
  crypto/hd/fundraiser_test.go
  crypto/hd/hdpath.go
  crypto/ledger/ledger_secp256k1.go
  crypto/types/multisig/threshold_pubkey.go
  go.mod
  go.sum
  proto/cosmos/staking/staking.proto
  proto/ibc/commitment/commitment.proto
  std/consensus_params.go
  store/cachekv/memiterator.go
  store/cachekv/mergeiterator.go
  store/gaskv/store.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/prefix/store.go
  store/rootmulti/internal/maps/maps.go
  store/rootmulti/internal/proofs/convert.go
  store/rootmulti/internal/proofs/convert_test.go
  store/rootmulti/internal/proofs/create.go
  store/rootmulti/internal/proofs/helpers.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/types/proof.go
  types/utils.go
  x/auth/client/query.go
  x/ibc/02-client/types/querier.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/23-commitment/types/commitment.pb.go
  x/ibc/23-commitment/types/merkle.go
  x/ibc/23-commitment/types/merkle_test.go
  x/simulation/mock_tendermint.go
  x/simulation/params.go
  x/staking/types/historical_info.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: tendermint

#6883 Reject unknown fields in TxDecoder and sign mode handlers
  client/tx/legacy_test.go
  client/tx_config.go
  codec/unknownproto/benchmarks_test.go
  codec/unknownproto/doc.go
  codec/unknownproto/unknown_fields.go
  codec/unknownproto/unknown_fields_test.go
  go.mod
  go.sum
  simapp/params/proto.go
  store/cachekv/memiterator.go
  testutil/testdata/proto.pb.go
  testutil/testdata/proto.proto
  x/auth/signing/direct/direct.go
  x/auth/signing/handler_map_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/config_test.go
  x/auth/tx/decoder.go
  x/auth/tx/direct.go
  x/auth/tx/direct_test.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/encoder.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/mode_handler.go
  x/auth/tx/sigs.go
  x/auth/types/amino_signing.go
  x/auth/types/amino_signing_test.go
  x/auth/types/client_tx.go
  x/staking/types/staking.pb.go
Labels: automerge, encoding, security, x/auth

#6924 Fix problem with Gen TX
  x/auth/client/tx.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
Labels: CLI, bug

#6927 remove GetCommitmentType and register commitment interfaces
  x/ibc/23-commitment/exported/exported.go
  x/ibc/23-commitment/types/codec.go
  x/ibc/23-commitment/types/merkle.go
  x/ibc/types/codec.go
Labels: automerge, x/ibc

#6881 Slashing genesis types proto migration
  proto/cosmos/slashing/genesis.proto
  x/slashing/genesis.go
  x/slashing/genesis_test.go
  x/slashing/keeper/signing_info.go
  x/slashing/simulation/genesis.go
  x/slashing/types/genesis.go
  x/slashing/types/genesis.pb.go
  x/staking/types/staking.pb.go
Labels: automerge, encoding, genesis, x/slashing

#6932 Migrate Tendermint client state to proto
  Makefile
  go.mod
  go.sum
  proto/ibc/tendermint/tendermint.proto
  third_party/proto/confio/proofs.proto
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/fraction.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/genesis_test.go
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#6935 Fix Testnet Command
  simapp/simd/cmd/testnet.go
  x/auth/tx/decoder.go
Labels: CLI, automerge

#6907 Return error when the address is an empty string
  types/address.go
  types/address_test.go
Labels: automerge, types

#6948 Migrate 02-client to use proto encoded/decoded client states
  x/ibc-transfer/module.go
  x/ibc-transfer/types/codec.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/encoding.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/03-connection/types/codec.go
  x/ibc/04-channel/types/codec.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/23-commitment/types/codec.go
  x/ibc/keeper/keeper.go
  x/ibc/module.go
  x/ibc/types/codec.go
Labels: automerge, encoding, x/ibc

#6947 docker: fix version cmd
  .github/workflows/docker.yml
  Dockerfile
Labels: automerge

#6933 Add flag & toml config for gRPC server
  Dockerfile
  docker-compose.yml
  server/config/config.go
  server/config/toml.go
  server/grpc/server_test.go
  server/start.go
  testutil/network/network.go
Labels: automerge

#6939 Remove old tx code from rest
  types/rest/rest.go
  types/rest/rest_test.go
  x/bank/client/rest/query.go
  x/distribution/client/rest/rest.go
  x/distribution/client/rest/tx.go
  x/gov/client/rest/rest.go
  x/gov/client/rest/tx.go
  x/ibc-transfer/client/rest/rest.go
  x/ibc-transfer/client/rest/tx.go
  x/ibc/03-connection/client/rest/rest.go
  x/ibc/03-connection/client/rest/tx.go
  x/ibc/04-channel/client/rest/rest.go
  x/ibc/04-channel/client/rest/tx.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/09-localhost/client/rest/rest.go
  x/ibc/09-localhost/client/rest/tx.go
  x/params/client/rest/rest.go
  x/slashing/client/rest/rest.go
  x/slashing/client/rest/tx.go
  x/staking/client/rest/rest.go
  x/staking/client/rest/tx.go
  x/upgrade/client/rest/query.go
  x/upgrade/client/rest/rest.go
  x/upgrade/client/rest/tx.go
Labels: automerge

#6941 Remove TxBuilder
  x/auth/client/rest.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
  x/auth/types/txbuilder.go
  x/auth/types/txbuilder_test.go
Labels: automerge, x/auth

#6955 Fix clientCtx intialization
  simapp/simd/cmd/root.go
Labels: automerge, x/auth

#6940 Fix x/bank genesis non-determinism
  x/bank/keeper/genesis.go
  x/bank/keeper/view.go
Labels: automerge, bug, x/bank

#6957 Migrate tendermint consensus state to proto
  buf.yaml
  proto/ibc/tendermint/tendermint.proto
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/consensus_state_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
Labels: automerge, encoding, x/ibc

#6960 Migrate Consensus State to being proto encoded/decoded in 02-client
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/encoding.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/03-connection/types/codec.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/consensus_state_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/update.go
  x/ibc/07-tendermint/update_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/keeper/keeper.go
Labels: encoding, x/ibc

#6962 Add default node home into server helpers
  go.sum
  server/util.go
  simapp/simd/cmd/root.go
Labels: automerge

#6968 Remove Home Flag from "tx sign"
  simapp/simd/cmd/root.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/helpers.go
Labels: CLI, automerge, x/auth

#6878 x/ibc migrate genesis proto
  proto/ibc/channel/genesis.proto
  proto/ibc/client/genesis.proto
  proto/ibc/connection/genesis.proto
  proto/ibc/types/genesis.proto
  simapp/app.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/simulation/decoder.go
  x/ibc/02-client/simulation/decoder_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/genesis.go
  x/ibc/02-client/types/genesis.pb.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/types/genesis.go
  x/ibc/03-connection/types/genesis.pb.go
  x/ibc/04-channel/types/genesis.go
  x/ibc/04-channel/types/genesis.pb.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/genesis_test.go
  x/ibc/keeper/keeper.go
  x/ibc/module.go
  x/ibc/simulation/decoder.go
  x/ibc/simulation/decoder_test.go
  x/ibc/types/codec.go
  x/ibc/types/genesis.go
  x/ibc/types/genesis.pb.go
Labels: automerge, encoding, genesis, x/ibc

#6825 Add pagination response for commands
  x/auth/client/cli/cli_test.go
  x/bank/client/cli/cli_test.go
  x/bank/client/cli/query.go
  x/distribution/client/cli/cli_test.go
  x/distribution/client/cli/query.go
  x/gov/client/cli/query.go
  x/slashing/client/cli/query.go
  x/staking/client/cli/query.go
Labels: automerge

#6974 don't create localhost in IBC genesis to fix sims
  x/ibc/02-client/abci_test.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/types/codec.go
Labels: automerge, x/ibc

#6089 Tx Height Timeout
  CHANGELOG.md
  client/flags/flags.go
  client/testutil/suite.go
  client/tx/factory.go
  client/tx/legacy.go
  client/tx/legacy_test.go
  client/tx/tx.go
  client/tx_config.go
  proto/cosmos/tx/tx.proto
  simapp/params/proto.go
  types/errors/errors.go
  types/rest/rest.go
  types/tx/tx.pb.go
  types/tx_msg.go
  x/auth/ante/ante.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/testutil_test.go
  x/auth/client/rest/decode.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/signing/verify_test.go
  x/auth/spec/03_types.md
  x/auth/tx/builder.go
  x/auth/tx/direct_test.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/types/amino_signing.go
  x/auth/types/amino_signing_test.go
  x/auth/types/client_tx.go
  x/auth/types/stdsignmsg.go
  x/auth/types/stdtx.go
  x/auth/types/stdtx_test.go
  x/ibc-transfer/client/cli/tx.go
  x/staking/types/staking.pb.go
Labels: automerge, pinned, x/auth

#6967 Protobuf audit: Queries
  proto/cosmos/auth/query.proto
  proto/cosmos/bank/query.proto
  proto/cosmos/distribution/query.proto
  proto/cosmos/evidence/query.proto
  proto/cosmos/gov/query.proto
  proto/cosmos/mint/query.proto
  proto/cosmos/params/query.proto
  proto/cosmos/staking/query.proto
  proto/cosmos/upgrade/query.proto
  x/auth/types/query.pb.go
  x/bank/types/query.pb.go
  x/distribution/types/query.pb.go
  x/evidence/types/query.pb.go
  x/gov/types/query.pb.go
  x/mint/types/query.pb.go
  x/params/client/cli/query.go
  x/params/keeper/grpc_query.go
  x/params/keeper/grpc_query_test.go
  x/params/types/proposal/query.pb.go
  x/staking/types/query.pb.go
  x/staking/types/staking.pb.go
  x/upgrade/types/query.pb.go
Labels: automerge, code-hygiene

#6488 Initial ADR for IBC client recovery mechanisms
  docs/architecture/README.md
  docs/architecture/adr-026-ibc-client-recovery-mechanisms.md
Labels: ADR, x/ibc

#6999 Require proto.Message in client.Context.PrintOutput
  client/context.go
  client/rpc/validators.go
  x/auth/client/cli/query.go
  x/bank/client/cli/cli_test.go
  x/bank/client/cli/query.go
  x/distribution/client/cli/cli_test.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/utils.go
  x/evidence/client/cli/query.go
  x/gov/client/cli/query.go
  x/ibc/02-client/client/cli/query.go
  x/ibc/04-channel/client/cli/query.go
  x/mint/client/cli/cli_test.go
  x/mint/client/cli/query.go
  x/params/client/cli/query.go
  x/slashing/client/cli/query.go
  x/staking/client/cli/query.go
  x/upgrade/client/cli/query.go
Labels: CLI, encoding

#6872 Add simulation gRPC service definition
  proto/cosmos/tx/service.proto
  types/tx/service.pb.go
  x/staking/types/staking.pb.go
Labels: automerge

#7002 fix 0.3{8,9} migrations and migration test case
  x/auth/legacy/v0_38/types.go
  x/auth/legacy/v0_39/types.go
  x/auth/legacy/v0_40/migrate_test.go
  x/genutil/legacy/v0_39/migrate_test.go
Labels: automerge, tests

#6984 store: Remove Amino
  proto/cosmos/kv/kv.proto
  proto/cosmos/store/commit_info.proto
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/wire.go
  store/internal/maps/bench_test.go
  store/internal/maps/maps.go
  store/internal/maps/maps_test.go
  store/internal/proofs/convert.go
  store/internal/proofs/convert_test.go
  store/internal/proofs/create.go
  store/internal/proofs/create_test.go
  store/internal/proofs/helpers.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/commit_info.go
  store/types/commit_info.pb.go
  store/types/store.go
  types/kv/kv.go
  types/kv/kv.pb.go
  x/auth/simulation/decoder_test.go
  x/bank/simulation/decoder_test.go
  x/capability/simulation/decoder_test.go
  x/distribution/simulation/decoder_test.go
  x/evidence/simulation/decoder_test.go
  x/gov/simulation/decoder_test.go
  x/ibc/02-client/simulation/decoder_test.go
  x/ibc/03-connection/simulation/decoder_test.go
  x/ibc/04-channel/simulation/decoder_test.go
  x/ibc/simulation/decoder_test.go
  x/mint/simulation/decoder_test.go
  x/slashing/simulation/decoder_test.go
  x/staking/simulation/decoder_test.go
Labels: automerge, encoding, kvstore

#7004 store: add test cases for hashing of empty inputs
  store/internal/maps/maps_test.go
Labels: automerge, tests

#6964 Migrate rest of 04-channel to gRPC
  proto/ibc/channel/query.proto
  proto/ibc/client/client.proto
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/types/client.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec.go
  x/ibc/04-channel/client/cli/query.go
  x/ibc/04-channel/client/rest/query.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/grpc_query.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/keeper/querier.go
  x/ibc/04-channel/keeper/querier_test.go
  x/ibc/04-channel/types/expected_keepers.go
  x/ibc/04-channel/types/query.go
  x/ibc/04-channel/types/query.pb.go
  x/ibc/24-host/keys.go
  x/ibc/keeper/grpc_query.go
  x/ibc/keeper/querier.go
  x/ibc/keeper/querier_test.go
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#6989 Misbehaviour Followup
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/07-tendermint/misbehaviour.go
  x/ibc/07-tendermint/misbehaviour_test.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/update.go
Labels: automerge, x/ibc

#7012 custom testnet cmd signing algorithms
  client/flags/flags.go
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  server/init.go
  server/init_test.go
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
Labels: CLI, automerge, tooling

#7005 ConsensusState is retrieved by light clients in verifyXYZ as necessary
  x/ibc/02-client/exported/exported.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/store.go
  x/ibc/07-tendermint/types/store_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/testing/chain.go
Labels: x/ibc

#7017 Add clientState and consensusState gRPC support to connection
  proto/ibc/connection/query.proto
  x/ibc-transfer/client/cli/tx.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/grpc_query.go
  x/ibc/03-connection/keeper/grpc_query_test.go
  x/ibc/03-connection/types/querier.go
  x/ibc/03-connection/types/query.go
  x/ibc/03-connection/types/query.pb.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/keeper/grpc_query.go
Labels: automerge, x/ibc

#7016 Add helpful debug info to VerifyAddressFormat
  types/address.go
  types/address_test.go
Labels: automerge

#7022 add section to changelog for 0.37.14
  CHANGELOG.md
Labels: automerge

#7024 Fix mint metric
  x/mint/abci.go
Labels: automerge, telemetry, x/mint

#6978 Protobuf Audit: Genesis states
  proto/cosmos/auth/v1beta1/genesis.proto
  proto/cosmos/bank/v1beta1/genesis.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/capability/v1beta1/genesis.proto
  proto/cosmos/crisis/v1beta1/genesis.proto
  proto/cosmos/distribution/v1beta1/genesis.proto
  proto/cosmos/evidence/v1beta1/genesis.proto
  proto/cosmos/genutil/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/genesis.proto
  proto/cosmos/mint/v1beta1/genesis.proto
  proto/cosmos/slashing/v1beta1/genesis.proto
  proto/cosmos/staking/v1beta1/genesis.proto
  x/auth/types/genesis.pb.go
  x/bank/types/genesis.pb.go
  x/bank/types/query.pb.go
  x/capability/genesis.go
  x/capability/types/genesis.go
  x/capability/types/genesis.pb.go
  x/capability/types/genesis_test.go
  x/crisis/types/genesis.pb.go
  x/distribution/types/genesis.pb.go
  x/evidence/types/genesis.pb.go
  x/genutil/types/genesis.pb.go
  x/gov/types/genesis.pb.go
  x/mint/types/genesis.pb.go
  x/slashing/types/genesis.pb.go
  x/staking/spec/07_params.md
  x/staking/types/genesis.pb.go
  x/staking/types/staking.pb.go
Labels: automerge

#7006 auth: Update AccountRetriever
  CHANGELOG.md
  client/account_retriever.go
  client/test_helpers.go
  docker-compose.yml
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  simapp/simd/cmd/root.go
  tests/mocks/account_retriever.go
  testutil/network/network.go
  x/auth/client/rest/query.go
  x/auth/types/account_retriever.go
  x/auth/types/account_retriever_test.go
Labels: automerge, x/auth

#6981 upgrade proposal needs tx flags.
  x/distribution/client/cli/cli_test.go
  x/distribution/client/cli/tx.go
  x/gov/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Labels: automerge, bug

#7028 Modular IBC Client
  simapp/test_helpers.go
  x/ibc/02-client/abci_test.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/handler_test.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/encoding.go
  x/ibc/02-client/simulation/decoder.go
  x/ibc/02-client/types/encoding.go
  x/ibc/07-tendermint/tendermint_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/msgs.go
  x/ibc/testing/chain.go
Labels: x/ibc

#7027 types: update coin regex
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
  x/bank/types/params_test.go
  x/ibc-transfer/types/msgs_test.go
Labels: automerge, types

#6918 Add Grpc gateway annotations
  buf.yaml
  go.mod
  go.sum
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/evidence/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/query.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/params/v1beta1/query.proto
  proto/cosmos/slashing/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/ibc/channel/query.proto
  proto/ibc/connection/query.proto
  scripts/protocgen.sh
  third_party/proto/google/api/annotations.proto
  third_party/proto/google/api/http.proto
  third_party/proto/google/api/httpbody.proto
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
  x/evidence/types/query.pb.go
  x/evidence/types/query.pb.gw.go
  x/gov/types/query.pb.go
  x/gov/types/query.pb.gw.go
  x/ibc/03-connection/types/query.pb.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/query.pb.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
  x/params/types/proposal/query.pb.go
  x/params/types/proposal/query.pb.gw.go
  x/slashing/types/query.pb.go
  x/slashing/types/query.pb.gw.go
  x/staking/keeper/grpc_query.go
  x/staking/types/query.pb.go
  x/staking/types/query.pb.gw.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
Labels: automerge

#6871 x/ibc-transfer: ADR001 source tracing implementation
  .github/workflows/test.yml
  CHANGELOG.md
  docs/architecture/adr-001-coin-source-tracing.md
  docs/architecture/adr-template.md
  proto/ibc/transfer/genesis.proto
  proto/ibc/transfer/query.proto
  proto/ibc/transfer/transfer.proto
  types/coin_test.go
  x/ibc-transfer/client/cli/cli.go
  x/ibc-transfer/client/cli/query.go
  x/ibc-transfer/client/cli/tx.go
  x/ibc-transfer/client/rest/rest.go
  x/ibc-transfer/client/rest/tx.go
  x/ibc-transfer/genesis.go
  x/ibc-transfer/handler.go
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/genesis.go
  x/ibc-transfer/keeper/genesis_test.go
  x/ibc-transfer/keeper/grpc_query.go
  x/ibc-transfer/keeper/grpc_query_test.go
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/keeper/keeper_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/module.go
  x/ibc-transfer/spec/04_messages.md
  x/ibc-transfer/spec/05_events.md
  x/ibc-transfer/types/coin.go
  x/ibc-transfer/types/errors.go
  x/ibc-transfer/types/events.go
  x/ibc-transfer/types/genesis.go
  x/ibc-transfer/types/genesis.pb.go
  x/ibc-transfer/types/keys.go
  x/ibc-transfer/types/msgs.go
  x/ibc-transfer/types/msgs_test.go
  x/ibc-transfer/types/packet.go
  x/ibc-transfer/types/query.pb.go
  x/ibc-transfer/types/query.pb.gw.go
  x/ibc-transfer/types/trace.go
  x/ibc-transfer/types/trace_test.go
  x/ibc-transfer/types/transfer.pb.go
  x/ibc/spec/01_concepts.md
  x/ibc/spec/README.md
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#7037 Use encoding/json for genesis
  simapp/simd/cmd/cmd_test.go
  simapp/simd/cmd/root.go
  simapp/simd/main.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/migrate.go
Labels: automerge, genesis

#6607 ibc-transfer: enable transfer parameter
  proto/cosmos/bank/v1beta1/query.proto
  proto/ibc/transfer/genesis.proto
  proto/ibc/transfer/query.proto
  proto/ibc/transfer/transfer.proto
  simapp/app.go
  x/ibc-transfer/client/cli/query.go
  x/ibc-transfer/keeper/genesis.go
  x/ibc-transfer/keeper/grpc_query.go
  x/ibc-transfer/keeper/grpc_query_test.go
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/keeper/params.go
  x/ibc-transfer/keeper/params_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/spec/06_params.md
  x/ibc-transfer/spec/README.md
  x/ibc-transfer/types/errors.go
  x/ibc-transfer/types/genesis.go
  x/ibc-transfer/types/genesis.pb.go
  x/ibc-transfer/types/params.go
  x/ibc-transfer/types/params_test.go
  x/ibc-transfer/types/query.pb.go
  x/ibc-transfer/types/query.pb.gw.go
  x/ibc-transfer/types/transfer.pb.go
Labels: automerge, x/ibc

#7056 Replaced hardcoded 'cosmos' and 'cosmosvaloper' help references
  client/grpc_query.go
  client/grpc_query_test.go
  store/prefix/store_test.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/tx.go
  x/gov/handler_test.go
  x/ibc/02-client/abci_test.go
  x/ibc/genesis_test.go
  x/slashing/handler_test.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
Labels: automerge, client-ux, dev-ux

#7068 ibc-transfer: split params
  proto/ibc/transfer/transfer.proto
  x/ibc-transfer/keeper/params.go
  x/ibc-transfer/keeper/params_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/spec/06_params.md
  x/ibc-transfer/types/errors.go
  x/ibc-transfer/types/params.go
  x/ibc-transfer/types/params_test.go
  x/ibc-transfer/types/transfer.pb.go
Labels: x/ibc

#6973 Add cli test for query Account
  baseapp/abci.go
  testutil/network/network.go
  x/auth/client/cli/cli_test.go
  x/auth/keeper/grpc_query.go
  x/auth/types/account.go
  x/auth/types/query.go
  x/bank/client/cli/cli_test.go
  x/bank/client/testutil/cli_helpers.go
  x/crisis/client/cli/cli_test.go
  x/distribution/client/cli/cli_test.go
  x/gov/client/cli/cli_test.go
  x/mint/client/cli/cli_test.go
  x/params/client/cli/cli_test.go
  x/slashing/client/cli/cli_test.go
  x/staking/client/cli/cli_test.go
Labels: x/auth

#7070 x/bank: gRPC Params Route
  go.sum
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/slashing/v1beta1/query.proto
  x/auth/types/query.pb.gw.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
  x/distribution/types/query.pb.gw.go
  x/evidence/types/query.pb.gw.go
  x/gov/types/query.pb.gw.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/mint/types/query.pb.gw.go
  x/params/types/proposal/query.pb.gw.go
  x/slashing/types/query.pb.gw.go
  x/staking/types/query.pb.gw.go
  x/staking/types/staking.pb.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
Labels: automerge, gRPC, x/bank

#7053 Add address length validation to MsgSend and MsgMultiSend
  x/bank/keeper/keeper_test.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
Labels: automerge

#7072 testnet: fix initGenFiles
  simapp/simd/cmd/testnet.go
Labels: automerge

#6722 gRPC interface reflection.
  baseapp/grpcrouter.go
  baseapp/grpcrouter_helpers.go
  baseapp/grpcrouter_test.go
  client/grpc/reflection/reflection.go
  client/grpc/reflection/reflection.pb.go
  client/grpc/reflection/reflection_test.go
  codec/types/interface_registry.go
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  simapp/app.go
  types/module/module.go
Labels: automerge, gRPC

#7069 Fix add-genesis-account in simd
  simapp/simd/cmd/genaccounts.go
  simapp/simd/cmd/genaccounts_test.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/testutil/helpers.go
Labels: automerge

#7083 ibc: remove legacy REST endpoint support
  x/ibc-transfer/client/rest/rest.go
  x/ibc-transfer/client/rest/tx.go
  x/ibc-transfer/module.go
  x/ibc/02-client/client/rest/query.go
  x/ibc/02-client/client/rest/rest.go
  x/ibc/02-client/module.go
  x/ibc/03-connection/client/rest/query.go
  x/ibc/03-connection/client/rest/rest.go
  x/ibc/03-connection/client/rest/tx.go
  x/ibc/03-connection/module.go
  x/ibc/04-channel/client/rest/query.go
  x/ibc/04-channel/client/rest/rest.go
  x/ibc/04-channel/client/rest/tx.go
  x/ibc/04-channel/module.go
  x/ibc/07-tendermint/client/rest/rest.go
  x/ibc/07-tendermint/client/rest/tx.go
  x/ibc/07-tendermint/module.go
  x/ibc/09-localhost/client/rest/rest.go
  x/ibc/09-localhost/client/rest/tx.go
  x/ibc/09-localhost/module.go
  x/ibc/client/rest/rest.go
  x/ibc/module.go
Labels: REST, x/ibc

#7084 types: fix panic on Int.BigInt()
  CHANGELOG.md
  types/decimal.go
  types/int.go
  types/int_test.go
Labels: bug, types

#6988 Add RejectExtensionOptionsDecorator
  types/errors/errors.go
  x/auth/ante/ante.go
  x/auth/ante/ext.go
  x/auth/ante/ext_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: automerge, x/auth

#7073 fix tests build failures with go1.15
  types/coin_benchmark_test.go
Labels: backport/0.39.x (Launchpad)

#7059 Protobuf audit: base package, module packages, tx/Msg's
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/base/query/v1beta1/pagination.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/evidence/v1beta1/tx.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/params/v1beta1/params.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  types/query/pagination.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/auth/types/auth.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/bank/keeper/keeper_test.go
  x/bank/types/bank.pb.go
  x/bank/types/genesis_test.go
  x/bank/types/msgs.go
  x/bank/types/tx.pb.go
  x/crisis/types/tx.pb.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/tx.pb.go
  x/evidence/types/tx.pb.go
  x/gov/keeper/tally.go
  x/gov/simulation/genesis_test.go
  x/gov/types/genesis.go
  x/gov/types/gov.pb.go
  x/gov/types/params.go
  x/gov/types/tx.pb.go
  x/mint/types/mint.pb.go
  x/params/types/proposal/params.pb.go
  x/slashing/types/slashing.pb.go
  x/slashing/types/tx.pb.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
  x/upgrade/types/upgrade.pb.go
Labels: automerge

#7090 fix proto tools
  Makefile
  contrib/devtools/Makefile
Labels: automerge

#7104 #7028 followup
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/store.go
  x/ibc/07-tendermint/types/update.go
Labels: automerge, x/ibc

#6979 Propose ADR 027: Deterministic Protobuf Serialization
  docs/architecture/README.md
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
Labels: ADR, automerge

#7107 Send Consensus Params during EndBlock
  baseapp/abci.go
  baseapp/baseapp_test.go
Labels: automerge, baseapp

#7077 x/ibc: final gRPC migration
  go.sum
  proto/ibc/client/client.proto
  proto/ibc/client/genesis.proto
  proto/ibc/client/query.proto
  x/ibc/02-client/client/cli/cli.go
  x/ibc/02-client/client/cli/query.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/encoding.go
  x/ibc/02-client/keeper/grpc_query.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/keeper/querier.go
  x/ibc/02-client/module.go
  x/ibc/02-client/types/client.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/genesis.go
  x/ibc/02-client/types/genesis.pb.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/querier.go
  x/ibc/02-client/types/query.go
  x/ibc/02-client/types/query.pb.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/types/query.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/types/query.go
  x/ibc/24-host/parse.go
  x/ibc/genesis_test.go
  x/ibc/keeper/grpc_query.go
  x/ibc/keeper/keeper_test.go
  x/ibc/keeper/querier.go
  x/ibc/keeper/querier_test.go
  x/ibc/module.go
  x/ibc/types/query.go
Labels: automerge, gRPC, x/ibc

#7120 Migrate IBC tendermint header to proto
  Makefile
  proto/ibc/tendermint/tendermint.proto
  third_party/proto/tendermint/types/validator.proto
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/genesis_test.go
  x/ibc/testing/chain.go
Labels: x/ibc

#7121 Support Event Indexing
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/simd/cmd/root.go
  types/events.go
  types/events_test.go
Labels: baseapp

#7124 Disable amino tests
  .github/workflows/test.yml
Labels: automerge

#7057 Verify Client on Connection Handshake
  proto/ibc/connection/connection.proto
  simapp/test_helpers.go
  x/auth/types/query.pb.gw.go
  x/bank/app_test.go
  x/bank/types/query.pb.gw.go
  x/distribution/types/query.pb.gw.go
  x/evidence/types/query.pb.gw.go
  x/gov/types/query.pb.gw.go
  x/ibc-transfer/types/query.pb.gw.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/errors.go
  x/ibc/03-connection/client/cli/tx.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/handler.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/verify.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/03-connection/types/connection.pb.go
  x/ibc/03-connection/types/connection_test.go
  x/ibc/03-connection/types/expected_keepers.go
  x/ibc/03-connection/types/msgs.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/spec/04_messages.md
  x/ibc/testing/chain.go
  x/mint/types/query.pb.gw.go
  x/params/types/proposal/query.pb.gw.go
  x/slashing/app_test.go
  x/slashing/types/query.pb.gw.go
  x/staking/app_test.go
  x/staking/types/query.pb.gw.go
  x/upgrade/types/query.pb.gw.go
Labels: automerge, x/ibc

#7127 simulations: exit on fail and print error
  Makefile
Labels: simulation

#7123 ibc-transfer: sims updates
  types/simulation/rand_util.go
  x/bank/simulation/decoder.go
  x/ibc-transfer/keeper/encoding.go
  x/ibc-transfer/keeper/grpc_query.go
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/module.go
  x/ibc-transfer/simulation/decoder.go
  x/ibc-transfer/simulation/decoder_test.go
  x/ibc-transfer/simulation/genesis.go
  x/ibc-transfer/simulation/genesis_test.go
  x/ibc-transfer/simulation/params.go
  x/ibc-transfer/simulation/params_test.go
Labels: automerge, simulation, x/ibc

#7135 fix hardcoded auth sims
  CHANGELOG.md
  simapp/app.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  types/simulation/types.go
  x/auth/module.go
  x/auth/simulation/genesis.go
  x/auth/simulation/genesis_test.go
  x/bank/simulation/genesis.go
  x/simulation/simulate.go
Labels: automerge, bug, simulation, x/auth

#7035 Implement gRPC Simulate endpoint
  baseapp/grpcrouter.go
  client/grpc/reflection/reflection.pb.go
  client/grpc/reflection/reflection.pb.gw.go
  client/grpc/simulate/simulate.go
  client/grpc/simulate/simulate.pb.go
  client/grpc/simulate/simulate.pb.gw.go
  client/grpc/simulate/simulate_test.go
  client/tx_config.go
  codec/types/interface_registry.go
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  proto/cosmos/base/simulate/v1beta1/simulate.proto
  proto/cosmos/tx/v1beta1/service.proto
  simapp/app.go
  simapp/utils_test.go
  std/codec.go
  std/pubkey.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/decoder.go
  x/auth/tx/direct.go
  x/auth/tx/encoder.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/types/client_tx.go
  x/params/keeper/consensus_params.go
Labels: automerge, baseapp, simulation

#7148 Allow localhost to be created
  x/ibc/02-client/abci_test.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler_test.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis.go
Labels: automerge, genesis, x/ibc

#7145 migrate tm evidence to proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc/02-client/keeper/client_test.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
Labels: automerge, x/ibc

#7150 bump docs theme to 1.0.171
  docs/package-lock.json
  docs/package.json
Labels: docs

#7157 Final IBC migration and Amino removal
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/23-commitment/types/codec.go
  x/ibc/ibc_test.go
  x/ibc/keeper/keeper_test.go
  x/ibc/light-clients/solomachine/client/cli/tx.go
  x/ibc/light-clients/solomachine/types/evidence_test.go
  x/ibc/light-clients/solomachine/types/header_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour.go
  x/ibc/light-clients/solomachine/types/msgs.go
  x/ibc/light-clients/solomachine/types/msgs_test.go
  x/ibc/light-clients/solomachine/types/proof.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
  x/ibc/light-clients/solomachine/types/update.go
  x/ibc/light-clients/solomachine/types/update_test.go
  x/ibc/module.go
  x/ibc/simulation/genesis_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
  x/ibc/types/codec.go
Labels: encoding, x/ibc

#7019 gRPC gateway init
  client/grpc_query.go
  go.mod
  go.sum
  server/api/server.go
  server/start.go
  simapp/app.go
  tests/mocks/types_module_module.go
  testutil/rest.go
  types/module/module.go
  x/auth/module.go
  x/bank/client/rest/grpc_query_test.go
  x/bank/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/genutil/module.go
  x/gov/module.go
  x/ibc-transfer/module.go
  x/ibc/module.go
  x/mint/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/module.go
  x/upgrade/module.go
Labels: automerge, gRPC

#7159 Fix AfterImport and update black/white list variable namings
  server/export.go
  simapp/export.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/types.go
  x/simulation/simulate.go
Labels: automerge

#7162 [favicons] add favicons
  docs/.vuepress/config.js
  docs/.vuepress/public/android-chrome-192x192.png
  docs/.vuepress/public/android-chrome-256x256.png
  docs/.vuepress/public/apple-touch-icon-precomposed.png
  docs/.vuepress/public/apple-touch-icon.png
  docs/.vuepress/public/browserconfig.xml
  docs/.vuepress/public/favicon-16x16.png
  docs/.vuepress/public/favicon-32x32.png
  docs/.vuepress/public/favicon-svg.svg
  docs/.vuepress/public/mstile-150x150.png
  docs/.vuepress/public/safari-pinned-tab.svg
  docs/.vuepress/public/site.webmanifest
Labels: docs

#7161 Fix MarkEventsToIndex
  baseapp/baseapp_test.go
  types/events.go
  types/events_test.go
Labels: automerge

#7164 docs: Docs theme bump, Algolia DocSearch
  docs/.vuepress/config.js
  docs/.vuepress/public/android-chrome-192x192.png
  docs/.vuepress/public/android-chrome-256x256.png
  docs/.vuepress/public/apple-touch-icon-precomposed.png
  docs/.vuepress/public/apple-touch-icon.png
  docs/.vuepress/public/browserconfig.xml
  docs/.vuepress/public/favicon-16x16.png
  docs/.vuepress/public/favicon-32x32.png
  docs/.vuepress/public/favicon-svg.svg
  docs/.vuepress/public/mstile-150x150.png
  docs/.vuepress/public/safari-pinned-tab.svg
  docs/.vuepress/public/site.webmanifest
  docs/building-modules/simulator.md
  docs/cn/basics/accounts.md
  docs/cn/intro/sdk-design.md
Labels: automerge, docs

#7167 Fix GetValidators `status` param
  x/staking/client/rest/grpc_query_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
Labels: automerge

#7095 Fix liveness test
  .github/workflows/test.yml
  Makefile
  contrib/localnet_liveness.sh
  docker-compose.yml
Labels: automerge

#7170 Fix AcknowledgePacket and AcknowledgementExecuted bug + update testing pkg
  go.mod
  go.sum
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/handler_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/solomachine.go
  x/ibc/testing/types.go
Labels: automerge, bug, tests, x/ibc

#7151 Rename Evidence to Misbehaviour in IBC
  client/grpc/reflection/reflection.pb.go
  client/grpc/reflection/reflection.pb.gw.go
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/types/errors.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/evidence.go
  x/ibc/07-tendermint/types/evidence_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_handle.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/light-clients/solomachine/client/cli/tx.go
  x/ibc/light-clients/solomachine/types/evidence.go
  x/ibc/light-clients/solomachine/types/evidence_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/solomachine/types/msgs.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
  x/ibc/spec/01_concepts.md
  x/ibc/testing/solomachine.go
Labels: automerge, x/ibc

#7049 fix keys add interactive
  client/keys/add.go
Labels: automerge

#7181 Fix setting NextSequenceAck
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
Labels: automerge, bug, x/ibc

#7182 deps: bump iavl
  go.mod
  go.sum
Labels: automerge, dependencies

#7102 Update tm pubkey references
  client/keys/show_test.go
  crypto/armor_test.go
  crypto/codec/amino.go
  crypto/hd/algo.go
  crypto/hd/fundraiser_test.go
  crypto/keyring/keyring_test.go
  crypto/keyring/output_test.go
  crypto/keyring/types_test.go
  crypto/keys/ed25519/bench_test.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/ed25519/ed25519_test.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_cgo.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/keys/sr25519/bench_test.go
  crypto/keys/sr25519/encoding.go
  crypto/keys/sr25519/privkey.go
  crypto/keys/sr25519/pubkey.go
  crypto/keys/sr25519/sr25519_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_secp256k1.go
  crypto/types/multisig/codec.go
  crypto/types/multisig/threshold_pubkey_test.go
  go.sum
  simapp/genesis_account_test.go
  simapp/state.go
  std/pubkey.go
  std/pubkey_test.go
  tests/mocks/account_retriever.go
  tests/mocks/types_module_module.go
  testutil/testdata/test_tx.go
  types/address_bench_test.go
  types/address_test.go
  types/context_test.go
  types/rest/rest_test.go
  types/simulation/account.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/client/tx_test.go
  x/auth/signing/handler_map_test.go
  x/auth/types/account_test.go
  x/auth/types/amino_signing_test.go
  x/auth/vesting/types/test_common.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/app_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/legacy/v0_36/migrate_test.go
  x/evidence/types/msgs_test.go
  x/genaccounts/legacy/v0_36/migrate_test.go
  x/genutil/gentx_test.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/testing/chain.go
  x/slashing/app_test.go
  x/staking/client/cli/cli_test.go
  x/staking/common_test.go
  x/staking/handler_test.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: automerge, crypto

#7183 Add key recover test
  client/keys/add_test.go
Labels: automerge, tests

#7191 Fix Legacy API Server Client Context
  server/api/server.go
  server/start.go
Labels: API, automerge

#7075 Add swagger for gRPC REST
  Makefile
  client/grpc-gateway/config.json
  client/grpc-gateway/statik/statik.go
  client/grpc-gateway/swagger.json
  contrib/devtools/Makefile
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
  x/gov/simulation/genesis_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/types/staking.pb.go
Labels: REST, automerge, docs, gRPC

#7140 Fix ApproxRoot Infinite Looping
  CHANGELOG.md
  types/decimal.go
  types/decimal_test.go
Labels: backport/0.39.x (Launchpad)

#7196 Remove Evidence handler from IBC
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/tendermint/tendermint.proto
  simapp/app.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/handler.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_handle.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/handler.go
  x/ibc/light-clients/solomachine/types/misbehaviour.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/solomachine/types/msgs.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
Labels: automerge, x/ibc

#7198 crypto: fix keys's internal package import path
  crypto/keys/secp256k1/secp256k1_cgo.go
  go.mod
Labels: automerge

#7189 Fix Localnet
  .github/workflows/test.yml
  Makefile
  contrib/images/Makefile
  contrib/images/simd-env/Dockerfile
  contrib/images/simd-env/wrapper.sh
  contrib/localnet_liveness.sh
  docker-compose.yml
Labels: automerge

#7187 Add a mock application module to test core IBC
  docs/ibc/overview.md
  simapp/app.go
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/module.go
  x/ibc/03-connection/keeper/grpc_query_test.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/05-port/types/utils.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/store_test.go
  x/ibc/genesis_test.go
  x/ibc/handler_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
  x/ibc/testing/mock/README.md
  x/ibc/testing/mock/doc.go
  x/ibc/testing/mock/mock.go
Labels: automerge, tests, x/ibc

#7206 Rename PacketExecuted to ReceiveExecuted
  x/ibc-transfer/keeper/keeper.go
  x/ibc-transfer/types/expected_keepers.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/handler.go
  x/ibc/handler_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
Labels: automerge, dev-ux, x/ibc

#7184 Make clients use proto Height
  proto/ibc/client/client.proto
  proto/ibc/localhost/localhost.proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/simulation/decoder_test.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/height.go
  x/ibc/02-client/types/height_test.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/03-connection/types/connection_test.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/consensus_state_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_handle.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/localhost.pb.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/genesis_test.go
  x/ibc/ibc_test.go
  x/ibc/simulation/decoder_test.go
  x/ibc/testing/chain.go
  x/staking/types/staking.pb.go
Labels: automerge, x/ibc
