Repository cosmos/cosmos-sdk, pull requests merged in 2020-09, with the labels that each got.

#7212 Quick Fix to tendermint MsgCreateClient
  proto/ibc/tendermint/tendermint.proto
  x/ibc/07-tendermint/types/tendermint.pb.go
Labels: automerge

#7160 ibc: modular client messages
  proto/ibc/client/client.proto
  types/errors/errors.go
  x/ibc/02-client/exported/exported.go
  x/ibc/02-client/exported/exported_test.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/handler_test.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/codec.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/07-tendermint/client/cli/tx.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/msgs.go
  x/ibc/07-tendermint/types/msgs_test.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/09-localhost/client/cli/cli.go
  x/ibc/09-localhost/client/cli/tx.go
  x/ibc/09-localhost/module.go
  x/ibc/09-localhost/types/codec.go
  x/ibc/09-localhost/types/msgs.go
  x/ibc/client/cli/cli.go
  x/ibc/handler.go
  x/ibc/light-clients/solomachine/client/cli/tx.go
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/codec.go
  x/ibc/light-clients/solomachine/types/misbehaviour.go
  x/ibc/light-clients/solomachine/types/msgs.go
  x/ibc/light-clients/solomachine/types/msgs_test.go
  x/ibc/spec/04_messages.md
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#7217 Fix 02-client message marshal and unmarshal issues
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/07-tendermint/types/codec.go
Labels: automerge, encoding, x/ibc

#7218 remove old client messages
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  proto/ibc/localhost/localhost.proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/09-localhost/types/localhost.pb.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
Labels: automerge, code-hygiene, x/ibc

#7219 ibc: remove GetChainID
  x/ibc/02-client/exported/exported.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/light-clients/solomachine/types/client_state.go
Labels: automerge, x/ibc

#7210 Ensure IBC Proto Registration
  baseapp/abci.go
  baseapp/grpcrouter.go
  client/grpc/simulate/simulate.go
  client/tx/tx.go
  client/tx/tx_test.go
  x/ibc/02-client/types/codec.go
  x/ibc/03-connection/types/codec.go
  x/ibc/04-channel/types/codec.go
  x/ibc/07-tendermint/types/codec.go
  x/ibc/09-localhost/types/localhost_test.go
Labels: automerge

#7207 Fix "auto" Gas
  client/tx/tx.go
  client/tx/tx_test.go
Labels: automerge, simulation

#7228 Fix query validator UBDs in gRPC client
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
Labels: automerge, bug, gRPC

#7225 unknownproto: recognize packed and repeated primitive types
  codec/unknownproto/unknown_fields.go
  codec/unknownproto/unknown_fields_test.go
  testutil/testdata/proto.pb.go
  testutil/testdata/proto.proto
Labels: automerge

#6550 Remove GetSignatures from SigVerifiableTx
  client/testutil/suite.go
  client/tx/tx_test.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/client/cli/cli_test.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/tx/builder.go
Labels: automerge, x/auth

#7089 Add height in exported genesis
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  server/export.go
  server/export_test.go
  server/mock/store.go
  server/types/app.go
  simapp/app.go
  simapp/app_test.go
  simapp/export.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  simapp/types.go
  simapp/utils.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
  testutil/network/network.go
  x/auth/ante/sigverify.go
Labels: automerge

#7231 Remove duplicate tests in unknownproto
  codec/unknownproto/unknown_fields_test.go
Labels: automerge, code-hygiene

#7173 Register gRPC Gateway routes
  x/auth/module.go
  x/bank/client/rest/grpc_query_test.go
  x/bank/module.go
  x/distribution/client/rest/grpc_query_test.go
  x/distribution/module.go
  x/evidence/module.go
  x/ibc-transfer/module.go
  x/ibc/module.go
  x/upgrade/module.go
Labels: automerge

#7235 7211 followup
  x/ibc/02-client/client/utils/utils.go
  x/ibc/07-tendermint/types/misbehaviour_handle.go
Labels: automerge, x/ibc

#7204 Adds grpc tests for x/staking
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/testutil/test_helpers.go
Labels: automerge

#7223 Register grpc routes for x/{slashing, params}
  x/params/client/rest/grpc_query_test.go
  x/params/module.go
  x/slashing/client/rest/grpc_query_test.go
  x/slashing/module.go
Labels: automerge

#7214 Register `x/mint` gRPC gateway routes
  x/mint/client/rest/grpc_query_test.go
  x/mint/module.go
Labels: REST, automerge, gRPC

#7234 Add `SkipSequenceCheck` flag in SignatureV2 for Amino signatures
  client/testutil/suite.go
  types/tx/signing/signature.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/types/stdtx.go
Labels: automerge

#7237 x/ibc: solo machine signature format
  client/grpc-gateway/swagger.json
  client/grpc/reflection/reflection.pb.gw.go
  client/grpc/simulate/simulate.pb.gw.go
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/auth/types/query.pb.gw.go
  x/bank/types/query.pb.gw.go
  x/distribution/types/query.pb.gw.go
  x/evidence/types/query.pb.gw.go
  x/gov/types/query.pb.gw.go
  x/ibc-transfer/types/query.pb.gw.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/02-client/types/proposal_test.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/consensus_state.go
  x/ibc/light-clients/solomachine/types/consensus_state_test.go
  x/ibc/light-clients/solomachine/types/header.go
  x/ibc/light-clients/solomachine/types/header_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/solomachine/types/proof.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
  x/ibc/light-clients/solomachine/types/solomachine_test.go
  x/ibc/light-clients/solomachine/types/update.go
  x/ibc/light-clients/solomachine/types/update_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
  x/mint/types/query.pb.gw.go
  x/params/types/proposal/query.pb.gw.go
  x/slashing/types/query.pb.gw.go
  x/staking/types/query.pb.gw.go
  x/upgrade/types/query.pb.gw.go
Labels: automerge, x/ibc

#7244 Migrate missing `x/distribution` CLI queries to proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/cli/utils.go
  x/distribution/types/distribution.pb.go
  x/staking/types/staking.pb.go
Labels: automerge, x/distribution

#7250 Abstract Tendermint ABCI proof queries for IBC into a single function
  x/ibc/02-client/client/utils/utils.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/client/query.go
Labels: automerge, dev-ux, x/ibc

#7252 x/ibc - UnpackInterfaces for connection msgs
  x/ibc/03-connection/types/msgs.go
Labels: automerge

#7241 x/ibc: mock own privValidator rather than relying on the one from tendermint
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/ibc_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/mock/privval.go
  x/ibc/testing/mock/privval_test.go
Labels: automerge, x/ibc

#7166 Add state sync support
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/store/v1beta1/snapshot.proto
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/start.go
  simapp/simd/cmd/root.go
  snapshots/helpers_test.go
  snapshots/manager.go
  snapshots/manager_test.go
  snapshots/store.go
  snapshots/store_test.go
  snapshots/types/convert.go
  snapshots/types/errors.go
  snapshots/types/format.go
  snapshots/types/snapshot.pb.go
  snapshots/types/snapshotter.go
  snapshots/util.go
  snapshots/util_test.go
  store/iavl/store.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/snapshot.pb.go
  store/types/store.go
  types/errors/errors.go
Labels: ABCI, automerge, baseapp

#6992 Enforce ICS 20 (transfer) to only use UNORDERED channels
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/module.go
  x/ibc-transfer/module_test.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
Labels: automerge, x/ibc

#7209 Create Vesting Account Message
  CHANGELOG.md
  proto/cosmos/vesting/v1beta1/tx.proto
  simapp/app.go
  simapp/simd/cmd/root.go
  types/module/module.go
  x/auth/vesting/client/cli/cli_test.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/handler.go
  x/auth/vesting/handler_test.go
  x/auth/vesting/module.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/constants.go
  x/auth/vesting/types/expected_keepers.go
  x/auth/vesting/types/msgs.go
  x/auth/vesting/types/tx.pb.go
  x/bank/client/cli/cli_test.go
  x/bank/client/testutil/cli_helpers.go
  x/bank/handler.go
  x/upgrade/module.go
Labels: x/auth

#7251 Cleanup of evidence types
  CHANGELOG.md
  Makefile
  baseapp/params.go
  baseapp/params_test.go
  codec/amino.go
  go.mod
  go.sum
  server/export.go
  server/util.go
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/params.proto
  third_party/proto/tendermint/types/types.proto
  x/evidence/abci.go
  x/evidence/keeper/infraction.go
  x/evidence/keeper/infraction_test.go
  x/evidence/types/evidence.go
  x/simulation/mock_tendermint.go
Labels: x/evidence

#7266 Add proto formatting tool
  .clang-format
  Makefile
  contrib/devtools/Makefile
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/auth/v1beta1/genesis.proto
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/genesis.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/base/crypto/v1beta1/crypto.proto
  proto/cosmos/base/query/v1beta1/pagination.proto
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  proto/cosmos/base/simulate/v1beta1/simulate.proto
  proto/cosmos/base/store/v1beta1/commit_info.proto
  proto/cosmos/capability/v1beta1/capability.proto
  proto/cosmos/capability/v1beta1/genesis.proto
  proto/cosmos/crisis/v1beta1/genesis.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/distribution/v1beta1/genesis.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/evidence/v1beta1/query.proto
  proto/cosmos/evidence/v1beta1/tx.proto
  proto/cosmos/genutil/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/mint/v1beta1/genesis.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/params/v1beta1/params.proto
  proto/cosmos/params/v1beta1/query.proto
  proto/cosmos/slashing/v1beta1/genesis.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  proto/cosmos/staking/v1beta1/genesis.proto
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  proto/ibc/channel/channel.proto
  proto/ibc/channel/genesis.proto
  proto/ibc/channel/query.proto
  proto/ibc/client/client.proto
  proto/ibc/client/query.proto
  proto/ibc/commitment/commitment.proto
  proto/ibc/connection/connection.proto
  proto/ibc/connection/genesis.proto
  proto/ibc/connection/query.proto
  proto/ibc/tendermint/tendermint.proto
  proto/ibc/transfer/genesis.proto
  proto/ibc/transfer/query.proto
  proto/ibc/transfer/transfer.proto
  proto/ibc/types/genesis.proto
  testutil/testdata/proto.proto
Labels: automerge, tooling

#7269 Robert/evidence v40 handling
  x/evidence/types/evidence.go
Labels: automerge, dev-ux

#7263 Add standard acknowledgement to channels and apply usage in ibc transfer
  docs/ibc/custom.md
  proto/ibc/channel/channel.proto
  proto/ibc/transfer/transfer.proto
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/keeper/relay_test.go
  x/ibc-transfer/module.go
  x/ibc-transfer/spec/01_concepts.md
  x/ibc-transfer/spec/05_events.md
  x/ibc-transfer/types/events.go
  x/ibc-transfer/types/packet.go
  x/ibc-transfer/types/transfer.pb.go
  x/ibc/04-channel/types/channel.go
  x/ibc/04-channel/types/channel.pb.go
  x/ibc/04-channel/types/channel_test.go
  x/ibc/04-channel/types/msgs_test.go
Labels: automerge, x/ibc

#7271 Move solo machine sequence to client state
  client/grpc/reflection/reflection.pb.gw.go
  client/grpc/simulate/simulate.pb.gw.go
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  x/auth/types/query.pb.gw.go
  x/bank/types/query.pb.gw.go
  x/distribution/types/query.pb.gw.go
  x/evidence/types/query.pb.gw.go
  x/gov/types/query.pb.gw.go
  x/ibc-transfer/types/query.pb.gw.go
  x/ibc/02-client/types/query.pb.gw.go
  x/ibc/03-connection/types/query.pb.gw.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/light-clients/solomachine/client/cli/tx.go
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/consensus_state.go
  x/ibc/light-clients/solomachine/types/consensus_state_test.go
  x/ibc/light-clients/solomachine/types/proposal_handle.go
  x/ibc/light-clients/solomachine/types/proposal_handle_test.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
  x/ibc/light-clients/solomachine/types/update.go
  x/ibc/light-clients/solomachine/types/update_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
  x/mint/types/query.pb.gw.go
  x/params/types/proposal/query.pb.gw.go
  x/slashing/types/query.pb.gw.go
  x/staking/types/query.pb.gw.go
  x/staking/types/staking.pb.go
  x/upgrade/types/query.pb.gw.go
Labels: x/ibc

#7270 Add ZeroHeight helper func
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/height.go
  x/ibc/02-client/types/height_test.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/msgs_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/proposal_handle.go
  x/ibc/07-tendermint/types/proposal_handle_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/client_state_test.go
  x/ibc/genesis_test.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
Labels: automerge, code-hygiene, x/ibc

#6994 Migrate {x/auth, x/gov, x/staking} missing CLI queries to proto
  client/grpc/simulate/simulate_test.go
  client/tx/legacy.go
  client/tx/legacy_test.go
  client/tx/tx.go
  client/tx/tx_test.go
  client/tx_config.go
  codec/types/any.go
  codec/types/compat.go
  proto/cosmos/base/abci/v1beta1/abci.proto
  std/codec.go
  types/abci.pb.go
  types/codec.go
  types/result.go
  types/result_test.go
  types/tx/types.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/query.go
  x/auth/client/query.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/encoder.go
  x/auth/types/client_tx.go
  x/auth/types/stdtx.go
  x/gov/client/utils/query_test.go
  x/ibc/02-client/client/cli/query.go
  x/ibc/04-channel/client/cli/query.go
Labels: CLI, automerge

#7278 client: fix validator's command pagination default page
  client/rpc/validators.go
Labels: automerge, bug

#7275 cosmovisor: various small improvements
  .github/workflows/test.yml
  Makefile
  cosmovisor/Makefile
  cosmovisor/args.go
  cosmovisor/cmd/cosmovisor/main.go
  cosmovisor/go.mod
  cosmovisor/go.sum
  cosmovisor/process.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
Labels: automerge

#7208 Return app_hash in InitChain
  baseapp/abci.go
  baseapp/baseapp_test.go
Labels: automerge

#7220 ADR-027: Make rules more precise
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
Labels: automerge

#7111 Add staking CLI tests
  x/staking/client/cli/cli_test.go
Labels: automerge

#7094 Add x/auth cli tests
  client/flags/flags.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/query.go
Labels: CLI, tests, x/auth

#7299 test: fix data race in snapshots.ChunkReader test
  baseapp/baseapp_test.go
  snapshots/util_test.go
Labels: automerge, tests

#7265 Tendermint Block Pruning
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/start.go
  simapp/simd/cmd/root.go
  store/iavl/store.go
  store/mem/store.go
  store/rootmulti/dbadapter.go
  store/transient/store.go
  store/types/store.go
Labels: baseapp, tendermint

#7274 Remove GetHeight from ConsensusState
  proto/ibc/client/client.proto
  proto/ibc/client/query.proto
  proto/ibc/tendermint/tendermint.proto
  x/ibc-transfer/client/cli/tx.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/grpc_query.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/simulation/decoder_test.go
  x/ibc/02-client/types/client.go
  x/ibc/02-client/types/client.pb.go
  x/ibc/02-client/types/client_test.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/genesis.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/height.go
  x/ibc/02-client/types/height_test.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/02-client/types/proposal_test.go
  x/ibc/02-client/types/query.pb.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/grpc_query.go
  x/ibc/03-connection/keeper/grpc_query_test.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/03-connection/types/msgs_test.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/types/channel.pb.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/consensus_state_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/tendermint.pb.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/exported/client.go
  x/ibc/genesis_test.go
  x/ibc/light-clients/solomachine/types/consensus_state.go
  x/ibc/light-clients/solomachine/types/consensus_state_test.go
Labels: automerge, x/ibc

#7230 feat: allow "any" to specify a "binary" with no arch/os dependencies
  cosmovisor/README.md
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
Labels: automerge

#7297 Remove UNINITIALIZED usage from connection and channel
  proto/cosmos/base/abci/v1beta1/abci.proto
  types/abci.pb.go
  x/ibc/02-client/client/utils/utils.go
  x/ibc/03-connection/client/utils/utils.go
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/04-channel/keeper/handshake.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/packet.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/types/errors.go
Labels: automerge, x/ibc

#7302 Quick fixes for IBC
  x/ibc/02-client/client/utils/utils.go
  x/ibc/03-connection/client/utils/utils.go
Labels: automerge

#7282 Uncomment and fix tests in ibc-transfer
  x/ibc-transfer/keeper/grpc_query.go
  x/ibc-transfer/keeper/relay.go
  x/ibc-transfer/keeper/relay_test.go
  x/ibc-transfer/types/coin.go
  x/ibc-transfer/types/trace.go
Labels: automerge, tests, x/ibc

#7280 Retrieve Epoch from ChainID
  x/ibc/02-client/client/utils/utils.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/height.go
  x/ibc/02-client/types/height_test.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/04-channel/client/utils/utils.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/misbehaviour_handle.go
  x/ibc/07-tendermint/types/misbehaviour_handle_test.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/tendermint_test.go
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/07-tendermint/types/update_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/client/query.go
  x/ibc/ibc_test.go
  x/ibc/spec/01_concepts.md
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#7323 ci: fix
  .github/workflows/test.yml
Labels: CI

#7313 Removing an incomplete sentence.
  docs/building-modules/simulator.md
Labels: automerge

#7321 Add changelog entry for 0.39.1
  CHANGELOG.md
Labels: automerge

#7309 pipe go test -race output into tparse
  .github/workflows/test.yml
Labels: automerge

#7325 refresh .gitignore
  .gitignore
Labels: automerge

#7147 PubKey proto types
  codec/codec.go
  crypto/codec/amino.go
  crypto/hd/algo.go
  crypto/hd/fundraiser_test.go
  crypto/keyring/types_test.go
  crypto/keys/multisig/keys.pb.go
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
  crypto/keys/secp256k1/bench_test.go
  crypto/keys/secp256k1/keys.pb.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_cgo.go
  crypto/keys/secp256k1/secp256k1_cgo_test.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_secp256k1.go
  crypto/types/multisig/codec.go
  crypto/types/multisig/threshold_pubkey.go
  crypto/types/multisig/threshold_pubkey_test.go
  crypto/types/types.go
  proto/cosmos/crypto/multisig/keys.proto
  proto/cosmos/crypto/secp256k1/keys.proto
  std/pubkey.go
  x/auth/ante/sigverify.go
  x/staking/types/staking.pb.go
Labels: automerge

#7327 remove resulting value return from AddCoins and SubtractCoins
  CHANGELOG.md
  simapp/test_helpers.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/evidence/keeper/keeper_test.go
  x/ibc-transfer/keeper/relay_test.go
Labels: bug, x/bank

#7285 Fix sequence number handling for LegacyAmino > SignatureV2
  types/tx/signing/signature.go
  x/auth/ante/sigverify.go
  x/auth/client/rest/rest_test.go
  x/auth/testutil/suite.go
  x/auth/types/stdtx.go
Labels: automerge

#7316 custom commands for gentx and collect-gentxs
  simapp/simd/cmd/root.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
Labels: automerge

#7284 Remove old PubKeyMultisigThreshold
  client/keys/add.go
  client/keys/show.go
  client/keys/show_test.go
  crypto/codec/amino.go
  crypto/keyring/info.go
  crypto/keyring/keyring_test.go
  crypto/keyring/output_test.go
  crypto/keys/multisig/codec.go
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
  crypto/types/multisig/codec.go
  crypto/types/multisig/threshold_pubkey.go
  crypto/types/multisig/threshold_pubkey_test.go
  std/pubkey.go
  std/pubkey_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/sigverify_test.go
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/signing/verify_test.go
  x/auth/testutil/suite.go
  x/auth/types/stdtx.go
  x/auth/types/stdtx_test.go
Labels: automerge

#7320 Fix QueryUnreceivedPackets/Acks
  client/grpc-gateway/swagger.json
  proto/ibc/channel/query.proto
  x/ibc/04-channel/client/cli/cli.go
  x/ibc/04-channel/client/cli/query.go
  x/ibc/04-channel/keeper/grpc_query.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/types/query.pb.go
  x/ibc/04-channel/types/query.pb.gw.go
  x/ibc/keeper/grpc_query.go
  x/staking/types/staking.pb.go
Labels: automerge

#7216 Registers grpc routes for `x/gov`
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/testutil/helpers.go
  x/gov/module.go
Labels: automerge, x/gov

#7128 Adds x/gov missing cli tests
  x/gov/client/cli/cli_test.go
  x/gov/client/cli/query.go
Labels: automerge

#7246 Register swagger API
  Makefile
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
  client/grpc-gateway/statik/statik.go
  client/grpc-gateway/swagger.json
  scripts/protoc-swagger-gen.sh
  server/api/server.go
  server/config/config.go
  server/start.go
  server/types/app.go
  simapp/app.go
  testutil/network/util.go
Labels: API, automerge, docs

#7354 Fix TestMsgCreateVestingAccount
  x/auth/vesting/handler_test.go
Labels: automerge

#7276 Proto Tx with Any
  baseapp/grpcrouter.go
  baseapp/grpcrouter_test.go
  client/grpc/simulate/simulate.go
  client/grpc/simulate/simulate_test.go
  client/tx/legacy_test.go
  client/tx/tx.go
  crypto/codec/proto.go
  crypto/types/codec.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  simapp/app.go
  simapp/params/proto.go
  std/codec.go
  std/pubkey.go
  std/pubkey_test.go
  types/tx/signing/signature.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  types/tx/types.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/query.go
  x/auth/client/rest/rest_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/config_test.go
  x/auth/tx/decoder.go
  x/auth/tx/direct_test.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/sigs.go
  x/ibc/light-clients/solomachine/types/consensus_state.go
  x/ibc/light-clients/solomachine/types/header.go
  x/ibc/light-clients/solomachine/types/solomachine.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
  x/ibc/light-clients/solomachine/types/solomachine_test.go
  x/ibc/light-clients/solomachine/types/update_test.go
  x/ibc/testing/solomachine.go
Labels: automerge

#7328 connection handshake updates for versioning
  x/ibc/03-connection/keeper/handshake.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/types/version.go
  x/ibc/03-connection/types/version_test.go
Labels: automerge, x/ibc

#7336 remove client type from 02-client
  x/ibc-transfer/handler_test.go
  x/ibc-transfer/keeper/relay_test.go
  x/ibc-transfer/module_test.go
  x/ibc/02-client/abci.go
  x/ibc/02-client/abci_test.go
  x/ibc/02-client/genesis.go
  x/ibc/02-client/handler.go
  x/ibc/02-client/handler_test.go
  x/ibc/02-client/keeper/client.go
  x/ibc/02-client/keeper/client_test.go
  x/ibc/02-client/keeper/grpc_query_test.go
  x/ibc/02-client/keeper/keeper.go
  x/ibc/02-client/keeper/keeper_test.go
  x/ibc/02-client/keeper/proposal.go
  x/ibc/02-client/keeper/proposal_test.go
  x/ibc/02-client/simulation/decoder_test.go
  x/ibc/02-client/types/client_test.go
  x/ibc/02-client/types/genesis_test.go
  x/ibc/02-client/types/msgs.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/03-connection/keeper/grpc_query_test.go
  x/ibc/03-connection/keeper/handshake_test.go
  x/ibc/03-connection/keeper/keeper_test.go
  x/ibc/03-connection/keeper/verify_test.go
  x/ibc/04-channel/keeper/grpc_query_test.go
  x/ibc/04-channel/keeper/handshake_test.go
  x/ibc/04-channel/keeper/keeper_test.go
  x/ibc/04-channel/keeper/packet_test.go
  x/ibc/04-channel/keeper/timeout_test.go
  x/ibc/07-tendermint/types/client_state.go
  x/ibc/07-tendermint/types/client_state_test.go
  x/ibc/07-tendermint/types/consensus_state.go
  x/ibc/07-tendermint/types/consensus_state_test.go
  x/ibc/07-tendermint/types/header.go
  x/ibc/07-tendermint/types/header_test.go
  x/ibc/07-tendermint/types/misbehaviour.go
  x/ibc/07-tendermint/types/misbehaviour_test.go
  x/ibc/07-tendermint/types/proposal_handle_test.go
  x/ibc/09-localhost/types/client_state.go
  x/ibc/09-localhost/types/localhost_test.go
  x/ibc/exported/client.go
  x/ibc/exported/client_test.go
  x/ibc/genesis_test.go
  x/ibc/handler_test.go
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/consensus_state.go
  x/ibc/light-clients/solomachine/types/consensus_state_test.go
  x/ibc/light-clients/solomachine/types/header.go
  x/ibc/light-clients/solomachine/types/header_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour.go
  x/ibc/light-clients/solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/solomachine/types/solomachine_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/coordinator.go
Labels: automerge, code-hygiene, x/ibc

#7301 Robert/move amino stdtx
  client/tx/legacy.go
  client/tx/legacy_test.go
  crypto/keys/multisig/multisig_test.go
  simapp/params/amino.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/fee.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/client/rest/broadcast.go
  x/auth/client/rest/decode.go
  x/auth/client/rest/encode.go
  x/auth/client/rest/rest_test.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
  x/auth/legacy/legacytx/amino_signing.go
  x/auth/legacy/legacytx/amino_signing_test.go
  x/auth/legacy/legacytx/codec.go
  x/auth/legacy/legacytx/config_test.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/legacy/legacytx/stdsignmsg.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/legacy/legacytx/stdtx_builder.go
  x/auth/legacy/legacytx/stdtx_test.go
  x/auth/signing/handler_map_test.go
  x/auth/signing/verify_test.go
  x/auth/testutil/suite.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/types/amino_signing.go
  x/auth/types/codec.go
  x/auth/types/stdtx.go
  x/bank/client/rest/tx_test.go
Labels: automerge, x/auth

#7360 Fix KVStoreReversePrefixIteratorPaginated Wrapper
  types/store.go
Labels: automerge

#7366 Update tendermint version
  go.mod
  go.sum
  x/ibc/07-tendermint/types/test_utils.go
  x/ibc/07-tendermint/types/update.go
  x/ibc/testing/chain.go
Labels: automerge, x/ibc

#7376 tm: update to latest
  client/broadcast.go
  client/broadcast_test.go
  client/query.go
  client/rpc/block.go
  client/rpc/status.go
  client/rpc/validators.go
  go.mod
  go.sum
  testutil/network/network.go
  x/auth/client/query.go
  x/genutil/client/rest/query.go
  x/gov/client/utils/query_test.go
  x/ibc/02-client/client/utils/utils.go
  x/upgrade/client/cli/query.go
Labels: automerge, tendermint

#7372 fix solo machine proposal update handling
  x/ibc/light-clients/solomachine/types/proposal_handle.go
  x/ibc/light-clients/solomachine/types/proposal_handle_test.go
Labels: automerge, bug, x/ibc

#7374 Fix sawgger gen output dir
  Makefile
  client/docs/config.json
  scripts/protoc-swagger-gen.sh
Labels: automerge, docs, gRPC

#7260 Makefile: drop gofmt in favor of golangci-lint
  Makefile
  x/staking/types/data_test.go
Labels: automerge, dev-ux, tooling

#7232 adr-27: adding
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
Labels: ADR, automerge, docs

#7337 Update QueryTendermint to take in tendermint height
  x/ibc/client/query.go
Labels: automerge, dev-ux, x/ibc

#7377 Fix multisig PubKey VerifyMultisignature
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
  x/auth/signing/verify_test.go
Labels: automerge, bug

#7386 Update tendermint to v0.34.0-rc4
  go.mod
  go.sum
Labels: dependencies, tendermint

#7348 Remove zero coins from ParseCoins and ParseDecCoins
  go.sum
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
Labels: automerge

#7389 remove amino from x/capability
  x/capability/module.go
  x/capability/types/codec.go
Labels: automerge

#7392 Add solo machine timestamp check
  x/ibc/light-clients/solomachine/types/update.go
  x/ibc/light-clients/solomachine/types/update_test.go
Labels: automerge, x/ibc

#7397 Update 99designs/keyring to v1.1.6 for go 1.15
  go.mod
  go.sum
Labels: backport/0.39.x (Launchpad)

#7379 Followup suggestions from ADR-027 updates (#7232)
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
Labels: automerge

#7383 Add multisig support + tests to solo machine
  x/ibc/02-client/types/client_test.go
  x/ibc/02-client/types/codec_test.go
  x/ibc/02-client/types/msgs_test.go
  x/ibc/02-client/types/proposal_test.go
  x/ibc/light-clients/solomachine/spec/01_concepts.md
  x/ibc/light-clients/solomachine/spec/README.md
  x/ibc/light-clients/solomachine/types/client_state.go
  x/ibc/light-clients/solomachine/types/client_state_test.go
  x/ibc/light-clients/solomachine/types/codec.go
  x/ibc/light-clients/solomachine/types/consensus_state_test.go
  x/ibc/light-clients/solomachine/types/header_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle.go
  x/ibc/light-clients/solomachine/types/misbehaviour_handle_test.go
  x/ibc/light-clients/solomachine/types/misbehaviour_test.go
  x/ibc/light-clients/solomachine/types/proof.go
  x/ibc/light-clients/solomachine/types/proposal_handle_test.go
  x/ibc/light-clients/solomachine/types/solomachine_test.go
  x/ibc/light-clients/solomachine/types/update.go
  x/ibc/light-clients/solomachine/types/update_test.go
  x/ibc/testing/chain.go
  x/ibc/testing/solomachine.go
Labels: automerge, keys, x/ibc

#7404 Update SPEC-SPEC & documentation for x/{bank,evidence}
  docs/spec/SPEC-SPEC.md
  x/bank/spec/01_state.md
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/spec/04_events.md
  x/bank/spec/05_params.md
  x/bank/spec/README.md
  x/evidence/spec/01_concepts.md
  x/evidence/spec/02_state.md
  x/evidence/spec/03_messages.md
  x/evidence/spec/04_events.md
  x/evidence/spec/05_params.md
  x/evidence/spec/06_begin_block.md
  x/evidence/spec/README.md
Labels: spec

#7402 ci: fix docker deployment
  .github/workflows/docker.yml
Labels: CI, automerge

#7390 Remove the old message PublicKey proto oneof
  crypto/keys/multisig/multisig_test.go
  crypto/types/crypto.pb.go
  crypto/types/multisig.pb.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  proto/cosmos/base/crypto/v1beta1/crypto.proto
  proto/cosmos/crypto/multisig/v1beta1/multisig.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  proto/ibc/lightclients/solomachine/v1/solomachine.proto
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/ibc/light-clients/solomachine/types/solomachine.pb.go
  x/staking/types/staking.pb.go
Labels: automerge

#7384 Add fee payer to protobuf definition
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/tx.pb.go
  types/tx/types.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: automerge, x/auth

#7412 Update launchpad docs to build without failing
  docs/.vuepress/config.js
  docs/package-lock.json
  docs/package.json
  package-lock.json
Labels: automerge

#7413 Add versioned docs to build-docs task
  Makefile
  docs/versions
Labels: automerge

#7420 Fix comment bug in make build-docs
  Makefile
Labels: automerge
