Repository cosmos/cosmos-sdk, pull requests merged in 2021-06, with the labels that each got.

#9430 fix: documentaiton typos
  x/bank/legacy/v043/store.go
  x/distribution/legacy/v043/store.go
  x/gov/legacy/v043/store.go
  x/slashing/legacy/v043/store.go
Labels: C:x/bank, C:x/distribution, C:x/gov, C:x/slashing, automerge

#9422 fix: typo in ValidateGenesis error message
  x/slashing/types/genesis.go
Labels: C:x/slashing, Type: Code Hygiene, automerge

#9423 fix: Staking delegations should return empty list instead of rpc error when no records found
  CHANGELOG.md
  x/staking/client/rest/grpc_query_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
Labels: C:CLI, C:x/staking, automerge

#9428 fix: Bank module init genesis optimization
  CHANGELOG.md
  x/bank/keeper/genesis.go
  x/bank/keeper/send.go
Labels: C:x/bank, automerge, backport/0.42.x (Stargate)

#9436 fix: note flag description
  client/flags/flags.go
Labels: C:CLI, automerge

#9403 feat: add `RefundGas` function to `GasMeter`
  CHANGELOG.md
  store/types/gas.go
  store/types/gas_test.go
Labels: automerge, backport/0.42.x (Stargate)

#9288 fix: x/gov deposits querier (Initial Deposit)
  CHANGELOG.md
  x/gov/client/cli/query.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/deposits.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/query.go
Labels: C:CLI, C:x/gov, Status: Backlog, automerge, backport/0.42.x (Stargate)

#9454 fix: Fix testnet command
  CHANGELOG.md
  simapp/simd/cmd/testnet.go
  types/coin.go
Labels: automerge

#9452 docs: Fix simulation docs link
  docs/using-the-sdk/README.md
Labels: Type: Docs, automerge

#9457 feat: Add amino support for x/authz and x/feegrant
  CHANGELOG.md
  x/authz/client/testutil/tx.go
  x/authz/module/module.go
  x/authz/msgs.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/module/module.go
  x/feegrant/msgs.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
Labels: C:CLI, C:Simulations, C:x/authz, C:x/feegrant, automerge

#9462 fix: update client error handling to use tx `Hash()` from Tendermint
  client/broadcast.go
Labels: C:CLI

#9456 refactor: add util functions to reuse in simulations
  x/distribution/simulation/operations.go
  x/feegrant/simulation/operations.go
  x/gov/simulation/operations.go
  x/simulation/expected_keepers.go
  x/simulation/util.go
  x/staking/simulation/operations.go
  x/staking/simulation/operations_test.go
Labels: C:Simulations, C:x/distribution, C:x/feegrant, C:x/gov, C:x/staking, automerge

#9470 fix: make proto-format
  Makefile
Labels: Type: Build, automerge

#9450 fix: feegrant grant period not resetting
  x/feegrant/periodic_fee.go
  x/feegrant/periodic_fee_test.go
Labels: C:x/feegrant, automerge

#9448 docs: fix broken interfaces links
  CONTRIBUTING.md
  docs/DOCS_README.md
  docs/README.md
  docs/basics/app-anatomy.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/errors.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/module-manager.md
  docs/building-modules/query-services.md
  docs/cn/README.md
  docs/cn/basics/accounts.md
  docs/cn/basics/tx-lifecycle.md
  docs/cn/clients/service-providers.md
  docs/core/transactions.md
  docs/kr/clients/service-providers.md
Labels: Type: Docs, automerge, backport/0.42.x (Stargate)

#9464 style: fix lint errors and update lint timeout
  .golangci.yml
  CHANGELOG.md
  client/docs/statik/statik.go
  docs/DOC_WRITING_GUIDELINES.md
  docs/core/encoding.md
  server/rosetta/lib/errors/errors_test.go
  x/distribution/legacy/v043/helpers.go
Labels: C:CLI, C:x/distribution, Type: CI, Type: Docs, automerge

#9476 docs: fix ReadRESTReq documentation
  types/rest/rest.go
Labels: automerge

#9401 backport: fix ibc genesis export bug
  CHANGELOG.md
  x/ibc/core/02-client/genesis.go
  x/ibc/core/03-connection/genesis.go
  x/ibc/core/04-channel/genesis.go
Labels: Status: Backlog, automerge

#9487 docs: Fix ADR 030 reference link
  docs/architecture/README.md
Labels: Type: ADR, Type: Docs

#9484 fix: x/staking inplace store migration bug
  x/staking/legacy/v043/store.go
Labels: C:x/staking, Status: Backlog, automerge, migration

#9496 ci: use title+body for commit message
  .mergify.yml
Labels: Type: CI

#9497 fix: testnet cli command update genesis supply
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
Labels: automerge, backport/0.42.x (Stargate)

#9495 revert: Turn staking power reduction into an on-chain param
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/client/testutil/suite.go
  x/staking/handler_test.go
  x/staking/keeper/migrations.go
  x/staking/keeper/params.go
  x/staking/keeper/power_reduction_test.go
  x/staking/keeper/val_state_change.go
  x/staking/legacy/v043/json.go
  x/staking/legacy/v043/json_test.go
  x/staking/legacy/v043/store.go
  x/staking/legacy/v043/store_test.go
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
  x/staking/types/params.go
  x/staking/types/staking.pb.go
Labels: C:CLI, C:Simulations, C:x/staking, Type: Docs, automerge

#9517 ci: Remove "Type: Docs" label from labeler action
  .github/labeler.yml
Labels: Type: CI, automerge

#9493 feat: grpc-web add CORS handler
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/grpc/grpc_web.go
Labels: automerge

#9511 fix: Handle MAX_INT_256
  CHANGELOG.md
  types/decimal.go
  types/int.go
  types/int_internal_test.go
  types/int_test.go
Labels: automerge

#9481 perf: Speedup to params simulation
  CHANGELOG.md
  x/params/simulation/operations.go
  x/params/simulation/operations_test.go
  x/params/simulation/proposals_test.go
  x/simulation/params.go
Labels: C:Simulations, C:x/params, automerge

#9530 perf: MsgTypeUrl optimization
  types/tx_msg.go
  types/tx_msg_test.go
Labels: Status: In Review, Type: Performance, automerge

#9526 docs: Add docs for setting store loader
  docs/building-modules/upgrade.md
  docs/core/upgrade.md
Labels: automerge

#9385 Backport: IBC query header/node-state fixes
  CHANGELOG.md
  x/ibc/core/02-client/client/utils/utils.go
Labels: Status: Backlog

#9535 fix: duplicate vesting and format
  client/keys/root.go
  client/keys/root_test.go
  server/util.go
  simapp/simd/cmd/root.go
  x/auth/client/cli/decode.go
Labels: C:CLI, C:Keys, C:x/auth, automerge

#9541 build(deps): tendermint version
  go.mod
  go.sum
Labels: automerge, backport/0.42.x (Stargate)

#9429 feat: add cosmos-sdk Version
  CHANGELOG.md
  CONTRIBUTING.md
  client/grpc/tmservice/query.pb.go
  client/grpc/tmservice/service.go
  docs/core/proto-docs.md
  proto/cosmos/base/tendermint/v1beta1/query.proto
  version/version.go
  version/version_test.go
Labels: C:CLI, Type: Docs, automerge, backport/0.42.x (Stargate)

#9538 fix: collect all responses from authz/MsgExec
  docs/core/proto-docs.md
  proto/cosmos/authz/v1beta1/tx.proto
  x/authz/keeper/keeper.go
  x/authz/keeper/msg_server.go
  x/authz/tx.pb.go
Labels: C:x/authz, automerge

#9540 fix: query txs command adds output flag
  CHANGELOG.md
  x/auth/client/cli/query.go
Labels: C:CLI, C:x/auth, Type: Client UX, automerge

#9384 fix: Dumping upgrade info interrupted by cosmovisor
  x/upgrade/abci.go
Labels: C:x/upgrade, automerge

#9552 fix: set header hash every block
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp_test.go
Labels: Type: Bug, automerge, backport/0.42.x (Stargate)

#9532 docs: use RFC 2119 keywords
  docs/DOC_WRITING_GUIDELINES.md
  docs/architecture/README.md
Labels: Type: ADR, Type: Docs, automerge

#9558 chore: Update CHANGELOG with 0.42.5 and 0.42.6
  CHANGELOG.md
Labels: automerge

#9559 test(bank): check that zero balances are deleted
  x/bank/keeper/keeper_test.go
Labels: C:x/bank, Type: Tests, automerge

#9549 docs: fix cosmovisor readme
  cosmovisor/README.md
Labels: C:Cosmovisor, automerge

#9522 feat: make authz MsgExec emit events from all executed msgs
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
Labels: C:x/authz, automerge

#9550 feat: Allow app developers to override default appConfig template
  docs/core/cli.md
  server/config/toml.go
  server/doc.go
  server/util.go
  server/util_test.go
  simapp/simd/cmd/root.go
Labels: Type: Dev UX, automerge

#9534 refactor: Bring back deprecated proto fields to `v1beta1`
  CHANGELOG.md
  buf.yaml
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/genutil/legacy/v043/migrate.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/legacy/v040/genesis.pb.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate_test.go
  x/gov/legacy/v040/vote.go
  x/gov/legacy/v043/json.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v043/store.go
  x/gov/legacy/v043/store_test.go
  x/gov/types/gov.pb.go
  x/gov/types/vote.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/upgrade.pb.go
Labels: C:x/genutil, C:x/gov, C:x/upgrade, Type: CI, automerge

#9553 feat: multisig should accept name, not just address
  CHANGELOG.md
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Labels: C:CLI, C:x/auth, automerge

#9563 fix(keyring): update keyring for kwallet fix
  CHANGELOG.md
  go.mod
  go.sum
Labels: Type: Bug, automerge, backport/0.42.x (Stargate)

#9578 feat: return trace value from baseapp
  CHANGELOG.md
  baseapp/baseapp.go
Labels: C:baseapp, automerge, backport/0.42.x (Stargate)

#9371 feat: Non-zero Default Fees
  CHANGELOG.md
  contrib/rosetta/node/data.tar.gz
  docs/core/cli.md
  docs/run-node/run-node.md
  server/config/config.go
  server/start.go
  server/util_test.go
  simapp/simd/cmd/root.go
  testutil/network/util.go
  types/errors/errors.go
Labels: C:Rosetta, automerge, backport/0.42.x (Stargate)

#9480 fix: added key when dry-run is true
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  crypto/keyring/keyring.go
Labels: C:CLI, C:Keys, automerge

#9583 fix: Correctly populate legacy Vote.Option field
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/gov.proto
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/types/gov.pb.go
Labels: C:x/gov

#9591 chore: Add mergify v0.43 backport
  .mergify.yml
Labels: Type: CI

#9421 refactor: Move some methods inside TX Factory
  CHANGELOG.md
  client/tx/factory.go
  client/tx/tx.go
  client/tx/tx_test.go
  x/auth/client/tx.go
  x/genutil/client/cli/gentx.go
Labels: C:CLI, C:x/auth, C:x/genutil, automerge

#9533 feat: add DenomOwners gRPC method for x/bank
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Labels: C:x/bank, automerge, gRPC

#9506 docs: add v0.43 release version option
  docs/.vuepress/config.js
  docs/versions
Labels: Type: Docs

#9593 feat: Error on blank chain-id in multisign command
  CHANGELOG.md
  x/auth/client/cli/tx_multisign.go
Labels: C:CLI, C:x/auth, automerge, backport/0.42.x (Stargate)

#9427 refactor: Move simapp FundAccount and FundModuleAccount to testutil
  CHANGELOG.md
  simapp/test_helpers.go
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/signing/verify_test.go
  x/auth/vesting/handler_test.go
  x/authz/keeper/keeper_test.go
  x/authz/simulation/operations_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier_test.go
  x/bank/simulation/operations_test.go
  x/bank/testutil/test_helpers.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations_test.go
  x/slashing/simulation/operations_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/operations_test.go
Labels: C:Simulations, C:x/auth, C:x/authz, C:x/bank, C:x/distribution, C:x/feegrant, C:x/genutil, C:x/gov, C:x/slashing, C:x/staking, automerge

#9246 feat: simd runs in-process testnet by default
  .gitignore
  CHANGELOG.md
  Makefile
  client/context_test.go
  client/grpc/tmservice/service_test.go
  client/grpc_query_test.go
  client/rpc/rpc_test.go
  server/grpc/grpc_web_test.go
  server/grpc/server_test.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
  testutil/network/network.go
  testutil/network/network_test.go
  x/auth/client/rest/rest_test.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service_test.go
  x/auth/types/account_retriever_test.go
  x/auth/vesting/client/testutil/suite.go
  x/authz/client/rest/grpc_query_test.go
  x/authz/client/testutil/tx.go
  x/bank/client/rest/query_test.go
  x/bank/client/testutil/suite.go
  x/crisis/client/testsuite/suite.go
  x/distribution/client/rest/grpc_query_test.go
  x/distribution/client/testutil/suite.go
  x/evidence/client/testutil/suite.go
  x/feegrant/client/testutil/suite.go
  x/genutil/client/testutil/suite.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/testutil/deposits.go
  x/gov/client/testutil/suite.go
  x/mint/client/rest/grpc_query_test.go
  x/mint/client/testutil/suite.go
  x/params/client/rest/grpc_query_test.go
  x/params/client/testutil/suite.go
  x/slashing/client/rest/grpc_query_test.go
  x/slashing/client/testutil/suite.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/testutil/suite.go
  x/upgrade/client/testutil/suite.go
Labels: C:CLI, C:x/auth, C:x/authz, C:x/bank, C:x/crisis, C:x/distribution, C:x/evidence, C:x/feegrant, C:x/genutil, C:x/gov, C:x/mint, C:x/params, C:x/slashing, C:x/staking, C:x/upgrade, Type: Build, automerge

#9571 feat!: add error handling to staking hooks
  CHANGELOG.md
  simapp/export.go
  x/distribution/keeper/hooks.go
  x/slashing/keeper/hooks.go
  x/slashing/types/expected_keepers.go
  x/staking/genesis.go
  x/staking/keeper/delegation.go
  x/staking/keeper/hooks.go
  x/staking/keeper/msg_server.go
  x/staking/spec/06_hooks.md
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
Labels: C:x/distribution, C:x/slashing, C:x/staking, Type: API Breaking, automerge
