Repository cosmos/cosmos-sdk, pull requests merged in 2021-03, with the labels that each got.

#8725 Makefile: fix build_tags update
  Makefile
Labels: automerge, bug, build

#8639 crypto/keyring: fix offline keys migration
  .github/workflows/test.yml
  CHANGELOG.md
  client/keys/migrate.go
  client/keys/migrate_test.go
  client/keys/testdata/keys/keys.db/000136.ldb
  client/keys/testdata/keys/keys.db/000137.ldb
  client/keys/testdata/keys/keys.db/CURRENT
  client/keys/testdata/keys/keys.db/CURRENT.bak
  client/keys/testdata/keys/keys.db/LOG
  client/keys/testdata/keys/keys.db/MANIFEST-000005
  client/keys/testdata/keys/keys.db/MANIFEST-000167
  crypto/keyring/keyring.go
Labels: backport/0.41.x (Stargate), keys

#8730 Allow REST endpoint to query txs with multisig
  CHANGELOG.md
  x/auth/client/rest/rest_test.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/legacy/legacytx/stdtx.go
Labels: automerge, backport/0.41.x (Stargate)

#8665 minor channel fixes
  CHANGELOG.md
  x/ibc/core/04-channel/types/acknowledgement.go
  x/ibc/core/04-channel/types/acknowledgement_test.go
  x/ibc/core/04-channel/types/channel.go
  x/ibc/core/04-channel/types/channel_test.go
  x/ibc/core/04-channel/types/codec.go
Labels: automerge, x/ibc

#8733 internal: create package for unsafe bytes convertion
  internal/conv/doc.go
  internal/conv/string.go
  internal/conv/string_test.go
  store/cachekv/store.go
  types/address/hash.go
  types/address/hash_test.go
Labels: automerge

#8734 Move QueryTx functions to x/auth/tx
  server/grpc/server_test.go
  server/rosetta/client_online.go
  x/auth/client/cli/query.go
  x/auth/client/rest/query.go
  x/auth/tx/query.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
  x/gov/client/utils/query.go
  x/staking/client/rest/utils.go
Labels: gRPC

#8673 Remove IBC logic from x/upgrade
  CHANGELOG.md
  docs/core/proto-docs.md
  docs/ibc/upgrades/quick-guide.md
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  proto/ibc/core/client/v1/client.proto
  proto/ibc/core/client/v1/query.proto
  simapp/app.go
  x/gov/legacy/v040/migrate_test.go
  x/ibc/core/02-client/abci.go
  x/ibc/core/02-client/abci_test.go
  x/ibc/core/02-client/client/cli/tx.go
  x/ibc/core/02-client/client/proposal_handler.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/keeper/grpc_query.go
  x/ibc/core/02-client/keeper/keeper.go
  x/ibc/core/02-client/keeper/proposal.go
  x/ibc/core/02-client/keeper/proposal_test.go
  x/ibc/core/02-client/proposal_handler.go
  x/ibc/core/02-client/proposal_handler_test.go
  x/ibc/core/02-client/types/client.pb.go
  x/ibc/core/02-client/types/codec.go
  x/ibc/core/02-client/types/errors.go
  x/ibc/core/02-client/types/expected_keepers.go
  x/ibc/core/02-client/types/proposal.go
  x/ibc/core/02-client/types/proposal_test.go
  x/ibc/core/02-client/types/query.pb.go
  x/ibc/core/02-client/types/query.pb.gw.go
  x/ibc/core/keeper/grpc_query.go
  x/ibc/core/keeper/keeper.go
  x/ibc/core/keeper/msg_server_test.go
  x/ibc/light-clients/07-tendermint/types/upgrade.go
  x/ibc/light-clients/07-tendermint/types/upgrade_test.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal.go
  x/upgrade/types/proposal_test.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/upgrade.pb.go
Labels: automerge, x/ibc

#8739 Rename InfoImporter -> LegacyInfoImporter
  client/keys/migrate.go
  crypto/keyring/keyring.go
Labels: backport/0.41.x (Stargate)

#8752 slashing: absent val to DEBUG
  x/slashing/keeper/infractions.go
Labels: automerge, backport/0.41.x (Stargate)

#8663 Weighted votes migrate in-place migrations
  x/gov/keeper/migrations.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v040/vote.go
  x/gov/legacy/v042/store.go
  x/gov/legacy/v042/store_test.go
Labels: automerge, x/gov

#8717 Robert/addr memory leak
  types/address.go
  types/address_bench_test.go
Labels: automerge, bug

#8517 Index supply by denom
  CHANGELOG.md
  proto/cosmos/bank/v1beta1/bank.proto
  x/bank/exported/exported.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier.go
  x/bank/keeper/querier_test.go
  x/bank/module.go
  x/bank/simulation/decoder.go
  x/bank/simulation/decoder_test.go
  x/bank/types/bank.pb.go
  x/bank/types/codec.go
  x/bank/types/genesis.go
  x/bank/types/supply.go
  x/bank/types/supply_test.go
  x/feegrant/simulation/decoder_test.go
  x/staking/keeper/pool.go
  x/staking/types/expected_keepers.go
Labels: automerge

#8767 Lock mutex on getting element from cache
  types/address.go
Labels: bug

#8624 Emit header in MsgUpdateClient events
  CHANGELOG.md
  x/ibc/core/02-client/keeper/client.go
  x/ibc/core/02-client/keeper/client_test.go
  x/ibc/core/02-client/types/encoding.go
  x/ibc/core/02-client/types/encoding_test.go
  x/ibc/core/02-client/types/events.go
  x/ibc/core/spec/06_events.md
Labels: automerge, backport/0.41.x (Stargate), dev-ux, x/ibc

#8771 update changelog against v0.41.4
  CHANGELOG.md
Labels: automerge

#8773 Fix typo in querying events
  x/staking/client/rest/query.go
  x/staking/types/msg.go
Labels: automerge, x/auth

#8559 crypto: add secp256r1
  CHANGELOG.md
  codec/types/any.pb.go
  crypto/codec/proto.go
  crypto/keys/internal/ecdsa/doc.go
  crypto/keys/internal/ecdsa/privkey.go
  crypto/keys/internal/ecdsa/privkey_internal_test.go
  crypto/keys/internal/ecdsa/pubkey.go
  crypto/keys/internal/ecdsa/pubkey_internal_test.go
  crypto/keys/secp256r1/doc.go
  crypto/keys/secp256r1/keys.pb.go
  crypto/keys/secp256r1/privkey.go
  crypto/keys/secp256r1/privkey_internal_test.go
  crypto/keys/secp256r1/pubkey.go
  crypto/keys/secp256r1/pubkey_internal_test.go
  docs/core/proto-docs.md
  proto/cosmos/crypto/secp256r1/keys.proto
Labels: automerge

#8646 ADR 041: In-Place Store Migrations
  docs/architecture/adr-041-in-place-store-migrations.md
  docs/architecture/readme.md~origin_master-docs
Labels: ADR, automerge

#8785 logging: add more info to crisis logs
  x/crisis/keeper/keeper.go
Labels: automerge, backport/0.42.x (Stargate)

#8789 Revert unintended skip test in feegrant
  x/feegrant/simulation/decoder_test.go
Labels: automerge

#8786 Enable secp256r1
  CHANGELOG.md
  crypto/keys/secp256r1/keys.pb.go
  docs/core/proto-docs.md
  testutil/testdata/tx.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_benchmark_test.go
  x/auth/ante/sigverify_test.go
  x/auth/types/params.go
Labels: automerge

#8794 fix multisig account pubkeys migration
  x/auth/legacy/v040/migrate.go
Labels: backport/0.42.x (Stargate)

#8784 Update mergify
  .mergify.yml
Labels: automerge

#8796 mem: use list.Len
  store/cachekv/memiterator.go
Labels: automerge, backport/0.42.x (Stargate)

#8780 Supply by denom Migrations
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/bank.proto
  x/bank/keeper/migrations.go
  x/bank/keeper/querier.go
  x/bank/legacy/v042/store.go
  x/bank/legacy/v042/store_test.go
  x/bank/spec/01_state.md
  x/bank/types/bank.pb.go
Labels: automerge, x/bank

#8799 Fix make proto-gen error with docs.
  Makefile
  x/authz/types/authz.pb.go
  x/authz/types/genesis.pb.go
  x/authz/types/tx.pb.go
  x/evidence/types/evidence.pb.go
  x/feegrant/types/feegrant.pb.go
  x/gov/types/gov.pb.go
  x/slashing/types/slashing.pb.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
  x/upgrade/types/upgrade.pb.go
Labels: automerge

#8790 reduce gas costs by 10x for transient store operations
  CHANGELOG.md
  store/types/gas.go
  store/types/gas_test.go
Labels: automerge

#8808 x/gov: fix NormalizeProposalType() return values
  x/gov/client/cli/cli_test.go
  x/gov/client/rest/grpc_query_test.go
  x/gov/client/rest/rest_test.go
  x/gov/client/utils/utils.go
  x/gov/client/utils/utils_test.go
Labels: CLI, backport/0.42.x (Stargate), x/gov

#8814 Move all migration scripts to v043
  docs/architecture/adr-041-in-place-store-migrations.md
  x/bank/keeper/migrations.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/distribution/keeper/migrations.go
  x/distribution/legacy/v043/helpers.go
  x/distribution/legacy/v043/store.go
  x/distribution/legacy/v043/store_test.go
  x/gov/keeper/migrations.go
  x/gov/legacy/v043/store.go
  x/gov/legacy/v043/store_test.go
  x/slashing/keeper/migrations.go
  x/slashing/legacy/v043/store.go
  x/slashing/legacy/v043/store_test.go
  x/staking/keeper/migrations.go
  x/staking/legacy/v043/store.go
  x/staking/legacy/v043/store_test.go
Labels: automerge, code-hygiene

#8783 fixed broken links, typos
  docs/building-modules/intro.md
  docs/building-modules/simulator.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/intro/sdk-app-architecture.md
  docs/intro/why-app-specific.md
  docs/run-node/interact-node.md
  x/capability/simulation/decoder.go
Labels: automerge, backport/0.42.x (Stargate), docs

#8828 update SigVerifiableTx.GetPubKeys to return an error
  CHANGELOG.md
  x/auth/ante/sigverify.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/testutil/suite.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: api-breaking

#8826 Keyring: Add trust to macOS Keychain for caller app by default
  crypto/keyring/keyring.go
Labels: CLI, automerge, backport/0.42.x (Stargate), keys

#8836 merge v0.42.0 changelog
  CHANGELOG.md
Labels: automerge

#8838 fixes: permalinks for docs
  docs/building-modules/simulator.md
  docs/intro/sdk-app-architecture.md
  docs/intro/why-app-specific.md
Labels: automerge, backport/0.42.x (Stargate), docs

#8857 Fix SendToModuleAccountTest
  x/bank/app_test.go
  x/bank/handler_test.go
Labels: automerge

#8729 [rosetta] implement balance tracking and redo tx construction
  CHANGELOG.md
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/configuration/data.sh
  contrib/rosetta/configuration/rosetta.json
  contrib/rosetta/configuration/run_tests.sh
  contrib/rosetta/configuration/staking.json
  contrib/rosetta/configuration/staking.ros
  contrib/rosetta/configuration/transfer.ros
  contrib/rosetta/node/data.tar.gz
  go.mod
  go.sum
  server/rosetta/client_offline.go
  server/rosetta/client_online.go
  server/rosetta/conv_from_rosetta.go
  server/rosetta/conv_to_rosetta.go
  server/rosetta/converter.go
  server/rosetta/converter_test.go
  server/rosetta/types.go
  server/rosetta/util.go
  types/codec.go
  x/bank/types/msgs.go
  x/distribution/types/msg.go
  x/staking/types/msg.go
Labels: automerge

#8839 keyring: update documentation
  client/flags/flags.go
  docs/run-node/keyring.md
Labels: automerge, backport/0.42.x (Stargate), docs

#8856 all: skip noisy/faulty benchmarks + add b.ReportAllocs for every benchmark
  crypto/armor_test.go
  crypto/types/compact_bit_array_test.go
  store/rootmulti/store_test.go
  types/coin_benchmark_test.go
  x/auth/ante/sigverify_benchmark_test.go
  x/auth/keeper/keeper_bench_test.go
  x/bank/bench_test.go
Labels: automerge, backport/0.42.x (Stargate)

#8854 Any: update and test String method
  codec/types/any.go
  codec/types/any.pb.go
  codec/types/any_internal_test.go
  third_party/proto/google/protobuf/any.proto
Labels: automerge

#8849 x/upgrade: remove support for time based upgrades
  CHANGELOG.md
  buf.yaml
  docs/core/proto-docs.md
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/gov/legacy/v040/migrate.go
  x/gov/legacy/v040/migrate_test.go
  x/upgrade/abci_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/client/rest/tx.go
  x/upgrade/doc.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/spec/README.md
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal_test.go
  x/upgrade/types/upgrade.pb.go
Labels: automerge, x/upgrade

#8863 update CHANGELOG to remove x/ibc references in unreleased
  CHANGELOG.md
Labels: automerge

#8842 server: try avoid the "address already in use" error
  server/test_helpers.go
Labels: automerge

#8873 add --output-document to multisign-batch
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
Labels: automerge, backport/0.42.x (Stargate)

#8841 Fix multisig LegacyAminoPubKey Amino marshaling
  CHANGELOG.md
  crypto/keys/multisig/amino.go
  crypto/keys/multisig/codec.go
  crypto/keys/multisig/multisig_test.go
  x/auth/legacy/legacytx/stdtx.go
  x/auth/legacy/v040/migrate.go
  x/genutil/legacy/v038/migrate.go
Labels: automerge, backport/0.42.x (Stargate), crypto, encoding

#8879 server: wrap errors
  server/test_helpers.go
Labels: automerge

#8881 Allow proto CI to pass when no proto files changed
  .github/workflows/proto.yml
Labels: automerge, backport/0.42.x (Stargate)

#8815 add orderBy parameter to TxsByEvents
  x/auth/tx/service.go
Labels: automerge, backport/0.42.x (Stargate), gRPC

#8884 docs: update dropdown 0.41 → 0.42
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/versions
Labels: docs

#8845 errors: Add Wrap handy method
  types/errors/errors.go
Labels: automerge

#8893 fix typo
  docs/basics/app-anatomy.md
Labels: automerge, docs

#8891 fix typo
  docs/intro/sdk-design.md
Labels: automerge, docs

#8751 Update docs
  docs/basics/accounts.md
  docs/basics/app-anatomy.md
  docs/building-modules/msg-services.md
  docs/building-modules/simulator.md
  docs/core/baseapp.md
  docs/core/cli.md
  docs/core/grpc_rest.md
  docs/core/node.md
  docs/core/ocap.md
  docs/core/store.md
Labels: automerge, backport/0.42.x (Stargate), docs

#8774 account.Address: use RWLocker
  types/address.go
Labels: automerge, performance

#8892 ascii scheme didn't fit view area
  docs/intro/sdk-design.md
Labels: automerge, docs

#8900 Fix docs for v0.42
  docs/versions
Labels: automerge

#8905 Fix typo
  simapp/params/doc.go
Labels: automerge

#8918 x/distribution: fix module's parameters validation
  x/distribution/types/fee_pool_test.go
  x/distribution/types/params.go
  x/distribution/types/params_internal_test.go
  x/distribution/types/params_test.go
Labels: automerge, x/distribution

#8825 CLI/keys: define default supported keyring algorithms
  client/cmd.go
  client/context.go
  client/keys/add.go
Labels: CLI, automerge, dev-ux

#8934 add +nobuild flags to all relevant test cases
  x/auth/client/cli/cli_test.go
  x/auth/client/rest/rest_test.go
  x/authz/client/cli/tx_test.go
  x/authz/client/rest/grpc_query_test.go
Labels: automerge, backport/0.42.x (Stargate)

#8843 Staking spec updates
  x/staking/spec/01_state.md
  x/staking/spec/02_state_transitions.md
  x/staking/spec/03_messages.md
  x/staking/spec/05_end_block.md
Labels: automerge, backport/0.42.x (Stargate), docs

#8899 doc secp256r1
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  docs/basics/accounts.md
Labels: automerge, docs

#8901 Add issue template for "Module Readiness Checklist"
  .github/ISSUE_TEMPLATE/module-readiness-checklist.md
Labels: automerge

#8936 Allow to specify custom accounts and balances inside in-process local testing networs
  testutil/network/util.go
Labels: automerge

#8743 x/upgrade: added consensus version tracking (part of ADR-041)
  CHANGELOG.md
  docs/architecture/adr-041-in-place-store-migrations.md
  simapp/app.go
  simapp/app_test.go
  types/module/module.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/spec/02_state.md
  x/upgrade/types/handler.go
  x/upgrade/types/keys.go
Labels: automerge, x/upgrade

#8932 chore: refactor code quality issues
  .deepsource.toml
  client/context_test.go
  x/auth/ante/ante_test.go
  x/auth/client/rest/rest_test.go
  x/auth/tx/builder_test.go
  x/distribution/legacy/v043/store_test.go
  x/gov/legacy/v043/store_test.go
  x/slashing/legacy/v043/store_test.go
  x/staking/legacy/v043/store_test.go
Labels: automerge, code-hygiene

#8880 Add 0.43 CLI JSON `migrate` command
  CHANGELOG.md
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/cli/validate_genesis_test.go
  x/genutil/legacy/v043/migrate.go
  x/gov/legacy/v040/genesis.pb.go
  x/gov/legacy/v040/gov.pb.go
  x/gov/legacy/v043/json.go
  x/gov/legacy/v043/json_test.go
  x/gov/legacy/v043/keys.go
  x/gov/legacy/v043/store.go
  x/gov/legacy/v043/store_test.go
Labels: automerge, x/genutil

#8909 CreateValidator self delegation must be at least one consensus power
  CHANGELOG.md
  x/staking/client/cli/cli_test.go
  x/staking/simulation/operations.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Labels: automerge, x/staking

#8930 Fix genesis supply handling
  proto/cosmos/bank/v1beta1/genesis.proto
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/types/genesis.go
Labels: automerge, backport/0.42.x (Stargate)

#8945 gRPC: fix server reflection
  CHANGELOG.md
  docs/run-node/interact-node.md
  go.mod
  go.sum
  server/grpc/gogoreflection/doc.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/gogoreflection/fix_registration_test.go
  server/grpc/gogoreflection/serverreflection.go
  server/grpc/server.go
  server/grpc/server_test.go
Labels: automerge, backport/0.42.x (Stargate)

#8682 move feegrant ante to auth ante
  CHANGELOG.md
  simapp/app.go
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/fee_grant.go
  x/auth/ante/fee_grant_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/feegrant/ante/ante.go
  x/feegrant/ante/fee.go
  x/feegrant/keeper/keeper.go
Labels: automerge

#8875 add reverse iteration to pagination
  CHANGELOG.md
  client/flags/flags.go
  client/utils.go
  docs/core/proto-docs.md
  proto/cosmos/base/query/v1beta1/pagination.proto
  types/query/filtered_pagination.go
  types/query/filtered_pagination_test.go
  types/query/pagination.go
  types/query/pagination.pb.go
  types/query/pagination_test.go
Labels: automerge

#8968 merge changelogs from v0.42.1 and v0.42.2
  CHANGELOG.md
Labels: automerge

#8975 Fix link to ICS2 on ADR017
  docs/architecture/adr-017-historical-header-module.md
Labels: automerge

#8974 Fix broken links to ICS26 in ADR015
  docs/architecture/adr-015-ibc-packet-receiver.md
Labels: automerge

#8976 Fix link to ICS007 on ADR026
  docs/architecture/adr-026-ibc-client-recovery-mechanisms.md
Labels: automerge

#8972 Fix broken links to ICS specs
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: automerge

#8963 types: add Abs() method to sdk.Int
  CHANGELOG.md
  types/int.go
  types/int_test.go
Labels: automerge

#8977 Fix broken relative link in ADR033
  docs/architecture/adr-033-protobuf-inter-module-comm.md
Labels: automerge

#8971 Fix broken ICS links on ADR001
  docs/architecture/adr-001-coin-source-tracing.md
Labels: automerge

#8950 Improve set supply
  CHANGELOG.md
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/node/data.tar.gz
  x/bank/keeper/genesis.go
  x/bank/keeper/keeper.go
Labels: automerge

#8926 Prefer sending tx_bytes to Simulate gRPC endpoint
  CHANGELOG.md
  client/tx/tx.go
  client/tx/tx_test.go
  docs/core/proto-docs.md
  docs/run-node/txs.md
  proto/cosmos/tx/v1beta1/service.proto
  simapp/simd/cmd/root.go
  types/tx/service.pb.go
  x/auth/client/tx.go
  x/auth/tx/builder.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
  x/bank/client/rest/tx_test.go
  x/staking/types/staking.pb.go
Labels: automerge, gRPC

#8997 fix race condition in address.String
  types/address.go
  types/address_race_test.go
Labels: automerge, bug

#8988 Make module.Manager.RunMigrations handle new modules correctly
  types/module/module.go
Labels: automerge, x/upgrade

#8981 Update ledger bech32 tests
  crypto/ledger/ledger_test.go
Labels: automerge, encoding, ledger, tests

#8999 x/bank: doc & spec updates
  x/bank/keeper/keeper.go
  x/bank/spec/02_keepers.md
Labels: automerge, docs, x/bank

#9005 fix IBC links
  docs/ibc/custom.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/ibc/relayer.md
Labels: automerge, docs

#9006 docs: update bech32 account docs
  docs/architecture/adr-028-public-key-addresses.md
  docs/basics/accounts.md
  docs/core/node.md
  docs/migrations/rest.md
  docs/spec/addresses/bech32.md
Labels: automerge, backlog, docs, in-review, kvstore, size: 1

#8998 Fix migrations bug discovered with manual tests
  x/bank/legacy/v040/migrate.go
  x/bank/legacy/v040/types.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/bank/module.go
  x/slashing/module.go
Labels: automerge, migration

#9015 fix: grpc-gateway error codes
  CHANGELOG.md
  client/query.go
  x/staking/client/rest/grpc_query_test.go
Labels: automerge, backport/0.42.x (Stargate)

#8866 Make clearer that the distribution iterates over all active validators
  x/distribution/keeper/allocation.go
Labels: automerge, code-hygiene

#9001 docs: IBC overview edits and rewrites for clarity
  docs/ibc/overview.md
Labels: docs

#9021 docs: added deprecation notes for non English docs.
  docs/cn/README.md
  docs/cn/basics/README.md
  docs/kr/README.md
  docs/ru/readme.md
Labels: automerge, docs

#9020 x/auth: update NewAccountKeeper docs
  x/auth/keeper/keeper.go
Labels: automerge, docs

#8551 ADR-038 Part 1: WriteListener, listen.KVStore, MultiStore and KVStore updates
  CHANGELOG.md
  docs/architecture/adr-038-state-listening.md
  docs/core/proto-docs.md
  proto/cosmos/base/store/v1beta1/listening.proto
  server/mock/store.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/listenkv/store.go
  store/listenkv/store_test.go
  store/mem/mem_test.go
  store/mem/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/listening.go
  store/types/listening.pb.go
  store/types/listening_test.go
  store/types/store.go
Labels: kvstore

#9026 Add ledger/multisig detection in SignTx functions
  CHANGELOG.md
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
Labels: CLI, automerge, backport/0.42.x (Stargate), x/genutil

#8953 Add client config subcommand to CLI
  .github/workflows/lint.yml
  client/cmd.go
  client/config/cmd.go
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list.go
  client/keys/show_test.go
  client/utils.go
  server/rosetta/converter.go
  simapp/simd/cmd/root.go
  testutil/network/network.go
Labels: automerge, backport/0.42.x (Stargate), ready for review
