Repository cosmos/cosmos-sdk, pull requests merged in 2021-11, with the labels that each got.

#10462 feat: implement nft module query server
  x/nft/errors.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper_test.go
  x/nft/validation.go
Labels: automerge

#10492 chore: fix typo in adr-014-proportional-slashing.md
  docs/architecture/adr-014-proportional-slashing.md
Labels: Type: ADR, automerge

#10475 chore: golangci-linter github action setup
  .github/workflows/lint.yml
  Makefile
Labels: Type: CI, tooling, Type: Build, automerge

#10441 feat(mint): Implement custom inflation function.
  CHANGELOG.md
  simapp/app.go
  x/mint/abci.go
  x/mint/module.go
  x/mint/types/genesis.go
Labels: C:x/mint, automerge

#10488 feat: static checking for common bug patterns
  .github/workflows/codeql-analysis.yml
Labels: Type: CI, automerge

#10442 refactor: import dependancy from upgrade module to cosmovisor module
  cosmovisor/args.go
  cosmovisor/go.mod
  cosmovisor/go.sum
  cosmovisor/process.go
  cosmovisor/process_test.go
  cosmovisor/scanner.go
  cosmovisor/scanner_test.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
Labels: automerge, C:Cosmovisor

#10467 fix: Update ctx BlockTime for simulations
  CHANGELOG.md
  types/simulation/rand_util.go
Labels: automerge

#10451 feat: Add Table-Store (aka ORM) package - Index and Iterator
  types/errors/errors.go
  x/group/errors/math.go
  x/group/errors/orm.go
  x/group/go.mod
  x/group/go.sum
  x/group/internal/math/dec.go
  x/group/internal/orm/auto_uint64.go
  x/group/internal/orm/auto_uint64_test.go
  x/group/internal/orm/example_test.go
  x/group/internal/orm/index.go
  x/group/internal/orm/index_test.go
  x/group/internal/orm/indexer.go
  x/group/internal/orm/indexer_test.go
  x/group/internal/orm/iterator.go
  x/group/internal/orm/iterator_property_test.go
  x/group/internal/orm/iterator_test.go
  x/group/internal/orm/key_codec.go
  x/group/internal/orm/orm_scenario_test.go
  x/group/internal/orm/primary_key.go
  x/group/internal/orm/primary_key_test.go
  x/group/internal/orm/sequence.go
  x/group/internal/orm/sequence_test.go
  x/group/internal/orm/spec/01_table.md
  x/group/internal/orm/spec/02_secondary_index.md
  x/group/internal/orm/spec/03_iterator_pagination.md
  x/group/internal/orm/spec/README.md
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
  x/group/internal/orm/types.go
  x/group/internal/orm/types_test.go
Labels: automerge

#10479 fix: install rocksdb in github actions
  .github/workflows/test.yml
  db/go.mod
  db/go.sum
Labels: Type: CI, automerge

#10515 fix: recreate compat field, of null pubkeys in multisig
  crypto/keys/multisig/amino.go
Labels: automerge

#10505 feat: add command line for nft module
  docs/core/proto-docs.md
  proto/cosmos/nft/v1beta1/query.proto
  x/nft/client/cli/query.go
  x/nft/client/cli/tx.go
  x/nft/client/testutil/cli_test.go
  x/nft/client/testutil/grpc.go
  x/nft/client/testutil/query.go
  x/nft/client/testutil/test_helper.go
  x/nft/client/testutil/tx.go
  x/nft/module/module.go
  x/nft/query.pb.go
  x/nft/query.pb.gw.go
  x/nft/validation.go
Labels: C:CLI, automerge

#10501 feat(x/nft): add data field in Class type of NFT module
  docs/core/proto-docs.md
  proto/cosmos/nft/v1beta1/nft.proto
  x/nft/nft.pb.go
Labels: automerge, C:x/nft

#10116 perf: store/cachekv: Correct the naming and implementation for existing benchmarks
  store/cachekv/bench_helper_test.go
  store/cachekv/store_bench_test.go
Labels: automerge

#10510 fix: pass through broadcast mode for signing with amino flag
  x/auth/client/cli/tx_sign.go
Labels: C:CLI, C:x/auth, automerge

#10469 feat: Allow futureOps to queue more Ops
  CHANGELOG.md
  x/simulation/simulate.go
Labels: C:Simulations, automerge

#10394 fix: query account balance by ibc denom
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  x/bank/client/testutil/grpc.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Labels: C:CLI, C:x/bank, automerge, backport/0.42.x (Stargate), backport/0.44.x

#10455 feat: Add AuxTxBuilder
  client/tx/aux_builder.go
  client/tx/aux_builder_test.go
  client/tx/legacy_test.go
  client/tx_config.go
  docs/core/proto-docs.md
  proto/cosmos/group/v1beta1/types.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/aux.go
  types/tx/aux_test.go
  types/tx/tx.pb.go
  x/auth/migrations/legacytx/stdtx_builder.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/legacy_amino_json_test.go
Labels: C:CLI, C:x/auth, automerge

#10525 chore: Mergify update
  .mergify.yml
Labels: Type: CI, automerge

#10522 feat: add simulation for nft module
  simapp/app.go
  x/nft/module/module.go
  x/nft/simulation/decoder.go
  x/nft/simulation/decoder_test.go
  x/nft/simulation/genesis.go
  x/nft/simulation/genesis_test.go
  x/nft/simulation/operations.go
  x/nft/simulation/operations_test.go
Labels: C:Simulations, automerge

#10526 fix: bank proto exponent doc
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/bank.proto
  x/bank/types/bank.pb.go
  x/group/types.pb.go
Labels: Type: Docs, C:x/bank, C: Proto

#10529 feat: Min commission upgrade 0.44
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/client/testutil/suite.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/params.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/migrations/v045/store.go
  x/staking/migrations/v045/store_test.go
  x/staking/simulation/genesis.go
  x/staking/spec/08_params.md
  x/staking/types/errors.go
  x/staking/types/params.go
  x/staking/types/params_test.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:CLI, C:Simulations, automerge

#10379 feat: Add upgrade proposal plan validation to CLI
  CHANGELOG.md
  go.mod
  go.sum
  x/upgrade/client/cli/tx.go
  x/upgrade/plan/downloader.go
  x/upgrade/plan/downloader_test.go
  x/upgrade/plan/info.go
  x/upgrade/plan/info_test.go
Labels: C:CLI, C:x/upgrade, automerge

#10544 chore: Iavl iterator
  go.mod
  go.sum
  store/iavl/store.go
Labels: automerge, backport/0.42.x (Stargate), backport/0.44.x

#10542 chore: bump db dependencies
  .github/dependabot.yml
  db/go.mod
  db/go.sum
  go.mod
  go.sum
Labels: Type: CI, automerge

#10536 fix: enable setting sequence (nonce) for module account
  CHANGELOG.md
  x/auth/types/account.go
Labels: Type: Bug, C:x/auth, automerge

#10549 fix: delete ru docs
  docs/ru/README.md
  docs/ru/intro/intro.md
  docs/ru/intro/sdk-app-architecture.md
  docs/ru/intro/sdk-design.md
  docs/ru/intro/why-app-specific.md
  docs/ru/readme.md
Labels: automerge

#10551 build: fix build environment for the liveness test
  .github/workflows/test.yml
  Makefile
  contrib/images/Makefile
  contrib/images/simd-env/Dockerfile
  contrib/images/simd-env/wrapper.sh
  docker-compose.yml
Labels: Type: CI, Type: Build

#10532 feat: update x/upgrade keeper.DumpUpgradeInfoToDisk to support Plan.Info
  CHANGELOG.md
  x/upgrade/abci.go
  x/upgrade/keeper/keeper.go
Labels: C:x/upgrade, automerge

#10550 chore: format protobuf files
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/base/v1beta1/coin.proto
  proto/cosmos/capability/v1beta1/capability.proto
  proto/cosmos/crisis/v1beta1/genesis.proto
  proto/cosmos/crypto/hd/v1/hd.proto
  proto/cosmos/crypto/keyring/v1/record.proto
  proto/cosmos/crypto/multisig/keys.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/distribution/v1beta1/genesis.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/genutil/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/group/v1beta1/query.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/nft/v1beta1/tx.proto
  proto/cosmos/slashing/v1beta1/genesis.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  proto/cosmos/staking/v1beta1/genesis.proto
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  testutil/testdata/testdata.proto
Labels: automerge

#10481 feat: Add Table-Store (aka ORM) package - Genesis
  x/group/go.mod
  x/group/go.sum
  x/group/internal/orm/auto_uint64.go
  x/group/internal/orm/genesis.go
  x/group/internal/orm/genesis_test.go
  x/group/internal/orm/orm_scenario_test.go
  x/group/internal/orm/primary_key.go
  x/group/internal/orm/spec/01_table.md
  x/group/internal/orm/table.go
Labels: automerge

#10208 feat: Add Tips middleware
  CHANGELOG.md
  client/tx_config.go
  types/tx/aux.go
  types/tx/aux_test.go
  x/auth/middleware/middleware.go
  x/auth/middleware/middleware_test.go
  x/auth/middleware/testutil_test.go
  x/auth/middleware/tips.go
  x/auth/middleware/tips_test.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/testutil/suite.go
  x/auth/tx/direct_aux.go
  x/auth/tx/direct_aux_test.go
  x/auth/types/expected_keepers.go
Labels: C:CLI, C:x/auth, automerge

#10547 fix: AuxTxBuilder check all AuxSignerData match
  client/tx/aux_builder.go
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/direct_aux.go
  types/tx/direct_aux_test.go
  types/tx/tx.pb.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
Labels: C:CLI, C:x/auth, automerge

#10458 fix(cosmovisor): udpate the help and version command output
  cosmovisor/CHANGELOG.md
  cosmovisor/args.go
  cosmovisor/args_test.go
  cosmovisor/cmd/cosmovisor/cmd/help.go
  cosmovisor/cmd/cosmovisor/cmd/help_test.go
  cosmovisor/cmd/cosmovisor/cmd/root.go
  cosmovisor/cmd/cosmovisor/cmd/run.go
  cosmovisor/cmd/cosmovisor/cmd/version.go
  cosmovisor/cmd/cosmovisor/main.go
  cosmovisor/errors/multi.go
Labels: automerge, C:Cosmovisor

#10584 doc: Update cosmosvisor README
  cosmovisor/README.md
Labels: C:Cosmovisor

#10561 feat: add configurable iavl cache size
  CHANGELOG.md
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
Labels: Type: Performance, C:Store, automerge, backport/0.44.x

#10589 feat: create v1beta2 gov proto types
  proto/cosmos/gov/v1beta2/genesis.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/query.proto
  proto/cosmos/gov/v1beta2/tx.proto
Labels: automerge

#10507 feat: CheckTX Priority
  x/auth/middleware/fee.go
  x/auth/middleware/middleware.go
  x/auth/middleware/tx_priority.go
Labels: C:x/auth

#10600 feat: init API go module
  api/buf.gen.yaml
  api/buf.yaml
  api/cosmos/orm/v1alpha1/orm.proto
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  api/cosmos/orm/v1alpha1/schema.proto
  api/cosmos/orm/v1alpha1/schema.pulsar.go
  api/go.mod
  api/go.sum
  buf.work.yaml
  scripts/protocgen-api.sh
Labels: Type: Build

#10603 ci: update labeler.yml
  .github/labeler.yml
Labels: automerge

#10601 feat(orm): add ormfield.Codec
  api/buf.yaml
  api/cosmos/orm/v1alpha1/orm.proto
  buf.work.yaml
  orm/encoding/ormfield/bool.go
  orm/encoding/ormfield/bytes.go
  orm/encoding/ormfield/codec.go
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/enum.go
  orm/encoding/ormfield/int32.go
  orm/encoding/ormfield/int64.go
  orm/encoding/ormfield/string.go
  orm/encoding/ormfield/timestamp.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  orm/go.mod
  orm/go.sum
  orm/internal/buf.gen.yaml
  orm/internal/buf.yaml
  orm/internal/testpb/testschema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/internal/testutil/testutil.go
  orm/types/ormerrors/errors.go
  scripts/protocgen-api.sh
  scripts/protocgen2.sh
Labels: Type: Build, C:orm

#10608 fix: always move auth module migration to the end
  CHANGELOG.md
  docs/core/upgrade.md
  types/module/module.go
Labels: automerge

#10613 chore: 0.44.4 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: C:Store, automerge

#10629 docs: ADR-040: fix typos and broken link
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Labels: Type: ADR

#10482 docs: ADR-038 plugin proposal
  docs/architecture/adr-038-state-listening.md
Labels: Type: ADR, automerge

#10628 chore: Minor typos and edits
  docs/basics/app-anatomy.md
Labels: automerge

#10615 docs: adr-43 update and nft proto comments
  docs/architecture/adr-043-nft-module.md
  proto/cosmos/nft/v1beta1/nft.proto
  x/nft/event.pb.go
  x/nft/nft.pb.go
  x/nft/tx.pb.go
Labels: Type: ADR, automerge, C:x/nft

#10634 docs: Update adr-033-protobuf-inter-module-comm.md
  docs/architecture/adr-033-protobuf-inter-module-comm.md
Labels: Type: ADR, automerge

#10607 fix: take in the smallest fee
  x/auth/middleware/priority.go
  x/auth/middleware/priority_test.go
Labels: C:x/auth, automerge

#10635 chore(docs): fix x/authz events doc link
  x/authz/spec/04_events.md
Labels: Type: Docs, automerge, C:x/authz

#10637 chore: add changeling for priority
  CHANGELOG.md
Labels: automerge

#10592 feat: add `DecApproxEq` to decimal
  CHANGELOG.md
  types/decimal.go
  types/decimal_test.go
Labels: automerge

#10642 ci: fix rosetta
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/configuration/data.sh
  contrib/rosetta/docker-compose.yaml
  contrib/rosetta/rosetta-ci/data.tar.gz
Labels: automerge, C:Rosetta

#10641 fix: link text Cosmos SDK
  docs/intro/overview.md
Labels: automerge

#10632 fix: move new gov messages to v1beta2
  client/grpc/tmservice/query.pb.go
  crypto/hd/hd.pb.go
  docs/core/proto-docs.md
  go.mod
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta2/genesis.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/query.proto
  proto/cosmos/gov/v1beta2/tx.proto
  x/authz/tx.pb.go
  x/feegrant/tx.pb.go
  x/gov/types/v1beta2/genesis.pb.go
  x/gov/types/v1beta2/gov.pb.go
  x/gov/types/v1beta2/query.pb.go
  x/gov/types/v1beta2/query.pb.gw.go
  x/gov/types/v1beta2/tx.pb.go
  x/group/go.mod
  x/group/go.sum
  x/group/query.pb.go
  x/upgrade/types/query.pb.go
Labels: C:CLI, C:x/gov, C:x/upgrade, automerge, C:x/feegrant, C:x/authz

#10630 fix: Add Events to TxResponse
  CHANGELOG.md
  go.sum
  proto/cosmos/base/abci/v1beta1/abci.proto
  types/abci.pb.go
  types/result.go
  types/result_test.go
Labels: C:ABCI, backport/0.42.x (Stargate), backport/0.44.x

#10640 feat(orm): add ormkv.KeyCodec
  go.sum
  orm/encoding/ormkv/key_codec.go
  orm/encoding/ormkv/key_codec_test.go
  orm/encoding/ormkv/util.go
  orm/internal/testutil/testutil.go
  orm/types/ormerrors/errors.go
Labels: C:orm
