Repository cosmos/cosmos-sdk, pull requests merged in 2021-10, with the labels that each got.

#10223 docs: update contributing guidelines
  CODING_GUIDELINES.md
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  SECURITY.md
Labels: automerge

#10191 ADR-40: update on multi-store refactor and IBC proofs
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Labels: Type: ADR

#10268 feat: Add `SIGN_MODE_AMINO_AUX` handler
  client/tx_config.go
  docs/core/proto-docs.md
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/auth/migrations/legacytx/stdsign_aux.go
  x/auth/migrations/legacytx/stdtx_builder.go
  x/auth/tx/amino_aux.go
  x/auth/tx/amino_aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/mode_handler.go
Labels: C:CLI, C:x/auth, automerge

#10274 docs: Corrext tx multisign documentation example.
  docs/run-node/txs.md
Labels: Type: Docs, automerge

#10247 fix!: Charge gas for key length in gas meter
  CHANGELOG.md
  store/gaskv/store.go
  store/gaskv/store_test.go
  testutil/testdata/tx.go
  x/authz/client/testutil/tx.go
Labels: C:CLI, automerge, C:x/authz

#10110 ci: setup cosmovisor goreleaser workflow
  .github/workflows/cosmovisor-release.yml
  cosmovisor/.goreleaser.yml
Labels: Type: CI, automerge

#10295 refactor: Remove store type aliases
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  server/mock/app.go
  server/mock/store.go
  server/mock/store_test.go
  simapp/app.go
  simapp/sim_test.go
  testutil/context.go
  types/context.go
  types/store.go
  types/store_internal_test.go
  types/store_test.go
  x/auth/keeper/keeper.go
  x/authz/keeper/keeper.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/migrations/v043/store.go
  x/bank/migrations/v045/store.go
  x/capability/keeper/keeper.go
  x/distribution/keeper/keeper.go
  x/distribution/migrations/v043/store.go
  x/epoching/keeper/keeper.go
  x/evidence/keeper/keeper.go
  x/feegrant/keeper/keeper.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/migrations/v043/store.go
  x/mint/keeper/keeper.go
  x/params/keeper/common_test.go
  x/params/keeper/keeper.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
  x/slashing/keeper/keeper.go
  x/slashing/migrations/v043/store.go
  x/staking/keeper/keeper.go
  x/staking/migrations/v043/store.go
  x/upgrade/keeper/keeper.go
  x/upgrade/types/storeloader.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, automerge, C:x/feegrant, C:x/capability, C:x/authz

#9666 feat: implement low-level dependency injection container
  container/config.go
  container/constructor_info.go
  container/container.go
  container/container_test.go
  container/errors.go
  container/go.mod
  container/go.sum
  container/group.go
  container/location.go
  container/one_per_scope.go
  container/option.go
  container/provider_desc.go
  container/provider_desc_test.go
  container/resolver.go
  container/run.go
  container/scope.go
  container/scope_dep.go
  container/simple.go
  container/struct_args.go
  container/supply.go
Labels: automerge, C:container

#10305 revert: Revert SIGN_MODE_DIRECT_JSON proto files
  docs/core/proto-docs.md
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/auth/tx/amino_aux_test.go
  x/auth/tx/direct_aux_test.go
  x/auth/tx/direct_test.go
  x/group/go.mod
  x/group/go.sum
Labels: C:x/auth, automerge

#9697 feat!: Ensure InitGenesis returns with non-empty validator set
  CHANGELOG.md
  server/export_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  types/module/module.go
  types/module/module_test.go
  x/auth/keeper/grpc_query_test.go
  x/auth/module_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/querier_test.go
  x/distribution/module_test.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/gentx_test.go
  x/gov/genesis_test.go
  x/gov/module_test.go
  x/mint/module_test.go
  x/params/keeper/keeper_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/simulation/operations_test.go
  x/staking/genesis_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/validator_test.go
  x/staking/module_test.go
  x/staking/simulation/operations.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/params, C:x/auth, automerge, C:x/feegrant, C:x/genutil

#10309 chore: clean go.mod
  go.mod
  go.sum
Labels: dependencies, automerge

#10304 docs: add crisis module client docs
  x/crisis/spec/05_client.md
  x/crisis/spec/README.md
Labels: C:x/crisis, automerge

#10307 docs: add client spec for x/slashing
  x/slashing/spec/09_client.md
  x/slashing/spec/README.md
Labels: C:x/slashing, automerge

#10060 style: lint go and markdown
  CODING_GUIDELINES.md
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  contrib/rosetta/README.md
  cosmovisor/README.md
  crypto/keyring/keyring.go
  crypto/keys/multisig/amino.go
  crypto/keys/secp256k1/secp256k1_nocgo.go
  crypto/ledger/ledger_notavail.go
  db/README.md
  docs/404.md
  docs/DOCS_README.md
  docs/architecture/adr-010-modular-antehandler.md
  docs/architecture/adr-022-custom-panic-handling.md
  docs/architecture/adr-038-state-listening.md
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
  docs/architecture/adr-043-nft-module.md
  docs/architecture/adr-044-protobuf-updates-guidelines.md
  docs/architecture/adr-046-module-params.md
  docs/migrations/pre-upgrade.md
  docs/migrations/rest.md
  docs/ru/README.md
  docs/run-node/rosetta.md
  docs/run-node/run-node.md
  docs/run-node/run-testnet.md
  go.mod
  go.sum
  scripts/module-tests.sh
  server/rosetta/client_online.go
  server/rosetta/lib/internal/service/online.go
  simapp/simd/cmd/genaccounts.go
  snapshots/README.md
  store/streaming/README.md
  store/streaming/file/README.md
  store/v2/flat/store.go
  store/v2/smt/store.go
  types/denom.go
  x/auth/middleware/basic.go
  x/auth/middleware/sigverify.go
  x/auth/spec/01_concepts.md
  x/auth/spec/05_vesting.md
  x/auth/spec/07_client.md
  x/authz/spec/05_client.md
  x/bank/spec/README.md
  x/crisis/spec/05_client.md
  x/distribution/migrations/v043/helpers.go
  x/distribution/spec/README.md
  x/epoching/keeper/keeper.go
  x/epoching/spec/03_to_improve.md
  x/evidence/spec/07_client.md
  x/feegrant/spec/README.md
  x/gov/spec/01_concepts.md
  x/gov/spec/07_client.md
  x/group/internal/orm/spec/01_table.md
  x/mint/spec/06_client.md
  x/slashing/spec/09_client.md
  x/slashing/spec/README.md
  x/staking/spec/09_client.md
  x/upgrade/spec/04_client.md
Labels: Type: Bug, C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, Type: Code Hygiene, C:x/mint, Type: Build, C:x/bank, Type: ADR, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, automerge, C:x/feegrant, C:x/authz, C:Cosmovisor, C:Rosetta, backport/0.44.x

#10476 fix: middleware consumeTxSizeGas linting
  x/auth/middleware/basic.go
Labels: C:x/auth
