Repository cosmos/cosmos-sdk, pull requests merged in 2021-05, with the labels that each got.

#9235 store/internal: validate keys before calling ProofsFromMap
  CHANGELOG.md
  store/internal/proofs/create.go
  store/internal/proofs/create_test.go
Labels: Scope: Store, automerge, backport/0.42.x (Stargate)

#9194 x/feegrant API Audit changes
  docs/core/proto-docs.md
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  proto/cosmos/feegrant/v1beta1/genesis.proto
  proto/cosmos/feegrant/v1beta1/query.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  x/auth/ante/feegrant_test.go
  x/feegrant/client/cli/query.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/doc.go
  x/feegrant/genesis.go
  x/feegrant/genesis_test.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/simulation/decoder.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/spec/01_concepts.md
  x/feegrant/spec/04_events.md
  x/feegrant/spec/README.md
  x/feegrant/types/basic_fee.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/codec.go
  x/feegrant/types/feegrant.pb.go
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/genesis.go
  x/feegrant/types/genesis.pb.go
  x/feegrant/types/grant.go
  x/feegrant/types/grant_test.go
  x/feegrant/types/msgs.go
  x/feegrant/types/msgs_test.go
  x/feegrant/types/periodic_fee.go
  x/feegrant/types/periodic_fee_test.go
  x/feegrant/types/query.pb.go
  x/feegrant/types/query.pb.gw.go
  x/feegrant/types/tx.pb.go
Labels: Scope: CLI, Scope: Simulations, Scope: x/auth, Scope: x/feegrant, Type: API Breaking, Type: Docs, Type: Proto Breaking, automerge

#8928 docs: x/distribution spec
  x/distribution/keeper/hooks.go
  x/distribution/spec/01_concepts.md
  x/distribution/spec/02_state.md
  x/distribution/spec/03_begin_block.md
  x/distribution/spec/03_end_block.md
  x/distribution/spec/04_messages.md
  x/distribution/spec/05_hooks.md
  x/distribution/spec/07_params.md
  x/distribution/spec/README.md
  x/distribution/types/keys.go
  x/slashing/spec/02_state.md
Labels: Scope: x/distribution, Scope: x/slashing, Type: Docs, automerge

#9134 Rename memo to note inside CLI
  CHANGELOG.md
  client/flags/flags.go
  client/tx/factory.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service_test.go
Labels: Scope: CLI, Scope: x/auth, automerge

#9261 bump IAVL to 0.16.0
  go.mod
  go.sum
Labels: automerge

#9260 x/bank/types: use simpler implementation for sorting balance by address
  x/bank/types/balance.go
Labels: Scope: x/bank, automerge

#9240 add sorted check for the coins sub/add fun parameter
  types/coin.go
  types/coin_internal_test.go
  types/coin_test.go
Labels: Status: Backlog, automerge

#9206 x/feegrant remove height base expiration
  docs/architecture/adr-029-fee-grant-module.md
  docs/core/proto-docs.md
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  x/feegrant/client/cli/tx.go
  x/feegrant/genesis.go
  x/feegrant/genesis_test.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/simulation/genesis.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/types/basic_fee.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/expected_keepers.go
  x/feegrant/types/expiration.go
  x/feegrant/types/expiration_test.go
  x/feegrant/types/feegrant.pb.go
  x/feegrant/types/fees.go
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/grant.go
  x/feegrant/types/grant_test.go
  x/feegrant/types/msgs_test.go
  x/feegrant/types/periodic_fee.go
  x/feegrant/types/periodic_fee_test.go
Labels: Scope: CLI, Scope: Simulations, Scope: x/feegrant, Type: ADR, Type: Docs, automerge

#9264 x/staking: lazily get consensus key address
  x/staking/genesis.go
Labels: Scope: x/staking

#9265 Update `memo` usage docs
  docs/core/proto-docs.md
  docs/core/transactions.md
  proto/cosmos/tx/v1beta1/tx.proto
  types/tx/tx.pb.go
Labels: Type: Docs, automerge

#9273 Move x/feegrant/types to x/feegrant
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  proto/cosmos/feegrant/v1beta1/genesis.proto
  proto/cosmos/feegrant/v1beta1/query.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  simapp/app.go
  simapp/app_test.go
  simapp/params/weights.go
  x/auth/ante/feegrant_test.go
  x/feegrant/basic_fee.go
  x/feegrant/basic_fee_test.go
  x/feegrant/client/cli/query.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/codec.go
  x/feegrant/doc.go
  x/feegrant/errors.go
  x/feegrant/events.go
  x/feegrant/expected_keepers.go
  x/feegrant/feegrant.pb.go
  x/feegrant/fees.go
  x/feegrant/filtered_fee.go
  x/feegrant/genesis.go
  x/feegrant/genesis.pb.go
  x/feegrant/grant.go
  x/feegrant/grant_test.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/key.go
  x/feegrant/module/module.go
  x/feegrant/msgs.go
  x/feegrant/msgs_test.go
  x/feegrant/periodic_fee.go
  x/feegrant/periodic_fee_test.go
  x/feegrant/query.pb.go
  x/feegrant/query.pb.gw.go
  x/feegrant/simulation/decoder.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/spec/01_concepts.md
  x/feegrant/spec/02_state.md
  x/feegrant/spec/03_messages.md
  x/feegrant/spec/04_events.md
  x/feegrant/spec/README.md
  x/feegrant/tx.pb.go
  x/feegrant/types/genesis.go
Labels: Scope: CLI, Scope: Simulations, Scope: x/auth, Scope: x/feegrant, Type: Docs, automerge

#9236 Cleanup remains of ServiceMsg
  CHANGELOG.md
  client/tx/legacy_test.go
  client/tx/tx.go
  docs/core/proto-docs.md
  proto/cosmos/base/reflection/v2alpha1/reflection.proto
  server/grpc/reflection/v2alpha1/reflection.go
  server/grpc/reflection/v2alpha1/reflection.pb.go
  types/msgservice/service_msg_client.go
  x/auth/client/rest/rest_test.go
  x/auth/legacy/legacytx/stdsign.go
  x/auth/vesting/client/cli/tx.go
  x/authz/client/cli/tx.go
  x/authz/simulation/operations.go
  x/bank/client/cli/tx.go
  x/crisis/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/evidence/types/msgs_test.go
  x/feegrant/client/cli/tx.go
  x/feegrant/simulation/operations.go
  x/genutil/client/testutil/suite.go
  x/gov/client/cli/tx.go
  x/params/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
  x/upgrade/client/cli/tx.go
Labels: Scope: CLI, Scope: Simulations, Scope: x/auth, Scope: x/authz, Scope: x/bank, Scope: x/crisis, Scope: x/distribution, Scope: x/evidence, Scope: x/feegrant, Scope: x/genutil, Scope: x/gov, Scope: x/params, Scope: x/slashing, Scope: x/staking, Scope: x/upgrade, Type: Docs, automerge

#9281 router: fix handler name
  baseapp/msg_service_router.go
  x/authz/keeper/msg_server.go
Labels: Scope: x/authz, Status: In Review, Type: API Breaking, Type: Code Hygiene, automerge, size: 1

#9258 x/gov v0.43 Audit updates
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/tx.proto
  x/gov/client/cli/tx.go
  x/gov/genesis_test.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/internal_test.go
  x/gov/module.go
  x/gov/spec/01_concepts.md
  x/gov/types/msgs_test.go
  x/gov/types/proposal.go
  x/gov/types/tx.pb.go
Labels: Scope: CLI, Scope: x/gov, Type: Docs, automerge

#9270 ADR-30 (authz) update based on authz audit
  docs/architecture/adr-030-authz-module.md
  x/bank/types/send_authorization.go
Labels: Scope: x/bank, Status: In Review, Type: ADR, Type: Docs, automerge

#9279 Fix proto format
  Makefile
  docs/core/proto-docs.md
  proto/cosmos/authz/v1beta1/authz.proto
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  proto/cosmos/base/reflection/v2alpha1/reflection.proto
  proto/cosmos/base/store/v1beta1/listening.proto
  proto/cosmos/crypto/secp256r1/keys.proto
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/tx/v1beta1/service.proto
  server/grpc/reflection/v2alpha1/reflection.pb.go
  store/types/listening.pb.go
  types/tx/tx.pb.go
Labels: Status: In Progress, Type: Bug, Type: Build, Type: Docs, automerge

#9089 ADR-042: Group module
  docs/architecture/adr-042-group-module.md
Labels: Type: ADR, Type: Docs, automerge

#9297 v043 audit changes for telemetry/
  telemetry/metrics.go
  telemetry/wrapper.go
Labels: automerge

#9295 v0.43 audit changes for `client/`
  client/config/cmd.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
  client/keys/add.go
Labels: Scope: CLI, Scope: Keys, automerge

#9296 v043 audit changes for version/
  version/command.go
Labels: automerge

#9303 update labeler.yml with shortened labels
  .github/labeler.yml
Labels: Type: CI, automerge

#9298 Update x/auth AnteHandler Spec
  x/auth/spec/03_antehandlers.md
Labels: C:x/auth, Type: Docs, automerge

#9299 Fixed parse key issue
  simapp/simd/cmd/root.go
Labels: automerge

#9294 doc: Updates related to ServiceMsg, sdk.Msg and Msg service
  docs/basics/app-anatomy.md
  docs/basics/gas-fees.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/intro.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/msg-services.md
  docs/building-modules/query-services.md
  docs/building-modules/structure.md
  docs/core/baseapp.md
  docs/core/events.md
  docs/core/grpc_rest.md
  docs/core/transactions.md
  docs/intro/sdk-app-architecture.md
  docs/migrations/app_and_modules.md
  x/authz/authorizations.go
Labels: C:x/authz, Type: Docs, automerge

#9075 Use module accounts in MsgSend and MsgMultiSend tests in bank module
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
Labels: C:Simulations, C:x/bank, automerge

#9328 Minor doc fix for `missed_blocks` proto field
  proto/cosmos/slashing/v1beta1/genesis.proto
Labels: automerge

#9314 rosetta: upgrade to newest version
  CHANGELOG.md
  contrib/rosetta/docker-compose.yaml
  contrib/rosetta/rosetta-cli/Dockerfile
  docs/architecture/adr-035-rosetta-api-support.md
  docs/run-node/rosetta.md
  go.mod
  go.sum
  server/rosetta.go
  server/rosetta/client_offline.go
  server/rosetta/client_online.go
  server/rosetta/config.go
  server/rosetta/converter.go
  server/rosetta/converter_test.go
  server/rosetta/lib/errors/errors.go
  server/rosetta/lib/errors/errors_test.go
  server/rosetta/lib/errors/registry.go
  server/rosetta/lib/internal/service/construction.go
  server/rosetta/lib/internal/service/data.go
  server/rosetta/lib/internal/service/offline.go
  server/rosetta/lib/internal/service/online.go
  server/rosetta/lib/server/server.go
  server/rosetta/lib/types/types.go
  server/rosetta/util.go
  server/start.go
  x/authz/keeper/grpc_query_test.go
  x/authz/simulation/genesis_test.go
  x/authz/simulation/operations.go
  x/feegrant/filtered_fee.go
  x/feegrant/msgs_test.go
Labels: C:Rosetta, C:Simulations, C:x/authz, C:x/feegrant, Type: ADR, Type: Docs

#9335 Update Stable Release Managers
  STABLE_RELEASES.md
Labels: automerge

#9290 v043 audit changes for `types/`
  docs/core/proto-docs.md
  proto/cosmos/base/query/v1beta1/pagination.proto
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  types/address.go
  types/address/README.md
  types/address/hash.go
  types/query/pagination.go
  types/query/pagination.pb.go
  types/query/pagination_test.go
Labels: Type: Docs, automerge

#9345 deps: bump all deps for arm
  go.mod
  go.sum
Labels: Status: Backlog

#9333 fix SA5011 static check in ibc/../chain.go
  x/ibc/testing/chain.go
Labels: Status: Backlog, Type: Tests, automerge

#9315 SDK Core Audit - simapp updates
  simapp/app.go
  simapp/app_test.go
  simapp/state.go
  simapp/test_helpers.go
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/signing/verify_test.go
  x/auth/vesting/handler_test.go
  x/authz/keeper/keeper_test.go
  x/authz/simulation/operations_test.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier_test.go
  x/bank/simulation/operations_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations_test.go
  x/slashing/simulation/operations_test.go
  x/staking/genesis_test.go
  x/staking/handler_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/operations_test.go
Labels: C:Simulations, C:x/auth, C:x/authz, C:x/bank, C:x/distribution, C:x/feegrant, C:x/genutil, C:x/gov, C:x/slashing, C:x/staking, automerge

#9354 fix: add missing nil check in store.GetStore
  store/cachemulti/store.go
  store/cachemulti/store_test.go
  store/rootmulti/store.go
Labels: C:Store, Status: Backlog, Type: Bug, automerge, backport/0.42.x (Stargate)

#9211 fix client config don't take effect
  client/config/config.go
  client/keys/add.go
  client/keys/show.go
Labels: C:CLI, C:Keys, automerge, backport/0.42.x (Stargate)

#9349 Update why-app-specific.md
  docs/intro/why-app-specific.md
Labels: Type: Docs, automerge

#9231 Remove Redundant Staking Errors
  CHANGELOG.md
  x/staking/client/cli/tx.go
  x/staking/client/testutil/suite.go
  x/staking/keeper/delegation.go
  x/staking/keeper/msg_server.go
  x/staking/types/errors.go
  x/staking/types/msg.go
Labels: C:CLI, C:x/staking, automerge

#9358 docs: Add cosmovisor docs on Auto-Download
  docs/run-node/cosmovisor.md
Labels: Type: Docs, automerge

#9073 x/upgrade gRPC methods for VersionMap
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/query.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/upgrade/client/cli/query.go
  x/upgrade/client/testutil/cli_test.go
  x/upgrade/client/testutil/suite.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/types/query.pb.go
  x/upgrade/types/query.pb.gw.go
  x/upgrade/types/upgrade.pb.go
Labels: C:CLI, C:x/upgrade, Type: Docs, automerge

#9322 docs: update module interfaces
  docs/building-modules/module-interfaces.md
  docs/building-modules/structure.md
Labels: Type: Docs, automerge

#9334 update spec and fix code snippets
  docs/core/proto-docs.md
  proto/cosmos/authz/v1beta1/tx.proto
  x/authz/spec/01_concepts.md
  x/authz/spec/02_state.md
  x/authz/spec/03_messages.md
  x/authz/spec/README.md
  x/authz/tx.pb.go
  x/slashing/types/genesis.pb.go
Labels: C:x/authz, C:x/slashing, Status: Backlog, Type: Docs, automerge

#9364 docs: cosmovisor docs clean-up
  cosmovisor/README.md
  docs/run-node/cosmovisor.md
Labels: C:Cosmovisor, Type: Docs, automerge

#9363 fix: store key uniqueness
  types/store.go
  types/store_internal_test.go
  types/store_test.go
Labels: C:Store, Type: Bug, automerge

#8653 cosmovisor: set larger buffer size for cosmovisor to scan log (fix #8651)
  cosmovisor/args.go
  cosmovisor/process.go
  docs/run-node/cosmovisor.md
Labels: C:Cosmovisor, Type: Docs, Type: Feature, automerge

#9370 docs: minor edits and typo fix on 06_begin_block.md
  x/evidence/spec/06_begin_block.md
Labels: C:x/evidence, Type: Docs, automerge

#9380 docs: added the ts-relayer to the implementations list
  docs/ibc/relayer.md
Labels: Type: Docs

#9376 types: fix godoc
  types/module/module.go
Labels: C:Types, automerge

#9341 chore: add lint-pr action
  .github/workflows/lint-pr.yml
Labels: Type: CI, automerge

#9374 docs: update simapp instructions
  simapp/README.md
Labels: automerge

#9127 test: fix mockgen version
  Makefile
  go.mod
  go.sum
  simapp/app_test.go
  tests/mocks/account_retriever.go
  tests/mocks/grpc_server.go
  tests/mocks/tendermint_tendermint_libs_log_DB.go
  tests/mocks/tendermint_tm_db_DB.go
  tests/mocks/types_handler.go
  tests/mocks/types_invariant.go
  tests/mocks/types_module_module.go
  tests/mocks/types_router.go
  types/handler_test.go
Labels: Status: Ready, Type: Build, automerge

#9383 CLI: `query ibc-transfer escrow-address`
  CHANGELOG.md
  x/ibc/applications/transfer/client/cli/cli.go
  x/ibc/applications/transfer/client/cli/query.go
Labels: Status: Backlog

#9388 Adding clarity to ADR 043 nft data field
  docs/architecture/adr-043-nft-module.md
Labels: Type: ADR, Type: Docs

#9390 feat: add header hash to `Context`
  CHANGELOG.md
  baseapp/abci.go
  types/context.go
  types/context_test.go
Labels: automerge, backport/0.42.x (Stargate)

#9382 feat: add Dec.Float64() function
  CHANGELOG.md
  types/decimal.go
  types/decimal_test.go
Labels: automerge

#9391 test: add test for unpacking interface on validator request
  docs/core/encoding.md
  server/grpc/server_test.go
Labels: Type: Docs, automerge

#9416 fix: rollback height->Height in x/upgrade plan.DueAt formatting
  x/upgrade/abci_test.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
Labels: C:x/upgrade, Type: Bug, automerge
