Repository cosmos/cosmos-sdk, pull requests merged in 2021-04, with the labels that each got.

#9041 [Backport] Add ledger/multisig detection in SignTx functions (#9026)
  x/auth/client/cli/cli_test.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
Labels: automerge, backlog

#8897 x/upgrade: protocol version tracking
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  simapp/app.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/spec/02_state.md
  x/upgrade/types/keys.go
Labels: automerge, x/upgrade

#9007 InitGenesis in migrations when fromVersion==0
  simapp/app.go
  simapp/app_test.go
  types/module/configurator.go
  types/module/module.go
  types/module/module_test.go
  x/upgrade/types/handler.go
Labels: automerge, migration

#9038 x/auth new test - multisig tx on simulate endpoint
  x/auth/tx/service_test.go
Labels: automerge, tests

#8712 PlantUML diagrams
  Dockerfile
  docs/building-modules/msg-services.md
  docs/core/ocap.md
  docs/pre.sh
  docs/uml/begin_redelegation_sequence.puml
  docs/uml/delegation_sequence.puml
  docs/uml/keeper_dependencies.puml
  docs/uml/transaction_flow.puml
  docs/uml/unbond_sequence.puml
  x/staking/spec/03_messages.md
Labels: automerge

#9049 Fix submit delegation swagger
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
Labels: automerge

#8960 revert 8909
  CHANGELOG.md
  x/staking/client/cli/cli_test.go
  x/staking/simulation/operations.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Labels: automerge, x/staking

#9051 Store supply as Int bytes rather than string bytes
  CHANGELOG.md
  x/bank/keeper/keeper.go
  x/bank/legacy/v043/store.go
  x/bank/legacy/v043/store_test.go
  x/bank/spec/01_state.md
Labels: automerge, backlog

#8798 Paginate supply queries
  CHANGELOG.md
  contrib/rosetta/configuration/bootstrap.json
  contrib/rosetta/node/data.tar.gz
  proto/cosmos/bank/v1beta1/query.proto
  types/query/pagination.go
  x/bank/client/cli/cli_test.go
  x/bank/client/cli/query.go
  x/bank/client/rest/grpc_query_test.go
  x/bank/client/rest/query_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/querier.go
  x/bank/keeper/querier_test.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
Labels: automerge

#9044 Update IBC overview document to latest ICS-24 link
  docs/ibc/overview.md
Labels: automerge, backport/0.42.x (Stargate), docs

#9059 docker: remove plantuml install
  Dockerfile
Labels: automerge

#9064 Use Docker to generate swagger files
  CHANGELOG.md
  Makefile
  client/docs/swagger-ui/swagger.yaml
  contrib/devtools/dockerfile
  docs/core/proto-docs.md
  server/grpc/reflection/v2alpha1/reflection.pb.go
Labels: automerge

#9018 Refactor auth cli tests
  x/auth/client/cli/cli_test.go
Labels: automerge, code-hygiene, tests

#9061 x/bank/types: fix AddressFromBalancesStore panics with invalid keys
  CHANGELOG.md
  x/bank/keeper/view.go
  x/bank/types/errors.go
  x/bank/types/key.go
  x/bank/types/key_test.go
Labels: automerge

#9082 Backport #9081: bump tendermint core
  go.mod
  go.sum
  x/staking/client/rest/grpc_query_test.go
Labels: backlog

#8995 x/authz charge gas for expensive authorizations
  types/msgservice/msg_service.go
  types/tx/types.go
  x/authz/client/cli/tx_test.go
  x/authz/exported/authorizations.go
  x/authz/keeper/keeper.go
  x/authz/simulation/operations.go
  x/authz/types/generic_authorization.go
  x/authz/types/generic_authorization_test.go
  x/authz/types/msgs.go
  x/bank/types/send_authorization.go
  x/bank/types/send_authorization_test.go
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Labels: automerge, x/authz

#8604 feegrant filtered msgs
  docs/core/proto-docs.md
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/feegrant/client/cli/cli_test.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/rest/grpc_query_test.go
  x/feegrant/genesis.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/simulation/operations.go
  x/feegrant/types/basic_fee.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/codec.go
  x/feegrant/types/errors.go
  x/feegrant/types/feegrant.pb.go
  x/feegrant/types/fees.go
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/genesis.go
  x/feegrant/types/grant.go
  x/feegrant/types/msgs.go
  x/feegrant/types/periodic_fee.go
  x/feegrant/types/periodic_fee_test.go
Labels: automerge, x/feegrant

#8497 cosmovisor: move binary to UpgradeBin from directory (fix #8494)
  cosmovisor/upgrade.go
Labels: stale

#9090 Update chain migration docs to use v0.42
  docs/migrations/chain-upgrade-guide-040.md
Labels: backport/0.42.x (Stargate), docs

#9097 x/: remove unneeded exported files
  x/authz/exported/keeper.go
  x/staking/exported/exported.go
Labels: automerge

#8979 Keyring migrate command doc
  docs/migrations/README.md
  docs/migrations/keyring.md
Labels: automerge, backport/0.42.x (Stargate), docs

#9099 docs: bump vuepress-theme-cosmos
  docs/package-lock.json
  docs/package.json
Labels: automerge, docs

#9091 Add AddAmount/SubAmount methods to sdk.Coin
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
Labels: automerge

#9040 Add env variable to cmd flags
  client/config/config_test.go
  client/context.go
  simapp/simd/cmd/root.go
Labels: automerge, backport/0.42.x (Stargate)

#9098 module/types code hygiene - utilize map access 2nd return value
  simapp/app_test.go
  types/module/module.go
Labels: automerge, code-hygiene

#8967 documentation for in-place migrations with x/upgrade module
  docs/building-modules/README.md
  docs/building-modules/upgrade.md
  docs/core/README.md
  docs/core/upgrade.md
Labels: automerge, docs

#9118 x/authz & x/feegrant: documentation for gas consumption
  x/authz/spec/01_concepts.md
  x/authz/spec/README.md
  x/feegrant/spec/01_concepts.md
  x/feegrant/spec/README.md
Labels: automerge, docs

#9088 ADR-28 derive address functions
  CHANGELOG.md
  docs/architecture/adr-028-public-key-addresses.md
  types/address/hash.go
  types/address/hash_test.go
Labels: ADR, automerge

#9124 docs: uml hotfix
  docs/building-modules/msg-services.md
  docs/core/ocap.md
  docs/pre.sh
  docs/uml/puml/begin_redelegation_sequence.puml
  docs/uml/puml/delegation_sequence.puml
  docs/uml/puml/keeper_dependencies.puml
  docs/uml/puml/transaction_flow.puml
  docs/uml/puml/unbond_sequence.puml
  docs/uml/svg/begin_redelegation_sequence.svg
  docs/uml/svg/delegation_sequence.svg
  docs/uml/svg/keeper_dependencies.svg
  docs/uml/svg/transaction_flow.svg
  docs/uml/svg/unbond_sequence.svg
  x/staking/spec/03_messages.md
Labels: docs

#9126 Minor docs update to sdk.Int
  types/int.go
Labels: automerge

#9132 Add comment on x/auth hacky migration script
  x/auth/legacy/v043/store.go
Labels: automerge, x/auth

#9108 fix show multisig query
  CHANGELOG.md
  client/keys/show.go
  client/keys/show_test.go
Labels: automerge, backlog

#8628 Set proper default command output
  CHANGELOG.md
  client/flags/flags.go
  client/keys/add.go
  client/keys/list.go
  client/keys/migrate.go
  server/export.go
  simapp/simd/cmd/root.go
  version/command.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/cli/validate_sigs.go
  x/authz/types/generic_authorization_test.go
  x/bank/types/send_authorization_test.go
  x/feegrant/types/filtered_fee.go
Labels: automerge, backport/0.42.x (Stargate)

#7727 ADR036: Arbitrary signature
  docs/architecture/adr-036-arbitrary-signature.md
Labels: ADR, automerge

#8520 Add support for permanent locked vesting accounts
  docs/core/proto-docs.md
  proto/cosmos/vesting/v1beta1/vesting.proto
  x/auth/vesting/exported/exported.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/common_test.go
  x/auth/vesting/types/vesting.pb.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Labels: automerge

#9133 Add hooks to governance actions
  CHANGELOG.md
  simapp/app.go
  x/gov/abci.go
  x/gov/keeper/deposit.go
  x/gov/keeper/hooks.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/internal_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/types/expected_keepers.go
  x/gov/types/hooks.go
Labels: x/gov

#9163 crypto/types: check for overflow and unreasonably large element count
  crypto/types/compact_bit_array.go
  crypto/types/compact_bit_array_test.go
Labels: security

#9087 backport: update legacy rest swagger (#9049)
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
Labels: backlog

#9157 types: make NewDecFromStr returns error for too large decimal
  types/decimal.go
  types/decimal_test.go
Labels: backport/0.42.x (Stargate), security

#9173 crypto/types: check for overflow and unreasonably large element count
  crypto/types/compact_bit_array.go
  crypto/types/compact_bit_array_test.go
Labels: backlog

#9175 backport: make NewDecFromStr returns error for too large decimal
  types/decimal.go
  types/decimal_test.go
Labels: backlog

#6711 Make integration test suites reusable by apps
  x/auth/client/testutil/cli_test.go
  x/auth/client/testutil/suite.go
  x/auth/vesting/client/testutil/cli_test.go
  x/auth/vesting/client/testutil/suite.go
  x/authz/client/testutil/cli_test.go
  x/authz/client/testutil/query.go
  x/authz/client/testutil/tx.go
  x/bank/client/testutil/cli_test.go
  x/bank/client/testutil/suite.go
  x/crisis/client/testsuite/cli_test.go
  x/crisis/client/testsuite/suite.go
  x/distribution/client/testutil/cli_test.go
  x/distribution/client/testutil/suite.go
  x/evidence/client/testutil/cli_test.go
  x/evidence/client/testutil/suite.go
  x/feegrant/client/testutil/cli_test.go
  x/feegrant/client/testutil/suite.go
  x/genutil/client/testutil/cli_test.go
  x/genutil/client/testutil/migrate.go
  x/genutil/client/testutil/suite.go
  x/genutil/client/testutil/validate_genesis.go
  x/gov/client/testutil/cli_test.go
  x/gov/client/testutil/suite.go
  x/mint/client/testutil/cli_test.go
  x/mint/client/testutil/suite.go
  x/params/client/testutil/cli_test.go
  x/params/client/testutil/suite.go
  x/slashing/client/testutil/cli_test.go
  x/slashing/client/testutil/suite.go
  x/staking/client/rest/grpc_query_test.go
  x/staking/client/testutil/cli_test.go
  x/staking/client/testutil/suite.go
Labels: backlog, pinned

#9202 docs: remove deployment
  .github/workflows/docs.yml
Labels: automerge, docs

#9191 remove IBC ADRs
  docs/architecture/README.md
  docs/architecture/adr-001-coin-source-tracing.md
  docs/architecture/adr-015-ibc-packet-receiver.md
  docs/architecture/adr-025-ibc-passive-channels.md
  docs/architecture/adr-026-ibc-client-recovery-mechanisms.md
Labels: automerge

#9192 setup: reuses proto container
  Makefile
Labels: automerge, backport/0.42.x (Stargate)

#9169 Proposal for expanding the ADR committee
  .github/CODEOWNERS
  CONTRIBUTING.md
Labels: proposal

#9196 crypto/types: fix negative index accesses in CompactUnmarshal,GetIndex,SetIndex
  crypto/types/compact_bit_array.go
  crypto/types/compact_bit_array_test.go
Labels: automerge

#9201 Fix init --recover not working
  x/genutil/client/cli/init.go
Labels: automerge

#9145 x/feegrant simulation audit changes
  x/feegrant/simulation/genesis.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/types/msgs.go
Labels: automerge, in-review, x/feegrant

#9210 backport 0.42.x: Fix IBC doc links
  docs/ibc/custom.md
  docs/ibc/integration.md
  docs/ibc/overview.md
  docs/ibc/relayer.md
Labels: docs

#9177 x/feegrant completeness audit updates
  x/authz/client/cli/tx.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/rest/grpc_query_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/genesis.go
  x/feegrant/genesis_test.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/module.go
Labels: automerge

#9204 Add labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: automerge

#9185 Add more details in error message for invalid vote option
  x/gov/types/vote.go
Labels: Scope: x/gov, automerge, backport/0.42.x (Stargate)

#9219 staking: remove unused list
  x/staking/keeper/keeper.go
Labels: Scope: x/staking, automerge

#9193 x/feegrant audit: clean up / add test coverage to types package
  x/feegrant/client/testutil/suite.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/expiration_test.go
  x/feegrant/types/filtered_fee.go
  x/feegrant/types/grant_test.go
  x/feegrant/types/msgs.go
  x/feegrant/types/msgs_test.go
  x/feegrant/types/periodic_fee_test.go
Labels: Scope: CLI, Scope: x/feegrant, automerge

#9176 x/feegrant state machine audit updates
  x/feegrant/client/testutil/suite.go
  x/feegrant/genesis_test.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/types/basic_fee_test.go
  x/feegrant/types/periodic_fee_test.go
Labels: Scope: CLI, Scope: x/feegrant, automerge

#9223 x/gov/keeper: fix flaky TestPaginatedVotesQuery
  x/gov/keeper/querier_test.go
Labels: Scope: x/gov, automerge, backport/0.42.x (Stargate)

#9214 Added a "new_shares" attribute inside the delegate event type
  CHANGELOG.md
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Labels: Scope: x/staking

#9212 fix validator address prefix
  x/staking/keeper/val_state_change.go
Labels: Scope: x/staking, automerge, backport/0.42.x (Stargate)

#9137 gov, params: refactor tests
  x/gov/keeper/proposal_test.go
  x/params/proposal_handler_test.go
Labels: Scope: x/gov, Scope: x/params, automerge

#9205 Improve readability in handleQueryP2P
  CHANGELOG.md
  baseapp/abci.go
Labels: automerge

#9229 fix zero coins
  CHANGELOG.md
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Labels: Scope: x/bank, automerge, backport/0.42.x (Stargate)
