Repository cosmos/cosmos-sdk, pull requests merged in 2022-01, with the labels that each got.

#10820 chore: remove proto docs
  .markdownlintignore
  docs/core/grpc_rest.md
  docs/core/proto-docs.md
  scripts/protocgen.sh
  x/authz/spec/04_events.md
Labels: Type: Build, automerge, C:x/authz

#10800 docs: Add docs for group module
  x/group/spec/01_concepts.md
  x/group/spec/02_state.md
  x/group/spec/03_messages.md
  x/group/spec/04_events.md
  x/group/spec/05_client.md
  x/group/spec/README.md
Labels: automerge

#10827 fix: create query context with requested block height
  CHANGELOG.md
  baseapp/abci.go
  client/query.go
Labels: C:baseapp, C:CLI, automerge, backport/0.44.x, backport/0.45.x

#10852 refactor: move gov types to v1beta2
  CHANGELOG.md
  proto/cosmos/gov/v1beta2/genesis.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/query.proto
  proto/cosmos/gov/v1beta2/tx.proto
  x/authz/simulation/genesis.go
  x/gov/client/testutil/cli_test.go
  x/gov/keeper/params.go
  x/gov/keeper/querier.go
  x/gov/keeper/querier_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/types/v1beta2/codec.go
  x/gov/types/v1beta2/content.go
  x/gov/types/v1beta2/deposit.go
  x/gov/types/v1beta2/genesis.go
  x/gov/types/v1beta2/genesis.pb.go
  x/gov/types/v1beta2/genesis_test.go
  x/gov/types/v1beta2/gov.pb.go
  x/gov/types/v1beta2/msgs.go
  x/gov/types/v1beta2/msgs_test.go
  x/gov/types/v1beta2/params.go
  x/gov/types/v1beta2/proposal.go
  x/gov/types/v1beta2/proposals_test.go
  x/gov/types/v1beta2/querier.go
  x/gov/types/v1beta2/query.pb.go
  x/gov/types/v1beta2/query.pb.gw.go
  x/gov/types/v1beta2/tally.go
  x/gov/types/v1beta2/tx.pb.go
  x/gov/types/v1beta2/vote.go
Labels: C:CLI, C:x/gov, C:Simulations, automerge, C:x/authz

#10878 chore: link go.mod's to tagged errors/v1.0.0-beta.2 go.mod
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  orm/types/ormerrors/errors.go
  x/group/go.mod
  x/group/go.sum
Labels: C:orm

#10865 fix: Update "Group Account" naming to "Group Policy" in group module
  proto/cosmos/group/v1beta1/events.proto
  proto/cosmos/group/v1beta1/query.proto
  proto/cosmos/group/v1beta1/tx.proto
  proto/cosmos/group/v1beta1/types.proto
  x/group/client/cli/query.go
  x/group/client/cli/tx.go
  x/group/client/testutil/query.go
  x/group/client/testutil/tx.go
  x/group/codec.go
  x/group/events.pb.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/invariants.go
  x/group/keeper/invariants_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
  x/group/msgs.go
  x/group/query.pb.go
  x/group/query.pb.gw.go
  x/group/spec/01_concepts.md
  x/group/spec/02_state.md
  x/group/spec/03_messages.md
  x/group/spec/04_events.md
  x/group/spec/05_client.md
  x/group/tx.pb.go
  x/group/types.go
  x/group/types.pb.go
Labels: C:CLI, automerge

#10874 docs: fee grant 2 words
  x/feegrant/spec/README.md
Labels: C:x/feegrant

#10564 fix: fix bug when updating allowance inside AllowedMsgAllowance
  CHANGELOG.md
  x/feegrant/filtered_fee.go
  x/feegrant/filtered_fee_test.go
Labels: automerge, C:x/feegrant

#10614 feat: support in-place migration ordering
  CHANGELOG.md
  docs/core/upgrade.md
  simapp/app.go
  types/errors/errors.go
  types/module/module.go
  types/module/module_int_test.go
Labels: automerge, backport/0.45.x

#10892 chore: fix group events proto
  proto/cosmos/group/v1beta1/events.proto
Labels: automerge

#10882 fix(cli): reset the app data
  server/tm_cmds.go
Labels: automerge, backport/0.45.x

#10883 feat: Add timestamp to group, group policy and member
  proto/cosmos/group/v1beta1/types.proto
  x/group/go.sum
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/types.go
  x/group/types.pb.go
Labels: automerge

#10884 chore: remove duplicate abci metrics
  baseapp/abci.go
  docs/core/telemetry.md
Labels: automerge

#10901 build: add scripts to update all go.mod's at once
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  scripts/go-mod-tidy-all.sh
  scripts/go-update-dep-all.sh
  x/group/go.mod
  x/group/go.sum
Labels: Type: Build, automerge, C:orm

#10897 fix: use full gas on overflow
  CHANGELOG.md
  store/types/gas.go
  x/auth/middleware/fee.go
  x/auth/middleware/middleware.go
Labels: C:Store, C:x/auth, automerge, backport/0.45.x

#10918 fix: fixed an incorrect PR link for #10529
  CHANGELOG.md
Labels: automerge

#10659 feat: Add genesis import/export to group module
  proto/cosmos/group/v1beta1/genesis.proto
  simapp/app.go
  simapp/app_test.go
  x/group/client/cli/tx.go
  x/group/genesis.go
  x/group/genesis.pb.go
  x/group/genesis_test.go
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/module/module.go
  x/group/msgs.go
  x/group/spec/05_client.md
  x/group/spec/README.md
  x/group/types.go
Labels: C:CLI, automerge

#10770 fix: should revert tx when block gas limit exceeded
  CHANGELOG.md
  baseapp/baseapp_test.go
  x/auth/middleware/block_gas.go
  x/auth/middleware/branch_store.go
  x/auth/middleware/branch_store_test.go
  x/auth/middleware/middleware.go
  x/auth/middleware/recovery.go
  x/auth/middleware/run_msgs.go
Labels: C:x/auth, automerge

#10895 ci: move test-race to its own job
  .github/workflows/check-docs.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: Type: CI, automerge

#10927 feat: use cosmos/rocksdb rather than replace trick
  cosmovisor/go.mod
  cosmovisor/go.sum
  db/badgerdb/db.go
  db/badgerdb/db_test.go
  db/go.mod
  db/go.sum
  db/memdb/db.go
  db/memdb/db_test.go
  db/memdb/iterator.go
  db/prefix/prefix.go
  db/prefix/prefix_iterator.go
  db/prefix/prefix_test.go
  db/rocksdb/batch.go
  db/rocksdb/db.go
  db/rocksdb/db_test.go
  db/rocksdb/iterator.go
  db/version_manager_test.go
  go.mod
  go.sum
  x/group/go.sum
Labels: C:Store, automerge, C:Cosmovisor

#10926 style: Fixed typo in block module help output
  client/rpc/block.go
Labels: C:CLI

#10922 feat: support custom mnemonics in in-process testing network
  server/init.go
  server/init_test.go
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
Labels: automerge, backport/0.44.x, backport/0.45.x

#10687 fix: Make MulDecTruncate() return nil DecCoins when multiplier is 0
  CHANGELOG.md
  types/dec_coin.go
  types/dec_coin_test.go
Labels: automerge

#10938 feat: Add AfterValidatorDowntime hook in slashing module
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/signing_info.go
  x/slashing/types/expected_keepers.go
Labels: C:x/slashing

#10894 chore: fix proto generation
  Makefile
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/authz/v1beta1/query_grpc.pb.go
  api/cosmos/authz/v1beta1/tx_grpc.pb.go
  api/cosmos/bank/v1beta1/query_grpc.pb.go
  api/cosmos/bank/v1beta1/tx_grpc.pb.go
  api/cosmos/base/reflection/v1beta1/reflection_grpc.pb.go
  api/cosmos/base/reflection/v2alpha1/reflection_grpc.pb.go
  api/cosmos/base/tendermint/v1beta1/query_grpc.pb.go
  api/cosmos/crisis/v1beta1/tx_grpc.pb.go
  api/cosmos/distribution/v1beta1/query_grpc.pb.go
  api/cosmos/distribution/v1beta1/tx_grpc.pb.go
  api/cosmos/evidence/v1beta1/query_grpc.pb.go
  api/cosmos/evidence/v1beta1/tx_grpc.pb.go
  api/cosmos/feegrant/v1beta1/query_grpc.pb.go
  api/cosmos/feegrant/v1beta1/tx_grpc.pb.go
  api/cosmos/gov/v1beta1/query_grpc.pb.go
  api/cosmos/gov/v1beta1/tx_grpc.pb.go
  api/cosmos/gov/v1beta2/query_grpc.pb.go
  api/cosmos/gov/v1beta2/tx_grpc.pb.go
  api/cosmos/group/v1beta1/genesis.pulsar.go
  api/cosmos/group/v1beta1/query_grpc.pb.go
  api/cosmos/group/v1beta1/tx_grpc.pb.go
  api/cosmos/mint/v1beta1/query_grpc.pb.go
  api/cosmos/nft/v1beta1/query_grpc.pb.go
  api/cosmos/nft/v1beta1/tx_grpc.pb.go
  api/cosmos/params/v1beta1/query_grpc.pb.go
  api/cosmos/slashing/v1beta1/query_grpc.pb.go
  api/cosmos/slashing/v1beta1/tx_grpc.pb.go
  api/cosmos/staking/v1beta1/query_grpc.pb.go
  api/cosmos/staking/v1beta1/tx_grpc.pb.go
  api/cosmos/tx/v1beta1/service_grpc.pb.go
  api/cosmos/upgrade/v1beta1/query_grpc.pb.go
  api/cosmos/vesting/v1beta1/tx_grpc.pb.go
  api/tendermint/abci/types_grpc.pb.go
  proto/cosmos/slashing/v1beta1/tx.proto
  scripts/protocgen.sh
  scripts/protocgen2.sh
  x/gov/types/v1beta1/gov.pb.go
  x/gov/types/v1beta1/msgs_test.go
  x/gov/types/v1beta1/tx.pb.go
  x/params/proposal_handler_test.go
  x/slashing/types/tx.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:x/gov, C:x/slashing, Type: Build, C:x/params, automerge

#10842 fix: `--max-msgs` with `generate-only` should not throw error
  CHANGELOG.md
  x/distribution/client/cli/tx.go
  x/distribution/client/testutil/cli_test.go
  x/distribution/client/testutil/grpc_query_suite.go
  x/distribution/client/testutil/suite.go
  x/distribution/client/testutil/withdraw_all_suite.go
Labels: C:CLI, C:x/distribution, automerge

#10957 chore: move server.GenerateCoinKey and server.GenerateSaveCoinKey to …
  CHANGELOG.md
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/list_test.go
  client/keys/rename_test.go
  client/keys/show_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_test.go
  simapp/simd/cmd/testnet.go
  testutil/key.go
  testutil/key_test.go
  testutil/network/network.go
  testutil/testdata/known_values.go
  types/bech32/legacybech32/pk_test.go
Labels: Type: Tests, C:CLI, C:Keys, automerge

#10964 chore: release v0.45 changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: Type: Docs, automerge

#10967 refactor: remove x/auth vesting dependency in x/bank
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/view.go
  x/bank/types/vesting.go
Labels: C:x/bank

#10969 chore: bump submodules cosmo-sdk dep
  cosmovisor/go.mod
  cosmovisor/go.sum
  x/group/go.mod
  x/group/go.sum
Labels: dependencies, automerge, C:Cosmovisor

#10971 chore: remove group go.mod
  .github/dependabot.yml
  contrib/images/simd-env/Dockerfile
  go.mod
  go.sum
  x/group/go.mod
  x/group/go.sum
Labels: Type: CI, automerge

#10891 docs: ADR-40 Migration spec
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
Labels: Type: ADR, automerge

#10973 chore: update 0.45 migration and support notes
  RELEASE_PROCESS.md
  docs/migrations/README.md
Labels: Type: Docs, automerge, backport/0.45.x

#10981 docs: Fix broken link in Slashing module
  x/slashing/README.md
Labels: C:x/slashing

#10974 chore: v045 cleanups for changelog and x/*/migrations
  CHANGELOG.md
  x/bank/keeper/migrations.go
  x/bank/migrations/v046/keys.go
  x/bank/migrations/v046/store.go
  x/bank/migrations/v046/store_test.go
  x/staking/keeper/migrations.go
  x/staking/migrations/v046/store.go
  x/staking/migrations/v046/store_test.go
Labels: C:x/staking, C:x/bank

#10950 fix(server/cmd)!: set environment prefix
  CHANGELOG.md
  server/cmd/execute.go
  simapp/simd/cmd/cmd_test.go
  simapp/simd/main.go
Labels: automerge

#10670 feat(orm): add ORM Table and Indexes
  api/cosmos/group/v1beta1/genesis.pulsar.go
  orm/encoding/encodeutil/util.go
  orm/encoding/ormkv/codec.go
  orm/encoding/ormkv/entry.go
  orm/encoding/ormkv/entry_test.go
  orm/encoding/ormkv/index_key.go
  orm/encoding/ormkv/index_key_test.go
  orm/encoding/ormkv/key_codec.go
  orm/encoding/ormkv/key_codec_test.go
  orm/encoding/ormkv/primary_key.go
  orm/encoding/ormkv/primary_key_test.go
  orm/encoding/ormkv/seq.go
  orm/encoding/ormkv/seq_test.go
  orm/encoding/ormkv/unique_key.go
  orm/encoding/ormkv/unique_key_test.go
  orm/encoding/ormkv/util.go
  orm/go.mod
  orm/go.sum
  orm/internal/listinternal/options.go
  orm/internal/testkv/debug.go
  orm/internal/testkv/mem.go
  orm/internal/testpb/testschema.proto
  orm/internal/testpb/testschema.pulsar.go
  orm/internal/testutil/testutil.go
  orm/model/doc.go
  orm/model/kv/store.go
  orm/model/ormlist/options.go
  orm/model/ormtable/auto_increment.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/backend.go
  orm/model/ormtable/batch.go
  orm/model/ormtable/build.go
  orm/model/ormtable/doc.go
  orm/model/ormtable/field_names.go
  orm/model/ormtable/field_names_test.go
  orm/model/ormtable/hooks.go
  orm/model/ormtable/index.go
  orm/model/ormtable/index_impl.go
  orm/model/ormtable/iterator.go
  orm/model/ormtable/paginate.go
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/singleton.go
  orm/model/ormtable/singleton_test.go
  orm/model/ormtable/table.go
  orm/model/ormtable/table_impl.go
  orm/model/ormtable/table_test.go
  orm/model/ormtable/testdata/auto_inc_json.golden
  orm/model/ormtable/testdata/bad_auto_inc.json
  orm/model/ormtable/testdata/bad_auto_inc2.json
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
  orm/model/ormtable/unique.go
  orm/model/ormtable/util.go
  orm/types/ormerrors/errors.go
  proto/cosmos/orm/v1alpha1/orm.proto
Labels: automerge, C:orm

#10958 chore: revert some json tags
  CHANGELOG.md
  api/cosmos/auth/v1beta1/auth.pulsar.go
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/genutil/v1beta1/genesis.pulsar.go
  api/cosmos/gov/v1beta1/gov.pulsar.go
  api/cosmos/gov/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  proto/cosmos/auth/v1beta1/auth.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/genutil/v1beta1/genesis.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  x/auth/types/auth.pb.go
  x/distribution/types/distribution.pb.go
  x/genutil/types/genesis.pb.go
  x/gov/types/v1beta1/gov.pb.go
  x/gov/types/v1beta1/msgs_test.go
  x/gov/types/v1beta1/tx.pb.go
  x/gov/types/v1beta2/gov.pb.go
  x/gov/types/v1beta2/msgs_test.go
  x/gov/types/v1beta2/tx.pb.go
  x/slashing/types/msg_test.go
  x/slashing/types/tx.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/auth, C:x/genutil

#10723 feat: Add simulations to group module
  api/cosmos/group/v1beta1/genesis.pulsar.go
  api/cosmos/orm/v1alpha1/orm.pulsar.go
  go.sum
  proto/cosmos/group/v1beta1/genesis.proto
  x/group/genesis.pb.go
  x/group/genesis_test.go
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/module/module.go
  x/group/msgs.go
  x/group/msgs_test.go
  x/group/simulation/decoder.go
  x/group/simulation/decoder_test.go
  x/group/simulation/genesis.go
  x/group/simulation/genesis_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/group/spec/05_client.md
  x/group/types.go
Labels: C:Simulations, automerge

#10994 fix(docs): fix the issue of docs bug
  docs/core/proto-docs.md
  docs/core/store.md
Labels: Type: Docs, automerge

#10947 feat: add feegrant query to see allowances from a given granter
  CHANGELOG.md
  api/cosmos/feegrant/v1beta1/query.pulsar.go
  api/cosmos/feegrant/v1beta1/query_grpc.pb.go
  proto/cosmos/feegrant/v1beta1/query.proto
  x/feegrant/client/cli/query.go
  x/feegrant/client/testutil/cli_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/key.go
  x/feegrant/key_test.go
  x/feegrant/query.pb.go
  x/feegrant/query.pb.gw.go
Labels: C:CLI, C:x/feegrant

#10983 docs: guidelines for ValidateBasic
  docs/basics/tx-lifecycle.md
  docs/building-modules/messages-and-queries.md
  docs/building-modules/module-interfaces.md
  docs/building-modules/msg-services.md
  docs/core/baseapp.md
  docs/core/transactions.md
Labels: automerge, backport/0.45.x

#10991 feat(orm): add module db
  orm/encoding/ormkv/entry.go
  orm/encoding/ormkv/entry_test.go
  orm/go.mod
  orm/go.sum
  orm/internal/stablejson/encode.go
  orm/internal/stablejson/encode_test.go
  orm/internal/testkv/debug.go
  orm/internal/testpb/bank.proto
  orm/internal/testpb/bank.pulsar.go
  orm/model/ormdb/file.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  orm/model/ormdb/testdata/bank_scenario.golden
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/singleton_test.go
  orm/model/ormtable/table.go
  orm/model/ormtable/table_impl.go
  orm/model/ormtable/table_test.go
  orm/model/ormtable/testdata/test_auto_inc.golden
  orm/model/ormtable/testdata/test_scenario.golden
  orm/types/ormerrors/errors.go
Labels: automerge, C:orm

#11005 perf: Deduplicate bech32 encoding in bank send events
  x/bank/keeper/send.go
Labels: C:x/bank, automerge

#10992 fix: return 404 on non-existing tx
  CHANGELOG.md
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: C:x/auth, gRPC, backport/0.44.x, backport/0.45.x

#10989 feat: Add metadata field to proposal
  CHANGELOG.md
  proto/cosmos/gov/v1beta2/gov.proto
  proto/cosmos/gov/v1beta2/tx.proto
  simapp/app.go
  x/auth/middleware/tips_test.go
  x/gov/abci_test.go
  x/gov/client/utils/query.go
  x/gov/genesis_test.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/querier_test.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote_test.go
  x/gov/simulation/operations_test.go
  x/gov/types/errors.go
  x/gov/types/v1beta2/gov.pb.go
  x/gov/types/v1beta2/msgs.go
  x/gov/types/v1beta2/msgs_test.go
  x/gov/types/v1beta2/proposal.go
  x/gov/types/v1beta2/proposals_test.go
  x/gov/types/v1beta2/tx.pb.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/auth, automerge

#10407 feat!: add protection against accidental downgrades
  CHANGELOG.md
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
Labels: C:x/upgrade, automerge, backport/0.45.x

#10854 refactor: remove deprecated vote option
  CHANGELOG.md
  api/cosmos/gov/v1beta2/gov.pulsar.go
  orm/internal/testpb/bank.pulsar.go
  proto/cosmos/gov/v1beta2/gov.proto
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/types/v1beta2/gov.pb.go
  x/gov/types/v1beta2/tx.pb.go
Labels: C:x/gov, automerge, C:orm

#11011 feat: remove burning of deposits in gov
  CHANGELOG.md
  x/gov/abci.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
Labels: C:x/gov, automerge

#10709 feat!: enhanced grpc interface of nft module
  docs/architecture/adr-043-nft-module.md
  proto/cosmos/nft/v1beta1/query.proto
  x/nft/client/cli/query.go
  x/nft/client/testutil/grpc.go
  x/nft/client/testutil/query.go
  x/nft/client/testutil/test_helper.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/keys.go
  x/nft/keeper/nft.go
  x/nft/query.pb.go
  x/nft/query.pb.gw.go
Labels: C:CLI, Type: ADR, C:x/nft

#11031 fix: add db module version to main go.mod
  go.mod
Labels: automerge

#10977 feat: add message option extension to signal msg signers in a language agnostic way
  CHANGELOG.md
  api/cosmos/authz/v1beta1/tx.pulsar.go
  api/cosmos/bank/v1beta1/bank.pulsar.go
  api/cosmos/bank/v1beta1/tx.pulsar.go
  api/cosmos/crisis/v1beta1/tx.pulsar.go
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/evidence/v1beta1/tx.pulsar.go
  api/cosmos/feegrant/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1beta2/gov.pulsar.go
  api/cosmos/gov/v1beta2/tx.pulsar.go
  api/cosmos/group/v1beta1/tx.pulsar.go
  api/cosmos/msg/v1/msg.pulsar.go
  api/cosmos/nft/v1beta1/query.pulsar.go
  api/cosmos/nft/v1beta1/query_grpc.pb.go
  api/cosmos/nft/v1beta1/tx.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/evidence/v1beta1/tx.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/gov/v1beta2/tx.proto
  proto/cosmos/group/v1beta1/tx.proto
  proto/cosmos/msg/v1/msg.proto
  proto/cosmos/nft/v1beta1/tx.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  types/msgservice/msg.pb.go
  x/auth/vesting/types/tx.pb.go
  x/authz/tx.pb.go
  x/bank/types/bank.pb.go
  x/bank/types/tx.pb.go
  x/crisis/types/tx.pb.go
  x/distribution/types/tx.pb.go
  x/evidence/types/tx.pb.go
  x/feegrant/tx.pb.go
  x/gov/types/v1beta1/tx.pb.go
  x/gov/types/v1beta2/msgs.go
  x/gov/types/v1beta2/tx.pb.go
  x/group/tx.pb.go
  x/nft/client/cli/query.go
  x/nft/keeper/keys.go
  x/nft/tx.pb.go
  x/slashing/types/tx.pb.go
  x/staking/types/tx.pb.go
  x/upgrade/keeper/keeper.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, automerge, C:x/feegrant, C:x/authz, C:x/nft

#10990 fix: add iavl-cache-size config parsing to GetConfig
  CHANGELOG.md
  server/config/config.go
Labels: automerge, backport/0.45.x

#11033 feat(orm): codegen
  orm/Makefile
  orm/cmd/protoc-gen-go-cosmos-orm/main.go
  orm/go.mod
  orm/go.sum
  orm/internal/buf.gen.yaml
  orm/internal/codegen/codegen.go
  orm/internal/codegen/file.go
  orm/internal/codegen/index.go
  orm/internal/codegen/singleton.go
  orm/internal/codegen/table.go
  orm/internal/fieldnames/fieldnames.go
  orm/internal/fieldnames/fieldnames_test.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/bank.proto
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.proto
  orm/internal/testpb/test_schema.pulsar.go
  orm/model/ormdb/module_test.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/build.go
  orm/model/ormtable/index_impl.go
  orm/model/ormtable/primary_key.go
  orm/model/ormtable/table.go
  orm/model/ormtable/table_impl.go
  orm/model/ormtable/testdata/auto_inc_json.golden
  orm/model/ormtable/unique.go
  orm/types/ormerrors/errors.go
  scripts/protocgen2.sh
Labels: Type: Build, automerge, C:orm

#11059 fix(orm): bad error messages
  orm/encoding/ormkv/key_codec.go
  orm/internal/codegen/file.go
  orm/internal/codegen/singleton.go
  orm/internal/codegen/table.go
Labels: automerge, C:orm

#11056 docs: add guidelines for registering new sign modes
  proto/cosmos/tx/signing/v1beta1/signing.proto
Labels: automerge

#11013 feat: Add CLI for new gov proposal
  CHANGELOG.md
  x/auth/client/testutil/suite.go
  x/authz/client/testutil/tx.go
  x/feegrant/client/testutil/suite.go
  x/gov/client/cli/parse.go
  x/gov/client/cli/parse_test.go
  x/gov/client/cli/tx.go
  x/gov/client/testutil/deposits.go
  x/gov/client/testutil/helpers.go
  x/gov/client/testutil/suite.go
Labels: C:CLI, C:x/gov, C:x/auth, automerge, C:x/feegrant, C:x/authz

#11049 feat: customtendermint config
  CHANGELOG.md
  server/util.go
  server/util_test.go
  simapp/simd/cmd/root.go
Labels: automerge
