Repository cosmos/cosmos-sdk, pull requests merged in 2022-05, with the labels that each got.

#11814 refactor: (x/feegrant) parsing keys
  x/feegrant/keeper/keeper.go
  x/feegrant/key.go
  x/feegrant/key_test.go
Labels: A:automerge, C:x/feegrant

#11843 docs: clarify language about censor threshold as one third + 1
  x/gov/spec/01_concepts.md
Labels: C:x/gov, A:automerge

#11800 fix!: invalid return value from keeper GetLastCompleteUpgrade - breaking change version
  CHANGELOG.md
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/migrations.go
  x/upgrade/keeper/migrations_test.go
  x/upgrade/module.go
Labels: C:x/upgrade, backport/0.46.x

#11847 ci: rebuild documentation on module doc change
  .github/workflows/deploy-docs.yml
Labels: Type: CI, A:automerge

#11844 fix: export genesis to stdout, not stderr
  server/export.go
Labels: A:automerge

#11849 chore: disable TestNewAnyWithCustomTypeURLWithErrorNoAllocation
  codec/types/any_test.go
Labels: Type: Tests, A:automerge

#11823 refactor: make Cosmovisor use cobra
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/cmd/cosmovisor/cmd/help.go
  cosmovisor/cmd/cosmovisor/cmd/root.go
  cosmovisor/cmd/cosmovisor/cmd/run_test.go
  cosmovisor/cmd/cosmovisor/cmd/version.go
  cosmovisor/cmd/cosmovisor/cmd/version_test.go
  cosmovisor/cmd/cosmovisor/help.go
  cosmovisor/cmd/cosmovisor/help_test.go
  cosmovisor/cmd/cosmovisor/main.go
  cosmovisor/cmd/cosmovisor/root.go
  cosmovisor/cmd/cosmovisor/run.go
  cosmovisor/cmd/cosmovisor/run_config.go
  cosmovisor/cmd/cosmovisor/run_test.go
  cosmovisor/cmd/cosmovisor/version.go
  cosmovisor/cmd/cosmovisor/version_test.go
  cosmovisor/go.mod
  cosmovisor/logger.go
Labels: A:automerge, C:Cosmovisor

#11855 fix: change SimulationState.InitialStake to sdkmath.Int
  CHANGELOG.md
  simapp/state.go
  types/module/simulation.go
  x/auth/simulation/genesis.go
  x/auth/simulation/genesis_test.go
  x/authz/simulation/genesis_test.go
  x/bank/simulation/genesis.go
  x/bank/simulation/genesis_test.go
  x/capability/simulation/genesis_test.go
  x/distribution/simulation/genesis_test.go
  x/evidence/simulation/genesis_test.go
  x/feegrant/simulation/genesis_test.go
  x/gov/simulation/genesis_test.go
  x/group/simulation/genesis_test.go
  x/mint/simulation/genesis_test.go
  x/nft/simulation/genesis_test.go
  x/slashing/simulation/genesis_test.go
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/auth, C:x/evidence, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft

#11842 chore: group ORM audit changes
  x/group/internal/orm/genesis.go
  x/group/internal/orm/index.go
  x/group/internal/orm/primary_key.go
  x/group/internal/orm/spec/01_table.md
Labels: A:automerge, C:x/group

#11866 refactor: move x/staking Init/Export genesis to keeper
  x/genutil/gentx_test.go
  x/gov/genesis_test.go
  x/staking/genesis.go
  x/staking/genesis_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/genesis_test.go
  x/staking/module.go
Labels: C:x/staking, C:x/gov, A:automerge, C:x/genutil

#11807 docs: add ADR 055 ORM
  docs/architecture/README.md
  docs/architecture/adr-055-orm.md
Labels: Type: ADR, A:automerge

#11871 refactor: move x/auth, x/authz, x/slashing and x/mint Init/Export genesis to keeper
  x/auth/keeper/genesis.go
  x/auth/module.go
  x/authz/keeper/genesis.go
  x/authz/keeper/keeper.go
  x/gov/genesis_test.go
  x/mint/keeper/genesis.go
  x/mint/module.go
  x/slashing/keeper/genesis.go
  x/slashing/keeper/genesis_test.go
  x/slashing/module.go
Labels: C:x/gov, C:x/slashing, C:x/mint, C:x/auth, A:automerge, C:x/authz

#11860 chore: x/auth audit changes
  proto/cosmos/auth/v1beta1/query.proto
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/auth/signing/sign_mode_handler.go
  x/auth/spec/03_antehandlers.md
  x/auth/spec/03_middlewares.md
Labels: C:x/auth, A:automerge

#11879 chore: x/upgrade audit changes
  CHANGELOG.md
  proto/cosmos/upgrade/v1beta1/query.proto
  x/upgrade/client/cli/parse.go
  x/upgrade/client/cli/parse_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/msg_server_test.go
  x/upgrade/spec/01_concepts.md
  x/upgrade/types/msgs.go
  x/upgrade/types/query.pb.go
Labels: C:CLI, C:x/upgrade

#11845 fix: (x/feegrant) expiration when overwriting an existing grant
  x/feegrant/client/testutil/suite.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
Labels: C:CLI, A:automerge, C:x/feegrant

#11883 fix: remove unnecessary err check in gentx
  x/genutil/client/cli/gentx.go
Labels: C:CLI, A:automerge, C:x/genutil

#11762 refactor: improve error messages
  errors/CHANGELOG.md
  errors/abci.go
  errors/abci_test.go
  types/decimal.go
Labels: Type: Dev UX, A:automerge, backport/0.45.x, backport/0.46.x

#11884 docs: Update Go gRPC client usage
  docs/run-node/interact-node.md
Labels: Type: Docs, A:automerge

#11885 feat: add feegrant query to see allowances from a given granter (backport #10947)
  CHANGELOG.md
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/feegrant/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/service.proto
  types/kv/helpers.go
  types/tx/signing/signing.pb.go
  x/authz/authz.pb.go
  x/authz/keeper/keys.go
  x/authz/query.pb.go
  x/bank/legacy/v040/keys.go
  x/bank/types/key.go
  x/distribution/legacy/v040/keys.go
  x/distribution/types/keys.go
  x/feegrant/client/cli/query.go
  x/feegrant/client/testutil/cli_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/key.go
  x/feegrant/key_test.go
  x/feegrant/query.pb.go
  x/feegrant/query.pb.gw.go
  x/gov/legacy/v040/keys.go
  x/gov/types/keys.go
  x/slashing/legacy/v040/keys.go
  x/slashing/types/keys.go
  x/staking/legacy/v040/keys.go
  x/staking/types/keys.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/feegrant, C:x/authz

#11889 feat!: support custom r/w gRPC options
  CHANGELOG.md
  server/config/config.go
  server/config/toml.go
  server/grpc/server.go
  server/start.go
  testutil/network/util.go
Labels: gRPC

#11888 refactor!: Rename AccAddressFromHex
  CHANGELOG.md
  simapp/test_helpers.go
  types/address.go
  types/address_race_test.go
  types/address_test.go
  x/auth/client/cli/tx_multisign.go
Labels: C:CLI, C:Types, C:x/auth, A:automerge

#11840 refactor: x/authz minor code improvements
  x/authz/authorization_grant.go
  x/authz/client/cli/tx.go
  x/authz/client/testutil/query.go
  x/authz/client/testutil/tx.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/keeper.go
  x/staking/types/authz.go
Labels: C:x/staking, C:CLI, A:automerge, C:x/authz

#11679 feat(group): add test for keeper and cli
  codec/amino.go
  x/group/client/testutil/query.go
  x/group/client/testutil/tx.go
  x/group/keeper/keeper_test.go
Labels: C:CLI, A:automerge, C:x/group

#11912 fix(container): issue with multiple dependencies coming from an out struct
  container/container.go
  container/container_test.go
Labels: C:container

#11913 fix(container)!: fix issue providing a module-scoped dep from a module
  container/container.go
  container/container_test.go
  container/module_key.go
Labels: C:container

#11677 Finish staking hooks merge
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/staking/v1beta1/staking.proto
  x/bank/types/query.pb.go
  x/distribution/keeper/hooks.go
  x/slashing/handler_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/keeper_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/hooks.go
  x/staking/keeper/querier.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/simulation/decoder_test.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
  x/staking/types/hooks_template.go
  x/staking/types/keys.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank

#11916 refactor(container)!: use build instead of run model to get dependencies
  container/build.go
  container/container.go
  container/container_test.go
  container/run.go
  container/struct_args.go
  go.mod
Labels: A:automerge, C:container

#11920 chore: Audit x/staking and add "Since" proto comments
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/crypto/hd/v1/hd.proto
  proto/cosmos/crypto/keyring/v1/record.proto
  proto/cosmos/feegrant/v1beta1/query.proto
  proto/cosmos/params/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  x/staking/module.go
Labels: C:x/staking

#11915 feat(container): automatic debugging on errors
  baseapp/custom_txhandler_test.go
  container/build.go
  container/container_test.go
  container/debug.go
  go.mod
Labels: C:container

#11914 feat: add core module with app config support
  api/cosmos/app/v1alpha1/module.pulsar.go
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/upgrade/v1beta1/query_grpc.pb.go
  core/Makefile
  core/README.md
  core/appconfig/config.go
  core/appconfig/config_test.go
  core/appconfig/doc.go
  core/appmodule/doc.go
  core/appmodule/option.go
  core/appmodule/register.go
  core/go.mod
  core/go.sum
  core/internal/buf.gen.yaml
  core/internal/buf.yaml
  core/internal/registry.go
  core/internal/testpb/modules.go
  core/internal/testpb/test.proto
  core/internal/testpb/test.pulsar.go
  proto/cosmos/app/v1alpha1/module.proto
  x/auth/types/query.pb.go
Labels: C:x/auth

#11922 chore: Add x/capability docs
  x/capability/spec/01_concepts.md
  x/capability/spec/02_state.md
  x/capability/spec/README.md
  x/capability/types/keys.go
Labels: C:x/capability

#11893 feat: Add example upgrade handler for upgrading simapp from 045 to 046
  baseapp/abci_test.go
  pruning/manager.go
  simapp/app.go
  simapp/upgrades.go
  x/auth/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/migrations/v046/convert.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1/proposals_test.go
  x/group/types.go
  x/staking/module_test.go
Labels: C:x/staking, C:x/gov, C:x/auth, A:automerge, C:x/group

#11940 fix: x/gov client deposits tests
  CHANGELOG.md
  x/gov/client/testutil/deposits.go
Labels: C:CLI, C:x/gov

#11945 docs: document x/mint InflationCalculationFn
  x/mint/spec/03_begin_block.md
Labels: C:x/mint, A:automerge

#11947 docs: update server docs
  server/config/config.go
  server/rollback.go
  server/start.go
Labels: A:automerge

#11951 chore: update cosmossdk.io/api mod
  api/cosmos/orm/v1/orm.pulsar.go
  api/cosmos/staking/v1beta1/query.pulsar.go
  go.mod
  go.sum
  x/staking/types/query.pb.go
Labels: A:automerge

#11954 chore: audit testutil
  testutil/mock/privval.go
  testutil/mock/privval_test.go
  testutil/network/network.go
  testutil/network/util.go
Labels: A:automerge

#11659 refactor(ORM)!: InsertReturningID -> InsertReturning<PrimaryKeyName>
  orm/internal/codegen/table.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.proto
  orm/internal/testpb/test_schema.pulsar.go
  orm/model/ormtable/auto_increment.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/table.go
  orm/model/ormtable/table_test.go
Labels: A:automerge, C:orm

#11958 fix: remove typo in `tx vesting create-vesting-account` help message
  x/auth/vesting/client/cli/tx.go
Labels: C:x/auth, A:automerge

#11932 chore: Audit crypto folder
  CHANGELOG.md
  api/cosmos/crypto/keyring/v1/record.pulsar.go
  client/keys/export.go
  client/keys/migrate.go
  client/keys/migrate_test.go
  crypto/keyring/doc.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
  crypto/keyring/migration_test.go
  crypto/keyring/record.go
  crypto/keyring/record.pb.go
  crypto/keyring/record_test.go
  proto/cosmos/crypto/keyring/v1/record.proto
Labels: C:CLI, C:Keys, A:automerge

#11967 fix: make `submit-legacy-proposal` --type field not case-sensitive
  x/gov/client/cli/tx.go
  x/gov/simulation/decoder_test.go
  x/gov/types/v1beta1/msgs_test.go
  x/gov/types/v1beta1/proposal.go
  x/gov/types/v1beta1/proposals_test.go
Labels: C:CLI, C:x/gov, C:Simulations

#11972 test: add test on `StringifyEvents`
  types/events.go
  types/events_test.go
  x/bank/types/events.go
Labels: C:x/bank

#11959 feat: add Coins.Find method
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
Labels: C:Types, A:automerge, backport/0.46.x

#11973 fix: update `StartHeight` signing info in `AfterValidatorBonded` hook when validator re-bonds
  x/slashing/keeper/hooks.go
  x/slashing/keeper/keeper_test.go
  x/slashing/spec/01_concepts.md
  x/slashing/spec/05_hooks.md
Labels: C:x/slashing

#11987 chore: store audit
  store/cachekv/memiterator.go
  store/cachekv/store.go
  store/iavl/store.go
  store/streaming/constructor_test.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
Labels: C:Store, A:automerge

#11989 chore: store audit changes
  store/firstlast.go
  store/tools/ics23/iavl/README.md
  store/tools/ics23/iavl/helpers/helpers.go
  store/tools/ics23/smt/README.md
  store/tools/ics23/smt/helpers/helpers.go
  store/tracekv/store.go
  store/types/store.go
  store/types/utils.go
  store/types/validity.go
Labels: C:Store, A:automerge

#11978 chore: rename container.AutoGroupType to container.ManyPerContainerType
  container/container.go
  container/container_test.go
  container/group.go
  container/testdata/example.dot
  container/testdata/example_error.dot
Labels: C:container

#11992 docs: Add inline docs
  x/authz/client/cli/query.go
  x/authz/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/slashing/client/cli/tx.go
  x/staking/client/cli/tx.go
Labels: C:x/staking, C:CLI, C:x/slashing, C:x/distribution, A:automerge, C:x/authz

#11996 fix: math: fix Uint.Unmarshal's lack of negative value checking
  math/uint.go
  math/uint_test.go
Labels: A:automerge

#11960 refactor: remove redacted message
  CHANGELOG.md
  errors/abci.go
  errors/abci_test.go
Labels: A:automerge, backport/0.45.x, R:0.46

#11998 chore!: tweak x/gov ModuleAccountInvariant
  CHANGELOG.md
  x/gov/keeper/invariants.go
Labels: C:x/gov, A:automerge

#12010 math: derive marshalled byte length from copy, not blind assumptions
  math/int.go
  math/uint.go
Labels: A:automerge

#11985 refactor: Revert middlewares to antehandler (part 2/2: posthandler)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  baseapp/test_helpers.go
  simapp/app.go
  types/context.go
  x/auth/ante/ante.go
  x/auth/ante/ext.go
  x/auth/ante/ext_test.go
  x/auth/ante/fee.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/validator_tx_fee.go
  x/auth/client/testutil/suite.go
  x/auth/posthandler/post.go
  x/auth/posthandler/tips.go
Labels: C:CLI, C:x/auth, A:automerge

#11921 feat: enable double-signing evidence in Interchain-Security
  docs/core/proto-docs.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/distribution/keeper/delegation_test.go
  x/distribution/types/expected_keepers.go
  x/evidence/keeper/infraction.go
  x/evidence/spec/06_begin_block.md
  x/evidence/types/expected_keepers.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/spec/04_begin_block.md
  x/slashing/types/expected_keepers.go
  x/staking/handler_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/types/expected_keepers.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:x/evidence

#12013 fix: index ante events for failed tx
  CHANGELOG.md
  baseapp/abci.go
Labels: A:automerge

#12016 refactor: Add Tips decorator in simapp
  simapp/app.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service_test.go
Labels: C:CLI, C:x/auth, A:automerge

#12021 refactor: rename container.Option to container.Config
  container/build.go
  container/config.go
  container/container_test.go
Labels: A:automerge, C:container

#11924 feat: start app wiring with runtime and x/params modules
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  api/cosmos/params/module/v1/module.pulsar.go
  baseapp/options.go
  core/appconfig/config.go
  core/appconfig/config_test.go
  core/go.mod
  core/go.sum
  core/internal/registry.go
  core/internal/testpb/test.pulsar.go
  go.mod
  go.sum
  proto/cosmos/app/module/v1alpha1/module.proto
  proto/cosmos/app/runtime/v1alpha1/module.proto
  proto/cosmos/params/module/v1/module.proto
  runtime/app.go
  runtime/builder.go
  runtime/module.go
  runtime/wrappers.go
  simapp/app.go
  simapp/app.yaml
  simapp/app_test.go
  simapp/export.go
  simapp/sim_test.go
  simapp/upgrades.go
  x/params/module.go
Labels: C:x/params

#12048 fix: call SetOrderExportGenesis from SimApp
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
  runtime/app.go
  simapp/app.go
  types/abci.pb.go
Labels: A:automerge

#12049 ci: improve sims gh action
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
Labels: Type: CI

#12057 chore: improve go module chache
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  x/gov/abci.go
Labels: C:x/gov, T: CI, Type: CI

#12059 chore: disable build CI cache
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: Type: CI

#12060 fix: Make rechecking a tx check the sequence number
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Labels: C:x/auth, backport/0.45.x, backport/0.46.x

#11988 docs: revert middleware documentation and adds posthandler documentation
  docs/basics/accounts.md
  docs/basics/app-anatomy.md
  docs/basics/gas-fees.md
  docs/basics/tx-lifecycle.md
  docs/building-modules/msg-services.md
  docs/core/README.md
  docs/core/baseapp.md
  docs/core/baseapp_transaction-middleware.png
  docs/core/cli.md
  docs/core/context.md
  docs/core/encoding.md
  docs/core/events.md
  docs/core/grpc_rest.md
  docs/core/middleware.md
  docs/core/node.md
  docs/core/ocap.md
  docs/core/runtx_middleware.md
  docs/core/store.md
  docs/core/telemetry.md
  docs/core/transactions.md
  docs/intro/sdk-app-architecture.md
  docs/intro/why-app-specific.md
  x/auth/spec/03_antehandlers.md
  x/auth/spec/03_middlewares.md
  x/auth/spec/README.md
  x/authz/spec/02_state.md
  x/feegrant/spec/01_concepts.md
  x/group/spec/01_concepts.md
  x/group/spec/03_messages.md
  x/upgrade/spec/01_concepts.md
Labels: C:x/auth, C:x/upgrade, A:automerge, C:x/feegrant, C:x/authz, C:x/group, backport/0.46.x

#12064 docs: Fix broken link to IBC specification
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: Type: ADR

#10701 docs(adr): ADR-050 SIGN_MODE_TEXTUAL
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  docs/architecture/adr-050-sign-mode-textual.md
Labels: T: ADR, A:automerge, Type: ADR

#12020 refactor!: rename container to cosmossdk.io/depinject
  container/testdata/example.dot
  container/testdata/example_error.dot
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  core/appconfig/config.go
  core/appconfig/config_test.go
  core/appmodule/doc.go
  core/appmodule/option.go
  core/go.mod
  core/go.sum
  core/internal/registry.go
  core/internal/testpb/modules.go
  depinject/Makefile
  depinject/README.md
  depinject/config.go
  depinject/container.go
  depinject/container_test.go
  depinject/debug.go
  depinject/errors.go
  depinject/go.mod
  depinject/go.sum
  depinject/group.go
  depinject/inject.go
  depinject/internal/graphviz/attrs.go
  depinject/internal/graphviz/docs.go
  depinject/internal/graphviz/edge.go
  depinject/internal/graphviz/graph.go
  depinject/internal/graphviz/node.go
  depinject/internal/util/util.go
  depinject/location.go
  depinject/module_dep.go
  depinject/module_key.go
  depinject/one_per_module.go
  depinject/provider_desc.go
  depinject/provider_desc_test.go
  depinject/resolver.go
  depinject/simple.go
  depinject/struct_args.go
  depinject/supply.go
  depinject/testdata/example.dot
  depinject/testdata/example.svg
  depinject/testdata/example_error.dot
  depinject/testdata/example_error.svg
  go.mod
  go.sum
  runtime/module.go
  runtime/wrappers.go
  simapp/app.go
  x/params/module.go
Labels: C:x/params, C:container

#12019 feat(x/auth): app wiring setup
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  api/cosmos/auth/module/v1/module.pulsar.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
  proto/cosmos/auth/module/v1/module.proto
  runtime/app.go
  runtime/module.go
  simapp/app.go
  simapp/app.yaml
  simapp/app_test.go
  simapp/upgrades.go
  x/auth/module.go
Labels: C:x/auth

#12081 docs: grammar fix in /x/gov/spec/01_concepts.md
  x/gov/spec/01_concepts.md
Labels: C:x/gov

#12075 fix: support custom p2p port for gentx/validator creation
  CHANGELOG.md
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
Labels: C:x/staking, C:CLI

#12092 fix: tx commands are no need to specify --chain-id
  client/config/config.go
  client/config/config_test.go
Labels: C:CLI, A:automerge, backport/0.46.x

#12089 refactor: Mark tips as beta
  CHANGELOG.md
  baseapp/baseapp.go
  docs/core/tips.md
  simapp/app.go
  x/auth/client/testutil/suite.go
  x/auth/posthandler/post.go
  x/auth/posthandler/tips.go
Labels: C:CLI, C:x/auth, A:automerge, backport/0.46.x
