Repository cosmos/cosmos-sdk, pull requests merged in 2022-11, with the labels that each got.

#13684 feat: handle additional x/auth module app config parameters
  simapp/app.go
  simapp/app_config.go
  x/auth/module.go
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/vesting/module.go
  x/bank/module.go
  x/capability/module.go
  x/consensus/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/slashing/keeper/keeper_test.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/capability, C:x/group, C:x/nft

#13714 fix: x/group/internal/orm: return iterator close errors
  x/group/internal/orm/index.go
  x/group/internal/orm/table.go
Labels: C:x/group

#13711 chore: fix --dry-run flag not working issue's changelog
  CHANGELOG.md
Labels: A:automerge

#13722 Interchain security rebase
  docs/core/proto-docs.md
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  simapp/app.go
  x/bank/types/query.pb.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/types/expected_keepers.go
  x/evidence/keeper/infraction.go
  x/evidence/spec/06_begin_block.md
  x/evidence/types/expected_keepers.go
  x/slashing/handler_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/spec/04_begin_block.md
  x/slashing/types/expected_keepers.go
  x/slashing/types/genesis.go
  x/staking/handler_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/hooks.go
  x/staking/keeper/keeper.go
  x/staking/keeper/querier.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/decoder_test.go
  x/staking/spec/01_state.md
  x/staking/spec/02_state_transitions.md
  x/staking/spec/05_end_block.md
  x/staking/spec/06_hooks.md
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
  x/staking/types/hooks_template.go
  x/staking/types/keys.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/evidence

#13720 ci: notify for 0.45.x releases
  .github/workflows/tag.yml
  CHANGELOG.md
Labels: Type: CI

#13719 ci: notify for 0.46.x releases
  .github/workflows/release.yml
  CHANGELOG.md
Labels: Type: CI

#13281 feat: add autocli app wiring + remote info support
  client/tx/factory.go
  client/tx/tx_test.go
  client/v2/autocli/interface.go
  client/v2/go.mod
  client/v2/go.sum
  runtime/app.go
  runtime/internal/services/app.go
  runtime/internal/services/autocli.go
  runtime/internal/services/reflection.go
  runtime/module.go
  runtime/services.go
  simapp/simd/cmd/root.go
  tests/go.mod
  tests/go.sum
  tests/integration/runtime/query_test.go
  x/auth/module.go
  x/auth/types/account_test.go
  x/auth/types/autocli.go
  x/auth/vesting/module.go
  x/capability/module.go
  x/evidence/module.go
Labels: C:CLI, C:x/auth, C:x/evidence, C:x/capability

#13725 refactor: remove unused code
  CHANGELOG.md
  runtime/app.go
  store/iavl/store.go
  store/iavl/store_test.go
  types/context_test.go
  x/bank/types/params.go
  x/bank/types/params_test.go
  x/gov/keeper/keeper.go
Labels: C:x/gov, C:Store, C:x/bank

#13726 chore: quick lint
  tests/integration/bank/keeper/deterministic_test.go
  testutil/testdata/grpc_query.go
  tx/textual/valuerenderer/string.go
  types/mempool/mempool_test.go
  x/gov/migrations/v4/store_test.go
Labels: C:x/gov

#13733 tests: Add test to verify trying to send locked tokens raises an error
  x/bank/keeper/keeper_test.go
Labels: C:x/bank

#13732 ci: modifying docs in 0.46 should not redeploy docs
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
Labels: Type: CI

#13458 fix: Fix Evidence CLI query flag parsing
  x/evidence/client/cli/query.go
  x/evidence/client/cli/tx_test.go
Labels: C:CLI, C:x/evidence

#13736 docs: update ADR 057 app wiring
  docs/architecture/adr-057-app-wiring-1.md
Labels: Type: ADR

#13717 refactor(gov): CLI tests using Tendermint Mock
  tests/e2e/gov/cli_test.go
  tests/e2e/gov/deposits.go
  tests/e2e/gov/grpc.go
  tests/e2e/gov/query.go
  tests/e2e/gov/tx.go
  x/gov/client/cli/query_test.go
  x/gov/client/cli/tx_test.go
Labels: C:CLI, C:x/gov, A:automerge

#13728 fix: propagate msg events correctly in x/gov
  CHANGELOG.md
  x/gov/abci.go
Labels: C:x/gov, backport/0.46.x

#13690 fix(bank): fix unhandled error for vesting
  CHANGELOG.md
  types/coin.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Labels: T: Bug, C:x/bank, A:automerge, backport/0.45.x, backport/0.46.x

#13755 docs: staking param docs fix
  x/staking/README.md
Labels: C:x/staking

#13749 refactor: extract `MockTendermintRPC` to `testutil/cli`
  testutil/cli/tm_mocks.go
  x/auth/client/cli/suite_test.go
  x/authz/client/cli/tx_test.go
  x/bank/client/cli/query_test.go
  x/bank/client/cli/suite_test.go
  x/crisis/client/cli/tx_test.go
  x/distribution/client/cli/suite_test.go
  x/evidence/client/cli/tx_test.go
  x/feegrant/client/cli/tx_test.go
  x/genutil/client/cli/gentx_test.go
  x/gov/client/cli/tx_test.go
  x/group/client/cli/tx_test.go
  x/mint/client/cli/query_test.go
  x/nft/client/cli/tx_test.go
  x/slashing/client/cli/query_test.go
  x/staking/client/cli/tx_test.go
  x/upgrade/client/cli/tx_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft

#13740 fix: Evidence API does not decode the hash properly
  CHANGELOG.md
  api/cosmos/evidence/v1beta1/query.pulsar.go
  proto/cosmos/evidence/v1beta1/query.proto
  x/evidence/client/cli/query.go
  x/evidence/keeper/grpc_query.go
  x/evidence/keeper/grpc_query_test.go
  x/evidence/keeper/keeper.go
  x/evidence/types/querier.go
  x/evidence/types/query.pb.go
  x/evidence/types/query.pb.gw.go
Labels: C:CLI, C:x/evidence, A:automerge

#13765 chore: use tagged rosetta version
  .github/workflows/test.yml
  .gitignore
  Makefile
  contrib/rosetta/rosetta-ci/data.tar.gz
  docs/post.sh
  docs/pre.sh
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/CHANGELOG.md
  tools/rosetta/README.md
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Labels: C:Rosetta, Type: Build, Type: CI

#13770 docs: fix toc links
  docs/src/css/custom.css
  x/authz/README.md
  x/capability/README.md
  x/crisis/README.md
  x/distribution/README.md
  x/evidence/README.md
  x/feegrant/README.md
  x/gov/README.md
  x/group/README.md
  x/group/internal/orm/README.md
  x/mint/README.md
  x/nft/README.md
  x/params/README.md
  x/slashing/README.md
  x/staking/README.md
  x/upgrade/README.md
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/params, C:x/crisis, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft

#13737 feat: add lsm msgs
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  x/distribution/types/codec.go
  x/distribution/types/msg.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/abci_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
  x/staking/simulation/operations.go
  x/staking/testutil/helpers.go
  x/staking/types/codec.go
  x/staking/types/errors.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/genutil

#13772 refactor: rename migrations from `v42`, `v43`, `v{SDK}` to `v1`, `v2`, `v{Consensus}`
  x/auth/keeper/migrations.go
  x/auth/migrations/v1/types.go
  x/auth/migrations/v2/store.go
  x/auth/migrations/v2/store_test.go
  x/auth/migrations/v3/store.go
  x/auth/migrations/v3/store_test.go
  x/auth/migrations/v4/migrate.go
  x/auth/migrations/v4/migrator_test.go
  x/auth/module.go
  x/authz/keeper/migrations.go
  x/authz/migrations/v2/keys.go
  x/authz/migrations/v2/keys_test.go
  x/authz/migrations/v2/store.go
  x/authz/migrations/v2/store_test.go
  x/authz/module/module.go
  x/bank/migrations/v1/types.go
  x/bank/migrations/v2/store.go
  x/distribution/keeper/migrations.go
  x/distribution/keeper/params_test.go
  x/distribution/migrations/v043/store.go
  x/distribution/migrations/v1/types.go
  x/distribution/migrations/v2/helpers.go
  x/distribution/migrations/v2/store.go
  x/distribution/migrations/v2/store_test.go
  x/feegrant/keeper/migrations.go
  x/feegrant/migrations/v2/keys.go
  x/feegrant/migrations/v2/store.go
  x/feegrant/migrations/v2/store_test.go
  x/feegrant/module/module.go
  x/gov/migrations/v1/types.go
  x/gov/module.go
  x/slashing/keeper/migrations.go
  x/slashing/migrations/v043/store.go
  x/slashing/migrations/v1/types.go
  x/slashing/migrations/v2/store.go
  x/slashing/migrations/v2/store_test.go
  x/staking/migrations/v1/types.go
  x/staking/migrations/v2/store.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/auth, C:x/upgrade, C:x/feegrant, C:x/authz

#13683 docs: add documentation about depinject and app wiring
  .gitignore
  UPGRADING.md
  depinject/README.md
  docs/architecture/README.md
  docs/architecture/adr-057-app-wiring.md
  docs/architecture/adr-059-test-scopes.md
  docs/docs/building-apps/00-app-go.md
  docs/docs/building-apps/01-app-legacy-go.md
  docs/docs/building-modules/14-depinject.md
  docs/docs/building-modules/15-testing.md
  docs/docs/run-node/00-keyring.md
  docs/docs/tooling/README.md
  docs/post.sh
  docs/pre.sh
  docs/src/css/custom.css
  x/auth/README.md
  x/auth/atlas/atlas-v0.39.1.md
  x/auth/atlas/atlas.toml
  x/bank/atlas/atlas-v0.39.1.md
  x/bank/atlas/atlas.toml
  x/evidence/atlas/atlas-v0.41.x.md
  x/evidence/atlas/manifest.toml
  x/staking/README.md
Labels: C:x/staking, C:x/bank, C:x/auth, C:x/evidence, Type: ADR

#13785 test: integrate rosetta-cli into rosetta-ci
  contrib/rosetta/README.md
  contrib/rosetta/configuration/rosetta.json
  contrib/rosetta/docker-compose.yaml
  contrib/rosetta/rosetta-ci/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
Labels: C:Rosetta

#13614 test: Add some tests and remove dead code in store
  store/cache/cache_test.go
  store/firstlast.go
  store/internal/proofs/create_test.go
  store/mem/mem_test.go
  store/types/store_test.go
Labels: C:Store

#13803 refactor: add error log when iavl set failed
  CHANGELOG.md
  store/iavl/store.go
Labels: C:Store, backport/0.46.x

#13781 refactor: Remove client/keys.KeysCdc
  CHANGELOG.md
  client/keys/add.go
  client/keys/codec.go
  client/keys/codec_test.go
  client/keys/parse.go
  client/keys/utils.go
Labels: C:CLI, C:Keys

#13806 chore: remove extra unneeded log
  Makefile
Labels: Type: Build

#13801 fix: fix proto files created as super-user
  Makefile
  api/cosmos/tx/v1beta1/service.pulsar.go
  api/tendermint/crypto/proof.pulsar.go
  contrib/devtools/Dockerfile
  proto/buf.lock
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/base/tendermint/v1beta1/types.proto
  proto/cosmos/base/v1beta1/coin.proto
  proto/cosmos/distribution/v1beta1/genesis.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/evidence/v1beta1/query.proto
  proto/cosmos/gov/v1beta1/genesis.proto
  proto/cosmos/group/module/v1/module.proto
  proto/cosmos/group/v1/types.proto
  proto/cosmos/mint/v1beta1/query.proto
  proto/cosmos/slashing/v1beta1/query.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  proto/cosmos/staking/v1beta1/genesis.proto
  proto/cosmos/staking/v1beta1/query.proto
  proto/tendermint/crypto/proof.proto
  types/tx/service.pb.go
Labels: Type: Build

#13805 refactor: clean-up test helpers and tmcli
  client/config/cmd.go
  client/flags/flags.go
  client/rpc/validators.go
  tests/e2e/auth/helpers.go
  tests/e2e/auth/suite.go
  tests/e2e/authz/grpc.go
  tests/e2e/authz/query.go
  tests/e2e/authz/tx.go
  tests/e2e/bank/client/suite.go
  tests/e2e/distribution/suite.go
  tests/e2e/feegrant/suite.go
  tests/e2e/gov/deposits.go
  tests/e2e/gov/query.go
  tests/e2e/group/query.go
  tests/e2e/group/tx.go
  tests/e2e/mint/suite.go
  tests/e2e/nft/test_helper.go
  tests/e2e/slashing/client/testutil/suite.go
  tests/e2e/staking/client/testutil/suite.go
  testutil/cli/tx.go
  x/auth/client/cli/suite_test.go
  x/auth/client/testutil/helpers.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx_test.go
  x/authz/client/testutil/helpers.go
  x/bank/testutil/helpers.go
  x/consensus/testutil/helpers.go
  x/distribution/client/cli/suite_test.go
  x/feegrant/client/cli/query_test.go
  x/gov/client/cli/query_test.go
  x/mint/client/cli/query_test.go
  x/nft/client/cli/query_test.go
  x/params/client/testutil/suite.go
  x/slashing/client/cli/query_test.go
  x/staking/client/cli/query_test.go
  x/upgrade/client/cli/tx_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/nft

#13786 feat: add basic autocli config to every module
  runtime/services/autocli.go
  tests/integration/runtime/query_test.go
  x/auth/autocli.go
  x/auth/module.go
  x/auth/types/autocli.go
  x/gov/autocli.go
  x/gov/module.go
Labels: C:x/gov, C:x/auth

#13453 feat: ABCI 1.0 baseapp integration
  baseapp/abci.go
  baseapp/abci_v1_test.go
  baseapp/baseapp.go
  baseapp/deliver_tx_test.go
  baseapp/options.go
  baseapp/testutil/messages.go
  baseapp/util_test.go
  server/mock/app_test.go
  server/mock/tx.go
  server/types/app.go
  simapp/app_legacy.go
  types/abci.go
  types/mempool/mempool.go
  types/mempool/mempool_test.go
  types/mempool/nonce.go
  types/mempool/nonce_test.go
  x/auth/tx/builder.go
  x/auth/tx/module/module.go
  x/distribution/types/codec.go
  x/distribution/types/proposal.go
  x/genutil/gentx.go
Labels: C:x/distribution, C:x/auth, C:x/genutil

#13821 fix: bank store migration
  x/bank/migrations/v3/store.go
  x/bank/migrations/v3/store_test.go
Labels: C:x/bank, backport/0.46.x

#13826 feat(types): set custom GasConfig on Context for GasKVStore
  CHANGELOG.md
  types/context.go
  types/context_test.go
  x/gov/keeper/msg_server.go
Labels: C:x/gov, backport/0.46.x

#13840 chore: Update .mergify.yml
  .mergify.yml
Labels: Type: CI

#13841 chore: update .mergify.yml
  .mergify.yml
Labels: Type: CI

#13832 fix: populate oldest_block_identifier and wrap jsonrpc errors
  tools/rosetta/CHANGELOG.md
  tools/rosetta/client_online.go
  tools/rosetta/lib/errors/errors.go
  tools/rosetta/lib/errors/errors_test.go
  tools/rosetta/lib/internal/service/account.go
  tools/rosetta/lib/internal/service/block.go
  tools/rosetta/lib/internal/service/data.go
  tools/rosetta/lib/internal/service/mempool.go
  tools/rosetta/lib/internal/service/network.go
  tools/rosetta/lib/internal/service/online.go
  tools/rosetta/lib/types/types.go
Labels: A:automerge, C:Rosetta

#13842 chore: remove deploy-docs job from 0.47.x
  .github/workflows/deploy-docs.yml
Labels: Type: CI

#13846 chore: add sanity check in handler
  baseapp/msg_service_router.go
Labels: backport/v0.47.x

#13816 chore: prepare 0.46.5 release
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
Labels: S: Blocked

#13844 docs: ADR-060 Updates
  docs/architecture/README.md
  docs/architecture/adr-060-abci-1.0.md
  docs/architecture/adr-061-liquid-staking.md
  types/mempool/mempool.go
  types/mempool/nonce.go
Labels: Type: ADR

#13852 docs: add 0.47 to docs
  .gitignore
  Makefile
  docs/.gitignore
  docs/README.md
  docs/build-all.sh
  docs/docusaurus.config.js
  docs/versions.json
  x/distribution/README.md
  x/nft/README.md
Labels: C:x/distribution, C:x/nft, Type: Build

#13838 fix: `.String()` panics when pubkey is set on a `BaseAccount`
  CHANGELOG.md
  api/cosmos/auth/v1beta1/auth.pulsar.go
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  crypto/keys/multisig/multisig_test.go
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  proto/cosmos/auth/v1beta1/auth.proto
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
  x/auth/types/account.go
  x/auth/types/account_test.go
  x/auth/types/auth.pb.go
Labels: C:CLI, C:x/auth, C:Cosmovisor, C:Rosetta, C:orm, backport/v0.47.x

#13807 docs: add a running in production section
  docs/docs/run-node/06-run-production.md
Labels: backport/v0.47.x

#13861 fix: Allow underscores in EventRegex
  CHANGELOG.md
  tests/e2e/tx/service_test.go
  x/auth/tx/service.go
Labels: C:x/auth, backport/0.46.x, backport/v0.47.x

#13794 refactor!: migrate to core appmodule.AppModule extension interfaces
  CHANGELOG.md
  UPGRADING.md
  docs/docs/building-modules/14-depinject.md
  runtime/module.go
  runtime/services/autocli.go
  runtime/wrappers.go
  scripts/mockgen.sh
  simapp/app_test.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  types/module/module_int_test.go
  types/module/module_test.go
  types/module/simulation.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/capability/module.go
  x/consensus/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/genutil, C:x/authz, C:x/group, C:x/nft, Type: Build, backport/v0.47.x

#13789 feat: Add tx encode and decode endpoints
  CHANGELOG.md
  api/cosmos/tx/v1beta1/service.pulsar.go
  api/cosmos/tx/v1beta1/service_grpc.pb.go
  proto/cosmos/tx/v1beta1/service.proto
  tests/e2e/tx/service_test.go
  types/tx/service.pb.go
  types/tx/service.pb.gw.go
  x/auth/tx/service.go
Labels: C:x/auth, backport/v0.47.x

#13871 docs: add documentation for nft module
  CHANGELOG.md
  UPGRADING.md
  tests/e2e/nft/grpc.go
  x/nft/README.md
Labels: C:x/nft, backport/v0.47.x

#13869 fix(group): add group members weight checks
  CHANGELOG.md
  api/cosmos/tx/v1beta1/service.pulsar.go
  types/tx/service.pb.go
  x/group/internal/math/dec.go
  x/group/internal/math/dec_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/module/abci.go
  x/group/msgs.go
Labels: C:x/group, backport/0.46.x, backport/v0.47.x

#13876 fix(group)!: Fix group min execution period
  CHANGELOG.md
  x/group/README.md
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
  x/group/types.go
  x/group/types_test.go
Labels: C:x/group

#13877 fix: InitGenesis changes account numbers (upstream fix from Provenance)
  CHANGELOG.md
  x/auth/README.md
  x/auth/keeper/account.go
  x/auth/keeper/genesis.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/types/genesis.go
Labels: C:x/auth, backport/v0.47.x

#13891 feat(bank): Add helper for v0.46 denom migration
  CHANGELOG.md
  x/bank/migrations/v046/keys.go
  x/bank/migrations/v046/store.go
  x/bank/migrations/v046/store_test.go
Labels: C:x/bank

#13899 chore: add 0.46.5 changelog to main
  CHANGELOG.md
  go.mod
Labels: backport/v0.47.x

#13901 fix: attempt fixing evidence flaky test
  x/evidence/client/cli/tx_test.go
Labels: C:CLI, C:x/evidence

#13894 refactor: State Streaming Docs + Explicit Config Support
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  simapp/app.go
  simapp/app_legacy.go
  store/streaming/README.md
Labels: C:Store, backport/0.46.x, backport/v0.47.x

#13914 chore: remove typo
  x/group/internal/math/dec.go
Labels: C:x/group, backport/0.46.x, backport/v0.47.x

#13920 chore: update makefile removing gofumpt, since golangci-lint replaces it
  Makefile
Labels: Type: Build

#13883 chore: little proto fixes
  orm/internal/codegen/query.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/bank.pb.go
  orm/internal/testpb/bank_query.pb.go
  orm/internal/testpb/bank_query.proto
  orm/internal/testpb/bank_query_grpc.pb.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.pb.go
  orm/internal/testpb/test_schema_query.pb.go
  orm/internal/testpb/test_schema_query.proto
  orm/internal/testpb/test_schema_query_grpc.pb.go
Labels: C:orm

#11856 ci: add sonarcloud job
  .github/workflows/test.yml
Labels: T: CI, Type: CI

#13921 ci: configure sonarcloud
  .codecov.yml
  .github/workflows/test.yml
  README.md
  server/export.go
  server/start.go
  server/tm_cmds.go
  server/util.go
  simapp/simd/cmd/testnet.go
  sonar-project.properties
  testutil/testdata/animal.go
  x/auth/client/testutil/helpers.go
  x/auth/simulation/params.go
  x/bank/simulation/genesis.go
  x/bank/simulation/params.go
  x/capability/simulation/genesis.go
  x/capability/types/errors.go
  x/distribution/simulation/genesis.go
  x/distribution/simulation/params.go
  x/evidence/simulation/genesis.go
  x/evidence/types/errors.go
  x/evidence/types/params.go
  x/genutil/collect.go
  x/genutil/types/types.go
  x/gov/keeper/invariants.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/simulation/params.go
  x/gov/types/v1/querier.go
  x/gov/types/v1beta1/querier.go
  x/mint/simulation/genesis.go
  x/mint/simulation/params.go
  x/slashing/simulation/genesis.go
  x/slashing/simulation/params.go
  x/slashing/types/querier.go
  x/staking/simulation/genesis.go
  x/staking/simulation/params.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/auth, C:x/evidence, C:x/capability, C:x/genutil, Type: CI

#13918 fix: correctly propagate msg errors in gov
  CHANGELOG.md
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/common_test.go
Labels: C:x/gov, backport/0.46.x, backport/v0.47.x

#13929 feat(bank): enable 0.46.5 bank migration fix through migrator keeper
  x/bank/keeper/migrations.go
Labels: C:x/bank

#13780 chore: added new field `account-id` with uint64 in `AccountAddressByID`
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  proto/cosmos/auth/v1beta1/query.proto
  x/auth/client/cli/query.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Labels: C:CLI, C:x/auth

#13946 test: docker-compose for rosetta-cli tests (#132)
  contrib/rosetta/docker-compose.yaml
Labels: C:Rosetta

#13949 refactor: x/consensus audit changes
  proto/cosmos/consensus/v1/tx.proto
  x/consensus/exported/exported.go
  x/consensus/keeper/msg_server.go
  x/consensus/keeper/msg_server_test.go
  x/consensus/module.go
  x/consensus/types/codec.go
  x/consensus/types/msgs.go
  x/consensus/types/params.go
  x/consensus/types/util.go
Labels: backport/v0.47.x

#13950 chore: rename `app_legacy` & add sims for 0.47
  .github/workflows/sims-047.yml
  .github/workflows/test-legacy.yml
  Makefile
  UPGRADING.md
  depinject/README.md
  docs/docs/building-apps/00-app-go.md
  docs/docs/building-apps/01-app-go-v2.md
  docs/docs/building-apps/01-app-legacy-go.md
  docs/docs/building-modules/14-depinject.md
  simapp/app.go
  simapp/app_legacy.go
  simapp/app_v2.go
Labels: Type: Build, Type: CI, backport/v0.47.x

#13742 fix(group): migrate group policy account to base accounts with credentials
  CHANGELOG.md
  api/cosmos/auth/v1beta1/auth.pulsar.go
  docs/architecture/adr-028-public-key-addresses.md
  proto/cosmos/auth/v1beta1/auth.proto
  server/mock/tx.go
  x/auth/types/auth.pb.go
  x/auth/types/codec.go
  x/auth/types/credentials.go
  x/auth/types/credentials_test.go
  x/crisis/migrations/v2/migrate_test.go
  x/distribution/migrations/v3/migrate_test.go
  x/group/expected_keepers.go
  x/group/keeper/keeper_test.go
  x/group/keeper/migrations.go
  x/group/keeper/msg_server.go
  x/group/migrations/v2/migrate.go
  x/group/migrations/v2/migrate_test.go
  x/group/module/module.go
  x/group/testutil/expected_keepers_mocks.go
  x/group/types_test.go
  x/slashing/migrations/v3/migrator_test.go
  x/staking/migrations/v4/migrations_test.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, T: State Machine Breaking, C:x/crisis, C:x/auth, C:x/group, Type: ADR, backport/v0.47.x

#13944 ci: configure monorepo sonarcloud
  .build.sh
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-skip.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  client/v2/sonar-project.properties
  contrib/test_cover.sh
  core/sonar-project.properties
  depinject/sonar-project.properties
  errors/sonar-project.properties
  go.work.example
  math/sonar-project.properties
  scripts/module-tests.sh
  simapp/sonar-project.properties
  sonar-project.properties
  tests/Makefile
  tools/cosmovisor/sonar-project.properties
  tools/rosetta/sonar-project.properties
  tx/sonar-project.properties
Labels: C:CLI, C:Cosmovisor, C:Rosetta, Type: Build, Type: CI, backport/v0.47.x

#13936 fix: make downgrade verification work again
  CHANGELOG.md
  x/upgrade/abci.go
  x/upgrade/abci_test.go
Labels: C:x/upgrade, backport/v0.47.x

#13853 feat(textual): Add Enum value renderer
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  docs/architecture/adr-050-sign-mode-textual.md
  tx/go.mod
  tx/go.sum
  tx/textual/internal/testdata/enum.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/enum.go
  tx/textual/valuerenderer/enum_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: Type: ADR

#13987 ci: improve test skipping mechanism
  .github/workflows/build-skip.yml
  .github/workflows/build.yml
  .github/workflows/test-skip.yml
  .github/workflows/test.yml
Labels: Type: CI

#13884 refactor: (secp256k1) cleaner way to check for lower S form signatures
  crypto/keys/secp256k1/secp256k1_nocgo.go
Labels: A:automerge, T:Sprint

#13888 feat: sender mempool impl
  baseapp/abci_v1_test.go
  baseapp/baseapp.go
  baseapp/util_test.go
  types/mempool/mempool_test.go
  types/mempool/nonce.go
  types/mempool/sender_nonce.go
  types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_test.go
Labels: C:ABCI, T:Sprint, backport/v0.47.x

#13984 chore: add group and gov/v1 in swagger
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
Labels: C:CLI, backport/0.46.x, backport/v0.47.x

#13671 feat: value renderer for google.protobuf.Any
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  tx/textual/internal/testdata/any.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/any.go
  tx/textual/valuerenderer/any_test.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/coin_test.go
  tx/textual/valuerenderer/coins_test.go
  tx/textual/valuerenderer/dec_test.go
  tx/textual/valuerenderer/enum_test.go
  tx/textual/valuerenderer/int_test.go
  tx/textual/valuerenderer/message.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: Type: ADR

#13882 feat: Add tx encode and decode endpoints for amino txs
  CHANGELOG.md
  api/cosmos/tx/v1beta1/service.pulsar.go
  api/cosmos/tx/v1beta1/service_grpc.pb.go
  proto/cosmos/tx/v1beta1/service.proto
  tests/e2e/tx/service_test.go
  types/tx/service.pb.go
  types/tx/service.pb.gw.go
  x/auth/tx/service.go
Labels: C:x/auth, backport/v0.47.x

#13990 refactor: x/crisis audit changes
  proto/cosmos/crisis/module/v1/module.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  x/crisis/exported/exported.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/migrator.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/types/codec.go
  x/crisis/types/msgs.go
Labels: C:x/crisis, backport/v0.47.x

#14022 docs: (x/distribution) Fix docs for v0.47
  proto/cosmos/distribution/v1beta1/genesis.proto
  x/distribution/README.md
  x/distribution/types/genesis.pb.go
  x/staking/types/params_test.go
Labels: C:x/distribution, T: Audit, backport/v0.47.x

#13875 docs: appside mempool
  docs/docs/building-apps/02-app-mempool.md
Labels: backport/v0.47.x

#14032 fix: tools/cosmovisor: return on failing to remove existing symlink
  tools/cosmovisor/args.go
Labels: C:Cosmovisor

#13774 ci: add workflow for reporting possible state-changing diffs
  .github/workflows/statediff.yml
Labels: Type: CI

#13993 fix: fix multi platform go build in docker push workflow
  .github/workflows/docker.yml
  Dockerfile
Labels: Type: Build, Type: CI

#14033 chore: change image name to simapp
  .github/workflows/docker.yml
Labels: Type: CI

#14021 docs: add docs about `x/auth/tx`
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  api/cosmos/crisis/module/v1/module.pulsar.go
  api/cosmos/crisis/v1beta1/tx.pulsar.go
  api/cosmos/crisis/v1beta1/tx_grpc.pb.go
  api/cosmos/tx/config/v1/config.pulsar.go
  api/cosmos/tx/v1beta1/service_grpc.pb.go
  baseapp/util_test.go
  docs/docs/core/05-encoding.md
  docs/docs/modules/_category_.json
  docs/docs/pkg/_category_.json
  docs/post.sh
  docs/pre.sh
  fuzz/README.md
  go.mod
  go.sum
  proto/cosmos/tx/config/v1/config.proto
  server/grpc/grpc_web_test.go
  simapp/app_config.go
  simapp/app_v2.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/genutil/gentx_test.go
  tests/integration/runtime/query_test.go
  testutil/configurator/configurator.go
  testutil/network/network.go
  types/tx/service.pb.go
  x/README.md
  x/auth/README.md
  x/auth/migrations/legacytx/config_test.go
  x/auth/testutil/app_config.go
  x/auth/tx/README.md
  x/auth/tx/config.go
  x/auth/tx/config/config.go
  x/auth/tx/config_test.go
  x/auth/tx/testutil/suite.go
  x/auth/types/query.pb.go
  x/auth/vesting/README.md
  x/authz/testutil/app_config.go
  x/bank/app_test.go
  x/bank/simulation/operations_test.go
  x/capability/testutil/app_config.go
  x/consensus/types/tx.pb.go
  x/crisis/types/tx.pb.go
  x/distribution/testutil/app_config.go
  x/evidence/testutil/app_config.go
  x/feegrant/testutil/app_config.go
  x/gov/simulation/operations_test.go
  x/group/testutil/app_config.go
  x/mint/testutil/app_config.go
  x/nft/testutil/app_config.go
  x/params/testutil/app_config.go
  x/slashing/testutil/app_config.go
  x/staking/testutil/app_config.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft, backport/v0.47.x

#14035 chore: bumps math and api deps
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  docs/docs/core/05-encoding.md
  docs/docusaurus.config.js
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
  x/auth/README.md
Labels: C:CLI, C:x/auth, C:Rosetta, C:orm

#14036 test: fix `TestSimAppExportAndBlockedAddrs` for simapp v1
  api/cosmos/distribution/v1beta1/genesis.pulsar.go
  simapp/app.go
  simapp/app_test.go
Labels: backport/v0.47.x

#14042 ci: allow to deploy docs manually
  .github/workflows/deploy-docs.yml
  UPGRADING.md
Labels: Type: CI

#14043 chore: remove replace tag on ics23
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Labels: backport/v0.47.x

#14049 fix(baseapp): fix snapshot interval bug
  CHANGELOG.md
  baseapp/options.go
  snapshots/types/options.go
Labels: A:automerge, backport/0.46.x, backport/v0.47.x

#14050 refactor: use go context instead of sdk.Context
  CHANGELOG.md
  baseapp/abci.go
  baseapp/streaming.go
  store/streaming/file/service.go
Labels: C:Store, A:automerge

#14061 docs: Rosetta openapi specification
  tools/rosetta/CHANGELOG.md
  tools/rosetta/lib/internal/service/account.go
  tools/rosetta/openapi/index.html
  tools/rosetta/openapi/openapi.yaml
Labels: C:Rosetta

#14046 refactor: remove gogoproto stringer annotations
  CHANGELOG.md
  UPGRADING.md
  api/cosmos/capability/v1beta1/capability.pulsar.go
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/distribution/v1beta1/query.pulsar.go
  api/cosmos/params/v1beta1/params.pulsar.go
  api/cosmos/slashing/v1beta1/slashing.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/upgrade/v1beta1/upgrade.pulsar.go
  proto/cosmos/capability/v1beta1/capability.proto
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/params/v1beta1/params.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/README.md
  x/capability/types/capability.pb.go
  x/capability/types/types.go
  x/capability/types/types_test.go
  x/distribution/types/common_test.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/proposal.go
  x/distribution/types/query.pb.go
  x/distribution/types/validator.go
  x/params/types/proposal/params.pb.go
  x/params/types/proposal/proposal.go
  x/slashing/simulation/decoder_test.go
  x/slashing/types/signing_info.go
  x/slashing/types/slashing.pb.go
  x/slashing/types/tx.pb.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
  x/upgrade/abci_test.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/proposal.go
  x/upgrade/types/proposal_test.go
  x/upgrade/types/upgrade.pb.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:Simulations, C:x/params, C:x/upgrade, C:x/capability

#14024 feat: add Genesis JSON migration for group
  x/auth/migrations/v5/doc.go
  x/auth/module.go
  x/auth/types/credentials.go
  x/genutil/migrations/v047/migrate.go
  x/group/migrations/v2/gen_state.go
  x/group/migrations/v2/gen_state_test.go
Labels: C:x/auth, C:x/genutil, C:x/group, backport/v0.47.x

#14067 chore: bump tendermint to 0.37.0-rc2
  Makefile
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Labels: Type: Build, backport/v0.47.x

#14064 fix: update redelegation stringer
  CHANGELOG.md
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
Labels: C:x/staking

#13604 feat: Value Renderer for repeated
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  tx/textual/internal/testdata/repeated.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/coins.go
  tx/textual/valuerenderer/message.go
  tx/textual/valuerenderer/protoreflect_list_test.go
  tx/textual/valuerenderer/repeated_test.go
  tx/textual/valuerenderer/types.go
  tx/textual/valuerenderer/valuerenderer.go
Labels: A:automerge, Type: ADR

#14027 fix: store/rootmulti: correctly dispatch exporter closing while in a loop
  store/rootmulti/store.go
Labels: C:Store

#13701 refactor!: Add context arg to sign mode handler `GetSignBytes`
  CHANGELOG.md
  baseapp/block_gas_test.go
  baseapp/msg_service_router_test.go
  client/tx/tx.go
  client/tx/tx_test.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/testnet.go
  tests/go.mod
  tests/go.sum
  testutil/network/network.go
  testutil/sims/tx_helpers.go
  tools/rosetta/converter.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/testutil_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/client/tx.go
  x/auth/migrations/legacytx/amino_signing.go
  x/auth/migrations/legacytx/amino_signing_test.go
  x/auth/signing/handler_map.go
  x/auth/signing/handler_map_test.go
  x/auth/signing/sign_mode_handler.go
  x/auth/signing/verify.go
  x/auth/signing/verify_test.go
  x/auth/tx/aux_test.go
  x/auth/tx/direct.go
  x/auth/tx/direct_aux.go
  x/auth/tx/direct_aux_test.go
  x/auth/tx/direct_test.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/testutil/suite.go
Labels: C:CLI, C:x/auth, C:Rosetta

#14054 fix: remove unnecessary cms typecasting
  CHANGELOG.md
  baseapp/baseapp.go
Labels: A:automerge

#14072 chore: mark WrapSdkContext as deprecated
  baseapp/abci.go
  baseapp/baseapp.go
  types/context.go
Labels: A:automerge

#14075 refactor: audit store package changes in 0.47 release
  store/rootmulti/store.go
Labels: C:Store, A:automerge, backport/v0.47.x

#14010 fix: math: optimize and test FormatInt + simplify LegacyNewDecFromStr
  math/CHANGELOG.md
  math/dec.go
  math/int.go
  math/int_test.go
Labels: A:automerge

#14048 refactor: move snapshotstore under store
  CHANGELOG.md
  api/cosmos/base/store/snapshots/v1beta1/snapshot.pulsar.go
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/deliver_tx_test.go
  baseapp/options.go
  proto/cosmos/base/store/snapshots/v1beta1/snapshot.proto
  server/mock/store.go
  simapp/simd/cmd/root.go
  store/rootmulti/snapshot_test.go
  store/rootmulti/store.go
  store/snapshots/README.md
  store/snapshots/chunk.go
  store/snapshots/chunk_test.go
  store/snapshots/helpers_test.go
  store/snapshots/manager.go
  store/snapshots/manager_test.go
  store/snapshots/store.go
  store/snapshots/store_test.go
  store/snapshots/stream.go
  store/snapshots/types/convert.go
  store/snapshots/types/errors.go
  store/snapshots/types/format.go
  store/snapshots/types/options.go
  store/snapshots/types/snapshot.pb.go
  store/snapshots/types/snapshotter.go
  store/snapshots/types/util.go
  store/types/store.go
Labels: C:Store, A:automerge

#14078 chore: clean-up deprecated function usage
  baseapp/grpcrouter.go
  baseapp/msg_service_router.go
  client/grpc/node/service_test.go
  tests/integration/slashing/keeper/keeper_test.go
  x/auth/ante/sigverify.go
  x/auth/keeper/grpc_query_test.go
  x/bank/keeper/grpc_query_test.go
  x/consensus/keeper/grpc_query_test.go
  x/evidence/keeper/grpc_query_test.go
  x/feegrant/keeper/genesis_test.go
  x/gov/abci_test.go
  x/gov/keeper/msg_server_test.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/tally_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/params/keeper/grpc_query_test.go
  x/staking/testutil/helpers.go
Labels: C:x/staking, C:CLI, C:x/gov, C:Simulations, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/feegrant, C:x/group

#14055 refactor: x/nft audit changes
  api/cosmos/nft/v1beta1/event.pulsar.go
  api/cosmos/nft/v1beta1/genesis.pulsar.go
  api/cosmos/nft/v1beta1/query.pulsar.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/nft/v1beta1/event.proto
  proto/cosmos/nft/v1beta1/genesis.proto
  proto/cosmos/nft/v1beta1/query.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  tx/textual/internal/testpb/1.proto
  x/nft/client/cli/query_test.go
  x/nft/client/cli/tx.go
  x/nft/client/cli/tx_test.go
  x/nft/codec.go
  x/nft/errors.go
  x/nft/event.pb.go
  x/nft/genesis.go
  x/nft/genesis.pb.go
  x/nft/keeper/class.go
  x/nft/keeper/genesis.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/msg_server.go
  x/nft/keeper/msg_server_test.go
  x/nft/keys.go
  x/nft/msgs.go
  x/nft/query.pb.go
  x/nft/simulation/decoder.go
  x/nft/simulation/operations.go
Labels: C:CLI, C:Simulations, A:automerge, C:x/nft, backport/v0.47.x

#14018 chore: (x/feegrant) add missing test scenarios
  x/feegrant/keeper/msg_server_test.go
Labels: A:automerge, C:x/feegrant, backport/v0.47.x

#14081 fix: fix issues found by sonarcloud
  tools/rosetta/openapi/index.html
  tx/textual/valuerenderer/valuerenderer.go
Labels: C:Rosetta

#14071 fix(group)!: Don't re-tally proposals after VP end
  CHANGELOG.md
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
Labels: C:x/group, backport/0.46.x, backport/v0.47.x

#14066 chore: (x/mint) improve code cov
  x/mint/keeper/genesis_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/types/params.go
Labels: C:x/mint, A:automerge, backport/v0.47.x

#14086 fix: do not shadow clientCtx in start.go
  server/start.go
Labels: backport/0.45.x, backport/0.46.x, backport/v0.47.x

#14106 chore: run markdownlint on the whole repository
  crypto/keys/secp256k1/internal/secp256k1/libsecp256k1/README.md
  docs/architecture/adr-047-extend-upgrade-plan.md
  docs/architecture/adr-049-state-sync-hooks.md
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  docs/architecture/adr-050-sign-mode-textual-annex2.md
  docs/architecture/adr-050-sign-mode-textual.md
  docs/architecture/adr-053-go-module-refactoring.md
  docs/architecture/adr-055-orm.md
  docs/architecture/adr-057-app-wiring.md
  docs/architecture/adr-058-auto-generated-cli.md
  docs/docs/basics/01-tx-lifecycle.md
  docs/docs/building-modules/13-simulator.md
  docs/docs/run-node/06-run-production.md
  tools/rosetta/CHANGELOG.md
  tx/textual/internal/testdata/README.md
Labels: C:Rosetta, Type: ADR
