Repository cosmos/cosmos-sdk, pull requests merged in 2022-06, with the labels that each got.

#12105 docs: Ignore tips when TipDecorator is absent
  client/flags/flags.go
  docs/core/tips.md
  proto/cosmos/tx/v1beta1/tx.proto
Labels: C:CLI, A:automerge, backport/0.46.x

#12095 fix: running a tx with --dry-run returns an error
  CHANGELOG.md
  client/tx/factory.go
  x/bank/client/testutil/suite.go
Labels: C:CLI, C:x/bank, backport/0.46.x

#12114 fix: Make Test Suites Run Sequentially
  types/coin_test.go
  types/events_test.go
Labels: A:automerge, backport/0.46.x

#12118 chore: add success slack message to sim testing
  .github/workflows/sims.yml
Labels: Type: CI

#12108 fix: `GetBlockWithTxs` error when querying block with 0 tx
  CHANGELOG.md
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: C:x/auth, A:automerge

#12032 feat(x/bank): app wiring migration
  api/cosmos/bank/module/v1/module.pulsar.go
  api/cosmos/tx/v1beta1/tx.pulsar.go
  depinject/inject.go
  proto/cosmos/bank/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  simapp/types.go
  types/tx/tx.pb.go
  x/auth/keeper/keeper.go
  x/auth/module.go
  x/bank/keeper/send.go
  x/bank/module.go
  x/bank/types/expected_keepers.go
Labels: C:x/bank, C:x/auth

#12005 fix: cosmovisor binary usage for pre-upgrade
  CHANGELOG.md
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/cmd/cosmovisor/help.go
  cosmovisor/cmd/cosmovisor/help_test.go
  cosmovisor/cmd/cosmovisor/run.go
  cosmovisor/process.go
  cosmovisor/upgrade.go
  cosmovisor/upgrade_test.go
Labels: A:automerge, C:Cosmovisor

#12122 fix: keys migration issue
  CHANGELOG.md
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Labels: A:automerge, backport/0.46.x, R:0.46, T:Sprint

#12058 feat: migrate x/capability to app wiring
  api/cosmos/capability/module/v1/module.pulsar.go
  baseapp/baseapp.go
  proto/cosmos/capability/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/capability/capability_test.go
  x/capability/keeper/keeper.go
  x/capability/module.go
  x/capability/types/keys.go
Labels: C:x/capability, WG: Framework, T:Sprint

#12090 feat: migrate x/feegrant to app wiring
  api/cosmos/feegrant/module/v1/module.pulsar.go
  proto/cosmos/feegrant/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/auth/module.go
  x/bank/module.go
  x/feegrant/module/module.go
Labels: C:x/bank, C:x/auth, C:x/feegrant

#12102 feat: migrate x/staking to app wiring
  api/cosmos/staking/module/v1/module.pulsar.go
  proto/cosmos/staking/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  simapp/export.go
  x/bank/module.go
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
  x/staking/abci.go
  x/staking/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/invariants.go
  x/staking/keeper/keeper.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/querier.go
  x/staking/keeper/test_common.go
  x/staking/keeper/validator_test.go
  x/staking/module.go
  x/staking/simulation/operations.go
  x/staking/teststaking/helper.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, A:automerge

#12127 fix: TxFactory reads from `--fee-{payer,granter}`
  CHANGELOG.md
  client/tx/factory.go
  client/tx/tx.go
  x/feegrant/client/testutil/suite.go
Labels: C:CLI, A:automerge, C:x/feegrant, backport/0.46.x, T:Sprint

#12138 chore: remove timeout on import sims for 0.45 and 0.46
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
Labels: A:automerge, T:Sprint

#12139 fix: added breaking change in staking keeper api
  CHANGELOG.md
Labels: T: API Breaking, A:automerge

#12135 chore!: var-naming linter errors
  CHANGELOG.md
  x/auth/tx/service.go
  x/authz/keeper/keeper.go
  x/group/keeper/grpc_query.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/keeper/tally.go
  x/nft/client/testutil/grpc.go
Labels: C:CLI, C:x/auth, A:automerge, C:x/authz, C:x/group, C:x/nft

#12140 fix(staking): Fix JSON genesis migration
  CHANGELOG.md
  x/genutil/migrations/v046/migrate.go
  x/staking/migrations/v043/keys.go
  x/staking/migrations/v046/json.go
  x/staking/migrations/v046/json_test.go
  x/staking/migrations/v046/keys.go
Labels: C:x/staking, C:x/genutil, backport/0.46.x

#12153 refactor: Simplify SimulationManager setup
  CHANGELOG.md
  simapp/app.go
  types/module/simulation.go
Labels: backport/0.45.x, backport/0.46.x

#12154 fix: add base account getter
  CHANGELOG.md
  x/auth/vesting/msg_server.go
Labels: C:x/auth, backport/0.45.x, backport/0.46.x

#12168 feat: add MsgServiceRouter to Baseapp (and runtime's provideCodecs)
  baseapp/baseapp.go
  runtime/builder.go
  runtime/module.go
  simapp/app.go
Labels: A:automerge

#12170 perf: modify DelegatorSharesInvariant for better performance
  x/staking/keeper/invariants.go
Labels: C:x/staking, backport/0.45.x, backport/0.46.x

#12177 chore: remove direct reliance on staking from slashing
  go.mod
  go.sum
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
Labels: C:x/slashing, C:x/distribution, C:Simulations, backport/0.45.x, backport/0.46.x

#12126 feat: migrate x/nft to use app wiring
  api/cosmos/nft/module/v1/module.pulsar.go
  proto/cosmos/nft/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/nft/module/module.go
Labels: C:x/nft

#12125 feat: migrate x/authz to use app wiring
  api/cosmos/authz/module/v1/module.pulsar.go
  proto/cosmos/authz/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/authz/expected_keepers.go
  x/authz/keeper/keeper.go
  x/authz/module/module.go
Labels: A:automerge, C:x/authz

#12184 fix: Fix MsgExec not verifying the validity of nested messages
  CHANGELOG.md
  x/authz/client/cli/tx.go
  x/authz/msgs.go
  x/authz/msgs_test.go
Labels: C:CLI, C:x/authz

#12110 docs(depinject): add examples
  depinject/README.md
  depinject/inject.go
Labels: A:automerge, T:Sprint

#12200 feat: migrate `x/slashing` to use app wiring
  api/cosmos/slashing/module/v1/module.pulsar.go
  proto/cosmos/slashing/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/slashing/module.go
Labels: C:x/slashing

#12188 feat(cosmovisor): Add a restart delay after halt and before backup
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/args.go
  cosmovisor/args_test.go
  cosmovisor/process.go
  cosmovisor/process_test.go
Labels: A:automerge, C:Cosmovisor

#12208 fix: update index of crisis invariant check logs
  CHANGELOG.md
  x/crisis/keeper/keeper.go
Labels: C:x/crisis, A:automerge, backport/0.45.x, backport/0.46.x

#12213 Revert "fix: add base account getter (backport #12154)"
  CHANGELOG.md
  x/auth/vesting/msg_server.go
Labels: C:x/auth

#12169 feat(depinject): resolve interface types
  core/internal/testpb/modules.go
  depinject/binding_test.go
  depinject/config.go
  depinject/container.go
  depinject/container_test.go
  depinject/errors.go
  depinject/features/bindings.feature
  depinject/go.mod
  depinject/go.sum
  depinject/group.go
  depinject/module_dep.go
  depinject/one_per_module.go
  depinject/provider_desc.go
  depinject/provider_desc_test.go
  depinject/resolver.go
  depinject/simple.go
  depinject/struct_args.go
  depinject/supply.go
  x/auth/module.go
  x/bank/module.go
  x/feegrant/module/module.go
  x/staking/module.go
Labels: C:x/staking, C:x/bank, C:x/auth, C:x/feegrant

#12193 feat: app wiring setup for tx's and ante/post handlers
  api/cosmos/tx/module/v1/module.pulsar.go
  baseapp/block_gas_test.go
  core/appmodule/doc.go
  core/appmodule/option.go
  proto/cosmos/tx/module/v1/module.proto
  runtime/builder.go
  simapp/app.go
  simapp/app.yaml
  x/auth/tx/module/module.go
Labels: C:x/auth, A:automerge

#12124 feat: migrate x/genutil to app wiring
  api/cosmos/genutil/module/v1/module.pulsar.go
  proto/cosmos/genutil/module/v1/module.proto
  runtime/module.go
  simapp/app.go
  simapp/app.yaml
  x/genutil/module.go
Labels: C:x/genutil

#12220 feat: add x/nft app wiring integration tests
  simapp/app.yaml
  testutil/network/network.go
  x/nft/client/testutil/cli_test.go
  x/nft/testutil/app.yaml
  x/nft/testutil/app_config.go
Labels: C:CLI, C:x/nft

#11977 feat(bank)!: Move the bank module SendEnabled info into state (from Params).
  CHANGELOG.md
  Makefile
  api/cosmos/bank/v1beta1/bank.pulsar.go
  api/cosmos/bank/v1beta1/genesis.pulsar.go
  api/cosmos/bank/v1beta1/query.pulsar.go
  api/cosmos/bank/v1beta1/query_grpc.pb.go
  client/utils.go
  client/v2/go.mod
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/genesis.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/tx.proto
  simapp/app_test.go
  simapp/test_helpers.go
  x/bank/client/cli/query.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/migrations.go
  x/bank/keeper/send.go
  x/bank/migrations/v043/json_test.go
  x/bank/migrations/v047/gen_state.go
  x/bank/migrations/v047/gen_state_test.go
  x/bank/module.go
  x/bank/simulation/genesis.go
  x/bank/simulation/genesis_test.go
  x/bank/simulation/params.go
  x/bank/simulation/params_test.go
  x/bank/spec/01_state.md
  x/bank/spec/02_keepers.md
  x/bank/spec/05_params.md
  x/bank/spec/06_client.md
  x/bank/types/bank.pb.go
  x/bank/types/genesis.go
  x/bank/types/genesis.pb.go
  x/bank/types/genesis_test.go
  x/bank/types/key.go
  x/bank/types/key_test.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/params.go
  x/bank/types/params_test.go
  x/bank/types/query.pb.go
  x/bank/types/query.pb.gw.go
  x/genutil/client/cli/migrate.go
  x/genutil/migrations/v047/migrate.go
Labels: C:CLI, C:Simulations, C:x/bank, C:x/genutil, Type: Build

#11791 feat(orm): specify generic gRPC query service
  api/cosmos/orm/query/v1alpha1/query.pulsar.go
  api/cosmos/orm/query/v1alpha1/query_grpc.pb.go
  proto/cosmos/orm/query/v1alpha1/query.proto
Labels: A:automerge, C:orm

#12240 feat: migrate `x/evidence` to use app wiring
  api/cosmos/evidence/module/v1/module.pulsar.go
  proto/cosmos/evidence/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/evidence/client/testutil/cli_test.go
  x/evidence/module.go
  x/evidence/testutil/app.yaml
  x/evidence/testutil/app_config.go
Labels: C:CLI, C:x/evidence, A:automerge

#12233 feat: decouple `x/nft` from simapp
  CHANGELOG.md
  simapp/test_helpers.go
  testutil/network/network.go
  testutil/sims/address_helpers.go
  testutil/sims/app_helpers.go
  testutil/sims/helpers.go
  x/nft/client/testutil/cli_test.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper_test.go
  x/nft/module/module.go
  x/nft/simulation/decoder_test.go
  x/nft/simulation/genesis_test.go
  x/nft/simulation/operations.go
  x/nft/simulation/operations_test.go
  x/nft/spec/01_concepts.md
  x/nft/testutil/app.yaml
  x/nft/testutil/app_config.go
Labels: C:CLI, C:Simulations, A:automerge, C:x/nft

#12190 fix: update vesting message server to handle base accounts correctly
  CHANGELOG.md
  x/auth/vesting/msg_server.go
Labels: C:x/auth, A:automerge, backport/0.46.x

#12173 feat: migrate x/group to app wiring
  api/cosmos/group/v1/module/v1/module.pulsar.go
  proto/cosmos/group/v1/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/group/module/module.go
Labels: A:automerge, C:x/group

#12245 feat: decouple `x/evidence` from simapp
  x/evidence/genesis_test.go
  x/evidence/keeper/grpc_query_test.go
  x/evidence/keeper/infraction_test.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/querier_test.go
  x/evidence/simulation/decoder_test.go
  x/evidence/spec/01_concepts.md
  x/evidence/testutil/app.yaml
  x/nft/spec/01_concepts.md
  x/nft/testutil/app.yaml
Labels: C:Simulations, C:x/evidence, C:x/nft

#12255 feat: decouple `x/mint` from simapp
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/querier_test.go
  x/mint/module_test.go
  x/mint/simulation/decoder_test.go
  x/mint/spec/01_concepts.md
  x/mint/testutil/app_config.go
Labels: C:x/mint, C:Simulations

#12187 feat: add batch operation for x/nft module
  CHANGELOG.md
  x/nft/keeper/nft.go
  x/nft/keeper/nft_batch.go
  x/nft/keeper/nft_batch_test.go
Labels: A:automerge, C:x/nft

#12243 feat: add x/group app wiring integration tests
  runtime/app.go
  runtime/builder.go
  runtime/module.go
  simapp/app.go
  testutil/network/network.go
  testutil/sims/app_helpers.go
  x/group/client/testutil/cli_test.go
  x/group/testutil/app.yaml
  x/group/testutil/app_config.go
Labels: C:CLI, A:automerge, C:x/group

#12225 ci: send slack alerts for sims only on status change
  .github/actions/last-workflow-status/action.yaml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
Labels: Type: CI

#12264 fix: Refactor GetLastCompletedUpgrade [v0.45.x]
  CHANGELOG.md
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
Labels: C:x/upgrade

#12266 docs: Fix vesting spec PermanentLockedAccount message code link
  x/auth/spec/05_vesting.md
Labels: T: Docs, C:x/auth

#12199 feat(cli): add acc-address by id cli and grpc gateway api
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  baseapp/block_gas_test.go
  proto/cosmos/auth/v1beta1/query.proto
  x/auth/ante/ante_test.go
  x/auth/client/cli/query.go
  x/auth/client/testutil/suite.go
  x/auth/keeper/account.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/migrations.go
  x/auth/migrations/v046/store.go
  x/auth/migrations/v046/store_test.go
  x/auth/module.go
  x/auth/types/keys.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Labels: C:CLI, C:x/auth, backport/0.46.x

#12229 fix: increase sdk.Dec maxApproxRootIterations
  CHANGELOG.md
  types/decimal.go
  types/decimal_test.go
Labels: A:automerge, backport/0.46.x

#12231 chore: Buildjet pr
  .github/workflows/cosmovisor-release.yml
  .github/workflows/release-sims.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: A:automerge, Type: CI

#12261 fix: GetTxsEvent pagination
  CHANGELOG.md
  api/cosmos/orm/query/v1alpha1/query.pulsar.go
  api/cosmos/tx/v1beta1/service.pulsar.go
  proto/cosmos/tx/v1beta1/service.proto
  types/tx/service.pb.go
  x/auth/tx/query.go
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: C:x/auth, A:automerge, backport/0.46.x

#12278 fix: operation simulation route in x/nft test
  CHANGELOG.md
  simapp/sim_test.go
  simapp/test_helpers.go
  simapp/utils.go
  testutil/sims/app_helpers.go
  testutil/sims/tx_helpers.go
  x/auth/ante/feegrant_test.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/distribution/simulation/operations_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/nft/simulation/operations.go
  x/nft/simulation/operations_test.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/auth, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft

#12256 feat: decouple `x/capability` from simapp
  runtime/app.go
  simapp/app.go
  testutil/sims/app_helpers.go
  x/capability/capability_test.go
  x/capability/genesis_test.go
  x/capability/keeper/keeper_test.go
  x/capability/module.go
  x/capability/simulation/decoder_test.go
  x/capability/spec/03_app_wiring.md
  x/capability/spec/README.md
  x/capability/testutil/app.yaml
  x/capability/testutil/app_config.go
  x/nft/simulation/operations_test.go
Labels: C:Simulations, A:automerge, C:x/capability, C:x/nft

#12277 feat: decouple `x/group` from simapp
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper_test.go
  x/group/keeper/tally_test.go
  x/group/module/abci_test.go
  x/group/module/module.go
  x/group/proposal_test.go
  x/group/simulation/decoder_test.go
  x/group/simulation/genesis_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/group/testutil/app.yaml
  x/group/testutil/app_config.go
Labels: C:Simulations, A:automerge, C:x/group

#12293 docs: update adr-043-nft-module
  docs/architecture/adr-043-nft-module.md
Labels: Type: ADR

#12279 feat: decouple x/authz from simapp
  x/authz/keeper/genesis_test.go
  x/authz/keeper/grpc_query_test.go
  x/authz/keeper/keeper_test.go
  x/authz/migrations/v046/store_test.go
  x/authz/module/abci_test.go
  x/authz/module/module.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/genesis_test.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/authz/spec/06_app_wiring.md
  x/authz/spec/README.md
  x/authz/testutil/app.yaml
  x/authz/testutil/app_config.go
Labels: C:Simulations, C:x/authz

#12301 feat: migrate `x/auth/vesting` to use app wiring
  api/cosmos/vesting/module/v1/module.pulsar.go
  proto/cosmos/vesting/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  x/auth/module.go
  x/auth/vesting/client/testutil/cli_test.go
  x/auth/vesting/module.go
  x/auth/vesting/testutil/app.yaml
  x/auth/vesting/testutil/app_config.go
  x/auth/vesting/types/vesting_account_test.go
  x/nft/client/testutil/cli_test.go
Labels: C:CLI, C:x/auth, C:x/nft

#12304 ci: remove proto breakage check action on main
  .github/workflows/proto.yml
Labels: Type: CI

#12317 fix: edit validator bug from cli
  CHANGELOG.md
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/client/testutil/cli_test.go
  x/staking/client/testutil/suite.go
Labels: C:x/staking, C:CLI

#12318 chore: simplify and refactor linting
  .github/workflows/lint.yml
  .golangci.yml
  Makefile
  client/keys/add.go
  client/tx/tx.go
  client/utils.go
  codec/types/any.go
  go.mod
  go.sum
  runtime/app.go
  simapp/app.go
  simapp/simd/cmd/testnet.go
  store/v2alpha1/multi/test_util.go
  testutil/network/util.go
  tools/tools.go
  x/auth/client/testutil/suite.go
  x/auth/tx/service.go
  x/authz/client/testutil/tx.go
  x/authz/expected_keepers.go
  x/bank/client/cli/query.go
  x/bank/keeper/send.go
  x/bank/simulation/genesis.go
  x/feegrant/keeper/keeper.go
  x/feegrant/migrations/v046/keys.go
  x/genutil/module.go
  x/gov/migrations/v046/convert.go
  x/group/client/cli/util.go
  x/group/client/testutil/tx.go
Labels: C:CLI, C:x/gov, C:Keys, C:Simulations, C:Store, C:x/bank, C:x/auth, A:automerge, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, Type: Build, Type: CI

#12303 fix: Use bytes instead of string comparison in delete validator queue
  CHANGELOG.md
  x/staking/keeper/validator.go
Labels: C:x/staking

#12291 feat(x/staking): add app wiring support for StakingHooks
  api/cosmos/staking/module/v1/module.pulsar.go
  core/appconfig/config.go
  core/appmodule/option.go
  core/internal/registry.go
  depinject/config.go
  depinject/container.go
  depinject/features/invoke.feature
  depinject/invoke_test.go
  proto/cosmos/staking/module/v1/module.proto
  simapp/app.go
  x/distribution/module.go
  x/evidence/keeper/keeper_test.go
  x/slashing/module.go
  x/staking/module.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:x/evidence, A:automerge

#12334 feat: decouple `x/distribution` from simapp
  CHANGELOG.md
  simapp/params/weights.go
  simapp/test_helpers.go
  testutil/sims/address_helpers.go
  x/auth/migrations/v043/store_test.go
  x/distribution/abci_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/testutil/grpc_query_suite.go
  x/distribution/client/testutil/suite.go
  x/distribution/client/testutil/withdraw_all_suite.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/common_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/querier_test.go
  x/distribution/module_test.go
  x/distribution/proposal_handler_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/operations_test.go
  x/distribution/simulation/proposals.go
  x/distribution/simulation/proposals_test.go
  x/distribution/testutil/app.yaml
  x/distribution/testutil/app_config.go
  x/gov/keeper/common_test.go
  x/gov/simulation/proposals.go
  x/gov/simulation/proposals_test.go
  x/mint/module_test.go
  x/slashing/abci_test.go
  x/slashing/keeper/keeper_test.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/querier_test.go
  x/staking/keeper/validator_bench_test.go
  x/staking/keeper/validator_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/auth

#12262 feat: `x/slashing` app wiring integration tests
  x/slashing/client/testutil/cli_test.go
  x/slashing/testutil/app.yaml
  x/slashing/testutil/app_config.go
Labels: C:CLI, C:x/slashing

#12315 feat: decouple x/slashing from simapp
  testutil/sims/address_helpers.go
  x/slashing/abci_test.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/querier_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/genesis_test.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/slashing/testutil/app.yaml
  x/slashing/testutil/app_config.go
Labels: C:x/slashing, C:Simulations, A:automerge

#12329 feat: add x/auth app wiring integration tests
  x/auth/client/testutil/cli_test.go
  x/auth/client/testutil/suite.go
  x/auth/migrations/legacytx/config_test.go
  x/auth/spec/08_app_wiring.md
  x/auth/spec/README.md
  x/auth/testutil/app.yaml
  x/auth/testutil/app_config.go
  x/auth/testutil/tx/suite.go
  x/auth/tx/config_test.go
  x/auth/types/account_retriever_test.go
Labels: C:CLI, C:x/auth, A:automerge

#12339 fix: store/streaming/file: fix os.File leaks in (*StreamService).Listen methods
  store/streaming/file/service.go
Labels: C:Store

#12354 chore: Set permissions for GitHub actions
  .github/workflows/check-docs.yml
  .github/workflows/cosmovisor-release.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-pr.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
Labels: Type: CI

#12359 fix: register codec with grpc server
  server/grpc/server.go
Labels: backport/0.46.x

#12346 test: fix `x/slashing` operations test
  simapp/params/weights.go
  testutil/sims/app_helpers.go
  x/capability/capability_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/testutil/app.yaml
  x/slashing/testutil/app_config.go
Labels: C:x/slashing, C:Simulations, C:x/capability

#12253 feat: add query.GenericFilteredPaginated
  CHANGELOG.md
  types/query/filtered_pagination.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/grpc_query_test.go
Labels: C:x/authz, backport/0.45.x, backport/0.46.x

#12376 chore: fumpt
  depinject/binding_test.go
  depinject/errors.go
  simapp/app.go
  x/auth/tx/module/module.go
  x/auth/tx/service_test.go
  x/authz/keeper/grpc_query.go
  x/bank/simulation/genesis.go
  x/bank/types/params.go
  x/distribution/abci_test.go
  x/group/keeper/keeper_test.go
  x/group/module/abci_test.go
  x/nft/keeper/nft_batch_test.go
  x/nft/simulation/operations.go
Labels: C:x/distribution, C:Simulations, C:x/bank, C:x/auth, C:x/authz, C:x/group, C:x/nft

#12368 fix: remove dependency on tendermint internal library
  store/types/store.go
  x/staking/keeper/msg_server.go
Labels: C:x/staking, C:Store, A:automerge, backport/0.46.x

#12342 fix: deadlock when querying group members
  x/group/internal/orm/indexer.go
  x/group/internal/orm/table.go
  x/group/internal/orm/types.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
Labels: A:automerge, C:x/group, backport/0.46.x

#12360 feat: decouple `x/auth` from simapp
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/client/cli/encode_test.go
  x/auth/client/cli/query.go
  x/auth/client/cli/query_test.go
  x/auth/client/testutil/suite.go
  x/auth/client/tx_test.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/integration_test.go
  x/auth/keeper/keeper_bench_test.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/querier_test.go
  x/auth/migrations/legacytx/config_test.go
  x/auth/migrations/v043/store_test.go
  x/auth/migrations/v046/store_test.go
  x/auth/module_test.go
  x/auth/signing/verify_test.go
  x/auth/simulation/decoder_test.go
  x/auth/testutil/app.yaml
  x/auth/testutilhelpers/tx/suite.go
  x/auth/tx/aux_test.go
  x/auth/tx/config_test.go
  x/auth/types/account_test.go
  x/auth/types/common_test.go
  x/auth/types/genesis_test.go
Labels: C:CLI, C:Simulations, C:x/auth, A:automerge

#12366 chore: decouple x/feegrant and simapp
  simapp/params/weights.go
  x/feegrant/basic_fee_test.go
  x/feegrant/client/testutil/cli_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/grant_test.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/migrations/v046/store_test.go
  x/feegrant/module/abci_test.go
  x/feegrant/module/module.go
  x/feegrant/periodic_fee_test.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/testutil/app.yaml
  x/feegrant/testutil/app_config.go
Labels: C:CLI, C:Simulations, C:x/feegrant

#12340 docs: unify app wiring documentation
  CHANGELOG.md
  x/evidence/spec/01_concepts.md
  x/evidence/spec/08_app_wiring.md
  x/group/spec/06_app_wiring.md
  x/group/spec/README.md
  x/mint/spec/01_concepts.md
  x/mint/spec/07_client.md
  x/mint/spec/README.md
  x/nft/spec/01_concepts.md
  x/nft/spec/05_app_wiring.md
  x/params/spec/03_app_wiring.md
  x/slashing/spec/10_app_wiring.md
  x/slashing/spec/README.md
Labels: C:x/slashing, C:x/mint, C:x/params, C:x/evidence, C:x/group, C:x/nft

#12384 fix: update x/mint parameter validation
  CHANGELOG.md
  x/mint/types/params.go
Labels: C:x/mint, A:automerge, backport/0.45.x, backport/0.46.x

#12394 refactor: depinject without app.yaml
  api/cosmos/group/module/v1/module.pulsar.go
  core/appconfig/config.go
  proto/cosmos/group/module/v1/module.proto
  simapp/app.go
  simapp/app.yaml
  simapp/app_config.go
  x/group/module/module.go
  x/group/testutil/app.yaml
Labels: C:x/group

#12388 chore: decouple x/feegrant and simapp
  simapp/params/weights.go
  x/feegrant/basic_fee_test.go
  x/feegrant/client/testutil/cli_test.go
  x/feegrant/client/testutil/suite.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/grant_test.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/grpc_query_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/migrations/v046/store_test.go
  x/feegrant/module/abci_test.go
  x/feegrant/module/module.go
  x/feegrant/periodic_fee_test.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/testutil/app.yaml
  x/feegrant/testutil/app_config.go
Labels: C:CLI, C:Simulations, C:x/feegrant

#12393 docs: remove app wiring from module docs
  x/auth/spec/08_app_wiring.md
  x/auth/spec/README.md
  x/authz/spec/06_app_wiring.md
  x/authz/spec/README.md
  x/bank/module.go
  x/capability/spec/03_app_wiring.md
  x/capability/spec/README.md
  x/distribution/spec/09_app_wiring.md
  x/distribution/spec/README.md
  x/evidence/spec/01_concepts.md
  x/mint/spec/01_concepts.md
  x/nft/spec/01_concepts.md
  x/params/spec/03_app_wiring.md
  x/params/spec/README.md
  x/upgrade/spec/05_app_wiring.md
  x/upgrade/spec/README.md
Labels: C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/capability, C:x/authz, C:x/nft

#12374 fix: Simulation is not deterministic due to GenSignedMockTx
  CHANGELOG.md
  simapp/test_helpers.go
  testutil/sims/tx_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/group/simulation/operations.go
  x/nft/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/genutil, C:x/authz, C:x/group, C:x/nft

#12411 docs: Fix the backup config variable name in the cosmovisor docs.
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/RELEASE_NOTES.md
Labels: T: Docs, C:Cosmovisor
