Repository cosmos/cosmos-sdk, pull requests merged in 2022-12, with the labels that each got.

#14112 refactor: Add back removed empty checks in grpc from x/nft audit
  x/nft/keeper/grpc_query.go
Labels: C:x/nft, backport/v0.47.x

#14111 chore: correct language for fee granter error
  x/auth/ante/fee.go
Labels: C:x/auth, A:automerge, backport/v0.47.x

#14119 fix: Remove `google.golang.org/protobuf` Any prefix
  core/appconfig/config.go
  docs/docs/core/05-encoding.md
  orm/internal/stablejson/encode_test.go
  tx/textual/internal/testdata/any.json
  tx/textual/valuerenderer/any.go
Labels: C:orm

#14125 chore: Test for Server Config Read
  server/config/config_test.go
Labels: backport/0.46.x, backport/v0.47.x

#14014 feat: add tx limit to mempool
  docs/docs/building-apps/02-app-mempool.md
  server/config/config.go
  server/config/toml.go
  server/start.go
  simapp/simd/cmd/root.go
  types/mempool/mempool.go
  types/mempool/sender_nonce.go
  types/mempool/sender_nonce_property_test.go
  types/mempool/sender_nonce_test.go
Labels: C:ABCI, T:Sprint, backport/v0.47.x, C: mempool

#14028 build: Makefile: add Go vulnerability checker
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cosmovisor-release.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  Makefile
Labels: Type: Build, Type: CI, backport/v0.47.x

#13696 feat: implement parse method for Int,Dec,Coin
  core/coins/format.go
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  tx/textual/internal/testdata/coin.json
  tx/textual/internal/testdata/coins.json
  tx/textual/valuerenderer/coin_test.go
  tx/textual/valuerenderer/coins.go
  tx/textual/valuerenderer/coins_test.go
  tx/textual/valuerenderer/dec.go
  tx/textual/valuerenderer/int.go
  tx/textual/valuerenderer/int_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: Type: ADR

#14136 chore: update stale PR
  .github/PULL_REQUEST_TEMPLATE/docs.md
  .github/workflows/stale.yml
Labels: Type: CI

#13516 fix: state listener observe writes at wrong time
  CHANGELOG.md
  api/cosmos/base/store/v1beta1/listening.pulsar.go
  baseapp/abci.go
  baseapp/streaming.go
  docs/architecture/adr-038-state-listening.md
  proto/cosmos/base/store/v1beta1/listening.proto
  server/config/config.go
  server/config/toml.go
  simapp/app.go
  simapp/app_v2.go
  store/cachekv/store.go
  store/cachemulti/store.go
  store/dbadapter/store.go
  store/dbadapter/store_test.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/listenkv/store.go
  store/listenkv/store_test.go
  store/mem/mem_test.go
  store/mem/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/README.md
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/tracekv/store.go
  store/tracekv/store_test.go
  store/types/listening.go
  store/types/listening.pb.go
  store/types/store.go
Labels: C:Store, A:automerge, backport/0.45.x, backport/0.46.x, Type: ADR, backport/v0.47.x

#14135 chore: bound mempool size by default
  server/config/config.go
  server/config/toml.go
Labels: backport/v0.47.x, C: mempool

#13983 fix: remove duplicate ante events
  CHANGELOG.md
  baseapp/baseapp.go
Labels: A:automerge, backport/0.46.x, backport/v0.47.x

#14090 refactor: remove reliance on sdk/types/errors from store
  store/iavl/store.go
  store/internal/proofs/create.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/snapshots/chunk.go
  store/snapshots/helpers_test.go
  store/snapshots/manager.go
  store/snapshots/store.go
  store/snapshots/stream.go
  store/snapshots/types/convert.go
  store/tracekv/store.go
  store/types/errors.go
  store/types/proof.go
Labels: C:Store

#14152 fix: stop creating `data` folder when running tests
  simapp/test_helpers.go
Labels: backport/v0.47.x

#14123 refactor: update crypto/ledger to btcec/v2
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_notavail.go
  crypto/ledger/ledger_secp256k1.go
  go.mod
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Labels: backport/v0.47.x

#14159 chore: backport tracekvstore store_name
  CHANGELOG.md
  store/cachemulti/store.go
  store/rootmulti/store.go
  store/types/store.go
  store/types/store_test.go
Labels: C:Store

#14117 refactor(textual): Update Spec to have shorter Any header screen
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  tx/textual/internal/testdata/any.json
  tx/textual/valuerenderer/any.go
Labels: Type: ADR

#14120 chore: x/authz audit changes
  x/authz/keeper/grpc_query.go
  x/authz/keeper/grpc_query_test.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
Labels: C:x/authz

#14175 refactor: provide a helper for baseapp options
  CHANGELOG.md
  server/mock/app_test.go
  server/util.go
  simapp/simd/cmd/root.go
Labels: backport/0.46.x, backport/v0.47.x

#14163 perf: Refactor Coins/Validate to avoid unnecessary map
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
Labels: backport/v0.47.x

#14118 feat: standalone rosetta command
  .github/workflows/build.yml
  Makefile
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/.gitignore
  tools/rosetta/CHANGELOG.md
  tools/rosetta/Makefile
  tools/rosetta/README.md
  tools/rosetta/client_offline.go
  tools/rosetta/client_online.go
  tools/rosetta/cmd/rosetta.go
  tools/rosetta/cmd/rosetta/main.go
  tools/rosetta/config.go
  tools/rosetta/converter.go
  tools/rosetta/converter_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tools/rosetta/lib/errors/errors.go
  tools/rosetta/lib/errors/registry.go
  tools/rosetta/lib/internal/service/account.go
  tools/rosetta/lib/internal/service/block.go
  tools/rosetta/lib/internal/service/construction.go
  tools/rosetta/lib/internal/service/mempool.go
  tools/rosetta/lib/internal/service/network.go
  tools/rosetta/lib/internal/service/offline.go
  tools/rosetta/lib/internal/service/online.go
  tools/rosetta/lib/logger/logger.go
  tools/rosetta/lib/server/server.go
  tools/rosetta/lib/types/types.go
Labels: C:Rosetta, Type: Build, Type: CI

#14168 perf: store/cachekv: preallocate kvL in dirtyItems which gets appended too
  store/cachekv/store.go
Labels: C:Store, A:automerge

#14151 refactor!: key presentation outside keyring
  CHANGELOG.md
  client/keys/add.go
  client/keys/output.go
  client/keys/output_test.go
  client/keys/show.go
  client/keys/show_test.go
  client/keys/utils.go
  crypto/keys/multisig/multisig_test.go
Labels: C:CLI, C:Keys

#14051 feat: add --grpc client option
  client/cmd.go
  client/flags/flags.go
Labels: C:CLI, backport/0.45.x, backport/0.46.x, backport/v0.47.x

#14194 ci: remove unnecessary ci jobs
  .github/workflows/test.yml
Labels: Type: CI, backport/v0.47.x

#14190 ci: add goreleaser for rosetta and add go cache
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  simapp/go.mod
  simapp/go.sum
  tools/cosmovisor/RELEASE_NOTES.md
  tools/rosetta/.goreleaser.yml
  tools/rosetta/RELEASE_NOTES.md
Labels: C:Cosmovisor, C:Rosetta, Type: CI, backport/v0.47.x

#14149 feat(simapp): Genesis related commands under one `genesis` command
  CHANGELOG.md
  contrib/rosetta/configuration/data.sh
  docs/architecture/adr-041-in-place-store-migrations.md
  docs/docs/run-node/01-run-node.md
  simapp/README.md
  simapp/simd/cmd/root.go
  tools/cosmovisor/README.md
  x/genutil/client/cli/core_genesis_cmd.go
  x/genutil/client/cli/genaccount.go
  x/genutil/client/cli/genaccount_test.go
Labels: C:CLI, C:x/genutil, C:Cosmovisor, C:Rosetta, Type: ADR, backport/v0.47.x

#14195 chore: set legacy router in app v1
  simapp/app.go
Labels: A:automerge, backport/v0.47.x

#14144 refactor: remove store kv dependency
  api/cosmos/base/store/internal/kv/v1beta1/kv.pulsar.go
  proto/cosmos/base/store/internal/kv/v1beta1/kv.proto
  simapp/sim_test.go
  store/cachekv/store.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/internal/kv/helpers.go
  store/internal/kv/kv.go
  store/internal/kv/kv.pb.go
  store/internal/maps/maps.go
  store/types/utils.go
  store/types/utils_test.go
  types/kv/kv.go
  types/store.go
  types/store_test.go
Labels: C:Store

#14188 refactor: x/upgrade audit changes
  api/cosmos/upgrade/v1beta1/tx_grpc.pb.go
  api/cosmos/upgrade/v1beta1/upgrade.pulsar.go
  proto/cosmos/upgrade/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/upgrade.proto
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/module.go
  x/upgrade/types/codec.go
  x/upgrade/types/keys.go
  x/upgrade/types/proposal.go
  x/upgrade/types/tx.pb.go
  x/upgrade/types/upgrade.pb.go
Labels: C:CLI, C:x/upgrade, backport/v0.47.x

#14134 feat(collections): Initialise core (Prefix, KeyEncoder, ValueEncoder, Map)
  .github/workflows/test.yml
  collections/collections.go
  collections/collections_test.go
  collections/go.mod
  collections/go.sum
  collections/item.go
  collections/item_test.go
  collections/keys.go
  collections/keys_test.go
  collections/map.go
  collections/map_test.go
  collections/values.go
  collections/values_test.go
  go.work.example
Labels: Type: CI

#14208 refactor: use proto.Message instead of ProtoMarshler
  codec/amino_codec.go
  codec/codec.go
  codec/codec_common_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  tests/e2e/gov/grpc.go
  types/query/filtered_pagination.go
  x/group/internal/orm/auto_uint64.go
  x/group/internal/orm/index.go
  x/group/internal/orm/iterator.go
  x/group/internal/orm/iterator_property_test.go
  x/group/internal/orm/iterator_test.go
  x/group/internal/orm/primary_key.go
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
  x/group/internal/orm/types.go
  x/group/proposal_test.go
  x/group/types.go
Labels: C:x/group

#14213 feat: add `order_migrations` argument in runtime.Module config
  api/cosmos/app/runtime/v1alpha1/module.pulsar.go
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  proto/cosmos/app/runtime/v1alpha1/module.proto
  proto/cosmos/base/store/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/store/v1beta1/listening.proto
  proto/cosmos/evidence/v1beta1/evidence.proto
  proto/cosmos/evidence/v1beta1/tx.proto
  proto/cosmos/gov/module/v1/module.proto
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  proto/cosmos/gov/v1beta1/gov.proto
  proto/cosmos/gov/v1beta1/tx.proto
  tx/textual/internal/testpb/1.proto
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
Labels: C:x/consensus

#14209 fix: app config and simapp (v1,v2) fixes
  client/grpc_query_test.go
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  runtime/app.go
  runtime/builder.go
  runtime/module.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_v2.go
  simapp/genesis.go
  simapp/go.mod
  simapp/go.sum
  simapp/state.go
  simapp/test_helpers.go
  tests/go.mod
  tests/go.sum
  testutil/sims/app_helpers.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Labels: C:CLI, C:Rosetta, C:orm, backport/v0.47.x

#14231 ci: add tooling for collections module
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/test.yml
  collections/CHANGELOG.md
  collections/sonar-project.properties
Labels: Type: CI

#14211 chore: x/slashing audit changes
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/msg_server.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/types/codec.go
  x/slashing/types/msg.go
  x/slashing/types/params.go
  x/slashing/types/signing_info.go
Labels: C:x/slashing, A:automerge

#14076 refactor: audit x/bank package changes in 0.47 release
  x/bank/keeper/grpc_query.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/module.go
  x/bank/types/genesis.go
  x/bank/types/keys.go
  x/bank/types/keys_test.go
  x/bank/types/msgs.go
  x/bank/types/send_authorization.go
Labels: C:x/bank, backport/v0.47.x

#14155 refactor: don't rely on sdk/codec in streaming
  store/listenkv/store_test.go
  store/rootmulti/store_test.go
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/listening.go
  store/types/listening_test.go
  store/types/store.go
  store/types/utils.go
Labels: C:Store, A:automerge

#14234 chore: audit store/streaming/file/service.go
  server/config/config.go
  server/config/toml.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/listening.go
Labels: C:Store, backport/0.45.x, backport/0.46.x, backport/v0.47.x

#14244 fix: fix grpc flag conflict
  client/flags/flags.go
  go.mod
Labels: C:CLI, backport/0.46.x, backport/v0.47.x

#14245 chore: clean up sdk dependencies from store package
  scripts/mockgen.sh
  store/dbadapter/store_test.go
  store/mock/tendermint_tm_db_DB.go
  store/snapshots/helpers_test.go
  store/snapshots/store_test.go
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/service.go
  store/streaming/file/service_test.go
  store/types/codec.go
  store/types/utils.go
Labels: C:Store, Type: Build

#14246 test: use temporary folder in tests
  simapp/app_test.go
  tests/integration/store/rootmulti/rollback_test.go
Labels: backport/v0.47.x

#13262 feat: Priority & sender-nonce mempool implementation
  types/mempool/mempool_test.go
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_spec.md
  types/mempool/priority_nonce_test.go
  types/mempool/skip_list_test.go
Labels: A:automerge, backport/v0.47.x

#14272 refactor: update rosetta to use `coinbase/rosetta-sdk-go/types`
  tools/rosetta/CHANGELOG.md
  tools/rosetta/README.md
  tools/rosetta/client_offline.go
  tools/rosetta/client_online.go
  tools/rosetta/config.go
  tools/rosetta/converter.go
  tools/rosetta/converter_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tools/rosetta/lib/errors/errors.go
  tools/rosetta/lib/errors/registry.go
  tools/rosetta/lib/internal/service/account.go
  tools/rosetta/lib/internal/service/block.go
  tools/rosetta/lib/internal/service/construction.go
  tools/rosetta/lib/internal/service/mempool.go
  tools/rosetta/lib/internal/service/network.go
  tools/rosetta/lib/internal/service/offline.go
  tools/rosetta/lib/internal/service/online.go
  tools/rosetta/lib/server/server.go
  tools/rosetta/lib/types/types.go
Labels: C:Rosetta

#14214 fix(gov): Fix v3 votes migrations
  CHANGELOG.md
  x/gov/migrations/v3/json_test.go
  x/gov/migrations/v3/store.go
  x/gov/migrations/v3/store_test.go
Labels: C:x/gov, backport/0.46.x, backport/v0.47.x

#14285 fix: rosetta tendermint errors as internal
  tools/rosetta/CHANGELOG.md
  tools/rosetta/lib/errors/errors.go
Labels: C:Rosetta

#14260 refactor: x/evidence audit
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/keeper/infraction_test.go
  x/evidence/module.go
Labels: C:x/evidence, backport/v0.47.x

#14290 refactor: x/group 0.47 audit
  x/group/client/cli/util.go
  x/group/expected_keepers.go
  x/group/keeper/proposal_executor.go
  x/group/module/abci_test.go
  x/group/module/module.go
  x/group/msgs.go
  x/group/msgs_test.go
  x/group/testutil/expected_keepers.go
Labels: C:CLI, C:x/group, backport/v0.47.x

#14222 feat(collections): implement Iteration
  collections/iter.go
  collections/iter_test.go
  collections/keys.go
  collections/map.go
  collections/map_test.go
Labels: C:collections

#14297 feat: no-op mempool
  baseapp/baseapp.go
  types/mempool/noop.go
Labels: backport/v0.47.x

#14305 fix(store): Fix the TestFileStreamingService unit test.
  store/streaming/file/service_test.go
Labels: C:Store, backport/0.46.x, backport/v0.47.x

#14303 refactor: x/staking 0.47 audit
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/params.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/val_state_change.go
  x/staking/migrations/v4/migrations_test.go
  x/staking/types/keys.go
  x/staking/types/msg.go
Labels: C:x/staking, backport/v0.47.x

#14267 feat(collections): add basic Schema API
  collections/collections.go
  collections/item.go
  collections/item_test.go
  collections/iter_test.go
  collections/map.go
  collections/map_test.go
  collections/schema.go
  collections/schema_test.go
Labels: C:collections

#14282 docs: improve mempool docs
  docs/docs/building-apps/02-app-mempool.md
  types/mempool/priority_nonce.go
Labels: backport/v0.47.x

#14316 feat: Add AutoCLI Sane Kebab Case
  client/v2/autocli/flag/enum.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/autocli/testdata/help.golden
  client/v2/go.mod
  client/v2/go.sum
  client/v2/internal/strcase/kebab.go
  client/v2/internal/strcase/kebab_test.go
  client/v2/internal/util/util.go
Labels: C:CLI, backport/v0.47.x

#14321 feat: Add tx limit support in priority nonce mempool
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
Labels: backport/v0.47.x

#14326 feat!: implement core store API in runtime
  core/appmodule/service.go
  runtime/module.go
  runtime/store.go
Labels: backport/v0.47.x

#14324 feat(collections)!: remove dependency on SDK
  collections/collections.go
  collections/collections_test.go
  collections/go.mod
  collections/go.sum
  collections/iter.go
  collections/map.go
  collections/schema.go
  collections/schema_test.go
Labels: C:collections

#13881 perf: optimize iteration on nested cache context
  CHANGELOG.md
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/cachekv/benchmark_test.go
  store/cachekv/internal/btree.go
  store/cachekv/internal/btree_test.go
  store/cachekv/internal/memiterator.go
  store/cachekv/internal/mergeiterator.go
  store/cachekv/memiterator.go
  store/cachekv/search_benchmark_test.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  tests/go.mod
  tests/go.sum
Labels: C:Store

#14328 refactor: don't use `simapp.AppConfig` outside simapp
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
Labels: backport/v0.47.x

#14340 docs: improve voting wording
  x/gov/README.md
Labels: C:x/gov, backport/v0.47.x

#13473 docs: update ADR 038 proposal
  CHANGELOG.md
  docs/architecture/adr-038-state-listening.md
Labels: Type: ADR

#14332 perf: Faster state export
  tests/Makefile
  tests/e2e/server/export_test.go
  types/module/module.go
Labels: backport/v0.47.x

#14359 chore: audit server package
  server/config/config.go
  server/config/toml.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/grpc_web.go
  server/mock/helpers.go
  server/util.go
Labels: backport/v0.47.x

#14333 refactor!: remove HasGenesisBasics from AppModuleBasic interfaces
  types/module/module.go
Labels: A:automerge

#14356 fix: improve baseapp event emission
  CHANGELOG.md
  UPGRADING.md
  baseapp/baseapp.go
  types/events.go
  types/events_test.go
Labels: backport/v0.47.x

#14351 feat(collections): keyset
  collections/CHANGELOG.md
  collections/keyset.go
  collections/keyset_test.go
Labels: C:collections

#14363 refactor: revert API breaking change on Slash
  CHANGELOG.md
  docs/spec/SPEC_MODULE.md
  tests/integration/distribution/keeper/delegation_test.go
  tests/integration/staking/keeper/slash_test.go
  tests/integration/staking/keeper/validator_test.go
  testutil/mock/types_module_module.go
  types/module/module_test.go
  x/evidence/keeper/infraction.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
  x/slashing/README.md
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/slashing, C:x/evidence, backport/v0.47.x

#14367 chore: audit server
  server/grpc/grpc_web.go
  server/start.go
Labels: backport/v0.47.x

#14322 feat!: deposit to validator rewards pool
  CHANGELOG.md
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/distribution/v1beta1/tx_grpc.pb.go
  proto/cosmos/distribution/v1beta1/tx.proto
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/client/cli/tx.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/codec.go
  x/distribution/types/msg.go
  x/distribution/types/tx.pb.go
Labels: C:CLI, C:x/distribution

#14366 ci: add auto assign pr review gh action
  .github/workflows/pr-reviews.yml
Labels: Type: CI

#14364 feat(collections): add sequence
  collections/CHANGELOG.md
  collections/sequence.go
  collections/sequence_test.go
Labels: C:collections

#14381 fix: panic recovery in PrepareProposal and ProcessProposal Handlers
  baseapp/abci.go
  baseapp/abci_test.go
Labels: backport/v0.47.x

#14378 refactor: make cachekv store thread-safe again
  CHANGELOG.md
  store/cachekv/internal/btree.go
  store/cachekv/internal/btree_test.go
  store/cachekv/internal/memiterator.go
  store/cachekv/store.go
Labels: C:Store

#14379 refactor: Baseapp audit changes
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/util_test.go
  baseapp/utils_test.go
Labels: backport/v0.47.x

#14393 docs: update mempool/ABCI docs
  docs/docs/building-apps/02-app-mempool.md
Labels: backport/v0.47.x

#14347 feat(gov): support v1.Proposal in v1beta1.Proposal.Content
  CHANGELOG.md
  x/gov/migrations/v3/convert.go
  x/gov/migrations/v3/convert_test.go
Labels: C:x/gov, backport/0.46.x, backport/v0.47.x

#14400 feat(gov): support v1.Proposal in v1beta1.Proposal.Content (backport #14347)
  CHANGELOG.md
  x/gov/migrations/v046/convert.go
  x/gov/migrations/v046/convert_test.go
Labels: C:x/gov, A:automerge

#14401 feat: gov/v1.Proposal convertion to v1beta1.Proposal cleanup
  x/gov/migrations/v3/convert.go
Labels: C:x/gov, A:automerge

#14404 chore: fix mint comments on inflation rate
  x/mint/README.md
  x/mint/types/minter.go
Labels: C:x/mint

#14278 refactor: x/group audit changes
  api/cosmos/group/v1/query.pulsar.go
  api/cosmos/group/v1/query_grpc.pb.go
  api/cosmos/group/v1/tx.pulsar.go
  api/cosmos/group/v1/types.pulsar.go
  proto/cosmos/group/v1/query.proto
  proto/cosmos/group/v1/tx.proto
  proto/cosmos/group/v1/types.proto
  x/group/client/cli/prompt.go
  x/group/client/cli/query.go
  x/group/client/cli/query_test.go
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/client/cli/util.go
  x/group/codec.go
  x/group/genesis.go
  x/group/keeper/genesis.go
  x/group/keeper/grpc_query.go
  x/group/keeper/keeper_test.go
  x/group/module/abci.go
  x/group/msgs.go
  x/group/proposal.go
  x/group/query.pb.go
  x/group/tx.pb.go
  x/group/types.go
  x/group/types.pb.go
Labels: C:CLI, C:x/group, backport/v0.47.x

#14408 fix(gov): don't export deprecated params
  x/gov/genesis.go
  x/gov/migrations/v4/json_test.go
  x/gov/types/v1/genesis.go
Labels: C:x/gov, backport/v0.47.x

#14323 refactor!(collections): don't panic when initializing collections
  collections/collections_test.go
  collections/go.mod
  collections/go.sum
  collections/item.go
  collections/item_test.go
  collections/iter.go
  collections/iter_test.go
  collections/keyset.go
  collections/keyset_test.go
  collections/map.go
  collections/map_test.go
  collections/schema.go
  collections/schema_test.go
  collections/sequence.go
  collections/sequence_test.go
Labels: C:collections

#14418 chore: update the event manager modifier on context
  types/context.go
Labels: A:automerge

#14402 fix: fix race conditions from #14332
  tests/Makefile
  tests/e2e/server/export_test.go
  types/module/module.go
  types/module/module_test.go
Labels: backport/v0.47.x

#14422 feat!: remove x/gov/migrations/v046.Migrate_V046_6_To_V046_7
  CHANGELOG.md
  x/gov/migrations/v046/store.go
Labels: C:x/gov

#14390 refactor: add title, summary and proposer to proposal struct of gov
  CHANGELOG.md
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/tx.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  tests/e2e/gov/tx.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/tally_test.go
  x/bank/app_test.go
  x/gov/README.md
  x/gov/abci_test.go
  x/gov/client/cli/prompt.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/tx_test.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v3/convert.go
  x/gov/migrations/v3/json_test.go
  x/gov/migrations/v4/store_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1/proposal.go
  x/gov/types/v1/proposals_test.go
  x/gov/types/v1/tx.pb.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/bank, backport/v0.47.x

#14432 chore: longer golang-ci timeout
  .golangci.yml
Labels: Type: CI

#14417 refactor: remove base app from store
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/options.go
  simapp/app.go
  simapp/app_v2.go
  store/cachekv/internal/btree_test.go
  store/cachekv/store.go
  store/internal/conv/doc.go
  store/internal/conv/string.go
  store/internal/conv/string_test.go
  store/streaming/README.md
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/README.md
  store/streaming/file/service.go
  store/types/streaming.go
Labels: C:Store, A:automerge

#14437 chore: remove unused code from server
  server/test_helpers.go
  testutil/network/network.go
  testutil/network/util.go
  x/genutil/client/cli/init_test.go
Labels: C:CLI, C:x/genutil

#13977 docs: Spec on current cachekv implementation
  store/cachekv/README.md
Labels: C:Store

#14438 refactor: pass logger to store
  CHANGELOG.md
  baseapp/baseapp.go
  server/mock/store_test.go
  store/cachekv/benchmark_test.go
  store/store.go
  testutil/context.go
  x/group/internal/orm/testsupport.go
  x/group/keeper/invariants_test.go
  x/params/types/subspace_test.go
Labels: C:Store, C:x/params, C:x/group

#14385 chore: Enforce order of store commits in root store
  store/rootmulti/store.go
Labels: C:Store, A:automerge

#14440 chore: fix replaces
  collections/go.mod
  simapp/go.mod
  tests/go.mod
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tx/go.mod
  tx/go.sum
Labels: C:Cosmovisor, C:Rosetta, C:collections

#14441 fix: fix `--log_format` flag not working
  CHANGELOG.md
  server/util.go
Labels: backport/v0.47.x

#14439 refactor: remove global metrics in store
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  server/mock/store.go
  store/cachekv/benchmark_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/metrics/telemetry.go
  store/rootmulti/proof_test.go
  store/rootmulti/snapshot_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/store.go
  store/types/iterator_test.go
  store/types/store.go
  testutil/context.go
  types/store_test.go
  x/group/internal/orm/testsupport.go
  x/group/keeper/invariants_test.go
  x/params/types/subspace_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:Store, C:x/params, C:x/upgrade, C:x/group

#14451 chore: modify db support
  UPGRADING.md
  client/pruning/main.go
  server/util.go
Labels: C:CLI

#14454 chore: clean-up app config
  baseapp/block_gas_test.go
  baseapp/utils_test.go
  x/auth/testutil/app_config.go
  x/authz/testutil/app_config.go
  x/capability/testutil/app_config.go
  x/distribution/testutil/app_config.go
  x/evidence/testutil/app_config.go
  x/feegrant/testutil/app_config.go
  x/group/testutil/app_config.go
  x/mint/testutil/app_config.go
  x/nft/testutil/app_config.go
  x/params/testutil/app_config.go
  x/slashing/testutil/app_config.go
  x/staking/testutil/app_config.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:x/mint, C:x/params, C:x/auth, C:x/evidence, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft

#13867 feat(client/v2): add autocli run + simapp example
  CHANGELOG.md
  client/flags/flags.go
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/autocli/util.go
  client/v2/autocli/validate.go
  client/v2/go.mod
  client/v2/go.sum
  runtime/app.go
  runtime/autocli.go
  runtime/module.go
  runtime/services.go
  runtime/services/autocli.go
  runtime/types.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_v2.go
  simapp/go.mod
  simapp/simd/cmd/root.go
  tests/go.mod
  testutil/configurator/configurator.go
  testutil/network/network.go
  x/auth/autocli.go
  x/auth/testutil/app_config.go
  x/authz/testutil/app_config.go
  x/capability/testutil/app_config.go
  x/distribution/testutil/app_config.go
  x/evidence/testutil/app_config.go
  x/feegrant/testutil/app_config.go
  x/group/testutil/app_config.go
  x/mint/testutil/app_config.go
  x/nft/testutil/app_config.go
  x/params/testutil/app_config.go
  x/slashing/testutil/app_config.go
  x/staking/testutil/app_config.go
Labels: C:x/staking, C:CLI, C:x/slashing, C:x/distribution, C:x/mint, C:x/params, C:x/auth, C:x/evidence, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft

#14448 fix: return anteEvents when postHandler fail
  CHANGELOG.md
  baseapp/baseapp.go
Labels: backport/0.46.x, backport/v0.47.x
