Repository cosmos/cosmos-sdk, pull requests merged in 2022-09, with the labels that each got.

#12742 feat: Add a cli cmd to prune old states according to current settings
  CHANGELOG.md
  client/pruning/main.go
  simapp/simd/cmd/root.go
  store/rootmulti/store.go
Labels: C:CLI, C:Store, backport/0.45.x, backport/0.46.x

#13116 fix: fix Group-TotalWeight invariant
  CHANGELOG.md
  store/cachekv/store.go
  x/group/keeper/invariants.go
Labels: C:Store, C:x/group

#13106 fix: decrease minimums for genesis parameters
  x/slashing/types/genesis.go
Labels: C:x/slashing

#13059 refactor(mint): CLI tests using Tendermint Mock
  tests/e2e/mint/cli_test.go
  tests/e2e/mint/grpc.go
  tests/e2e/mint/suite.go
  x/mint/client/cli/query_test.go
Labels: C:CLI, C:x/mint

#13113 refactor: remove use of tmos "github.com/tendermint/tendermint/libs/os"
  server/start.go
  simapp/app.go
  simapp/app_legacy.go
  simapp/simd/cmd/testnet.go
  testutil/network/util.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/types/genesis_state.go
  x/genutil/utils.go
  x/upgrade/keeper/keeper.go
Labels: C:CLI, C:x/upgrade, C:x/genutil

#13063 feat: emit cached context events
  CHANGELOG.md
  types/context.go
  types/context_test.go
  x/gov/abci.go
  x/group/keeper/msg_server.go
Labels: C:x/gov, C:x/group

#13127 refactor: use mocks for x/auth/vesting module unit tests
  CHANGELOG.md
  scripts/mockgen.sh
  tests/e2e/auth/vesting/client/testutil/cli_test.go
  tests/e2e/auth/vesting/client/testutil/suite.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
  x/staking/module_test.go
Labels: C:x/staking, C:x/auth, Type: Build

#13132 refactor: Use `require` instead of `assert` in x/crisis CLI test
  x/crisis/client/cli/tx_test.go
Labels: C:CLI, C:x/crisis

#13118 docs: adds gov groups metadata spec
  x/gov/spec/08_metadata.md
  x/gov/spec/README.md
  x/group/spec/06_metadata.md
  x/group/spec/README.md
Labels: C:x/gov, C:x/group

#13093 chore: replace deprecated dgrijalva/jwt-go dep
  go.mod
  go.sum
Labels: dependencies, A:automerge, backport/0.46.x

#13056 refactor(evidence): CLI tests using Tendermint Mock
  tests/e2e/evidence/cli_test.go
  tests/e2e/evidence/suite.go
  x/evidence/client/cli/tx_test.go
Labels: C:CLI, C:x/evidence

#13148 chore: bump tendermint version
  Makefile
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/deliver_tx_test.go
  baseapp/params.go
  baseapp/params_test.go
  codec/proto_codec.go
  crypto/keys/secp256k1/secp256k1.go
  go.mod
  go.sum
  server/export.go
  server/rosetta/converter.go
  server/types/app.go
  store/streaming/file/service_test.go
  tests/e2e/server/export_test.go
  tests/integration/bank/keeper/keeper_test.go
  testutil/sims/app_helpers.go
  types/context.go
  types/context_test.go
  types/events.go
  types/events_test.go
  types/result_test.go
  x/authz/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/evidence/abci.go
  x/evidence/types/evidence.go
  x/evidence/types/evidence_test.go
  x/params/types/consensus_params.go
  x/simulation/mock_tendermint.go
  x/simulation/params.go
  x/slashing/abci_test.go
  x/upgrade/abci.go
Labels: C:x/slashing, C:Simulations, C:Store, C:x/bank, C:x/params, C:x/evidence, C:x/upgrade, C:x/authz, Type: Build

#13152 fix(fuzz): fix OSS-Fuzz build
  fuzz/oss-fuzz-build.sh
Labels: A:automerge

#13154 ci: add `csplit` for documetation building
  .github/workflows/deploy-docs.yml
Labels: Type: CI

#13064 feat: List HRP prefixes in Bech32 addresses
  CHANGELOG.md
  client/debug/main.go
Labels: C:CLI, A:automerge

#13067 refactor(group): CLI tests using Tendermint Mock
  tests/e2e/group/cli_test.go
  tests/e2e/group/query.go
  tests/e2e/group/tx.go
  x/group/client/cli/tx_test.go
Labels: C:CLI, C:x/group

#13144 feat(cli/api): add validator distribution info grpc gateway get endpoint
  CHANGELOG.md
  api/cosmos/distribution/v1beta1/query.pulsar.go
  api/cosmos/distribution/v1beta1/query_grpc.pb.go
  proto/cosmos/distribution/v1beta1/query.proto
  x/distribution/client/cli/query.go
  x/distribution/client/testutil/grpc_query_suite.go
  x/distribution/client/testutil/suite.go
  x/distribution/keeper/grpc_query.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
Labels: C:CLI, C:x/distribution, A:automerge

#12910 docs(textual): Require signing over raw bytes
  docs/architecture/adr-050-sign-mode-textual.md
Labels: A:automerge, Type: ADR

#13156 ci: use ghcr.io cosmos website-deployment image
  .github/workflows/deploy-docs.yml
Labels: Type: CI

#13157 ci: fix deploying action
  .github/workflows/deploy-docs.yml
Labels: Type: CI

#13160 chore: remove custom marshaling of proposal status
  CHANGELOG.md
  x/gov/types/v1/proposal.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/proposal.go
  x/gov/types/v1beta1/vote.go
Labels: C:x/gov

#12762 docs: add module documentation testing
  docs/architecture/adr-059-test-scopes.md
  docs/building-chain/README.md
  docs/building-chain/app-go.md
  docs/building-chain/depinject.md
  docs/building-modules/simulator.md
  docs/building-modules/testing.md
  docs/cosmwasm/README.md
  docs/ibc/README.md
  docs/migrations/README.md
  docs/run-node/README.md
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
Labels: C:x/distribution, C:Simulations, Type: ADR, T:Sprint

#13166 fix(build): proto generation
  Makefile
  client/v2/internal/buf.lock
  contrib/devtools/Dockerfile
  proto/buf.lock
Labels: C:CLI, Type: Build

#12935 feat: add customized Ledger support
  CHANGELOG.md
  UPGRADING.md
  client/cmd.go
  client/context.go
  crypto/keyring/keyring.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_notavail.go
  crypto/ledger/ledger_real.go
  crypto/ledger/ledger_secp256k1.go
Labels: C:CLI, A:automerge

#13168 chore: proto image migrate to ghcr
  .github/workflows/proto-docker.yml
  CHANGELOG.md
  Makefile
  api/cosmos/app/v1alpha1/module.pulsar.go
  api/cosmos/base/query/v1beta1/pagination.pulsar.go
  api/cosmos/base/snapshots/v1beta1/snapshot.pulsar.go
  api/cosmos/crypto/keyring/v1/record.pulsar.go
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1beta1/gov.pulsar.go
  api/cosmos/group/v1/types.pulsar.go
  api/cosmos/orm/query/v1alpha1/query.pulsar.go
  api/cosmos/orm/v1/orm.pulsar.go
  api/cosmos/staking/v1beta1/authz.pulsar.go
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  api/cosmos/tx/v1beta1/tx.pulsar.go
  api/tendermint/abci/types.pulsar.go
  api/tendermint/crypto/keys.pulsar.go
  api/tendermint/types/evidence.pulsar.go
  contrib/devtools/Dockerfile
  snapshots/types/snapshot.pb.go
  testutil/testdata/unknonwnproto.pb.go
  testutil/testdata_pulsar/unknonwnproto.pulsar.go
  types/query/pagination.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/distribution/types/distribution.pb.go
  x/gov/types/v1/gov.pb.go
  x/group/types.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:x/gov, C:x/distribution, C:x/group, Type: Build, Type: CI

#12785 docs(textual): custom `Msg` renderers
  docs/architecture/adr-050-sign-mode-textual.md
Labels: A:automerge, Type: ADR

#13170 refactor(upgrade): CLI tests using Tendermint Mock
  tests/e2e/upgrade/cli_test.go
  tests/e2e/upgrade/suite.go
  x/upgrade/client/cli/tx_test.go
Labels: C:CLI, C:x/upgrade

#13175 ci: fix sims gh actions and build error
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
  crypto/ledger/ledger_real.go
Labels: Type: CI

#13068 feat: feegrant cli mocks
  tests/e2e/feegrant/cli_test.go
  tests/e2e/feegrant/suite.go
  x/feegrant/client/cli/query_test.go
  x/feegrant/client/cli/tx_test.go
Labels: C:CLI, C:x/feegrant

#11877 docs: add ADR 058 Auto-Generated CLI
  docs/architecture/README.md
  docs/architecture/adr-058-auto-generated-cli.md
Labels: T: ADR, Type: ADR, T:Sprint

#13174 feat: Add proto annotation for deterministic queries
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/bank/v1beta1/query.pulsar.go
  api/cosmos/query/v1/query.pulsar.go
  api/cosmos/staking/v1beta1/query.pulsar.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/query/v1/query.proto
  proto/cosmos/staking/v1beta1/query.proto
  types/query/query.pb.go
  x/auth/types/query.pb.go
  x/bank/types/query.pb.go
  x/staking/types/query.pb.go
Labels: C:x/staking, C:x/bank, C:x/auth, A:automerge

#13196 fix!: Fix gov amino codec
  CHANGELOG.md
  docs/core/encoding.md
  x/auth/types/codec.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/bank/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/gov/codec/cdc.go
  x/gov/codec/doc.go
  x/gov/simulation/operations_test.go
  x/gov/types/v1/codec.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1beta1/codec.go
  x/gov/types/v1beta1/msgs.go
  x/group/codec.go
  x/mint/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/upgrade/types/codec.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group

#13206 build(deps): Bump cosmossdk.io/api from v0.1.0-alpha9 to v0.2.0
  Makefile
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  scripts/go-update-dep-all.sh
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tx/go.mod
  tx/go.sum
Labels: C:CLI, dependencies, A:automerge, C:orm, Type: Build

#11981 feat(bank): Create message for Setting SendEnabled settings
  CHANGELOG.md
  api/cosmos/bank/v1beta1/tx.pulsar.go
  api/cosmos/bank/v1beta1/tx_grpc.pb.go
  go.mod
  go.sum
  proto/cosmos/bank/v1beta1/tx.proto
  tests/go.mod
  x/authz/testutil/bank_helpers.go
  x/bank/README.md
  x/bank/app_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/tx.pb.go
  x/gov/testutil/expected_keepers_mocks.go
  x/group/testutil/expected_keepers_mocks.go
Labels: C:x/gov, C:x/bank, C:x/authz, C:x/group

#13208 ci: make makefile and ci match
  .github/workflows/lint.yml
  Makefile
  go.mod
  go.sum
  tools/tools.go
Labels: Type: Build, Type: CI

#13214 fix: Add withdraw proposal cmd to group's CLI tx cmds
  CHANGELOG.md
  x/group/client/cli/tx.go
Labels: C:CLI, C:x/group, backport/0.46.x

#13217 ci: fix sims success messages
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
Labels: Type: CI

#13219 fix: remove newly introduced simapp dependency
  go.mod
  go.sum
  x/bank/app_test.go
Labels: C:x/bank

#13207 perf: reduce user's password prompts when calling keyring List function
  CHANGELOG.md
  client/keys/list.go
  client/keys/migrate.go
  crypto/keyring/keyring.go
  crypto/keyring/migration_test.go
Labels: C:CLI, C:Keys

#13222 ci: fix sims success messages
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
Labels: Type: CI

#13215 feat: add mocks for x/slashing cli tests
  x/slashing/client/cli/query_test.go
  x/slashing/client/cli/tx_test.go
Labels: C:CLI, C:x/slashing

#13226 chore: add platforms to docker deploy
  .github/workflows/proto-docker.yml
Labels: Type: CI

#13230 perf: all: remove unnecessary allocations from strings.Builder.WriteString(fmt.Sprintf(...))
  client/rpc/validators.go
  cosmovisor/args.go
  cosmovisor/args_test.go
  cosmovisor/errors/multi.go
  server/util_test.go
  types/events.go
  x/distribution/types/proposal.go
  x/params/types/proposal/proposal.go
Labels: C:CLI, C:x/distribution, C:x/params, C:Cosmovisor

#13221 fix: fix cosmovisor go install
  cosmovisor/CHANGELOG.md
  cosmovisor/go.mod
  cosmovisor/go.sum
Labels: C:Cosmovisor

#13235 docs: prepare cosmovisor 1.3.0 release
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/RELEASE_NOTES.md
Labels: C:Cosmovisor

#13238 chore: pin version of golangci-lint
  .github/workflows/lint.yml
  Makefile
Labels: Type: Build, Type: CI

#13245 chore: pin version of golangci-lint
  .github/workflows/lint.yml
  Makefile
Labels: Type: Build, Type: CI

#13236 feat: bring back filter logging
  CHANGELOG.md
  docs/run-node/run-node.md
  go.mod
  go.sum
  server/cmd/execute.go
  server/logger.go
  server/mock/helpers.go
  server/util.go
  testutil/network/network.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/upgrade

#13190 refactor(genutil): CLI tests using Tendermint Mock
  tests/e2e/genutil/cli_test.go
  tests/e2e/genutil/migrate.go
  tests/e2e/genutil/suite.go
  tests/e2e/genutil/validate_genesis.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/cli/validate_genesis_test.go
Labels: C:CLI, C:x/genutil

#11763 feat: add auto-cli customization options
  api/cosmos/autocli/v1/options.pulsar.go
  client/v2/cli/testdata/bank_example.yaml
  proto/cosmos/autocli/v1/options.proto
  scripts/protocgen.sh
Labels: C:CLI, T: Build, Type: Build

#13248 chore: build for multiple platforms
  .github/workflows/docker.yml
Labels: Type: CI

#13194 refactor: `x/staking` module to use tendermint mocks in cli test
  x/staking/client/cli/query_test.go
  x/staking/client/cli/tx_test.go
  x/staking/module.go
Labels: C:x/staking, C:CLI

#13257 chore: build docker without build-linux
  .github/workflows/docker.yml
  Dockerfile
  x/staking/client/cli/query_test.go
  x/staking/client/cli/tx_test.go
Labels: C:x/staking, C:CLI, Type: Build, Type: CI

#13260 chore: separate build flags
  .github/workflows/docker.yml
  Makefile
Labels: Type: Build, Type: CI

#13233 feat: add more coins after add-genesis-account is made
  CHANGELOG.md
  simapp/simd/cmd/genaccounts.go
Labels: backport/0.46.x

#13249 feat: add mempool interfaces
  baseapp/abci.go
  baseapp/baseapp.go
  types/context.go
  types/mempool.go
  types/tx_msg.go
  x/auth/tx/builder.go
Labels: C:x/auth

#13178 feat: add proto annotation for Msg services
  CHANGELOG.md
  api/cosmos/auth/v1beta1/tx.pulsar.go
  api/cosmos/authz/v1beta1/tx.pulsar.go
  api/cosmos/bank/v1beta1/tx.pulsar.go
  api/cosmos/crisis/v1beta1/tx.pulsar.go
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/evidence/v1beta1/tx.pulsar.go
  api/cosmos/feegrant/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1/tx.pulsar.go
  api/cosmos/gov/v1beta1/tx.pulsar.go
  api/cosmos/group/v1/tx.pulsar.go
  api/cosmos/mint/v1beta1/tx.pulsar.go
  api/cosmos/msg/v1/msg.pulsar.go
  api/cosmos/nft/v1beta1/tx.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  api/cosmos/upgrade/v1beta1/tx.pulsar.go
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  proto/cosmos/auth/v1beta1/tx.proto
  proto/cosmos/authz/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/crisis/v1beta1/tx.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/evidence/v1beta1/tx.proto
  proto/cosmos/feegrant/v1beta1/tx.proto
  proto/cosmos/gov/v1/tx.proto
  proto/cosmos/gov/v1beta1/tx.proto
  proto/cosmos/group/v1/tx.proto
  proto/cosmos/mint/v1beta1/tx.proto
  proto/cosmos/msg/v1/msg.proto
  proto/cosmos/nft/v1beta1/tx.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/upgrade/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  types/msgservice/msg.pb.go
  x/auth/types/tx.pb.go
  x/auth/vesting/types/tx.pb.go
  x/authz/tx.pb.go
  x/bank/types/tx.pb.go
  x/crisis/types/tx.pb.go
  x/distribution/types/tx.pb.go
  x/evidence/types/tx.pb.go
  x/feegrant/tx.pb.go
  x/gov/types/v1/tx.pb.go
  x/gov/types/v1beta1/tx.pb.go
  x/group/tx.pb.go
  x/mint/types/tx.pb.go
  x/nft/tx.pb.go
  x/slashing/types/tx.pb.go
  x/staking/types/tx.pb.go
  x/upgrade/types/tx.pb.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, A:automerge, C:x/feegrant, C:x/authz, C:x/group, C:x/nft

#13180 ci: update all dependencies for all go mod with dependabot
  .github/dependabot.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/fork-cherry-pick.yml
Labels: Type: CI

#12729 feat(textual): `Coin` and `Coins` value renderers
  tx/go.mod
  tx/go.sum
  tx/textual/internal/testdata/coin.json
  tx/textual/internal/testdata/coins.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/bytes.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/coin_test.go
  tx/textual/valuerenderer/coins.go
  tx/textual/valuerenderer/coins_test.go
  tx/textual/valuerenderer/dec.go
  tx/textual/valuerenderer/int.go
  tx/textual/valuerenderer/protoreflect_list_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: A:automerge

#13294 refactor!: autocli go.mod and package naming
  client/v2/cli/builder.go
  client/v2/cli/flag/field.go
  client/v2/cli/flag/message.go
  client/v2/cli/flag/pagination.go
  client/v2/cli/query.go
  client/v2/cli/query_test.go
  client/v2/go.mod
Labels: C:CLI

#13255 feat: x/auth determinism tests for `Account` query
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  testutil/testdata/tx.go
  x/auth/keeper/deterministic_test.go
Labels: C:x/auth

#13301 fix: keep the balance query endpoint compatible with legacy blocks
  CHANGELOG.md
  x/bank/keeper/grpc_query.go
  x/bank/keeper/view.go
Labels: C:x/bank, backport/0.46.x

#13210 feat(x/auth): define simplified account query service
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/autocli/v1/options.proto
  scripts/protocgen.sh
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/keeper_test.go
  x/auth/module.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Labels: C:x/auth, Type: Build

#13311 ci: add workflow for cosmos/gosec
  .github/workflows/gosec.yml
Labels: Type: CI

#13304 feat: CLI tooling to generate proposal JSONs
  CHANGELOG.md
  api/cosmos/nft/v1beta1/tx.pulsar.go
  client/prompts.go
  go.mod
  go.sum
  proto/cosmos/nft/v1beta1/tx.proto
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/gov/README.md
  x/gov/client/cli/prompt.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
  x/group/README.md
Labels: C:CLI, C:x/gov, C:x/group, backport/0.46.x

#13321 feat: configurable fastnode
  CHANGELOG.md
  baseapp/options.go
  fuzz/tests/store_internal_proofs_createnonmembershipproof_test.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/mock/store.go
  server/start.go
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  store/cache/cache_test.go
  store/iavl/store.go
  store/iavl/store_test.go
  store/iavl/tree_test.go
  store/prefix/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/types/iterator_test.go
  store/types/store.go
  tests/go.mod
  tests/go.sum
Labels: C:Store, backport/0.45.x, backport/0.46.x

#13323 fix: ensure withdraw_rewards events are always emitted on reward withdrawal
  CHANGELOG.md
  tests/integration/distribution/keeper/delegation_test.go
  testutil/sims/app_helpers.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper.go
Labels: C:x/distribution, backport/0.45.x, backport/0.46.x

#13343 fix: fix buf unexisting repo
  Makefile
  client/v2/internal/buf.lock
  proto/buf.lock
  proto/tendermint/abci/types.proto
  proto/tendermint/p2p/types.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/params.proto
  proto/tendermint/types/types.proto
  testutil/testdata/buf.lock
  third_party/proto/buf.lock
  third_party/proto/buf.yaml
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:CLI, Type: Build

#13344 fix: fix buf commit
  UPGRADING.md
  client/v2/internal/buf.lock
  third_party/proto/README.md
Labels: C:CLI

#13342 ci: use native paths instead of get-diff-action
  .github/workflows/gosec.yml
Labels: Type: CI

#13345 fix: fix buf commit link
  UPGRADING.md
  client/v2/internal/buf.lock
  third_party/proto/README.md
  types/query/query.pb.go
  x/auth/types/query.pb.go
  x/bank/types/query.pb.go
  x/nft/tx.pb.go
  x/staking/types/query.pb.go
Labels: C:x/staking, C:CLI, C:x/bank, C:x/auth, C:x/nft

#13347 fix: x/gov/client/cli: fix integer overflow in parsing int prompted values
  x/gov/client/cli/prompt.go
  x/gov/client/cli/prompt_test.go
Labels: C:CLI, C:x/gov

#13349 chore: all: use golang.org/x/exp/maps.(Keys, Values) where necessary
  orm/go.mod
  orm/go.sum
  orm/model/ormdb/json.go
  store/internal/proofs/helpers.go
  types/module/module.go
  x/auth/keeper/keeper.go
  x/bank/module.go
  x/genutil/client/cli/migrate.go
Labels: C:CLI, C:Store, C:x/bank, C:x/auth, C:x/genutil, C:orm

#13350 fix: x/gov/client/cli: update & tighten Prompt.Parse tests
  x/gov/client/cli/prompt.go
  x/gov/client/cli/prompt_test.go
Labels: C:CLI, C:x/gov

#13353 feat: add `draft-proposal` for x/group
  CHANGELOG.md
  types/tx_msg.go
  types/tx_msg_test.go
  x/gov/client/cli/prompt.go
  x/gov/types/metadata.go
  x/group/client/cli/prompt.go
  x/group/client/cli/tx.go
  x/group/client/cli/util.go
Labels: C:CLI, C:x/gov, C:x/group, backport/0.46.x

#13358 ci: improve github actions
  .github/workflows/build.yml
  .github/workflows/clean-action-artifacts.yml
  .github/workflows/clean-artifacts.yml
  .github/workflows/e2e.yml
  .github/workflows/gosec.yml
  .github/workflows/md-link-checker.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test.yml
  Makefile
  tests/Makefile
Labels: Type: Build, Type: CI

#13364 docs: guidelines for proto message's String() method
  docs/core/encoding.md
Labels: backport/0.46.x

#13370 refactor: remove db
  CHANGELOG.md
  db/README.md
  db/adapter.go
  db/badgerdb/db.go
  db/badgerdb/db_test.go
  db/dbtest/benchmark.go
  db/dbtest/testcases.go
  db/dbtest/util.go
  db/go.mod
  db/go.sum
  db/internal/util.go
  db/memdb/db.go
  db/memdb/db_test.go
  db/memdb/iterator.go
  db/prefix/prefix.go
  db/prefix/prefix_iterator.go
  db/prefix/prefix_test.go
  db/rocksdb/batch.go
  db/rocksdb/db.go
  db/rocksdb/db_test.go
  db/rocksdb/iterator.go
  db/types.go
  db/version_manager.go
  db/version_manager_test.go
Labels: C:Store

#13361 ci: further improve gh actions
  .github/labeler.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-skip.yml
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/proto-docker.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration-skip.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test.yml
  go.work.example
Labels: Type: CI

#13209 chore: store package specification
  docs/spec/store/README.md
  store/README.md
Labels: T: Docs, spec, C:Store

#13298 feat: make helper function for adding accounts to genesis state
  CHANGELOG.md
  simapp/simd/cmd/genaccounts.go
  x/auth/helpers/genaccounts.go
Labels: C:x/auth

#13239 docs: Liquid staking ADR
  docs/architecture/adr-061-liquid-staking.md
Labels: Type: ADR

#13371 refactor: Remove storev2alpha1
  CHANGELOG.md
  store/transient/store_test.go
  store/v2alpha1/dbadapter/store.go
  store/v2alpha1/dbadapter/store_test.go
  store/v2alpha1/mem/store.go
  store/v2alpha1/mem/store_test.go
  store/v2alpha1/multi/cache_store.go
  store/v2alpha1/multi/doc.go
  store/v2alpha1/multi/migration.go
  store/v2alpha1/multi/migration_test.go
  store/v2alpha1/multi/proof.go
  store/v2alpha1/multi/proof_test.go
  store/v2alpha1/multi/snapshot.go
  store/v2alpha1/multi/snapshot_test.go
  store/v2alpha1/multi/store.go
  store/v2alpha1/multi/store_test.go
  store/v2alpha1/multi/sub_store.go
  store/v2alpha1/multi/test_util.go
  store/v2alpha1/multi/view_store.go
  store/v2alpha1/smt/ics23.go
  store/v2alpha1/smt/ics23_test.go
  store/v2alpha1/smt/proof.go
  store/v2alpha1/smt/proof_test.go
  store/v2alpha1/smt/store.go
  store/v2alpha1/smt/store_test.go
  store/v2alpha1/transient/store.go
  store/v2alpha1/transient/store_test.go
  store/v2alpha1/types.go
Labels: C:Store

#13375 chore: run make format
  cosmovisor/args_test.go
  depinject/module_key.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testutil/testutil.go
  tests/e2e/server/export_test.go
  tests/integration/bank/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/genesis_test.go
  tests/integration/staking/keeper/keeper_test.go
  tests/integration/staking/keeper/validator_test.go
  tx/textual/valuerenderer/coins.go
  x/auth/keeper/deterministic_test.go
  x/auth/vesting/msg_server_test.go
  x/feegrant/client/cli/tx_test.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/cli/validate_genesis_test.go
  x/gov/types/v1/msgs_test.go
  x/group/client/cli/tx_test.go
  x/group/msgs_test.go
  x/nft/client/cli/tx_test.go
  x/slashing/client/cli/query_test.go
  x/staking/client/cli/query_test.go
  x/staking/client/cli/tx_test.go
  x/upgrade/client/cli/tx_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/auth, C:x/upgrade, C:x/feegrant, C:x/genutil, C:Cosmovisor, C:x/group, C:x/nft, C:orm

#13377 fix: all: remove map iteration non-determinism with keys + sorting
  baseapp/baseapp.go
  orm/model/ormdb/json.go
  store/rootmulti/store.go
  types/coin.go
  types/module/module.go
  x/group/keeper/invariants.go
Labels: C:Store, C:x/group, C:orm

#13385 chore: add cachekv tests
  store/cachekv/store_test.go
Labels: C:Store

#13147 feat(cli): add `--append` flag to `sign-batch` cli cmd
  CHANGELOG.md
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Labels: C:CLI, C:x/auth

#13399 docs: fix typos
  README.md
  x/staking/README.md
Labels: C:x/staking

#13401 fix: attempt at fixing flaky e2e tests
  .github/workflows/build-skip.yml
  .github/workflows/test-e2e-skip.yml
  .github/workflows/test-integration-skip.yml
  baseapp/baseapp.go
  tests/e2e/group/tx.go
  x/auth/client/testutil/suite.go
Labels: C:CLI, C:x/auth, Type: CI

#13400 fix: double close
  CHANGELOG.md
  baseapp/deliver_tx_test.go
  snapshots/helpers_test.go
  snapshots/manager_test.go
  snapshots/stream.go
  snapshots/types/format.go
  store/rootmulti/snapshot_test.go
Labels: C:Store

#13396 refactor: simplify hooks implementation
  Makefile
  scripts/mockgen.sh
  store/tools/ics23/iavl/helpers/helpers.go
  x/distribution/keeper/hooks.go
  x/gov/abci.go
  x/gov/keeper/deposit.go
  x/gov/keeper/hooks.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/hooks_test.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/hooks.go
  x/staking/keeper/keeper.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/slash.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Store, Type: Build

#13397 build(deps): bump go minimum version to go 1.19
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cosmovisor-release.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  README.md
  api/go.mod
  client/v2/go.mod
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  contrib/rosetta/rosetta-ci/Dockerfile
  contrib/rosetta/rosetta-cli/Dockerfile
  core/go.mod
  cosmovisor/go.mod
  depinject/go.mod
  errors/go.mod
  go.mod
  go.work.example
  math/go.mod
  orm/go.mod
  simapp/go.mod
  store/tools/ics23/go.mod
  tests/go.mod
  tx/go.mod
Labels: C:CLI, C:Store, C:Cosmovisor, C:Rosetta, C:orm, Type: Build, Type: CI

#13402 refactor!: extract simulation helpers out of simapp
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  simapp/app_legacy.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/state.go
  tests/e2e/bank/client/grpc.go
  tests/e2e/client/grpc/tmservice/service_test.go
  tests/e2e/nft/grpc.go
  tests/e2e/staking/client/testutil/grpc.go
  tests/e2e/staking/client/testutil/suite.go
  tests/e2e/tx/service_test.go
  testutil/rest.go
  testutil/rest/rest.go
  testutil/sims/app_helpers.go
  testutil/sims/simulation_helpers.go
  testutil/sims/simulation_helpers_test.go
  x/authz/client/testutil/grpc.go
  x/distribution/client/testutil/grpc_query_suite.go
  x/gov/client/testutil/grpc.go
  x/simulation/client/cli/flags.go
Labels: C:CLI, C:x/gov, C:x/distribution, C:Simulations, C:x/authz

#13369 imp(keyring): improve UX for keyring.List
  .gitignore
  CHANGELOG.md
  crypto/keyring/keyring.go
Labels: T: UX

#13367 chore: Add UnbondingType index to know which type of unbonding to deserialize to
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/types/keys.go
Labels: C:x/staking

#13411 chore: change id to use uint64 in `AccountAddressByID`
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  proto/cosmos/auth/v1beta1/query.proto
  x/auth/client/cli/query.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Labels: C:CLI, C:x/auth

#13352 fix: add gRPC nil/zero check in query
  CHANGELOG.md
  baseapp/grpcrouter_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
Labels: backport/0.46.x

#13362 feat: `x/bank` deterministic tests
  x/bank/keeper/deterministic_test.go
Labels: C:x/bank

#13418 fix: add close for grpcOnly mode
  CHANGELOG.md
  server/start.go
Labels: backport/0.46.x
