Repository cosmos/cosmos-sdk, pull requests merged in 2022-10, with the labels that each got.

#13430 chore: minor cleanup of types
  CHANGELOG.md
  docs/basics/query-lifecycle.md
  docs/building-modules/module-manager.md
  docs/building-modules/query-services.md
  testutil/mock/types_router.go
  types/errors/abci.go
  types/kv/list.go
  types/module/module.go
  types/queryable.go
  types/router.go
  x/evidence/keeper/keeper_test.go
  x/feegrant/module/module.go
Labels: C:x/evidence, C:x/feegrant

#13427 refactor: move `x/{moduleName}/test{ModuleName}` to `x/{moduleName}/testutil`
  CHANGELOG.md
  tests/integration/bank/keeper/keeper_test.go
  tests/integration/distribution/keeper/allocation_test.go
  tests/integration/distribution/keeper/delegation_test.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/delegation_test.go
  tests/integration/staking/keeper/keeper_test.go
  tests/integration/staking/keeper/params_test.go
  tests/integration/staking/keeper/slash_test.go
  tests/integration/staking/keeper/validator_test.go
  x/auth/client/testutil/suite.go
  x/evidence/keeper/infraction_test.go
  x/slashing/abci_test.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/testutil/params.go
  x/staking/bench_test.go
  x/staking/genesis_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/validator_test.go
  x/staking/migrations/v2/store_test.go
  x/staking/simulation/operations_test.go
  x/staking/testutil/helpers.go
  x/staking/testutil/tm.go
  x/staking/testutil/validator.go
  x/staking/types/validator_test.go
Labels: C:x/staking, C:CLI, C:x/slashing, C:Simulations, C:x/auth, C:x/evidence

#13325 feat: ADR-038 Part 2: StreamingService interface, file writing implementation, and configuration (backport #8664)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/streaming.go
  docs/architecture/adr-038-state-listening.md
  docs/core/store.md
  simapp/app.go
  store/cachemulti/store.go
  store/streaming/README.md
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/README.md
  store/streaming/file/example_config.toml
  store/streaming/file/service.go
  store/streaming/file/service_test.go
Labels: Type: ADR

#13392 ci: .github/workflows: add staticmajor to catch leaking resources
  .github/workflows/staticmajor.yml
Labels: Type: CI

#13326 feat: ADR-038 Part 2: StreamingService interface, file writing implementation, and configuration (#8664)
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/streaming.go
  docs/architecture/adr-038-state-listening.md
  docs/core/store.md
  simapp/app.go
  store/cachemulti/store.go
  store/streaming/README.md
  store/streaming/constructor.go
  store/streaming/constructor_test.go
  store/streaming/file/README.md
  store/streaming/file/example_config.toml
  store/streaming/file/service.go
  store/streaming/file/service_test.go
Labels: Type: ADR

#13442 chore: add `v0.46.2` in main changelog
  .github/workflows/staticmajor.yml
  CHANGELOG.md
Labels: Type: CI

#13435 feat: extend context on simulation error
  CHANGELOG.md
  x/auth/tx/service.go
Labels: C:x/auth

#13437 feat!: specify module to export
  CHANGELOG.md
  UPGRADING.md
  runtime/types.go
  server/export.go
  server/types/app.go
  simapp/app_test.go
  simapp/export.go
  simapp/sim_test.go
  simapp/simd/cmd/root.go
  tests/e2e/server/export_test.go
  testutil/sims/simulation_helpers.go
  types/module/module.go
  types/module/module_test.go
Labels: T: API Breaking

#13447 chore(deps): bump github.com/cosmos/cosmos-sdk from 0.46.1 to 0.46.2
  orm/go.mod
  orm/go.sum
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
Labels: C:Store, C:orm

#13420 fix: fix IS tests
  tests/go.mod
  tests/integration/staking/keeper/unbonding_test.go
  x/staking/README.md
  x/staking/keeper/delegation.go
  x/staking/keeper/params.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/types/delegation.go
  x/staking/types/keys.go
  x/staking/types/params_test.go
Labels: C:x/staking

#13433 refactor: remove dead code in cacheMergeIterator Domain()
  CHANGELOG.md
  store/cachekv/memiterator.go
  store/cachekv/mergeiterator.go
Labels: C:Store

#13460 refactor: Improve and clarify API around `AccountAddressById`
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/distribution/v1beta1/query_grpc.pb.go
  api/cosmos/group/v1/types.pulsar.go
  client/grpc/tmservice/query.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  store/types/commit_info.pb.go
  x/auth/client/cli/query.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
  x/distribution/types/genesis.pb.go
  x/distribution/types/query.pb.go
  x/gov/types/v1beta1/genesis.pb.go
  x/group/types.pb.go
Labels: C:CLI, C:x/gov, C:x/distribution, C:Store, C:x/auth, C:x/group, backport/0.46.x

#13459 fix: state listener could observe discarded writes
  CHANGELOG.md
  store/cachemulti/store.go
  store/rootmulti/store_test.go
Labels: C:Store, backport/0.45.x, backport/0.46.x

#13455 docs: improve documentation navigation and redirection
  .github/ISSUE_TEMPLATE/module-readiness-checklist.md
  CONTRIBUTING.md
  Makefile
  README.md
  depinject/README.md
  docs/.vuepress/config.js
  docs/.vuepress/enhanceApp.js
  docs/.vuepress/redirects
  docs/architecture/adr-003-dynamic-capability-store.md
  docs/architecture/adr-004-split-denomination-keys.md
  docs/architecture/adr-017-historical-header-module.md
  docs/assets/banner.jpg
  docs/building-apps/README.md
  docs/building-apps/app-go.md
  docs/building-chain/depinject.md
  docs/building-modules/upgrade.md
  docs/package-lock.json
  docs/package.json
  docs/post.sh
  docs/pre.sh
  docs/spec/SPEC-SPEC.md
  docs/spec/store/README.md
  docs/versions
  proto/README.md
  pruning/README.md
  third_party/proto/README.md
  x/auth/README.md
  x/authz/README.md
  x/bank/README.md
  x/capability/README.md
  x/crisis/README.md
  x/distribution/README.md
  x/epoching/README.md
  x/evidence/README.md
  x/feegrant/README.md
  x/gov/README.md
  x/group/README.md
  x/mint/README.md
  x/nft/README.md
  x/params/README.md
  x/slashing/README.md
  x/staking/README.md
  x/upgrade/README.md
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft, Type: Build, Type: ADR

#13465 fix: fix redirections links
  Makefile
  docs/.vuepress/redirects
Labels: Type: Build

#13470 fix: cosmovisor: isolate and return masked errors that are not non-existence errors
  cosmovisor/upgrade.go
Labels: C:Cosmovisor

#13312 feat: duration renderer for SIGN_MODE_TEXTUAL
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  tx/textual/internal/testdata/duration.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/duration.go
  tx/textual/valuerenderer/duration_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: Type: ADR, WG: Textual

#13454 feat: let `sign-batch` read multiple files
  CHANGELOG.md
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
Labels: C:CLI, C:x/auth

#13122 feat!: IS rebase
  CHANGELOG.md
  api/cosmos/staking/v1beta1/staking.pulsar.go
  proto/cosmos/staking/v1beta1/staking.proto
  tests/go.mod
  tests/integration/distribution/keeper/delegation_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/slash_test.go
  tests/integration/staking/keeper/unbonding_test.go
  tests/integration/staking/keeper/validator_test.go
  x/distribution/keeper/hooks.go
  x/evidence/README.md
  x/evidence/keeper/infraction.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
  x/slashing/README.md
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/staking/README.md
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper.go
  x/staking/keeper/params.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/simulation/decoder_test.go
  x/staking/simulation/operations_test.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/errors.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
  x/staking/types/keys.go
  x/staking/types/params_test.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: C:x/staking, C:x/slashing, T: API Breaking, C:x/distribution, C:Simulations, C:x/evidence

#13482 fix: Update tendermint rpc client support for ibc-go compatibility
  client/tendermint.go
Labels: C:CLI

#13481 chore: project automation
  .github/workflows/project.yml
Labels: Type: CI

#13490 ci: fix build docs
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
Labels: Type: CI

#13485 feat: gRPC query for operator and chain configuration
  CHANGELOG.md
  UPGRADING.md
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/bank/v1beta1/query.pulsar.go
  api/cosmos/base/node/v1beta1/query.pulsar.go
  api/cosmos/base/node/v1beta1/query_grpc.pb.go
  client/grpc/node/query.pb.go
  client/grpc/node/query.pb.gw.go
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  proto/cosmos/base/node/v1beta1/query.proto
  runtime/app.go
  server/start.go
  server/types/app.go
  simapp/app_legacy.go
  testutil/network/util.go
  x/auth/types/query.pb.go
  x/bank/types/query.pb.go
Labels: C:CLI, C:x/bank, C:x/auth, backport/0.45.x, backport/0.46.x

#13292 refactor!: require exported app wiring providers
  baseapp/block_gas_test.go
  runtime/module.go
  x/auth/module.go
  x/auth/tx/module/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/genutil, C:x/authz, C:x/group, C:x/nft

#13329 feat: x/auth deterministic tests
  x/auth/keeper/deterministic_test.go
Labels: C:x/auth

#13484 ci: Update lint.yml and Makefile
  .github/workflows/lint.yml
  Makefile
  orm/internal/codegen/codegen.go
  orm/internal/codegen/query.go
  orm/internal/testpb/bank.cosmos_orm.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  server/grpc/gogoreflection/fix_registration.go
  tx/textual/valuerenderer/duration.go
  tx/textual/valuerenderer/duration_test.go
Labels: C:orm, Type: Build, Type: CI

#13502 fix!: Fix some Amino registrations
  CHANGELOG.md
  x/auth/vesting/types/codec.go
  x/bank/types/codec.go
  x/bank/types/msgs_test.go
  x/slashing/types/codec.go
Labels: C:x/slashing, T: State Machine Breaking, C:x/bank, C:x/auth, R:Twilight

#13514 fix: small fix in x/nft CLI tests
  x/nft/client/cli/tx_test.go
Labels: C:CLI, C:x/nft

#13524 refactor: Improve AllocateTokens
  x/distribution/keeper/allocation.go
Labels: C:x/distribution, backport/0.45.x, backport/0.46.x

#13536 chore: CHANGELOG update
  CHANGELOG.md
Labels: backport/0.45.x, backport/0.46.x

#13535 feat: overwrite default denom in `init` cmd
  CHANGELOG.md
  types/staking.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
Labels: C:CLI, C:x/genutil

#13528 perf(x/auth): only check memo when memo is present
  CHANGELOG.md
  baseapp/block_gas_test.go
  x/auth/ante/basic.go
Labels: C:x/auth

#13547 refactor!: rename autocli package
  client/v2/autocli/builder.go
  client/v2/autocli/cmd.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/doc.go
  client/v2/autocli/flag/duration.go
  client/v2/autocli/flag/enum.go
  client/v2/autocli/flag/field.go
  client/v2/autocli/flag/list.go
  client/v2/autocli/flag/message.go
  client/v2/autocli/flag/message_json.go
  client/v2/autocli/flag/pagination.go
  client/v2/autocli/flag/register.go
  client/v2/autocli/flag/simple.go
  client/v2/autocli/flag/timestamp.go
  client/v2/autocli/flag/type.go
  client/v2/autocli/flag/value.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/bank_example.yaml
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/autocli/testdata/help-skip.golden
  client/v2/autocli/testdata/help-toplevel.golden
  client/v2/autocli/testdata/help.golden
Labels: C:CLI

#13517 refactor(authz): CLI tests using Tendermint Mock
  tests/e2e/authz/cli_test.go
  tests/e2e/authz/grpc.go
  tests/e2e/authz/query.go
  tests/e2e/authz/test_helpers.go
  tests/e2e/authz/tx.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx_test.go
Labels: C:CLI, A:automerge, C:x/authz

#13553 fix: update param validation to fail on nil dec
  CHANGELOG.md
  x/mint/types/params.go
  x/slashing/types/params.go
  x/staking/types/params.go
Labels: C:x/staking, C:x/slashing, C:x/mint

#13434 feat: structured screens for SIGN_MODE_TEXTUAL
  docs/architecture/adr-050-sign-mode-textual-annex2.md
  docs/architecture/adr-050-sign-mode-textual.md
  tx/textual/valuerenderer/bench_test.go
  tx/textual/valuerenderer/bytes.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/coin_test.go
  tx/textual/valuerenderer/coins.go
  tx/textual/valuerenderer/coins_test.go
  tx/textual/valuerenderer/dec.go
  tx/textual/valuerenderer/duration.go
  tx/textual/valuerenderer/duration_test.go
  tx/textual/valuerenderer/int.go
  tx/textual/valuerenderer/timestamp.go
  tx/textual/valuerenderer/timestamp_test.go
  tx/textual/valuerenderer/types.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: A:automerge, Type: ADR

#13557 feat: add `GenSignedMockTx`
  CHANGELOG.md
  RELEASE_NOTES.md
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/genutil, C:x/authz

#13532 refactor: automate EventTypeMessage inclusion in every message execution
  UPGRADING.md
  baseapp/baseapp.go
  baseapp/testutil/messages.go
  docs/docs/core/02-context.md
  docs/docs/core/08-events.md
  tests/e2e/tx/service_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/constants.go
  x/bank/keeper/msg_server.go
  x/bank/types/events.go
  x/consensus/keeper/msg_server.go
  x/consensus/types/util.go
  x/crisis/keeper/msg_server.go
  x/crisis/types/events.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/events.go
  x/evidence/keeper/msg_server.go
  x/evidence/types/events.go
  x/feegrant/events.go
  x/gov/keeper/msg_server.go
  x/gov/types/events.go
  x/slashing/keeper/msg_server.go
  x/slashing/types/events.go
  x/staking/keeper/msg_server.go
  x/staking/types/events.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/feegrant

#13560 chore: Check BeginBlock, Endblock extensions
  x/authz/module/module.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/crisis, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/authz, C:x/group

#13564 fix: fix `make proto-gen`
  CHANGELOG.md
  Makefile
  scripts/protocgen.sh
  x/staking/types/staking.pb.go
Labels: C:x/staking, Type: Build

#13529 feat: support alternative query multistore
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  server/mock/store.go
  store/cachemulti/store.go
  store/rootmulti/store.go
  store/types/store.go
Labels: C:Store

#13581 refactor: Remove useless gogoproto jsontag
  api/cosmos/gov/v1/gov.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  x/gov/types/v1/gov.pb.go
Labels: C:x/gov

#13582 refactor: Use FormatUint instead of converting to int.
  x/gov/keeper/msg_server.go
Labels: C:x/gov

#13589 feat: [REDO] gRPC query for operator and chain configuration (backport #13485)
  CHANGELOG.md
  client/grpc/node/query.pb.go
  client/grpc/node/query.pb.gw.go
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/cosmos/base/node/v1beta1/query.proto
  server/start.go
  server/types/app.go
  simapp/app.go
  testutil/network/util.go
Labels: C:CLI

#13590 docs: add protobuf tooling section
  Makefile
  cosmovisor/README.md
  docs/docs/core/15-upgrade.md
  docs/docs/tooling/00-protobuf.md
  docs/docs/tooling/README.md
  docs/docs/tooling/_category_.json
  docs/docusaurus.config.js
  docs/pre.sh
Labels: C:Cosmovisor, Type: Build

#13592 fix(group)!: Register types with Amino
  CHANGELOG.md
  x/group/module/module.go
  x/group/msgs_test.go
Labels: T: State Machine Breaking, C:x/group

#13595 docs: remove outdated documentation
  docs/docs/basics/00-app-anatomy.md
  docs/docs/core/00-baseapp.md
  x/slashing/README.md
Labels: C:x/slashing

#13586 chore: bump tendermint to `0.34.22`
  CHANGELOG.md
  Makefile
  go.mod
  go.sum
  ics23/go/go.mod
  ics23/go/go.sum
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
Labels: C:Store, Type: Build

#13588 fix: (v0.45.x) regression in return value of WithdrawDelegationRewards when rewards are zero
  CHANGELOG.md
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
Labels: C:x/distribution

#13587 docs: add ApplicationQueryService release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Labels: T: Docs, A:automerge

#13612 feat(cli): add module-account cli cmd and grpc get api
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  tests/e2e/auth/suite.go
  x/auth/client/cli/query.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/grpc_query_test.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Labels: C:CLI, C:x/auth, backport/0.45.x, backport/0.46.x

#13608 docs: Textual ADR minor fixes
  docs/architecture/adr-050-sign-mode-textual-annex2.md
  docs/architecture/adr-050-sign-mode-textual.md
Labels: A:automerge, Type: ADR

#13618 ci: fix can't release cosmovisor
  .github/workflows/cosmovisor-release.yml
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/cmd/cosmovisor/help.go
  tools/cosmovisor/cmd/cosmovisor/help_test.go
  tools/cosmovisor/testdata/download/cosmovisor/genesis/bin/autod
  tools/cosmovisor/testdata/repo/chain2-zip_bin/autod
  tools/cosmovisor/testdata/repo/chain2-zip_bin/autod.zip
  tools/cosmovisor/testdata/repo/ref_to_chain3-zip_dir.json
  tools/cosmovisor/upgrade_test.go
Labels: Type: CI

#13609 chore: move pruning to store
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/deliver_tx_test.go
  baseapp/options.go
  client/pruning/main.go
  server/config/config.go
  server/mock/store.go
  server/pruning.go
  server/pruning_test.go
  server/start.go
  simapp/test_helpers.go
  store/iavl/store.go
  store/mem/store.go
  store/pruning/README.md
  store/pruning/export_test.go
  store/pruning/manager.go
  store/pruning/manager_test.go
  store/pruning/mock/db_mock.go
  store/pruning/types/options.go
  store/pruning/types/options_test.go
  store/rootmulti/dbadapter.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/transient/store.go
  store/transient/store_test.go
  store/types/store.go
  testutil/network/network.go
  x/params/client/testutil/suite.go
  x/upgrade/types/storeloader_test.go
Labels: C:CLI, C:Store, C:x/params, C:x/upgrade

#13530 fix: app-hash mismatch if upgrade migration commit is interrupted
  CHANGELOG.md
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: C:Store, backport/0.46.x

#13539 refactor: deterministic tests and add gas tests
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/bank/keeper/keeper_test.go
  tests/integration/staking/keeper/determinstic_test.go
  testutil/testdata/grpc_query.go
  x/auth/keeper/deterministic_test.go
Labels: C:x/auth

#13597 feat: add autocli service proto
  api/cosmos/autocli/v1/options.pulsar.go
  api/cosmos/autocli/v1/service.pulsar.go
  api/cosmos/autocli/v1/service_grpc.pb.go
  api/cosmos/nft/v1beta1/tx.pulsar.go
  api/cosmos/query/v1/query.pulsar.go
  api/cosmos/reflection/v1/reflection.pulsar.go
  api/cosmos/reflection/v1/reflection_grpc.pb.go
  api/cosmos/tx/v1beta1/service.pulsar.go
  proto/cosmos/autocli/v1/options.proto
  proto/cosmos/autocli/v1/query.proto
  proto/cosmos/reflection/v1/reflection.proto
Labels: C: Proto

#13642 chore: remove `module_query_safe` for few auth queries
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/autocli/v1/query.pulsar.go
  api/cosmos/autocli/v1/query_grpc.pb.go
  api/cosmos/autocli/v1/service_grpc.pb.go
  api/cosmos/reflection/v1/reflection.pulsar.go
  api/cosmos/reflection/v1/reflection_grpc.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  proto/tendermint/crypto/proof.proto
  x/auth/keeper/deterministic_test.go
  x/auth/types/query.pb.go
Labels: C:x/auth

#13510 feat: string and message value renderers for textual
  tx/textual/internal/testdata/message.json
  tx/textual/internal/testdata/string.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/valuerenderer/message.go
  tx/textual/valuerenderer/message_test.go
  tx/textual/valuerenderer/string.go
  tx/textual/valuerenderer/string_test.go
  tx/textual/valuerenderer/valuerenderer.go
Labels: A:automerge

#13645 feat: nonce (sequence number) based mempool
  baseapp/baseapp.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  types/mempool/mempool.go
  types/mempool/mempool_test.go
  types/mempool/nonce.go
  types/mempool/skip_list_test.go
  x/auth/tx/builder.go
Labels: C:x/auth

#13656 feat(cli): Add iavl-disable-fastnode cmd flag with proper description
  server/start.go
  simapp/simd/cmd/root.go
Labels: backport/0.45.x, backport/0.46.x

#13576 feat!: (x/gov) store an index of proposals that are in voting period
  CHANGELOG.md
  x/gov/README.md
  x/gov/client/testutil/tx.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/migrations/v4/keys.go
  x/gov/migrations/v4/store.go
  x/gov/migrations/v4/store_test.go
  x/gov/types/keys.go
  x/gov/types/v1/proposals_test.go
Labels: C:CLI, C:x/gov

#13651 refactor: use viper unmarshal in `config.GetConfig` function
  CHANGELOG.md
  server/config/config.go
Labels: A:automerge

#13619 refactor: add `sdk.LogDeferred` to report errors in defers
  CHANGELOG.md
  internal/util.go
  types/utils.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/migrations/v2/store.go
  x/bank/migrations/v3/store.go
Labels: C:x/bank, A:automerge

#13668 refactor!: simplify cosmos.reflection.v1
  api/cosmos/reflection/v1/reflection.pulsar.go
  proto/cosmos/reflection/v1/reflection.proto
Labels: T: Proto Breaking

#13670 fix: prevent simple inclusion of a valid mnemonic
  CHANGELOG.md
  client/tx/factory.go
  client/tx/tx_test.go
Labels: C:CLI

#13672 chore: small improvements
  .github/workflows/atlas.yml
  .github/workflows/cosmovisor-release.yml
  .vscode/extensions.json
  CONTRIBUTING.md
  Makefile
  docs/architecture/adr-060-abci-1.0.md
  docs/docs/building-modules/04-query-services.md
  docs/docs/building-modules/14-testing.md
Labels: Type: Build, Type: ADR, Type: CI

#13674 ci: bump go and remove buildjet
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cosmovisor-release.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-legacy.yml
  .github/workflows/test.yml
Labels: Type: CI

#13682 docs: add auth tx commands documentation
  docs/architecture/adr-060-abci-1.0.md
  docs/architecture/adr-061-liquid-staking.md
  x/auth/README.md
  x/auth/client/cli/encode.go
  x/auth/client/cli/tips.go
  x/auth/client/cli/tx_multisign.go
  x/bank/README.md
Labels: C:CLI, C:x/bank, C:x/auth, Type: ADR

#13685 chore: proto format
  Makefile
  client/v2/internal/testpb/query.proto
  orm/internal/testpb/bank_query.proto
  orm/internal/testpb/test_schema_query.proto
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/query/v1/query.proto
  proto/cosmos/reflection/v1/reflection.proto
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/tendermint/abci/types.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/params.proto
  proto/tendermint/types/types.proto
  third_party/proto/google/protobuf/any.proto
  tx/textual/internal/testpb/1.proto
Labels: C:CLI, C:orm, Type: Build

#13693 refactor: cleanup x/feegrant cli testutil
  x/feegrant/client/testutil/suite.go
Labels: C:CLI, C:x/feegrant

#13705 docs: fix typo
  x/auth/README.md
Labels: C:x/auth
