Repository cosmos/cosmos-sdk, pull requests merged in 2022-07, with the labels that each got.

#12121 feat: Add legacy simapp testing via build tags
  .github/workflows/legacy-test.yml
  simapp/app.go
  simapp/app_legacy.go
Labels: A:automerge, Type: CI

#12421 docs: correct period description in PeriodicAllowance
  x/feegrant/spec/01_concepts.md
Labels: C:x/feegrant

#12268 chore: optimize get last completed upgrade
  x/upgrade/keeper/keeper.go
Labels: C:x/upgrade, A:automerge, gas

#12416 fix!: prevent 0 gas txs
  CHANGELOG.md
  types/errors/errors.go
  x/auth/ante/fee.go
  x/auth/ante/fee_test.go
  x/auth/ante/testutil_test.go
Labels: C:x/auth, A:automerge, backport/0.46.x

#12369 feat(gov): app-wiring for x/gov
  CHANGELOG.md
  api/cosmos/gov/module/v1/module.pulsar.go
  depinject/container.go
  proto/cosmos/gov/module/v1/module.proto
  simapp/app.go
  simapp/app_config.go
  x/distribution/module.go
  x/gov/abci.go
  x/gov/genesis.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/invariants.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/querier.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/types/expected_keepers.go
  x/gov/types/v1beta1/content.go
  x/params/module.go
  x/params/types/table.go
  x/upgrade/module.go
Labels: C:x/gov, C:x/distribution, C:Simulations, C:x/params, C:x/upgrade

#12363 feat: deprecate x/params usage in x/mint
  CHANGELOG.md
  api/cosmos/mint/v1beta1/genesis.pulsar.go
  api/cosmos/mint/v1beta1/mint.pulsar.go
  api/cosmos/mint/v1beta1/tx.pulsar.go
  api/cosmos/mint/v1beta1/tx_grpc.pb.go
  contrib/rosetta/rosetta-ci/data.tar.gz
  proto/cosmos/mint/v1beta1/genesis.proto
  proto/cosmos/mint/v1beta1/mint.proto
  proto/cosmos/mint/v1beta1/tx.proto
  types/module/testutil/codec.go
  x/mint/exported/exported.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/migrator.go
  x/mint/keeper/msg_server.go
  x/mint/keeper/msg_server_test.go
  x/mint/migrations/v2/migrate.go
  x/mint/migrations/v2/migrator_test.go
  x/mint/module.go
  x/mint/types/codec.go
  x/mint/types/genesis.pb.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/msgs.go
  x/mint/types/params.go
  x/mint/types/params_legacy.go
  x/mint/types/tx.pb.go
  x/upgrade/types/codec.go
Labels: C:x/mint, C:x/upgrade, C:Rosetta

#12426 refactor: remove `indexEventsStr` from `setAnteHandler`
  simapp/app.go
  simapp/app_legacy.go
Labels: A:automerge

#12437 fix: Simulation is not deterministic due to GenTx (backport #12374)
  CHANGELOG.md
  simapp/helpers/test_helpers.go
  simapp/test_helpers.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/genutil/gentx_test.go
  x/gov/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/genutil, C:x/authz

#12435 fix: use go install instead of go get in makefile
  .github/workflows/test.yml
  contrib/devtools/Makefile
Labels: Type: CI

#12444 docs(x/feegrant): use `coins` instead of `tokens`
  api/cosmos/feegrant/v1beta1/feegrant.pulsar.go
  proto/cosmos/feegrant/v1beta1/feegrant.proto
  x/feegrant/doc.go
  x/feegrant/feegrant.pb.go
  x/feegrant/spec/01_concepts.md
Labels: A:automerge, C:x/feegrant, backport/0.46.x

#12407 refactor: Use mocks for x/nft testing
  Makefile
  scripts/mockgen.sh
  testutil/context.go
  x/nft/keeper/keeper_test.go
  x/nft/module/module.go
  x/nft/simulation/decoder_test.go
  x/nft/simulation/genesis_test.go
  x/nft/simulation/operations_test.go
  x/nft/testutil/app.yaml
  x/nft/testutil/app_config.go
  x/nft/testutil/expected_keepers_mocks.go
Labels: C:Simulations, A:automerge, C:x/nft, Type: Build

#12461 chore: fix x/mint param sims
  .github/workflows/test.yml
  x/mint/module.go
Labels: C:x/mint, A:automerge, Type: CI

#12405 feat: add query telemetry
  CHANGELOG.md
  baseapp/abci.go
  docs/core/telemetry.md
Labels: A:automerge, backport/0.46.x

#12464 feat(cosmovisor): Create Cosmovisor init command.
  cosmovisor/CHANGELOG.md
  cosmovisor/README.md
  cosmovisor/cmd/cosmovisor/init.go
  cosmovisor/cmd/cosmovisor/init_test.go
Labels: A:automerge, C:Cosmovisor

#12399 feat: deprecate x/params usage in x/slashing
  CHANGELOG.md
  api/cosmos/slashing/v1beta1/genesis.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/slashing/v1beta1/tx_grpc.pb.go
  proto/cosmos/slashing/v1beta1/genesis.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  x/slashing/exported/exported.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/migrations.go
  x/slashing/keeper/msg_server.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/params.go
  x/slashing/keeper/params_test.go
  x/slashing/migrations/v2/migrate.go
  x/slashing/migrations/v2/migrator_test.go
  x/slashing/module.go
  x/slashing/types/codec.go
  x/slashing/types/genesis.pb.go
  x/slashing/types/keys.go
  x/slashing/types/msg.go
  x/slashing/types/params.go
  x/slashing/types/params_legacy.go
  x/slashing/types/tx.pb.go
Labels: C:x/slashing

#12474 fix(x/auth): allow multiple = signs in `GetTxsEvent`
  CHANGELOG.md
  x/auth/tx/service.go
  x/auth/tx/service_test.go
Labels: C:x/auth, A:automerge

#12448 fix(telemetry): start telemetry independently from the API server
  CHANGELOG.md
  server/api/server.go
  server/start.go
Labels: A:automerge, backport/0.46.x

#12484 fix(depinject): move non-thread safe write
  core/appmodule/option.go
  depinject/config.go
  depinject/container.go
  depinject/provider_desc.go
Labels: A:automerge

#12473 refactor(x/params): use mocks for testing
  scripts/mockgen.sh
  x/params/keeper/keeper_test.go
  x/params/proposal_handler_test.go
  x/params/testutil/staking_keeper_mock.go
Labels: C:x/params, A:automerge, Type: Build

#12480 chore: params cleanup
  x/distribution/module.go
  x/gov/module.go
  x/mint/keeper/genesis.go
  x/slashing/keeper/genesis.go
  x/staking/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, A:automerge

#12355 fix: removed deprecated sdk.DBBackend variable
  CHANGELOG.md
  server/util.go
  server/util_test.go
  types/utils.go
Labels: A:automerge

#12453 feat: Support providing custom keyring for keystore.
  CHANGELOG.md
  crypto/keyring/keyring.go
  crypto/keyring/keyring_test.go
Labels: A:automerge, backport/0.46.x

#12434 feat: deprecate x/params usage in x/distr
  CHANGELOG.md
  api/cosmos/app/v1alpha1/config.pulsar.go
  api/cosmos/distribution/v1beta1/genesis.pulsar.go
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/distribution/v1beta1/tx_grpc.pb.go
  proto/cosmos/distribution/v1beta1/genesis.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  x/distribution/exported/exported.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/migrations.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/msg_server_test.go
  x/distribution/keeper/params.go
  x/distribution/keeper/params_test.go
  x/distribution/keeper/querier_test.go
  x/distribution/migrations/v046/migrate.go
  x/distribution/migrations/v046/migrate_test.go
  x/distribution/module.go
  x/distribution/spec/02_state.md
  x/distribution/spec/04_messages.md
  x/distribution/types/codec.go
  x/distribution/types/genesis.pb.go
  x/distribution/types/keys.go
  x/distribution/types/msg.go
  x/distribution/types/params.go
  x/distribution/types/params_legacy.go
  x/distribution/types/tx.pb.go
Labels: C:x/distribution

#12468 refactor: Use mocks for x/mint testing
  scripts/mockgen.sh
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/msg_server_test.go
  x/mint/keeper/querier_test.go
  x/mint/simulation/decoder_test.go
  x/mint/simulation/genesis_test.go
  x/mint/testutil/app.yaml
  x/mint/testutil/app_config.go
  x/mint/testutil/expected_keepers_mocks.go
Labels: C:x/mint, C:Simulations, A:automerge, Type: Build

#12511 build(deps): upgrade `tm-db`
  cosmovisor/cmd/cosmovisor/version.go
  cosmovisor/go.mod
  cosmovisor/go.sum
  go.mod
  go.sum
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
Labels: C:Store, C:Cosmovisor

#12513 fix: temporarily disable tendermint query server integration test
  client/grpc/tmservice/service_test.go
Labels: C:CLI, A:automerge

#12494 perf: optimize store.write
  store/cachekv/store.go
Labels: C:Store

#12508 chore: update gov router note
  simapp/app_legacy.go
Labels: T: Docs, T: Dev UX, A:automerge, backport/0.46.x

#12475 feat: deprecate x/params usage in x/auth
  CHANGELOG.md
  api/cosmos/auth/v1beta1/genesis.pulsar.go
  api/cosmos/auth/v1beta1/tx.pulsar.go
  api/cosmos/auth/v1beta1/tx_grpc.pb.go
  baseapp/block_gas_test.go
  contrib/rosetta/rosetta-ci/data.tar.gz
  proto/cosmos/auth/v1beta1/genesis.proto
  proto/cosmos/auth/v1beta1/tx.proto
  simapp/app.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/exported/exported.go
  x/auth/keeper/account.go
  x/auth/keeper/genesis.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/migrations.go
  x/auth/keeper/msg_server.go
  x/auth/keeper/msg_server_test.go
  x/auth/keeper/params.go
  x/auth/keeper/params_test.go
  x/auth/migrations/v043/store_test.go
  x/auth/migrations/v046/store_test.go
  x/auth/migrations/v2/migrate.go
  x/auth/migrations/v2/migrator_test.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/types/genesis.pb.go
  x/auth/types/keys.go
  x/auth/types/msgs.go
  x/auth/types/params.go
  x/auth/types/params_legacy.go
  x/auth/types/tx.pb.go
  x/bank/keeper/keeper_test.go
Labels: C:x/bank, C:x/auth, A:automerge, C:Rosetta

#12530 refactor: remove dependency on simapp from codec
  codec/amino_codec_test.go
  codec/any_test.go
  codec/unknownproto/regression_test.go
Labels: A:automerge

#12531 chore: Fix legacy simapp compilation
  .github/workflows/legacy-test.yml
  .github/workflows/test.yml
  Makefile
  simapp/app_legacy.go
Labels: A:automerge, Type: Build, Type: CI

#12491 feat: remove x/params dependency in x/crisis
  CHANGELOG.md
  api/cosmos/crisis/v1beta1/tx.pulsar.go
  api/cosmos/crisis/v1beta1/tx_grpc.pb.go
  proto/cosmos/crisis/v1beta1/tx.proto
  x/crisis/exported/exported.go
  x/crisis/keeper/genesis.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/migrator.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/keeper/params.go
  x/crisis/keeper/params_test.go
  x/crisis/migrations/v046/migrate.go
  x/crisis/migrations/v046/migrate_test.go
  x/crisis/module.go
  x/crisis/types/codec.go
  x/crisis/types/keys.go
  x/crisis/types/legacy_params.go
  x/crisis/types/msgs.go
  x/crisis/types/tx.pb.go
Labels: C:x/crisis, A:automerge

#12487 fix: store/rootmulti: fix non-deterministic map iteration
  CHANGELOG.md
  store/rootmulti/store.go
Labels: C:Store, A:automerge

#12536 fix: (x/crisis) failing tests for legacy app
  simapp/app_legacy.go
Labels: A:automerge

#12532 fix: revert changes in x/nft simulations
  x/nft/simulation/operations_test.go
  x/nft/testutil/app_config.go
Labels: C:Simulations, A:automerge, C:x/nft

#12543 refactor: remove dependency on simapp from baseapp tests
  baseapp/block_gas_test.go
  baseapp/grpcrouter_test.go
  baseapp/msg_service_router_test.go
  baseapp/util_test.go
Labels: A:automerge

#12545 refactor: remove dependency on simapp from client tests
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list_test.go
  client/keys/migrate_test.go
  client/keys/rename_test.go
  client/keys/show_test.go
  client/testutil/util.go
  client/tx/aux_builder_test.go
  client/tx/legacy_test.go
  client/tx/tx_test.go
Labels: C:CLI, C:Keys

#12542 chore: update license copyright
  LICENSE
Labels: A:automerge

#12540 fix(group): usage valid json as example of proposal.json
  x/group/client/cli/tx.go
  x/group/spec/05_client.md
Labels: C:CLI, C:x/group, backport/0.46.x

#12472 refactor: Use mocks for x/feegrant testing
  scripts/mockgen.sh
  x/feegrant/basic_fee_test.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/grant_test.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/module/abci_test.go
  x/feegrant/periodic_fee_test.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis_test.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/testutil/expected_keepers_mocks.go
Labels: C:Simulations, C:x/feegrant, Type: Build

#12558 refactor: use mocks for x/crisis keeper tests
  scripts/mockgen.sh
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/testutil/expected_keepers_mocks.go
Labels: C:x/crisis, A:automerge, Type: Build

#12551 feat(group)!: read the decision policy from disk in group CLI
  CHANGELOG.md
  x/group/client/cli/tx.go
  x/group/client/cli/util.go
  x/group/client/testutil/tx.go
Labels: C:CLI, C:x/group, backport/0.46.x

#12564 fix: link in rest migration is wrong
  CHANGELOG.md
Labels: T: Docs, backport/0.46.x

#12553 refactor: use mocks for x/capability testing
  x/capability/keeper/keeper_test.go
Labels: A:automerge, C:x/capability

#12566 fix: panic string in staking/val_state_change.go::UnbondingToUnbonded
  x/staking/keeper/val_state_change.go
Labels: C:x/staking, A:automerge

#12579 chore: fix migration paths
  x/auth/keeper/migrations.go
  x/auth/migrations/v043/store_test.go
  x/auth/migrations/v046/store_test.go
  x/auth/migrations/v4/migrate.go
  x/auth/migrations/v4/migrator_test.go
  x/auth/module.go
  x/crisis/keeper/migrator.go
  x/crisis/migrations/v2/migrate.go
  x/crisis/migrations/v2/migrate_test.go
  x/crisis/module.go
  x/distribution/keeper/migrations.go
  x/distribution/migrations/v3/migrate.go
  x/distribution/migrations/v3/migrate_test.go
  x/distribution/module.go
  x/slashing/keeper/migrations.go
  x/slashing/migrations/v3/migrate.go
  x/slashing/migrations/v3/migrator_test.go
  x/slashing/module.go
Labels: C:x/slashing, C:x/distribution, C:x/crisis, C:x/auth, A:automerge

#12548 fix: Prevent signing from wrong key in multisig
  CHANGELOG.md
  x/auth/client/cli/tx_sign.go
  x/auth/client/testutil/suite.go
Labels: C:CLI, C:x/auth

#12557 feat(depinject): codegen part 1 (imports & idents)
  depinject/internal/codegen/file.go
  depinject/internal/codegen/func.go
  depinject/internal/codegen/ident.go
  depinject/internal/codegen/ident_test.go
  depinject/internal/codegen/import.go
  depinject/internal/codegen/import_test.go
Labels: A:automerge

#12587 refactor(types): remove dependency on simapp in integration test
  testutil/configurator/configurator.go
  types/query/filtered_pagination_test.go
  types/query/pagination_test.go
Labels: A:automerge

#12571 chore: routine gofumpt
  core/appconfig/config_test.go
  core/go.mod
  core/go.sum
  cosmovisor/cmd/cosmovisor/init_test.go
  simapp/app_legacy.go
  types/utils.go
  x/auth/ante/sigverify_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/migrations/v043/store_test.go
  x/auth/migrations/v046/store_test.go
  x/auth/migrations/v4/migrate.go
  x/crisis/keeper/keeper.go
  x/crisis/types/keys.go
  x/distribution/migrations/v3/migrate.go
  x/feegrant/testutil/app_config.go
  x/mint/migrations/v2/migrate.go
  x/params/module.go
  x/slashing/keeper/keeper.go
  x/slashing/migrations/v3/migrate.go
Labels: C:x/slashing, C:x/distribution, C:x/mint, C:x/params, C:x/crisis, C:x/auth, A:automerge, C:x/feegrant, C:Cosmovisor

#12590 fix: auto gas don't work
  CHANGELOG.md
  x/auth/ante/fee.go
  x/auth/ante/fee_test.go
Labels: C:x/auth, A:automerge, backport/0.46.x

#12578 Fixes staking hooks safety issues
  docs/core/proto-docs.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/keeper/delegation.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: C:x/staking

#12604 docs: correct confusing comments in ante.IncrementSequenceDecorator
  x/auth/ante/sigverify.go
Labels: C:x/auth, backport/0.46.x

#12596 chore: gogo/protobuf v1.3.2
  CHANGELOG.md
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  go.mod
  go.sum
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
  store/tools/ics23/iavl/helpers/helpers.go
Labels: C:Store, A:automerge

#12554 fix: make ModuleAccountInvariants pass for IS SDK changes
  docs/core/proto-docs.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/querier.go
  x/staking/keeper/slash_test.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/simulation/decoder_test.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: C:x/staking, C:Simulations

#12623 chore: check if pubkey is nil
  client/rpc/status.go
  store/tools/ics23/go.mod
Labels: C:CLI, C:Store, A:automerge

#12610 fix: MsgMultiSend validation allows only a single sender
  CHANGELOG.md
  api/cosmos/bank/v1beta1/tx.pulsar.go
  proto/cosmos/bank/v1beta1/tx.proto
  x/bank/app_test.go
  x/bank/client/cli/tx.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/bank/types/errors.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/tx.pb.go
Labels: C:CLI, C:Simulations, C:x/bank

#12627 feat: Make a Denoms method on sdk.Coins
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
Labels: A:automerge

#12643 make proto-all
  api/cosmos/group/module/v1/module.pulsar.go
  api/cosmos/tx/module/v1/module.pulsar.go
  client/v2/internal/testpb/query.proto
  core/internal/testpb/test.proto
  orm/internal/testpb/bank.proto
  orm/internal/testpb/test_schema.proto
  proto/cosmos/auth/v1beta1/query.proto
  proto/cosmos/auth/v1beta1/tx.proto
  proto/cosmos/bank/v1beta1/tx.proto
  proto/cosmos/base/snapshots/v1beta1/snapshot.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/base/tendermint/v1beta1/types.proto
  proto/cosmos/crypto/keyring/v1/record.proto
  proto/cosmos/group/module/v1/module.proto
  proto/cosmos/group/v1/types.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/module/v1/module.proto
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/service.proto
Labels: C:CLI, C:orm

#12593 feat: (x/bank) add `SpendableCoin` method to `BaseViewKeeper`
  CHANGELOG.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/view.go
  x/bank/spec/02_keepers.md
Labels: C:x/bank

#12624 refactor(testutil): remove dependency on simapp
  client/context_test.go
  client/grpc/tmservice/service_test.go
  client/grpc_query_test.go
  client/rpc/rpc_test.go
  server/grpc/grpc_web_test.go
  server/grpc/server_test.go
  simapp/simd/cmd/testnet.go
  simapp/test_helpers.go
  simapp/testutil_network_test.go
  testutil/key_test.go
  testutil/network/network.go
  types/module/testutil/network.go
  x/auth/tx/service_test.go
  x/authz/client/testutil/cli_test.go
  x/bank/client/testutil/cli_test.go
  x/crisis/client/testsuite/cli_test.go
  x/genutil/client/testutil/cli_test.go
  x/gov/client/testutil/cli_test.go
  x/mint/testutil/app_config.go
  x/nft/testutil/app_config.go
  x/staking/client/testutil/cli_test.go
  x/upgrade/client/testutil/cli_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/mint, C:x/bank, C:x/crisis, C:x/auth, C:x/upgrade, A:automerge, C:x/genutil, C:x/authz, C:x/nft

#12647 docs: improve docs
  .github/workflows/deploy-docs.yml
  docs/.vuepress/config.js
  docs/DOCS_README.md
  docs/ko/README.md
  docs/ru/README.md
  docs/versions
  docs/zh/README.md
Labels: backport/0.46.x, Type: CI

#12634 refactor: Move sdk.Dec to math package
  CHANGELOG.md
  go.mod
  go.sum
  math/CHANGELOG.md
  math/dec.go
  math/dec_internal_test.go
  math/dec_test.go
  math/go.mod
  math/go.sum
  types/decimal_test.go
  types/math.go
Labels: A:automerge

#12630 feat: deprecate x/params usage in `x/bank`
  CHANGELOG.md
  api/cosmos/bank/v1beta1/bank.pulsar.go
  api/cosmos/bank/v1beta1/tx.pulsar.go
  api/cosmos/bank/v1beta1/tx_grpc.pb.go
  docs/architecture/adr-041-in-place-store-migrations.md
  docs/architecture/adr-046-module-params.md
  docs/building-modules/upgrade.md
  proto/cosmos/bank/v1beta1/bank.proto
  proto/cosmos/bank/v1beta1/tx.proto
  simapp/app_legacy.go
  x/auth/keeper/keeper.go
  x/bank/exported/exported.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/migrations.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_service_test.go
  x/bank/keeper/send.go
  x/bank/migrations/v1/types.go
  x/bank/migrations/v2/json.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/keys.go
  x/bank/migrations/v2/store.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/keys.go
  x/bank/migrations/v3/store.go
  x/bank/migrations/v3/store_test.go
  x/bank/migrations/v4/gen_state.go
  x/bank/migrations/v4/gen_state_test.go
  x/bank/migrations/v4/store.go
  x/bank/migrations/v4/store_test.go
  x/bank/module.go
  x/bank/spec/02_keepers.md
  x/bank/spec/03_messages.md
  x/bank/types/authority.go
  x/bank/types/bank.pb.go
  x/bank/types/codec.go
  x/bank/types/keys.go
  x/bank/types/keys_test.go
  x/bank/types/msgs.go
  x/bank/types/params.go
  x/bank/types/params_legacy.go
  x/bank/types/tx.pb.go
  x/crisis/keeper/keeper.go
  x/crisis/module.go
  x/distribution/module.go
  x/genutil/migrations/v043/migrate.go
  x/genutil/migrations/v047/migrate.go
Labels: C:x/distribution, C:x/bank, C:x/crisis, C:x/auth, C:x/genutil, Type: ADR

#12645 chore: Upgrade cosmovisor & ics23
  cosmovisor/go.mod
  cosmovisor/go.sum
  go.mod
  go.sum
  store/tools/ics23/go.mod
  store/tools/ics23/go.sum
Labels: C:Store, C:Cosmovisor

#12660 feat: allow custom authority and inflation function when using app-wiring
  simapp/app.go
  x/bank/module.go
  x/bank/types/authority.go
  x/crisis/module.go
  x/distribution/module.go
  x/mint/module.go
  x/slashing/module.go
  x/upgrade/module.go
Labels: C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/crisis, C:x/upgrade

#12668 feat: add message index event attribute to authz message execution
  CHANGELOG.md
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
Labels: A:automerge, C:x/authz, backport/0.45.x, backport/0.46.x

#11873 docs: add ADR 057 App Wiring Part I
  docs/architecture/README.md
  docs/architecture/adr-057-app-wiring-1.md
Labels: T: ADR, A:automerge, Type: ADR, T:Sprint

#12677 Add "foo" subspace in x/params CLI test
  x/params/client/testutil/grpc.go
  x/params/client/testutil/suite.go
Labels: C:CLI, C:x/params

#12409 feat(staking): migrate x/params away from x/staking
  CHANGELOG.md
  api/cosmos/staking/v1beta1/genesis.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/tx_grpc.pb.go
  proto/cosmos/staking/v1beta1/genesis.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  simapp/app_legacy.go
  x/genutil/migrations/v046/migrate.go
  x/gov/keeper/common_test.go
  x/params/client/testutil/grpc.go
  x/params/client/testutil/suite.go
  x/params/proposal_handler_test.go
  x/staking/common_test.go
  x/staking/exported/exported.go
  x/staking/keeper/common_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/params.go
  x/staking/migrations/v1/types.go
  x/staking/migrations/v2/keys.go
  x/staking/migrations/v2/store.go
  x/staking/migrations/v2/store_test.go
  x/staking/migrations/v3/json.go
  x/staking/migrations/v3/json_test.go
  x/staking/migrations/v3/keys.go
  x/staking/migrations/v3/store.go
  x/staking/migrations/v3/store_test.go
  x/staking/migrations/v4/keys.go
  x/staking/migrations/v4/migrations_test.go
  x/staking/migrations/v4/store.go
  x/staking/module.go
  x/staking/spec/01_state.md
  x/staking/spec/03_messages.md
  x/staking/types/codec.go
  x/staking/types/genesis.pb.go
  x/staking/types/keys.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/params.go
  x/staking/types/params_legacy.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/params, A:automerge, C:x/genutil

#12678 ci: update `test-rosetta` timeout
  .github/workflows/test.yml
  contrib/rosetta/rosetta-ci/data.tar.gz
Labels: C:Rosetta, Type: CI

#12679 docs: update migrated params module state documentation
  x/bank/spec/01_state.md
  x/crisis/spec/01_state.md
  x/distribution/spec/02_state.md
  x/mint/spec/02_state.md
  x/slashing/spec/02_state.md
  x/staking/spec/01_state.md
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/crisis

#12676 refactor: remove simapp from client/server tests
  client/context_test.go
  client/grpc_query_test.go
  client/query_test.go
  client/rpc/rpc_test.go
  server/grpc/grpc_web_test.go
  server/grpc/server_test.go
  server/util_test.go
  simapp/integration/client/grpc/tmservice/service_test.go
  simapp/integration/server/export_test.go
  testutil/configurator/configurator.go
  testutil/network/network.go
  testutil/sims/app_helpers.go
  types/query/pagination_test.go
Labels: C:CLI

#12670 fix: revert proto changes from #12610
  api/cosmos/bank/v1beta1/tx.pulsar.go
  proto/cosmos/bank/v1beta1/tx.proto
  x/bank/app_test.go
  x/bank/client/cli/tx.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/bank/types/errors.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/tx.pb.go
Labels: C:CLI, C:Simulations, C:x/bank, A:automerge

#12699 feat(x/bank/types): Add `ModuleQueryPath` const to define the bank module's ABCI query path
  x/bank/types/keys.go
Labels: C:x/bank, A:automerge

#12683 chore: Update wording in ADR-044
  docs/architecture/adr-044-protobuf-updates-guidelines.md
Labels: A:automerge, Type: ADR

#12716 refactor: remove dependency on simapp from store test
  store/streaming/constructor_test.go
Labels: C:Store, A:automerge

#12088 feat(textual): Value Renderers for numbers
  go.mod
  tx/go.mod
  tx/go.sum
  tx/textual/internal/testdata/README.md
  tx/textual/internal/testdata/decimals.json
  tx/textual/internal/testdata/integers.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/internal/testpb/Makefile
  tx/textual/internal/testpb/buf.gen.yaml
  tx/textual/internal/testpb/buf.lock
  tx/textual/internal/testpb/buf.yaml
  tx/textual/valuerenderer/dec.go
  tx/textual/valuerenderer/int.go
  tx/textual/valuerenderer/types.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: A:automerge

#12701 fix: incorrect versions of imported protos in Makefile
  CHANGELOG.md
  Makefile
  x/distribution/types/distribution.pb.go
  x/params/types/proposal/params.pb.go
  x/upgrade/types/upgrade.pb.go
Labels: C:x/distribution, C:x/params, C:x/upgrade, Type: Build

#12719 chore: remove cosmossdk.io/api module from v0.46.x
  baseapp/grpcrouter_test.go
  client/v2/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/app.go
  testutil/testdata_pulsar/query.go
  testutil/testdata_pulsar/query.pulsar.go
  testutil/testdata_pulsar/query_grpc.pb.go
  testutil/testdata_pulsar/testdata.pulsar.go
  testutil/testdata_pulsar/tx.pulsar.go
  testutil/testdata_pulsar/tx_grpc.pb.go
  testutil/testdata_pulsar/unknonwnproto.pulsar.go
  x/auth/tx/service_test.go
Labels: C:CLI, C:x/auth

#12726 fix: make proto-all & update versions for main
  Makefile
  api/cosmos/staking/v1beta1/tx_grpc.pb.go
  tx/textual/internal/testpb/1.proto
  x/staking/types/tx.pb.go
Labels: C:x/staking, Type: Build

#12730 chore: cosmovisor v1.2.0 release updates
  cosmovisor/CHANGELOG.md
  cosmovisor/cmd/cosmovisor/version.go
Labels: C:Cosmovisor

#12675 feat: go workspaces
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  cosmovisor/go.mod
  cosmovisor/go.sum
  db/go.mod
  db/go.sum
  depinject/go.mod
  depinject/go.sum
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  math/go.mod
  math/go.sum
  orm/go.mod
  orm/go.sum
Labels: C:CLI, C:Store, A:automerge, C:Cosmovisor, C:orm

#12732 chore: update cosmovisor release notes
  cosmovisor/RELEASE_NOTES.md
Labels: C:Cosmovisor

#12724 feat: Add `GetParamSetIfExists` to prevent panic on breaking param changes
  CHANGELOG.md
  x/params/types/common_test.go
  x/params/types/subspace.go
  x/params/types/subspace_test.go
Labels: C:x/params

#12739 docs: fix grammar
  x/bank/spec/README.md
Labels: C:x/bank

#12648 feat: Add x/authz SendAuthorization AllowList
  CHANGELOG.md
  api/cosmos/bank/v1beta1/authz.pulsar.go
  proto/cosmos/bank/v1beta1/authz.proto
  x/authz/client/cli/tx.go
  x/authz/client/testutil/grpc.go
  x/authz/client/testutil/query.go
  x/authz/client/testutil/tx.go
  x/authz/keeper/keeper_test.go
  x/authz/migrations/v046/store_test.go
  x/authz/module/abci_test.go
  x/authz/msgs_test.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/types/authz.pb.go
  x/bank/types/errors.go
  x/bank/types/send_authorization.go
  x/bank/types/send_authorization_test.go
Labels: C:CLI, C:Simulations, C:x/bank, A:automerge, C:x/authz

#12674 feat: Add convenience method for constructing key to access account's balance for a given denom
  CHANGELOG.md
  x/bank/migrations/v2/store.go
  x/bank/migrations/v2/store_test.go
  x/bank/types/keys.go
Labels: C:x/bank, A:automerge, backport/0.45.x, backport/0.46.x

#12717 refactor!: use injected encoding params in simapp
  CHANGELOG.md
  UPGRADING.md
  depinject/README.md
  docs/architecture/adr-038-state-listening.md
  simapp/app.go
  simapp/app_legacy.go
  simapp/app_test.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/simd/cmd/cmd_test.go
  simapp/simd/cmd/root.go
  simapp/simd/main.go
  simapp/test_helpers.go
  tests/e2e/server/export_test.go
  x/gov/genesis_test.go
  x/gov/module_test.go
  x/staking/module_test.go
Labels: C:x/staking, C:x/gov, Type: ADR

#12738 chore: remove norace tag
  .github/workflows/e2e.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  client/rpc/rpc_test.go
  server/grpc/server_test.go
  simapp/testutil_network_test.go
  tests/e2e/auth/client/testutil/cli_test.go
  tests/e2e/auth/vesting/client/testutil/cli_test.go
  tests/e2e/authz/client/testutil/cli_test.go
  tests/e2e/bank/client/testutil/cli_test.go
  tests/e2e/client/grpc/tmservice/service_test.go
  tests/e2e/crisis/client/testsuite/cli_test.go
  tests/e2e/distribution/client/testutil/cli_test.go
  tests/e2e/evidence/client/testutil/cli_test.go
  tests/e2e/feegrant/client/testutil/cli_test.go
  tests/e2e/genutil/client/testutil/cli_test.go
  tests/e2e/gov/client/testutil/cli_test.go
  tests/e2e/group/client/testutil/cli_test.go
  tests/e2e/mint/client/testutil/cli_test.go
  tests/e2e/nft/client/testutil/cli_test.go
  tests/e2e/params/client/testutil/cli_test.go
  tests/e2e/server/export_test.go
  tests/e2e/slashing/client/testutil/cli_test.go
  tests/e2e/staking/client/testutil/cli_test.go
  tests/e2e/upgrade/client/testutil/cli_test.go
  x/auth/tx/service_test.go
Labels: C:CLI, C:x/auth, A:automerge, Type: CI

#12747 refactor!: make `simapp.MakeTestEncodingConfig` private
  CHANGELOG.md
  UPGRADING.md
  docs/run-node/txs.md
  simapp/app_legacy.go
  simapp/encoding.go
  simapp/simd/cmd/genaccounts_test.go
  simapp/simd/cmd/testnet_test.go
  x/bank/app_test.go
  x/bank/keeper/keeper_test.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/store_test.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/common_test.go
  x/gov/migrations/v043/json_test.go
  x/gov/migrations/v043/store_test.go
  x/gov/migrations/v046/json_test.go
  x/gov/migrations/v046/store_test.go
  x/gov/simulation/decoder_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/migrations/v3/json_test.go
  x/staking/migrations/v3/store_test.go
  x/staking/simulation/decoder_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:Simulations, C:x/bank, C:x/genutil

#12734 feat(textual): bytes value renderer
  tx/textual/internal/testdata/bytes.json
  tx/textual/internal/testpb/1.proto
  tx/textual/internal/testpb/1.pulsar.go
  tx/textual/internal/testpb/buf.lock
  tx/textual/valuerenderer/bytes.go
  tx/textual/valuerenderer/bytes_test.go
  tx/textual/valuerenderer/valuerenderer.go
  tx/textual/valuerenderer/valuerenderer_test.go
Labels: A:automerge

#12746 chore: fix #12674 changelog
  CHANGELOG.md
  CONTRIBUTING.md
Labels: A:automerge

#12478 feat: CI action / label that makes it easy to cherry-pick just a commit against cosmos SDK main
  .github/workflows/fork-cherry-pick.yml
Labels: A:automerge, Type: CI

#12721 refactor: add mock unit tests for bank module
  scripts/mockgen.sh
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_service_test.go
  x/bank/keeper/querier_test.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/send_authorization_test.go
Labels: C:x/bank, A:automerge, Type: Build

#12698 refactor: Use mocks for x/upgrade testing
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper_test.go
Labels: C:x/upgrade, A:automerge

#12568 refactor: use mocks for x/auth testing + ante tests refactor
  scripts/mockgen.sh
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/ext_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/ante/testutil_test.go
  x/auth/keeper/grpc_query_test.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/querier_test.go
  x/auth/signing/verify_test.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth, A:automerge, Type: Build

#12750 fix: cosmovisor: fix (*Config.SetCurrentUpgrade file leak on failed JSON marshal+write
  cosmovisor/args.go
Labels: C:Cosmovisor

#12751 fix: orm/*, store/*: fix non-determinism from map iteration
  orm/model/ormdb/json.go
  store/v2alpha1/multi/migration.go
  store/v2alpha1/multi/store.go
Labels: C:Store, C:orm

#12743 build: remove comosvisor from `go.work`
  cosmovisor/Makefile
  cosmovisor/go.mod
  cosmovisor/go.sum
  go.work
Labels: C:Cosmovisor

#12725 chore: remove legacy appmodule boiler plate
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  simapp/app_legacy.go
  types/module/module.go
  types/module/module_test.go
  x/auth/keeper/querier.go
  x/auth/keeper/querier_test.go
  x/auth/module.go
  x/auth/types/keys.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/keeper/querier.go
  x/bank/keeper/querier_test.go
  x/bank/module.go
  x/bank/types/keys.go
  x/capability/module.go
  x/crisis/module.go
  x/distribution/client/common/common.go
  x/distribution/keeper/querier.go
  x/distribution/keeper/querier_test.go
  x/distribution/module.go
  x/distribution/types/keys.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/querier.go
  x/evidence/keeper/querier_test.go
  x/evidence/module.go
  x/evidence/types/keys.go
  x/feegrant/module/module.go
  x/gov/keeper/querier.go
  x/gov/keeper/querier_test.go
  x/gov/module.go
  x/gov/types/keys.go
  x/group/module/module.go
  x/mint/keeper/querier.go
  x/mint/keeper/querier_test.go
  x/mint/module.go
  x/mint/types/keys.go
  x/nft/module/module.go
  x/params/keeper/querier.go
  x/params/module.go
  x/params/types/keys.go
  x/slashing/module.go
  x/slashing/types/keys.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/querier.go
  x/staking/keeper/querier_test.go
  x/staking/module.go
  x/staking/types/keys.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/querier.go
  x/upgrade/module.go
  x/upgrade/types/keys.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft

#12757 refactor: replace app wiring yaml config by go
  simapp/app_config.go
  tests/e2e/auth/client/testutil/cli_test.go
  tests/e2e/auth/vesting/client/testutil/cli_test.go
  tests/e2e/authz/client/testutil/cli_test.go
  tests/e2e/evidence/client/testutil/cli_test.go
  tests/e2e/feegrant/client/testutil/cli_test.go
  tests/e2e/group/client/testutil/cli_test.go
  tests/e2e/mint/client/testutil/cli_test.go
  tests/e2e/nft/client/testutil/cli_test.go
  tests/e2e/params/client/testutil/cli_test.go
  tests/e2e/slashing/client/testutil/cli_test.go
  x/auth/testutil/app.yaml
  x/auth/testutil/app_config.go
  x/auth/vesting/testutil/app.yaml
  x/auth/vesting/testutil/app_config.go
  x/authz/testutil/app.yaml
  x/authz/testutil/app_config.go
  x/capability/testutil/app.yaml
  x/capability/testutil/app_config.go
  x/distribution/testutil/app.yaml
  x/distribution/testutil/app_config.go
  x/evidence/testutil/app.yaml
  x/evidence/testutil/app_config.go
  x/feegrant/testutil/app.yaml
  x/feegrant/testutil/app_config.go
  x/group/testutil/app.yaml
  x/group/testutil/app_config.go
  x/mint/testutil/app_config.go
  x/nft/testutil/app_config.go
  x/params/testutil/app.yaml
  x/params/testutil/app_config.go
  x/slashing/testutil/app.yaml
  x/slashing/testutil/app_config.go
  x/upgrade/testutil/app.yaml
  x/upgrade/testutil/app_config.go
Labels: C:x/slashing, C:x/distribution, C:x/mint, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/capability, C:x/authz, C:x/group, C:x/nft
