Repository cosmos/cosmos-sdk, pull requests merged in 2023-09, with the labels that each got.

#17610 docs(rosetta): fix documentation
  tools/rosetta/README.md
Labels: C:Rosetta

#17604 refactor(x/staking): Use gogotypes Int64Value instead of bytes for LastValidatorPower
  x/staking/genesis.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
Labels: C:x/staking

#17609 docs: Add k/v docs in structs using collections
  x/auth/keeper/keeper.go
  x/distribution/keeper/keeper.go
  x/evidence/keeper/keeper.go
  x/feegrant/keeper/keeper.go
  x/gov/keeper/keeper.go
  x/slashing/keeper/keeper.go
  x/staking/keeper/keeper.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/auth, C:x/evidence, C:x/feegrant

#17622 chore: correct api docs
  docs/docs/develop/advanced/06-grpc_rest.md
Labels: T:Docs, backport/v0.50.x

#17633 docs: fix ugrading doc conflicts
  UPGRADING.md
Labels: C:CLI, C:Keys, Type: Build, Type: CI, C:collections

#17635 fix: typo in comment
  client/config/config.go
Labels: C:CLI, backport/0.46.x, backport/v0.47.x, backport/v0.50.x

#17644 chore: fix nolint comments
  orm/internal/codegen/file.go
  orm/internal/codegen/index.go
  tests/integration/rapidgen/rapidgen.go
  x/bank/keeper/view.go
  x/distribution/keeper/keeper.go
  x/feegrant/keeper/keeper.go
  x/gov/keeper/keeper.go
  x/gov/types/v1beta1/codec.go
  x/slashing/keeper/keeper.go
  x/staking/keeper/keeper.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/feegrant, C:orm

#17649 fix(config): mempool.max-txs configuration is invalid
  CHANGELOG.md
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
Labels: backport/v0.47.x, backport/v0.50.x

#17614 feat(accounts): Add message server and query server logic.
  api/cosmos/accounts/v1/query.pulsar.go
  api/cosmos/accounts/v1/query_grpc.pb.go
  api/cosmos/accounts/v1/tx.pulsar.go
  api/cosmos/accounts/v1/tx_grpc.pb.go
  proto/cosmos/accounts/v1/accounts.proto
  proto/cosmos/accounts/v1/query.proto
  proto/cosmos/accounts/v1/tx.proto
  scripts/protocgen.sh
  x/accounts/account_test.go
  x/accounts/internal/implementation/api_builder.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/implementation_test.go
  x/accounts/internal/implementation/protoaccount.go
  x/accounts/keeper.go
  x/accounts/keeper_test.go
  x/accounts/msg_server.go
  x/accounts/msg_server_test.go
  x/accounts/query_server.go
  x/accounts/query_server_test.go
  x/accounts/v1/query.pb.go
  x/accounts/v1/tx.pb.go
Labels: Type: Build, C:x/accounts

#17652 chore(confix): update v0.47 and v0.50 config
  tools/confix/data/v0.47-app.toml
  tools/confix/data/v0.50-app.toml
Labels: C:Confix, backport/v0.50.x

#15548 docs: add docs on proto annotations
  UPGRADING.md
  docs/docs/build/building-modules/02-messages-and-queries.md
  docs/docs/build/building-modules/05-protobuf-annotations.md
  docs/docs/build/building-modules/06-beginblock-endblock.md
Labels: backport/v0.50.x

#17639 feat: add base64 Pubkeys from cli
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_test.go
Labels: C:CLI, C:Keys, TODO:backport-v0.50.1

#17659 fix(docs): update links for documentation
  docs/docs/Introduction.md
  docs/docs/build/building-modules/01-module-manager.md
Labels: backport/v0.50.x

#17664 refactor(staking): cleanup UnbondAllMatureValidators
  x/staking/keeper/validator.go
Labels: C:x/staking

#17626 docs: edit encoding docs
  docs/docs/develop/advanced/05-encoding.md
Labels: backport/v0.50.x

#17569 feat(x/bank): introduce msg burn to bank keeper
  CHANGELOG.md
  api/cosmos/bank/v1beta1/tx.pulsar.go
  api/cosmos/bank/v1beta1/tx_grpc.pb.go
  proto/cosmos/bank/v1beta1/tx.proto
  testutil/mock/types_module_module.go
  x/auth/tx/textual.go
  x/authz/testutil/bank_helpers.go
  x/bank/README.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_server_test.go
  x/bank/types/tx.pb.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/expected_keepers.go
  x/group/testutil/expected_keepers_mocks.go
  x/staking/keeper/pool.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/gov, C:x/bank, C:x/auth, C:x/authz, C:x/group

#17562 refactor(x/staking): Migrate ValidatorQueue to use Collections
  CHANGELOG.md
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/validator.go
  x/staking/migrations/v2/store_test.go
  x/staking/types/keys.go
  x/staking/types/keys_test.go
Labels: C:x/staking

#17486 refactor(x/staking): migrate RedelegationQueue to collections
  CHANGELOG.md
  x/staking/keeper/delegation.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/migrations/v2/store_test.go
  x/staking/types/keys.go
Labels: C:x/staking

#17281 LSM docs
  x/staking/spec/01_state.md
  x/staking/spec/02_state_transitions.md
  x/staking/spec/03_messages.md
  x/staking/spec/07_events.md
  x/staking/spec/08_params.md
  x/staking/spec/09_client.md
Labels: C:x/staking

#17667 feat: CV Close databases opened by cosmos-sdk during BaseApp shutdown
  CHANGELOG.md
  baseapp/baseapp.go
Labels: backport/v0.50.x

#17673 docs: add back removed readmes
  docs/docs/build/packages/README.md
  docs/docs/build/tooling/README.md
Labels: C:CLI, Type: Build, Type: CI

#17668 fix: nil pointer ref priority nonce mempool iterator
  CHANGELOG.md
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
Labels: backport/v0.47.x, backport/v0.50.x

#17656 feat(collections): add Vec type
  collections/CHANGELOG.md
  collections/vec.go
  collections/vec_test.go
Labels: C:collections

#17643 refactor: orm/encoding/encodeutil: remove impossible len overflow check
  orm/encoding/encodeutil/util.go
Labels: C:orm

#17680 chore: remove unecessary method
  store/iavl/tree.go
Labels: C:Store

#17600 feat(x/tx): add indent option to encoder
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Labels: C:x/tx

#17679 fix: genesis on migrations
  types/module/module.go
Labels: backport/v0.50.x

#17690 test: change order of proto definitions
  client/v2/internal/testpb/query.proto
Labels: C:CLI

#17693 refactor(core)!: remove unimplemented interface
  core/CHANGELOG.md
  core/appmodule/module.go
  x/upgrade/module.go
Labels: C:x/upgrade

#17706 docs: fix breaking documentation link
  docs/docs/build/building-modules/06-keeper.md
Labels: backport/v0.50.x

#17708 docs: move 00-protobuf to correct folder
  docs/docs/build/tooling/00-protobuf.md
Labels: backport/v0.50.x

#17681 feat(x/tx): add custom type encoder
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/any.go
  x/tx/signing/aminojson/internal/testpb/test.proto
  x/tx/signing/aminojson/internal/testpb/test.pulsar.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
  x/tx/signing/aminojson/options.go
  x/tx/signing/aminojson/time.go
Labels: C:x/tx

#17421 feat: introduce PreBlock
  CHANGELOG.md
  UPGRADING.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/options.go
  docs/architecture/README.md
  docs/architecture/adr-063-core-module-api.md
  docs/architecture/adr-068-preblock.md
  docs/docs/build/building-apps/01-app-go-v2.md
  docs/docs/build/building-apps/03-app-upgrade.md
  docs/docs/build/building-modules/01-module-manager.md
  docs/docs/build/building-modules/17-preblock.md
  docs/docs/develop/advanced/00-baseapp.md
  docs/docs/develop/beginner/00-app-anatomy.md
  go.mod
  go.sum
  runtime/app.go
  runtime/builder.go
  simapp/app.go
  simapp/app_config.go
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  testutil/configurator/configurator.go
  testutil/mock/types_mock_appmodule.go
  types/abci.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  types/module/module_test.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/module.go
Labels: C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, Type: ADR, C:x/circuit, backport/v0.50.x

#16985 feat(client/v2): stringify bytes `cosmos.Dec`
  client/v2/autocli/flag/builder.go
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
Labels: C:CLI, backport/v0.50.x

#17720 chore: Remove legacy code
  x/distribution/types/proposal.go
  x/upgrade/types/proposal.go
  x/upgrade/types/proposal_test.go
Labels: C:x/distribution, C:x/upgrade

#17722 docs: update documentation order for `build` tab
  docs/architecture/_category_.json
  docs/docs/build/building-apps/_category_.json
  docs/docs/build/building-modules/_category_.json
  docs/docs/build/migrations/_category_.json
  docs/docs/build/modules/_category_.json
  docs/docs/build/packages/_category_.json
  docs/docs/build/tooling/_category_.json
  docs/docs/develop/advanced/_category_.json
  docs/docs/develop/beginner/_category_.json
  docs/docs/user/run-node/_category_.json
  docs/rfc/_category_.json
  docs/spec/_category_.json
Labels: Type: ADR, backport/v0.50.x

#17688 build(deps): Bump cosmossdk.io/core from 0.11.0 to 0.12.0
  baseapp/abci.go
  baseapp/info.go
  go.mod
  go.sum
  runtime/module.go
  runtime/services.go
  simapp/app.go
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/integration/evidence/keeper/infraction_test.go
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  types/context.go
  types/mempool/mempool_test.go
  x/accounts/internal/implementation/protoaccount.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/CHANGELOG.md
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/keeper/abci.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/module.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/evidence.go
  x/evidence/types/evidence_test.go
  x/evidence/types/expected_keepers.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/types/v1beta1/codec.go
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/types/codec.go
Labels: C:x/gov, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:x/circuit, C:x/accounts

#17717 chore: cleanup sdk.Context
  x/auth/keeper/grpc_query.go
  x/auth/vesting/msg_server.go
  x/authz/keeper/msg_server.go
  x/authz/module/abci.go
  x/authz/module/module.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/evidence/keeper/grpc_query.go
  x/evidence/keeper/msg_server.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/group/module/abci_test.go
  x/slashing/keeper/msg_server.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/msg_server.go
Labels: C:x/gov, C:x/slashing, C:x/bank, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group

#17734 docs: improve upgrade docs on preblocker
  UPGRADING.md
  docs/docs/build/building-apps/03-app-upgrade.md
  x/upgrade/README.md
Labels: C:x/upgrade, backport/v0.50.x

#17737 refactor: remove unused context argument from types/simulation.RandomFees
  CHANGELOG.md
  types/simulation/account.go
  types/simulation/account_test.go
  x/authz/simulation/operations.go
  x/bank/simulation/operations.go
  x/distribution/simulation/operations.go
  x/gov/simulation/operations.go
  x/group/simulation/operations.go
  x/nft/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/authz, C:x/group, C:x/nft

#17670 refactor: deprecate Voteinfo in favour of Cometinfo on Context
  CHANGELOG.md
  tests/integration/distribution/keeper/msg_server_test.go
  testutil/integration/router.go
  types/context.go
  x/distribution/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/slashing/abci.go
  x/slashing/abci_test.go
Labels: C:x/slashing, C:x/distribution

#17741 chore: remove unneeded code
  runtime/module.go
  runtime/services.go
  x/circuit/CHANGELOG.md
  x/circuit/client/cli/tx.go
  x/circuit/keeper/query.go
  x/circuit/module.go
  x/circuit/types/codec.go
  x/circuit/types/msgs.go
Labels: C:CLI, C:x/circuit, backport/v0.50.x

#17713 refactor!: reimplement PreFinalizeBlockHook as PreBlocker
  CHANGELOG.md
  UPGRADING.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/options.go
  docs/architecture/adr-064-abci-2.0.md
  docs/architecture/adr-068-preblock.md
  docs/docs/build/building-apps/03-app-upgrade.md
  docs/docs/build/building-apps/04-vote-extensions.md
  runtime/app.go
  simapp/app.go
  types/abci.go
  types/module/module.go
  types/module/module_test.go
  x/upgrade/CHANGELOG.md
  x/upgrade/abci.go
Labels: C:x/upgrade, Type: ADR, backport/v0.50.x

#17094 feat: Wait shutdown-grace-seconds to flush async db writes to disk
  CHANGELOG.md
  server/start.go
Labels: TODO:backport-v0.50.1

#17761 docs: update links for removed and re-added file
  docs/docs/Introduction.md
  docs/docs/build/building-modules/00-intro.md
  docs/docs/build/building-modules/01-module-manager.md
  docs/docs/build/building-modules/02-messages-and-queries.md
  docs/docs/build/building-modules/06-keeper.md
  docs/docs/build/building-modules/09-module-interfaces.md
  docs/docs/develop/advanced/00-baseapp.md
  docs/docs/develop/advanced/07-cli.md
  docs/docs/develop/advanced/15-upgrade.md
  docs/docs/develop/beginner/00-app-anatomy.md
  docs/docs/develop/beginner/04-gas-fees.md
  docs/docs/develop/intro/00-overview.md
Labels: backport/v0.50.x

#17709 feat(client/v2): Add `clientCtx` to commands in autocli
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Labels: C:CLI, backport/v0.50.x

#17764 chore(client/v2): explain breaking change v0.50 / v0.51 autocli
  client/v2/CHANGELOG.md
  client/v2/autocli/flag/address.go
Labels: C:CLI

#17742 chore(tools/hubl): upgrade `client/v2` in hubl
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/hubl/internal/remote.go
Labels: C:Hubl

#17784 chore: fix deprecation annotations
  api/cosmos/tx/v1beta1/service.pulsar.go
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/tx/v1beta1/service.proto
  simapp/params/amino.go
  simapp/params/proto.go
  types/tx/service.pb.go
  x/staking/types/staking.pb.go
  x/tx/signing/aminojson/internal/testpb/test.proto
Labels: C:x/staking, C:x/tx

#17778 refactor: migrate x/staking `Params` to use collections
  CHANGELOG.md
  tests/integration/auth/migrations/v2/store_test.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/staking/keeper/genesis_test.go
  tests/integration/staking/keeper/grpc_query_test.go
  tests/integration/staking/keeper/validator_test.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/params.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator_test.go
  x/staking/migrations/v4/store.go
  x/staking/types/keys.go
Labels: C:x/staking, C:x/evidence

#17751 update librocksdb to v8.5.3
  flake.nix
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
Labels: C:Store

#17800 docs: fix UPGRADING.md link
  UPGRADING.md
Labels: backport/v0.50.x

#17655 refactor(staking): change historicalinfo to contain minimal set of data
  CHANGELOG.md
  api/cosmos/staking/v1beta1/query.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  docs/architecture/adr-017-historical-header-module.md
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/staking/keeper/grpc_query_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/types/historical_info.go
  x/staking/types/query.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, Type: ADR

#17794 refactor(store): add missing error checks in store
  store/iavl/store.go
  store/rootmulti/store.go
  store/tracekv/store.go
Labels: C:Store

#17817 refactor(store): add missing error checks in store
  store/iavl/store.go
  store/listenkv/store.go
  store/rootmulti/store.go
  store/streaming/constructor.go
  store/tracekv/store.go
Labels: C:Store

#17787 refactor!: remove tips
  CHANGELOG.md
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  api/cosmos/tx/v1beta1/tx.pulsar.go
  baseapp/baseapp.go
  client/tx/aux_builder.go
  client/tx/aux_builder_test.go
  client/tx/factory.go
  client/tx/legacy_test.go
  client/tx/tx.go
  client/tx/tx_test.go
  client/tx_config.go
  docs/develop/advanced/00-baseapp.md
  docs/develop/advanced/01-transactions.md
  docs/develop/advanced/14-tips.md
  proto/cosmos/tx/signing/v1beta1/signing.proto
  proto/cosmos/tx/v1beta1/tx.proto
  simapp/app.go
  simapp/simd/cmd/commands.go
  tests/e2e/auth/suite.go
  tests/integration/auth/client/cli/suite_test.go
  tests/integration/tx/aminojson/aminojson_test.go
  types/tx/direct_aux.go
  types/tx/direct_aux_test.go
  types/tx/signing/signing.pb.go
  types/tx/tips.go
  types/tx/tx.pb.go
  x/auth/README.md
  x/auth/client/cli/tips.go
  x/auth/client/testutil/helpers.go
  x/auth/migrations/legacytx/stdsign.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/migrations/legacytx/stdtx_builder.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/posthandler/tips.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/tx/adapter.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/authz/msgs_test.go
  x/feegrant/msgs_test.go
  x/tx/decode/decode_test.go
  x/tx/decode/fuzz_test.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/fuzz_test.go
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
  x/tx/signing/directaux/direct_aux.go
  x/tx/signing/directaux/direct_aux_test.go
  x/tx/signing/testutil/util.go
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/internal/testdata/tx.json
  x/tx/signing/textual/internal/textualpb/textual.proto
  x/tx/signing/textual/tx.go
Labels: C:CLI, C:x/auth, C:x/feegrant, C:x/authz, C:x/tx, backport/v0.50.x

#17816 chore(x/genutil): cleanup CollectTxs
  x/genutil/collect.go
Labels: C:x/genutil

#17707 feat(client/v2): message binder
  client/v2/autocli/flag/messager_binder.go
  client/v2/autocli/query_test.go
Labels: C:CLI, backport/v0.50.x

#17831 docs: fix typos
  docs/learn/advanced/00-baseapp.md
  docs/learn/advanced/01-transactions.md
  docs/learn/advanced/02-context.md
  docs/learn/advanced/04-store.md
  docs/learn/advanced/05-encoding.md
  docs/learn/advanced/06-grpc_rest.md
  docs/learn/advanced/07-cli.md
Labels: backport/v0.50.x

#17818 chore!: remove bank & genutil legacy migrations
  CHANGELOG.md
  UPGRADING.md
  docs/architecture/adr-009-evidence-module.md
  docs/architecture/adr-054-semver-compatible-modules.md
  docs/architecture/adr-059-test-scopes.md
  docs/build/building-modules/00-intro.md
  docs/build/building-modules/09-module-interfaces.md
  docs/build/building-modules/14-simulator.md
  docs/spec/_ics/ics-030-signed-messages.md
  docs/spec/store/interblock-cache.md
  simapp/app.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/bank/exported/exported.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/migrations.go
  x/bank/migrations/v1/types.go
  x/bank/migrations/v2/json.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/keys.go
  x/bank/migrations/v2/store.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/keys.go
  x/bank/migrations/v3/store.go
  x/bank/migrations/v3/store_test.go
  x/bank/migrations/v4/gen_state.go
  x/bank/migrations/v4/gen_state_test.go
  x/bank/migrations/v4/store.go
  x/bank/migrations/v4/store_test.go
  x/bank/module.go
  x/genutil/client/cli/migrate.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/migrations/v043/migrate.go
  x/genutil/migrations/v046/migrate.go
  x/genutil/migrations/v047/migrate.go
Labels: C:CLI, C:x/bank, C:x/genutil, Type: ADR

#17834 chore: remove staking and distr param dependence
  CHANGELOG.md
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/distribution/keeper/migrations.go
  x/distribution/migrations/v1/types.go
  x/distribution/migrations/v2/store.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/migrations/v3/json.go
  x/distribution/migrations/v3/json_test.go
  x/distribution/migrations/v3/migrate.go
  x/distribution/migrations/v3/migrate_test.go
  x/distribution/module.go
  x/staking/exported/exported.go
  x/staking/keeper/migrations.go
  x/staking/migrations/v1/types.go
  x/staking/migrations/v2/helpers.go
  x/staking/migrations/v2/keys.go
  x/staking/migrations/v2/store.go
  x/staking/migrations/v2/store_test.go
  x/staking/migrations/v3/json.go
  x/staking/migrations/v3/json_test.go
  x/staking/migrations/v3/keys.go
  x/staking/migrations/v3/store.go
  x/staking/migrations/v3/store_test.go
  x/staking/migrations/v4/keys.go
  x/staking/migrations/v4/migrations_test.go
  x/staking/migrations/v4/store.go
  x/staking/migrations/v5/keys.go
  x/staking/migrations/v5/migrations_test.go
  x/staking/module.go
Labels: C:x/staking, C:x/distribution

#17837 chore: remove params dep from crisis, gov and mint
  CHANGELOG.md
  simapp/app.go
  tests/integration/gov/keeper/keeper_test.go
  testutil/integration/example_test.go
  x/crisis/exported/exported.go
  x/crisis/keeper/migrator.go
  x/crisis/migrations/v2/migrate.go
  x/crisis/migrations/v2/migrate_test.go
  x/crisis/module.go
  x/gov/exported/exported.go
  x/gov/keeper/migrations.go
  x/gov/migrations/v1/types.go
  x/gov/migrations/v2/json.go
  x/gov/migrations/v2/json_test.go
  x/gov/migrations/v2/keys.go
  x/gov/migrations/v2/store.go
  x/gov/migrations/v2/store_test.go
  x/gov/migrations/v3/convert.go
  x/gov/migrations/v3/json.go
  x/gov/migrations/v3/json_test.go
  x/gov/migrations/v3/keys.go
  x/gov/migrations/v3/store.go
  x/gov/migrations/v3/store_test.go
  x/gov/migrations/v4/json.go
  x/gov/migrations/v4/json_test.go
  x/gov/migrations/v4/keys.go
  x/gov/migrations/v4/store.go
  x/gov/migrations/v4/store_test.go
  x/gov/migrations/v5/store.go
  x/gov/migrations/v5/store_test.go
  x/gov/module.go
  x/gov/types/expected_keepers.go
  x/mint/exported/exported.go
  x/mint/keeper/migrator.go
  x/mint/migrations/v2/migrate.go
  x/mint/migrations/v2/migrator_test.go
  x/mint/module.go
Labels: C:x/gov, C:x/mint, C:x/crisis

#17838 chore: remove params module entirely
  CHANGELOG.md
  UPGRADING.md
  baseapp/block_gas_test.go
  scripts/mockgen.sh
  server/api/server_test.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_test.go
  simapp/app_v2.go
  simapp/simd/cmd/testnet_test.go
  tests/integration/bank/app_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/module_test.go
  tests/integration/rapidgen/rapidgen.go
  tests/integration/runtime/query_test.go
  tests/integration/tx/context_test.go
  tests/integration/tx/decode_test.go
  testutil/configurator/configurator.go
  testutil/network/network.go
  types/query/pagination_test.go
  x/auth/testutil/app_config.go
  x/auth/types/params_legacy.go
  x/authz/testutil/app_config.go
  x/bank/simulation/genesis.go
  x/bank/simulation/operations_test.go
  x/bank/types/params_legacy.go
  x/consensus/exported/exported.go
  x/crisis/types/legacy_params.go
  x/distribution/exported/exported.go
  x/distribution/testutil/app_config.go
  x/distribution/types/params.go
  x/distribution/types/params_legacy.go
  x/evidence/testutil/app_config.go
  x/feegrant/simulation/operations_test.go
  x/gov/common_test.go
  x/gov/module.go
  x/gov/simulation/operations_test.go
  x/gov/types/v1/params_legacy.go
  x/group/testutil/app_config.go
  x/mint/testutil/app_config.go
  x/mint/types/params_legacy.go
  x/nft/testutil/app_config.go
  x/params/proposal_handler_test.go
  x/slashing/app_test.go
  x/slashing/testutil/app_config.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/expected_keepers.go
  x/slashing/types/params_legacy.go
  x/staking/testutil/app_config.go
  x/staking/types/params_legacy.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, Type: Build, C:x/consensus

#17769 fix(baseapp): select txs correctly with no-op mempool
  CHANGELOG.md
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
  baseapp/baseapp.go
Labels: backport/v0.47.x, backport/v0.50.x

#17855 test(client/keys): deflake Test_runImportHexCmd by a unique directory per sub-test run
  client/keys/import_test.go
Labels: C:CLI, C:Keys, backport/v0.50.x

#17852 chore(client/v2): remove trailing whitespace in golden files
  client/v2/autocli/testdata/help-deprecated-msg.golden
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/autocli/testdata/help.golden
Labels: backport/v0.50.x

#17858 chore(client/v2): better method naming
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/common_test.go
  client/v2/autocli/testdata/help-deprecated-msg.golden
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/help-echo.golden
Labels: C:CLI, backport/v0.50.x

#17846 chore(nft): remove address.String() calls from nft
  x/nft/keeper/genesis.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/msg_server_test.go
  x/nft/keeper/nft.go
  x/nft/keeper/nft_batch.go
  x/nft/module/module.go
  x/nft/simulation/genesis.go
  x/nft/simulation/genesis_test.go
  x/nft/simulation/operations.go
Labels: C:Simulations, C:x/nft, backport/v0.50.x

#17859 chore(x/gov): improve `PromptMetadata` readability
  x/gov/client/cli/prompt.go
Labels: C:CLI, C:x/gov, backport/v0.50.x

#17862 chore(upgrade): remove address.string calls
  x/upgrade/abci_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/msg_server_test.go
  x/upgrade/module.go
Labels: C:CLI, C:x/upgrade

#17863 test(client/keys): Test_runImportCmd unique dir per test
  client/keys/import_test.go
Labels: C:CLI, C:Keys, backport/v0.50.x

#17870 fix: recreate legacy behaviour for addresscodec
  codec/address/bech32_codec.go
Labels: backport/v0.50.x

#17874 chore: bump modules to v0.50.0-rc.1
  client/v2/go.mod
  client/v2/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:Confix, C:x/circuit, C:Hubl

#17873 fix(gov): fail proposal when implementation not found
  CHANGELOG.md
  x/gov/abci.go
  x/gov/abci_test.go
Labels: C:x/gov, backport/v0.50.x

#17313 fix(client/v2): fix variable arguments
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/coin.go
  client/v2/autocli/flag/messager_binder.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/internal/testpb/msg_grpc.pb.go
  client/v2/internal/testpb/query.proto
  client/v2/internal/testpb/query.pulsar.go
  client/v2/internal/testpb/query_grpc.pb.go
Labels: C:CLI, backport/v0.50.x

#17881 docs: small update for routes change
  x/README.md
Labels: backport/v0.47.x, backport/v0.50.x

#17885 refactor!: use `context.Context` in genesis api
  CHANGELOG.md
  UPGRADING.md
  baseapp/testutil/mock/mocks.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/core_module.go
  types/module/module.go
  x/auth/keeper/genesis.go
  x/auth/module.go
  x/authz/keeper/genesis.go
  x/authz/module/module.go
  x/bank/module.go
  x/circuit/module.go
  x/crisis/keeper/genesis.go
  x/crisis/keeper/keeper.go
  x/crisis/module.go
  x/distribution/keeper/genesis.go
  x/distribution/module.go
  x/evidence/genesis.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/genesis.go
  x/genutil/gentx.go
  x/genutil/module.go
  x/gov/genesis.go
  x/gov/module.go
  x/group/keeper/genesis.go
  x/group/module/module.go
  x/mint/keeper/genesis.go
  x/mint/module.go
  x/nft/keeper/genesis.go
  x/nft/module/module.go
  x/slashing/keeper/genesis.go
  x/slashing/module.go
  x/staking/keeper/genesis.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, C:x/circuit

#17726 feat: SS Pruning Support
  store/database.go
  store/storage/pebbledb/db.go
  store/storage/pebbledb/db_test.go
  store/storage/rocksdb/db.go
  store/storage/sqlite/db.go
  store/storage/storage_test_suite.go
Labels: C:Store

#17890 chore(x/staking/keeper): remove redundant code/returns
  x/staking/keeper/alias_functions.go
Labels: C:x/staking, backport/v0.50.x

#17897 build(confix): fix go install
  tools/confix/README.md
  tools/confix/go.mod
  tools/confix/go.sum
Labels: C:Confix

#17898 docs(x/protocolpool): Update README.md
  x/README.md
  x/protocolpool/README.md
Labels: C:x/protocolpool

#17901 chore: remove duplicate check
  x/auth/tx/builder.go
Labels: C:x/auth

#17903 chore(auth): return accId in error
  x/auth/keeper/grpc_query.go
Labels: C:x/auth, backport/v0.47.x, backport/v0.50.x

#17900 chore(store): check value
  store/dbadapter/store.go
Labels: C:Store, backport/v0.47.x, backport/v0.50.x

#17910 refactor(x/gov): remove gov vote and proposal based telemetry
  CHANGELOG.md
  x/gov/keeper/msg_server.go
Labels: C:x/gov, backport/v0.47.x, backport/v0.50.x

#17904 feat(confix): add `view` command
  tools/confix/CHANGELOG.md
  tools/confix/README.md
  tools/confix/cmd/config.go
  tools/confix/cmd/view.go
  tools/confix/cmd/view_test.go
  tools/confix/go.mod
Labels: C:Confix, backport/v0.50.x

#17920 fix(simapp): do not overwrite tx options
  api/cosmos/tx/signing/v1beta1/signing.pulsar.go
  client/docs/swagger-ui/swagger.yaml
  client/flags/flags.go
  proto/cosmos/tx/signing/v1beta1/signing.proto
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
  types/tx/signing/signing.pb.go
  x/auth/tx/config/config.go
Labels: C:CLI, C:x/auth, backport/v0.50.x

#17933 docs: Typo on Application - Specific documentation
  docs/learn/intro/01-why-app-specific.md
Labels: backport/v0.47.x, backport/v0.50.x
