Repository cosmos/cosmos-sdk, pull requests merged in 2023-05, with the labels that each got.

#15985 refactor(auth): decouple auth Keeper API from Msg and Query server implementation
  CHANGELOG.md
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
Labels: C:x/auth

#15923 chore: move precommit & preparecheckstate to core api
  core/appmodule/module.go
  docs/docs/building-modules/01-module-manager.md
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  testutil/sims/simulation_helpers.go
  tools/rosetta/go.mod
  types/module/mock_appmodule_test.go
  types/module/module.go
  types/module/module_test.go
Labels: C:x/staking, C:x/slashing, C:Rosetta, Type: Build

#15890 test(x/staking): write integration tests
  tests/e2e/staking/grpc.go
  tests/e2e/staking/suite.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/delegation_test.go
  tests/integration/staking/keeper/determinstic_test.go
  tests/integration/staking/keeper/genesis_test.go
  tests/integration/staking/keeper/grpc_query_test.go
  tests/integration/staking/keeper/keeper_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/params_test.go
  tests/integration/staking/keeper/slash_test.go
  tests/integration/staking/keeper/unbonding_test.go
  tests/integration/staking/keeper/validator_bench_test.go
  tests/integration/staking/keeper/validator_test.go
  x/staking/client/cli/tx_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/keeper_test.go
Labels: C:x/staking, C:CLI

#15999 feat!: Define Genesis state transition
  CHANGELOG.md
  baseapp/genesis.go
  core/CHANGELOG.md
  core/genesis/txhandler.go
  docs/docs/building-modules/08-genesis.md
  runtime/module.go
  simapp/app.go
  tests/integration/genutil/gentx_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/genutil/genesis.go
  x/genutil/gentx.go
  x/genutil/gentx_test.go
  x/genutil/module.go
Labels: C:x/genutil, C:Rosetta

#16017 fix(x/group): v2 migration
  CHANGELOG.md
  x/group/migrations/v2/migrate.go
  x/group/migrations/v2/migrate_test.go
Labels: C:x/group, backport/v0.47.x

#15850 feat: add header and comet info service
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/info.go
  core/comet/doc.go
  core/comet/service.go
  core/header/doc.go
  core/header/service.go
  docs/architecture/adr-063-core-module-api.md
  runtime/module.go
  runtime/services.go
  simapp/app.go
  simapp/go.mod
  tests/go.mod
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/evidence/keeper/infraction_test.go
  types/context.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/keeper/abci.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/msg_server_test.go
  x/evidence/module.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/evidence.go
  x/evidence/types/evidence_test.go
  x/evidence/types/expected_keepers.go
Labels: C:x/crisis, C:x/evidence, C:Rosetta, Type: ADR

#16010 fix(types): add fallbacks for `CoreAppModuleBasicAdaptor`
  CHANGELOG.md
  errors/CHANGELOG.md
  orm/model/ormdb/module.go
  runtime/module.go
  types/module/core_module.go
  types/module/module.go
Labels: C:orm

#16021 chore(x/tx): Update changelog for x/tx v0.6.2.
  x/tx/CHANGELOG.md
Labels: C:x/tx

#16026 feat!: update to gogoproto 1.4.9
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  codec/types/interface_registry.go
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:orm, C:Confix, C:x/circuit, C:x/tx, C:Hubl

#16023 fix(orm): fix failing tests
  .golangci.yml
  orm/CHANGELOG.md
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/duration_test.go
  orm/encoding/ormkv/key_codec.go
  orm/encoding/ormkv/unique_key.go
  x/group/internal/orm/index_property_test.go
Labels: C:x/group, C:orm, Type: CI

#16015 test(x/evidence): write integration tests
  tests/e2e/evidence/cli_test.go
  tests/integration/evidence/keeper/infraction_test.go
  testutil/integration/router.go
  x/evidence/keeper/grpc_query.go
  x/evidence/keeper/grpc_query_test.go
Labels: C:x/evidence

#15988 refactor(x/gov)!: Use KVStoreService, context.Context, return errors, better iterators
  CHANGELOG.md
  UPGRADING.md
  go.mod
  go.sum
  simapp/app.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/tally_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/genesis_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/constitution.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/invariants.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/migrations.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/params.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v2/store.go
  x/gov/migrations/v2/store_test.go
  x/gov/migrations/v3/store.go
  x/gov/migrations/v3/store_test.go
  x/gov/migrations/v4/store.go
  x/gov/migrations/v4/store_test.go
  x/gov/migrations/v5/store.go
  x/gov/migrations/v5/store_test.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/errors.go
  x/gov/types/expected_keepers.go
  x/gov/types/hooks.go
Labels: C:x/gov, C:Simulations, C:Rosetta

#16044 refactor(x/tx)!: rename aminojson.NewAminoJSON -> aminojson.NewEncoder
  tests/integration/aminojson/aminojson_test.go
  tests/integration/aminojson/repeated_test.go
  x/auth/tx/config.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Labels: C:x/auth, C:x/tx

#16049 ci: bump go in CI
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  simapp/app_v2.go
Labels: Type: CI

#16050 ci: bump go in CI
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  simapp/app_v2.go
Labels: Type: CI

#16041 chore: make max limit a variable
  CHANGELOG.md
  types/query/pagination.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/invariants.go
Labels: C:x/bank

#16040 refactor(math)!: remove aliases in math
  CHANGELOG.md
  tests/e2e/gov/tx.go
  tests/integration/aminojson/aminojson_test.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/unbonding_test.go
  tests/integration/staking/keeper/validator_bench_test.go
  tests/integration/staking/keeper/validator_test.go
  testutil/testnet/genesis.go
  types/dec_coin.go
  types/dec_coin_test.go
  types/denom.go
  types/denom_internal_test.go
  types/math.go
  x/auth/tx/aux_test.go
  x/auth/vesting/types/vesting_account.go
  x/distribution/keeper/delegation.go
  x/gov/keeper/msg_server_test.go
  x/gov/migrations/v3/convert.go
  x/gov/migrations/v4/store_test.go
  x/mint/keeper/keeper_test.go
  x/staking/keeper/msg_server_test.go
  x/staking/migrations/v5/migrations_test.go
Labels: C:x/staking, C:x/gov, C:x/distribution, C:x/mint, C:x/auth

#15963 docs: update ADR 063 and 057 to describe modular runtimes and module semver
  docs/architecture/adr-057-app-wiring.md
  docs/architecture/adr-063-core-module-api.md
Labels: Type: ADR

#16064 refactor(types & client): fix tests
  client/grpc_query_test.go
  testutil/sims/app_helpers.go
  types/module/module_test.go
  types/msgservice/validate_test.go
  x/consensus/exported/exported.go
  x/consensus/keeper/keeper.go
Labels: C:CLI, C:x/consensus

#16048 refactor(x/tx): use dynamicpb instead of type resolver in any marshal
  codec/proto_codec.go
  go.mod
  simapp/go.mod
  tests/go.mod
  tests/integration/aminojson/aminojson_test.go
  tests/integration/aminojson/repeated_test.go
  tools/rosetta/go.mod
  types/simulation/types.go
  x/auth/tx/config.go
  x/evidence/go.mod
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/any.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
  x/tx/signing/aminojson/options.go
Labels: C:x/auth, C:x/evidence, C:Rosetta, C:x/tx

#16065 refactor(core): use working hash in finalizeblock instead of flush
  baseapp/abci.go
  client/grpc_query_test.go
  testutil/sims/app_helpers.go
Labels: C:CLI

#16075 fix: fetch account number/sequence when not in offline mode
  CHANGELOG.md
  client/account_retriever.go
  client/tx/factory.go
  client/tx/factory_test.go
Labels: C:CLI, backport/v0.47.x

#16052 test(x/bank): write integration tests
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/bank/keeper/keeper_test.go
  x/bank/keeper/grpc_query.go
Labels: C:x/bank

#16085 chore(auth/vesting): fix typo in `create-period-vesting-account` cmd example
  x/auth/vesting/client/cli/tx.go
Labels: backport/0.46.x, backport/v0.47.x

#16095 chore: fix typo in staking's genesis proto
  api/cosmos/staking/v1beta1/genesis.pulsar.go
  proto/cosmos/staking/v1beta1/genesis.proto
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/tx.pb.go
  x/gov/types/v1beta1/gov.pb.go
  x/gov/types/v1beta1/tx.pb.go
  x/staking/types/genesis.pb.go
Labels: C:x/staking, C:x/gov

#16074 feat(simulation): Implement store decoder implementation from collections schema
  CHANGELOG.md
  collections/CHANGELOG.md
  collections/codec/codec.go
  collections/codec/codec_test.go
  collections/collections.go
  collections/iter.go
  collections/map.go
  collections/map_test.go
  collections/schema.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  types/simulation/collections.go
  types/simulation/collections_test.go
  types/simulation/rand_util.go
  x/bank/module.go
  x/evidence/go.mod
  x/evidence/go.sum
Labels: C:x/bank, C:x/evidence, C:Rosetta, C:collections, C:Confix, C:Hubl

#16043 fix: call AfterUnbondingInitiated for new unbonding entries only
  CHANGELOG.md
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/types/delegation.go
Labels: C:x/staking

#16101 fix: fix authz granter error message
  x/authz/keeper/msg_server.go
Labels: C:x/authz

#16098 refactor: duplicate message verification at msg server and keeper
  x/gov/keeper/msg_server.go
Labels: C:x/gov

#16107 chore(client): add missing defer close in new snapshot command
  client/snapshot/dump.go
Labels: C:CLI

#16091 fix(staking): fix staking test failures
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:Simulations

#15767 perf: Clear cacheKV RAM if its too large
  CHANGELOG.md
  store/cachekv/store.go
Labels: C:Store

#16097 Fix Infinite Feegrant Bug
  x/feegrant/filtered_fee.go
  x/feegrant/filtered_fee_test.go
Labels: C:x/feegrant

#16106 refactor(gov)!: decouple gRPC query methods from Keeper
  CHANGELOG.md
  tests/integration/gov/keeper/keeper_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper_test.go
  x/gov/module.go
Labels: C:x/gov

#16114 test: update group/gov test for abci 2.0
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations_test.go
  x/distribution/simulation/operations_test.go
  x/gov/abci_test.go
  x/gov/simulation/operations_test.go
  x/group/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/gov, C:x/distribution, C:Simulations, C:x/bank, C:x/authz, C:x/group

#16110 chore(x/auth): deprecate legacy aminojson sign mode
  x/auth/migrations/legacytx/stdsign.go
  x/auth/tx/legacy_amino_json.go
Labels: C:x/auth

#16119 fix(x/evidence): tests and nil guard for empty block info
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/keeper/abci.go
Labels: C:x/evidence

#16104 ci: split longer tests into their own workflow
  .github/workflows/test-long.yml
  .github/workflows/test.yml
Labels: Type: CI

#16118 refactor(gov)!: use collections for constitution and params state
  CHANGELOG.md
  tests/integration/gov/genesis_test.go
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/common_test.go
  x/gov/keeper/constitution.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/params.go
  x/gov/keeper/proposal.go
  x/gov/keeper/tally.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/keys.go
Labels: C:x/gov, C:Simulations

#16128 build(deps): bump core to v0.7.0 and fix GHSA-3vp4-m3rf-835h
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/evidence, C:x/upgrade, C:Rosetta, C:x/nft, C:Confix

#16068 fix: allow non-EOA accounts to stake in simulation
  CHANGELOG.md
  x/staking/simulation/operations.go
Labels: C:x/staking, C:Simulations, backport/v0.47.x

#16138 fix: snapshot commands panic if snapshot don't exists
  CHANGELOG.md
  client/snapshot/dump.go
  store/snapshots/manager.go
Labels: C:CLI, C:Store, backport/0.46.x, backport/v0.47.x

#16142 perf: Remove indentation in REST respones
  CHANGELOG.md
  server/api/server.go
Labels: backport/v0.47.x

#16141 perf: Speedup Dec.Sqrt()
  math/CHANGELOG.md
  math/dec.go
  math/dec_test.go
Labels: T: Performance, backport/v0.47.x

#16116 fix(slashing): slashing test failures
  testutil/sims/tx_helpers.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
Labels: C:x/slashing, C:Simulations

#16145 fix: rename back TxExtensionOptionI
  CHANGELOG.md
  testutil/testdata/codec.go
  types/tx/ext.go
  types/tx/types.go
Labels: backport/v0.47.x

#16127 refactor(gov)!: use collections for deposit state management
  CHANGELOG.md
  collections/CHANGELOG.md
  collections/indexed_map.go
  collections/indexes/multi.go
  collections/indexes/reverse_pair.go
  collections/indexes/unique.go
  collections/iter_test.go
  collections/keyset.go
  collections/map.go
  tools/confix/go.mod
  tools/confix/go.sum
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/gov/genesis.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/invariants.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/gov/migrations/v2/store_test.go
  x/gov/module.go
  x/gov/simulation/decoder.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/operations_test.go
  x/gov/types/errors.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Labels: C:x/gov, C:Simulations, C:x/bank, C:collections, C:Confix

#16155 refactor(simulations): marshal OperationMsg.Msg as protoBytes
  CHANGELOG.md
  simapp/go.mod
  tests/go.mod
  types/simulation/types.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/distribution/simulation/operations_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/nft/simulation/operations.go
  x/simulation/util.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/authz, C:x/group, C:x/nft

#16164 refactor(gov)!: use collections for Vote state management.
  CHANGELOG.md
  x/gov/genesis.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v2/store_test.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Labels: C:x/gov

#16169 chore(rosetta): run `make rosetta-data`
  contrib/rosetta/rosetta-ci/data.tar.gz
  tools/rosetta/converter.go
Labels: C:Rosetta

#16171 refactor(gov)!: use collections for Proposal state management (part 1)
  CHANGELOG.md
  tests/e2e/gov/tx.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/tally_test.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/simulation/operations.go
  x/gov/types/errors.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Labels: C:x/gov, C:Simulations

#16176 fix: duplicate prefix in staking keys
  x/staking/types/keys.go
Labels: C:x/staking

#16180 fix(staking): update the staking sim tests
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:Simulations

#16189 docs: retract adr-47
  docs/architecture/adr-047-extend-upgrade-plan.md
Labels: Type: ADR

#16076 perf: Create Ante/Post handler chain once.
  CHANGELOG.md
  types/handler.go
Labels: backport/v0.47.x

#16008 refactor(x/evidence)!: use KVStoreService and context.Context
  UPGRADING.md
  simapp/app.go
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/CHANGELOG.md
  x/evidence/README.md
  x/evidence/doc.go
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/keeper/abci.go
  x/evidence/keeper/grpc_query.go
  x/evidence/keeper/infraction.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/module.go
  x/evidence/types/keys.go
  x/evidence/types/router.go
  x/evidence/types/router_test.go
Labels: C:x/evidence

#16032 fix: AminoJSON missing fields (Ledger signing not working)
  x/auth/tx/legacy_amino_json_test.go
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
Labels: C:x/auth, C:x/tx

#16198 fix(tests): fix long tests for abci 2.0
  contrib/rosetta/rosetta-ci/data.tar.gz
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/test_helpers.go
  tests/e2e/gov/cli_test.go
  tests/e2e/server/export_test.go
  tests/go.mod
  tests/go.sum
  tests/integration/gov/genesis_test.go
  tests/integration/store/rootmulti/rollback_test.go
  testutil/integration/options.go
  testutil/integration/router.go
  testutil/sims/tx_helpers.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/simulation/operations_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Rosetta, C:x/nft, C:x/circuit

#16209 feat: make StartCmd more customizable
  CHANGELOG.md
  server/start.go
Labels: backport/0.46.x, backport/v0.47.x

#16194 test(x/gov): write integration tests
  tests/integration/gov/keeper/common_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/gov/keeper/tally_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper_test.go
  x/gov/module.go
Labels: C:x/gov

#16232 chore(hubl): remove unecessary replace breaking `go install`
  tools/hubl/go.mod
  tools/hubl/go.sum
Labels: C:Hubl

#16233 ci: revert #16104
  .github/workflows/test-long.yml
  .github/workflows/test.yml
Labels: Type: CI

#16231 fix: rawlog JSON formatting of proposal_vote option field
  CHANGELOG.md
  x/gov/types/v1/vote.go
Labels: C:x/gov

#16216 refactor(x/crisis)!: use KVStoreService and context.Context
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  x/crisis/abci.go
  x/crisis/keeper/genesis.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/migrator.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/keeper/params.go
  x/crisis/keeper/params_test.go
  x/crisis/migrations/v2/migrate.go
  x/crisis/migrations/v2/migrate_test.go
  x/crisis/module.go
Labels: C:x/crisis

#16179 refactor(x/mint)!: use KVStoreService and context.Context
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  testutil/integration/example_test.go
  x/mint/abci.go
  x/mint/keeper/genesis.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/migrator.go
  x/mint/migrations/v2/migrate.go
  x/mint/migrations/v2/migrator_test.go
  x/mint/module.go
  x/mint/types/genesis.go
Labels: C:x/mint

#16211 refactor(distribution)!: use collections for params state
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/params.go
  x/distribution/types/keys.go
Labels: C:x/distribution, C:Simulations, A:automerge

#16245 fix(x/evidence): return error in keeper
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
Labels: C:x/evidence

#16060 feat: save restored snapshot locally
  store/CHANGELOG.md
  store/snapshots/manager.go
  store/snapshots/manager_test.go
  store/snapshots/store.go
Labels: C:Store, backport/0.46.x, backport/v0.47.x

#16259 fix: ensure height is correct on first block
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/test_helpers.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#16269 chore: make params module optional in app wiring
  x/crisis/module.go
  x/distribution/module.go
  x/gov/module.go
  x/mint/module.go
  x/slashing/module.go
  x/staking/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/crisis, backport/v0.47.x

#15567 refactor(bank): migrate bech32 encoding
  CHANGELOG.md
  simapp/simd/cmd/root.go
  tests/e2e/auth/suite.go
  tests/e2e/authz/tx.go
  tests/e2e/bank/suite.go
  tests/e2e/distribution/withdraw_all_suite.go
  tests/e2e/gov/tx.go
  tests/e2e/group/suite.go
  tests/e2e/nft/tx.go
  tests/e2e/staking/suite.go
  tests/e2e/tx/service_test.go
  testutil/cli/cmd.go
  x/auth/client/cli/suite_test.go
  x/authz/client/cli/tx_test.go
  x/bank/client/cli/query.go
  x/bank/client/cli/query_test.go
  x/bank/client/cli/tx.go
  x/bank/client/cli/tx_test.go
  x/bank/exported/exported.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/module.go
  x/bank/simulation/genesis_test.go
  x/bank/simulation/proposals_test.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/balance.go
  x/bank/types/balance_test.go
  x/bank/types/expected_keepers.go
  x/genutil/collect.go
  x/genutil/gentx.go
  x/genutil/types/genesis_state_test.go
  x/group/client/cli/tx_test.go
  x/nft/client/cli/tx_test.go
Labels: C:CLI, C:Simulations, C:x/bank, C:x/auth, C:x/genutil, C:x/authz, C:x/group, C:x/nft

#16281 chore: set correct eden version number
  CHANGELOG.md
  RELEASE_PROCESS.md
  UPGRADING.md
  api/cosmos/bank/v1beta1/query.pulsar.go
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/distribution/v1beta1/tx_grpc.pb.go
  api/cosmos/gov/v1/genesis.pulsar.go
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/tx.pulsar.go
  api/cosmos/gov/v1/tx_grpc.pb.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  api/cosmos/tx/v1beta1/service.pulsar.go
  client/docs/swagger-ui/swagger.yaml
  docs/architecture/adr-050-sign-mode-textual.md
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/gov/v1/genesis.proto
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  proto/cosmos/staking/v1beta1/tx.proto
  proto/cosmos/tx/v1beta1/service.proto
  simapp/go.mod
  simapp/upgrades.go
  tests/go.mod
  tools/confix/migrations.go
  tools/cosmovisor/README.md
  types/tx/service.pb.go
  x/README.md
  x/bank/types/query.pb.go
  x/distribution/types/tx.pb.go
  x/genutil/client/cli/validate_genesis_test.go
  x/gov/migrations/v5/store.go
  x/gov/types/v1/genesis.pb.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/tx.pb.go
  x/staking/types/tx.pb.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/distribution, C:x/bank, C:x/genutil, C:Cosmovisor, Type: ADR, C:Confix

#16282 fix: Fix x/bank Benchmarks
  x/bank/bench_test.go
Labels: C:x/bank

#16286 fix: context and finalizeBlockReq block time (sims)
  x/simulation/mock_cometbft.go
  x/simulation/simulate.go
Labels: C:Simulations

#16288 chore: set circuitbreaker in app.go as example
  baseapp/baseapp.go
  simapp/app.go
  x/circuit/module.go
Labels: C:x/circuit

#15284 refactor!: deprecate sdk.Msg.GetSigners
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/msg_service_router_test.go
  baseapp/options.go
  baseapp/testutil/messages.pb.go
  baseapp/testutil/messages.proto
  baseapp/utils_test.go
  client/tx_config.go
  codec/bench_test.go
  codec/testutil/codec.go
  runtime/module.go
  server/mock/app.go
  server/mock/tx.go
  simapp/app.go
  tests/e2e/auth/suite.go
  tests/e2e/tx/service_test.go
  tests/integration/aminojson/aminojson_test.go
  tests/integration/tx/decode_test.go
  testutil/testdata/testpb/tx.proto
  tools/rosetta/client_offline.go
  tools/rosetta/client_online.go
  tools/rosetta/codec.go
  tools/rosetta/converter.go
  tools/rosetta/converter_test.go
  types/mempool/mempool_test.go
  types/module/testutil/codec.go
  types/result.go
  types/tx/types.go
  types/tx_msg.go
  types/tx_msg_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/sigverify.go
  x/auth/client/cli/suite_test.go
  x/auth/client/cli/validate_sigs.go
  x/auth/client/tx.go
  x/auth/keeper/keeper.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/config/config.go
  x/auth/tx/config_test.go
  x/auth/tx/decoder.go
  x/auth/tx/direct_aux.go
  x/auth/tx/direct_aux_test.go
  x/auth/tx/direct_test.go
  x/auth/tx/encoder.go
  x/auth/tx/testutil/suite.go
  x/authz/keeper/keeper.go
  x/gov/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
Labels: C:CLI, C:x/gov, C:x/auth, C:x/authz, C:Rosetta, C:x/group

#16016 refactor(auth): use collections for Account state management
  CHANGELOG.md
  baseapp/block_gas_test.go
  collections/indexes/reverse_pair_test.go
  tests/integration/gov/genesis_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/keeper/account.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/genesis.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/migrations.go
  x/auth/keeper/msg_server.go
  x/auth/migrations/v2/store_test.go
  x/auth/migrations/v3/store.go
  x/auth/migrations/v3/store_test.go
  x/auth/module.go
  x/auth/simulation/decoder.go
  x/auth/simulation/decoder_test.go
  x/auth/types/account_test.go
  x/auth/types/keys.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:Simulations, C:x/auth, C:collections

#16191 feat(group): add group event tally result
  CHANGELOG.md
  api/cosmos/group/v1/events.pulsar.go
  api/cosmos/group/v1/types.pulsar.go
  proto/cosmos/group/v1/events.proto
  proto/cosmos/group/v1/query.proto
  proto/cosmos/group/v1/types.proto
  x/group/README.md
  x/group/events.pb.go
  x/group/keeper/genesis.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_test.go
  x/group/types.pb.go
Labels: C:x/group, backport/0.46.x, backport/v0.47.x

#16268 refactor(gov)!: finalize collections migration
  CHANGELOG.md
  collections/pair.go
  types/collections.go
  types/collections_test.go
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/genesis.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/vote.go
  x/gov/migrations/v2/store_test.go
  x/gov/migrations/v4/store.go
  x/gov/types/keys.go
  x/gov/types/keys_test.go
Labels: C:x/gov, C:collections

#16302 refactor(distribution)!: make FeePool state use collections
  CHANGELOG.md
  simapp/export.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/alias_functions.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/fee_pool.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/types/keys.go
Labels: C:x/distribution

#16308 chore: implement feedback of automerged prs
  api/cosmos/group/v1/events.pulsar.go
  x/gov/keeper/proposal_test.go
  x/group/events.pb.go
  x/group/keeper/msg_server_test.go
Labels: C:x/gov, C:x/group

#16312 fix: allow any address in `ValidatePromptAddress`
  CHANGELOG.md
  client/prompt_validation.go
  client/prompt_validation_test.go
Labels: C:CLI, backport/0.46.x, backport/v0.47.x

#16311 docs: update streaming docs
  docs/architecture/adr-038-state-listening.md
  store/streaming/abci/README.md
Labels: C:Store, Type: ADR

#16317 feat: support extension options for build tx (backport: #15992)
  CHANGELOG.md
  client/tx/factory.go
  client/tx/tx_test.go
  client/tx_config.go
  types/module/testutil/codec.go
Labels: C:CLI

#16328 refactor(crisis)!: use collections for state management
  CHANGELOG.md
  x/crisis/keeper/genesis.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/keeper/params.go
  x/crisis/keeper/params_test.go
  x/crisis/types/genesis.go
  x/crisis/types/keys.go
Labels: C:x/crisis

#15770 feat(autocli): add map support
  client/v2/autocli/flag/field.go
  client/v2/autocli/flag/map.go
  client/v2/autocli/flag/map_bool_to_value.go
  client/v2/autocli/flag/map_int32_to_value.go
  client/v2/autocli/flag/map_int64_to_value.go
  client/v2/autocli/flag/map_string_to_value.go
  client/v2/autocli/flag/map_types.go
  client/v2/autocli/flag/map_uint32_to_value.go
  client/v2/autocli/flag/map_uint64_to_value.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/internal/testpb/query.proto
  client/v2/internal/testpb/query.pulsar.go
Labels: C:CLI

#16329 refactor(mint)!: migrate state management to collections
  CHANGELOG.md
  testutil/integration/example_test.go
  x/mint/abci.go
  x/mint/keeper/genesis.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/msg_server.go
  x/mint/module.go
  x/mint/simulation/decoder.go
  x/mint/simulation/decoder_test.go
  x/mint/types/keys.go
  x/slashing/simulation/operations_test.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/slashing, C:x/mint, C:Simulations

#16246 refactor(x/slashing)!: use kvStoreService, context.Context and return errors
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/slashing/keeper/keeper_test.go
  x/evidence/keeper/infraction.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
  x/slashing/abci.go
  x/slashing/abci_test.go
  x/slashing/app_test.go
  x/slashing/keeper/genesis.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/hooks_test.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/migrations.go
  x/slashing/keeper/params.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/keeper/unjail.go
  x/slashing/migrations/v2/store.go
  x/slashing/migrations/v2/store_test.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
  x/slashing/types/errors.go
Labels: C:x/slashing, C:Simulations, C:x/evidence

#16331 fix: Revert "fix(x/gov): Return ErrInvalidProposalContent in SubmitProposal when legacy handler returns an error. (backport #13051) (#15667)"
  CHANGELOG.md
  x/gov/keeper/proposal.go
Labels: C:x/gov

#16336 refactor(evidence)!: use collections for state management
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/CHANGELOG.md
  x/evidence/genesis.go
  x/evidence/genesis_test.go
  x/evidence/keeper/grpc_query.go
  x/evidence/keeper/infraction.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/module.go
  x/evidence/simulation/decoder.go
  x/evidence/simulation/decoder_test.go
  x/evidence/types/errors.go
  x/evidence/types/keys.go
Labels: C:Simulations, C:x/evidence

#16343 build: optimize proto-builder
  .github/workflows/proto-registry.yml
  .github/workflows/proto.yml
  Makefile
  baseapp/testutil/buf.lock
  contrib/devtools/Dockerfile
  proto/buf.lock
  proto/cosmos/circuit/v1/query.proto
  proto/cosmos/circuit/v1/tx.proto
  scripts/protocgen-pulsar.sh
  scripts/protocgen.sh
  testutil/testdata/buf.lock
  testutil/testdata/buf.yaml
  x/circuit/keeper/genesis.go
  x/circuit/keeper/msg_server.go
  x/circuit/keeper/query.go
  x/circuit/module.go
  x/circuit/types/codec.go
  x/tx/Makefile
  x/tx/internal/testpb/buf.lock
  x/tx/internal/testpb/buf.yaml
  x/tx/signing/aminojson/internal/Makefile
  x/tx/signing/aminojson/internal/buf.lock
  x/tx/signing/aminojson/internal/buf.yaml
Labels: Type: Build, Type: CI, C:x/circuit, C:x/tx

#16361 chore: remove buf warning
  baseapp/testutil/buf.lock
  baseapp/testutil/buf.yaml
  scripts/protocgen-pulsar.sh
  scripts/protocgen.sh
  testutil/testdata/buf.lock
  x/tx/Makefile
  x/tx/internal/testpb/buf.lock
  x/tx/signing/aminojson/internal/buf.lock
Labels: Type: Build, C:x/tx

#16341 build(deps): update to cosmossdk.io/api v0.4.2
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Rosetta, C:x/nft, C:orm, C:collections, C:Confix, C:x/circuit, C:x/tx, C:Hubl

#16254 feat: x/tx/signing/aminojson: Marshal sort fields
  tests/integration/aminojson/aminojson_test.go
  tests/integration/aminojson/repeated_test.go
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/bench_test.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Labels: C:x/tx
