Repository cosmos/cosmos-sdk, pull requests merged in 2023-03, with the labels that each got.

#15219 chore: clean-up of #15151
  api/cosmos/gov/v1/gov.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  x/gov/abci.go
  x/gov/keeper/tally.go
  x/gov/migrations/v4/store.go
  x/gov/migrations/v5/store.go
  x/gov/types/v1/gov.pb.go
Labels: C:x/gov

#15221 test(server/grpc): avoid using deprecated protoreflect function
  server/grpc/server_test.go
Labels: A:automerge

#15211 refactor: remove bytes/HexBytes
  UPGRADING.md
  api/cosmos/evidence/v1beta1/query.pulsar.go
  client/query.go
  client/rpc/status.go
  proto/cosmos/evidence/v1beta1/query.proto
  types/context.go
  types/context_test.go
  types/result_test.go
  x/bank/keeper/keeper_test.go
  x/evidence/README.md
  x/evidence/exported/evidence.go
  x/evidence/keeper/grpc_query_test.go
  x/evidence/keeper/keeper.go
  x/evidence/types/evidence.go
  x/evidence/types/evidence_test.go
  x/evidence/types/genesis_test.go
  x/evidence/types/query.pb.go
  x/simulation/mock_cometbft.go
Labels: C:CLI, C:Simulations, C:x/bank, C:x/evidence, A:automerge

#15224 chore: use rc3 in release/v0.47.x
  RELEASE_NOTES.md
  simapp/go.mod
  tests/go.mod
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Labels: C:Cosmovisor, C:Rosetta

#15241 docs: add swagger ui in docs
  client/docs/config.json
  client/docs/swagger-ui/swagger.yaml
  docs/build-all.sh
  docs/post.sh
  docs/pre.sh
  docs/sidebars.js
  x/README.md
Labels: C:CLI

#15243 fix: Change proposer address cast for `sdk_block` conversion
  CHANGELOG.md
  client/grpc/cmtservice/util.go
  tests/e2e/client/grpc/cmtservice/service_test.go
Labels: C:CLI, backport/0.46.x, backport/v0.47.x

#15204 feat(x/auth/tx): Allow for Custom SignModeHandlers.
  x/auth/tx/config.go
  x/auth/tx/config/config.go
  x/auth/tx/mode_handler.go
  x/tx/aminojson/internal/testpb/test.proto
Labels: C:x/auth, A:automerge, C:x/tx

#15255 fix: revert double close fix
  snapshots/helpers_test.go
  snapshots/manager_test.go
  snapshots/stream.go
  snapshots/types/format.go
  store/rootmulti/snapshot_test.go
Labels: C:Store

#15257 refactor(log): restore customized nop logger
  log/bench_test.go
  log/logger.go
Labels: C:log

#15261 refactor(log): associate test logger with testing.T instance
  baseapp/abci_test.go
  baseapp/baseapp_test.go
  baseapp/grpcrouter_test.go
  baseapp/msg_service_router_test.go
  baseapp/utils_test.go
  go.mod
  log/CHANGELOG.md
  log/testing.go
  server/mock/app_test.go
  server/mock/helpers.go
  simapp/app_test.go
  simapp/go.mod
  simapp/go.sum
  simapp/sim_test.go
  tests/e2e/server/export_test.go
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/cmd/cosmovisor/version_test.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/types/storeloader_test.go
Labels: C:x/upgrade, C:Cosmovisor, C:log

#15252 feat(autocli): add text|json output for flag output
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/common.go
  client/v2/autocli/common_test.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/help-deprecated-msg.golden
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/help-echo.golden
Labels: C:CLI, A:automerge

#15266 perf(x/bank): 👉🥺👈 (reduce logging verbosity)
  x/bank/keeper/keeper.go
Labels: C:x/bank

#15265 feat(x/bank): update keeper interface to include GetAllDenomMetaData
  CHANGELOG.md
  x/bank/keeper/keeper.go
  x/gov/testutil/expected_keepers_mocks.go
Labels: C:x/gov, C:x/bank, A:automerge

#15268 chore: `make proto-gen` due to dep update
  api/cosmos/app/v1alpha1/query_grpc.pb.go
  api/cosmos/auth/v1beta1/query_grpc.pb.go
  api/cosmos/auth/v1beta1/tx_grpc.pb.go
  api/cosmos/authz/v1beta1/query_grpc.pb.go
  api/cosmos/authz/v1beta1/tx_grpc.pb.go
  api/cosmos/autocli/v1/query_grpc.pb.go
  api/cosmos/bank/v1beta1/query_grpc.pb.go
  api/cosmos/bank/v1beta1/tx_grpc.pb.go
  api/cosmos/base/node/v1beta1/query_grpc.pb.go
  api/cosmos/base/reflection/v1beta1/reflection_grpc.pb.go
  api/cosmos/base/reflection/v2alpha1/reflection_grpc.pb.go
  api/cosmos/base/tendermint/v1beta1/query_grpc.pb.go
  api/cosmos/circuit/v1/tx_grpc.pb.go
  api/cosmos/consensus/v1/query_grpc.pb.go
  api/cosmos/consensus/v1/tx_grpc.pb.go
  api/cosmos/crisis/v1beta1/tx_grpc.pb.go
  api/cosmos/distribution/v1beta1/query_grpc.pb.go
  api/cosmos/distribution/v1beta1/tx_grpc.pb.go
  api/cosmos/evidence/v1beta1/query.pulsar.go
  api/cosmos/evidence/v1beta1/query_grpc.pb.go
  api/cosmos/evidence/v1beta1/tx_grpc.pb.go
  api/cosmos/feegrant/v1beta1/query_grpc.pb.go
  api/cosmos/feegrant/v1beta1/tx_grpc.pb.go
  api/cosmos/gov/v1/query_grpc.pb.go
  api/cosmos/gov/v1/tx_grpc.pb.go
  api/cosmos/gov/v1beta1/query_grpc.pb.go
  api/cosmos/gov/v1beta1/tx_grpc.pb.go
  api/cosmos/group/v1/query_grpc.pb.go
  api/cosmos/group/v1/tx_grpc.pb.go
  api/cosmos/mint/v1beta1/query_grpc.pb.go
  api/cosmos/mint/v1beta1/tx_grpc.pb.go
  api/cosmos/nft/v1beta1/query_grpc.pb.go
  api/cosmos/nft/v1beta1/tx_grpc.pb.go
  api/cosmos/orm/query/v1alpha1/query_grpc.pb.go
  api/cosmos/params/v1beta1/query_grpc.pb.go
  api/cosmos/reflection/v1/reflection_grpc.pb.go
  api/cosmos/slashing/v1beta1/query_grpc.pb.go
  api/cosmos/slashing/v1beta1/tx_grpc.pb.go
  api/cosmos/staking/v1beta1/query_grpc.pb.go
  api/cosmos/staking/v1beta1/tx_grpc.pb.go
  api/cosmos/tx/v1beta1/service_grpc.pb.go
  api/cosmos/upgrade/v1beta1/query_grpc.pb.go
  api/cosmos/upgrade/v1beta1/tx_grpc.pb.go
  api/cosmos/vesting/v1beta1/tx_grpc.pb.go
  api/tendermint/abci/types_grpc.pb.go
  client/v2/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  testutil/testdata/testpb/query_grpc.pb.go
  testutil/testdata/testpb/tx_grpc.pb.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/evidence/types/query.pb.go
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/evidence, C:x/upgrade, C:Cosmovisor

#15205 feat(x/tx): extract signers using cosmos.msg.v1.signer
  x/tx/Makefile
  x/tx/internal/testpb/1.proto
  x/tx/internal/testpb/1.pulsar.go
  x/tx/internal/testpb/buf.gen.yaml
  x/tx/internal/testpb/buf.lock
  x/tx/internal/testpb/buf.yaml
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
  x/tx/signing/get_signers.go
  x/tx/signing/get_signers_test.go
  x/tx/textual/enum_test.go
  x/tx/textual/internal/testpb/Makefile
  x/tx/textual/message_test.go
  x/tx/textual/repeated_test.go
  x/tx/textual/valuerenderer_test.go
Labels: C:x/tx

#13935 fix: snapshot recover from exporter error
  store/rootmulti/store.go
Labels: C:Store, A:automerge

#15271 feat(collections): add NewSchemaBuilderFromAccessor function
  collections/go.mod
  collections/go.sum
  collections/schema.go
Labels: C:collections

#15262 refactor(log): require destination in calls to NewLogger
  client/pruning/main.go
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  log/logger.go
  orm/go.mod
  orm/go.sum
  server/util.go
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  testutil/network/network.go
  testutil/sims/simulation_helpers.go
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/cmd/cosmovisor/main.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/cosmovisor/process_test.go
  tools/cosmovisor/upgrade_test.go
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/cmd/rosetta/main.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  tools/rosetta/lib/server/server.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Store, C:x/evidence, C:x/upgrade, A:automerge, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:orm, C:Confix, C:x/circuit, C:Hubl, C:log

#15251 test: add cmdtest package
  server/export.go
  server/export_test.go
  server/types/app.go
  testutil/cmdtest/system.go
  version/command.go
  version/version_test.go
Labels: A:automerge

#15277 chore: remove unnecessary condition
  store/iavl/store.go
  store/rootmulti/store.go
Labels: C:Store

#11802 docs: add ADR 054 semver compatible SDK modules
  docs/architecture/README.md
  docs/architecture/adr-054-semver-compatible-modules.md
  proto/cosmos/app/v1alpha1/module.proto
Labels: T: ADR, Type: ADR, T:Sprint

#15298 feat: Create ABCI++ Verfication Methods
  baseapp/baseapp.go
  docs/docs/building-apps/02-app-mempool.md
  simapp/app.go
  simapp/app_v2.go
Labels: backport/v0.47.x

#15316 chore: remove requirement on user ips
  CHANGELOG.md
  x/genutil/collect.go
Labels: A:automerge, C:x/genutil, TODO:backport-v0.47.1

#15305 feat: add extend cb to avoid unmarshal appState twice for sim test
  CHANGELOG.md
  testutil/sims/state_helpers.go
  types/simulation/types.go
Labels: A:automerge, TODO:backport-v0.47.1

#15208 refactor(textual): Remove msg header screen
  x/tx/signing/textual/any.go
  x/tx/signing/textual/internal/testdata/any.json
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/internal/testdata/tx.json
Labels: C:x/tx

#15293 refactor(bank): use collections for state management
  codec/collections.go
  codec/collections_test.go
  go.mod
  go.sum
  runtime/store.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  types/query/collections_pagination.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/types/keys.go
  x/bank/types/keys_test.go
Labels: C:x/bank

#15323 test: fix tests for adding MsgCancelUnbondingDelegation to Staking Authorization
  x/staking/types/authz_test.go
Labels: C:x/staking

#15322 refactor: Use anyutil instead of any
  core/appconfig/config.go
  core/go.mod
  core/go.sum
  docs/docs/core/05-encoding.md
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  orm/internal/stablejson/encode_test.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/tx/signing/direct/direct_test.go
  x/tx/signing/textual/any.go
Labels: C:orm, C:x/tx

#15326 refactor: make address codec public
  x/auth/keeper/keeper.go
Labels: C:x/auth, A:automerge

#15320 feat(orm): add sequence getter for auto increment tables
  orm/CHANGELOG.md
  orm/internal/codegen/table.go
  orm/internal/testpb/bank.pb.go
  orm/internal/testpb/bank_query.pb.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.pb.go
  orm/internal/testpb/test_schema_query.pb.go
  orm/model/ormtable/auto_increment.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/build.go
  orm/model/ormtable/table.go
  orm/model/ormtable/testdata/test_auto_inc.golden
Labels: C:orm

#15330 feat(x/auth): add ProvideAddressCodec provider
  x/auth/keeper/bech32_codec.go
  x/auth/keeper/keeper.go
  x/auth/module.go
Labels: C:x/auth

#15336 chore: address review comments on #15164
  CHANGELOG.md
  x/staking/types/authz.go
Labels: C:x/staking

#15340 docs: update replace mention in UPGRADING.md
  CHANGELOG.md
  UPGRADING.md
Labels: backport/v0.47.x

#15344 refactor: remove capability module
  .github/pr_labeler.yml
  CHANGELOG.md
  SECURITY.md
  UPGRADING.md
  api/cosmos/capability/module/v1/module.pulsar.go
  api/cosmos/capability/v1beta1/capability.pulsar.go
  api/cosmos/capability/v1beta1/genesis.pulsar.go
  docs/architecture/adr-059-test-scopes.md
  docs/docs/building-modules/01-module-manager.md
  docs/docusaurus.config.js
  proto/cosmos/capability/module/v1/module.proto
  proto/cosmos/capability/v1beta1/capability.proto
  proto/cosmos/capability/v1beta1/genesis.proto
  simapp/app.go
  simapp/app_config.go
  simapp/app_test.go
  simapp/app_v2.go
  simapp/sim_test.go
  tests/fixtures/adr-024-coin-metadata_genesis.json
  testutil/configurator/configurator.go
  x/README.md
  x/capability/README.md
  x/capability/capability_test.go
  x/capability/genesis.go
  x/capability/genesis_test.go
  x/capability/keeper/keeper.go
  x/capability/keeper/keeper_test.go
  x/capability/module.go
  x/capability/simulation/decoder.go
  x/capability/simulation/decoder_test.go
  x/capability/simulation/genesis.go
  x/capability/simulation/genesis_test.go
  x/capability/testutil/app_config.go
  x/capability/types/capability.pb.go
  x/capability/types/errors.go
  x/capability/types/genesis.go
  x/capability/types/genesis.pb.go
  x/capability/types/genesis_test.go
  x/capability/types/keys.go
  x/capability/types/keys_test.go
  x/capability/types/types.go
  x/capability/types/types_test.go
  x/crisis/module.go
  x/genutil/types/testdata/app_genesis.json
  x/genutil/types/testdata/cmt_genesis.json
  x/upgrade/README.md
Labels: C:Simulations, C:x/crisis, C:x/upgrade, A:automerge, C:x/capability, C:x/genutil, Type: ADR, Type: CI

#15348 attempt to simplify
  client/pruning/main.go
  server/start.go
  server/util.go
Labels: C:CLI

#15345 chore: clarify some part in UPGRADING.md
  CHANGELOG.md
  UPGRADING.md
Labels: backport/v0.47.x

#15356 fix: delete VotingPeriodProposalKey when deleting proposal
  x/gov/keeper/proposal.go
  x/gov/simulation/decoder.go
  x/gov/types/keys.go
Labels: C:x/gov, C:Simulations, backport/v0.47.x

#15362 feat: allow disabling cosmovisor logs
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/cmd/cosmovisor/run.go
  tools/cosmovisor/cmd/cosmovisor/version.go
Labels: C:Cosmovisor

#15361 feat(cosmovisor): add install disclaimer and config command
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/cmd/cosmovisor/config.go
  tools/cosmovisor/cmd/cosmovisor/init.go
  tools/cosmovisor/cmd/cosmovisor/main.go
  tools/cosmovisor/cmd/cosmovisor/root.go
  tools/cosmovisor/cmd/cosmovisor/run.go
  tools/cosmovisor/cmd/cosmovisor/run_test.go
  tools/cosmovisor/cmd/cosmovisor/version.go
  tools/cosmovisor/cmd/cosmovisor/version_test.go
Labels: C:Cosmovisor

#15212 feat: add filtering to logger
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  log/CHANGELOG.md
  log/go.mod
  log/go.sum
  log/level.go
  log/level_test.go
  log/logger.go
  server/util.go
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: S: Blocked, C:CLI, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:Confix, C:x/circuit, C:Hubl, C:log

#15303 fix: remove previous header in Prepare/Process Proposal + provide chain id in baseapp + fix context for verifying txs
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/options.go
  server/rollback.go
  server/util.go
  simapp/sim_test.go
  simapp/test_helpers.go
  tests/e2e/params/suite.go
  testutil/network/network.go
Labels: C:ABCI, A:automerge, backport/v0.47.x

#15378 fix(autocli): Fix subcmd added to root cmd
  client/v2/autocli/msg.go
Labels: C:CLI

#15164 feat: add MsgCancelUnbondingDelegation to Staking Authorization
  CHANGELOG.md
  api/cosmos/staking/v1beta1/authz.pulsar.go
  proto/cosmos/staking/v1beta1/authz.proto
  x/staking/types/authz.go
  x/staking/types/authz.pb.go
  x/staking/types/authz_test.go
Labels: C:x/staking

#15373 fix: add extra check in vesting
  x/auth/posthandler/tips.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
Labels: C:x/auth, A:automerge, backport/0.46.x, backport/v0.47.x

#15368 test: regression test on VotingPeriodProposalKey deletion
  x/gov/keeper/proposal_test.go
Labels: C:x/gov, A:automerge, backport/v0.47.x

#15282 docs(adr): Change Textual SignDoc to struct
  docs/architecture/adr-050-sign-mode-textual.md
  x/tx/signing/textual/encode.go
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/internal/testdata/encode.json
Labels: Type: ADR, C:x/tx

#15353 docs: create autocli documentation
  docs/docs/building-modules/09-autocli.md
  docs/docs/building-modules/10-structure.md
Labels: A:automerge, backport/v0.47.x

#15387 docs: fix ordering
  docs/docs/building-modules/01-intro.md
  docs/docs/building-modules/10-autocli.md
  docs/docs/building-modules/11-structure.md
  docs/docs/building-modules/12-errors.md
  docs/docs/building-modules/13-upgrade.md
  docs/docs/building-modules/14-simulator.md
  docs/docs/building-modules/15-depinject.md
  docs/docs/building-modules/16-testing.md
  docs/docs/core/12-simulation.md
  docs/docs/core/15-upgrade.md
  docs/docs/pkg/_category_.json
  docs/rfc/_category_.json
Labels: backport/v0.47.x

#15400 ci: disable sonarcloud on forks
  .github/workflows/test.yml
Labels: Type: CI

#15339 docs: replace `Tendermint` references in docs with `CometBFT`
  SECURITY.md
  docs/docs/README.md
  docs/docs/basics/00-app-anatomy.md
  docs/docs/basics/01-tx-lifecycle.md
  docs/docs/basics/02-query-lifecycle.md
  docs/docs/basics/03-accounts.md
  docs/docs/basics/04-gas-fees.md
  docs/docs/building-apps/02-app-mempool.md
  docs/docs/building-modules/01-intro.md
  docs/docs/building-modules/05-beginblock-endblock.md
  docs/docs/building-modules/09-module-interfaces.md
  docs/docs/core/00-baseapp.md
  docs/docs/core/01-transactions.md
  docs/docs/core/02-context.md
  docs/docs/core/03-node.md
  docs/docs/core/06-grpc_rest.md
  docs/docs/core/07-cli.md
  docs/docs/core/08-events.md
  docs/docs/intro/00-overview.md
  docs/docs/intro/01-why-app-specific.md
  docs/docs/intro/02-sdk-app-architecture.md
  docs/docs/intro/03-sdk-design.md
  docs/docs/run-node/01-run-node.md
  docs/docs/run-node/02-interact-node.md
  docs/docs/run-node/03-txs.md
  docs/docs/run-node/06-run-production.md
  docs/docusaurus.config.js
  docs/spec/README.md
  docs/spec/_ics/ics-030-signed-messages.md
  docs/spec/addresses/bech32.md
  server/README.md
  store/snapshots/README.md
  tools/confix/README.md
  tools/cosmovisor/README.md
  x/README.md
  x/auth/README.md
  x/consensus/README.md
  x/gov/README.md
  x/slashing/README.md
  x/staking/README.md
Labels: C:x/staking, C:x/gov, C:x/slashing, C:Store, C:x/auth, C:Cosmovisor, C:x/consensus, C:Confix, TODO:backport-v0.47.1

#15328 refactor: Use Custom Priority in Priority Nonce Mempool
  CHANGELOG.md
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
Labels: C: mempool

#15403 feat: Add VoteInfos to context in BeginBlock
  baseapp/abci.go
Labels: C:ABCI

#15299 refactor!: remove some legacy amino stuff needed for #11275
  CHANGELOG.md
  client/tx/legacy.go
  client/tx/legacy_test.go
  codec/amino_codec_test.go
  tests/e2e/auth/suite.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
  x/auth/migrations/legacytx/amino_signing.go
  x/auth/migrations/legacytx/amino_signing_test.go
  x/auth/migrations/legacytx/config_test.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/migrations/legacytx/stdtx_builder.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/signing/handler_map_test.go
  x/auth/signing/verify_test.go
Labels: C:CLI, C:x/auth, A:automerge

#15416 docs: update buf tag
  proto/README.md
Labels: backport/v0.47.x

#15380 feat(x/tx): implement SIGN_MODE_DIRECT_AUX handler
  x/tx/signing/direct_aux/direct_aux.go
  x/tx/signing/direct_aux/direct_aux_test.go
  x/tx/signing/get_signers.go
Labels: C:x/tx

#15436 refactor: remove unnecessary modules methods
  x/auth/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/consensus/module.go
  x/crisis/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/slashing/module.go
  x/upgrade/module.go
Labels: C:x/slashing, C:x/mint, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus

#15438 docs: update cosmwasm link
  docs/docs/ecosystem/README.md
Labels: T: Docs, A:automerge, backport/v0.47.x

#15363 docs: RFC 001 tx validation
  docs/rfc/rfc-001-tx-validation.md
Labels: A:automerge, T: rfc

#15439 chore: remove add pr to project ci job.
  .github/workflows/pr_project.yml
Labels: A:automerge, Type: CI

#14645 feat!: limit the length of key/value
  CHANGELOG.md
  store/types/validity.go
Labels: C:Store

#15446 chore: fix changelog due to previous PR
  CHANGELOG.md
  store/CHANGELOG.md
Labels: C:Store

#15420 refactor: evidence make equivocation private
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/CHANGELOG.md
  x/evidence/keeper/abci.go
  x/evidence/keeper/infraction.go
  x/evidence/module.go
  x/evidence/types/evidence.go
  x/evidence/types/evidence_test.go
Labels: C:x/evidence

#15453 refactor: Rename clientCtx to ctx in distr params.go
  x/distribution/keeper/params.go
Labels: C:x/distribution

#15302 feat(x/tx): Support gogo registry in Textual
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  tests/go.mod
  tests/go.sum
  x/auth/ante/sigverify_test.go
  x/auth/tx/config/config.go
  x/auth/tx/config/textual.go
  x/tx/CHANGELOG.md
  x/tx/signing/std/handler_map.go
  x/tx/signing/textual/any.go
  x/tx/signing/textual/any_test.go
  x/tx/signing/textual/bytes_test.go
  x/tx/signing/textual/coin_test.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/coins_test.go
  x/tx/signing/textual/dec_test.go
  x/tx/signing/textual/duration.go
  x/tx/signing/textual/e2e_test.go
  x/tx/signing/textual/enum_test.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/handler_test.go
  x/tx/signing/textual/int_test.go
  x/tx/signing/textual/message_test.go
  x/tx/signing/textual/repeated_test.go
  x/tx/signing/textual/timestamp.go
  x/tx/signing/textual/tx_test.go
Labels: C:x/auth, C:x/tx

#15447 fix: flaky group genesis sim
  x/group/simulation/genesis.go
Labels: T: Tests, C:Simulations, C:x/group, backport/0.46.x, backport/v0.47.x

#15458 feat(client): Add cobra's context to clientCtx
  CHANGELOG.md
  client/context.go
  client/tx/tx.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  testutil/sims/tx_helpers.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/client/tx.go
Labels: C:CLI, C:x/auth

#15474 docs: improve proto vesting docs about time attributes
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  api/cosmos/vesting/v1beta1/vesting.pulsar.go
  client/v2/internal/testpb/msg.proto
  orm/internal/testpb/bank.proto
  orm/internal/testpb/bank_query.proto
  orm/internal/testpb/test_schema_query.proto
  proto/cosmos/vesting/v1beta1/tx.proto
  proto/cosmos/vesting/v1beta1/vesting.proto
  tests/integration/aminojson/internal/testpb/test.proto
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting.pb.go
  x/tx/internal/testpb/signers.proto
Labels: T: Docs, C:CLI, C:x/auth, A:automerge, C:orm, backport/0.46.x, backport/v0.47.x, C:x/tx

#15477 refactor(bank): update `InputOutputCoins` arguments
  CHANGELOG.md
  tests/integration/bank/keeper/keeper_test.go
  x/bank/README.md
  x/bank/client/cli/tx.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/send.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/gov/testutil/expected_keepers_mocks.go
Labels: C:CLI, C:x/gov, C:x/bank

#15486 docs: update mempool Select godoc
  types/mempool/priority_nonce.go
  types/mempool/sender_nonce.go
Labels: backport/v0.47.x

#15488 test(store): skip `PluginTestSuite`on non linux machine
  store/streaming/streaming_test.go
Labels: C:Store

#15385 docs: add adr/rfc section to contributing
  CONTRIBUTING.md
  docs/architecture/PROCESS.md
  docs/rfc/PROCESS.md
  docs/rfc/rfc-template.md
Labels: Type: ADR

#15487 fix: always reset the state for Prepare and Process Proposal
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
Labels: C:ABCI, backport/v0.47.x

#15499 refactor: use app config configurator for removing boilerplate
  .github/workflows/changelog-reminder.yml
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  tests/go.mod
  testutil/configurator/configurator.go
  testutil/sims/app_helpers.go
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/auth/testutil/app_config.go
  x/authz/testutil/app_config.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/testutil/app_config.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/testutil/app_config.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/testutil/app_config.go
  x/group/testutil/app_config.go
  x/mint/testutil/app_config.go
  x/nft/go.mod
  x/nft/go.sum
  x/nft/testutil/app_config.go
  x/params/testutil/app_config.go
  x/slashing/testutil/app_config.go
  x/staking/testutil/app_config.go
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/slashing, C:x/distribution, C:x/mint, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:Cosmovisor, C:Rosetta, C:x/group, C:x/nft, Type: CI, C:Confix, C:x/circuit, C:Hubl

#15449 feat(autocli): add address validation
  client/v2/autocli/common.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query_test.go
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/hubl/internal/remote.go
Labels: C:CLI, A:automerge, C:Hubl

#15506 fix(math): Dec marshal shouldn't have side effects
  math/CHANGELOG.md
  math/dec.go
  tests/integration/aminojson/aminojson_test.go
Labels: A:automerge

#15521 docs: remove ignite cli
  README.md
  docs/architecture/adr-057-app-wiring.md
Labels: Type: ADR

#15422 fix: Makefile rocksdb
  Makefile
Labels: T: Bug, A:automerge, backport/0.46.x, Type: Build, backport/v0.47.x

#15529 refactor: remove unnecessary depinject usage
  client/keys/add_ledger_test.go
  client/keys/add_test.go
  client/keys/delete_test.go
  client/keys/export_test.go
  client/keys/import_test.go
  client/keys/list_test.go
  client/keys/migrate_test.go
  client/keys/rename_test.go
  client/keys/show_test.go
  client/testutil/util.go
  client/tx/aux_builder_test.go
  client/tx/tx_test.go
  tests/e2e/params/app_config.go
  tests/e2e/params/suite.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/allocation_test.go
  types/module/testutil/codec.go
  x/auth/client/cli/encode_test.go
  x/auth/client/tx_test.go
  x/auth/tx/aux_test.go
  x/auth/types/account_test.go
  x/auth/types/genesis_test.go
  x/authz/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
  x/evidence/simulation/decoder_test.go
  x/feegrant/migrations/v2/store_test.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/operations_test.go
  x/feegrant/testutil/app_config.go
  x/group/proposal_test.go
  x/group/simulation/decoder_test.go
  x/group/simulation/genesis_test.go
  x/params/keeper/common_test.go
  x/params/types/subspace_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/genesis_test.go
Labels: C:CLI, C:x/slashing, C:Keys, C:x/distribution, C:Simulations, C:x/params, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, C:x/group

#15517 refactor!: use KVStoreService in x/consensus
  CHANGELOG.md
  UPGRADING.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/params.go
  baseapp/utils_test.go
  simapp/app.go
  x/consensus/exported/exported.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/module.go
Labels: A:automerge, C:x/consensus

#15451 feat(autocli): add json file parsing support
  client/v2/autocli/flag/message_json.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/some_message.json
Labels: C:CLI

#15496 refactor: Use CoreAPI when possible
  x/auth/vesting/module.go
  x/authz/module/abci.go
  x/authz/module/module.go
  x/consensus/module.go
  x/crisis/module.go
  x/distribution/abci.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/gov/module.go
  x/group/module/abci.go
  x/group/module/module.go
  x/mint/abci.go
  x/mint/module.go
  x/nft/module/module.go
  x/slashing/abci.go
  x/slashing/abci_test.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, A:automerge, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus

#15542 docs: fix a typo
  client/tx/tx.go
Labels: C:CLI

#15545 docs: add note on tombstoning
  x/staking/README.md
Labels: T: Docs, C:x/staking

#15544 docs: add configuration docs
  docs/architecture/adr-061-liquid-staking.md
  docs/docs/core/16-config.md
  x/staking/README.md
Labels: C:x/staking, Type: ADR

#15554 feat: carry `x/gov` proposal execution error message
  CHANGELOG.md
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/types/events.go
Labels: C:x/gov

#15557 feat(x/tx): unknown field filtering
  x/tx/CHANGELOG.md
  x/tx/decode/errors.go
  x/tx/decode/unknown.go
  x/tx/decode/unknown_test.go
  x/tx/go.mod
  x/tx/go.sum
  x/tx/internal/testpb/unknonwnproto.proto
  x/tx/internal/testpb/unknonwnproto.pulsar.go
Labels: C:x/tx

#15553 refactor: migrate consensus to collections
  CHANGELOG.md
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/query_grpc.pb.go
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/params.go
  baseapp/params_legacy.go
  baseapp/utils_test.go
  proto/cosmos/consensus/v1/query.proto
  server/export_test.go
  server/mock/app_test.go
  server/types/app.go
  simapp/app.go
  simapp/upgrades.go
  types/context.go
  types/context_test.go
  x/consensus/keeper/grpc_query.go
  x/consensus/keeper/grpc_query_test.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/keeper/msg_server.go
  x/consensus/keeper/msg_server_test.go
  x/consensus/module.go
  x/consensus/types/keys.go
  x/consensus/types/query.pb.go
  x/consensus/types/query.pb.gw.go
  x/evidence/keeper/infraction.go
  x/genutil/types/genesis.go
  x/staking/keeper/msg_server.go
  x/upgrade/abci.go
Labels: C:x/staking, C:x/evidence, C:x/upgrade, C:x/genutil, C:x/consensus

#15581 fix(x/tx)!: unexpected cast of interface to concrete type in GetSignersContext
  x/tx/CHANGELOG.md
  x/tx/signing/direct_aux/direct_aux.go
  x/tx/signing/get_signers.go
Labels: C:x/tx

#14657 docs: ADR-064 ABCI++ (2.0)
  docs/architecture/adr-064-abci-2.0.md
Labels: T: Docs, C:ABCI, T: ADR, Type: ADR

#15590 fix: use a script to lint each module
  .github/workflows/lint.yml
  Makefile
  scripts/go-lint-all.sh
Labels: A:automerge, Type: Build, Type: CI

#15588 refactor!: use store service in x/nft
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  x/nft/keeper/class.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/keeper.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/nft.go
  x/nft/keeper/nft_batch.go
  x/nft/module/module.go
Labels: C:x/nft

#15605 style: gofumpt linting
  client/v2/autocli/common_test.go
  client/v2/autocli/query_test.go
  collections/indexes/multi_pair.go
  collections/iter.go
  collections/iter_test.go
  collections/pair.go
  crypto/keys/secp256k1/secp256k1_cgo.go
  depinject/binding_test.go
  depinject/config.go
  depinject/internal/codegen/type.go
  depinject/location.go
  math/dec.go
  math/int.go
  math/uint.go
  orm/internal/codegen/query.go
  orm/internal/testkv/debug.go
  orm/model/ormtable/unique.go
  simapp/export.go
  simapp/simd/cmd/testnet.go
  store/cachekv/bench_helper_test.go
  store/cachekv/internal/memiterator.go
  store/cachekv/store.go
  store/gaskv/store.go
  store/iavl/store_test.go
  store/listenkv/store.go
  store/prefix/store.go
  store/prefix/store_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/snapshots/manager.go
  store/snapshots/store.go
  store/streaming/streaming.go
  store/tracekv/store.go
  store/types/listening.go
  tests/e2e/staking/test_helpers.go
  tests/integration/staking/keeper/unbonding_test.go
  testutil/testdata/grpc_query.go
  tools/cosmovisor/args_test.go
  tools/hubl/internal/load.go
  tools/hubl/internal/remote.go
  tools/rosetta/converter.go
  x/circuit/keeper/msg_authorize_test.go
  x/circuit/keeper/msg_reset_test.go
  x/circuit/keeper/msg_trip_test.go
  x/evidence/keeper/grpc_query.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/keeper.go
  x/feegrant/key.go
  x/feegrant/migrations/v2/keys.go
  x/feegrant/msgs.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/nft.go
  x/tx/decode/errors.go
  x/tx/decode/unknown.go
  x/tx/decode/unknown_test.go
  x/tx/signing/textual/internal/cbor/cbor.go
Labels: C:CLI, C:Store, C:x/evidence, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:orm, C:collections, C:x/circuit, C:x/tx, C:Hubl

#15607 style: second round of linting
  tools/hubl/internal/compat.go
  tools/hubl/internal/config.go
  tools/hubl/internal/load.go
  tools/hubl/internal/remote.go
  x/nft/keeper/nft.go
Labels: C:CLI, C:Store, C:x/evidence, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:orm, C:collections, C:x/circuit, C:x/tx, C:Hubl

#15616 style: more linting
  .golangci.yml
  baseapp/block_gas_test.go
  client/context_test.go
  client/tx/tx.go
  codec/unknownproto/unknown_fields_test.go
  core/coins/format_test.go
  crypto/keys/secp256r1/privkey_internal_test.go
  crypto/keys/secp256r1/pubkey_internal_test.go
  server/api/server.go
  simapp/app_v2.go
  simapp/simd/cmd/root.go
  simapp/upgrades.go
  tests/e2e/gov/tx.go
  tests/e2e/tx/service_test.go
  tests/integration/aminojson/aminojson_test.go
  tests/integration/bank/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/determinstic_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/unbonding_test.go
  tests/integration/staking/keeper/validator_bench_test.go
  tools/confix/cmd/diff.go
  tools/confix/cmd/migrate.go
  tools/confix/diff.go
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/buffer_test.go
  tools/cosmovisor/cmd/cosmovisor/help_test.go
  tools/cosmovisor/process.go
  tools/cosmovisor/process_test.go
  tools/rosetta/converter.go
  tools/rosetta/lib/errors/errors_test.go
  types/collections.go
  types/errors/errors.go
  x/auth/ante/ante_test.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper_test.go
  x/group/internal/orm/primary_key_property_test.go
  x/params/proposal_handler_test.go
  x/slashing/keeper/genesis_test.go
  x/slashing/types/expected_keepers.go
  x/staking/types/expected_keepers.go
  x/staking/types/params_legacy.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:Store, C:x/params, C:x/auth, C:x/evidence, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/group, C:x/nft, C:orm, Type: CI, C:collections, C:Confix, C:x/circuit, C:x/tx, C:Hubl

#15627 revert(consensus): revert proto breaking change
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/query_grpc.pb.go
  api/cosmos/crypto/ed25519/keys.pulsar.go
  proto/cosmos/consensus/v1/query.proto
  simapp/app.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/module.go
  x/consensus/types/query.pb.go
  x/consensus/types/query.pb.gw.go
Labels: C:x/consensus

#15631 style: make lint-fix everything
  .golangci.yml
  baseapp/baseapp.go
  client/v2/autocli/app.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/testdata/help-toplevel-msg.golden
  collections/colltest/codec.go
  collections/indexed_map.go
  collections/indexes_generic_multi.go
  collections/sequence.go
  crypto/codec/proto.go
  errors/abci_test.go
  log/level.go
  math/dec_internal_test.go
  simapp/export.go
  store/rootmulti/store.go
  store/types/gas.go
  store/types/proof.go
  tests/e2e/upgrade/suite.go
  tests/integration/aminojson/aminojson_test.go
  tests/integration/staking/keeper/slash_test.go
  tools/rosetta/lib/errors/errors.go
  x/params/keeper/keeper_test.go
  x/tx/decode/unknown_test.go
  x/tx/signing/textual/int.go
  x/upgrade/doc.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/msg_server_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:Store, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:Rosetta, Type: Build, Type: CI, C:collections, C:x/tx, C:log

#15552 refactor(collections): Indexes perf improvements and simplification
  collections/indexed_map.go
  collections/indexed_map_test.go
  collections/indexes/helpers_test.go
  collections/indexes/multi.go
  collections/indexes/multi_pair.go
  collections/indexes/multi_test.go
  collections/indexes/reverse_pair.go
  collections/indexes/reverse_pair_test.go
  collections/indexes/unique.go
  collections/indexes/unique_test.go
  collections/indexes_generic_multi.go
  collections/indexes_generic_multi_test.go
  collections/indexes_generic_unique.go
  collections/indexes_generic_unique_test.go
Labels: C:collections

#15434 feat(autocli): Add coin support
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/coin.go
  client/v2/autocli/flag/field.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/help-deprecated-msg.golden
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/go.mod
  client/v2/go.sum
  core/coins/format.go
  core/coins/format_test.go
Labels: C:CLI

#15637 Style: lints for tools
  tools/confix/cmd/mutate_test.go
  tools/rosetta/lib/server/server.go
Labels: A:automerge, C:Rosetta, C:Confix

#15640 style: errors, collections
  collections/codec/bool.go
  collections/indexed_map.go
  collections/indexes/reverse_pair.go
Labels: A:automerge, C:collections

#15650 ci: disable gosec g101 in actions
  .github/workflows/gosec.yml
Labels: Type: CI

#15644 style: apply any / all automated lint fixes
  client/v2/autocli/flag/coin.go
  client/v2/autocli/flag/field.go
  crypto/keys/bcrypt/bcrypt.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  internal/conv/string_test.go
  testutil/sims/simulation_helpers_test.go
  tools/rosetta/lib/server/server.go
  x/auth/keeper/keeper.go
  x/auth/simulation/proposals.go
  x/auth/types/account.go
  x/auth/types/credentials.go
  x/auth/vesting/types/msgs.go
  x/authz/msgs.go
  x/authz/simulation/operations.go
  x/bank/migrations/v3/store_test.go
  x/bank/simulation/operations.go
  x/bank/simulation/proposals.go
  x/bank/types/msgs.go
  x/bank/types/querier.go
  x/crisis/types/msgs.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/proposals.go
  x/distribution/types/genesis.go
  x/distribution/types/query.go
  x/evidence/types/msgs.go
  x/feegrant/grant.go
  x/feegrant/msgs.go
  x/gov/simulation/operations.go
  x/gov/types/v1/deposit.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/deposit.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/vote.go
  x/group/simulation/operations.go
  x/mint/simulation/proposals.go
  x/nft/internal/conv/string_test.go
  x/slashing/simulation/proposals.go
  x/slashing/types/msg.go
  x/slashing/types/signing_info.go
  x/staking/keeper/delegation.go
  x/staking/simulation/operations.go
  x/staking/simulation/proposals.go
  x/staking/types/delegation.go
  x/staking/types/msg.go
  x/staking/types/validator.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, C:Rosetta, C:x/group, C:x/nft

#15556 feat: integration test helpers
  docs/architecture/adr-059-test-scopes.md
  docs/docs/building-modules/11-structure.md
  docs/docs/building-modules/16-testing.md
  tests/integration/slashing/keeper/keeper_test.go
  testutil/integration/doc.go
  testutil/integration/example_test.go
  testutil/integration/router.go
  x/staking/keeper/keeper.go
Labels: C:x/staking, Type: ADR

#15653 refactor: remove aliases from types/math.go in auth/authz module
  x/auth/client/cli/suite_test.go
  x/auth/migrations/v2/store_test.go
  x/auth/tx/builder_test.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx_test.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/msg_server_test.go
  x/authz/msgs_test.go
  x/authz/simulation/genesis.go
Labels: C:CLI, C:Simulations, C:x/auth, A:automerge, C:x/authz
