Repository cosmos/cosmos-sdk, pull requests merged in 2023-12, with the labels that each got.

#18605 chore: fix typos in adr-028-public-key-addresses.md
  docs/architecture/adr-028-public-key-addresses.md
Labels: Type: ADR

#18611 refactor(x/tx/decode): bulletproof against protowire.ConsumeTag potential varint overflows
  x/tx/decode/adr027.go
Labels: C:x/tx

#18613 docs: fix typos in UPGRADING.md
  UPGRADING.md
Labels: backport/v0.50.x

#18617 build(deps): update grpc, net dependencies per vulnerability advisories
  api/go.mod
  api/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  depinject/go.sum
  errors/go.mod
  errors/go.sum
  log/go.mod
  log/go.sum
  orm/go.mod
  orm/go.sum
  store/go.mod
  store/go.sum
  x/tx/go.mod
  x/tx/go.sum
Labels: C:Store, C:orm, C:collections, C:x/tx, C:log

#18622 fix(client/tx): avoid integer uint64->int64 overflow by big.Int conversion
  CHANGELOG.md
  client/tx/factory.go
Labels: C:CLI

#18026 feat: secp256k1 public key constant time
  CHANGELOG.md
  client/keys/add.go
  client/v2/go.mod
  client/v2/go.sum
  crypto/hd/algo.go
  crypto/keys/secp256k1/bench_test.go
  crypto/keys/secp256k1/internal/secp256k1/scalar_mult_cgo.go
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  crypto/keys/secp256k1/keys.pb.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_cgo_test.go
  crypto/keys/secp256k1/secp256k1_internal_test.go
  crypto/keys/secp256k1/secp256k1_nocgo_test.go
  crypto/keys/secp256k1/secp256k1_test.go
  crypto/ledger/ledger_secp256k1.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/auth/ante/sigverify_test.go
  x/auth/go.mod
  x/auth/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:Keys, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/circuit, C:x/protocolpool

#18553 adr: Un-Ordered Transaction Inclusion
  docs/architecture/adr-069-unordered-account.md
Labels: Type: ADR

#18642 chore: typos fix
  UPGRADING.md
Labels: backport/v0.50.x

#18458 feat(store/v2): snapshot manager
  store/changeset.go
  store/commitment/iavl/exporter.go
  store/commitment/iavl/importer.go
  store/commitment/iavl/tree.go
  store/commitment/iavl/tree_test.go
  store/commitment/store.go
  store/commitment/store_test_suite.go
  store/commitment/tree.go
  store/kv/branch/store_test.go
  store/pruning/manager_test.go
  store/root/store_test.go
  store/snapshots/chunk.go
  store/snapshots/helpers_test.go
  store/snapshots/manager.go
  store/snapshots/manager_test.go
  store/snapshots/options.go
  store/snapshots/snapshotter.go
  store/storage/database.go
  store/storage/pebbledb/db.go
  store/storage/pebbledb/db_test.go
  store/storage/rocksdb/db.go
  store/storage/rocksdb/db_test.go
  store/storage/sqlite/db.go
  store/storage/sqlite/db_test.go
  store/storage/storage_bench_test.go
  store/storage/store.go
Labels: C:Store

#18654 fix(baseapp): protocompat.go gogoproto.Merge does not work with custom types
  CHANGELOG.md
  baseapp/internal/protocompat/protocompat.go
Labels: backport/v0.50.x

#18646 feat(telemetry): enable `statsd` and `dogstatsd` telemetry sinks
  CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  server/config/toml.go
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  telemetry/metrics.go
  telemetry/metrics_test.go
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  tools/confix/data/v0.50-app.toml
  tools/confix/data/v0.51-app.toml
  x/accounts/go.mod
  x/accounts/go.sum
  x/auth/go.mod
  x/auth/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: backport/v0.50.x

#18175 refactor(bank): remove .String() calls
  tests/e2e/auth/suite.go
  tests/e2e/bank/suite.go
  tests/integration/auth/client/cli/suite_test.go
  tests/integration/bank/app_test.go
  tests/starship/tests/transfer_test.go
  x/authz/simulation/operations.go
  x/bank/client/cli/tx_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/types/events.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/querier.go
  x/bank/types/send_authorization_test.go
  x/genutil/gentx_test.go
  x/gov/abci_test.go
  x/gov/keeper/common_test.go
  x/gov/types/v1/msgs_test.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/bank, C:x/genutil, C:x/authz

#18532 feat(gov): add proposal types and spam votes
  CHANGELOG.md
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/tx.pulsar.go
  proto/buf.yaml
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  tests/integration/bank/app_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/tally_test.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
  x/gov/client/utils/utils.go
  x/gov/client/utils/utils_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/export_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/migrations.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v3/convert_test.go
  x/gov/migrations/v6/store.go
  x/gov/migrations/v6/store_test.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1/proposal.go
  x/gov/types/v1/proposals_test.go
  x/gov/types/v1/tally.go
  x/gov/types/v1/tx.pb.go
  x/gov/types/v1/vote.go
Labels: C:CLI, C:x/gov, C:Simulations

#18707 feat(x/gov): better gov genesis validation
  CHANGELOG.md
  x/gov/go.mod
  x/gov/types/v1/genesis.go
  x/gov/types/v1/genesis_test.go
Labels: backport/v0.47.x, backport/v0.50.x

#18709 docs: add ante precision
  docs/learn/beginner/01-tx-lifecycle.md
  x/circuit/README.md
Labels: backport/v0.47.x, backport/v0.50.x

#18692 feat(x/auth): batch transactions file format & broadcast multi transactions
  x/auth/CHANGELOG.md
  x/auth/client/cli/broadcast.go
  x/auth/client/tx.go
  x/auth/client/tx_test.go
Labels: C:CLI, C:x/auth

#18746 fix(x/auth): duplicate vesting subcommands of `<appd> tx --help`
  x/auth/module.go
Labels: C:x/auth

#18749 style(x/auth): improve code readability and update exported function comment
  x/auth/client/tx.go
Labels: C:CLI, C:x/auth

#18743 refactor(client/keys): hide inputting when `keys add -i` ask for bip39 passphrase
  CHANGELOG.md
  client/input/input.go
  client/keys/add.go
  client/keys/add_test.go
Labels: C:CLI, C:Keys

#18745 feat(client/keys): add --yes option to `keys export` and `keys mnemonic`
  CHANGELOG.md
  client/keys/export.go
  client/keys/export_test.go
  client/keys/mnemonic.go
  client/keys/mnemonic_test.go
Labels: C:CLI, C:Keys

#18737 feat(x/authz): add limits to grant pruning and enable message to aid manually
  api/cosmos/authz/v1beta1/event.pulsar.go
  api/cosmos/authz/v1beta1/tx.pulsar.go
  api/cosmos/authz/v1beta1/tx_grpc.pb.go
  proto/cosmos/authz/v1beta1/event.proto
  proto/cosmos/authz/v1beta1/tx.proto
  x/authz/CHANGELOG.md
  x/authz/README.md
  x/authz/event.pb.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/module/abci.go
  x/authz/module/autocli.go
  x/authz/tx.pb.go
Labels: C:x/authz

#18770 ci: silence bogus resleak error
  x/genutil/client/cli/export.go
Labels: C:CLI, C:x/genutil

#18767 imp(feegrant): ensure we only execute revokeAllowance if there is no error is the grant is to be removed
  x/feegrant/CHANGELOG.md
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
Labels: C:x/feegrant

#18772 fix(x/auth): remove misleading gas wanted value from tx simulation failure response
  CHANGELOG.md
  x/auth/tx/service.go
Labels: C:x/auth, backport/v0.47.x, backport/v0.50.x

#18777 docs: add index page for learn section
  docs/learn/advanced/_category_.json
  docs/learn/beginner/_category_.json
  docs/learn/intro/_category_.json
  docs/learn/learn.md
Labels: backport/v0.47.x, backport/v0.50.x

#18740 fix(x/tx): recursively traverse nested messages in GetSigners
  x/tx/CHANGELOG.md
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
  x/tx/signing/context.go
  x/tx/signing/context_test.go
Labels: C:x/tx

#18780 refactor(auth): Move sig verification out of the for loop, into the authenticate method.
  x/auth/CHANGELOG.md
  x/auth/ante/sigverify.go
Labels: C:x/auth

#18816 docs: fix for links
  docs/learn/learn.md
Labels: backport/v0.47.x, backport/v0.50.x

#18817 refactor(auth): group sig verification ante handlers (SigGasConsume, SigVerify, IncreaseSequence)
  UPGRADING.md
  baseapp/block_gas_test.go
  simapp/ante.go
  x/auth/CHANGELOG.md
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Labels: C:x/auth

#18620 feat(x/gov): optimistic proposals
  api/cosmos/gov/v1/gov.pulsar.go
  docs/architecture/adr-069-gov-improvements.md
  proto/cosmos/gov/v1/gov.proto
  tests/integration/gov/keeper/grpc_query_test.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/abci.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/migrations.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/migrations/v6/store.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/types/events.go
  x/gov/types/v1/genesis.go
  x/gov/types/v1/genesis_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
Labels: C:x/gov, C:Simulations, Type: ADR

#18690 feat: introduce app manager
  server/v2/appmanager/circuit.go
  server/v2/appmanager/internal/protocompat/protocompat.go
  server/v2/appmanager/service.go
  server/v2/appmanager/stf.go
  server/v2/appmanager/stf_builder.go
  server/v2/appmanager/stf_router.go
  server/v2/appmanager/store_types.go
  server/v2/appmanager/types.go
  server/v2/core/README.md
  server/v2/core/appmanager/app.go
  server/v2/core/appmanager/module.go
  server/v2/core/event/event.go
  server/v2/core/transaction/codec.go
  server/v2/core/transaction/validation.go
  server/v2/mempool/config.go
  server/v2/mempool/mempool.go
  server/v2/mempool/noop.go
  server/v2/transaction/codec.go
  server/v2/transaction/errors.go
  server/v2/transaction/valdiation.go
  tests/e2e/accounts/account_abstraction_test.go
  x/auth/tx/builder.go
  x/tx/decode/decode.go
Labels: C:x/auth, C:x/group, C:x/tx

#18852 feat(client): add `WithFromName` to tx factory
  CHANGELOG.md
  client/tx/factory.go
Labels: C:CLI, backport/v0.47.x, backport/v0.50.x

#18848 refactor(core): remove cosmos-db dependency
  core/go.mod
  core/go.sum
  core/store/store.go
  orm/internal/testkv/compare.go
  orm/internal/testkv/db.go
  orm/internal/testkv/debug.go
  orm/internal/testkv/leveldb.go
  orm/internal/testkv/mem.go
  orm/model/ormdb/module_test.go
  orm/model/ormtable/backend.go
  orm/model/ormtable/batch.go
  orm/model/ormtable/bench_test.go
  orm/model/ormtable/iterator.go
  orm/model/ormtable/table_test.go
  orm/types/kv/store.go
  tests/e2e/accounts/account_abstraction_test.go
Labels: C:orm

#18857 chore: move FormatCoins to x/tx
  client/v2/autocli/flag/coin.go
  core/CHANGELOG.md
  core/coins/format.go
  core/coins/format_test.go
  x/tx/CHANGELOG.md
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/coins_test.go
Labels: C:CLI, C:x/tx

#18861 refactor(core)!: move ParseCoins to client/v2/internal
  client/v2/autocli/flag/coin.go
  client/v2/internal/coins/format.go
  client/v2/internal/coins/format_test.go
  core/CHANGELOG.md
  core/go.mod
  core/go.sum
  x/tx/signing/textual/coins_test.go
Labels: C:CLI, C:x/tx

#18846 fix(baseapp): introduce mutex to state
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/state.go
Labels: C:baseapp, backport/v0.50.x

#18864 chore: remove accidental println
  x/bank/keeper/msg_server.go
Labels: C:x/bank

#18236 feat: include rotate keys logic in abci
  tests/integration/staking/keeper/unbonding_test.go
  x/distribution/keeper/hooks.go
  x/evidence/keeper/infraction.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/slashing/types/errors.go
  x/slashing/types/expected_keepers.go
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/cons_pubkey_test.go
  x/staking/keeper/hooks_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/codec.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
  x/staking/types/keys.go
  x/staking/types/msg.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:x/evidence

#18871 chore(nft): fix incorrect prefix of comment
  x/nft/keeper/nft.go
Labels: C:x/nft

#18875 perf: Speedup coins.Sort() when coins is of length 1
  CHANGELOG.md
  types/coin.go
Labels: backport/v0.47.x, backport/v0.50.x

#18888 perf: Speedup DecCoin.Sort() when coins is of length 1
  CHANGELOG.md
  types/dec_coin.go
Labels: backport/v0.47.x, backport/v0.50.x

#18876 test(client): wrap cmd.SetArgs to fix bugs for cmd.SetArgs
  client/keys/show_test.go
  internal/testutil/cmd.go
  internal/testutil/cmd_test.go
Labels: C:CLI, C:Keys

#18895 fix: Dedup Vote Extensions in `ValidateVoteExtensions`
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
Labels: backport/v0.50.x

#18897 fix(store/v1): Do not panic on prune in `Commit`
  store/rootmulti/store.go
Labels: backport/v0.50.x

#18858 docs: add version compatibility matrix
  README.md
Labels: T:Docs

#18873 feat(server/v2): add preparehandler code
  go.work.example
  server/v2/appmanager/service.go
  server/v2/core/appmanager/app.go
  server/v2/mempool/mempool.go
  server/v2/mempool/noop.go
  server/v2/stf/go.mod
  server/v2/stf/go.sum
  x/group/testutil/expected_keepers_mocks.go
Labels: C:x/group

#18856 feat(x/gov): add max cancel voting period param
  api/cosmos/gov/v1/gov.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/migrations/v6/store.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/types/errors.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
  x/tx/internal/testpb/signers.proto
Labels: C:x/gov, C:Simulations, C:x/tx

#18916 feat(log): add hook option to log
  log/CHANGELOG.md
  log/logger.go
  log/logger_test.go
  log/options.go
Labels: C:log

#18918 refactor(x/gov): reduce "if block" indentation
  errors/CHANGELOG.md
  errors/errors.go
  errors/errors_test.go
  x/gov/abci.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/proposal.go
Labels: C:x/gov

#18898 feat(log): add `warn` log level
  log/CHANGELOG.md
  log/logger.go
Labels: C:log
