Repository cosmos/cosmos-sdk, pull requests merged in 2023-10, with the labels that each got.

#17932 refactor(abci): Pass context to `TxSelector`
  baseapp/abci_utils.go
Labels: backport/v0.50.x

#17940 feat(abci): Add context to SelectedTxs
  baseapp/abci_utils.go
Labels: backport/v0.50.x

#17948 chore: fixing typos and grammar for vote extension docs
  docs/build/building-apps/04-vote-extensions.md
Labels: backport/v0.50.x

#17946 fix(x/auth): properly populate tx config options and deprecate `ProtoCodecMarshaler`
  baseapp/block_gas_test.go
  baseapp/msg_service_router_test.go
  client/tx/factory.go
  client/tx/tx.go
  codec/proto_codec.go
  runtime/module.go
  x/auth/tx/config.go
  x/auth/tx/config/config.go
  x/auth/tx/decoder.go
  x/auth/tx/encoder.go
Labels: C:CLI, C:x/auth, backport/v0.50.x

#17913 feat(client/v2): signing
  CHANGELOG.md
  client/flags/flags.go
  client/tx/factory.go
  client/tx/tx.go
  client/v2/Makefile
  client/v2/README.md
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/common.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/messager_binder.go
  client/v2/autocli/flags.go
  client/v2/autocli/keyring/interface.go
  client/v2/autocli/keyring/no_keyring.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/autocli/testdata/help-deprecated-msg.golden
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/help-toplevel-msg.golden
  client/v2/autocli/testdata/msg-output.golden
  client/v2/go.mod
  client/v2/go.sum
  client/v2/internal/flags/flags.go
  codec/bench_test.go
  codec/types/any.go
  codec/types/interface_registry.go
  codec/types/util.go
  crypto/keyring/autocli.go
  crypto/keyring/keyring.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
  types/tx_msg.go
  x/auth/signing/sig_verifiable_tx.go
  x/bank/types/msgs.go
Labels: C:CLI, C:x/bank, C:x/auth, backport/v0.50.x

#17825 feat(x/nft): add autocli options for tx
  x/nft/CHANGELOG.md
  x/nft/client/cli/tx.go
  x/nft/client/cli/tx_test.go
  x/nft/go.mod
  x/nft/module/autocli.go
  x/nft/module/module.go
Labels: C:CLI, C:x/nft, backport/v0.50.x

#17868 feat(x/bank): autocli tx support
  CHANGELOG.md
  tests/e2e/auth/suite.go
  tests/e2e/authz/tx.go
  tests/e2e/bank/suite.go
  tests/e2e/distribution/withdraw_all_suite.go
  tests/e2e/group/suite.go
  tests/e2e/staking/suite.go
  tests/e2e/tx/benchmarks_test.go
  tests/e2e/tx/service_test.go
  tests/integration/auth/client/cli/suite_test.go
  testutil/cli/cmd.go
  x/authz/client/cli/tx_test.go
  x/bank/autocli.go
  x/bank/client/cli/tx.go
  x/bank/client/cli/tx_test.go
  x/group/client/cli/tx_test.go
Labels: C:CLI, C:x/bank, C:x/authz, C:x/group

#17957 docs: VerifyVoteExtension has to be deterministic
  docs/learn/advanced/00-baseapp.md
Labels: backport/v0.50.x

#17925 feat(store): complete branch KVStore
  store/branch/store.go
  store/branchkv/iterator.go
  store/branchkv/store.go
  store/branchkv/store_test.go
  store/change_set.go
  store/commitment/db.go
  store/commitment/db_test.go
  store/commitment/iavl/tree.go
  store/root/store.go
  store/store.go
  store/tree.go
  store/validation.go
Labels: C:Store

#17981 chore: Add back CommunityPoolSpendProposalWithDeposit
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  proto/cosmos/distribution/v1beta1/distribution.proto
  x/distribution/types/distribution.pb.go
Labels: C:x/distribution

#17965 feat(x/crisis): add autocli options for tx
  x/crisis/autocli.go
  x/crisis/client/cli/tx.go
  x/crisis/client/cli/tx_test.go
  x/crisis/module.go
Labels: C:CLI, C:x/crisis, backport/v0.50.x

#17953 fix(x/gov): set default constitution in gov migration
  collections/item.go
  types/module/module.go
  x/gov/keeper/migrations.go
  x/gov/migrations/v5/store.go
  x/gov/migrations/v5/store_test.go
Labels: C:x/gov, C:collections, backport/v0.50.x

#17956 feat(x/circuit): add autocli options for tx
  x/circuit/autocli.go
  x/circuit/client/cli/tx.go
  x/circuit/go.mod
  x/circuit/keeper/msg_server.go
  x/circuit/module.go
Labels: C:CLI, C:x/circuit, backport/v0.50.x

#17985 chore!: remove deprecated code
  CHANGELOG.md
  Makefile
  simapp/params/amino.go
  simapp/params/proto.go
  x/auth/migrations/legacytx/stdtx_builder.go
Labels: C:x/auth, Type: Build

#17984 chore(circuit): remove comet dep
  x/circuit/ante/circuit_test.go
  x/circuit/go.mod
Labels: C:x/circuit

#17995 chore(store/v2): API tweaks and cleanup
  store/batch.go
  store/branchkv/store.go
  store/branchkv/store_test.go
  store/changeset.go
  store/database.go
  store/iterator.go
  store/root/store.go
  store/storage/db.go
  store/storage/pebbledb/db.go
  store/storage/pebbledb/db_test.go
  store/storage/rocksdb/db.go
  store/storage/rocksdb/db_test.go
  store/storage/sqlite/db.go
  store/storage/sqlite/db_test.go
  store/storage/storage_bench_test.go
  store/storage/storage_test_suite.go
Labels: C:Store

#17997 chore(x/staking): fix some README typos
  x/staking/README.md
Labels: C:x/staking, backport/v0.50.x

#17970 feat(x/authz): autocli tx support
  tests/e2e/authz/tx.go
  x/authz/client/cli/tx.go
  x/authz/client/cli/tx_test.go
  x/authz/module/autocli.go
Labels: C:CLI, C:x/authz

#17954 feat(baseapp): expose `Mempool`
  baseapp/baseapp.go
Labels: backport/v0.47.x, backport/v0.50.x

#18006 chore(staking): add delegator to events
  x/staking/keeper/msg_server.go
Labels: C:x/staking, backport/v0.47.x, backport/v0.50.x

#17959 feat(x/feegrant): add autocli options for tx
  client/v2/autocli/util.go
  x/feegrant/client/cli/tx.go
  x/feegrant/client/cli/tx_test.go
  x/feegrant/module/autocli.go
Labels: C:CLI, C:x/feegrant, backport/v0.50.x

#17967 feat(x/slashing): add autocli options for tx
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg.go
  x/slashing/autocli.go
  x/slashing/client/cli/flags.go
  x/slashing/client/cli/tx.go
  x/slashing/client/cli/tx_test.go
  x/slashing/module.go
Labels: C:CLI, C:x/slashing, backport/v0.50.x

#18018 docs: fix typos
  docs/build/tooling/00-protobuf.md
  docs/user/run-node/00-keyring.md
  docs/user/run-node/01-run-node.md
Labels: backport/v0.47.x, backport/v0.50.x

#18028 docs: fix typos
  docs/architecture/adr-018-extendable-voting-period.md
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  docs/architecture/adr-023-protobuf-naming.md
Labels: Type: ADR, backport/v0.50.x

#18016 fix: fixed key in slashing bitmap migration
  CHANGELOG.md
  x/slashing/migrations/v4/keys.go
  x/slashing/migrations/v4/migrate_test.go
Labels: C:x/slashing, backport/v0.50.x

#17986 feat(x/staking): autocli tx support
  CHANGELOG.md
  tests/e2e/authz/tx.go
  tests/e2e/distribution/withdraw_all_suite.go
  tests/e2e/staking/suite.go
  tests/e2e/staking/test_helpers.go
  x/staking/autocli.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
Labels: C:x/staking, C:CLI

#18035 fix(x/slashing/keeper): hoist non-changing addresses parsing out of redelegation loop
  CHANGELOG.md
  x/staking/keeper/slash.go
Labels: C:x/staking, backport/v0.50.x

#17930 fix: keep behavior from v0.47 in PrepareProposal panic recovery
  baseapp/abci.go
  baseapp/abci_test.go
Labels: backport/v0.50.x

#18040 fix: comment on flag for textual
  client/flags/flags.go
Labels: C:CLI, backport/v0.50.x

#17944 fix(runtime): PreBlocker getting overwritten if set as a baseapp option
  baseapp/options.go
  runtime/app.go
  runtime/builder.go
  simapp/app_v2.go
Labels: backport/v0.50.x

#18048 test(client/v2): update golden file
  client/v2/autocli/testdata/help-echo-msg.golden
Labels: C:CLI, backport/v0.50.x

#17963 feat(x/distribution): add autocli options for tx
  CHANGELOG.md
  tests/e2e/bank/suite.go
  tests/e2e/distribution/cli_test.go
  tests/e2e/distribution/suite.go
  tests/e2e/distribution/withdraw_all_suite.go
  x/bank/client/cli/tx.go
  x/bank/client/cli/tx_test.go
  x/bank/module.go
  x/distribution/autocli.go
  x/distribution/client/cli/tx.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/cli/util_test.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/msg_server_test.go
  x/distribution/module.go
  x/protocolpool/autocli.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
  x/staking/module.go
Labels: C:x/staking, C:CLI, C:x/distribution, C:x/bank, backport/v0.50.x, C:x/protocolpool

#18043 chore: fix comments
  math/int.go
  x/gov/abci.go
Labels: C:x/gov

#17996 fix(x/auth/tx): propagate tx options to signing handlers
  x/auth/tx/config.go
  x/auth/tx/config_test.go
Labels: C:x/auth, backport/v0.50.x

#18041 chore: check for nil params
  CHANGELOG.md
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/types/msgs.go
Labels: backport/v0.47.x, C:x/consensus, backport/v0.50.x

#18042 refactor(x/authz): extend validate genesis
  x/authz/genesis.go
Labels: C:x/authz

#18039 refactor(x/authz): add exec as autocli cmd
  x/authz/client/cli/tx.go
  x/authz/client/cli/tx_test.go
  x/authz/client/testutil/helpers.go
  x/authz/module/autocli.go
  x/authz/module/module.go
Labels: C:CLI, C:x/authz

#18036 feat(x/gov): add autocli options for tx
  CHANGELOG.md
  tests/e2e/gov/deposits.go
  tests/e2e/gov/tx.go
  x/gov/autocli.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/tx_test.go
  x/gov/client/testutil/helpers.go
  x/gov/client/utils/utils.go
  x/gov/keeper/msg_server_test.go
  x/staking/client/cli/tx.go
Labels: C:x/staking, C:CLI, C:x/gov

#18102 feat(x/group): autocli tx support
  tests/e2e/group/suite.go
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/module/autocli.go
Labels: C:CLI, C:x/group

#18100 feat(auth,vesting): add autocli options for tx
  CHANGELOG.md
  x/auth/client/cli/broadcast.go
  x/auth/module.go
  x/auth/vesting/autocli.go
  x/auth/vesting/client/cli/periods.json
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/cli/tx_test.go
  x/auth/vesting/module.go
Labels: C:CLI, C:x/auth

#18114 chore: fix comments on bech32
  types/bech32/bech32.go
Labels: backport/v0.47.x, backport/v0.50.x

#18106 chore: fix typos
  api/cosmos/staking/v1beta1/staking.pulsar.go
  docs/architecture/adr-032-typed-events.md
  proto/cosmos/staking/v1beta1/staking.proto
  x/staking/types/staking.pb.go
Labels: C:x/staking, Type: ADR

#18113 fix(x/bank): miss keypair of SendEnabled to restore legacy param set before migration
  CHANGELOG.md
  x/bank/exported/exported.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/migrations.go
  x/bank/migrations/v4/gen_state_test.go
  x/bank/migrations/v4/store.go
  x/bank/migrations/v4/store_test.go
  x/bank/types/params_legacy.go
Labels: C:x/bank

#18107 fix(x/bank): miss keypair of SendEnabled to restore legacy param set before migration
  CHANGELOG.md
  tests/integration/bank/keeper/keeper_test.go
  x/bank/exported/exported.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/migrations.go
  x/bank/migrations/v4/store.go
  x/bank/migrations/v4/store_test.go
  x/bank/types/params_legacy.go
Labels: C:x/bank

#18125 docs: fix typos
  docs/architecture/adr-007-specialization-groups.md
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  docs/architecture/adr-028-public-key-addresses.md
  docs/architecture/adr-031-msg-service.md
  docs/architecture/adr-039-epoched-staking.md
  docs/architecture/adr-044-protobuf-updates-guidelines.md
  docs/architecture/adr-046-module-params.md
  docs/architecture/adr-049-state-sync-hooks.md
  docs/architecture/adr-050-sign-mode-textual.md
  docs/architecture/adr-059-test-scopes.md
  docs/build/building-modules/16-testing.md
Labels: Type: ADR

#18120 refactor: wrong autocli description
  x/auth/autocli.go
  x/auth/vesting/module.go
  x/consensus/autocli.go
  x/gov/autocli.go
  x/gov/client/cli/tx.go
  x/group/module/autocli.go
  x/mint/autocli.go
  x/upgrade/autocli.go
Labels: C:CLI, C:x/gov, C:x/mint, C:x/auth, C:x/upgrade, C:x/group, C:x/consensus

#18101 feat(client): add default key name
  CHANGELOG.md
  client/config/config.go
  client/config/toml.go
  client/context.go
  client/context_test.go
  client/query.go
  client/tx/factory.go
  client/tx/tx.go
  client/v2/autocli/common.go
  crypto/keyring/keyring.go
  scripts/init-simapp.sh
  x/auth/client/cli/tx_sign.go
  x/staking/client/cli/tx.go
Labels: C:x/staking, C:CLI, C:x/auth, Type: Build, TODO:backport-v0.50.1

#18111 feat: bring autocli module config to v0.50
  x/auth/autocli.go
  x/auth/vesting/autocli.go
  x/authz/module/autocli.go
  x/bank/autocli.go
  x/consensus/autocli.go
  x/distribution/autocli.go
  x/gov/autocli.go
  x/group/module/autocli.go
  x/mint/autocli.go
  x/staking/autocli.go
  x/upgrade/autocli.go
Labels: C:x/staking, C:x/gov, C:x/distribution, C:x/mint, C:x/bank, C:x/auth, C:x/upgrade, C:x/authz, C:x/group, C:x/consensus

#18049 perf(x/staking/keeper): make Slash return early iff zero tokens to burn
  CHANGELOG.md
  x/staking/keeper/slash.go
Labels: C:x/staking, backport/v0.50.x

#18047 feat(x/feegrant): Add limits to grant pruning and enable message to aid manually
  api/cosmos/feegrant/v1beta1/tx.pulsar.go
  api/cosmos/feegrant/v1beta1/tx_grpc.pb.go
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  proto/cosmos/feegrant/v1beta1/tx.proto
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/CHANGELOG.md
  x/feegrant/README.md
  x/feegrant/events.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/module/abci.go
  x/feegrant/module/abci_test.go
  x/feegrant/module/autocli.go
  x/feegrant/module/module.go
  x/feegrant/tx.pb.go
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/params, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:x/circuit, backport/v0.50.x, C:x/protocolpool

#18127 chore: prepare x/tx v0.11.0
  x/tx/CHANGELOG.md
Labels: C:x/tx

#18115 refactor(x/slashing): remove global bech32 usage
  CHANGELOG.md
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/slashing/keeper/keeper_test.go
  x/slashing/app_test.go
  x/slashing/keeper/genesis.go
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/hooks_test.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/module.go
  x/slashing/simulation/decoder_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/types/expected_keepers.go
  x/slashing/types/msg_test.go
  x/slashing/types/signing_info.go
Labels: C:x/slashing, C:Simulations

#18140 feat: add proto for cons pubkey rotation
  api/cosmos/feegrant/v1beta1/tx.pulsar.go
  api/cosmos/feegrant/v1beta1/tx_grpc.pb.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/tx_grpc.pb.go
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  x/feegrant/tx.pb.go
  x/staking/keeper/msg_server.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Labels: C:x/staking, C:x/feegrant

#18110 feat(server): start grpc server and register services in standalone mode
  CHANGELOG.md
  docs/user/run-node/01-run-node.md
  server/start.go
Labels: backport/v0.50.x

#18118 chore: prepare release notes v0.46.16
  CHANGELOG.md
  RELEASE_NOTES.md
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
Labels: C:x/authz

#18025 refactor(x/gov): refactor `q gov proposer`
  CHANGELOG.md
  tests/e2e/gov/query.go
  x/gov/autocli.go
  x/gov/client/cli/query.go
  x/gov/client/utils/query.go
  x/gov/module.go
Labels: C:CLI, C:x/gov, TODO:backport-v0.50.1

#17810 feat!: Add start time for continuous vesting accounts
  CHANGELOG.md
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  proto/cosmos/vesting/v1beta1/tx.proto
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/tx.pb.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth

#18142 feat: add required params for cons pubkey rotation
  CHANGELOG.md
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  tests/go.mod
  tests/go.sum
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/tx/aminojson/aminojson_test.go
  x/staking/keeper/keeper_test.go
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
  x/staking/types/params.go
  x/staking/types/params_test.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
Labels: C:x/staking, C:Simulations

#18121 feat(store/v2): root store branching
  store/root/store.go
  store/root/store_test.go
  store/store.go
Labels: C:Store

#18005 chore: change swagger ui
  client/docs/swagger-ui/favicon-16x16.png
  client/docs/swagger-ui/favicon-32x32.png
  client/docs/swagger-ui/index.html
  client/docs/swagger-ui/oauth2-redirect.html
  client/docs/swagger-ui/rapidoc-min.js
  client/docs/swagger-ui/swagger-ui-bundle.js
  client/docs/swagger-ui/swagger-ui-es-bundle-core.js
  client/docs/swagger-ui/swagger-ui-es-bundle.js
  client/docs/swagger-ui/swagger-ui-standalone-preset.js
  client/docs/swagger-ui/swagger-ui.css
  client/docs/swagger-ui/swagger-ui.js
Labels: C:CLI

#18173 refactor(x/gov)!: let hooks return an error
  CHANGELOG.md
  x/gov/abci.go
  x/gov/keeper/deposit.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/types/expected_keepers.go
  x/gov/types/hooks.go
Labels: C:x/gov, backport/v0.50.x

#18181 chore(docs): add missing param to gov readme
  x/gov/README.md
Labels: C:x/gov, backport/v0.50.x

#18179 chore: improve align cli help
  x/auth/vesting/autocli.go
  x/bank/autocli.go
  x/circuit/autocli.go
  x/distribution/autocli.go
  x/feegrant/module/autocli.go
  x/group/module/autocli.go
  x/staking/autocli.go
Labels: C:x/staking, C:x/distribution, C:x/bank, C:x/auth, C:x/feegrant, C:x/group, C:x/circuit, backport/v0.50.x

#17911 fix(simulation): Fix all problems `make test-sim-custom-genesis-fast` for simulation test.
  CHANGELOG.md
  Makefile
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/test_helpers.go
  simapp/sim_test.go
  testutil/sims/state_helpers.go
  types/context.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/group/simulation/operations.go
  x/simulation/client/cli/flags.go
  x/simulation/simulate.go
Labels: C:CLI, C:Simulations, C:x/auth, C:x/group, Type: Build

#18169 feat(store/v2): support queries via RootStore
  store/root/store.go
  store/root/store_test.go
  store/store.go
Labels: C:Store

#18189 feat(x/gov): limit deposited coins to accepted proposal denom
  CHANGELOG.md
  tests/integration/bank/app_test.go
  x/gov/README.md
  x/gov/keeper/deposit.go
  x/gov/keeper/export_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/types/errors.go
Labels: C:x/gov, backport/v0.50.x

#18213 chore: bump golangci-lint version
  Makefile
  baseapp/abci_test.go
  go.work.example
  orm/internal/codegen/index.go
  tools/cosmovisor/cmd/cosmovisor/init_test.go
  types/address_test.go
  types/context_bench_test.go
  x/gov/client/cli/util_test.go
  x/upgrade/plan/downloader_test.go
Labels: C:CLI, C:x/gov, C:x/upgrade, C:Cosmovisor, C:orm, Type: Build

#18211 fix: RelativePow now returns 1 when 0^0
  math/CHANGELOG.md
  math/uint.go
  math/uint_test.go
Labels: backport/v0.50.x

#18209 fix(authz): check string is not empty
  x/authz/generic_authorization.go
Labels: C:x/authz, backport/v0.47.x, backport/v0.50.x

#18214 fix(math): NewUintFromBigInt argument mutation
  math/CHANGELOG.md
  math/uint.go
  math/uint_test.go
Labels: backport/v0.47.x, backport/v0.50.x

#18166 fix(textual): only enable when online and added upgrading docs
  UPGRADING.md
  client/v2/autocli/msg.go
  client/v2/go.mod
  docs/learn/advanced/01-transactions.md
  simapp/app.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Labels: C:CLI, backport/v0.50.x

#18193 feat(store/v2): support reverse iteration for PebbleDB
  store/storage/pebbledb/db.go
  store/storage/pebbledb/db_test.go
  store/storage/pebbledb/iterator.go
Labels: C:Store

#18223 chore: move upgrading section and remove empty package
  UPGRADING.md
  x/gov/codec/doc.go
Labels: C:x/gov

#18210 chore(x/upgrade): Use ValidateBasic for Plan in ReadUpgradeInfoFromDisk
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/msg_server.go
Labels: C:x/upgrade, backport/v0.47.x, backport/v0.50.x

#18231 chore: sort debug codec cmd outputs and use std long help
  client/debug/main.go
Labels: C:CLI

#18234 fix(docs): fix simulator links
  docs/build/building-modules/14-simulator.md
Labels: backport/v0.50.x

#18195 feat(store/v2): Support Custom WriteOpts PebbleDB
  store/storage/pebbledb/batch.go
  store/storage/pebbledb/db.go
  store/storage/pebbledb/db_test.go
Labels: C:Store

#18233 chore: fix linting script
  .github/workflows/lint.yml
  .golangci.yml
  crypto/ledger/ledger_test.go
  scripts/go-lint-all.bash
  simapp/app.go
  simapp/simd/cmd/root.go
  tests/e2e/auth/cli_test.go
  tests/e2e/bank/cli_test.go
  tests/e2e/client/grpc/cmtservice/service_test.go
  tests/e2e/gov/cli_test.go
  tests/e2e/group/cli_test.go
  tests/e2e/mint/cli_test.go
  tests/e2e/server/export_test.go
  tests/e2e/staking/cli_test.go
Labels: Type: Build, Type: CI

#18224 chore: ignore store v1 proto generation
  api/cosmos/gov/module/v1/module.pulsar.go
  proto/cosmos/store/internal/kv/v1beta1/kv.proto
  proto/cosmos/store/snapshots/v1/snapshot.proto
  proto/cosmos/store/streaming/abci/grpc.proto
  proto/cosmos/store/v1beta1/commit_info.proto
  proto/cosmos/store/v1beta1/listening.proto
  scripts/protocgen.sh
Labels: Type: Build

#18243 chore(store/v2): move kv stores to kv sub-package
  store/kv/branch/README.md
  store/kv/branch/iterator.go
  store/kv/branch/store.go
  store/kv/branch/store_test.go
  store/kv/mem/README.md
  store/kv/mem/iterator.go
  store/kv/mem/store.go
  store/kv/mem/store_test.go
  store/kv/trace/README.md
  store/kv/trace/doc.go
  store/kv/trace/iterator.go
  store/kv/trace/store.go
  store/kv/trace/store_test.go
  store/memkv/README.md
  store/root/store.go
Labels: C:Store

#18242 fix(simapp): textual wiring
  UPGRADING.md
  client/cmd.go
  client/tx/factory.go
  client/tx/tx.go
  client/v2/autocli/msg.go
  client/v2/go.mod
  simapp/simd/cmd/root_v2.go
  x/auth/tx/config/config.go
Labels: C:CLI, C:x/auth, backport/v0.50.x

#18249 refactor(network): call `app.Close()` on network cleanup
  simapp/internal/testnet/cometrpc_test.go
  simapp/internal/testnet/cometstarter_test.go
  simapp/internal/testnet/doc.go
  simapp/internal/testnet/example_basic_test.go
  testutil/network/network.go
  testutil/network/util.go
  testutil/testnet/cometrpclock.go
  testutil/testnet/cometstarter.go
  testutil/testnet/delegator.go
  testutil/testnet/doc.go
  testutil/testnet/genesis.go
  testutil/testnet/genesis_test.go
  testutil/testnet/network.go
  testutil/testnet/nodehelpers.go
  testutil/testnet/nodes.go
  testutil/testnet/nodes_test.go
  testutil/testnet/validator.go
Labels: backport/v0.47.x, backport/v0.50.x

#18252 refactor: modules should implement appmodule.AppModule
  baseapp/testutil/mock/mocks.go
  scripts/mockgen.sh
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/core_module.go
  types/module/module.go
  x/slashing/testutil/expected_keepers_mocks.go
Labels: C:x/slashing, Type: Build, backport/v0.50.x

#18254 fix(server): don't hardcode grpc address to localhost
  CHANGELOG.md
  server/start.go
Labels: backport/0.46.x, backport/v0.47.x, backport/v0.50.x

#18206 fix: use a lower file permission in file creation
  server/util.go
Labels: backport/v0.47.x, backport/v0.50.x

#18204 perf: parse chain-id from big genesis file could be slow
  CHANGELOG.md
  server/util.go
  x/genutil/types/chain_id.go
  x/genutil/types/chain_id_test.go
  x/genutil/types/testdata/parse_chain_id.json
Labels: backport/v0.50.x

#18266 docs: broken link for Algorand announcing rekeying
  docs/architecture/adr-034-account-rekeying.md
Labels: Type: ADR

#18274 docs: adding additional info on `amino.encoding` proto annotations
  docs/build/building-modules/05-protobuf-annotations.md
Labels: backport/v0.50.x

#18240 feat(store/v2): gaskv store
  store/gas.go
  store/kv/gas/iterator.go
  store/kv/gas/store.go
  store/kv/gas/store_test.go
  store/kv/mem/store.go
  store/kv/trace/store.go
  store/storage/storage_bench_test.go
Labels: C:Store

#18239 chore: cleanup comet dependence in tests
  baseapp/test_helpers.go
  tests/integration/bank/app_test.go
  testutil/sims/tx_helpers.go
  x/auth/ante/feegrant_test.go
  x/auth/vesting/fuzz_test.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/vesting_account_test.go
  x/authz/keeper/genesis_test.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/keeper/collections_test.go
  x/bank/keeper/keeper_test.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper_test.go
  x/distribution/simulation/operations_test.go
  x/evidence/genesis_test.go
  x/evidence/keeper/keeper_test.go
  x/feegrant/simulation/operations_test.go
  x/genutil/types/genesis.go
  x/gov/abci_test.go
  x/gov/simulation/operations_test.go
  x/group/keeper/keeper_test.go
  x/group/simulation/operations_test.go
  x/nft/go.mod
  x/nft/simulation/operations_test.go
  x/protocolpool/go.mod
  x/protocolpool/simulation/operations_test.go
  x/slashing/app_test.go
  x/slashing/simulation/operations_test.go
  x/staking/app_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/auth, C:x/evidence, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, C:x/protocolpool

#18288 fix(x/group/internal/orm): use proper map type to string not interface{}
  x/group/internal/orm/indexer.go
Labels: C:x/group

#18286 perf(x/group/internal/orm): move expensive prefix.NewStore calls to close usage
  x/group/CHANGELOG.md
  x/group/internal/orm/index.go
  x/group/internal/orm/table.go
Labels: C:x/group

#18294 fix(snapshot): grant execution permissions to the snapshot dir for the owner
  server/util.go
Labels: backport/v0.47.x, backport/v0.50.x

#18291 feat(x/counter): add module protos
  api/cosmos/counter/v1/query.pulsar.go
  api/cosmos/counter/v1/query_grpc.pb.go
  api/cosmos/counter/v1/tx.pulsar.go
  api/cosmos/counter/v1/tx_grpc.pb.go
  api/cosmos/mint/module/v1/module.pulsar.go
  proto/cosmos/counter/v1/query.proto
  proto/cosmos/counter/v1/tx.proto
  x/counter/types/query.pb.go
  x/counter/types/tx.pb.go
  x/mint/types/genesis.pb.go
  x/mint/types/mint.pb.go
  x/mint/types/query.pb.go
  x/mint/types/tx.pb.go
Labels: C:x/mint

#18300 remove unncessary comma from value of proposal_messages event
  x/gov/keeper/proposal.go
Labels: C:x/gov

#18301 chore: update starshp-action version
  .github/workflows/starship-tests.yml
Labels: Type: CI

#18303 refactor(x/genutil,server): add export functions to x/gentutil
  CHANGELOG.md
  docs/architecture/adr-041-in-place-store-migrations.md
  server/cmt_cmds.go
  server/constructors_test.go
  server/rollback.go
  server/start.go
  server/util.go
  simapp/simd/cmd/commands.go
  tests/e2e/genutil/export_test.go
  x/genutil/README.md
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/export.go
  x/genutil/client/cli/export_test.go
  x/genutil/client/cli/init_test.go
Labels: C:CLI, C:x/genutil, Type: ADR

#18304 ci: debug golangci-lint for cosmovisor
  .github/workflows/test.yml
  scripts/go-lint-all.bash
  tools/cosmovisor/process.go
Labels: C:Cosmovisor, Type: Build, Type: CI

#18268 refactor: remove usage of global basedenom
  CHANGELOG.md
  types/coin.go
  types/denom.go
  types/denom_internal_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
Labels: C:x/distribution

#18262 test(cosmovisor): improve TestParseUpgradeInfoFile with substring assertions
  tools/cosmovisor/scanner.go
  tools/cosmovisor/scanner_test.go
  tools/cosmovisor/testdata/upgrade-files/f3-empty.json
Labels: C:Cosmovisor

#18063 feat(version): Add extraInfo to version cmd
  CHANGELOG.md
  version/command.go
  version/version.go
  version/version_test.go
Labels: TODO:backport-v0.50.1

#18316 chore(upgrade): remove extra gov deps
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/module.go
Labels: C:x/upgrade
