Repository cosmos/cosmos-sdk, pull requests merged in 2023-06, with the labels that each got.

#16395 fix: do not overwrite comet config when set in `InterceptConfigsPreRunHandler`
  CHANGELOG.md
  server/util.go
Labels: backport/v0.47.x

#15970 feat: enable sign mode textual by default
  CHANGELOG.md
  client/cmd.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
  x/auth/tx/config.go
  x/auth/tx/config/config.go
Labels: C:CLI, C:x/auth

#16405 ci: fix consensuswarn always failing
  .github/workflows/consensuswarn.yml
Labels: Type: CI

#16404 chore: small snapshot commands & docs improvement
  client/snapshot/cmd.go
  client/snapshot/export.go
  client/snapshot/list.go
  client/snapshot/load.go
  docs/docs/run-node/01-run-node.md
  go.mod
  server/cmt_cmds.go
  simapp/go.mod
  store/snapshots/README.md
Labels: C:CLI, C:Store, backport/0.46.x, backport/v0.47.x

#16248 chore: prepare v0.47.3
  .golangci.yml
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  server/util.go
Labels: Type: CI

#16407 chore: change prepare and process proposal to be NoOps by default
  baseapp/abci_utils.go
  docs/docs/building-apps/02-app-mempool.md
Labels: backport/v0.47.x

#16046 feat(genutil): Add module account at genesis.
  CHANGELOG.md
  x/auth/helpers/genaccounts.go
  x/genutil/client/cli/genaccount.go
Labels: C:CLI, C:x/auth, C:x/genutil

#16227 refactor(x/upgrade)!: use KVStoreService and context.Context
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  simapp/app_test.go
  simapp/upgrades.go
  tests/e2e/upgrade/suite.go
  types/module/module.go
  x/upgrade/CHANGELOG.md
  x/upgrade/abci.go
  x/upgrade/abci_test.go
  x/upgrade/handler.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/migrations.go
  x/upgrade/keeper/migrations_test.go
  x/upgrade/keeper/msg_server.go
  x/upgrade/keeper/msg_server_test.go
  x/upgrade/module.go
  x/upgrade/types/errors.go
  x/upgrade/types/handler.go
  x/upgrade/types/plan.go
  x/upgrade/types/plan_test.go
Labels: C:x/upgrade

#16419 docs(gov): Voting period can be more than unbonding period
  x/gov/README.md
Labels: C:x/gov

#16413 feat(cosmovisor): add `add-upgrade` command
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/config.go
  tools/cosmovisor/cmd/cosmovisor/init.go
  tools/cosmovisor/cmd/cosmovisor/init_test.go
  tools/cosmovisor/cmd/cosmovisor/root.go
  tools/cosmovisor/cmd/cosmovisor/version.go
  tools/cosmovisor/flags.go
  tools/cosmovisor/process.go
  tools/cosmovisor/upgrade.go
  tools/cosmovisor/upgrade_test.go
Labels: C:Cosmovisor

#16429 docs: improve upgrading.md and changelog
  CHANGELOG.md
  UPGRADING.md
Labels: backport/v0.47.x

#16430 refactor: avoid breaking change due to #16415 included in v0.50
  baseapp/circuit.go
  baseapp/msg_service_router.go
Labels: backport/0.46.x

#16423 refactor: remove dependencies x/auth -> x/genutil, x/gov
  CHANGELOG.md
  tests/integration/auth/client/cli/suite_test.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
  x/genutil/client/cli/genaccount.go
  x/genutil/genaccounts.go
Labels: C:CLI, C:x/auth, C:x/genutil

#16415 refactor(x/circuit)!: Use collections, KVStoreService, and context.Context
  baseapp/circuit.go
  baseapp/msg_service_router.go
  simapp/app.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/circuit/CHANGELOG.md
  x/circuit/ante/circuit.go
  x/circuit/ante/circuit_test.go
  x/circuit/keeper/genesis.go
  x/circuit/keeper/keeper.go
  x/circuit/keeper/keeper_test.go
  x/circuit/keeper/msg_server.go
  x/circuit/keeper/msg_server_test.go
  x/circuit/keeper/query.go
  x/circuit/keeper/query_test.go
  x/circuit/keeper/test_utils.go
  x/circuit/module.go
  x/circuit/types/keys.go
Labels: C:x/auth, C:x/circuit

#16442 chore: prepare core,tx,collections changelogs and update mergify config for v0.5
  .mergify.yml
  collections/CHANGELOG.md
  core/CHANGELOG.md
  x/tx/CHANGELOG.md
Labels: Type: CI, C:collections, C:x/tx

#16445 build: remove replaces in modules before 0.50 alpha
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:orm, C:collections, C:Confix, C:x/circuit, C:x/tx, C:Hubl

#16446 chore: prepare v0.50 alpha
  .github/dependabot.yml
  .github/workflows/deploy-docs.yml
  CHANGELOG.md
  RELEASE_NOTES.md
  UPGRADING.md
  docs/docusaurus.config.js
  docs/versions.json
  tools/confix/data/v0.50-app.toml
Labels: Type: CI, C:Confix

#16447 chore: configure release/v0.50.x branch
  .github/dependabot.yml
  .github/workflows/sims-050.yml
  CHANGELOG.md
  UPGRADING.md
  docs/docusaurus.config.js
  docs/versions.json
  tools/confix/data/v0.50-app.toml
Labels: Type: CI, C:Confix

#16449 fix: StateSync Restore by excluding memory store
  CHANGELOG.md
  store/rootmulti/store.go
Labels: C:Store, backport/v0.47.x, backport/v0.50.x

#16440 refactor(distribution)!: use collections for DelegatorWithdrawAddress state management.
  CHANGELOG.md
  types/collections.go
  types/collections_test.go
  x/bank/keeper/view.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/store.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/types/keys.go
  x/gov/keeper/keeper.go
Labels: C:x/gov, C:x/distribution, C:Simulations, C:x/bank

#16466 fix: patch barberry
  RELEASE_NOTES.md
  x/auth/vesting/types/msgs.go
Labels: C:x/auth

#16462 chore: fix concurrency group sims and math changelog
  .github/workflows/sims-050.yml
  math/CHANGELOG.md
Labels: Type: CI

#16459 refactor(distribution)!: use collections for ValidatorCurrentRewards
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/keys.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/distribution, C:Simulations

#16315 chore: changelog & upgrading documentation for ABCI++
  CHANGELOG.md
  UPGRADING.md
  docs/docs/building-apps/04-vote-extensions.md
Labels: backport/v0.50.x

#16401 chore: finish TODO of removing defunct sortJSON
  codec/proto_codec.go
  x/tx/signing/aminojson/aminojson.go
Labels: C:x/tx, backport/v0.50.x

#16524 feat(hubl): support output flag
  client/v2/autocli/common.go
  client/v2/autocli/query.go
  tools/hubl/internal/remote.go
Labels: C:CLI, C:Hubl

#16520 test: x/tx/signing/textual: fuzz BytesValueRenderer
  x/tx/signing/textual/fuzz_test.go
Labels: C:x/tx

#16527 chore: remove `github.com/cosmos/cosmos-sdk/db` from sdk deps
  go.mod
  go.sum
  internal/db/iterator_adapter.go
  testutil/mock/db/types.go
Labels: backport/v0.50.x

#16511 feat: make checksum optional in upgrade validation
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/cosmovisor/upgrade.go
  x/upgrade/CHANGELOG.md
  x/upgrade/client/cli/query.go
  x/upgrade/client/cli/tx.go
  x/upgrade/plan/downloader.go
  x/upgrade/plan/downloader_test.go
  x/upgrade/plan/info.go
  x/upgrade/plan/info_test.go
Labels: C:CLI, C:x/upgrade, C:Cosmovisor

#16531 refactor(x/staking): rm dependency on x/distribution
  tests/integration/staking/simulation/operations_test.go
  x/distribution/migrations/v2/store.go
  x/slashing/migrations/v2/store.go
  x/staking/migrations/v2/helpers.go
  x/staking/migrations/v2/store.go
Labels: C:x/staking, C:x/slashing, C:x/distribution

#16483 refactor(distribution)!: use collections for DelegatorStartingInfo state
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/staking/simulation/operations_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/keys.go
  x/slashing/simulation/operations_test.go
Labels: C:x/slashing, C:x/distribution, C:Simulations

#16528 chore: clean-up all replaces and add tagging process
  RELEASE_PROCESS.md
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:Confix, C:x/circuit, backport/v0.50.x

#16542 chore: set headerinfo where needed in baseapp
  baseapp/abci.go
Labels: backport/v0.50.x

#16517 test: x/tx/signing/textual: fuzz MessageValueRenderer.Parse
  x/tx/signing/textual/fuzz_test.go
Labels: C:x/tx

#16551 ci: add cometbft version fetch in release branches by dependabot
  .github/dependabot.yml
Labels: Type: CI

#16545 refactor(x/auth): rm dependency on x/staking
  tests/integration/auth/migrations/v2/store_test.go
  x/auth/migrations/v2/store.go
  x/staking/keeper/abci.go
Labels: C:x/staking, C:x/auth

#16554 fix(x/auth): ensure nil .BaseAccounts are reported in ModuleAccount.Validate
  CHANGELOG.md
  x/auth/types/account.go
  x/auth/types/account_test.go
Labels: C:x/auth, backport/0.46.x, backport/v0.47.x, backport/v0.50.x

#16534 fix(hubl): revert f235aae
  tools/hubl/internal/compat.go
Labels: C:Hubl

#16571 refactor(distribution)!: use collections for validator accumulated commission state
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/keys.go
Labels: C:x/distribution, C:Simulations

#16574 chore(cosmovisor): remove cosmovisor error package
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/cmd/cosmovisor/init.go
  tools/cosmovisor/cmd/cosmovisor/main.go
  tools/cosmovisor/errors/multi.go
  tools/cosmovisor/errors/multi_test.go
Labels: C:Cosmovisor

#16573 feat(cosmovisor): enable logger configuration with env variable
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/init.go
  tools/cosmovisor/cmd/cosmovisor/init_test.go
  tools/cosmovisor/cmd/cosmovisor/main.go
  tools/cosmovisor/cmd/cosmovisor/run.go
  tools/cosmovisor/cmd/cosmovisor/run_config.go
  tools/cosmovisor/cmd/cosmovisor/version.go
Labels: C:Cosmovisor

#16567 chore: remove x/gov module dependencies in x/staking
  x/auth/keeper/msg_server.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/module.go
  x/staking/types/errors.go
  x/staking/types/keys.go
Labels: C:x/staking, C:x/auth

#16548 refactor(x/auth): rm dependency on x/bank
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/migrations/v2/store.go
  x/auth/tx/config/config.go
  x/auth/tx/config/expected_keepers.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/testutil/expected_keepers_mocks.go
  x/bank/keeper/grpc_query.go
Labels: C:x/bank, C:x/auth

#16580 refactor: x/gov and x/mint no longer depend on each other
  x/gov/keeper/common_test.go
  x/gov/keeper/keeper_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/msg_server.go
  x/mint/module.go
  x/mint/types/errors.go
  x/mint/types/keys.go
Labels: C:x/gov, C:x/mint

#16590 refactor(distribution)!: use collections for ValidatorOutstandingRewards state management
  CHANGELOG.md
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/alias_functions.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/keys.go
Labels: C:x/distribution, C:Simulations

#16218 feat(x/distribution): add autocli config query
  CHANGELOG.md
  tests/e2e/distribution/grpc_query_suite.go
  tests/e2e/distribution/suite.go
  x/distribution/autocli.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/query_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/module.go
Labels: C:CLI, C:x/distribution, backport/v0.50.x

#16595 feat: add dummy VE handler to simapp
  simapp/abci.go
  simapp/app.go
  simapp/app_v2.go
Labels: backport/v0.50.x

#16576 refactor(x/distribution): rm a dependency on x/gov
  x/distribution/types/errors.go
  x/distribution/types/proposal.go
Labels: C:x/distribution

#16578 refactor(x/bank): rm cyclic deps with gov, staking, distr
  tests/integration/bank/app_test.go
  tests/integration/bank/bench_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_server_test.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/testutil/helpers.go
  x/bank/types/errors.go
  x/bank/types/keys.go
  x/bank/types/msgs_test.go
Labels: C:Simulations, C:x/bank

#16588 fix: snapshotter's failure is not propogated
  store/CHANGELOG.md
  store/snapshots/chunk.go
  store/snapshots/helpers_test.go
  store/snapshots/manager_test.go
Labels: C:Store, backport/0.46.x, backport/v0.47.x, backport/v0.50.x

#16587 chore: remove x/gov dependencies in x/distr
  tests/integration/bank/app_test.go
  x/bank/types/errors.go
  x/distribution/keeper/msg_server.go
  x/distribution/module.go
  x/distribution/types/codec.go
  x/distribution/types/errors.go
  x/distribution/types/keys.go
  x/distribution/types/proposal.go
  x/gov/keeper/msg_server_test.go
  x/gov/types/errors.go
  x/gov/types/v1beta1/codec.go
  x/mint/types/errors.go
Labels: C:x/gov, C:x/distribution, C:x/mint, C:x/bank

#16609 chore: audit crisis changes
  x/crisis/keeper/msg_server.go
Labels: C:x/crisis, backport/v0.50.x

#16613 fix!: Ensure Handler Exists for Messages
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
Labels: backport/v0.50.x

#16316 feat(client): add positional optional to client v2
  api/cosmos/autocli/v1/options.pulsar.go
  client/v2/CHANGELOG.md
  client/v2/autocli/app.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/message.go
  client/v2/autocli/flag/register.go
  client/v2/autocli/query_test.go
  client/v2/go.mod
  client/v2/go.sum
  proto/cosmos/autocli/v1/options.proto
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
Labels: C:CLI, backport/v0.50.x

#16618 feat(collections): Add Clear method on Map and KeySet
  collections/CHANGELOG.md
  collections/iter.go
  collections/keyset.go
  collections/map.go
  collections/map_test.go
Labels: C:collections

#16601 fix(hubl): malformed msgName and error handling
  tools/hubl/internal/compat.go
Labels: C:Hubl

#16620 docs: add explaination on how to change home folder globaly
  docs/docs/run-node/01-run-node.md
  tools/confix/cmd/home.go
Labels: C:Confix, backport/v0.50.x

#16624 chore: make `configurator.Config` public
  testutil/configurator/configurator.go
Labels: backport/v0.50.x

#16547 fix: check tx gas limit against block gas limit
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/block_gas_test.go
  baseapp/utils_test.go
  docs/docs/building-apps/02-app-mempool.md
  testutil/sims/app_helpers.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
Labels: C:x/auth, backport/v0.50.x

#16625 feat(evidence): autocli query support
  x/evidence/CHANGELOG.md
  x/evidence/autocli.go
  x/evidence/client/cli/query.go
  x/evidence/client/cli/query_test.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/module.go
Labels: C:CLI, C:x/evidence, backport/v0.50.x

#16623 refactor(x/distribution): rm ref to x/gov from x/distribution
  x/distribution/client/cli/tx_test.go
Labels: C:CLI, C:x/distribution

#16634 refactor: cleanup profiling code with equivalent one
  server/start.go
Labels: backport/v0.50.x

#16640 feat(mint): add autocli config for mint
  tests/e2e/mint/suite.go
  x/mint/autocli.go
  x/mint/client/cli/query.go
  x/mint/client/cli/query_test.go
  x/mint/module.go
Labels: C:CLI, C:x/mint

#16633 feat(consensus): wire autocli query
  x/consensus/autocli.go
Labels: C:x/consensus, backport/v0.50.x

#16631 refactor: authz audit changes
  proto/cosmos/authz/v1beta1/query.proto
  proto/cosmos/authz/v1beta1/tx.proto
  x/authz/client/cli/query.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx_test.go
  x/authz/keeper/genesis.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/msg_server.go
Labels: C:CLI, C:x/authz, backport/v0.50.x

#16607 refactor(distribution)!: use collections for ValidatorHistoricalRewards state
  CHANGELOG.md
  go.mod
  go.sum
  simapp/export.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/staking/simulation/operations_test.go
  types/collections.go
  types/collections_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/simulation/decoder_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/types/keys.go
  x/evidence/go.sum
Labels: C:x/distribution, C:Simulations, C:x/evidence

#16537 chore: properly propagate fmt.Errorf errors + use errors.New
  CHANGELOG.md
  client/config/config.go
  client/keys/add.go
  client/keys/show.go
  crypto/armor.go
  crypto/keyring/keyring_test.go
  crypto/ledger/ledger_mock.go
  crypto/ledger/ledger_secp256k1.go
  depinject/container.go
  server/grpc/gogoreflection/serverreflection.go
  server/start.go
  tools/confix/cmd/diff.go
  tools/confix/cmd/migrate.go
  tools/confix/file.go
  tools/confix/upgrade.go
  tools/rosetta/client_online.go
  types/dec_coin.go
  x/auth/client/tx.go
  x/auth/types/genesis.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/gentx.go
  x/genutil/types/genesis_state.go
  x/gov/client/cli/query.go
  x/params/types/subspace.go
  x/staking/client/cli/query.go
  x/staking/client/cli/tx.go
  x/staking/migrations/v5/store.go
  x/upgrade/abci.go
  x/upgrade/plan/info.go
Labels: C:x/staking, C:CLI, C:x/gov, C:Keys, C:x/params, C:x/auth, C:x/upgrade, C:x/genutil, C:Rosetta, C:Confix

#16616 chore: implement comments from #16316
  CHANGELOG.md
  api/cosmos/autocli/v1/options.pulsar.go
  client/v2/autocli/flag/register.go
  x/evidence/go.sum
Labels: C:CLI

#16649 chore: add sortJSON back & mark as deprecated
  types/utils.go
Labels: backport/v0.50.x

#16653 chore: make configurator.Config.ModuleConfigs public
  testutil/configurator/configurator.go
Labels: backport/v0.50.x

#16652 chore: x/feegrant audit changes
  proto/cosmos/feegrant/v1beta1/query.proto
  x/feegrant/basic_fee.go
  x/feegrant/client/cli/tx.go
  x/feegrant/fees.go
  x/feegrant/filtered_fee.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/keeper.go
  x/feegrant/msgs.go
  x/feegrant/periodic_fee.go
Labels: C:CLI, C:x/feegrant

#16667 style: bump golangci-lint
  .golangci.yml
  Makefile
  client/debug/main.go
  codec/types/any.go
  codec/types/any_internal_test.go
  codec/types/any_test.go
  codec/types/types_test.go
  crypto/keyring/keyring.go
  crypto/keys/multisig/amino.go
  depinject/location.go
  depinject/provider_desc_test.go
  math/uint.go
  orm/model/ormdb/module_test.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/bench_test.go
  orm/model/ormtable/table_test.go
  orm/types/ormerrors/errors.go
  server/mock/app.go
  testutil/cmdtest/system.go
  tools/rosetta/converter.go
  types/address_test.go
  types/tx/ext.go
  x/auth/client/cli/tx_multisign.go
  x/distribution/keeper/delegation.go
  x/gov/types/metadata.go
  x/group/module/abci_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/val_state_change.go
  x/staking/types/keys.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/distribution, C:x/auth, C:Rosetta, C:x/group, C:orm, Type: Build, Type: CI

#16665 chore: remove unneeded getsigners method from nft
  x/nft/msgs.go
Labels: C:x/nft

#16668 chore: remove getsigners from mint
  x/mint/types/msgs.go
Labels: C:x/mint, backport/v0.50.x

#16671 docs: correct comment typo in address.go
  types/address.go
Labels: backport/v0.47.x, backport/v0.50.x

#16400 docs: ADR-067 Simulator v2
  docs/architecture/README.md
  docs/architecture/adr-024-coin-metadata.md
  docs/architecture/adr-046-module-params.md
  docs/architecture/adr-067-simulator-v2.md
Labels: Type: ADR

#16681 fix: x/tx/decode: fix (*Decoder).Decode crash with invalid length prefix
  x/tx/CHANGELOG.md
  x/tx/decode/decode_test.go
  x/tx/decode/unknown.go
Labels: C:x/tx

#16696 docs: improve upgrading.md and changelog for autocli changes
  CHANGELOG.md
  UPGRADING.md
Labels: backport/v0.50.x

#16677 build: delete CMTVERSION in Makefile
  Makefile
Labels: Type: Build

#16701 fix: x/tx/signing/aminojson: revert json.NewEncoder that added newlines
  x/tx/signing/aminojson/json_marshal.go
Labels: C:x/tx

#16206 feat: make abci handshake graceful interruptible
  CHANGELOG.md
  server/start.go
Labels: backport/v0.50.x

#16695 refactor: x/consensus audit changes
  api/cosmos/consensus/v1/query_grpc.pb.go
  api/cosmos/consensus/v1/tx_grpc.pb.go
  proto/cosmos/consensus/v1/query.proto
  proto/cosmos/consensus/v1/tx.proto
  x/consensus/module.go
  x/consensus/types/msgs.go
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
Labels: C:x/consensus, backport/v0.50.x

#16501 docs: update for 0.38
  docs/docs/basics/00-app-anatomy.md
  docs/docs/basics/01-tx-lifecycle.md
  docs/docs/basics/02-query-lifecycle.md
  docs/docs/basics/03-accounts.md
  docs/docs/basics/04-gas-fees.md
  docs/docs/building-apps/00-app-go.md
  docs/docs/building-apps/01-app-go-v2.md
  docs/docs/building-apps/02-app-mempool.md
  docs/docs/building-modules/01-module-manager.md
  docs/docs/building-modules/02-messages-and-queries.md
  docs/docs/building-modules/03-msg-services.md
  docs/docs/building-modules/04-query-services.md
  docs/docs/building-modules/05-beginblock-endblock.md
  docs/docs/building-modules/06-keeper.md
  docs/docs/building-modules/07-invariants.md
  docs/docs/building-modules/08-genesis.md
  docs/docs/building-modules/09-module-interfaces.md
  docs/docs/building-modules/12-errors.md
  docs/docs/building-modules/13-upgrade.md
  docs/docs/building-modules/14-simulator.md
  docs/docs/building-modules/15-depinject.md
  docs/docs/building-modules/16-testing.md
  docs/docs/core/00-baseapp.md
  docs/docs/core/01-transactions.md
  docs/docs/core/02-context.md
  docs/docs/core/03-node.md
  docs/docs/core/04-store.md
  docs/docs/core/05-encoding.md
  docs/docs/core/06-grpc_rest.md
  docs/docs/core/07-cli.md
  docs/docs/core/08-events.md
  docs/docs/core/09-telemetry.md
  docs/docs/core/10-ocap.md
  docs/docs/core/11-runtx_middleware.md
  docs/docs/core/12-simulation.md
  docs/docs/core/14-tips.md
  docs/docs/intro/03-sdk-design.md
  docs/docs/run-node/01-run-node.md
  docs/docs/run-node/03-txs.md
  docs/docs/tooling/00-protobuf.md
Labels: backport/v0.50.x

#16702 chore: audit x/mint
  x/mint/keeper/grpc_query.go
Labels: C:x/mint, backport/v0.50.x

#16712 chore: remove GetSigners from x/authz
  x/authz/msgs.go
Labels: C:x/authz, backport/v0.50.x

#16639 fix: halt-height behavior is not deterministic
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
Labels: backport/v0.50.x

#16697 fix: revert f235aae (part 2)
  server/grpc/gogoreflection/serverreflection.go
Labels: backport/v0.50.x

#16690 refactor: x/bank audit changes
  api/cosmos/bank/module/v1/module.pulsar.go
  api/cosmos/bank/v1beta1/query.pulsar.go
  api/cosmos/bank/v1beta1/tx.pulsar.go
  proto/cosmos/bank/module/v1/module.proto
  proto/cosmos/bank/v1beta1/query.proto
  proto/cosmos/bank/v1beta1/tx.proto
  x/bank/client/cli/suite_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/invariants.go
  x/bank/keeper/keeper_test.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
  x/bank/types/query.pb.go
  x/bank/types/tx.pb.go
Labels: C:CLI, C:x/bank, backport/v0.50.x

#16726 refactor: address codec factory
  depinject/container_test.go
  simapp/app_test.go
  simapp/app_v2.go
  x/auth/module.go
Labels: C:x/auth

#16550 feat(cosmovisor): add ability to run custom preupgrade script
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/process.go
  tools/cosmovisor/process_test.go
  tools/cosmovisor/testdata/download/cosmovisor/preupgrade.sh
Labels: C:Cosmovisor

#16656 feat: add custom max gas for block for sim config
  CHANGELOG.md
  types/simulation/config.go
  x/simulation/params.go
  x/simulation/simulate.go
Labels: C:Simulations, backport/0.46.x, backport/v0.47.x, backport/v0.50.x

#16733 fix(x/auth/vesting): panic on overflowing & negative EndTimes for PeriodicVestingAccount
  CHANGELOG.md
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
Labels: C:x/auth, backport/v0.50.x

#16621 feat(auth): make address codec pluggable
  CHANGELOG.md
  depinject/container_test.go
  simapp/app.go
  simapp/app_test.go
  simapp/app_v2.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/determinstic_test.go
  testutil/integration/example_test.go
  x/auth/ante/testutil_test.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/grpc_query.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/module.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/vesting_account_test.go
  x/group/migrations/v2/migrate_test.go
Labels: C:x/auth, C:x/group, backport/v0.50.x

#16713 fix(x/consensus): Add missing ABCI consensus param in MsgUpdateParams
  CHANGELOG.md
  api/cosmos/consensus/v1/tx.pulsar.go
  proto/cosmos/consensus/v1/tx.proto
  x/consensus/keeper/keeper_test.go
  x/consensus/types/msgs.go
  x/consensus/types/tx.pb.go
Labels: C:x/consensus, backport/v0.50.x, T: Audit

#16700 fix(baseapp): ABCI Consensus Failure Fix
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
Labels: backport/v0.50.x

#16759 chore(feegrant): remove `GetSigners` in `msgs.go`
  x/feegrant/msgs.go
Labels: C:x/feegrant, backport/v0.50.x

#16741 refactor(vesting)!: improve validate functions and return error in constructor
  CHANGELOG.md
  tests/integration/auth/migrations/v2/store_test.go
  x/auth/simulation/genesis.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/types/genesis_test.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/genutil/genaccounts.go
Labels: C:Simulations, C:x/bank, C:x/auth, C:x/genutil, backport/v0.50.x

#16766 docs(evidence): update cli docs
  x/evidence/README.md
Labels: C:x/evidence, backport/v0.50.x

#16744 chore: add apphash to finalize block calls
  baseapp/abci.go
Labels: backport/v0.50.x

#16764 chore(confix): audit
  UPGRADING.md
  tools/confix/data/v0.47-app.toml
  tools/confix/diff.go
  tools/confix/migrations.go
  tools/confix/upgrade.go
  tools/confix/upgrade_test.go
Labels: C:Confix, backport/v0.50.x

#16765 chore: Fix changelog issue reference
  CHANGELOG.md
  x/genutil/types/genesis_state.go
Labels: C:x/genutil, backport/v0.50.x

#16521 test: x/tx/signing/textual: fuzz CoinsValueRenderer
  x/tx/go.mod
  x/tx/go.sum
  x/tx/signing/textual/coins_test.go
  x/tx/signing/textual/fuzz_test.go
  x/tx/signing/textual/testdata/fuzz/FuzzCoinsJSONTestcases/4d81af7cc74558bf
Labels: C:x/tx

#16596 fix(baseapp): audit changes
  CHANGELOG.md
  UPGRADING.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/baseapp_test.go
  baseapp/testutil/mock/mocks.go
  scripts/mockgen.sh
Labels: C:baseapp, Type: Build, backport/v0.50.x, T: Audit

#16760 refactor(mint): audit
  x/mint/keeper/msg_server.go
Labels: C:x/mint, backport/v0.50.x

#16768 feat(auth,client/v2): add validator address codec
  .github/workflows/dependencies-review.yml
  CHANGELOG.md
  UPGRADING.md
  api/cosmos/staking/v1beta1/query.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  client/v2/autocli/app.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/testdata/help-deprecated-msg.golden
  client/v2/autocli/testdata/help-deprecated.golden
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/help-echo.golden
  client/v2/go.mod
  client/v2/go.sum
  client/v2/internal/testpb/msg.proto
  client/v2/internal/testpb/msg.pulsar.go
  client/v2/internal/testpb/msg_grpc.pb.go
  client/v2/internal/testpb/query.proto
  client/v2/internal/testpb/query.pulsar.go
  client/v2/internal/testpb/query_grpc.pb.go
  go.mod
  go.sum
  proto/cosmos/staking/v1beta1/query.proto
  proto/cosmos/staking/v1beta1/staking.proto
  simapp/app.go
  simapp/app_config.go
  simapp/app_test.go
  simapp/app_v2.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/determinstic_test.go
  testutil/integration/example_test.go
  x/auth/ante/testutil_test.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/module.go
  x/auth/types/depinject_alias.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/vesting_account_test.go
  x/group/migrations/v2/migrate_test.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/val_state_change.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
  x/staking/types/query.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:CLI, C:x/auth, C:x/group, Type: CI, backport/v0.50.x

#16784 fix(x/slashing): Emit slashing event with the correct reason in SlashWithInfractionReason
  CHANGELOG.md
  x/slashing/keeper/keeper.go
  x/slashing/types/events.go
Labels: C:x/slashing, backport/v0.47.x, backport/v0.50.x

#16786 refactor(x/upgrade): audit changes
  x/upgrade/keeper/msg_server.go
  x/upgrade/types/msgs.go
Labels: C:x/upgrade, R:Eden, backport/v0.50.x, T: Audit

#16785 refactor(x/distribution): audit changes
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/abci.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/store.go
  x/distribution/types/msg.go
Labels: C:x/distribution, R:Eden, backport/v0.50.x, T: Audit

#16790 build(deps): use `hashicorp/go-metrics` instead of `armon/go-metrics`
  docs/architecture/adr-013-metrics.md
  docs/docs/core/09-telemetry.md
  go.mod
  go.sum
  server/start.go
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  store/metrics/telemetry.go
  telemetry/metrics.go
  telemetry/metrics_test.go
  telemetry/wrapper.go
  tests/go.mod
  tests/go.sum
  x/auth/vesting/msg_server.go
  x/bank/keeper/msg_server.go
  x/distribution/keeper/msg_server.go
  x/gov/keeper/msg_server.go
  x/staking/keeper/msg_server.go
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/msg_server.go
  x/upgrade/keeper/msg_server_test.go
  x/upgrade/types/errors.go
Labels: C:x/staking, C:x/gov, C:x/distribution, C:Store, C:x/bank, C:x/auth, C:x/upgrade, Type: ADR, backport/v0.50.x
