Repository cosmos/cosmos-sdk, pull requests merged in 2023-04, with the labels that each got.

#15658 style: fix lint issues in log (1/n)
  log/bench_test.go
Labels: C:log

#15659 style: bank & autocli
  client/v2/autocli/common.go
  client/v2/autocli/flag/duration.go
  client/v2/autocli/flag/timestamp.go
  client/v2/autocli/msg_test.go
  log/bench_test.go
  x/bank/keeper/keeper_test.go
  x/bank/module.go
  x/bank/simulation/genesis_test.go
  x/bank/simulation/proposals_test.go
  x/bank/types/codec.go
  x/gov/client/testutil/helpers.go
  x/nft/client/cli/tx_test.go
  x/nft/simulation/operations.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/bank, C:x/nft, C:log

#15598 refactor(staking): remove account address bech32 global
  tests/e2e/staking/suite.go
  x/staking/client/cli/query.go
  x/staking/client/cli/query_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/slash.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/unbonding_test.go
  x/staking/keeper/val_state_change.go
  x/staking/module.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:CLI

#15665 ci: disable gosec G107 rule
  .github/workflows/gosec.yml
Labels: Type: CI

#15642 style: linter fixes for feegrant and upgrade
  x/feegrant/simulation/operations.go
  x/upgrade/internal/conv/string_test.go
  x/upgrade/keeper/grpc_query.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/module.go
  x/upgrade/plan/downloader_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:Simulations, C:x/upgrade, C:x/feegrant

#15667 fix(x/gov): Return ErrInvalidProposalContent in SubmitProposal when legacy handler returns an error. (backport #13051)
  CHANGELOG.md
  x/gov/keeper/proposal.go
Labels: C:x/gov

#15654 refactor(nft): remove global bech32
  tests/e2e/nft/test_helper.go
  x/feegrant/expected_keepers.go
  x/nft/client/cli/query.go
  x/nft/client/cli/query_test.go
  x/nft/expected_keepers.go
  x/nft/genesis.go
  x/nft/keeper/genesis.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/msg_server.go
  x/nft/module/module.go
  x/nft/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:CLI, A:automerge, C:x/nft

#15662 refactor(authz):remove global bech32
  tests/e2e/authz/query.go
  tests/e2e/authz/tx.go
  x/auth/keeper/bech32_codec.go
  x/auth/module.go
  x/authz/client/cli/query.go
  x/authz/client/cli/query_test.go
  x/authz/client/cli/tx.go
  x/authz/client/cli/tx_test.go
  x/authz/client/testutil/helpers.go
  x/authz/expected_keepers.go
  x/authz/keeper/genesis.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/grpc_query_test.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/module/abci_test.go
  x/authz/module/module.go
  x/authz/testutil/expected_keepers_mocks.go
Labels: C:CLI, C:x/auth, C:x/authz

#15671 refactor: remove aliases from types/math.go in bank module
  x/bank/app_test.go
  x/bank/client/cli/tx.go
  x/bank/client/cli/tx_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper_test.go
  x/bank/migrations/v2/json_test.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/store_test.go
  x/bank/migrations/v4/gen_state_test.go
  x/bank/simulation/genesis.go
  x/bank/types/balance_test.go
  x/bank/types/genesis_test.go
  x/bank/types/msgs_test.go
  x/bank/types/send_authorization_test.go
Labels: C:CLI, C:Simulations, C:x/bank, A:automerge

#15661 refactor(upgrade): remove global bech32
  simapp/app.go
  x/upgrade/abci_test.go
  x/upgrade/client/cli/parse_test.go
  x/upgrade/client/cli/tx.go
  x/upgrade/module.go
Labels: C:CLI, C:x/upgrade, A:automerge

#15676 refactor: remove aliases from types/math.go in evidence and feegrant
  x/evidence/types/expected_keepers.go
  x/feegrant/client/cli/tx_test.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/migrations/v2/store_test.go
  x/feegrant/module/abci_test.go
  x/feegrant/simulation/decoder_test.go
  x/feegrant/simulation/genesis.go
Labels: C:CLI, C:Simulations, C:x/evidence, A:automerge, C:x/feegrant

#15515 feat(x/tx): legacy amino json sign mode handler
  scripts/protocgen-pulsar.sh
  tests/go.mod
  tests/go.sum
  tests/integration/aminojson/aminojson_test.go
  x/auth/tx/legacy_amino_json.go
  x/tx/CHANGELOG.md
  x/tx/Makefile
  x/tx/internal/testpb/unknownproto.proto
  x/tx/internal/testpb/unknownproto.pulsar.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/internal/Makefile
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
  x/tx/signing/aminojson/internal/buf.lock
  x/tx/signing/aminojson/internal/buf.yaml
  x/tx/signing/std/handler_map.go
  x/tx/signing/testutil/util.go
Labels: C:x/auth, Type: Build, C:x/tx

#15606 refactor!: use store service in x/feegrant
  UPGRADING.md
  simapp/app.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/feegrant/CHANGELOG.md
  x/feegrant/basic_fee.go
  x/feegrant/expected_keepers.go
  x/feegrant/fees.go
  x/feegrant/filtered_fee.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/migrations.go
  x/feegrant/migrations/v2/store.go
  x/feegrant/migrations/v2/store_test.go
  x/feegrant/module/abci.go
  x/feegrant/module/abci_test.go
  x/feegrant/module/module.go
  x/feegrant/periodic_fee.go
  x/feegrant/testutil/expected_keepers_mocks.go
Labels: C:x/auth, A:automerge, C:x/feegrant

#15697 docs(gov): remove unimplemented section
  x/gov/README.md
Labels: C:x/gov, backport/v0.47.x

#15702 ci: backport docker job from main
  .github/workflows/docker.yml
  Dockerfile
Labels: Type: Build, Type: CI

#15696 style(x/nft): fix golanglint-ci suggestion
  x/nft/module/module.go
Labels: A:automerge, C:x/nft

#15674 refactor: remove aliases from types/math.go in crisis and distribution
  x/crisis/client/cli/tx_test.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/keeper/params_test.go
  x/crisis/types/genesis.go
  x/distribution/README.md
  x/distribution/client/cli/suite_test.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/params_test.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v3/json.go
  x/distribution/migrations/v3/json_test.go
  x/distribution/migrations/v3/migrate.go
  x/distribution/simulation/genesis.go
  x/distribution/simulation/genesis_test.go
  x/distribution/simulation/operations_test.go
  x/distribution/simulation/proposals.go
  x/distribution/simulation/proposals_test.go
  x/distribution/testutil/staking_helper.go
  x/distribution/types/delegator.go
  x/distribution/types/params.go
  x/distribution/types/params_internal_test.go
  x/distribution/types/params_test.go
  x/distribution/types/validator.go
Labels: C:CLI, C:x/distribution, C:Simulations, C:x/crisis

#15684 refactor(distribution): remove global bech32
  tests/e2e/distribution/suite.go
  x/distribution/client/cli/query.go
  x/distribution/client/cli/suite_test.go
  x/distribution/client/cli/tx.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/msg_server.go
  x/distribution/module.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/evidence/testutil/expected_keepers_mocks.go
Labels: C:CLI, C:x/distribution, C:x/evidence, A:automerge

#15716 ci: bump go version
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  store/internal/conv/string_test.go
Labels: C:Store, Type: CI

#15682 refactor(gov): remove global bech32
  tests/e2e/gov/deposits.go
  tests/e2e/gov/query.go
  x/gov/client/cli/query.go
  x/gov/client/cli/query_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/module.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/expected_keepers.go
Labels: C:CLI, C:x/gov, C:x/evidence, A:automerge

#15703 ci: use alpine in dockerfile
  .github/workflows/docker.yml
  Dockerfile
Labels: Type: Build, Type: CI, backport/v0.47.x

#15657 feat: emit more data in prom metrics
  CHANGELOG.md
  server/start.go
  x/upgrade/keeper/keeper.go
Labels: C:x/upgrade, A:automerge

#15714 fix(math): `FormatInt` returns error on empty string
  math/CHANGELOG.md
  math/int.go
  math/int_test.go
Labels: A:automerge

#15719 build: install necessary deps in docker
  Dockerfile
Labels: Type: Build, backport/v0.47.x

#15721 docs: Add Upgrading Section to ADR-064
  docs/architecture/adr-064-abci-2.0.md
Labels: Type: ADR

#15724 style: fix linting issues in store module
  store/cachekv/internal/mergeiterator.go
  store/iavl/tree_test.go
  store/internal/conv/string_test.go
  store/mem/store.go
  store/rootmulti/store.go
  store/types/store_test.go
Labels: C:Store, A:automerge

#15725 style: gofumpt client/v2 module
  client/v2/autocli/flag/binary.go
  client/v2/autocli/query_test.go
Labels: C:CLI, A:automerge

#15704 style: linting
  .golangci.yml
  CHANGELOG.md
  baseapp/baseapp.go
  client/grpc_query.go
  codec/proto_codec.go
  codec/types/any.go
  codec/types/any_internal_test.go
  codec/types/any_test.go
  codec/types/types_test.go
  crypto/hd/hdpath_test.go
  crypto/keys/multisig/amino.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/ledger/encode_test.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/gogoreflection/serverreflection.go
  server/mock/app.go
  server/mock/tx.go
  tests/integration/aminojson/aminojson_test.go
  types/coin_test.go
  types/context_test.go
  types/module/simulation.go
  types/utils.go
  x/auth/keeper/migrations.go
  x/auth/migrations/v3/store_test.go
  x/auth/signing/verify.go
  x/auth/tx/builder_test.go
  x/auth/tx/service.go
  x/authz/codec/cdc.go
  x/bank/types/codec.go
  x/consensus/types/codec.go
  x/crisis/types/codec.go
  x/distribution/keeper/msg_server.go
  x/genutil/module.go
  x/gov/keeper/msg_server_test.go
  x/gov/types/v1/msgs_test.go
  x/group/internal/math/dec_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/types/codec.go
  x/slashing/types/msg.go
  x/staking/module.go
  x/tx/signing/aminojson/aminojson_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/crisis, C:x/auth, A:automerge, C:x/genutil, C:x/authz, C:x/group, Type: CI, C:x/consensus, C:x/tx

#15726 style: address linter issues in depinject module
  depinject/container.go
  depinject/debug.go
  depinject/errors.go
  depinject/internal/codegen/value.go
  depinject/location.go
  depinject/provider_desc_test.go
Labels: A:automerge

#15722 chore: add circuit proto definitions
  api/cosmos/circuit/module/v1/module.pulsar.go
  api/cosmos/circuit/v1/query.pulsar.go
  api/cosmos/circuit/v1/query_grpc.pb.go
  api/cosmos/circuit/v1/tx.pulsar.go
  api/cosmos/circuit/v1/types.pulsar.go
  proto/cosmos/circuit/module/v1/module.proto
  proto/cosmos/circuit/v1/query.proto
  proto/cosmos/circuit/v1/tx.proto
  proto/cosmos/circuit/v1/types.proto
  x/circuit/types/query.pb.go
  x/circuit/types/query.pb.gw.go
  x/circuit/types/tx.pb.go
  x/circuit/types/types.pb.go
Labels: C:x/circuit

#14820 docs(collections): add documentation
  collections/README.md
Labels: C:collections

#15735 feat: optional validate basic
  CHANGELOG.md
  UPGRADING.md
  baseapp/baseapp.go
  baseapp/msg_service_router.go
  client/tx/tx.go
  tools/rosetta/converter.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  types/tx_msg.go
  x/authz/msgs.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/msgs.go
  x/genutil/client/cli/gentx.go
  x/genutil/types/genesis_state.go
  x/gov/keeper/proposal.go
  x/gov/types/v1/msgs.go
  x/group/msgs.go
Labels: C:CLI, C:x/gov, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:Rosetta, C:x/group, C:x/circuit

#15730 fix: x/tx/signing/textual/IntValueRenderer.Parse: gracefully handle "" + fuzz
  x/tx/CHANGELOG.md
  x/tx/signing/textual/fuzz_test.go
  x/tx/signing/textual/int.go
Labels: C:x/tx

#15737 style: fix linter issues in x/upgrade
  x/upgrade/module.go
Labels: C:x/upgrade

#15727 style: rename to ModuleInputs to fix lint issue
  x/distribution/module.go
  x/evidence/module.go
Labels: C:x/distribution, C:x/evidence, A:automerge

#15742 style!: rename direct_aux package to directaux
  x/tx/CHANGELOG.md
  x/tx/signing/directaux/direct_aux.go
  x/tx/signing/directaux/direct_aux_test.go
  x/tx/signing/std/handler_map.go
Labels: C:x/tx

#15749 refactor: create TxConfig directly in simulations
  types/module/testutil/codec.go
  x/bank/app_test.go
  x/bank/bench_test.go
  x/bank/simulation/operations.go
  x/gov/simulation/operations.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:Simulations, C:x/bank

#15751 refactor(crisis): move `ValidateBasic`logic to `msgServer`
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/types/msgs.go
Labels: C:x/crisis

#15752 refactor(upgrade): move `ValidateBasic` logic to `msgServer`
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/keeper/msg_server.go
  x/upgrade/keeper/msg_server_test.go
  x/upgrade/types/msgs.go
  x/upgrade/types/msgs_test.go
Labels: C:x/upgrade

#15736 docs: render orm and collections in docs
  docs/.gitignore
  docs/architecture/_category_.json
  docs/docs/building-apps/01-app-go-v2.md
  docs/docs/building-modules/15-depinject.md
  docs/docs/building-modules/16-testing.md
  docs/docs/ecosystem/README.md
  docs/docs/packages/README.md
  docs/docs/packages/_category_.json
  docs/docs/tooling/README.md
  docs/docs/tooling/_category_.json
  docs/docusaurus.config.js
  docs/post.sh
  docs/pre.sh
  docs/rfc/_category_.json
  docs/spec/_category_.json
Labels: Type: ADR

#15753 refactor(evidence): move `ValidateBasic` logic to `msgServer`
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/keeper/msg_server.go
  x/evidence/keeper/msg_server_test.go
  x/evidence/types/msgs.go
  x/evidence/types/msgs_test.go
Labels: C:x/evidence, A:automerge

#15754 refactor(authz): move `ValidateBasic` logic to `msgServer`
  tests/e2e/authz/grpc.go
  tests/e2e/authz/query.go
  tests/e2e/authz/tx.go
  x/authz/authorization_grant.go
  x/authz/client/cli/tx.go
  x/authz/client/cli/tx_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/msgs.go
  x/authz/msgs_test.go
  x/feegrant/keeper/msg_server.go
Labels: C:CLI, A:automerge, C:x/feegrant, C:x/authz

#15758 refactor(consensus): move `ValidateBasic` logic to `msgServer`
  x/consensus/keeper/keeper.go
  x/consensus/types/msgs.go
Labels: C:x/consensus

#15762 fix: x/tx/signing/textual: use standardized Timestamp+Duration comparators in tests
  x/tx/signing/textual/duration_test.go
  x/tx/signing/textual/fuzz_test.go
  x/tx/signing/textual/testdata/fuzz/FuzzIntValueRendererParse/5838cdfae7b16cde
  x/tx/signing/textual/testdata/fuzz/FuzzIntValueRendererParse/e521654378d1371f
  x/tx/signing/textual/testdata/fuzz/FuzzTimestampJSON/7fee543ff80f1279
  x/tx/signing/textual/timestamp_test.go
Labels: C:x/tx

#15738 refactor: update store to 0.38 comet
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/streaming/abci/grpc_grpc.pb.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  api/tendermint/abci/types.pulsar.go
  api/tendermint/abci/types_grpc.pb.go
  api/tendermint/types/params.pulsar.go
  api/tendermint/types/types.pulsar.go
  api/tendermint/types/validator.pulsar.go
  proto/cosmos/store/streaming/abci/grpc.proto
  proto/cosmos/store/v1beta1/listening.proto
  store/go.mod
  store/go.sum
  store/internal/conv/string_test.go
  store/streaming/abci/examples/file/file.go
  store/streaming/abci/examples/stdout/stdout.go
  store/streaming/abci/grpc.go
  store/streaming/abci/grpc.pb.go
  store/streaming/streaming_test.go
  store/types/listening.pb.go
  store/types/streaming.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:Store, Type: Build

#15750 style: comment not-yet-used fields for linter, x/circuit
  x/circuit/keeper/test_utils.go
Labels: A:automerge, C:x/circuit

#15757 docs: simplifying categories
  docs/docs/README.md
  docs/docs/ecosystem/README.md
  docs/docs/ecosystem/_category_.json
  docs/docusaurus.config.js
  docs/rfc/_category_.json
  docs/sidebars.js
  docs/spec/README.md
  docs/spec/_category_.json
  docs/spec/circuit-breaker/README.md
  docs/spec/reserve-pool/README.md
  docs/spec/store/interblock-cache.md
  tools/cosmovisor/README.md
  x/README.md
  x/distribution/README.md
Labels: T: Docs, C:x/distribution, C:Cosmovisor

#15759 refactor(nft): move `ValidateBasic` logic to `msgServer`
  x/nft/client/cli/tx.go
  x/nft/client/cli/tx_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/nft/keeper/msg_server.go
  x/nft/keeper/msg_server_test.go
  x/nft/msgs.go
Labels: C:CLI, A:automerge, C:x/nft

#15760 refactor(mint): move `ValidateBasic` logic to `msgServer`
  x/mint/keeper/msg_server.go
  x/mint/keeper/msg_server_test.go
  x/mint/types/msgs.go
Labels: C:x/mint, A:automerge

#15748 style!: lint fixes for x/tx
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/integration/aminojson/aminojson_test.go
  x/auth/tx/textual.go
  x/tx/CHANGELOG.md
  x/tx/decode/unknown_test.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/direct/direct.go
  x/tx/signing/direct/direct_test.go
  x/tx/signing/directaux/direct_aux.go
  x/tx/signing/directaux/direct_aux_test.go
  x/tx/signing/get_signers.go
  x/tx/signing/signer_data.go
  x/tx/signing/testutil/util.go
  x/tx/signing/textual/any_test.go
  x/tx/signing/textual/bytes_test.go
  x/tx/signing/textual/coin_test.go
  x/tx/signing/textual/coins_test.go
  x/tx/signing/textual/dec_test.go
  x/tx/signing/textual/duration.go
  x/tx/signing/textual/e2e_test.go
  x/tx/signing/textual/encode_test.go
  x/tx/signing/textual/enum_test.go
  x/tx/signing/textual/fuzz_test.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/int_test.go
  x/tx/signing/textual/message_test.go
  x/tx/signing/textual/repeated_test.go
  x/tx/signing/textual/string_test.go
  x/tx/signing/textual/timestamp_test.go
  x/tx/signing/textual/tx_test.go
Labels: C:x/auth, C:x/tx

#15683 feat: More flexibility for `CacheMultiStoreWithVersion`
  store/CHANGELOG.md
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: C:Store, A:automerge, backport/0.46.x, backport/v0.47.x

#15414 feat(x/tx): tx decoder
  tests/integration/aminojson/aminojson_test.go
  tests/integration/rapidgen/rapidgen.go
  tests/integration/tx/.gitignore
  tests/integration/tx/decode_test.go
  x/tx/CHANGELOG.md
  x/tx/decode/adr027.go
  x/tx/decode/decode.go
  x/tx/decode/decode_test.go
  x/tx/decode/errors.go
Labels: C:x/tx

#15755 refactor(distribution): move `ValidateBasic` logic to `msgServer`
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  proto/cosmos/distribution/v1beta1/tx.proto
  tests/go.mod
  tests/go.sum
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/common_test.go
  x/distribution/types/msg.go
  x/distribution/types/msg_test.go
  x/distribution/types/tx.pb.go
Labels: C:x/distribution

#15327 refactor(bank): move bank balances to use collections
  baseapp/block_gas_test.go
  client/rpc/rpc_test.go
  fuzz/tests/x_bank_types_addressfrombalancesstore_test.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/bank/keeper/deterministic_test.go
  testutil/context.go
  types/collections.go
  types/collections_test.go
  types/query/collections_pagination.go
  types/query/collections_pagination_test.go
  types/query/pagination_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/migrations/v2/store.go
  x/bank/migrations/v2/store_test.go
  x/bank/migrations/v3/store.go
  x/bank/migrations/v3/store_test.go
  x/bank/types/keys.go
  x/bank/types/keys_test.go
  x/circuit/go.mod
Labels: C:CLI, C:x/bank, C:x/circuit

#15771 docs: update ADR-064
  docs/architecture/adr-064-abci-2.0.md
Labels: Type: ADR

#15779 feat: add Context as arg to NewIntegrationApp
  testutil/integration/example_test.go
  testutil/integration/router.go
  x/tx/decode/decode_test.go
Labels: A:automerge, C:x/tx

#15789 fix: use initialHeight correctly
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
Labels: backport/v0.47.x

#15788 test(store): ensure busy manager goroutine is finished
  store/snapshots/helpers_test.go
Labels: C:Store, A:automerge

#15795 fix: slack channel
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
Labels: A:automerge, Type: CI

#15791 fix: test sometimes receives an error string containing unicode
  x/tx/decode/unknown_test.go
Labels: C:x/tx

#15799 ci: set desired times for dependabot scheduling
  .github/dependabot.yml
Labels: Type: CI

#15798 ci: ensure checkout action happens before setup-go
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
Labels: A:automerge, Type: CI

#15793 refactor(slashing): move `ValidateBasic` logic to `msgServer`
  x/slashing/keeper/msg_server.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/params.go
  x/slashing/keeper/params_test.go
  x/slashing/types/msg.go
Labels: C:x/slashing, A:automerge

#15784 refactor(auth): make params state use collections
  x/auth/keeper/keeper.go
  x/auth/keeper/params.go
  x/auth/keeper/params_test.go
  x/auth/types/keys.go
Labels: C:x/auth, A:automerge

#15810 chore: revert comet test skips
  client/rpc/rpc_test.go
Labels: C:CLI

#15756 style: general linting
  orm/model/ormdb/module_test.go
  orm/types/ormerrors/errors.go
  simapp/internal/testnet/cometrpc_test.go
  testutil/testnet/cometstarter.go
  testutil/testnet/genesis.go
  testutil/testnet/genesis_test.go
  x/authz/keeper/msg_server_test.go
  x/crisis/types/genesis.go
  x/distribution/types/validator.go
  x/gov/module.go
Labels: C:x/gov, C:x/distribution, C:x/crisis, A:automerge, C:x/authz, C:orm, C:x/tx

#15786 refactor(auth,vesting): move `ValidateBasic` logic to `msgServer`
  CHANGELOG.md
  x/auth/keeper/keeper.go
  x/auth/keeper/msg_server.go
  x/auth/types/msgs.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/msgs.go
  x/crisis/keeper/msg_server.go
  x/distribution/keeper/params.go
  x/distribution/keeper/params_test.go
  x/gov/keeper/params.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/msg_server.go
  x/upgrade/keeper/msg_server.go
  x/upgrade/keeper/msg_server_test.go
Labels: C:x/gov, C:x/distribution, C:x/mint, C:x/crisis, C:x/auth, C:x/upgrade, A:automerge, C:x/authz

#15688 docs(depinject): update depinject docs with more context
  depinject/README.md
Labels: A:automerge

#15709 feat(x/tx)!: support validator address signers
  tests/go.mod
  tests/go.sum
  x/tx/CHANGELOG.md
  x/tx/decode/decode.go
  x/tx/decode/decode_test.go
  x/tx/internal/testpb/signers.proto
  x/tx/internal/testpb/signers.pulsar.go
  x/tx/signing/context.go
  x/tx/signing/context_test.go
  x/tx/signing/directaux/direct_aux.go
  x/tx/signing/directaux/direct_aux_test.go
  x/tx/signing/get_signers.go
  x/tx/signing/get_signers_test.go
Labels: C:x/slashing, C:x/tx

#15819 ci: lint all modules even if one module fails
  Makefile
  scripts/go-lint-all.bash
  scripts/go-lint-all.sh
Labels: Type: Build

#15782 refactor(x/bank): move validate basic checks to msg server
  x/authz/keeper/msg_server_test.go
  x/bank/app_test.go
  x/bank/client/cli/tx.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_server_test.go
  x/bank/keeper/msg_service_test.go
  x/bank/types/inputs_outputs.go
  x/bank/types/msgs.go
  x/bank/types/msgs_test.go
Labels: C:CLI, C:x/bank, A:automerge, C:x/authz

#15811 feat: add valset change and block info service to runtime
  docs/architecture/adr-063-core-module-api.md
  runtime/services.go
Labels: A:automerge, Type: ADR

#15808 perf: x/tx/signing/textual: remove unnecessary,expensive regex from method
  x/tx/signing/textual/bench_test.go
  x/tx/signing/textual/message.go
Labels: A:automerge, C:x/tx

#15816 style: lint the client folder in the repo root
  client/broadcast.go
  client/broadcast_test.go
  client/context_test.go
  client/grpc/cmtservice/service.go
  client/keys/add.go
  client/tx/aux_builder.go
  client/tx/tx_test.go
Labels: C:CLI, C:Keys

#15763 test(client): add a fuzz test for QueryBalance
  client/fuzz_test.go
  client/grpc_query_test.go
  client/testdata/fuzz/FuzzQueryBalance/4bf93f2225e526ac
Labels: C:CLI, A:automerge

#15712 feat(store): add working hash
  store/CHANGELOG.md
  store/iavl/store.go
  store/iavl/tree.go
  store/mem/store.go
  store/rootmulti/dbadapter.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/transient/store.go
  store/types/store.go
Labels: C:Store, A:automerge

#15569 test(x/distribution): write integration tests
  tests/integration/distribution/keeper/allocation_test.go
  tests/integration/distribution/keeper/common_test.go
  tests/integration/distribution/keeper/delegation_test.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/keeper_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  testutil/integration/example_test.go
  testutil/integration/router.go
  x/distribution/keeper/grpc_query.go
Labels: C:x/distribution, A:automerge

#15825 refactor(evidence): remove bech32 global
  simapp/app.go
  x/evidence/CHANGELOG.md
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/msg_server.go
  x/evidence/keeper/msg_server_test.go
  x/evidence/module.go
Labels: C:x/evidence, A:automerge

#15824 refactor(genutil,group,mint): remove aliases from types/math.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/group/client/cli/tx_test.go
  x/group/module/abci_test.go
  x/mint/README.md
  x/mint/keeper/genesis_test.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/msg_server_test.go
  x/mint/simulation/genesis.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/proposals.go
  x/mint/simulation/proposals_test.go
  x/mint/types/expected_keepers.go
  x/mint/types/genesis.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
Labels: C:CLI, C:x/mint, C:Simulations, A:automerge, C:x/genutil, C:x/group

#15833 ci: short term reduction in sims
  simapp/sim_test.go
Labels: A:automerge

#15138 fix(orm)!: duration encoding doesn't handle nil values properly
  orm/CHANGELOG.md
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/duration_test.go
  orm/encoding/ormfield/timestamp.go
  orm/encoding/ormfield/timestamp_test.go
  orm/internal/testpb/test_schema.cosmos_orm.go
  orm/internal/testpb/test_schema.pb.go
  orm/internal/testpb/test_schema.proto
  orm/internal/testpb/test_schema_query.pb.go
  orm/internal/testpb/test_schema_query.proto
  orm/internal/testpb/test_schema_query_grpc.pb.go
  orm/internal/testutil/testutil.go
  orm/model/ormtable/duration_test.go
  orm/model/ormtable/table_test.go
  orm/model/ormtable/timestamp_test.go
Labels: C:orm

#15826 refactor(auth): remove bech32 global from auth
  CHANGELOG.md
  simapp/simd/cmd/root.go
  tests/e2e/auth/suite.go
  x/auth/client/cli/query.go
  x/auth/client/cli/suite_test.go
  x/auth/client/testutil/helpers.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/grpc_query.go
  x/auth/module.go
Labels: C:CLI, C:x/auth, A:automerge

#15844 refactor: remove duplicate vesting tests
  tests/e2e/auth/vesting/cli_test.go
  tests/e2e/auth/vesting/suite.go
  x/auth/vesting/client/cli/test.json
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/cli/tx_test.go
Labels: C:x/auth

#15820 refactor(staking): add missing msgServer tests and move ValidateBasic() logic to msgServer
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/msg_server_test.go
  testutil/testnet/genesis.go
  x/distribution/testutil/staking_helper.go
  x/staking/client/cli/tx.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/params.go
  x/staking/testutil/helpers.go
  x/staking/types/data_test.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
Labels: C:x/staking, C:CLI, C:x/distribution

#15847 ci: add `merge_queue` trigger for required workflows
  .github/workflows/build.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: Type: CI

#15707 refactor(groups): remove global bech32
  server/mock/store.go
  tests/e2e/group/query.go
  tests/e2e/group/tx.go
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/expected_keepers.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/module/abci_test.go
  x/group/module/module.go
  x/group/testutil/expected_keepers_mocks.go
  x/mint/testutil/expected_keepers_mocks.go
Labels: C:CLI, C:x/mint, C:x/evidence, A:automerge, C:x/feegrant, C:x/group

#15849 fix(x/tx): fix int64 usage for 32 bit platforms
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/time.go
Labels: C:x/tx

#15550 chore: Audit Textual `any`, `coins`, `message`
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  x/tx/signing/textual/any.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/internal/testdata/coin.json
  x/tx/signing/textual/types.go
Labels: Type: ADR, C:x/tx

#15848 fix: remove unnecessary migration
  x/auth/migrations/v5/doc.go
  x/auth/module.go
Labels: C:x/auth

#15858 chore(collections): release v0.1.0
  collections/CHANGELOG.md
Labels: C:collections

#15832 refactor(x/gov): move `ValidateBasic` to msg server
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/msgs_test.go
Labels: C:x/gov

#15843 abci: integrate endblocker
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  baseapp/abci.go
  baseapp/baseapp.go
  go.mod
  go.sum
  proto/cosmos/base/abci/v1beta1/abci.proto
  runtime/app.go
  runtime/types.go
  store/streaming/abci/grpc.pb.go
  store/types/listening.pb.go
  types/abci.go
  types/abci.pb.go
  types/module/module.go
  x/auth/migrations/v2/store.go
  x/authz/simulation/operations_test.go
  x/bank/simulation/operations_test.go
  x/staking/app_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/staking, C:Simulations, C:Store, C:x/bank, C:x/auth, C:x/upgrade, C:x/authz

#15867 chore: Better logging for signature verification failure
  CHANGELOG.md
  x/auth/ante/sigverify.go
Labels: C:x/auth

#15852 refactor(crisis & vesting): remove global bech32
  CHANGELOG.md
  simapp/app.go
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/cli/tx_test.go
  x/auth/vesting/module.go
  x/auth/vesting/msg_server.go
  x/crisis/keeper/genesis_test.go
  x/crisis/keeper/keeper.go
  x/crisis/keeper/keeper_test.go
  x/crisis/keeper/msg_server.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/module.go
Labels: C:x/crisis, C:x/auth

#15785 refactor(group): move `ValidateBasic` logic to `msgServer`
  tests/e2e/group/tx.go
  x/authz/keeper/msg_server.go
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/client/cli/util.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_test.go
  x/group/msgs.go
  x/group/msgs_test.go
  x/group/types.go
  x/group/typesupport.go
Labels: C:CLI, C:x/authz, C:x/group

#15863 feat:(textual) Add bool value renderer
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  x/tx/signing/textual/bool.go
  x/tx/signing/textual/bool_test.go
  x/tx/signing/textual/handler.go
Labels: Type: ADR, C:x/tx

#15862 build: use cosmos/gogoproto@v1.4.8 for optimized registry merge
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  orm/go.mod
  orm/go.sum
  runtime/services/reflection.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, C:orm, C:Confix, C:x/circuit, C:x/tx, C:Hubl

#15872 refactor: update x/bank to comet v0.38
  x/bank/app_test.go
  x/bank/bench_test.go
Labels: C:x/bank

#15880 docs(depinject): explain need `appmodule.Module` interface
  docs/docs/building-modules/15-depinject.md
Labels: backport/v0.47.x

#15875 refactor!: instantiate client.TxConfig once for simulations
  CHANGELOG.md
  simapp/app.go
  testutil/sims/simulation_helpers.go
  types/module/simulation.go
  x/authz/module/module.go
  x/authz/simulation/operations.go
  x/authz/simulation/operations_test.go
  x/bank/module.go
  x/bank/simulation/operations.go
  x/bank/simulation/operations_test.go
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/operations_test.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/module/module.go
  x/feegrant/simulation/operations.go
  x/feegrant/simulation/operations_test.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/group/module/module.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/nft/module/module.go
  x/nft/simulation/operations.go
  x/nft/simulation/operations_test.go
  x/slashing/module.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/operations_test.go
  x/staking/module.go
  x/staking/simulation/operations.go
  x/staking/simulation/operations_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations, C:x/bank, C:x/feegrant, C:x/authz, C:x/group, C:x/nft

#15882 test: fix module cli tests
  tests/e2e/distribution/suite.go
  x/auth/client/cli/suite_test.go
  x/authz/client/cli/tx_test.go
  x/bank/client/cli/query_test.go
  x/bank/client/cli/tx_test.go
  x/crisis/client/cli/tx_test.go
  x/distribution/client/cli/query_test.go
  x/distribution/client/cli/tx_test.go
  x/distribution/client/cli/util_test.go
  x/distribution/client/testutil/helpers.go
  x/evidence/client/cli/query_test.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/client/cli/tx_test.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/genutil/client/cli/gentx_test.go
  x/gov/client/cli/tx_test.go
  x/group/client/cli/tx_test.go
  x/nft/client/cli/tx_test.go
  x/nft/go.mod
  x/nft/go.sum
  x/slashing/client/cli/query_test.go
  x/slashing/client/cli/tx_test.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/tx_test.go
  x/upgrade/client/cli/tx_test.go
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft

#15884 test: print full module name for headers during 'make test'
  Makefile
Labels: Type: Build

#15876 fix: list keys output for empty keys
  CHANGELOG.md
  client/keys/list.go
Labels: C:CLI, C:Keys, backport/v0.47.x

#15885 ci: run orm tests
  .github/workflows/test.yml
  orm/sonar-project.properties
Labels: C:orm, Type: CI

#15822 refactor!: use x/tx/signing in client.TxConfig
  .gitignore
  CHANGELOG.md
  UPGRADING.md
  baseapp/block_gas_test.go
  baseapp/msg_service_router_test.go
  baseapp/testutil/messages.pb.go
  baseapp/testutil/messages.proto
  client/tx/tx.go
  client/tx/tx_test.go
  client/tx_config.go
  go.mod
  go.sum
  server/grpc/server.go
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  tests/e2e/auth/suite.go
  tests/e2e/authz/tx.go
  tests/e2e/feegrant/suite.go
  tests/e2e/group/tx.go
  tests/go.mod
  tests/go.sum
  testutil/sims/tx_helpers.go
  testutil/testdata/testpb/tx.proto
  testutil/testdata/testpb/tx.pulsar.go
  testutil/testdata/tx.pb.go
  testutil/testnet/genesis.go
  tools/rosetta/converter.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  types/registry/registry.go
  x/auth/ante/ante.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/signing/verify.go
  x/auth/tx/aux_test.go
  x/auth/tx/config.go
  x/auth/tx/config/config.go
  x/auth/tx/config/textual.go
  x/auth/tx/direct_test.go
  x/auth/tx/mode_handler.go
  x/auth/tx/testutil/suite.go
  x/authz/client/cli/tx_test.go
  x/group/client/cli/tx_test.go
Labels: C:CLI, C:x/auth, C:x/authz, C:Rosetta, C:x/group, C:x/tx

#15710 fix!: correctly annotate validator and consensus address fields
  api/cosmos/distribution/v1beta1/distribution.pulsar.go
  api/cosmos/distribution/v1beta1/genesis.pulsar.go
  api/cosmos/distribution/v1beta1/query.pulsar.go
  api/cosmos/distribution/v1beta1/tx.pulsar.go
  api/cosmos/orm/module/v1alpha1/module.pulsar.go
  api/cosmos/slashing/v1beta1/genesis.pulsar.go
  api/cosmos/slashing/v1beta1/slashing.pulsar.go
  api/cosmos/slashing/v1beta1/tx.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  proto/cosmos/distribution/v1beta1/distribution.proto
  proto/cosmos/distribution/v1beta1/genesis.proto
  proto/cosmos/distribution/v1beta1/query.proto
  proto/cosmos/distribution/v1beta1/tx.proto
  proto/cosmos/slashing/v1beta1/genesis.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  proto/cosmos/slashing/v1beta1/tx.proto
  proto/cosmos/staking/v1beta1/tx.proto
  x/distribution/types/distribution.pb.go
  x/distribution/types/genesis.pb.go
  x/distribution/types/query.pb.go
  x/distribution/types/tx.pb.go
  x/slashing/types/genesis.pb.go
  x/slashing/types/slashing.pb.go
  x/slashing/types/tx.pb.go
  x/staking/types/tx.pb.go
Labels: C:x/staking, C:x/slashing, C:x/distribution

#15835 test(sims): fix sim-import-export and improve sims
  CHANGELOG.md
  simapp/app.go
  simapp/sim_test.go
  testutil/sims/simulation_helpers.go
  testutil/sims/simulation_helpers_test.go
  x/slashing/simulation/decoder.go
  x/slashing/simulation/decoder_test.go
Labels: C:x/slashing, C:Simulations

#15899 refactor(baseapp): abci2.0
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/orm/module/v1alpha1/module.pulsar.go
  baseapp/abci.go
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/baseapp_test.go
  baseapp/block_gas_test.go
  baseapp/grpcrouter_helpers.go
  baseapp/msg_service_router_test.go
  baseapp/streaming_test.go
  client/grpc_query_test.go
  proto/cosmos/base/abci/v1beta1/abci.proto
  simapp/go.mod
  simapp/go.sum
  store/go.sum
  store/iavl/store.go
  store/iavl/store_test.go
  store/rootmulti/proof_test.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/errors.go
  store/types/store.go
  tests/go.mod
  tests/go.sum
  types/abci.go
  types/abci.pb.go
  types/result_test.go
Labels: C:CLI, C:Store

#15909 test: rewrite group tx e2e tests as unit tests
  tests/e2e/group/cli_test.go
  tests/e2e/group/query.go
  tests/e2e/group/suite.go
  x/group/keeper/msg_server_test.go
Labels: C:x/group

#15715 chore: signmode textual audit fixes
  x/tx/signing/textual/any.go
  x/tx/signing/textual/bytes.go
  x/tx/signing/textual/bytes_test.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/dec.go
  x/tx/signing/textual/duration.go
  x/tx/signing/textual/enum.go
  x/tx/signing/textual/handler.go
  x/tx/signing/textual/int.go
  x/tx/signing/textual/int_test.go
  x/tx/signing/textual/internal/cbor/cbor.go
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/message.go
  x/tx/signing/textual/string.go
  x/tx/signing/textual/timestamp.go
  x/tx/signing/textual/tx.go
Labels: Type: ADR, C:x/tx

#15898 feat(codec): Add collections value codec for interfaces.
  codec/collections.go
  codec/collections_test.go
  collections/README.md
Labels: C:collections

#15845 refactor(abci): add msg index to event
  CHANGELOG.md
  UPGRADING.md
  baseapp/abci_test.go
  baseapp/baseapp.go
  baseapp/streaming_test.go
  docs/docs/core/08-events.md
  tests/e2e/auth/suite.go
  tests/e2e/group/suite.go
  tests/e2e/staking/suite.go
  tests/e2e/tx/service_test.go
Labels: C:baseapp, T: Client UX

#15731 refactor: add delegations by validator index
  CHANGELOG.md
  tests/integration/staking/keeper/determinstic_test.go
  tests/integration/staking/keeper/validator_bench_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/migrations.go
  x/staking/migrations/v5/keys.go
  x/staking/migrations/v5/migrations_test.go
  x/staking/migrations/v5/store.go
  x/staking/types/keys.go
Labels: C:x/staking

#15889 WIP on comet block info
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/info.go
  core/comet/doc.go
  core/comet/service.go
  core/header/service.go
  runtime/module.go
  runtime/services.go
  tests/integration/evidence/keeper/infraction_test.go
  types/context.go
  x/evidence/testutil/expected_keepers_mocks.go
Labels: C:x/evidence

#15932 refactor(x/auth): doc and remove deprecated fn from #15822
  x/auth/tx/config.go
Labels: C:x/auth

#15934 fix: benchmarks broken in 15818
  x/auth/keeper/keeper_bench_test.go
  x/evidence/genesis_test.go
Labels: C:x/auth, C:x/evidence

#15871 feat(x/tx): API improvements
  x/tx/signing/handler_map.go
  x/tx/signing/handler_map_test.go
  x/tx/signing/textual/handler.go
Labels: C:x/tx

#15902 refactor(staking, slashing, signing, misc): remove aliases from types/math.go
  server/grpc/gogoreflection/fix_registration.go
  types/bench_test.go
  types/coin_test.go
  types/dec_coin_test.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/tally.go
  x/gov/simulation/genesis.go
  x/params/keeper/keeper_test.go
  x/slashing/client/cli/tx_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/params.go
  x/slashing/simulation/genesis.go
  x/slashing/simulation/genesis_test.go
  x/slashing/simulation/operations_test.go
  x/slashing/simulation/proposals.go
  x/slashing/simulation/proposals_test.go
  x/slashing/types/expected_keepers.go
  x/slashing/types/params.go
  x/staking/bench_test.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/utils.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/invariants.go
  x/staking/keeper/pool.go
  x/staking/keeper/power_reduction_test.go
  x/staking/keeper/slash.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/common_test.go
  x/staking/simulation/genesis.go
  x/staking/simulation/operations_test.go
  x/staking/simulation/proposals.go
  x/staking/simulation/proposals_test.go
  x/staking/types/commission.go
  x/staking/types/commission_test.go
  x/staking/types/delegation.go
  x/staking/types/delegation_test.go
  x/staking/types/expected_keepers.go
  x/staking/types/exported.go
  x/staking/types/hooks.go
  x/staking/types/msg.go
  x/staking/types/params.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
  x/tx/signing/textual/dec.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:Simulations, C:x/params, C:x/tx

#15906 fix(autocli): fix simapp enhancing
  api/cosmos/autocli/v1/options.pulsar.go
  client/cmd.go
  client/v2/CHANGELOG.md
  client/v2/README.md
  client/v2/autocli/app.go
  client/v2/autocli/common.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/go.mod
  docs/docs/building-modules/10-autocli.md
  docs/docs/building-modules/11-structure.md
  proto/cosmos/autocli/v1/options.proto
  server/util.go
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  tests/e2e/nft/query.go
  tests/e2e/nft/test_helper.go
  tests/e2e/nft/tx.go
  tests/go.mod
  tests/go.sum
  types/module/module.go
  x/auth/autocli.go
  x/nft/client/cli/query.go
  x/nft/client/cli/query_test.go
  x/nft/module/autocli.go
  x/nft/module/module.go
Labels: C:CLI, C:x/auth, C:Cosmovisor, C:Rosetta, C:x/nft, C:Confix, C:x/circuit, C:Hubl

#15908 feat: update the slashing and evidence modules to work with ICS
  CHANGELOG.md
  x/evidence/keeper/infraction.go
  x/slashing/keeper/infractions.go
Labels: C:x/slashing, C:x/evidence, backport/v0.47.x

#15943 fix: unique constraint violation for group policy sim genesis
  simapp/sim_test.go
  x/group/simulation/genesis.go
  x/simulation/client/cli/flags.go
Labels: C:CLI, C:Simulations, C:x/group, backport/v0.47.x

#15955 build(deps): bump cometbft to v0.37.1
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:Rosetta, C:x/nft, backport/v0.47.x, C:Confix, C:x/circuit, C:Hubl

#15954 feat(hubl): cache bech32 prefix
  client/v2/autocli/app.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  codec/address/bech32_codec.go
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/hubl/internal/config.go
  tools/hubl/internal/load.go
  tools/hubl/internal/remote.go
  x/auth/keeper/bech32_codec.go
Labels: C:CLI, C:x/auth, C:Hubl

#15910 refactor(x/auth): v2 adaptable tx instead of double decode
  client/tx/tx.go
  testutil/sims/tx_helpers.go
  testutil/testnet/genesis.go
  tools/rosetta/converter.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify.go
  x/auth/signing/adapter.go
  x/auth/signing/verify.go
  x/auth/tx/adapter.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/direct_test.go
  x/auth/tx/testutil/suite.go
Labels: C:CLI, C:x/auth, C:Rosetta

#15965 ci: skip fix registration for linting
  .github/workflows/test.yml
  .golangci.yml
Labels: Type: CI

#15948 refactor(x/distribution)!: Use KVStoreService, context.Context and return errors instead of panic
  CHANGELOG.md
  UPGRADING.md
  server/grpc/gogoreflection/fix_registration.go
  simapp/app.go
  simapp/export.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/README.md
  x/distribution/keeper/alias_functions.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/fee_pool.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/migrations.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/params.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v2/store.go
  x/distribution/migrations/v2/store_test.go
  x/distribution/migrations/v3/migrate.go
  x/distribution/migrations/v3/migrate_test.go
  x/distribution/module.go
  x/distribution/simulation/operations.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/expected_keepers.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:Simulations

#15928 test(x/slashing): write integration tests
  tests/e2e/slashing/cli_test.go
  tests/e2e/slashing/grpc.go
  tests/e2e/slashing/suite.go
  tests/integration/slashing/keeper/keeper_test.go
  x/slashing/abci_test.go
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/testutil/val_init_helpers.go
Labels: C:x/slashing

#15873 refactor(codec)!: update codec to x/tx v0.6.0
  CHANGELOG.md
  codec/amino_codec.go
  codec/codec.go
  codec/codec_common_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  codec/types/interface_registry.go
  go.mod
  go.sum
  runtime/module.go
  simapp/app.go
  simapp/export.go
  simapp/go.mod
  simapp/go.sum
  simapp/simd/cmd/root.go
  tests/go.mod
  tests/go.sum
  tests/integration/tx/decode_test.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  x/auth/ante/sigverify_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/codec/bech32_codec.go
  x/auth/keeper/keeper.go
  x/auth/module.go
  x/auth/tx/config.go
  x/auth/tx/config/config.go
  x/auth/tx/mode_handler.go
  x/gov/migrations/v3/convert.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/tx.pb.go
  x/gov/types/v1beta1/gov.pb.go
  x/gov/types/v1beta1/tx.pb.go
  x/tx/CHANGELOG.md
  x/tx/signing/context.go
Labels: C:CLI, C:x/gov, C:x/auth, C:Rosetta, C:x/tx

#15973 build(deps): bump cometbft to v0.34.28
  CHANGELOG.md
  Makefile
  RELEASE_NOTES.md
  go.mod
  go.sum
Labels: Type: Build

#15979 chore(gov): improve proposal conversion error message
  CHANGELOG.md
  x/gov/migrations/v3/convert.go
Labels: C:x/gov, backport/0.46.x, backport/v0.47.x

#15967 build(deps): ics23 bump to cosmos in store
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  store/iavl/store.go
  store/internal/proofs/convert.go
  store/internal/proofs/create.go
  store/internal/proofs/create_test.go
  store/types/proof.go
  tests/go.mod
  tests/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Labels: C:Store, C:Rosetta

#15983 chore: rename comet logger wrapper
  server/api/server.go
  server/log/cmt_logger.go
  server/start.go
  testutil/network/util.go
  testutil/testnet/cometstarter.go
  x/genutil/client/cli/init_test.go
Labels: C:CLI, C:x/genutil

#15968 test(auth): make test not depend on hard-coded account numbers
  x/auth/ante/ante_test.go
  x/auth/ante/testutil_test.go
Labels: C:x/auth

#15989 feat(errors): Add ErrStopIterating
  errors/CHANGELOG.md
  errors/errors.go
Labels: C:errors

#15992 feat: support extension options for build tx
  CHANGELOG.md
  client/tx/factory.go
  client/tx/tx_test.go
  client/tx_config.go
  types/module/testutil/codec.go
Labels: C:CLI
