Repository cosmos/cosmos-sdk, pull requests merged in 2024-06, with the labels that each got.

#20517 feat(x/bank): Placing SendRestriction before Deduction of Coins in SendCoins
  x/bank/CHANGELOG.md
  x/bank/README.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Labels: C:x/bank

#20502 refactor(x/authz): set environment in context
  UPGRADING.md
  core/context/context.go
  x/authz/CHANGELOG.md
  x/authz/keeper/keeper.go
  x/authz/keys.go
  x/authz/simulation/operations.go
  x/bank/types/send_authorization.go
  x/bank/types/send_authorization_test.go
  x/staking/types/authz.go
  x/staking/types/authz_test.go
Labels: C:x/staking, C:Simulations, C:x/bank, C:x/authz

#20515 refactor(tools/hubl): don't use nil panic
  tools/hubl/internal/compat.go
Labels: C:Hubl

#20521 refactor(x/gov): set environment in context for legacy proposals
  UPGRADING.md
  x/gov/CHANGELOG.md
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
Labels: C:x/gov

#20526 docs: add docs on permissions
  docs/build/building-modules/00-intro.md
  x/bank/README.md
Labels: C:x/bank, backport/v0.50.x

#20528 chore: remove sonar from simapp
  .github/workflows/test.yml
  simapp/sonar-project.properties
Labels: Type: CI

#20530 chore(x/upgrade): bump vulnerable `go-getter` library
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/upgrade

#20405 refactor(x/accounts)!: accounts and auth module use the same account number tracking
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/example/example_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/accounts/keeper.go
  x/auth/ante/testutil_test.go
  x/auth/keeper/account.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/genesis.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/migrations.go
  x/auth/migrations/v6/migrate.go
  x/auth/module.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/group/migrations/v2/migrate_test.go
Labels: C:x/distribution, C:x/auth, C:x/group, C:x/accounts

#20529 refactor(x/feegrant): set environment in context
  x/feegrant/CHANGELOG.md
  x/feegrant/basic_fee.go
  x/feegrant/basic_fee_test.go
  x/feegrant/filtered_fee.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/mock_test.go
  x/feegrant/periodic_fee.go
  x/feegrant/periodic_fee_test.go
Labels: C:x/feegrant

#20488 refactor(x/**): rewrite ante handlers as tx validators
  contrib/images/simd-env/Dockerfile
  go.mod
  go.sum
  server/mock/tx.go
  server/v2/stf/mock/tx.go
  simapp/ante.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  types/mempool/mempool_test.go
  types/mempool/signer_extraction_adapater_test.go
  types/tx_msg.go
  x/auth/ante/ante.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/sigverify.go
  x/auth/go.mod
  x/auth/go.sum
  x/auth/module.go
  x/auth/tx/builder.go
  x/auth/tx/config/depinject.go
  x/auth/tx/encoder.go
  x/auth/tx/gogotx.go
  x/auth/tx/gogotx_test.go
  x/auth/tx/legacy_amino_json.go
  x/tx/decode/decode.go
  x/tx/go.mod
  x/tx/go.sum
Labels: C:x/auth, C:x/tx

#20475 chore: prepare v0.50.7
  CHANGELOG.md
  RELEASE_NOTES.md
  x/upgrade/CHANGELOG.md
Labels: C:x/upgrade

#19909 fix(orm)!: properly encode/decode nanoseconds in Duration type
  orm/CHANGELOG.md
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/duration_test.go
  orm/encoding/ormfield/timestamp.go
Labels: C:orm

#20543 chore: fix some wrong comments
  store/wrapper/wrapper.go
  x/epochs/types/hooks.go
Labels: C:Store, C:x/epochs

#20544 chore: remove duplicate word
  x/staking/testutil/helpers.go
Labels: C:x/staking

#20532 docs: ADR 073: Built-in Indexer
  docs/architecture/adr-073-indexer.md
Labels: Type: ADR

#20548 fix!: remove panic from GetLastValidators
  CHANGELOG.md
  x/staking/keeper/validator.go
Labels: C:x/staking

#20487 feat(core): add coretest package
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  client/v2/go.mod
  collections/collections_test.go
  collections/colltest/store.go
  collections/go.mod
  collections/go.sum
  collections/indexed_map_test.go
  collections/indexes/indexes_test.go
  collections/lookup_map_test.go
  collections/triple_test.go
  core/testing/CHANGELOG.md
  core/testing/context.go
  core/testing/go.mod
  core/testing/go.sum
  core/testing/memdb.go
  core/testing/memdb_test.go
  core/testing/services_test.go
  core/testing/sonar-project.properties
  core/testing/store.go
  go.mod
  go.work.example
  server/v2/cometbft/go.mod
  simapp/go.mod
  tests/go.mod
  types/simulation/collections_test.go
  x/accounts/accountstd/test_util.go
  x/accounts/defaults/lockup/go.mod
  x/accounts/genesis_test.go
  x/accounts/go.mod
  x/accounts/internal/implementation/context_test.go
  x/accounts/utils_test.go
  x/auth/go.mod
  x/auth/migrations/v5/migrate_test.go
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/consensus/go.mod
  x/consensus/go.sum
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, Type: CI, C:x/consensus, C:collections, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs

#20583 feat: add changes from server modular to main
  codec/depinject.go
  contrib/images/simd-env/Dockerfile
  core/context/context._test.go
  core/context/context.go
  core/store/store.go
  go.work.example
  runtime/v2/app.go
  runtime/v2/manager.go
  runtime/v2/module.go
  runtime/v2/services/comet.go
  store/v2/root/factory.go
Labels: C:Store

#20584 feat: upstream changes from server modular
  store/v2/commitment/store.go
  store/v2/database.go
  store/v2/root/store.go
  x/upgrade/keeper/abci.go
Labels: C:Store, C:x/upgrade

#20590 refactor(x/authz,x/feegrant): provide updated keeper in depinject
  CHANGELOG.md
  x/authz/module/module.go
  x/feegrant/module/module.go
Labels: C:x/feegrant, C:x/authz, backport/v0.47.x

#20603 refactor(hubl): handle the case when grpc endpoints is nil
  tools/hubl/internal/registry.go
Labels: C:Hubl

#20588 refactor(distribution)!: add cometinfo
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/CHANGELOG.md
  x/distribution/depinject.go
  x/distribution/keeper/abci.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/migrations/v4/migrate_funds_test.go
Labels: C:x/distribution

#20599 chore: bring patch changelogs to main
  CHANGELOG.md
  x/upgrade/CHANGELOG.md
Labels: C:x/upgrade

#20605 fix: remove some duplicate words
  api/cosmos/circuit/v1/tx_grpc.pb.go
  tests/systemtests/system.go
  x/auth/ante/sigverify.go
  x/circuit/keeper/msg_server.go
  x/circuit/proto/cosmos/circuit/v1/tx.proto
  x/circuit/types/tx.pb.go
  x/simulation/doc.go
Labels: C:Simulations, C:x/auth, C:x/circuit

#20600 chore(proto): change future extracted modules version from v1.0.0 to v0.2.0
  api/cosmos/authz/v1beta1/tx.pulsar.go
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/query.pulsar.go
  api/cosmos/gov/v1/tx.pulsar.go
  x/authz/proto/cosmos/authz/v1beta1/tx.proto
  x/authz/tx.pb.go
  x/gov/proto/cosmos/gov/v1/gov.proto
  x/gov/proto/cosmos/gov/v1/query.proto
  x/gov/proto/cosmos/gov/v1/tx.proto
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/query.pb.go
  x/gov/types/v1/tx.pb.go
Labels: C:x/gov, C:x/authz

#20619 docs: ADR 073: update to accepted and add to README.md
  docs/architecture/README.md
  docs/architecture/adr-073-indexer.md
Labels: Type: ADR

#20616 chore: write gentx info to cmd.ErrOrStderr
  CHANGELOG.md
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/init.go
Labels: C:CLI, C:x/genutil

#20602 refactor(store): add miss defer
  store/v2/commitment/store.go
  store/v2/migration/manager.go
Labels: C:Store

#20622 docs: remove duplicate words
  docs/architecture/adr-034-account-rekeying.md
  docs/architecture/adr-064-abci-2.0.md
  docs/build/building-apps/03-app-upgrade.md
  docs/rfc/rfc-006-handlers.md
  x/auth/vesting/README.md
  x/circuit/README.md
Labels: C:x/auth, Type: ADR, C:x/circuit

#20363 feat(x/mint)!: Replace InflationCalculationFn with MintFn + simple epoch minting
  api/cosmos/mint/v1beta1/mint.pulsar.go
  simapp/app.go
  simapp/app_di.go
  simapp/go.mod
  simapp/mint_fn.go
  tests/e2e/bank/grpc.go
  tests/e2e/distribution/grpc_query_suite.go
  tests/go.mod
  x/epochs/depinject.go
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/genesis_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/keeper.go
  x/epochs/keeper/keeper_test.go
  x/epochs/module.go
  x/epochs/types/genesis.go
  x/group/go.mod
  x/group/go.sum
  x/mint/CHANGELOG.md
  x/mint/README.md
  x/mint/depinject.go
  x/mint/epoch_hooks.go
  x/mint/go.mod
  x/mint/go.sum
  x/mint/keeper/abci.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/msg_server_test.go
  x/mint/module.go
  x/mint/module_test.go
  x/mint/proto/cosmos/mint/v1beta1/mint.proto
  x/mint/types/genesis.go
  x/mint/types/genesis_test.go
  x/mint/types/mint.pb.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/params_test.go
Labels: C:x/mint, C:x/group, C:x/epochs

#20535 docs: Update high level overview and introduction
  docs/learn/intro/00-overview.md
Labels: backport/v0.50.x

#20296 feat(crypto): add blst
  Makefile
  crypto/codec/amino.go
  crypto/codec/cmt.go
  crypto/codec/proto.go
  crypto/hd/algo.go
  crypto/keys/bls12_381/const.go
  crypto/keys/bls12_381/key.go
  crypto/keys/bls12_381/key_cgo.go
  crypto/keys/bls12_381/keys.pb.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/multisig/codec.go
  go.mod
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/utils.go
  x/genutil/utils_test.go
Labels: C:CLI, C:x/genutil, Type: Build

#20531 refactor(x/auth): Fix system test
  CHANGELOG.md
  UPGRADING.md
  crypto/codec/amino.go
  crypto/codec/cmt.go
  simapp/upgrades.go
  simapp/upgrades_test.go
  x/accounts/genesis.go
  x/accounts/genesis_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/migrations.go
  x/auth/migrations/v6/migrate.go
  x/auth/module.go
  x/genutil/client/cli/init.go
Labels: C:CLI, C:x/auth, C:x/genutil, C:x/accounts

#20348 fix(x/gov): limit execution in gov
  api/cosmos/circuit/v1/tx_grpc.pb.go
  api/cosmos/gov/v1/gov.pulsar.go
  x/accounts/go.mod
  x/circuit/types/tx.pb.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/go.mod
  x/gov/keeper/abci.go
  x/gov/migrations/v6/store.go
  x/gov/proto/cosmos/gov/v1/gov.proto
  x/gov/simulation/genesis.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
Labels: C:x/gov, C:Simulations, C:x/circuit, C:x/accounts

#20645 fix (x/accounts): Fix genesis condition check
  x/accounts/genesis.go
  x/accounts/genesis_test.go
Labels: C:x/accounts

#20644 fix(store): avoid nil error on not exhausted payload stream
  store/CHANGELOG.md
  store/snapshots/manager.go
  store/v2/snapshots/manager.go
Labels: C:Store

#20650 fix(proto): remove conditional preventing proper generated file placement
  scripts/protocgen.sh
Labels: Type: Build

#20625 fix: remove recipient amount from map
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
Labels: C:x/protocolpool

#20649 fix(x/staking): stop validators from rotating to the same key on the same block
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/msg_server_test.go
Labels: C:x/staking

#20659 fix(sims): check before sending RotateConsPubKey
  x/staking/simulation/operations.go
Labels: C:x/staking, C:Simulations

#20631 fix: Properly parse json in the wait-tx command.
  CHANGELOG.md
  client/rpc/tx.go
Labels: T:Bug, C:CLI, backport/v0.47.x, backport/v0.50.x

#20662 chore: fix typos
  server/v2/commands.go
  store/cachekv/store_test.go
  store/pruning/manager.go
Labels: C:Store

#20615 chore(consensus): add cometInfo to consensus
  api/cosmos/consensus/v1/consensus.pulsar.go
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/query_grpc.pb.go
  api/cosmos/consensus/v1/tx.pulsar.go
  api/cosmos/consensus/v1/tx_grpc.pb.go
  x/consensus/CHANGELOG.md
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/proto/cosmos/consensus/v1/consensus.proto
  x/consensus/proto/cosmos/consensus/v1/query.proto
  x/consensus/proto/cosmos/consensus/v1/tx.proto
  x/consensus/types/consensus.pb.go
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
Labels: C:x/consensus

#20672 fix: align Dockerfile for build-push-action
  Dockerfile
Labels: Type: Build

#20438 fix: nested multisig signatures using CLI
  client/keys/output_test.go
  crypto/keys/multisig/multisig.go
  x/auth/README.md
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/tx_sign.go
  x/auth/client/tx.go
  x/tx/CHANGELOG.md
Labels: C:CLI, C:Keys, C:x/auth, C:x/tx

#20618 docs: ADR 074: Msg v2
  docs/architecture/README.md
  docs/architecture/adr-074-implicit-msg-signers.md
Labels: Type: ADR

#20684 fix(x/staking,x/auth): regenerate mock to fix test
  x/auth/ante/expected_keepers.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/auth

#20679 chore(proto): fix comments
  api/cosmos/app/v1alpha1/query.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  proto/cosmos/app/v1alpha1/query.proto
  x/staking/proto/cosmos/staking/v1beta1/staking.proto
  x/staking/types/staking.pb.go
Labels: C:x/staking

#20648 feat(tx): port simappv2 changes
  simapp/mint_fn.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/tx/config.go
  x/auth/tx/gogotx.go
  x/auth/tx/testutil/suite.go
  x/tx/decode/decode.go
  x/tx/decode/decode_test.go
  x/tx/decode/fuzz_test.go
Labels: C:x/auth, C:x/tx

#20696 refactor(x/staking)!: rename NewToOldConsKeyMap to ConsKeyToValidatorIdentifierMap
  x/staking/README.md
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/keeper.go
  x/staking/keeper/msg_server.go
  x/staking/types/keys.go
Labels: C:x/staking

#20693 fix(x/genutil): fix logic error in simapp start
  x/genutil/utils.go
Labels: C:x/genutil

#20702 ci: remove runsim from ci
  .github/workflows/sims-nightly.yml
  docs/architecture/adr-059-test-scopes.md
Labels: Type: ADR, Type: CI

#20703 docs: remove Ineffective code block
  docs/learn/advanced/05-encoding.md
Labels: backport/v0.50.x

#20690 feat(client): Add flag & reading mnemonic from file
  CHANGELOG.md
  client/keys/add.go
Labels: C:CLI, C:Keys, backport/v0.50.x

#20691 refactor!: revert #20548 - staking enblocker
  CHANGELOG.md
  x/staking/keeper/validator.go
Labels: C:x/staking

#20699 refactor(x/staking): introduce and use TryUnwrapSDKContext
  types/context.go
  x/staking/keeper/genesis.go
Labels: C:x/staking

#20657 feat(x/gov)!: upstream expedited proposals (backport #14720)
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/query_grpc.pb.go
  api/cosmos/gov/v1/tx.pulsar.go
  api/cosmos/gov/v1/tx_grpc.pb.go
  api/cosmos/gov/v1beta1/gov.pulsar.go
  api/cosmos/gov/v1beta1/query_grpc.pb.go
  api/cosmos/gov/v1beta1/tx_grpc.pb.go
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  tests/e2e/gov/query.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/tally_test.go
  x/bank/app_test.go
  x/evidence/client/cli/query_test.go
  x/gov/README.md
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/export_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/migrations.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v3/json_test.go
  x/gov/migrations/v4/json.go
  x/gov/migrations/v4/json_test.go
  x/gov/migrations/v4/store.go
  x/gov/migrations/v4/store_test.go
  x/gov/migrations/v5/store.go
  x/gov/migrations/v5/store_test.go
  x/gov/module.go
  x/gov/simulation/decoder.go
  x/gov/simulation/decoder_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/gov/types/events.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1/params.go
  x/gov/types/v1/proposal.go
  x/gov/types/v1/proposals_test.go
  x/gov/types/v1/tx.pb.go
  x/upgrade/client/cli/tx.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/bank, C:x/evidence, C:x/upgrade

#20698 refactor(x/auth): rm double decode of messages
  x/auth/tx/builder.go
  x/auth/tx/gogotx.go
Labels: C:x/auth

#19646 feat(client/v2): get keyring from context
  client/v2/CHANGELOG.md
  client/v2/README.md
  client/v2/autocli/app.go
  client/v2/autocli/common.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/binary.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/coin.go
  client/v2/autocli/flag/duration.go
  client/v2/autocli/flag/enum.go
  client/v2/autocli/flag/interface.go
  client/v2/autocli/flag/json_message.go
  client/v2/autocli/flag/list.go
  client/v2/autocli/flag/map.go
  client/v2/autocli/flag/messager_binder.go
  client/v2/autocli/flag/pubkey.go
  client/v2/autocli/flag/timestamp.go
  client/v2/autocli/keyring/keyring.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query_test.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
Labels: C:CLI, backport/v0.50.x

#20412 feat: simapp/v2
  .github/workflows/test.yml
  .vscode/launch.json
  codec/depinject.go
  contrib/images/simd-env/Dockerfile
  core/header/service.go
  runtime/v2/module.go
  scripts/simapp-v2-init.sh
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/streaming/context.go
  server/v2/streaming/streaming_test.go
  simapp/v2/README.md
  simapp/v2/app_config.go
  simapp/v2/app_di.go
  simapp/v2/default.nix
  simapp/v2/export.go
  simapp/v2/genesis_account.go
  simapp/v2/go.mod
  simapp/v2/go.sum
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/config.go
  simapp/v2/simdv2/cmd/root_di.go
  simapp/v2/simdv2/cmd/root_test.go
  simapp/v2/simdv2/main.go
  simapp/v2/upgrades.go
  x/consensus/keeper/keeper.go
  x/distribution/module.go
  x/genutil/client/cli/init.go
Labels: C:CLI, C:x/distribution, C:x/genutil, Type: Build, Type: CI, C:x/consensus

#20713 fix(x/staking): Check existing pubkeys when creating a Validator + refactors
  tests/integration/staking/keeper/msg_server_test.go
  x/staking/README.md
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/keeper.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/validator.go
  x/staking/simulation/operations.go
  x/staking/types/errors.go
  x/staking/types/keys.go
Labels: C:x/staking, C:Simulations

#20729 chore: sync client/v2 changelog with main
  client/v2/CHANGELOG.md
Labels: C:CLI

#20737 docs: change name of epochs readme
  x/epochs/README.md
Labels: C:x/epochs

#20728 refactor(x/staking)!: remove comet deps
  x/staking/CHANGELOG.md
  x/staking/client/cli/tx_test.go
  x/staking/testutil/cmt.go
  x/staking/types/historical_info.go
  x/staking/types/historical_info_test.go
  x/staking/types/validator_test.go
Labels: C:x/staking, C:CLI

#20738 chore(x/tx): fix typo
  x/tx/signing/handler_map.go
Labels: C:x/tx

#20724 feat(stf): change router service to extract the router at runtime rather than build time
  runtime/v2/builder.go
  runtime/v2/module.go
  server/v2/stf/core_branch_service_test.go
  server/v2/stf/core_router_service.go
  server/v2/stf/stf.go
  server/v2/stf/stf_router.go
  server/v2/stf/stf_test.go
  store/rootmulti/store_test.go
Labels: C:Store

#20714 fix(x/staking): Verify the pubkey type when rotating
  x/staking/keeper/msg_server.go
  x/staking/keeper/msg_server_test.go
Labels: C:x/staking

#20434 feat: Add consensus address to validator query response
  api/cosmos/staking/v1beta1/query.pulsar.go
  tests/sims/distribution/operations_test.go
  x/staking/CHANGELOG.md
  x/staking/keeper/grpc_query.go
  x/staking/keeper/grpc_query_test.go
  x/staking/proto/cosmos/staking/v1beta1/query.proto
  x/staking/types/query.pb.go
Labels: C:x/staking

#20579 feat(coretesting): add test events service.
  core/testing/context.go
  core/testing/event.go
  core/testing/event_test.go
  core/testing/go.mod
  core/testing/go.sum
  core/testing/memdb.go
  core/testing/memdb_test.go
  core/testing/store.go
Labels: C:core/testing

#20740 refactor(x/genutil): abstract module manager requirements
  CHANGELOG.md
  simapp/CHANGELOG.md
  simapp/simd/cmd/commands.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/validate_genesis.go
Labels: C:CLI, C:x/genutil

#20749 docs(x/group): orm codespace comment
  x/group/errors/orm.go
Labels: T:Docs, backport/v0.50.x

#20755 chore(x/accounts): fix comment
  api/cosmos/accounts/defaults/multisig/v1/multisig.pulsar.go
  x/accounts/defaults/multisig/v1/multisig.pb.go
  x/accounts/proto/cosmos/accounts/defaults/multisig/v1/multisig.proto
Labels: C:x/accounts

#20759 chore: split up make file
  Makefile
  scripts/build/build.mk
  scripts/build/documentation.mk
  scripts/build/linting.mk
  scripts/build/localnet.mk
  scripts/build/protobuf.mk
  scripts/build/simulations.mk
  scripts/build/testing.mk
Labels: Type: Build

#20368 refactor(store/v2): Migrate some v1 tests for rootmultistore
  store/v2/root/store_test.go
Labels: C:Store

#20750 fix(x/group): orm codespace name
  CHANGELOG.md
  x/group/errors/orm.go
Labels: T:Bug, C:x/group

#20766 docs: fix broken links
  docs/build/building-apps/01-app-go-v2.md
  docs/build/building-modules/03-msg-services.md
  docs/build/building-modules/11-structure.md
  docs/build/building-modules/13-upgrade.md
  x/auth/README.md
  x/authz/README.md
Labels: C:x/auth, C:x/authz

#20687 feat(x/authz): Disable authz grant message grant
  x/authz/CHANGELOG.md
  x/authz/README.md
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
Labels: C:x/authz

#20772 fix: benchmark start command
  scripts/build/simulations.mk
  x/simulation/doc.go
Labels: C:Simulations

#20774 chore: allow queries to be routed to abci.Query
  scripts/build/build.mk
  scripts/simapp-v2-init.sh
  server/v2/cometbft/abci.go
  server/v2/cometbft/client/grpc/cmtservice/service.go
Labels: Type: Build

#20771 feat: parse home flag earlier
  CHANGELOG.md
  client/config/config.go
  client/v2/CHANGELOG.md
  client/v2/helpers/home.go
  docs/learn/advanced/07-cli.md
  scripts/init-simapp.sh
  scripts/simapp-v2-init.sh
  server/v2/cometbft/flags/flags.go
  server/v2/commands.go
  simapp/CHANGELOG.md
  simapp/app.go
  simapp/app_di.go
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
  simapp/v2/app_di.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  x/upgrade/CHANGELOG.md
  x/upgrade/depinject.go
  x/upgrade/go.mod
  x/upgrade/keeper/keeper.go
Labels: C:CLI, C:x/upgrade, Type: Build, backport/v0.50.x

#20747 refactor(x/mint)!: avoid writing same minter and use millisecond precision for minting
  simapp/mint_fn.go
  x/mint/epoch_hooks.go
  x/mint/keeper/abci.go
  x/mint/keeper/keeper_test.go
  x/mint/types/minter.go
Labels: C:x/mint

#20768 fix(x/protocolpool): Stop allocating funds to expired funds
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server_test.go
Labels: C:x/protocolpool

#20730 chore(store/v2): refactor the pruning option
  simapp/v2/app_di.go
  store/v2/commitment/store_bench_test.go
  store/v2/commitment/store_test_suite.go
  store/v2/options.go
  store/v2/pruning/README.md
  store/v2/pruning/manager.go
  store/v2/pruning/manager_test.go
  store/v2/root/factory.go
  store/v2/storage/README.md
Labels: C:Store

#20795 Rename in pruning test
  store/v2/root/store_test.go
Labels: C:Store

#20796 refactor(server/v2): simplify servers
  client/cmd.go
  core/context/server_context.go
  server/util.go
  server/v2/api/grpc/server.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/commands.go
  server/v2/cometbft/config.go
  server/v2/cometbft/flags.go
  server/v2/cometbft/flags/flags.go
  server/v2/cometbft/options.go
  server/v2/cometbft/server.go
  server/v2/commands.go
  server/v2/config.go
  server/v2/logger.go
  server/v2/server.go
  server/v2/server_test.go
  server/v2/util.go
  simapp/simd/cmd/testnet_test.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  tests/e2e/genutil/export_test.go
  x/genutil/client/cli/export_test.go
  x/genutil/client/cli/genaccount_test.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/testutil/helpers.go
Labels: C:CLI, C:x/genutil

#20781 chore: migrate core to gogoproto.Message
  codec/types/interface_registry.go
  collections/go.mod
  collections/go.sum
  core/appmodule/v2/message.go
  core/event/service.go
  core/go.mod
  core/registry/legacy.go
  core/router/service.go
  core/testing/context.go
  core/testing/event.go
  core/testing/event_test.go
  core/testing/go.mod
  core/testing/go.sum
  core/testing/memdb_test.go
  core/testing/services_test.go
  runtime/events.go
  runtime/router.go
  server/v2/cometbft/abci.go
  server/v2/stf/core_branch_service_test.go
  server/v2/stf/core_event_service.go
  server/v2/stf/core_router_service.go
  server/v2/stf/go.mod
  server/v2/stf/stf_router.go
  server/v2/stf/stf_test.go
  tests/integration/evidence/keeper/infraction_test.go
  x/accounts/keeper.go
  x/accounts/utils_test.go
Labels: C:collections, C:x/accounts, C:core/testing

#20786 refactor(x/protocolpool)!: Reducing complexity and removing some bugs
  tests/integration/protocolpool/app_config.go
  tests/integration/protocolpool/module_test.go
  x/protocolpool/keeper/genesis_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/module.go
  x/protocolpool/testutil/expected_keepers_mocks.go
  x/protocolpool/types/errors.go
  x/protocolpool/types/expected_keepers.go
  x/protocolpool/types/genesis.go
  x/protocolpool/types/msg.go
  x/protocolpool/types/types_test.go
Labels: C:x/protocolpool

#20818 ci: store-v2 test CI/CD
  .github/workflows/test.yml
Labels: Type: CI
