Repository cosmos/cosmos-sdk, pull requests merged in 2024-01, with the labels that each got.

#18912 refactor(store/v2): remove GasKV and Gas types
  store/gas.go
  store/kv/gas/iterator.go
  store/kv/gas/store.go
  store/kv/gas/store_test.go
Labels: C:Store

#18926 docs: fix for links
  tools/cosmovisor/README.md
Labels: C:Cosmovisor

#18915 fix(abci): add ExecModeVerifyVoteExtension
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  types/context.go
Labels: backport/v0.50.x

#18902 revert: test(client) wrap cmd.SetArgs to fix bugs for cmd.SetArgs (#18876)
  client/keys/show_test.go
  internal/testutil/cmd.go
  internal/testutil/cmd_test.go
Labels: C:CLI, C:Keys

#18862 chore: Update ADR-065
  docs/architecture/README.md
  docs/architecture/adr-065-store-v2.md
Labels: Type: ADR

#18739 feat: [ADR-070] Unordered Transactions (2/2)
  UPGRADING.md
  docs/architecture/adr-070-unordered-account.md
  simapp/ante.go
  simapp/app.go
  simapp/app_v2.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/ante/unorderedtx/manager.go
  x/auth/ante/unorderedtx/manager_test.go
  x/auth/ante/unorderedtx/snapshotter.go
  x/auth/ante/unorderedtx/snapshotter_test.go
Labels: C:x/auth, Type: ADR

#18641 feat: [ADR-070] Unordered Transactions (1/2)
  CHANGELOG.md
  UPGRADING.md
  api/cosmos/tx/v1beta1/tx.pulsar.go
  client/flags/flags.go
  client/tx/factory.go
  client/tx_config.go
  docs/architecture/adr-070-unordered-account.md
  proto/cosmos/tx/v1beta1/tx.proto
  simapp/ante.go
  simapp/app.go
  simapp/app_v2.go
  testutil/testdata/testpb/unknonwnproto.proto
  testutil/testdata/testpb/unknonwnproto.pulsar.go
  testutil/testdata/unknonwnproto.pb.go
  types/tx/tx.pb.go
  types/tx_msg.go
  x/auth/ante/sigverify.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/ante/unorderedtx/manager.go
  x/auth/ante/unorderedtx/manager_test.go
  x/auth/ante/unorderedtx/snapshotter.go
  x/auth/ante/unorderedtx/snapshotter_test.go
  x/auth/signing/sig_verifiable_tx.go
  x/auth/tx/builder.go
  x/auth/tx/encode_decode_test.go
Labels: C:CLI, C:x/auth, Type: ADR

#18939 refactor(client/keys): `keys show` command help message
  client/keys/show.go
Labels: C:CLI, C:Keys, backport/v0.50.x

#18944 feat: Remove the `store/internal` module
  store/commit_info.go
  store/go.mod
  store/go.sum
  store/internal/kv/helpers.go
  store/internal/kv/kv.go
  store/internal/maps/bench_test.go
  store/internal/maps/maps.go
  store/internal/maps/maps_test.go
  store/internal/proofs/convert.go
  store/internal/proofs/convert_test.go
  store/internal/proofs/create.go
  store/internal/proofs/create_test.go
  store/internal/proofs/helpers.go
  store/internal/tree/hash.go
  store/proof.go
  store/proof_test.go
  store/root/store.go
Labels: C:Store

#18953 chore(gov): fix typo
  x/gov/types/v1/params.go
Labels: C:x/gov

#18954 ci: remove fork cherry pick job
  .github/workflows/fork-cherry-pick.yml
Labels: Type: CI

#18958 chore: sort linters in golangci-lint config
  .golangci.yml
Labels: Type: CI

#18959 perf: Don't deserialize params for every validator in slashing
  CHANGELOG.md
  x/slashing/abci.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/params.go
  x/slashing/types/params.go
Labels: C:x/slashing

#18955 test(client/v2): re-generate golden files
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/msg-output.golden
Labels: C:CLI

#18962 chore(x/slashing): follow up
  CHANGELOG.md
  x/slashing/CHANGELOG.md
  x/slashing/types/params.go
Labels: C:x/slashing

#18929 docs(client): improve client.Context docs
  client/context.go
Labels: T:Docs, C:CLI

#18969 feat(accounts): Add TxCompat field –  implement Tx integration (part 1)
  api/cosmos/accounts/v1/account_abstraction.pulsar.go
  proto/cosmos/accounts/v1/account_abstraction.proto
  simapp/go.mod
  tests/e2e/accounts/account_abstraction_test.go
  tests/go.mod
  tests/starship/tests/go.mod
  x/accounts/keeper_account_abstraction.go
  x/accounts/msg_server.go
  x/accounts/v1/account_abstraction.pb.go
Labels: C:x/accounts

#18762 feat(x/gov): multiple choice proposals
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/query.pulsar.go
  api/cosmos/gov/v1/query_grpc.pb.go
  api/cosmos/gov/v1/tx.pulsar.go
  api/cosmos/gov/v1/tx_grpc.pb.go
  docs/architecture/adr-069-gov-improvements.md
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/query.proto
  proto/cosmos/gov/v1/tx.proto
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/keeper/deposit.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/types/keys.go
  x/gov/types/v1/codec.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/query.pb.go
  x/gov/types/v1/query.pb.gw.go
  x/gov/types/v1/tx.pb.go
  x/gov/types/v1/vote.go
Labels: C:x/gov, Type: ADR

#18950 refactor(client): check name validation for `keys add|import|rename`
  CHANGELOG.md
  client/keys/add.go
  client/keys/add_test.go
  client/keys/import.go
  client/keys/import_test.go
  client/keys/rename.go
  client/keys/rename_test.go
Labels: C:CLI, C:Keys

#18976 refactor(x/gov): log error when deposit refund error
  x/gov/CHANGELOG.md
  x/gov/abci.go
  x/gov/abci_test.go
  x/gov/keeper/deposit.go
  x/gov/types/events.go
Labels: C:x/gov, T: State Machine Breaking

#18965 test: add tests for cons pubkey rotation
  log/logger_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/simulation/operations_test.go
  x/slashing/keeper/signing_info_test.go
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/slashing, C:Simulations, C:log

#18979 feat(accounts): Add Query to simulate a UserOperation
  api/cosmos/accounts/v1/query.pulsar.go
  api/cosmos/accounts/v1/query_grpc.pb.go
  proto/cosmos/accounts/v1/query.proto
  tests/e2e/accounts/account_abstraction_test.go
  x/accounts/query_server.go
  x/accounts/v1/query.pb.go
Labels: C:x/accounts

#18968 feat(store/v2): Modify RootStore to Support Multi StoreKeys
  store/changeset.go
  store/commitment/store_test_suite.go
  store/kv/branch/store.go
  store/kv/branch/store_test.go
  store/kv/mem/store.go
  store/pruning/manager_test.go
  store/root/store.go
  store/root/store_test.go
  store/storage/storage_bench_test.go
  store/storage/storage_test_suite.go
Labels: C:Store

#18471 feat(x/protocolpool): Add Implementation for CreateContinuousFund and CancelContinuousFund features
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  api/cosmos/protocolpool/v1/tx.pulsar.go
  api/cosmos/protocolpool/v1/tx_grpc.pb.go
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/genesis.proto
  proto/cosmos/protocolpool/v1/tx.proto
  proto/cosmos/protocolpool/v1/types.proto
  simapp/app.go
  simapp/app_config.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/gov/keeper/keeper_test.go
  testutil/configurator/configurator.go
  x/accounts/go.mod
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/gov/client/cli/prompt.go
  x/protocolpool/README.md
  x/protocolpool/autocli.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/module.go
  x/protocolpool/testutil/expected_keepers_mocks.go
  x/protocolpool/types/codec.go
  x/protocolpool/types/errors.go
  x/protocolpool/types/expected_keepers.go
  x/protocolpool/types/genesis.go
  x/protocolpool/types/genesis.pb.go
  x/protocolpool/types/keys.go
  x/protocolpool/types/tx.pb.go
  x/protocolpool/types/types.pb.go
Labels: C:CLI, C:x/gov, C:x/distribution, C:x/accounts, C:x/protocolpool

#18989 feat(accounts): implement Account Number query
  api/cosmos/accounts/v1/query.pulsar.go
  api/cosmos/accounts/v1/query_grpc.pb.go
  proto/cosmos/accounts/v1/query.proto
  x/accounts/query_server.go
  x/accounts/query_server_test.go
  x/accounts/v1/query.pb.go
Labels: C:x/accounts

#18993 chore: clean-up buf workspace
  buf.work.yaml
Labels: backport/v0.47.x, backport/v0.50.x

#18995 fix(x/protocolpool): fix potential panic and missing error handling
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
Labels: C:x/protocolpool

#18948 fix(store/v2): Fix PebbleDB Iteration Edge Cases
  store/storage/pebbledb/comparator.go
  store/storage/pebbledb/iterator.go
  store/storage/storage_test_suite.go
Labels: C:Store

#18964 chore(server/v2): cleanup reflection
  api/cosmos/base/reflection/v2alpha1/reflection.pulsar.go
  api/cosmos/base/reflection/v2alpha1/reflection_grpc.pb.go
  client/grpc/reflection/reflection.pb.go
  go.work.example
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  proto/cosmos/base/reflection/v2alpha1/reflection.proto
  server/grpc/reflection/v2alpha1/reflection.pb.go
  server/v2/go.mod
  server/v2/grpc/reflection/v2alpha1/reflection.go
  server/v2/grpc/reflection/v2alpha1/reflection.pb.go
  server/v2/grpc/reflection/v2alpha1/reflection.pb.gw.go
  server/v2/grpc/server.go
Labels: C:CLI

#19001 chore(changelog): move changelog items to respective location
  CHANGELOG.md
  x/auth/CHANGELOG.md
  x/authz/CHANGELOG.md
  x/bank/CHANGELOG.md
  x/distribution/CHANGELOG.md
  x/feegrant/CHANGELOG.md
  x/gov/CHANGELOG.md
  x/nft/CHANGELOG.md
  x/slashing/CHANGELOG.md
  x/staking/CHANGELOG.md
  x/tx/CHANGELOG.md
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/auth, C:x/feegrant, C:x/authz, C:x/nft, C:x/tx

#19004 feat(accounts): Add header.Service support
  runtime/header.go
  simapp/app.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/context_test.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/implementation_test.go
  x/accounts/keeper.go
  x/accounts/utils_test.go
Labels: C:x/accounts

#19010 chore: prepare log, errors and depinject minors
  collections/CHANGELOG.md
  depinject/CHANGELOG.md
  errors/CHANGELOG.md
  log/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Labels: C:x/upgrade, C:collections, C:log

#19002 fix: change prehash value back to sha256 from noop
  store/commit_info.go
  store/proof.go
  store/proof_test.go
Labels: C:Store

#19003 chore(sdk): remove modules as a dependency (1/n)
  baseapp/block_gas_test.go
  baseapp/expected_keepers.go
  client/rpc/rpc_test.go
  testutil/network/util.go
  testutil/sims/address_helpers.go
  testutil/sims/expected_keepers.go
  testutil/sims/simulation_helpers_test.go
  testutil/sims/state_helpers.go
  types/query/fuzz_test.go
Labels: C:CLI

#19027 chore(mocks): regenerate mocks
  store/go.sum
  testutil/mock/logger.go
  x/accounts/go.mod
  x/gov/testutil/expected_keepers_mocks.go
Labels: C:x/gov, C:Store, C:x/accounts

#19026 refactor(client/v2): use address codec instead of global
  client/v2/autocli/builder.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/query_test.go
Labels: C:CLI, backport/v0.50.x

#19038 fix(x/slashing): consensus failure after cons key rotation
  x/slashing/keeper/infractions.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
Labels: C:x/slashing

#18991 feat: Add signer extraction adapter to prio-nonce mempool
  CHANGELOG.md
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
  types/mempool/signer_extraction_adapater_test.go
  types/mempool/signer_extraction_adapter.go
Labels: C: mempool, backport/v0.50.x

#19012 refactor(store/v2): Refactor RootStore
  store/kv/branch/README.md
  store/kv/branch/iterator.go
  store/kv/branch/store.go
  store/kv/branch/store_test.go
  store/kv/mem/README.md
  store/kv/mem/iterator.go
  store/kv/mem/store.go
  store/kv/mem/store_test.go
  store/kv/trace/README.md
  store/kv/trace/doc.go
  store/kv/trace/iterator.go
  store/kv/trace/store.go
  store/kv/trace/store_test.go
  store/root/read_only_adapter.go
  store/root/store.go
  store/root/store_test.go
  store/store.go
Labels: C:Store

#19039 feat(client/v2): add support for pubkey
  api/cosmos/staking/v1beta1/tx.pulsar.go
  client/v2/CHANGELOG.md
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/pubkey.go
  docs/build/building-modules/05-protobuf-annotations.md
  proto/cosmos/staking/v1beta1/tx.proto
  x/staking/autocli.go
  x/staking/types/tx.pb.go
Labels: C:x/staking, C:CLI

#19043 feat(gRPC): Add halt-height to gRPC Node Config Query
  CHANGELOG.md
  api/cosmos/base/node/v1beta1/query.pulsar.go
  client/grpc/node/query.pb.go
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  proto/cosmos/base/node/v1beta1/query.proto
Labels: backport/v0.50.x

#19046 fix(protocolpool): Export/Import sims
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  buf.work.yaml
  proto/cosmos/protocolpool/v1/genesis.proto
  simapp/app_test.go
  simapp/sim_test.go
  x/distribution/keeper/allocation.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/types/genesis.pb.go
  x/protocolpool/types/keys.go
Labels: C:x/distribution, C:x/protocolpool

#19055 refactor(confix): using `filepath.Join` instead of using `fmt.Sprintf`
  tools/confix/cmd/config.go
  tools/confix/cmd/diff.go
  tools/confix/cmd/migrate.go
  tools/confix/cmd/mutate.go
  tools/confix/cmd/view.go
Labels: C:Confix

#19057 fix(orm): run module_test failed
  orm/model/ormdb/module_test.go
Labels: C:orm

#19059 ci: fix `make lint` reported issues
  store/database.go
  store/proof.go
  store/storage/pebbledb/iterator.go
  store/storage/sqlite/iterator.go
Labels: C:Store

#19061 docs: fix broken link
  tools/cosmovisor/README.md
Labels: C:Cosmovisor

#19047 chore(confix): update `<simd> config` subcommand description
  tools/confix/cmd/home.go
  tools/confix/cmd/mutate.go
  tools/confix/cmd/view.go
Labels: C:Confix, backport/v0.50.x

#19068 feat(accounts): Add codec.BinaryCodec and Gas to dependencies.
  api/cosmos/accounts/testing/counter/v1/counter.pulsar.go
  codec/collections.go
  proto/cosmos/accounts/testing/counter/v1/counter.proto
  runtime/gas.go
  simapp/app.go
  tests/e2e/accounts/wiring_test.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/encoding.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/protoaccount.go
  x/accounts/keeper.go
  x/accounts/testing/counter/counter.go
  x/accounts/testing/counter/v1/counter.pb.go
  x/accounts/utils_test.go
Labels: C:x/accounts

#18736 feat(store/v2): Implement the `GetProof` for multi store
  store/commit_info.go
  store/commit_info_test.go
  store/commitment/iavl/tree.go
  store/commitment/iavl/tree_test.go
  store/commitment/store.go
  store/commitment/store_test_suite.go
  store/commitment/tree.go
  store/database.go
  store/internal/encoding/encoding.go
  store/pruning/manager_test.go
  store/root/store.go
  store/root/store_test.go
  store/store.go
Labels: C:Store

#19088 fix(x/gov): fix typos in x/gov
  x/gov/keeper/msg_server_test.go
  x/gov/types/v1/genesis_test.go
  x/gov/types/v1/params.go
Labels: C:x/gov

#19081 docs: add consensus pubkey docs
  docs/architecture/adr-016-validator-consensus-key-rotation.md
  x/staking/README.md
  x/staking/keeper/keeper.go
Labels: C:x/staking, Type: ADR

#19102 fix(x/gov): check right params
  x/gov/types/v1/params.go
Labels: C:x/gov, backport/v0.50.x

#19060 fix(client/v2): resolve keyring flags properly
  client/cmd.go
  client/v2/CHANGELOG.md
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/common.go
  client/v2/autocli/common_test.go
  client/v2/autocli/flag/address.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/autocli/query.go
  client/v2/autocli/query_test.go
  client/v2/autocli/util.go
  scripts/init-simapp.sh
Labels: C:CLI, Type: Build, backport/v0.50.x

#19106 fix: allow empty public keys when setting signatures
  x/auth/CHANGELOG.md
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: C:x/auth

#19110 refactor(hubl): use latest client/v2 and sdk
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/hubl/internal/keyring.go
  tools/hubl/internal/remote.go
  tools/hubl/internal/util.go
Labels: C:Hubl

#19090 feat(store/v2): Fallback to SC on queries
  store/commitment/iavl/tree.go
  store/commitment/iavl/tree_test.go
  store/commitment/store.go
  store/commitment/tree.go
  store/database.go
  store/root/store.go
  store/root/store_test.go
Labels: C:Store

#19122 chore: add `make help` to display the usage for project `Makefile`
  Makefile
Labels: Type: Build

#19155 docs: vote-extensions link in UPGRADING.md
  UPGRADING.md
Labels: backport/v0.50.x

#19154 docs(collections): fix godoc on collections Sequence.Next()
  collections/sequence.go
Labels: C:collections

#19093 refactor(auth): incorporate set pub key decorator into sig verification decorator
  baseapp/block_gas_test.go
  simapp/ante.go
  tests/integration/bank/app_test.go
  x/auth/CHANGELOG.md
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_internal_test.go
  x/auth/ante/sigverify_test.go
Labels: C:x/auth

#19156 chore: slack for broken links
  .github/workflows/md-link-checker.yml
Labels: Type: CI

#19075 refactor: add `make lint` git hook
  Makefile
  scripts/hooks/pre-commit.sh
Labels: Type: Build

#19192 docs: fix typo in 06-grpc_rest.md
  docs/learn/advanced/06-grpc_rest.md
Labels: backport/v0.47.x, backport/v0.50.x

#19028 fix(x/protocolpool): Add stream module account functionality to avoid emptying the pool mAcc
  simapp/app.go
  simapp/app_config.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/gov/keeper/keeper_test.go
  testutil/configurator/configurator.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/types/keys.go
Labels: C:x/protocolpool

#19198 fix(OE): Remove usage of pointer in logs
  CHANGELOG.md
  baseapp/oe/optimistic_execution.go
Labels: backport/v0.50.x

#19166 chore: add v0.47.x and v0.50.3 to main changelog
  CHANGELOG.md
  x/auth/CHANGELOG.md
  x/bank/CHANGELOG.md
  x/gov/CHANGELOG.md
Labels: C:x/gov, C:x/bank, C:x/auth

#19146 chore(simapp): Deprecate --v in favor of --validator-count, -n
  CHANGELOG.md
  Makefile
  simapp/simd/cmd/testnet.go
Labels: Type: Build

#19212 chore(collections): fix broken link
  collections/CHANGELOG.md
Labels: C:collections

#19161 refactor(x/auth/ante): migrate antehandlers to use execmode
  baseapp/baseapp.go
  types/context.go
  x/auth/CHANGELOG.md
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/fee.go
  x/auth/ante/fee_test.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/ante/validator_tx_fee.go
Labels: C:x/auth

#19202 fix(baseapp): ensure ABCI listeners always run in FinalizeBlock
  baseapp/abci.go
Labels: backport/v0.47.x, backport/v0.50.x

#18626 feat(client/v2/offchain): sign and verify file
  client/v2/CHANGELOG.md
  client/v2/README.md
  client/v2/internal/offchain/msgSignArbitraryData.proto
  client/v2/internal/offchain/msgSignArbitraryData.pulsar.go
  client/v2/offchain/builder.go
  client/v2/offchain/cli.go
  client/v2/offchain/common_test.go
  client/v2/offchain/encode.go
  client/v2/offchain/encode_test.go
  client/v2/offchain/marshal.go
  client/v2/offchain/sign.go
  client/v2/offchain/sign_test.go
  client/v2/offchain/signature.go
  client/v2/offchain/verify.go
  client/v2/offchain/verify_test.go
  simapp/simd/cmd/commands.go
Labels: C:CLI

#19216 refactor(client/v2,simapp): align and simplify sign mode wiring
  client/v2/CHANGELOG.md
  client/v2/autocli/app.go
  client/v2/autocli/builder.go
  client/v2/autocli/msg.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Labels: C:CLI, backport/v0.50.x

#19099 fix(x/auth): check if simulation in verifyIsOnCurve
  x/auth/CHANGELOG.md
  x/auth/ante/sigverify.go
Labels: C:x/auth

#19195 refactor(store/v2): Refactor PebbleDB Iterator
  store/storage/pebbledb/iterator.go
  store/storage/storage_test_suite.go
Labels: C:Store

#19151 refactor(serverv2): move from global state to address scoped state
  api/cosmos/streaming/v1/grpc.pulsar.go
  proto/cosmos/streaming/v1/grpc.proto
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/store/adapters.go
  server/v2/appmanager/store/store.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/streaming.go
  server/v2/core/appmanager/app.go
  server/v2/core/stf/stf.go
  server/v2/core/store/types.go
  server/v2/stf/branch/branch_test.go
  server/v2/stf/branch/store.go
  server/v2/stf/core_implementers.go
  server/v2/stf/gas.go
  server/v2/stf/mock/db.go
  server/v2/stf/state.go
  server/v2/stf/stf.go
  server/v2/stf/stf_builder.go
  server/v2/stf/stf_test.go
  server/v2/streaming/grpc.pb.go
  server/v2/streaming/streaming_test.go
  store/changeset.go
Labels: C:Store

#19226 fix(x/staking): Refactor GetLastValidators
  CHANGELOG.md
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
Labels: C:x/staking, backport/v0.47.x, backport/v0.50.x

#19238 docs: Fix typo in adr-003-dynamic-capability-store.md
  docs/architecture/adr-003-dynamic-capability-store.md
Labels: Type: ADR

#19239 fix(x/auth): set from flag in multi-sign command
  x/auth/CHANGELOG.md
  x/auth/client/cli/tx_multisign.go
Labels: C:CLI, C:x/auth

#19085 ci: Use GITHUB_OUTPUT over set-output command
  .github/workflows/dependabot-update-all.yml
Labels: Type: CI

#19276 docs(log): fixed incorrect changelog date
  log/CHANGELOG.md
Labels: C:log

#19265 fix(textual): error if a formatted coin contains a comma
  x/tx/CHANGELOG.md
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/internal/testdata/coin.json
Labels: C:x/tx

#19229 feat(store/v2): remove cosmos-db depdency from store
  store/batch.go
  store/commitment/iavl/tree.go
  store/commitment/iavl/tree_test.go
  store/commitment/store.go
  store/commitment/store_test_suite.go
  store/database.go
  store/db/db_test.go
  store/db/goleveldb.go
  store/db/memdb.go
  store/db/prefixdb.go
  store/db/wrapper.go
  store/errors.go
  store/go.mod
  store/go.sum
  store/proof/commit_info.go
  store/proof/commit_info_test.go
  store/proof/proof.go
  store/proof/proof_test.go
  store/pruning/manager_test.go
  store/root/store.go
  store/root/store_test.go
  store/snapshots/helpers_test.go
  store/snapshots/manager_test.go
  store/snapshots/store.go
  store/snapshots/store_test.go
  store/storage/rocksdb/batch.go
  store/store.go
Labels: C:Store

#18933 feat(collections): Implement LookupMap
  collections/CHANGELOG.md
  collections/lookup_map.go
  collections/lookup_map_test.go
  collections/map.go
Labels: A:automerge, C:collections

#19284 test(baseapp): Refactor tx selector tests + better comments
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
Labels: backport/v0.47.x, backport/v0.50.x

#19101 feat(x/gov): message based proposal params
  api/cosmos/gov/v1/gov.pulsar.go
  api/cosmos/gov/v1/query.pulsar.go
  api/cosmos/gov/v1/query_grpc.pb.go
  api/cosmos/gov/v1/tx.pulsar.go
  api/cosmos/gov/v1/tx_grpc.pb.go
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/query.proto
  proto/cosmos/gov/v1/tx.proto
  tests/e2e/gov/grpc.go
  tests/integration/distribution/cli_tx_test.go
  tests/integration/evidence/genesis_test.go
  tests/integration/staking/simulation/operations_test.go
  tests/sims/authz/operations_test.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/autocli.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally.go
  x/gov/types/keys.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
  x/gov/types/v1/querier.go
  x/gov/types/v1/query.pb.go
  x/gov/types/v1/query.pb.gw.go
  x/gov/types/v1/tx.pb.go
Labels: C:CLI, C:x/gov

#19296 docs: Update ADR-070
  docs/architecture/adr-070-unordered-transactions.md
Labels: Type: ADR

#19167 feat(x/gov): add `yes_quorum` parameter
  api/cosmos/gov/v1/gov.pulsar.go
  client/v2/internal/offchain/msgSignArbitraryData.proto
  collections/lookup_map_test.go
  proto/cosmos/gov/v1/gov.proto
  store/db/db_test.go
  store/db/goleveldb.go
  store/db/memdb.go
  store/db/prefixdb.go
  tests/go.mod
  tests/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/go.mod
  x/gov/go.sum
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/migrations/v6/store.go
  x/gov/migrations/v6/store_test.go
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
Labels: C:CLI, C:x/gov, C:Simulations, C:Store, C:collections, C:x/accounts

#19313 feat(store/v2): Commit SS and SC Async
  store/go.mod
  store/root/store.go
Labels: C:Store
