Repository cosmos/cosmos-sdk, pull requests merged in 2024-02, with the labels that each got.

#19148 fix(x/auth): simulation multisig signature verification
  x/auth/CHANGELOG.md
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/go.mod
  x/auth/go.sum
Labels: C:x/auth

#18607 refactor(types)!: removed global config for verifier
  CHANGELOG.md
  codec/address/bech32_codec.go
  fuzz/oss-fuzz-build.sh
  fuzz/tests/types_verifyaddressformat_test.go
  types/address.go
  types/address_test.go
  types/config.go
  types/config_test.go
  x/auth/types/credentials_test.go
Labels: C:x/auth

#19295 docs: fixes broken links
  CHANGELOG.md
  CODING_GUIDELINES.md
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  ROADMAP.md
  UPGRADING.md
  docs/Introduction.md
  docs/architecture/README.md
  docs/architecture/adr-016-validator-consensus-key-rotation.md
  docs/architecture/adr-022-custom-panic-handling.md
  docs/architecture/adr-031-msg-service.md
  docs/architecture/adr-033-protobuf-inter-module-comm.md
  docs/architecture/adr-034-account-rekeying.md
  docs/architecture/adr-038-state-listening.md
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
  docs/architecture/adr-042-group-module.md
  docs/architecture/adr-048-consensus-fees.md
  docs/architecture/adr-049-state-sync-hooks.md
  docs/architecture/adr-054-semver-compatible-modules.md
  docs/architecture/adr-059-test-scopes.md
  docs/architecture/adr-062-collections-state-layer.md
  docs/architecture/adr-063-core-module-api.md
  docs/build/abci/00-introduction.md
  docs/build/abci/01-prepare-proposal.md
  docs/build/abci/02-process-proposal.md
  docs/build/abci/03-vote-extensions.md
  docs/build/building-apps/04-security-part-1.md
  docs/build/building-modules/00-intro.md
  docs/build/building-modules/01-module-manager.md
  docs/build/building-modules/03-msg-services.md
  docs/build/building-modules/06-keeper.md
  docs/build/building-modules/15-depinject.md
  docs/build/building-modules/16-testing.md
  docs/learn/advanced/00-baseapp.md
  docs/learn/advanced/01-transactions.md
  docs/learn/advanced/02-context.md
  docs/learn/advanced/03-node.md
  docs/learn/advanced/05-encoding.md
  docs/learn/advanced/06-grpc_rest.md
  docs/learn/advanced/07-cli.md
  docs/learn/advanced/08-events.md
  docs/learn/beginner/00-app-anatomy.md
  docs/learn/beginner/01-tx-lifecycle.md
  docs/learn/beginner/02-query-lifecycle.md
  docs/learn/beginner/03-accounts.md
  docs/learn/beginner/04-gas-fees.md
  docs/learn/intro/02-sdk-app-architecture.md
  docs/spec/store/README.md
  store/snapshots/README.md
  x/README.md
Labels: T:Docs, C:Store, Type: ADR

#19338 fix: Set headerInfo in context on setState
  CHANGELOG.md
  baseapp/baseapp.go
Labels: backport/v0.50.x

#18542 fix(x/bank): disallow duplicated addresses when sanitizing the genesis bank balances
  x/bank/types/balance.go
  x/bank/types/balance_test.go
Labels: C:x/bank

#19361 feat(accounts): Add methods to check if an account accepts certain messages or queries (interface assertion)
  x/accounts/internal/implementation/implementation.go
  x/accounts/internal/implementation/implementation_test.go
Labels: C:x/accounts

#19362 fix(x/feegrant): fix sims
  x/feegrant/CHANGELOG.md
  x/feegrant/keeper/keeper.go
Labels: C:x/feegrant

#19363 refactor(auth): Remove IterateAccounts method from x/auth keeper
  tests/integration/gov/genesis_test.go
  x/auth/CHANGELOG.md
  x/auth/keeper/account.go
  x/auth/keeper/genesis.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/module.go
  x/bank/types/expected_keepers.go
  x/genutil/types/expected_keepers.go
  x/slashing/types/expected_keepers.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/slashing, C:x/bank, C:x/auth, C:x/genutil

#19301 fix(x/distribution): vulnerable incrementReferenceCount in distribution
  x/distribution/CHANGELOG.md
  x/distribution/keeper/validator.go
Labels: C:x/distribution

#19372 ci: disable starship-tests action
  .github/workflows/starship-tests.yml
Labels: Type: CI

#19378 docs(client/v2): remove duplicate `GetTxCmd` mention
  client/v2/README.md
Labels: C:CLI

#19367 feat(nft): add env bundler to nft module
  simapp/app.go
  x/nft/CHANGELOG.md
  x/nft/keeper/grpc_query.go
  x/nft/keeper/keeper.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/msg_server.go
  x/nft/keeper/nft.go
  x/nft/module/depinject.go
Labels: C:x/nft

#19360 feat(accounts): Allow funds to be sent to accounts on init and execute
  api/cosmos/accounts/testing/counter/v1/counter.pulsar.go
  api/cosmos/accounts/v1/tx.pulsar.go
  core/appmodule/module.go
  proto/cosmos/accounts/testing/counter/v1/counter.proto
  proto/cosmos/accounts/v1/tx.proto
  tests/e2e/accounts/account_abstraction_test.go
  tests/e2e/accounts/wiring_test.go
  x/accounts/accountstd/exports.go
  x/accounts/coin_transfer.go
  x/accounts/genesis_test.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/context_test.go
  x/accounts/keeper.go
  x/accounts/keeper_account_abstraction.go
  x/accounts/keeper_test.go
  x/accounts/msg_server.go
  x/accounts/testing/counter/counter.go
  x/accounts/testing/counter/v1/counter.pb.go
  x/accounts/v1/tx.pb.go
Labels: C:x/accounts

#19352 refactor(x/gov): add vote options to tally result
  api/cosmos/gov/v1/gov.pulsar.go
  proto/cosmos/gov/v1/gov.proto
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/tally_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/tally.go
Labels: C:x/gov

#19370 feat(core): add migrations registering
  CHANGELOG.md
  UPGRADING.md
  core/CHANGELOG.md
  core/appmodule/migrations.go
  core/appmodule/module.go
  docs/build/building-modules/13-upgrade.md
  runtime/services/autocli.go
  types/module/configurator.go
  types/module/core_module.go
  types/module/module.go
  x/auth/keeper/migrations.go
  x/auth/module.go
  x/authz/keeper/migrations.go
  x/authz/module/module.go
  x/bank/keeper/migrations.go
  x/bank/module.go
  x/circuit/module.go
  x/crisis/keeper/migrator.go
  x/crisis/module.go
  x/distribution/keeper/migrations.go
  x/distribution/migrations/v4/migrate.go
  x/distribution/migrations/v4/migrate_funds.go
  x/distribution/module.go
  x/feegrant/keeper/migrations.go
  x/feegrant/module/module.go
  x/gov/keeper/migrations.go
  x/gov/migrations/v5/store.go
  x/gov/migrations/v6/store.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/keeper/migrator.go
  x/mint/module.go
  x/params/module.go
  x/protocolpool/module.go
  x/slashing/keeper/migrations.go
  x/slashing/migrations/v4/migrate.go
  x/slashing/module.go
  x/staking/keeper/migrations.go
  x/staking/migrations/v5/migrations_test.go
  x/staking/migrations/v5/store.go
  x/staking/module.go
  x/upgrade/keeper/migrations.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/circuit, C:x/protocolpool

#19349 refactor(gov): simplify state management
  tests/integration/gov/abci_test.go
  tests/integration/gov/keeper/grpc_query_test.go
  tests/integration/gov/keeper/tally_test.go
  tests/sims/gov/operations_test.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/abci.go
  x/gov/genesis.go
  x/gov/keeper/deposit.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/migrations/v6/store.go
  x/gov/migrations/v6/store_test.go
  x/gov/types/keys.go
  x/gov/types/v1/proposal.go
Labels: C:x/gov

#19393 fix(simapp): fix default home
  CHANGELOG.md
  client/config/config.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_v2.go
Labels: C:CLI, backport/v0.50.x

#19280 feat(server): in-place testnet creator
  CHANGELOG.md
  baseapp/options.go
  server/start.go
  server/util.go
Labels: backport/v0.47.x, backport/v0.50.x

#19400 refactor(cosmovisor): add missing stop ticker
  tools/cosmovisor/scanner.go
Labels: C:Cosmovisor

#19415 docs: Update documentation specifying the behaviour of CancelUnbondingDelegation on jailed validators
  x/staking/README.md
Labels: C:x/staking

#19188 refactor(bank, feegrant, authz): avoid creating baseaccount
  client/test_helpers.go
  client/tx/factory.go
  client/tx/tx.go
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  tests/e2e/baseapp/block_gas_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/grpc_query_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/abci_test.go
  tests/integration/gov/keeper/common_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/gov/keeper/tally_test.go
  tests/integration/slashing/abci_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/delegation_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/unbonding_test.go
  tests/integration/staking/keeper/vote_extensions_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/fee.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_internal_test.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/types/account_retriever.go
  x/authz/CHANGELOG.md
  x/authz/expected_keepers.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/testutil/expected_keepers_mocks.go
  x/bank/CHANGELOG.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/feegrant/CHANGELOG.md
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/msg_server_test.go
Labels: C:CLI, C:x/bank, C:x/auth, C:x/feegrant, C:x/authz, Type: ADR

#19410 feat!: migrate x/group to store service
  math/int_test.go
  simapp/app.go
  x/group/CHANGELOG.md
  x/group/internal/orm/auto_uint64.go
  x/group/internal/orm/auto_uint64_test.go
  x/group/internal/orm/genesis.go
  x/group/internal/orm/genesis_test.go
  x/group/internal/orm/index.go
  x/group/internal/orm/index_test.go
  x/group/internal/orm/indexer.go
  x/group/internal/orm/indexer_test.go
  x/group/internal/orm/iterator_test.go
  x/group/internal/orm/orm_scenario_test.go
  x/group/internal/orm/prefixstore/prefixstore.go
  x/group/internal/orm/primary_key.go
  x/group/internal/orm/primary_key_property_test.go
  x/group/internal/orm/primary_key_test.go
  x/group/internal/orm/sequence.go
  x/group/internal/orm/sequence_property_test.go
  x/group/internal/orm/sequence_test.go
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
  x/group/internal/orm/testsupport.go
  x/group/internal/orm/types.go
  x/group/internal/orm/types_test.go
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/invariants.go
  x/group/keeper/invariants_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/migrations.go
  x/group/keeper/msg_server.go
  x/group/keeper/tally.go
  x/group/migrations/v2/migrate.go
  x/group/migrations/v2/migrate_test.go
  x/group/module/depinject.go
Labels: C:x/group

#19403 test(x/gov): add case test for MsgVoteWeighted
  x/gov/keeper/msg_server_test.go
Labels: C:x/gov

#19327 feat(store/v2): Implement State Migration
  store/migration/manager.go
  store/migration/manager_test.go
  store/migration/stream.go
  store/snapshots/manager.go
  store/snapshots/stream.go
Labels: C:Store

#19411 feat(store/v2): remove the pruning manager
  store/commitment/iavl/tree_test.go
  store/commitment/store.go
  store/commitment/store_test_suite.go
  store/database.go
  store/db/goleveldb.go
  store/migration/manager_test.go
  store/options.go
  store/pruning/README.md
  store/pruning/manager.go
  store/pruning/manager_test.go
  store/pruning/options.go
  store/root/store.go
  store/root/store_test.go
  store/storage/pebbledb/db_test.go
  store/storage/rocksdb/db_test.go
  store/storage/sqlite/db_test.go
  store/storage/storage_bench_test.go
  store/storage/store.go
  store/store.go
Labels: C:Store

#19398 feat(mint): add env bundler to mint module
  core/appmodule/environment.go
  core/go.mod
  core/go.sum
  runtime/environment.go
  runtime/module.go
  simapp/app.go
  tests/integration/example/example_test.go
  x/circuit/keeper/genesis_test.go
  x/circuit/keeper/keeper_test.go
  x/mint/CHANGELOG.md
  x/mint/depinject.go
  x/mint/keeper/abci.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/module.go
  x/nft/keeper/keeper_test.go
Labels: C:x/mint, C:x/nft, C:x/circuit

#19423 refactor(x/group): use core migrations api
  runtime/app.go
  runtime/module.go
  runtime/services.go
  runtime/services/autocli.go
  simapp/app.go
  types/module/configurator.go
  x/accounts/module.go
  x/group/keeper/migrations.go
  x/group/migrations/v2/migrate.go
  x/group/module/module.go
  x/slashing/module.go
Labels: C:x/slashing, C:x/group, C:x/accounts

#19422 feat(runtime/v2): support migrations
  api/cosmos/app/runtime/v2/module.pulsar.go
  core/appmodule/migrations.go
  core/appmodule/module.go
  proto/cosmos/app/runtime/v2/module.proto
  runtime/module.go
  runtime/services.go
  runtime/services/autocli.go
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/manager.go
  runtime/v2/migrations.go
  runtime/v2/module.go
  runtime/v2/services.go
  runtime/v2/services/app.go
  runtime/v2/services/autocli.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/configurator.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  x/accounts/module.go
  x/bank/testutil/expected_keepers_mocks.go
  x/genutil/testutil/expected_keepers_mocks.go
  x/slashing/testutil/expected_keepers_mocks.go
  x/staking/testutil/expected_keepers_mocks.go
Labels: C:x/staking, C:x/slashing, C:x/bank, C:x/genutil, C:x/accounts

#19414 refactor(x/staking): migrate to use env
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/abci_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/delegation_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/slash_test.go
  x/staking/CHANGELOG.md
  x/staking/depinject.go
  x/staking/keeper/alias_functions.go
  x/staking/keeper/cons_pubkey.go
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/genesis.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/migrations.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/slash.go
  x/staking/keeper/test_common.go
  x/staking/keeper/unbonding.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/keeper/validator_test.go
Labels: C:x/staking

#19420 feat(x/protocolpool): add env bundler to protocolpool module
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/gov/keeper/keeper_test.go
  x/protocolpool/depinject.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
Labels: C:x/protocolpool

#19440 refactor(x/slashing): migrate slashing to use env var
  simapp/app.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/slashing/abci_test.go
  tests/integration/slashing/keeper/keeper_test.go
  x/slashing/CHANGELOG.md
  x/slashing/abci.go
  x/slashing/depinject.go
  x/slashing/keeper/grpc_query.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/keeper.go
  x/slashing/keeper/keeper_test.go
  x/slashing/keeper/migrations.go
  x/slashing/keeper/unjail.go
Labels: C:x/slashing

#19395 refactor(accounts): Remove UserOperation in favour of using Tx for abstracted accounts
  Dockerfile
  api/cosmos/accounts/defaults/base/v1/base.pulsar.go
  api/cosmos/accounts/interfaces/account_abstraction/v1/interface.pulsar.go
  api/cosmos/accounts/v1/account_abstraction.pulsar.go
  api/cosmos/accounts/v1/query.pulsar.go
  api/cosmos/accounts/v1/query_grpc.pb.go
  api/cosmos/accounts/v1/tx.pulsar.go
  client/v2/go.mod
  contrib/images/simd-env/Dockerfile
  go.mod
  proto/cosmos/accounts/defaults/base/v1/base.proto
  proto/cosmos/accounts/interfaces/account_abstraction/v1/interface.proto
  proto/cosmos/accounts/v1/account_abstraction.proto
  proto/cosmos/accounts/v1/query.proto
  proto/cosmos/accounts/v1/tx.proto
  simapp/ante.go
  simapp/app.go
  tests/e2e/accounts/account_abstraction_test.go
  tests/e2e/accounts/base_account_test.go
  x/accounts/accountstd/exports.go
  x/accounts/coin_transfer.go
  x/accounts/defaults/base/account.go
  x/accounts/defaults/base/v1/base.pb.go
  x/accounts/go.mod
  x/accounts/interfaces/account_abstraction/v1/interface.pb.go
  x/accounts/keeper.go
  x/accounts/keeper_account_abstraction.go
  x/accounts/msg_server.go
  x/accounts/query_server.go
  x/accounts/testing/account_abstraction/full.go
  x/accounts/testing/account_abstraction/minimal.go
  x/accounts/v1/account_abstraction.pb.go
  x/accounts/v1/query.pb.go
  x/accounts/v1/tx.pb.go
  x/auth/ante/ante.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/go.mod
  x/auth/tx/builder.go
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/distribution/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, Type: Build, C:x/circuit, C:x/accounts, C:x/protocolpool

#19441 chore(auth): add changelog for baseaccount creation
  x/auth/CHANGELOG.md
Labels: C:x/auth

#19418 feat(x/accounts): add env bundler to accounts module
  simapp/app.go
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/keeper.go
  x/accounts/msg_server.go
  x/accounts/utils_test.go
Labels: C:x/accounts

#19443 refactor(x/upgrade): migrate upgrade to env var
  simapp/app.go
  x/upgrade/CHANGELOG.md
  x/upgrade/depinject.go
  x/upgrade/keeper/abci.go
  x/upgrade/keeper/abci_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/keeper/migrations.go
  x/upgrade/module.go
Labels: C:x/upgrade

#19366 refactor(proto): use buf registry for cometbft protos
  Makefile
  UPGRADING.md
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/base/tendermint/v1beta1/query.pulsar.go
  api/cosmos/base/tendermint/v1beta1/types.pulsar.go
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  api/cosmos/tx/v1beta1/service.pulsar.go
  api/go.mod
  api/go.sum
  api/tendermint/abci/types.pulsar.go
  api/tendermint/abci/types_grpc.pb.go
  api/tendermint/crypto/keys.pulsar.go
  api/tendermint/crypto/proof.pulsar.go
  api/tendermint/libs/bits/types.pulsar.go
  api/tendermint/p2p/types.pulsar.go
  api/tendermint/types/block.pulsar.go
  api/tendermint/types/evidence.pulsar.go
  api/tendermint/types/params.pulsar.go
  api/tendermint/types/types.pulsar.go
  api/tendermint/types/validator.pulsar.go
  api/tendermint/version/types.pulsar.go
  go.mod
  go.sum
  proto/buf.gen.pulsar.yaml
  proto/buf.lock
  proto/buf.yaml
  proto/tendermint/abci/types.proto
  proto/tendermint/crypto/keys.proto
  proto/tendermint/crypto/proof.proto
  proto/tendermint/libs/bits/types.proto
  proto/tendermint/p2p/types.proto
  proto/tendermint/types/block.proto
  proto/tendermint/types/evidence.proto
  proto/tendermint/types/params.proto
  proto/tendermint/types/types.proto
  proto/tendermint/types/validator.proto
  proto/tendermint/version/types.proto
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/staking/go.mod
Labels: C:x/staking, C:x/gov, C:x/authz, C:x/group, Type: Build, C:x/accounts

#19468 refactor(client): removed unused function
  client/broadcast.go
Labels: C:CLI

#19469 docs: fixed typo in `client/broadcast.go`
  client/broadcast.go
Labels: C:CLI

#19476 refactor(auth): migrate to use env
  simapp/app.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/example/example_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/auth/CHANGELOG.md
  x/auth/ante/testutil_test.go
  x/auth/depinject.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/migrations.go
  x/auth/keeper/msg_server.go
  x/auth/vesting/fuzz_test.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/types/vesting_account_test.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/group/migrations/v2/migrate_test.go
Labels: C:x/distribution, C:x/auth, C:x/group

#19480 fix(x/auth/vesting): Add BlockedAddr check in `CreatePeriodicVestingAccount`
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
Labels: C:x/auth

#19477 refactor(bank): migrate to use env var
  simapp/app.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/auth/vesting/fuzz_test.go
  x/bank/CHANGELOG.md
  x/bank/depinject.go
  x/bank/keeper/collections_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/types/events.go
  x/distribution/migrations/v4/migrate_funds_test.go
Labels: C:x/distribution, C:x/bank, C:x/auth

#19484 remove MergedProtoRegistry
  types/registry/registry.go
  x/auth/tx/config/depinject.go
Labels: C:x/auth

#19482 refactor(evidence): migrate to env var
  simapp/app.go
  tests/integration/evidence/keeper/infraction_test.go
  x/evidence/CHANGELOG.md
  x/evidence/depinject.go
  x/evidence/keeper/abci.go
  x/evidence/keeper/infraction.go
  x/evidence/keeper/keeper.go
  x/evidence/keeper/keeper_test.go
Labels: C:x/evidence

#19488 feat(x/consensus): Add env bundler to x/consensus module
  CHANGELOG.md
  simapp/app.go
  testutil/integration/router.go
  x/consensus/depinject.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
Labels: C:x/consensus

#19489 feat(x/group): Add env bundler to group module
  simapp/app.go
  x/group/CHANGELOG.md
  x/group/keeper/abci.go
  x/group/keeper/abci_test.go
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/invariants.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/migrations.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_test.go
  x/group/keeper/proposal_executor.go
  x/group/keeper/tally.go
  x/group/module/abci.go
  x/group/module/depinject.go
  x/group/module/module.go
Labels: C:x/group

#19450 refactor(feegrant): migrate to use env var
  simapp/app.go
  x/feegrant/CHANGELOG.md
  x/feegrant/basic_fee.go
  x/feegrant/filtered_fee.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/migrations.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/migrations/v2/store.go
  x/feegrant/migrations/v2/store_test.go
  x/feegrant/module/abci_test.go
  x/feegrant/module/depinject.go
  x/feegrant/periodic_fee.go
Labels: C:x/feegrant

#18841 fix(x/staking): dust share
  CHANGELOG.md
  x/staking/keeper/delegation.go
  x/staking/keeper/delegation_test.go
Labels: C:x/staking

#19458 perf!: Make slashing not write sign info every block
  api/cosmos/accounts/interfaces/account_abstraction/v1/interface.pulsar.go
  api/cosmos/slashing/v1beta1/slashing.pulsar.go
  proto/cosmos/accounts/interfaces/account_abstraction/v1/interface.proto
  proto/cosmos/slashing/v1beta1/slashing.proto
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/slashing/abci_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/sims/slashing/operations_test.go
  x/accounts/interfaces/account_abstraction/v1/interface.pb.go
  x/slashing/CHANGELOG.md
  x/slashing/README.md
  x/slashing/keeper/genesis_test.go
  x/slashing/keeper/grpc_query_test.go
  x/slashing/keeper/hooks.go
  x/slashing/keeper/infractions.go
  x/slashing/keeper/msg_server_test.go
  x/slashing/keeper/signing_info_test.go
  x/slashing/simulation/decoder_test.go
  x/slashing/types/signing_info.go
  x/slashing/types/slashing.pb.go
Labels: C:x/slashing, C:Simulations, C:x/accounts

#19224 refactor(auth): refactor auth/tx to use x/tx
  baseapp/abci_test.go
  baseapp/abci_utils_test.go
  baseapp/utils_test.go
  client/tx/tx_test.go
  simapp/gomod2nix.toml
  tests/e2e/auth/suite.go
  tests/e2e/tx/benchmarks_test.go
  tests/e2e/tx/service_test.go
  tests/go.mod
  tests/integration/auth/client/cli/suite_test.go
  tests/integration/bank/app_test.go
  tests/integration/slashing/slashing_test.go
  tests/integration/tx/aminojson/aminojson_test.go
  tests/integration/tx/decode_test.go
  testutil/sims/simulation_helpers.go
  types/mempool/mempool_test.go
  types/registry/registry.go
  x/auth/go.mod
  x/auth/go.sum
  x/auth/tx/adapter.go
  x/auth/tx/aux_test.go
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
  x/auth/tx/config.go
  x/auth/tx/config/depinject.go
  x/auth/tx/config_test.go
  x/auth/tx/decoder.go
  x/auth/tx/encode_decode_test.go
  x/auth/tx/encoder.go
  x/auth/tx/gogotx.go
  x/auth/tx/gogotx_test.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/legacy_amino_json_test.go
  x/auth/tx/query.go
  x/auth/tx/service.go
  x/auth/tx/sigs.go
  x/auth/tx/testutil/suite.go
  x/genutil/gentx_test.go
  x/slashing/go.mod
  x/slashing/go.sum
  x/tx/decode/decode.go
  x/tx/go.mod
  x/tx/go.sum
  x/tx/signing/textual/e2e_test.go
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/internal/testdata/tx.json
Labels: C:CLI, C:x/slashing, C:x/auth, C:x/genutil, C:x/tx

#19500 chore(server/v2): appmanager cleanup
  core/appmodule/utils.go
  core/go.mod
  core/go.sum
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/go.mod
  runtime/v2/store.go
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/appmanager_builder.go
  server/v2/appmanager/circuit.go
  server/v2/appmanager/go.mod
  server/v2/appmanager/go.sum
  server/v2/appmanager/mock/storage.go
  server/v2/appmanager/store/adapters.go
  server/v2/appmanager/store/store.go
  server/v2/appmanager/store/types.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/cometbft/handlers/defaults.go
  server/v2/cometbft/query.go
  server/v2/cometbft/server.go
  server/v2/cometbft/types/peer.go
  server/v2/cometbft/types/store.go
  server/v2/cometbft/types/vote.go
  server/v2/cometbft/utils.go
  server/v2/core/store/changeset.go
  server/v2/core/store/types.go
  server/v2/go.mod
  server/v2/stf/go.mod
  server/v2/stf/stf.go
  server/v2/stf/stf_router.go
  server/v2/stf/stf_test.go
  simapp/go.mod
  x/circuit/keeper/keeper.go
  x/circuit/module.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/handler.go
Labels: C:x/upgrade, C:x/circuit

#19516 fix: in-place-testnet edgecases
  server/start.go
Labels: backport/v0.50.x

#19524 fix: check bugs from #19224
  client/v2/autocli/testdata/msg-output.golden
  client/v2/go.mod
  client/v2/go.sum
  simapp/gomod2nix.toml
  x/authz/client/cli/tx_test.go
  x/authz/go.mod
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/ante/circuit_test.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/client/cli/tx_test.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/genutil/client/cli/gentx.go
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/staking/client/cli/tx.go
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, C:x/circuit, C:x/protocolpool

#19490 feat(x/authz): Add env bundler to x/authz
  simapp/app.go
  x/authz/CHANGELOG.md
  x/authz/keeper/genesis.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/migrations.go
  x/authz/keeper/msg_server.go
  x/authz/migrations/v2/store.go
  x/authz/migrations/v2/store_test.go
  x/authz/module/abci_test.go
  x/authz/module/depinject.go
  x/authz/testutil/bank_helpers.go
Labels: C:x/authz

#19396 ci: bump go to 1.22
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-050.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/starship-tests.yml
  .github/workflows/test.yml
  Dockerfile
  contrib/devtools/Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  flake.lock
  flake.nix
  go.work.example
  simapp/go.mod
  tests/go.mod
  tests/starship/tests/go.mod
Labels: Type: Build, Type: CI

#19502 docs(store/v2): update store v2 docs
  store/README.md
  store/commitment/README.md
  store/storage/README.md
  store/storage/storage_bench_test.go
Labels: C:Store

#19535 refactor(vesting): remove vesting account creation
  api/cosmos/vesting/v1beta1/tx.pulsar.go
  api/cosmos/vesting/v1beta1/tx_grpc.pb.go
  x/auth/CHANGELOG.md
  x/auth/vesting/autocli.go
  x/auth/vesting/msg_server.go
  x/auth/vesting/msg_server_test.go
  x/auth/vesting/proto/cosmos/vesting/v1beta1/tx.proto
Labels: C:x/auth

#19540 refactor: update HasABCIEndBlock signature
  runtime/v2/go.mod
  runtime/v2/manager.go
  simapp/app_test.go
  simapp/app_v1_di.go
  simapp/simd/cmd/root_v1.go
  simapp/simd/cmd/root_v1_di.go
  simapp/upgrades.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/module.go
  x/staking/module.go
Labels: C:x/staking

#19539 refactor(vesting): fix build
  .github/workflows/build.yml
  tests/integration/rapidgen/rapidgen.go
  x/auth/vesting/README.md
  x/auth/vesting/client/cli/periods.json
  x/auth/vesting/client/cli/tx.go
  x/auth/vesting/client/cli/tx_test.go
  x/auth/vesting/fuzz_test.go
  x/auth/vesting/module.go
Labels: C:x/auth, Type: CI

#19548 refactor: use errors.New to replace fmt.Errorf with no parameters
  codec/proto_codec.go
  codec/types/any_test.go
  codec/types/interface_registry.go
  math/int.go
  x/tx/decode/decode.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/json_marshal_test.go
  x/tx/signing/aminojson/time.go
  x/tx/signing/context.go
  x/tx/signing/directaux/direct_aux.go
  x/tx/signing/textual/any.go
  x/tx/signing/textual/coin_test.go
  x/tx/signing/textual/coins.go
  x/tx/signing/textual/handler.go
Labels: C:x/tx

#19531 chore: add v0.47.9 and v0.50.4 release notes to main
  CHANGELOG.md
  x/staking/CHANGELOG.md
Labels: C:x/staking

#19541 chore: api cleanups
  CHANGELOG.md
  crypto/codec/cmt.go
  runtime/services/autocli.go
  testutil/mock/types_module_module.go
  types/module/module.go
  types/module/module_int_test.go
  types/module/simulation.go
  x/staking/module.go
  x/staking/types/validator.go
Labels: C:x/staking

#19549 fix(depinject): Authtx was not accepting custom signers
  x/auth/tx/config/depinject.go
Labels: C:x/auth, backport/v0.50.x

#19552 refactor(x/auth): simplify unnecessary code
  x/auth/tx/config/depinject.go
Labels: C:x/auth

#19568 refactor: use errors.New to replace fmt.Errorf with no parameters
  x/accounts/defaults/base/account.go
  x/accounts/testing/account_abstraction/minimal.go
  x/accounts/testing/counter/counter.go
  x/distribution/client/cli/tx.go
  x/distribution/migrations/v4/migrate_funds.go
  x/feegrant/client/cli/tx.go
  x/staking/client/cli/utils.go
Labels: C:x/staking, C:CLI, C:x/distribution, C:x/feegrant, C:x/accounts

#19455 feat(server): Allow calling back into the application struct in PostSetup.
  CHANGELOG.md
  client/pruning/main.go
  client/snapshot/cmd.go
  client/snapshot/export.go
  client/snapshot/restore.go
  server/cmt_cmds.go
  server/rollback.go
  server/start.go
  server/types/app.go
  server/util.go
  server/util_test.go
Labels: C:CLI

#19572 refactor(x/bank): remove duplicate logger
  simapp/app.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/accounts/keeper.go
  x/auth/keeper/keeper.go
  x/auth/keeper/migrations.go
  x/bank/depinject.go
  x/bank/keeper/collections_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
Labels: C:x/bank, C:x/auth, C:x/accounts

#19499 chore(server/v2): create v2 subpackage in core
  core/appmodule/environment.go
  core/appmodule/migrations.go
  core/appmodule/module.go
  core/appmodule/v2/environment.go
  core/appmodule/v2/genesis.go
  core/appmodule/v2/handlers.go
  core/appmodule/v2/message.go
  core/appmodule/v2/migrations.go
  core/appmodule/v2/module.go
  core/store/database.go
  runtime/v2/manager.go
  server/v2/appmanager/go.mod
  server/v2/appmanager/go.sum
  server/v2/cometbft/abci.go
  server/v2/cometbft/handlers/defaults.go
  server/v2/cometbft/handlers/tx_selector.go
  server/v2/cometbft/streaming.go
  server/v2/cometbft/utils.go
  server/v2/core/appmanager/app.go
  server/v2/core/go.mod
  server/v2/core/go.sum
  server/v2/stf/go.mod
  server/v2/stf/go.sum
  server/v2/stf/stf.go
  server/v2/stf/stf_test.go
  simapp/app_test.go
  x/auth/module.go
  x/bank/module.go
  x/circuit/module.go
  x/consensus/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/gov/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/protocolpool/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/distribution, C:x/mint, C:x/bank, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:x/consensus, C:x/circuit, C:x/protocolpool

#19536 build: fix `make proto-gen`
  buf.work.yaml
  runtime/app.go
  x/consensus/proto/buf.gen.pulsar.yaml
  x/consensus/proto/buf.lock
  x/consensus/proto/buf.yaml
  x/staking/proto/buf.gen.pulsar.yaml
  x/staking/proto/buf.lock
  x/staking/proto/buf.yaml
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:x/consensus

#19578 chore(server/v2): add godocs
  core/appmodule/v2/genesis.go
  core/store/database.go
  runtime/v2/manager.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/module.go
  types/module/module_int_test.go
  x/staking/module.go
Labels: C:x/staking

#19445 feat(x/distribution): add env bundler to distribution module
  baseapp/abci.go
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  testutil/sims/app_helpers.go
  x/distribution/CHANGELOG.md
  x/distribution/depinject.go
  x/distribution/keeper/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/migrations.go
  x/distribution/keeper/validator.go
  x/distribution/migrations/v4/migrate.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/distribution/migrations/v4/migrate_test.go
  x/distribution/module.go
Labels: C:x/distribution

#19586 refactor(x/auth/ante): don't use simulate bool in ante handler
  types/handler.go
  types/handler_test.go
  x/auth/ante/basic.go
  x/auth/ante/ext.go
  x/auth/ante/fee.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/ante/unordered.go
Labels: C:x/auth

#19598 refactor: use slices std
  client/cmd.go
  runtime/app.go
  store/storage/rocksdb/db.go
  store/storage/sqlite/iterator.go
  store/upgrade.go
  types/events.go
  x/accounts/go.mod
  x/accounts/v1/schema.go
  x/gov/depinject.go
  x/slashing/go.mod
  x/slashing/go.sum
Labels: C:CLI, C:x/gov, C:x/slashing, C:Store, C:x/accounts
