Repository cosmos/cosmos-sdk, pull requests merged in 2024-10, with the labels that each got.

#21632 chore(x/authz)!: Remove account keeper dependency
  simapp/app.go
  x/authz/CHANGELOG.md
  x/authz/expected_keepers.go
  x/authz/keeper/genesis.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/grpc_query.go
  x/authz/keeper/grpc_query_test.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/module/abci_test.go
  x/authz/module/depinject.go
  x/authz/testutil/expected_keepers_mocks.go
Labels: C:x/authz

#21315 feat(x/staking)!: Add metadata field to validator info
  api/cosmos/staking/v1beta1/staking.pulsar.go
  server/v2/api/grpc/gogoreflection/fix_registration.go
  simapp/simd/cmd/testnet.go
  simapp/v2/simdv2/cmd/testnet.go
  tests/integration/gov/common_test.go
  tests/integration/slashing/slashing_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/staking/keeper/genesis_test.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/tx/aminojson/aminojson_test.go
  testutil/network/network.go
  x/auth/vesting/types/vesting.pb.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/staking/CHANGELOG.md
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/client/cli/utils.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/proto/buf.lock
  x/staking/proto/cosmos/staking/v1beta1/staking.proto
  x/staking/simulation/msg_factory.go
  x/staking/simulation/rand_util.go
  x/staking/simulation/rand_util_test.go
  x/staking/types/msg.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
Labels: C:x/staking, C:CLI, C:Simulations, C:x/auth, C:x/genutil, C:server/v2, C:server/v2 api

#21680 docs: add instructions to change DefaultGenesis
  docs/build/building-apps/06-app-go-genesis.md
Labels: backport/v0.52.x

#21482 feat(schema): add API descriptors, struct, oneof & list types, and wire encoding spec
  schema/api.go
  schema/field.go
  schema/kind.go
  schema/oneof.go
  schema/state_object.go
  schema/struct.go
Labels: C:schema

#21819 test: migrate e2e/authz to system tests
  tests/e2e/authz/cli_test.go
  tests/e2e/authz/grpc.go
  tests/e2e/authz/tx.go
  tests/systemtests/authz_test.go
  tests/systemtests/bank_test.go
  tests/systemtests/rest_cli.go
  tests/systemtests/system.go
Labels: backport/v0.52.x

#21992 docs: amend docs for 52 changes
  docs/build/building-modules/06-beginblock-endblock.md
  docs/build/building-modules/06-keeper.md
  docs/build/building-modules/12-errors.md
  docs/learn/advanced/05-encoding.md
Labels: backport/v0.52.x

#21972 feat(cosmovisor): Add prepare-upgrade cmd
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/README.md
  tools/cosmovisor/args.go
  tools/cosmovisor/cmd/cosmovisor/prepare_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/root.go
  tools/cosmovisor/go.mod
Labels: C:Cosmovisor

#22005 refactor(store/v2): join `batch.Close` error with `original err`
  store/v2/commitment/metadata.go
  store/v2/migration/manager.go
  store/v2/storage/pebbledb/db.go
Labels: C:Store

#22010 fix(cosmovisor): fix show-upgrade info command
  tools/cosmovisor/cmd/cosmovisor/show_upgrade.go
Labels: C:Cosmovisor

#21925 feat(bank/v2): Introduce global send restriction
  x/bank/proto/cosmos/bank/module/v2/module.proto
  x/bank/v2/depinject.go
  x/bank/v2/keeper/keeper.go
  x/bank/v2/keeper/keeper_test.go
  x/bank/v2/keeper/restriction.go
  x/bank/v2/types/module/module.pb.go
  x/bank/v2/types/restrictions.go
Labels: C:x/bank, C:x/bank/v2

#22037 docs: update go module link
  docs/architecture/adr-053-go-module-refactoring.md
  docs/learn/beginner/00-app-anatomy.md
Labels: Type: ADR

#22039 docs(x/bank): fix function comments
  x/bank/v2/keeper/restriction.go
Labels: C:x/bank, C:x/bank/v2

#21979 refactor(baseapp): create checktx handler
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  baseapp/test_helpers.go
  docs/build/abci/04-checktx.md
  docs/build/building-apps/02-app-mempool.md
  types/abci.go
Labels: backport/v0.52.x

#22002 docs: Add initial doc for system tests
  docs/build/building-apps/06-system-tests.md
  docs/build/building-modules/16-testing.md
Labels: backport/v0.52.x

#22048 docs: update gov docs
  docs/architecture/adr-069-gov-improvements.md
  x/gov/README.md
Labels: C:x/gov, Type: ADR, backport/v0.50.x

#22049 docs: tooling
  client/v2/README.md
  docs/build/tooling/00-protobuf.md
  simapp/upgrades.go
  simapp/v2/upgrades.go
  tools/confix/README.md
  tools/cosmovisor/README.md
Labels: C:CLI, C:Cosmovisor, C:Confix, backport/v0.52.x

#22052 docs: fix several typos in the document
  docs/architecture/adr-043-nft-module.md
Labels: Type: ADR, backport/v0.52.x

#22057 docs(keys): remove unsupported `--dry-run` flag description for `keys migrate`
  client/keys/migrate.go
Labels: C:CLI, C:Keys, backport/v0.50.x, backport/v0.52.x

#22064 chore: Revert "docs: update gov docs (backport #22048)"
  docs/architecture/adr-069-gov-improvements.md
  x/gov/README.md
Labels: C:x/gov, Type: ADR

#22063 docs: update package list
  docs/build/packages/README.md
Labels: backport/v0.52.x

#22059 test(x/auth/vesting/types): test Periods.String()
  x/auth/vesting/types/period_test.go
Labels: C:x/auth, backport/v0.52.x

#22053 docs: update bank docs
  x/bank/README.md
Labels: C:x/bank, backport/v0.52.x

#22067 docs: Update `build/abci` docs
  docs/build/abci/00-introduction.md
  docs/build/abci/01-prepare-proposal.md
  docs/build/abci/02-process-proposal.md
  docs/build/abci/03-vote-extensions.md
Labels: backport/v0.52.x

#22046 docs: update learn/intro
  docs/learn/intro/00-overview.md
  docs/learn/intro/02-sdk-app-architecture.md
  docs/learn/intro/03-sdk-design.md
  docs/learn/learn.md
Labels: backport/v0.52.x

#22076 docs(x/circuit): fix `circuit` command examples
  x/circuit/autocli.go
Labels: C:x/circuit, backport/v0.52.x

#22062 docs: update authz docs
  x/authz/README.md
Labels: C:x/authz, backport/v0.52.x

#22060 docs: Update nft docs
  x/nft/README.md
Labels: C:x/nft, backport/v0.52.x

#21976 refactor(x/bank): swap sendrestriction check in InputOutputCoins
  x/bank/CHANGELOG.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
  x/group/keeper/abci.go
Labels: C:x/bank, C:x/group, backport/v0.52.x

#21825 fix(x/tx): fix amino json drift from legacy spec
  tests/integration/rapidgen/rapidgen.go
  tests/integration/tx/aminojson/aminojson_test.go
  tests/integration/tx/context_test.go
  tests/integration/tx/internal/util.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/encoder.go
Labels: C:x/auth, C:x/tx, backport/v0.50.x, backport/v0.52.x

#22080 ci: split system tests in two job
  .github/workflows/test.yml
  .github/workflows/v2-test.yml
Labels: Type: CI, backport/v0.52.x

#22081 fix(cometbft/grpc): gRPC path parsing
  server/v2/api/grpc/server.go
  server/v2/cometbft/abci.go
Labels: C:server/v2, C:server/v2 cometbft, C:server/v2 api, backport/v0.52.x

#21995 chore(systemtests): Remove testutil dependency
  tests/systemtests/authz_test.go
  tests/systemtests/bank_test.go
  tests/systemtests/bankv2_test.go
  tests/systemtests/cometbft_client_test.go
  tests/systemtests/fraud_test.go
  tests/systemtests/gov_test.go
  tests/systemtests/io_utils.go
  tests/systemtests/rest_cli.go
  tests/systemtests/snapshots_test.go
  tests/systemtests/system.go
Labels: backport/v0.52.x

#21985 feat(server/v2/cometbft): add checktx handler
  server/v2/cometbft/abci.go
  server/v2/cometbft/handlers/handlers.go
  server/v2/cometbft/options.go
  server/v2/cometbft/server.go
Labels: C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#22090 docs(x/genutil): fix `genesis migrate` command examples
  x/genutil/client/cli/migrate.go
Labels: C:CLI, C:x/genutil, backport/v0.52.x

#20623 feat(client/v2): factory
  client/v2/CHANGELOG.md
  client/v2/autocli/flag/address.go
  client/v2/autocli/keyring/interface.go
  client/v2/autocli/keyring/keyring.go
  client/v2/autocli/keyring/no_keyring.go
  client/v2/go.mod
  client/v2/internal/account/retriever.go
  client/v2/internal/coins/util.go
  client/v2/internal/coins/util_test.go
  client/v2/offchain/sign.go
  client/v2/tx/README.md
  client/v2/tx/common_test.go
  client/v2/tx/config.go
  client/v2/tx/config_test.go
  client/v2/tx/encoder.go
  client/v2/tx/encoder_test.go
  client/v2/tx/factory.go
  client/v2/tx/factory_test.go
  client/v2/tx/flags.go
  client/v2/tx/signature.go
  client/v2/tx/signature_test.go
  client/v2/tx/tx.go
  client/v2/tx/types.go
  client/v2/tx/wrapper.go
  crypto/keyring/autocli.go
Labels: C:CLI

#22098 docs: fix several typos in the document
  docs/architecture/adr-002-docs-structure.md
  docs/build/abci/01-prepare-proposal.md
Labels: Type: ADR, backport/v0.52.x

#22082 docs(crypto): Add readme file
  crypto/README.md
Labels: backport/v0.52.x

#22107 docs: Update slashing docs
  x/slashing/README.md
Labels: C:x/slashing, backport/v0.52.x

#22111 doc: fix link for proto-gen
  server/v2/streaming/plugin.md
  store/streaming/abci/README.md
Labels: C:Store, C:server/v2

#22105 docs: Update upgrade docs
  x/upgrade/README.md
Labels: C:x/upgrade, backport/v0.52.x

#22116 fix(crypto/ledger): Improve error message when deriving paths
  CHANGELOG.md
  crypto/ledger/ledger_secp256k1.go
Labels: backport/v0.52.x

#22106 docs(server): fix `comet bootstrap-state` command example
  server/cmt_cmds.go
Labels: backport/v0.52.x

#22118 docs(store/v2): Add missing documents
  store/v2/README.md
  store/v2/commitment/README.md
  store/v2/migration/README.md
  store/v2/storage/README.md
Labels: C:Store

#22102 chore: set correct checksums after adding multiarch support
  tools/cosmovisor/testdata/download/cosmovisor/genesis/bin/autod
  tools/cosmovisor/testdata/repo/chain2-zip_bin/autod
  tools/cosmovisor/testdata/repo/chain2-zip_bin/autod.zip
Labels: C:Cosmovisor

#22068 feat(epochs): add wrapper of epoch getter
  tests/integration/tx/context_test.go
  tests/integration/tx/internal/util.go
  x/epochs/README.md
  x/epochs/keeper/epoch.go
Labels: C:x/epochs, backport/v0.52.x

#22126 docs: remove invariants
  docs/build/building-modules/01-module-manager.md
  docs/build/building-modules/07-invariants.md
  docs/learn/beginner/00-app-anatomy.md
  x/epochs/keeper/epoch.go
Labels: C:x/epochs, backport/v0.52.x

#22114 docs(x/consensus): fixes
  x/consensus/README.md
Labels: C:x/consensus, backport/v0.52.x

#21908 test: migrate e2e/distribution to system tests
  tests/e2e/distribution/cli_test.go
  tests/e2e/distribution/grpc_query_suite.go
  tests/e2e/distribution/withdraw_all_suite.go
  tests/systemtests/authz_test.go
  tests/systemtests/distribution_test.go
  tests/systemtests/rest_cli.go
  tests/systemtests/system.go
Labels: backport/v0.52.x

#22136 docs: remove invariants
  docs/build/building-modules/01-module-manager.md
Labels: backport/v0.52.x

#22135 docs: fix several typos in the document
  docs/architecture/adr-003-dynamic-capability-store.md
  docs/architecture/adr-010-modular-antehandler.md
  docs/architecture/adr-012-state-accessors.md
  docs/architecture/adr-013-metrics.md
  docs/architecture/adr-016-validator-consensus-key-rotation.md
Labels: Type: ADR

#21003 fix(baseapp): align block header when query with latest height
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp_test.go
Labels: backport/v0.52.x

#22143 docs(gov): remove stores & proposal processing queue
  x/gov/README.md
Labels: C:x/gov, backport/v0.52.x

#22147 docs: fix inaccessible links
  docs/build/building-modules/16-testing.md
Labels: backport/v0.52.x

#22145 test(systemtests): fix failing tests
  tests/systemtests/cometbft_client_test.go
  tests/systemtests/rest_cli.go
  tests/systemtests/system.go
  tests/systemtests/testnet_init.go
  tests/systemtests/upgrade_test.go
Labels: backport/v0.52.x

#21891 feat(tools/cosmovisor): create current symlink as relative
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/cmd/cosmovisor/init.go
  tools/cosmovisor/cmd/cosmovisor/init_test.go
  tools/cosmovisor/cmd/cosmovisor/root.go
  tools/cosmovisor/cmd/cosmovisor/run.go
  tools/cosmovisor/process_test.go
  tools/cosmovisor/upgrade_test.go
Labels: C:Cosmovisor

#22151 docs: modify the corresponding link in the code document
  x/feegrant/README.md
Labels: C:x/feegrant

#22156 docs(core): create docs for environment and core API
  docs/learn/advanced/05-encoding.md
  docs/learn/advanced/17-core.md
Labels: backport/v0.52.x

#22166 docs: update cometbft db code reference link
  store/prefix/store.go
  x/accounts/internal/prefixstore/prefixstore.go
  x/group/internal/orm/prefixstore/prefixstore.go
Labels: C:Store, C:x/group, C:x/accounts, backport/v0.52.x

#22141 test(server/v2/stf): Add test for mergeiterator
  server/v2/stf/branch/mergeiter_test.go
Labels: C:server/v2, C:server/v2 stf

#22099 docs(x/accounts): init of the x/accounts module docs.
  x/accounts/README.md
Labels: C:x/accounts

#21853 fix(client/v2): *big.Int unmarshal
  client/v2/CHANGELOG.md
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/legacy_dec.go
  x/auth/tx/builder.go
  x/tx/decode/decode.go
Labels: C:CLI, C:x/auth, C:x/tx, backport/v0.52.x

#22008 refactor(server/v2): clean up storage use and config
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/module.go
  runtime/v2/store.go
  server/v2/cometbft/server.go
  server/v2/cometbft/types/store.go
  server/v2/commands.go
  server/v2/config_test.go
  server/v2/server.go
  server/v2/server_test.go
  server/v2/store/config.go
  server/v2/store/server.go
  server/v2/store/snapshot.go
  server/v2/types.go
  simapp/v2/app_di.go
  simapp/v2/app_test.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  simapp/v2/simdv2/cmd/testnet.go
  store/v2/root/builder.go
  store/v2/root/config.go
  store/v2/root/factory.go
  store/v2/store.go
Labels: C:Store, C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#22173 docs: update missing wrong cometbft prefixdb links
  store/prefix/store_test.go
Labels: C:Store

#21678 refactor(genutil): Use sdk types genesis validator
  crypto/codec/pubkey.go
  crypto/keys/jsonkey.go
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/manager.go
  runtime/v2/services/genesis.go
  server/types/app.go
  simapp/export.go
  simapp/v2/app_di.go
  simapp/v2/app_test.go
  simapp/v2/export.go
  tests/e2e/genutil/export_test.go
  types/genesis.go
  types/staking.go
  x/genutil/client/cli/migrate.go
  x/genutil/migration/v052/migrate.go
  x/genutil/migration/v052/migrate_test.go
  x/genutil/migration/v052/testdata/old_app_genesis.json
  x/genutil/types/genesis.go
  x/genutil/types/testdata/app_genesis.json
  x/genutil/utils.go
  x/genutil/v2/cli/export.go
  x/genutil/v2/types.go
  x/staking/genesis.go
Labels: S:blocked, C:x/staking, C:CLI, C:x/genutil, backport/v0.52.x

#22182 docs: update protobuf links
  codec/unknownproto/unknown_fields.go
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/architecture/adr-023-protobuf-naming.md
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
  docs/architecture/adr-031-msg-service.md
  docs/architecture/adr-044-protobuf-updates-guidelines.md
  docs/architecture/adr-054-semver-compatible-modules.md
  docs/build/building-modules/02-messages-and-queries.md
  docs/build/building-modules/15-depinject.md
  docs/learn/advanced/05-encoding.md
  docs/learn/beginner/00-app-anatomy.md
  docs/learn/beginner/02-query-lifecycle.md
Labels: Type: ADR, backport/v0.52.x

#22168 docs(x/accounts/defaults/lockup): Add tutorial document
  x/accounts/defaults/lockup/TUTORIAL.md
Labels: C:x/accounts, C:x/accounts/lockup, backport/v0.52.x

#22189 ci: push docker image on betas
  .github/workflows/docker.yml
  Dockerfile
  contrib/images/simd-env/Dockerfile
Labels: Type: Build, Type: CI, backport/v0.52.x

#22190 test(systemtest): Fix `prune` & `gov` test
  tests/systemtests/genesis_io.go
  tests/systemtests/gov_test.go
  tests/systemtests/snapshots_test.go
  tests/systemtests/system.go
Labels: backport/v0.52.x

#22194 docs: fix pre.sh
  docs/post.sh
  docs/pre.sh
Labels: backport/v0.52.x

#22191 docs: update learn/beginner docs
  docs/learn/beginner/00-app-anatomy.md
  docs/learn/beginner/01-tx-lifecycle.md
  docs/learn/beginner/02-query-lifecycle.md
  docs/learn/beginner/03-accounts.md
  docs/learn/beginner/04-gas-fees.md
Labels: backport/v0.52.x

#21651 refactor(x/bank,x/distr,x/feegrant)!: reduce auth keeper dependency
  simapp/app.go
  x/bank/depinject.go
  x/bank/keeper/collections_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/keeper/msg_server_test.go
  x/bank/keeper/send.go
  x/bank/keeper/view.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/expected_keepers.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/feegrant/CHANGELOG.md
  x/feegrant/expected_keepers.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/grpc_query.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/keeper/msg_server.go
  x/feegrant/keeper/msg_server_test.go
  x/feegrant/module/abci_test.go
  x/feegrant/module/depinject.go
  x/feegrant/testutil/expected_keepers_mocks.go
Labels: C:x/distribution, C:x/bank, C:x/feegrant

#22206 refactor(server/v2): late bound storeBuilder
  server/v2/store/commands.go
  server/v2/store/snapshot.go
Labels: C:server/v2

#22201 docs: bring back user docs in main repo
  docs/post.sh
  docs/pre.sh
  docs/user/run-node/00-keyring.md
  docs/user/run-node/01-run-node.md
  docs/user/run-node/02-interact-node.md
  docs/user/run-node/03-txs.md
  docs/user/run-node/04-rosetta.md
  docs/user/run-node/05-run-testnet.md
  docs/user/run-node/06-run-production.md
  docs/user/run-node/07-multisig-guide.md
  docs/user/run-node/08-onchain-multisig.md
  docs/user/run-node/_category_.json
  docs/user/user.md
Labels: backport/v0.52.x

#21790 feat(tools/cosmovisor): cosmovisor batch upgrades
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/args.go
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/batch_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/root.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/process.go
Labels: C:Cosmovisor

#22202 docs: add docs boilerplate
  docs/build/_category_.json
  docs/build/build.md
Labels: backport/v0.50.x, backport/v0.52.x

#22185 refactor(store/v2): replace dboptions by dynamic config
  store/v2/db/db.go
  store/v2/db/goleveldb.go
  store/v2/db/pebbledb.go
  store/v2/db/rocksdb_noflag.go
  store/v2/options.go
  store/v2/root/reader.go
Labels: C:Store

#22216 docs(x/staking): update readme
  x/staking/README.md
  x/staking/types/params.go
Labels: C:x/staking, backport/v0.52.x

#22222 feat(server/v2): wire indexer config
  server/v2/cometbft/abci.go
  server/v2/cometbft/config.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/cometbft/server.go
  server/v2/go.mod
  server/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tools/confix/data/v2-app.toml
Labels: C:Confix, C:server/v2, C:server/v2 cometbft

#22214 docs(collections): add comments for funcs
  collections/quad.go
  collections/triple.go
Labels: C:collections

#22205 refactor(runtime/v2): use AppI.GetStore() to fetch an initialized RootStore
  runtime/v2/module.go
  runtime/v2/store.go
  server/v2/cometbft/server.go
  server/v2/server_test.go
  server/v2/store/server.go
  server/v2/types.go
  simapp/v2/app_di.go
  simapp/v2/app_test.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  simapp/v2/simdv2/cmd/testnet.go
Labels: C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#21782 fix(x/tx): sort with oneof field name in amino-json
  tests/integration/rapidgen/rapidgen.go
  tests/integration/tx/aminojson/aminojson_test.go
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
Labels: C:x/tx, backport/v0.50.x

#22229 chore(x/group): update supported flags
  x/group/client/cli/tx.go
  x/group/client/cli/util.go
Labels: C:CLI, C:x/group, backport/v0.47.x, backport/v0.50.x, backport/v0.52.x

#22149 test: migrate e2e/auth to system tests and fix sign-batch
  client/account_retriever.go
  tests/e2e/auth/cli_test.go
  tests/e2e/auth/suite.go
  tests/systemtests/auth_test.go
  tests/systemtests/cli.go
  tests/systemtests/distribution_test.go
  x/auth/client/cli/tx_sign.go
Labels: C:CLI, C:x/auth, backport/v0.52.x

#22241 fix(server/v2): use only one logger for app and server
  server/v2/commands.go
  server/v2/server.go
  server/v2/server_test.go
  server/v2/util.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/config.go
  simapp/v2/simdv2/cmd/testnet.go
Labels: C:server/v2, backport/v0.52.x

#22240 fix(server/v2/cometbft): wire app closer
  server/v2/cometbft/abci.go
  server/v2/cometbft/abci_test.go
  server/v2/cometbft/server.go
  server/v2/testdata/app.toml
  server/v2/types.go
  simapp/v2/app_di.go
  store/v2/commitment/metadata.go
  store/v2/root/factory.go
  store/v2/root/migrate_test.go
  store/v2/root/store.go
  store/v2/root/store_test.go
  store/v2/root/upgrade_test.go
  tools/confix/data/v2-app.toml
Labels: C:Store, C:Confix, C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#22247 docs(crypto): update docs
  collections/quad.go
  crypto/codec/pubkey.go
  crypto/hd/hdpath.go
  crypto/keyring/keyring.go
  crypto/keyring/record.go
Labels: C:collections, backport/v0.52.x

#22248 refactor: add close body after use and fix lint
  collections/quad.go
  server/v2/cometbft/abci.go
  tests/integration/tx/aminojson/aminojson_test.go
  tools/hubl/internal/registry.go
Labels: C:collections, C:Hubl, C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#22255 docs: update some learn/advanced
  docs/learn/advanced/00-baseapp.md
  docs/learn/advanced/01-transactions.md
  docs/learn/advanced/02-context.md
  docs/learn/advanced/03-node.md
  docs/learn/advanced/04-store.md
Labels: backport/v0.52.x

#22245 chore(server): bump cosmossdk.io/core and correct comment naming
  server/v2/appmanager/go.mod
  server/v2/appmanager/go.sum
  server/v2/cometbft/abci.go
  server/v2/cometbft/internal/mock/mock_reader.go
  server/v2/stf/core_router_service.go
  server/v2/stf/gas/defaults.go
Labels: C:server/v2, C:server/v2 stf, C:server/v2 appmanager, C:server/v2 cometbft, backport/v0.52.x

#22235 feat(store/v2): add version exists
  runtime/v2/store.go
  store/v2/commitment/store.go
  store/v2/database.go
  store/v2/mock/db_mock.go
  store/v2/mock/types.go
  store/v2/root/store.go
  store/v2/root/store_mock_test.go
  store/v2/root/store_test.go
  store/v2/storage/database.go
  store/v2/storage/pebbledb/db.go
  store/v2/storage/rocksdb/db.go
  store/v2/storage/rocksdb/db_noflag.go
  store/v2/storage/sqlite/db.go
  store/v2/storage/storage_bench_test.go
  store/v2/storage/storage_test_suite.go
  store/v2/storage/store.go
  store/v2/store.go
Labels: C:Store

#22280 chore: add crisis changelog
  CHANGELOG.md
Labels: backport/v0.52.x

#22278 test: migrate e2e/group to system tests
  tests/e2e/group/cli_test.go
  tests/e2e/group/suite.go
  tests/systemtests/group_test.go
Labels: backport/v0.52.x

#22295 docs(x/accounts): fix doc
  x/accounts/README.md
Labels: C:x/accounts, backport/v0.52.x

#22292 refactor: improvements on rest v2 server
  scripts/init-simapp-v2.sh
  server/v2/api/rest/server.go
  tools/confix/data/v2-app.toml
Labels: Type: Build, C:Confix, C:server/v2, C:server/v2 api, backport/v0.52.x

#22293 fix(server/v2/cometbft): fix mock store
  server/v2/cometbft/internal/mock/mock_store.go
  store/v2/mock/types.go
  store/v2/storage/README.md
  store/v2/storage/store.go
Labels: C:Store, C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#22284 feat(server/v2): enable pprof
  server/v2/commands.go
  server/v2/flags.go
  server/v2/server.go
Labels: C:server/v2

#22294 test: migrate e2e/mint to system tests
  tests/e2e/mint/cli_test.go
  tests/e2e/mint/grpc.go
  tests/e2e/mint/suite.go
  tests/systemtests/mint_test.go
Labels: backport/v0.52.x

#22306 feat(systemtests): increase verbosity
  tests/systemtests/cli.go
Labels: backport/v0.52.x

#22316 docs: fix markdown code grammar
  collections/README.md
Labels: C:collections

#22300 refactor(runtime/v2): simplify app manager
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/manager.go
  runtime/v2/module.go
  server/v2/api/grpc/server.go
  server/v2/api/rest/handler.go
  server/v2/api/rest/server.go
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/appmanager_builder.go
  server/v2/appmanager/config.go
  server/v2/appmanager/genesis.go
  server/v2/appmanager/stf.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/abci_test.go
  server/v2/cometbft/server.go
  server/v2/server_test.go
  server/v2/stf/stf.go
  server/v2/store/server.go
  server/v2/types.go
  simapp/v2/app_di.go
  simapp/v2/app_test.go
  simapp/v2/export.go
Labels: C:server/v2, C:server/v2 stf, C:server/v2 appmanager, C:server/v2 cometbft, C:server/v2 api, backport/v0.52.x

#22319 fix(x/accounts/lockup): fix proto path
  api/cosmos/accounts/defaults/lockup/v1/lockup.pulsar.go
  api/cosmos/accounts/defaults/lockup/v1/query.pulsar.go
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
  tests/e2e/accounts/lockup/continous_lockup_test_suite.go
  tests/e2e/accounts/lockup/delayed_lockup_test_suite.go
  tests/e2e/accounts/lockup/periodic_lockup_test_suite.go
  tests/e2e/accounts/lockup/permanent_lockup_test_suite.go
  tests/e2e/accounts/lockup/utils.go
  x/accounts/README.md
  x/accounts/defaults/lockup/continuous_locking_account.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/lockup_test.go
  x/accounts/defaults/lockup/periodic_locking_account.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/v1/encoding.go
  x/accounts/defaults/lockup/v1/lockup.pb.go
  x/accounts/defaults/lockup/v1/query.pb.go
  x/accounts/defaults/lockup/v1/tx.pb.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/lockup.proto
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/query.proto
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/tx.proto
Labels: C:x/accounts, C:x/accounts/lockup, backport/v0.52.x

#22327 build(deps): bump x/tx
  client/v2/go.mod
  go.mod
  runtime/v2/go.mod
  server/v2/cometbft/go.mod
  simapp/go.mod
  simapp/v2/go.mod
  tests/go.mod
  x/accounts/defaults/base/go.mod
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/multisig/go.mod
  x/accounts/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/consensus/go.mod
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:server/v2, C:x/accounts, C:x/protocolpool, C:x/epochs, C:x/accounts/lockup, C:x/accounts/multisig, C:server/v2 cometbft, C:x/accounts/base

#22233 perf(log): use sonic json lib
  log/CHANGELOG.md
  log/go.mod
  log/go.sum
  log/level_test.go
  log/logger.go
  log/logger_test.go
  log/writer.go
  log/writer_test.go
Labels: C:log

#22334 chore(client): use command's configured output
  client/cmd.go
  client/cmd_test.go
Labels: C:CLI, backport/v0.52.x

#22320 test: x/accounts systemtests
  simapp/simd/cmd/root_di.go
  simapp/v2/simdv2/cmd/root_di.go
  tests/systemtests/account_test.go
  tests/systemtests/cli.go
  x/accounts/keeper.go
  x/accounts/module.go
Labels: C:x/accounts

#22340 chore: remove unused local variables
  .golangci.yml
  simapp/export.go
  store/cachekv/store_test.go
  types/mempool/priority_nonce_test.go
  x/staking/keeper/query_utils.go
Labels: C:x/staking, C:Store, Type: CI

#22339 docs(x/accounts): improve comments
  api/cosmos/accounts/defaults/lockup/v1/tx.pulsar.go
  api/cosmos/accounts/defaults/multisig/v1/multisig.pulsar.go
  server/v2/api/telemetry/config.go
  simapp/go.mod
  tools/confix/data/v2-app.toml
  x/accounts/README.md
  x/accounts/defaults/lockup/TUTORIAL.md
  x/accounts/defaults/lockup/v1/tx.pb.go
  x/accounts/defaults/multisig/v1/multisig.pb.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/tx.proto
  x/accounts/proto/cosmos/accounts/defaults/multisig/v1/multisig.proto
Labels: C:Confix, C:server/v2, C:x/accounts, C:x/accounts/lockup, C:x/accounts/multisig, C:server/v2 api, backport/v0.52.x

#22335 feat(server/v2): add SimulateWithState to AppManager
  server/v2/appmanager/appmanager.go
Labels: C:server/v2, C:server/v2 appmanager

#22348 chore(simdv2): allow overriding the --home flag
  simapp/v2/simdv2/cmd/commands.go
Labels: backport/v0.52.x

#22346 fix(server/v2): respect context cancellation in start command
  server/v2/commands.go
Labels: C:server/v2

#22351 refactor(simdv2): allow non-comet server components
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  simapp/v2/simdv2/cmd/root_test.go
  simapp/v2/simdv2/cmd/testnet_test.go
  simapp/v2/simdv2/main.go
Labels: backport/v0.52.x

#22152 test: migrate e2e/tx tests to systemtest
  tests/e2e/tx/service_test.go
  tests/e2e/tx/testdata/tx_amino1.json
  tests/systemtests/testdata/tx_amino1.bin
  tests/systemtests/testdata/tx_amino1.json
  tests/systemtests/tx_test.go
Labels: backport/v0.52.x

#22331 test: add x/circuit system tests
  tests/systemtests/circuit_test.go
  x/circuit/autocli.go
Labels: C:x/circuit, backport/v0.52.x

#22357 test: migrate e2e/baseapp to integration tests
  tests/integration/baseapp/block_gas_test.go
  tests/integration/baseapp/utils.go
Labels: backport/v0.52.x

#22347 feat(log): add slog-backed Logger type
  log/CHANGELOG.md
  log/README.md
  log/slog/logger.go
  log/slog/logger_test.go
Labels: C:log

#22325 test: migrate e2e/genutil to systemtest
  tests/e2e/genutil/export_test.go
  tests/go.mod
  tests/systemtests/export_test.go
  tests/systemtests/system.go
Labels: backport/v0.52.x

#22367 docs: learn/advance
  docs/learn/advanced/00-baseapp.md
  docs/learn/advanced/05-encoding.md
  docs/learn/advanced/06-grpc_rest.md
  docs/learn/advanced/07-cli.md
  docs/learn/advanced/08-events.md
  docs/learn/advanced/09-telemetry.md
  docs/learn/advanced/11-runtx_middleware.md
Labels: backport/v0.52.x

#22374 docs: fixed typo in threshold and quorums section of onchain multi-sig guide in user guide section of sdk docs
  docs/user/run-node/08-onchain-multisig.md
Labels: backport/v0.52.x

#22364 test: migrate remaining e2e tests to integration tests
  .github/workflows/test.yml
  scripts/build/testing.mk
  tests/Makefile
  tests/e2e/accounts/lockup/lockup_account_test.go
  tests/integration/accounts/base_account_test.go
  tests/integration/accounts/lockup/continous_lockup_test_suite.go
  tests/integration/accounts/lockup/delayed_lockup_test_suite.go
  tests/integration/accounts/lockup/lockup_account_test.go
  tests/integration/accounts/lockup/periodic_lockup_test_suite.go
  tests/integration/accounts/lockup/permanent_lockup_test_suite.go
  tests/integration/accounts/lockup/utils.go
  tests/integration/accounts/multisig/account_test.go
  tests/integration/accounts/multisig/test_suite.go
  tests/integration/accounts/wiring_test.go
  tests/integration/auth/keeper/account_retriever_test.go
  tests/integration/auth/keeper/app_config.go
  tests/integration/auth/keeper/keeper_bench_test.go
  tests/integration/auth/keeper/module_test.go
  tests/integration/tx/benchmark/benchmarks_test.go
Labels: Type: CI, backport/v0.52.x

#22326 feat(core): add a new codec to core
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  collections/protocodec/collections.go
  collections/protocodec/collections_test.go
  collections/protocodec/go.mod
  collections/protocodec/go.sum
  core/CHANGELOG.md
  core/codec/codec.go
  go.work.example
Labels: Type: CI, C:collections

#22376 refactor(x/slashing): remove extra get
  x/slashing/keeper/infractions.go
Labels: C:x/slashing

#22389 test(system): check feePayers signature
  tests/systemtests/auth_test.go
Labels: backport/v0.52.x

#22267 refactor(server/v2): eager config loading
  .github/CODEOWNERS
  runtime/config.go
  runtime/module.go
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/config.go
  runtime/v2/module.go
  server/v2/api/grpc/server.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/rest/server.go
  server/v2/api/rest/server_test.go
  server/v2/api/telemetry/server.go
  server/v2/cometbft/server.go
  server/v2/command_factory.go
  server/v2/commands.go
  server/v2/logger.go
  server/v2/server.go
  server/v2/server_mock_test.go
  server/v2/server_test.go
  server/v2/store/server.go
  server/v2/store/snapshot.go
  server/v2/util.go
  simapp/app_di.go
  simapp/v2/app_config.go
  simapp/v2/app_di.go
  simapp/v2/app_test.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/depinject.go
  simapp/v2/simdv2/cmd/root_di.go
  simapp/v2/simdv2/cmd/root_test.go
  simapp/v2/simdv2/cmd/testnet.go
  simapp/v2/simdv2/cmd/testnet_test.go
  simapp/v2/simdv2/main.go
  x/genutil/client/cli/collect.go
  x/genutil/v2/cli/commands.go
  x/genutil/v2/cli/export.go
  x/genutil/v2/types.go
  x/upgrade/depinject.go
  x/validate/depinject.go
Labels: C:CLI, C:x/upgrade, C:x/genutil, Type: CI, C:server/v2, C:server/v2 cometbft, C:server/v2 api, backport/v0.52.x, C:x/validate

#22282 feat(client/v2): broadcast logic
  client/v2/CHANGELOG.md
  client/v2/broadcast/broadcaster.go
  client/v2/broadcast/comet/comet.go
  client/v2/broadcast/comet/comet_test.go
  client/v2/broadcast/comet/testutil/comet_mock.go
  client/v2/go.mod
  client/v2/go.sum
  client/v2/tx/tx.go
  scripts/mockgen.sh
  simapp/go.mod
  simapp/go.sum
  simapp/v2/go.mod
  tests/go.mod
  tests/go.sum
Labels: C:CLI, Type: Build

#22399 fix(server/v2): return ErrHelp
  server/v2/command_factory.go
  simapp/v2/simdv2/cmd/root_di.go
  simapp/v2/simdv2/cmd/root_test.go
Labels: C:server/v2, backport/v0.52.x

#22394 refactor(serverv2): remove unused interface methods, honuor context
  runtime/v2/store.go
  server/v2/api/grpc/server.go
  server/v2/api/utils.go
  server/v2/api/utils_test.go
Labels: C:server/v2, C:server/v2 api

#22404 docs: redirect the remote generation page
  docs/architecture/adr-054-semver-compatible-modules.md
Labels: Type: ADR
