Repository cosmos/cosmos-sdk, pull requests merged in 2024-03, with the labels that each got.

#19592 feat(x/gov): add custom fuction to calculate vote results and vp
  docs/architecture/adr-069-gov-improvements.md
  simapp/app.go
  tests/integration/gov/keeper/keeper_test.go
  x/gov/CHANGELOG.md
  x/gov/depinject.go
  x/gov/keeper/common_test.go
  x/gov/keeper/config.go
  x/gov/keeper/deposit.go
  x/gov/keeper/export_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/gov/keeper/tally.go
  x/gov/types/config.go
Labels: C:x/gov, Type: ADR

#19621 fix(staking): fix impossible conditions
  x/staking/keeper/delegation.go
  x/staking/keeper/query_utils.go
Labels: C:x/staking

#19571 feat(runtime): message router service
  CHANGELOG.md
  baseapp/baseapp.go
  baseapp/grpcrouter.go
  baseapp/grpcserver.go
  baseapp/msg_service_router.go
  baseapp/options.go
  client/grpc_query_test.go
  core/CHANGELOG.md
  core/appmodule/v2/environment.go
  core/gas/service.go
  core/router/service.go
  runtime/app.go
  runtime/builder.go
  runtime/environment.go
  runtime/module.go
  runtime/router.go
  runtime/router_test.go
  testutil/integration/router.go
  x/accounts/keeper.go
  x/accounts/utils_test.go
  x/counter/depinject.go
  x/counter/keeper/keeper.go
Labels: C:CLI, C:x/accounts

#19637 refactor(x/authz)!: use router service
  core/router/service.go
  runtime/router.go
  simapp/app.go
  x/authz/CHANGELOG.md
  x/authz/keeper/genesis_test.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/module/abci_test.go
  x/authz/module/depinject.go
Labels: C:x/authz

#19638 refactor(x/group)!: use router service
  runtime/router.go
  simapp/app.go
  x/group/CHANGELOG.md
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/proposal_executor.go
  x/group/module/depinject.go
Labels: C:x/group

#19481 refactor(x/gov)!: migrate to use env var
  UPGRADING.md
  core/gas/service.go
  runtime/gas.go
  simapp/app.go
  tests/integration/gov/abci_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/keeper_test.go
  x/accounts/internal/implementation/context.go
  x/gov/CHANGELOG.md
  x/gov/abci_internal_test.go
  x/gov/depinject.go
  x/gov/keeper/abci.go
  x/gov/keeper/abci_internal_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/migrations.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/vote.go
  x/gov/module.go
  x/gov/types/v1beta1/content.go
  x/gov/types/v1beta1/proposal.go
  x/params/proposal_handler.go
Labels: C:x/gov, C:x/params, C:x/accounts

#19643 docs(client): fixed typo in `client/tx/aux_builder.go`
  client/tx/aux_builder.go
Labels: C:CLI

#19475 docs: add section on creating a testnets from mainnet exports
  docs/build/building-apps/05-app-testnet.md
Labels: backport/v0.50.x

#19636 feat(x/accounts): add event emission to accounts module
  go.work.example
  x/accounts/defaults/base/account.go
  x/accounts/internal/implementation/api_builder_test.go
  x/accounts/internal/implementation/context.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/keeper.go
  x/accounts/testing/account_abstraction/minimal.go
  x/accounts/testing/counter/counter.go
Labels: C:x/accounts

#19650 refactor(crypto): unify the error handling methods in the crypto package that are different from the project style
  crypto/armor.go
  crypto/hd/hdpath.go
  crypto/keyring/errors.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/keyring_test.go
  crypto/keyring/legacy_info.go
  crypto/keyring/record.go
  crypto/keyring/signing_algorithms.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/secp256k1/secp256k1.go
  x/tx/signing/textual/any.go
Labels: C:x/tx

#19618 feat(x/tx): add enum as string encoder option
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
  x/tx/CHANGELOG.md
  x/tx/go.mod
  x/tx/go.sum
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/encoder.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
  x/tx/signing/textual/internal/testdata/e2e.json
  x/tx/signing/textual/internal/testdata/tx.json
Labels: C:CLI, C:x/tx

#19634 chore(server/v2): add server configs
  server/v2/api/grpc/config.go
  server/v2/api/grpc/gogoreflection/doc.go
  server/v2/api/grpc/gogoreflection/fix_registration.go
  server/v2/api/grpc/gogoreflection/fix_registration_test.go
  server/v2/api/grpc/gogoreflection/serverreflection.go
  server/v2/api/grpc/server.go
  server/v2/api/grpcgateway/config.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcweb/config.go
  server/v2/api/grpcweb/server.go
  server/v2/api/telemetry/config.go
  server/v2/api/telemetry/metrics.go
  server/v2/api/telemetry/server.go
  server/v2/cometbft/config.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/commands.go
  server/v2/config.go
  server/v2/go.mod
  server/v2/go.sum
  server/v2/grpc/config.go
  server/v2/server.go
  server/v2/server_mock_test.go
  server/v2/server_test.go
  server/v2/streaming/config.go
  server/v2/streaming/streaming.go
  server/v2/telemetry/config.go
  server/v2/testdata/app.toml
  store/commitment/store.go
  store/config.go
Labels: C:Store

#19651 refactor(x/auth): allow empty public keys for GetSignBytesAdapter
  CHANGELOG.md
  x/auth/signing/adapter.go
  x/auth/signing/adapter_test.go
Labels: C:x/auth, backport/v0.50.x

#19653 feat(client/v2): marshal enum as string
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
Labels: C:CLI

#19652 refactor: remove dependency x/module -> sdk through InterfaceRegistry
  CHANGELOG.md
  UPGRADING.md
  codec/types/interface_registry.go
  core/appmodule/module.go
  core/appmodule/v2/appmodule.go
  core/registry/legacy.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/core_module.go
  types/module/module.go
  types/msgservice/msg_service.go
  x/accounts/keeper.go
  x/accounts/module.go
  x/accounts/utils_test.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/vesting/module.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/authz/module/module.go
  x/bank/module.go
  x/bank/types/codec.go
  x/circuit/module.go
  x/circuit/types/codec.go
  x/consensus/module.go
  x/consensus/types/codec.go
  x/counter/module.go
  x/counter/types/codec.go
  x/crisis/module.go
  x/crisis/types/codec.go
  x/distribution/module.go
  x/distribution/types/codec.go
  x/evidence/module.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/gov/types/v1/codec.go
  x/gov/types/v1beta1/codec.go
  x/group/codec.go
  x/group/module/module.go
  x/mint/module.go
  x/mint/types/codec.go
  x/nft/codec.go
  x/nft/module/module.go
  x/params/module.go
  x/params/types/proposal/codec.go
  x/protocolpool/module.go
  x/protocolpool/types/codec.go
  x/slashing/module.go
  x/slashing/types/codec.go
  x/staking/module.go
  x/staking/types/codec.go
  x/upgrade/module.go
  x/upgrade/types/codec.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool

#19511 feat(x/bank): Replace regex parsing of denom validation to generated parsing
  .golangci.yml
  CHANGELOG.md
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/staking/keeper/deterministic_test.go
  types/coin.go
  types/coin_regex.go
  types/coin_regex.rl
  types/coin_test.go
  types/dec_coin.go
  types/dec_coin_test.go
Labels: Type: CI

#19689 refactor(server/v2): fix dep graph
  client/v2/go.mod
  core/appmodule/v2/genesis.go
  go.mod
  runtime/v2/go.mod
  runtime/v2/tx.go
  scripts/dep-assert.sh
  server/v2/cometbft/config.go
  server/v2/cometbft/go.sum
  server/v2/flags.go
  server/v2/go.mod
  server/v2/go.sum
  server/v2/logger/logger.go
  server/v2/server_test.go
  server/v2/stf/core_services.go
  simapp/go.mod
  simapp/v2/go.mod
  tests/go.mod
  tests/starship/tests/go.mod
  x/accounts/go.mod
  x/auth/go.mod
  x/auth/module.go
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/distribution/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, Type: Build, C:x/circuit, C:x/accounts, C:x/protocolpool

#19695 refactor(server/v2): clean up apis
  client/v2/go.mod
  core/appmodule/utils.go
  core/appmodule/v2/handlers.go
  core/appmodule/v2/message.go
  go.mod
  runtime/router.go
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/manager.go
  runtime/v2/module.go
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/appmanager_builder.go
  server/v2/appmanager/go.mod
  server/v2/appmanager/go.sum
  server/v2/appmanager/mock/storage.go
  server/v2/cometbft/go.mod
  server/v2/core/appmanager/app.go
  server/v2/core/appmanager/codec.go
  server/v2/core/appmanager/module.go
  server/v2/core/appmanager/types.go
  server/v2/core/go.mod
  server/v2/core/stf/stf.go
  server/v2/logger.go
  server/v2/stf/core_event_service.go
  server/v2/stf/core_gas_service.go
  server/v2/stf/core_store_service.go
  server/v2/stf/stf.go
  server/v2/stf/stf_router.go
  server/v2/stf/types.go
  simapp/app.go
  simapp/go.mod
  simapp/v2/go.mod
  simapp/v2/go.sum
  simapp/v2/simdv2/cmd/root_test.go
  simapp/v2/simdv2/main.go
  simapp/v2/upgrades.go
  store/go.sum
  tests/go.mod
  tests/starship/tests/go.mod
  x/accounts/go.mod
  x/auth/go.mod
Labels: C:CLI, C:Store, C:x/auth, C:x/accounts

#19699 chore(store/v2): bump iavl
  store/go.mod
  store/go.sum
Labels: C:Store

#19702 chore(serverv2): remove uncessary replaces
  client/v2/go.mod
  go.mod
  scripts/dep-assert.sh
  simapp/go.mod
  store/go.sum
  tests/go.mod
  tests/starship/tests/go.mod
  x/accounts/go.mod
  x/auth/go.mod
Labels: C:CLI, C:Store, C:x/auth, Type: Build, C:x/accounts

#19676 docs: update docs
  baseapp/abci.go
  baseapp/options.go
  baseapp/params_legacy.go
  client/context.go
  client/keys/types.go
  client/rpc/block.go
  client/v2/internal/util/util.go
  codec/codec.go
  codec/types/compat.go
  codec/unknownproto/doc.go
  core/comet/service.go
  core/store/database.go
  errors/doc.go
  runtime/events.go
  runtime/types.go
  server/doc.go
  server/grpc/gogoreflection/serverreflection.go
  server/mock/app.go
  server/mock/tx.go
  server/start.go
  server/types/abci.go
  server/types/app.go
  server/util.go
  x/auth/migrations/legacytx/stdsign.go
Labels: C:CLI, C:Keys, C:x/auth

#19703 ci: upstream dep-assert and nomenclature from server/v2
  docs/build/building-apps/01-app-go-v2.md
  docs/build/building-modules/15-depinject.md
  scripts/dep-assert.sh
  simapp/app_di.go
  simapp/simd/cmd/root_di.go
  x/auth/tx/config/depinject.go
Labels: C:x/auth, Type: Build

#19698 refactor(storev2): change error namespace
  store/db/goleveldb.go
  store/db/memdb.go
  store/db/prefixdb.go
  store/errors/errors.go
  store/proof/proof.go
  store/snapshots/chunk.go
  store/snapshots/manager.go
  store/snapshots/store.go
  store/storage/pebbledb/db.go
  store/storage/rocksdb/db.go
  store/storage/sqlite/db.go
Labels: C:Store

#19708 refactor(store/v2): remove SDK error registration
  store/errors/errors.go
Labels: C:Store

#19707 feat(x/distribution): add rewards-by-validator autocli config
  x/distribution/autocli.go
Labels: C:x/distribution, backport/v0.50.x

#19672 refactor(core)!: clean-up core and simplify preblock
  CHANGELOG.md
  baseapp/abci_test.go
  baseapp/baseapp.go
  core/CHANGELOG.md
  core/appmodule/migrations.go
  core/appmodule/module.go
  core/appmodule/v2/migrations.go
  core/appmodule/v2/module.go
  runtime/app.go
  runtime/services/autocli.go
  simapp/app.go
  testutil/mock/types_mock_appmodule.go
  types/abci.go
  types/module/configurator.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  types/module/module_test.go
  x/upgrade/CHANGELOG.md
  x/upgrade/keeper/abci.go
  x/upgrade/keeper/abci_test.go
  x/upgrade/module.go
Labels: C:x/upgrade

#19725 fix(x/gov): grpc query tally for failed proposal
  CHANGELOG.md
  x/gov/keeper/grpc_query.go
  x/gov/keeper/grpc_query_test.go
Labels: C:x/gov, backport/v0.47.x, backport/v0.50.x

#19735 refactor(types): align genesis api
  CHANGELOG.md
  UPGRADING.md
  core/appmodule/environment.go
  core/appmodule/migrations.go
  runtime/app.go
  simapp/app.go
  simapp/app_test.go
  simapp/sim_test.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/core_module.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  types/module/module_test.go
  x/accounts/module.go
  x/auth/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/circuit/module.go
  x/consensus/module.go
  x/counter/module.go
  x/crisis/module.go
  x/distribution/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/protocolpool/module.go
  x/slashing/module.go
  x/staking/CHANGELOG.md
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool

#19588 refactor: sdk.Tx implements transaction.Tx
  contrib/images/simd-env/Dockerfile
  core/transaction/transaction.go
  server/mock/tx.go
  server/v2/cometbft/handlers/defaults.go
  server/v2/cometbft/handlers/tx_selector.go
  server/v2/stf/mock/tx.go
  server/v2/stf/stf.go
  types/mempool/mempool_test.go
  types/mempool/signer_extraction_adapater_test.go
  types/tx_msg.go
  x/auth/tx/gogotx.go
  x/tx/decode/decode.go
  x/tx/go.mod
  x/tx/go.sum
Labels: C:x/auth, C:x/tx

#19740 refactor(x/**)!: genesis return errors
  tests/integration/gov/genesis_test.go
  tests/integration/staking/keeper/genesis_test.go
  x/authz/CHANGELOG.md
  x/authz/keeper/genesis.go
  x/bank/CHANGELOG.md
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/keeper.go
  x/bank/module.go
  x/crisis/keeper/genesis.go
  x/crisis/keeper/genesis_test.go
  x/crisis/module.go
  x/distribution/CHANGELOG.md
  x/distribution/keeper/genesis.go
  x/gov/CHANGELOG.md
  x/gov/genesis.go
  x/group/CHANGELOG.md
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
  x/group/module/module.go
  x/nft/CHANGELOG.md
  x/nft/keeper/genesis.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/msg_server_test.go
  x/nft/module/module.go
  x/slashing/CHANGELOG.md
  x/slashing/keeper/genesis.go
  x/slashing/keeper/genesis_test.go
  x/slashing/module.go
  x/staking/CHANGELOG.md
  x/staking/keeper/genesis.go
  x/staking/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/crisis, C:x/authz, C:x/group, C:x/nft

#19741 feat(x/gov): add expedited proposal quorum param
  api/cosmos/gov/v1/gov.pulsar.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
  x/gov/migrations/v6/store.go
  x/gov/migrations/v6/store_test.go
  x/gov/proto/cosmos/gov/v1/gov.proto
  x/gov/simulation/genesis.go
  x/gov/simulation/genesis_test.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/params.go
Labels: C:x/gov, C:Simulations

#19691 fix(crypto): error if incorrect ledger public key
  CHANGELOG.md
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
Labels: backport/v0.47.x, backport/v0.50.x

#19753 test(client/v2): Fix `TestMsg` flakiness
  client/v2/autocli/msg_test.go
Labels: C:CLI

#19747 refactor!: mv AddressCodecs aliases from runtime -> core
  CHANGELOG.md
  baseapp/utils_test.go
  client/v2/autocli/flag/builder.go
  core/address/codec.go
  crypto/armor_test.go
  crypto/keys/multisig/multisig_test.go
  runtime/module.go
  simapp/app_test.go
  simapp/simd/cmd/root_di.go
  simapp/simd/cmd/testnet.go
  testutil/network/network.go
  x/auth/tx/config/depinject.go
  x/genutil/client/cli/collect.go
  x/genutil/collect.go
  x/staking/depinject.go
Labels: C:x/staking, C:CLI, C:x/auth, C:x/genutil

#19758 refactor: rename core.registry.LegacyRegistry -> core.registry.InterfaceRegistrar
  CHANGELOG.md
  UPGRADING.md
  codec/types/interface_registry.go
  core/appmodule/v2/module.go
  core/registry/legacy.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/core_module.go
  types/module/module.go
  types/msgservice/msg_service.go
  x/accounts/module.go
  x/auth/module.go
  x/auth/types/codec.go
  x/auth/vesting/module.go
  x/auth/vesting/types/codec.go
  x/authz/codec.go
  x/authz/module/module.go
  x/bank/module.go
  x/bank/types/codec.go
  x/circuit/module.go
  x/circuit/types/codec.go
  x/consensus/module.go
  x/consensus/types/codec.go
  x/counter/module.go
  x/counter/types/codec.go
  x/crisis/module.go
  x/crisis/types/codec.go
  x/distribution/module.go
  x/distribution/types/codec.go
  x/evidence/module.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/gov/types/v1/codec.go
  x/gov/types/v1beta1/codec.go
  x/group/codec.go
  x/group/module/module.go
  x/mint/module.go
  x/mint/types/codec.go
  x/nft/codec.go
  x/nft/module/module.go
  x/params/module.go
  x/params/types/proposal/codec.go
  x/protocolpool/module.go
  x/protocolpool/types/codec.go
  x/slashing/module.go
  x/slashing/types/codec.go
  x/staking/module.go
  x/staking/types/codec.go
  x/upgrade/module.go
  x/upgrade/types/codec.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool

#19757 refactor(core): remove consensus events
  core/event/service.go
  runtime/events.go
  x/accounts/utils_test.go
Labels: C:x/accounts

#19763 refactor(store/db): remove unnecessary code and correct error handling
  store/db/goleveldb.go
Labels: C:Store

#19706 fix(x/upgrade): Stop treating inline JSON as a URL
  x/upgrade/CHANGELOG.md
  x/upgrade/plan/info.go
  x/upgrade/plan/info_test.go
Labels: C:x/upgrade, backport/v0.50.x

#19759 fix: align signer extraction adapter for mempool remove
  CHANGELOG.md
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
Labels: backport/v0.50.x

#19762 feat(core): match store interfaces
  core/store/changeset.go
  core/store/store.go
  core/store/upgrade.go
  store/root/read_only_adapter.go
  store/root/reader.go
  store/root/store.go
  store/root/store_test.go
  store/store.go
  store/upgrade.go
Labels: C:Store

#19774 chore: fix the flaky test in store/snapshots
  store/snapshots/helpers_test.go
  store/snapshots/manager_test.go
  store/snapshots/store_test.go
Labels: C:Store

#19377 fix(client/v2): fix comment parsing
  client/v2/CHANGELOG.md
  client/v2/internal/offchain/msgSignArbitraryData.pulsar.go
  client/v2/internal/testpb/msg.proto
  client/v2/internal/testpb/msg.pulsar.go
  client/v2/internal/testpb/msg_grpc.pb.go
  client/v2/internal/testpb/query.pulsar.go
  client/v2/internal/testpb/query_grpc.pb.go
  client/v2/internal/util/util.go
  client/v2/internal/util/util_test.go
Labels: C:CLI, backport/v0.50.x

#19742 refactor(x/staking)!: removes the use of Accounts String() method
  CHANGELOG.md
  UPGRADING.md
  simapp/sim_bench_test.go
  simapp/sim_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/sims/gov/operations_test.go
  testutil/sims/simulation_helpers.go
  testutil/sims/state_helpers.go
  types/module/simulation.go
  types/simulation/types.go
  x/auth/simulation/genesis_test.go
  x/auth/simulation/proposals.go
  x/auth/simulation/proposals_test.go
  x/authz/client/cli/tx.go
  x/authz/msgs_test.go
  x/authz/simulation/genesis_test.go
  x/bank/simulation/genesis_test.go
  x/bank/simulation/proposals.go
  x/bank/simulation/proposals_test.go
  x/distribution/simulation/genesis_test.go
  x/distribution/simulation/proposals.go
  x/distribution/simulation/proposals_test.go
  x/evidence/simulation/genesis_test.go
  x/feegrant/simulation/genesis_test.go
  x/gov/simulation/genesis_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/proposals.go
  x/gov/simulation/proposals_test.go
  x/group/simulation/genesis_test.go
  x/mint/simulation/genesis_test.go
  x/mint/simulation/proposals.go
  x/mint/simulation/proposals_test.go
  x/nft/simulation/genesis_test.go
  x/protocolpool/simulation/proposals.go
  x/protocolpool/simulation/proposals_test.go
  x/slashing/simulation/genesis_test.go
  x/slashing/simulation/proposals.go
  x/slashing/simulation/proposals_test.go
  x/staking/CHANGELOG.md
  x/staking/keeper/alias_functions.go
  x/staking/keeper/cons_pubkey_test.go
  x/staking/keeper/delegation_test.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server_test.go
  x/staking/keeper/validator_test.go
  x/staking/migrations/v5/migrations_test.go
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
  x/staking/simulation/operations.go
  x/staking/simulation/proposals.go
  x/staking/simulation/proposals_test.go
  x/staking/testutil/helpers.go
  x/staking/testutil/validator.go
  x/staking/types/authz.go
  x/staking/types/authz_test.go
  x/staking/types/delegation_test.go
  x/staking/types/msg_test.go
  x/staking/types/validator_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/protocolpool

#19607 feat(store/v2): support rocksdb and pebbledb as RawDB
  store/db/db.go
  store/db/db_test.go
  store/db/goleveldb.go
  store/db/pebbledb.go
  store/db/rocksdb.go
  store/db/rocksdb_noflag.go
  store/go.mod
  store/go.sum
Labels: C:Store

#19754 refactor(x/staking,genutil)!: use validatorUpdates
  tests/integration/staking/keeper/genesis_test.go
  tests/integration/staking/keeper/validator_test.go
  x/genutil/genesis.go
  x/genutil/gentx.go
  x/genutil/module.go
  x/genutil/testutil/expected_keepers_mocks.go
  x/genutil/types/expected_keepers.go
  x/staking/CHANGELOG.md
  x/staking/keeper/abci.go
  x/staking/keeper/genesis.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator_test.go
  x/staking/module.go
  x/staking/types/validator.go
Labels: C:x/staking, C:x/genutil

#19792 refactor!: MsgSimulatorFn clean up
  CHANGELOG.md
  UPGRADING.md
  store/root/reader.go
  tests/sims/gov/operations_test.go
  types/simulation/types.go
  x/accounts/defaults/lockup/types/encoding.go
  x/auth/simulation/proposals.go
  x/auth/simulation/proposals_test.go
  x/bank/simulation/proposals.go
  x/bank/simulation/proposals_test.go
  x/distribution/simulation/proposals.go
  x/distribution/simulation/proposals_test.go
  x/gov/simulation/operations.go
  x/gov/simulation/proposals.go
  x/gov/simulation/proposals_test.go
  x/mint/simulation/proposals.go
  x/mint/simulation/proposals_test.go
  x/protocolpool/simulation/proposals.go
  x/protocolpool/simulation/proposals_test.go
  x/slashing/simulation/proposals.go
  x/slashing/simulation/proposals_test.go
  x/staking/simulation/proposals.go
  x/staking/simulation/proposals_test.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:Store, C:x/bank, C:x/auth, C:x/accounts, C:x/protocolpool

#19775 store: keys as bytes
  core/store/changeset.go
  store/changeset.go
  store/commitment/store.go
  store/commitment/store_test_suite.go
  store/database.go
  store/internal/conv/doc.go
  store/internal/conv/string.go
  store/internal/conv/string_test.go
  store/migration/manager.go
  store/migration/manager_test.go
  store/proof/commit_info.go
  store/proof/commit_info_test.go
  store/root/reader.go
  store/root/store.go
  store/root/store_test.go
  store/snapshots/helpers_test.go
  store/snapshots/manager.go
  store/snapshots/snapshotter.go
  store/storage/database.go
  store/storage/pebbledb/batch.go
  store/storage/pebbledb/db.go
  store/storage/rocksdb/batch.go
  store/storage/rocksdb/db.go
  store/storage/rocksdb/db_test.go
  store/storage/sqlite/batch.go
  store/storage/sqlite/db.go
  store/storage/sqlite/db_test.go
  store/storage/sqlite/iterator.go
  store/storage/storage_bench_test.go
  store/storage/storage_test_suite.go
  store/storage/store.go
  store/store.go
Labels: C:Store

#19797 chore(store): add release date
  store/CHANGELOG.md
Labels: C:Store

#19799 chore: bump iavl and store to v1.1.0
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  store/go.mod
  store/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
Labels: C:Store

#19454 feat(store/v2): add the catch up process in the migration
  store/batch.go
  store/internal/encoding/changeset.go
  store/internal/encoding/changeset_test.go
  store/migration/manager.go
  store/migration/manager_test.go
  store/root/migrate_test.go
  store/root/store.go
  store/root/store_test.go
  store/snapshots/manager_test.go
  store/storage/pebbledb/batch.go
  store/storage/rocksdb/batch.go
  store/storage/sqlite/batch.go
  store/storage/store.go
  store/store.go
Labels: C:Store

#19813 chore: fix typos
  docs/architecture/PROCESS.md
  docs/rfc/PROCESS.md
Labels: Type: ADR

#19815 refactor(x/protocol): remove Accounts.String()
  x/protocolpool/depinject.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/simulation/operations.go
  x/protocolpool/simulation/proposals.go
  x/protocolpool/simulation/proposals_test.go
Labels: C:Simulations, C:x/protocolpool

#19817 remove protov2 from baseapp
  baseapp/baseapp.go
  baseapp/grpcrouter.go
  baseapp/grpcrouter_test.go
  baseapp/internal/protocompat/protocompat.go
  baseapp/msg_service_router.go
  baseapp/msg_service_router_test.go
  codec/bench_test.go
  codec/codec.go
  codec/collections.go
  codec/collections_test.go
  codec/proto_codec.go
  codec/proto_codec_test.go
  codec/types/any.go
  codec/types/util.go
  codec/unknownproto/benchmarks_test.go
  codec/unknownproto/doc.go
  codec/unknownproto/regression_test.go
  codec/unknownproto/unit_helpers_test.go
  codec/unknownproto/unknown_fields.go
  codec/unknownproto/unknown_fields_test.go
  core/codec/codec.go
  fuzz/tests/unknownproto_test.go
  runtime/router.go
  types/tx/types.go
  types/tx_msg.go
  x/accounts/testing/account_abstraction/minimal.go
  x/authz/keeper/keeper.go
  x/gov/keeper/proposal.go
  x/group/keeper/proposal_executor.go
Labels: C:x/gov, C:x/authz, C:x/group, C:x/accounts

#19800 fix(store/v2): clean up resources after the migration is completed
  store/commitment/iavl/tree.go
  store/migration/manager.go
  store/root/store.go
  store/snapshots/manager.go
Labels: C:Store

#19820 remove protov2 from baseapp, codec: part2
  baseapp/baseapp.go
  baseapp/grpcrouter.go
  baseapp/internal/protocompat/protocompat.go
  baseapp/msg_service_router.go
  codec/collections.go
  codec/collections_test.go
  core/appmodule/v2/message.go
  runtime/router_test.go
  store/database.go
  store/internal/encoding/changeset_test.go
  store/storage/pebbledb/batch.go
  store/storage/pebbledb/db.go
  store/storage/sqlite/batch.go
  store/storage/sqlite/db_test.go
  types/tx_msg.go
  types/tx_msg_test.go
  x/accounts/keeper.go
  x/accounts/msg_server_test.go
  x/accounts/query_server_test.go
  x/accounts/utils_test.go
  x/gov/keeper/abci_internal_test.go
Labels: C:x/gov, C:Store, C:x/accounts

#19818 chore: Remove protov2 from x/accounts
  x/accounts/account_test.go
  x/accounts/coin_transfer.go
  x/accounts/defaults/base/account.go
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/protov2_wrapper.go
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/internal/implementation/encoding.go
  x/accounts/internal/implementation/protoaccount.go
  x/accounts/keeper_test.go
  x/accounts/msg_server_test.go
  x/accounts/testing/account_abstraction/minimal.go
  x/gov/keeper/abci_internal_test.go
Labels: C:x/gov, C:x/accounts

#19814 docs(collections): fixed typo in `collections/collections.go`
  collections/collections.go
Labels: C:collections

#19842 feat(x/gov): emit proposer address in submit proposal event
  x/gov/keeper/proposal.go
  x/gov/types/events.go
Labels: C:x/gov, backport/v0.50.x

#19833 fix: Do not call Remove during Walk
  CHANGELOG.md
  x/feegrant/keeper/keeper.go
  x/gov/keeper/tally.go
  x/slashing/keeper/signing_info.go
  x/staking/keeper/cons_pubkey.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/feegrant

#19845 fix(x/tx): default to using gogoproto.HybridResolver wherever possible
  store/database.go
  store/internal/encoding/changeset_test.go
  store/storage/pebbledb/batch.go
  store/storage/pebbledb/db.go
  store/storage/sqlite/batch.go
  store/storage/sqlite/db_test.go
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/context.go
  x/tx/signing/textual/handler.go
Labels: C:Store, C:x/tx

#19853 feat(x/gov): emit depositor in `proposal_deposit` event
  x/gov/CHANGELOG.md
  x/gov/keeper/deposit.go
  x/gov/keeper/proposal.go
  x/gov/types/events.go
Labels: C:x/gov, backport/v0.50.x

#19855 chore: linting fixes
  store/db/rocksdb_noflag.go
  store/proof/commit_info.go
  x/params/types/common_test.go
Labels: C:Store, C:x/params

#19851 fix: Do not call Remove during Walk - part 2
  CHANGELOG.md
  x/gov/keeper/abci.go
  x/staking/keeper/validator.go
Labels: C:x/staking, C:x/gov

#19850 refactor(x/gov)!: remove Accounts.String()
  tests/integration/gov/abci_test.go
  tests/sims/gov/operations_test.go
  x/gov/CHANGELOG.md
  x/gov/client/cli/prompt.go
  x/gov/client/cli/prompt_test.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/tx_test.go
  x/gov/client/cli/util.go
  x/gov/client/cli/util_test.go
  x/gov/client/utils/query.go
  x/gov/client/utils/query_test.go
  x/gov/depinject.go
  x/gov/keeper/common_test.go
  x/gov/keeper/deposit.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/grpc_query_test.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server_test.go
  x/gov/keeper/proposal.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/tally_test.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/module.go
  x/gov/simulation/operations.go
  x/gov/types/v1/deposit.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/msgs_test.go
  x/gov/types/v1/params.go
  x/gov/types/v1/proposal.go
  x/gov/types/v1/proposals_test.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/deposit.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/msgs_test.go
  x/group/client/cli/prompt.go
  x/params/client/cli/tx.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/params, C:x/group

#19843 chore: cleanup
  api/cosmos/consensus/v1/comet.pulsar.go
  api/cosmos/consensus/v1/consensus.pulsar.go
  core/app/app.go
  core/app/codec.go
  core/app/identity.go
  go.work.example
  runtime/gas.go
  runtime/v2/app.go
  runtime/v2/go.mod
  server/v2/api/grpc/server.go
  server/v2/api/telemetry/metrics.go
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/go.mod
  server/v2/cometbft/abci.go
  server/v2/cometbft/client/grpc/cmtservice/service.go
  server/v2/cometbft/config.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/handlers/defaults.go
  server/v2/cometbft/handlers/handlers.go
  server/v2/cometbft/snapshots.go
  server/v2/cometbft/streaming.go
  server/v2/cometbft/types/store.go
  server/v2/cometbft/types/vote.go
  server/v2/cometbft/utils.go
  server/v2/core/README.md
  server/v2/core/go.mod
  server/v2/core/go.sum
  server/v2/go.mod
  server/v2/stf/core_branch_service.go
  server/v2/stf/core_header_service.go
  server/v2/stf/export_test.go
  server/v2/stf/gas/store.go
  server/v2/stf/go.mod
  server/v2/stf/stf.go
  server/v2/stf/stf_router.go
  server/v2/stf/stf_test.go
  server/v2/streaming/streaming.go
  server/v2/streaming/streaming_test.go
  simapp/v2/go.mod
  store/database.go
  store/db/db.go
  store/db/rocksdb_noflag.go
  store/storage/pebbledb/batch.go
  store/storage/pebbledb/db.go
  store/storage/sqlite/batch.go
  store/storage/sqlite/db_test.go
  types/module/module_int_test.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/protov2_wrapper.go
  x/consensus/proto/cosmos/consensus/v1/comet.proto
  x/consensus/types/comet.pb.go
  x/consensus/types/consensus.pb.go
Labels: C:Store, C:x/consensus, C:x/accounts

#19868 refactor(x/distribution)!: remove Accounts.String()
  x/distribution/CHANGELOG.md
  x/distribution/client/common/common.go
  x/distribution/client/common/common_test.go
  x/distribution/depinject.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/msg_server_test.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/proposals.go
  x/distribution/simulation/proposals_test.go
  x/distribution/testutil/staking_helper.go
  x/distribution/types/genesis.go
  x/distribution/types/msg.go
Labels: C:CLI, C:x/distribution, C:Simulations

#19881 reuse fromAddrString (minor cleanup)
  x/bank/keeper/send.go
Labels: C:x/bank

#19854 feat(server): add custom start handler
  CHANGELOG.md
  UPGRADING.md
  docs/build/building-apps/05-app-testnet.md
  server/start.go
  server/types/app.go
  server/util.go
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
Labels: backport/v0.50.x

#19786 feat(x/tx): add custom type encoder
  docs/build/building-modules/05-protobuf-annotations.md
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/encoder.go
  x/tx/signing/aminojson/encoder_test.go
  x/tx/signing/aminojson/json_marshal.go
Labels: C:x/tx

#19870 feat(client): replace `event-query-tx-for` with `wait-tx`
  CHANGELOG.md
  client/rpc/tx.go
  simapp/simd/cmd/commands.go
Labels: C:CLI, backport/v0.50.x

#19886 refactor(x/feegrant): remove Address.String()
  x/feegrant/client/cli/tx_test.go
  x/feegrant/simulation/genesis.go
  x/gov/keeper/deposit.go
  x/gov/keeper/proposal.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/feegrant

#19889 refactor(store,x/params): using maps.Copy
  store/trace.go
  x/params/types/subspace.go
Labels: C:Store, C:x/params

#19788 refactor(x/staking): use sdk validator updates
  api/cosmos/staking/v1beta1/staking.pulsar.go
  core/appmodule/module.go
  simapp/sim_test.go
  tests/integration/staking/keeper/genesis_test.go
  x/staking/CHANGELOG.md
  x/staking/README.md
  x/staking/keeper/abci.go
  x/staking/keeper/genesis.go
  x/staking/keeper/keeper.go
  x/staking/keeper/migrations.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator_test.go
  x/staking/migrations/v5/store.go
  x/staking/migrations/v6/keys.go
  x/staking/migrations/v6/store.go
  x/staking/module.go
  x/staking/proto/cosmos/staking/v1beta1/staking.proto
  x/staking/types/keys.go
  x/staking/types/staking.pb.go
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: C:x/staking

#19899 fix(x/accounts/defaults/lockup): rename lockup `go.mod` properly
  scripts/go-mod-tidy-all.sh
  simapp/app.go
  simapp/go.mod
  store/go.mod
  tests/go.mod
  tests/starship/tests/go.mod
  x/accounts/defaults/lockup/continuous_locking_account.go
  x/accounts/defaults/lockup/delayed_locking_account.go
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/go.sum
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/periodic_locking_account.go
  x/accounts/defaults/lockup/permanent_locking_account.go
Labels: C:Store, Type: Build, C:x/accounts
