Repository cosmos/cosmos-sdk, pull requests merged in 2024-07, with the labels that each got.

#20830 fix: fix gov test
  x/gov/keeper/abci_internal_test.go
Labels: C:x/gov

#20801 refactor(store): fetch store keys from commit store if not provided
  store/v2/commitment/metadata.go
  store/v2/commitment/store.go
  store/v2/proof/commit_info.go
  store/v2/proof/commit_info_test.go
  store/v2/root/factory.go
Labels: C:Store

#20839 chore: remove auth from consensus
  depinject/appconfig/config.go
  depinject/appconfig/dynamic_resolver.go
  depinject/internal/appconfig/registry.go
  x/consensus/depinject.go
  x/consensus/go.mod
  x/consensus/go.sum
  x/consensus/keeper/keeper_test.go
  x/consensus/testutil/expected_keepers_mocks.go
Labels: C:x/consensus

#20844 Revert "build(deps): Bump github.com/cometbft/cometbft from 0.37.5 to 0.37.8"
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Labels: C:Cosmovisor, C:Rosetta

#20827 feat(math): Upstream GDA based decimal type - errors
  math/dec.go
Labels: C:x/group

#20826 test(x/accounts): add tests for base account and cli
  testutil/cli/cmt_mocks.go
  x/accounts/cli/cli_test.go
  x/accounts/defaults/base/account_test.go
  x/accounts/defaults/base/utils_test.go
  x/accounts/go.mod
  x/accounts/go.sum
Labels: C:x/accounts

#20843 test: remove some deps from testutil/network
  client/grpc/cmtservice/status_test.go
  client/rpc/rpc_test.go
  client/v2/go.sum
  codec/depinject_test.go
  go.mod
  go.sum
  server/v2/cometbft/go.sum
  simapp/app_test.go
  tests/integration/server/grpc/server_test.go
  testutil/network/network.go
  x/auth/go.mod
  x/auth/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.sum
  x/consensus/go.sum
  x/distribution/go.sum
  x/epochs/go.sum
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/mint/go.sum
  x/nft/go.sum
  x/params/go.sum
  x/protocolpool/go.sum
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/nft, C:x/consensus, C:x/circuit, C:x/protocolpool, C:x/epochs

#20840 test(x/staking): Add test for shares to tokens conversion in delegation
  x/staking/keeper/delegation_test.go
Labels: C:x/staking

#20807 docs: cosmovisor: Update documents of cosmovisor in README.md
  tools/cosmovisor/README.md
Labels: C:Cosmovisor

#20872 chore: fix QueryAccountAddressByIDRequest
  api/cosmos/auth/v1beta1/query.pulsar.go
  api/cosmos/staking/v1beta1/query.pulsar.go
  x/auth/proto/cosmos/auth/v1beta1/query.proto
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
  x/staking/types/query.pb.go
Labels: C:x/staking, C:x/auth

#20735 refactor(x/distribution)!: remove PreviousProposer and return early if there are no fees to distribute
  api/cosmos/distribution/v1beta1/genesis.pulsar.go
  tests/integration/distribution/keeper/msg_server_test.go
  x/distribution/CHANGELOG.md
  x/distribution/keeper/abci.go
  x/distribution/keeper/allocation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/keeper.go
  x/distribution/migrations/v4/migrate.go
  x/distribution/migrations/v4/migrate_test.go
  x/distribution/proto/cosmos/distribution/v1beta1/genesis.proto
  x/distribution/simulation/decoder.go
  x/distribution/simulation/decoder_test.go
  x/distribution/types/genesis.go
  x/distribution/types/genesis.pb.go
  x/distribution/types/keys.go
Labels: C:x/distribution, C:Simulations

#20828 fix(staking): validator must be slashed even when unbonding causes it to be removed from the set
  tests/integration/staking/keeper/slash_test.go
  x/staking/keeper/slash.go
Labels: C:x/staking

#20878 refactor(genutil): remove genesis bank balance iteration dependency
  simapp/simd/cmd/commands.go
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
  testutil/network/util.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/commands.go
  x/genutil/collect.go
  x/genutil/collect_test.go
  x/genutil/types/expected_keepers.go
Labels: C:CLI, C:x/genutil

#20866 feat(simapp/v2): Testnet init command
  scripts/local-testnet.sh
  server/v2/util.go
  simapp/v2/go.mod
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/testnet.go
Labels: Type: Build

#20845 refactor(staking)!: remove historical info
  api/cosmos/staking/v1beta1/query.pulsar.go
  api/cosmos/staking/v1beta1/query_grpc.pb.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  client/docs/swagger-ui/swagger.yaml
  server/v2/cometbft/abci.go
  server/v2/cometbft/commands.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/sim_test.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/testnet.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/staking/keeper/grpc_query_test.go
  x/staking/CHANGELOG.md
  x/staking/README.md
  x/staking/keeper/abci.go
  x/staking/keeper/grpc_query.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/historical_info_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server_test.go
  x/staking/migrations/v6/keys.go
  x/staking/migrations/v6/store.go
  x/staking/module.go
  x/staking/proto/cosmos/staking/v1beta1/query.proto
  x/staking/proto/cosmos/staking/v1beta1/staking.proto
  x/staking/simulation/genesis.go
  x/staking/simulation/genesis_test.go
  x/staking/types/errors.go
  x/staking/types/keys.go
  x/staking/types/params.go
  x/staking/types/query.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:CLI, C:Simulations

#20888 ci: enable ci for schema
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  go.work.example
  schema/field.go
  schema/object_type.go
  schema/sonar-project.properties
Labels: Type: CI

#20875 refactor(auth): decouple auth from x/accounts account abstraction types
  client/v2/go.mod
  go.mod
  server/v2/cometbft/go.mod
  tests/e2e/accounts/base_account_test.go
  tests/go.mod
  tests/go.sum
  x/accounts/keeper_account_abstraction.go
  x/auth/ante/sigverify.go
  x/auth/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/consensus/go.mod
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs

#20721 refactor(x/accounts/defaults/lockup): Add lockup unit tests
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/lockup_test.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/lockup/utils_test.go
Labels: C:x/accounts

#20908 docs: Fix typos and improve clarity in ADR documents `docs/architecture`
  docs/architecture/adr-014-proportional-slashing.md
  docs/architecture/adr-039-epoched-staking.md
  docs/architecture/adr-049-state-sync-hooks.md
Labels: Type: ADR

#20647 feat(schema): indexing API
  baseapp/streaming.go
  client/v2/go.mod
  go.mod
  schema/decoding/resolver.go
  schema/decoding/resolver_test.go
  schema/decoding/sync.go
  schema/indexer/README.md
  schema/indexer/indexer.go
  schema/indexer/manager.go
  schema/indexer/registry.go
  schema/indexer/registry_test.go
  schema/logutil/logger.go
  server/v2/cometbft/go.mod
  server/v2/go.mod
  simapp/app_di.go
  simapp/go.mod
  simapp/v2/go.mod
  tests/go.mod
  x/accounts/defaults/lockup/go.mod
  x/accounts/go.mod
  x/auth/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/consensus/go.mod
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs, C:schema

#20914 chore: remove schema go.mod replaces
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/go.mod
  simapp/go.mod
  simapp/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/auth/go.mod
  x/auth/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/consensus/go.mod
  x/consensus/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs

#20918 fix: fixing pathway
  .github/ISSUE_TEMPLATE/module-readiness-checklist.md
Labels: Type: CI

#20906 chore(docs): fix comments that do not start with the name of the exported element.
  math/dec.go
  math/int.go
  orm/internal/testkv/db.go
  server/v2/api/grpc/config.go
  server/v2/api/grpc/gogoreflection/serverreflection.go
  server/v2/appmanager/genesis.go
  server/v2/appmanager/types.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/config.go
  server/v2/flags.go
  server/v2/server.go
  server/v2/streaming/grpc.go
  server/v2/streaming/interface.go
Labels: C:orm

#20936 fix (sims): state written in sims loop
  baseapp/test_helpers.go
  x/simulation/simulate.go
Labels: C:Simulations

#20942 chore: fix some comments for struct field
  server/start.go
  x/auth/signing/sign_mode_handler.go
Labels: C:x/auth

#20934 ci: set up x/acounts/multisig
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  testutil/types.go
  x/accounts/defaults/lockup/CHANGELOG.md
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
  x/accounts/defaults/lockup/periodic_locking_account_test.go
  x/accounts/defaults/lockup/permanent_locking_account_test.go
  x/accounts/defaults/multisig/CHANGELOG.md
Labels: Type: CI, C:x/accounts

#20912 fix: panic `math.LegacyDec` deserialization
  CHANGELOG.md
  client/cmd.go
Labels: C:CLI

#20949 chore: prepare v0.47.13
  CHANGELOG.md
  RELEASE_NOTES.md
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  simapp/sonar-project.properties
  tests/go.mod
  tests/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Labels: C:Cosmovisor

#20533 fix: use contents of the tx as identifier in cache
  client/tx/factory.go
  client/v2/go.mod
  depinject/appconfig/config_test.go
  docs/architecture/adr-070-unordered-transactions.md
  simapp/ante.go
  tests/sims/authz/operations_test.go
  tests/systemtests/system.go
  tests/systemtests/unordered_tx_test.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/authz/go.mod
  x/authz/go.sum
  x/authz/keeper/genesis_test.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/migrations/v2/store_test.go
  x/authz/module/abci_test.go
Labels: C:CLI, C:x/auth, C:x/authz, Type: ADR

#20910 chore: prepare v0.50.8
  CHANGELOG.md
  RELEASE_NOTES.md
  client/keys/add.go
  client/v2/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Labels: C:CLI, C:Keys, C:x/upgrade

#20913 docs(x/tx): add README
  x/README.md
  x/tx/README.md
Labels: C:x/tx

#20939 fix: include pagination.key at reverse mode
  CHANGELOG.md
  types/query/collections_pagination.go
  types/query/collections_pagination_test.go
Labels: backport/v0.50.x

#20953 fix(x/staking): Add missing data from import/export
  api/cosmos/staking/v1beta1/genesis.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  tests/systemtests/upgrade_test.go
  x/staking/keeper/genesis.go
  x/staking/proto/cosmos/staking/v1beta1/genesis.proto
  x/staking/proto/cosmos/staking/v1beta1/staking.proto
  x/staking/simulation/decoder.go
  x/staking/types/genesis.pb.go
  x/staking/types/staking.pb.go
Labels: C:x/staking, C:Simulations

#20952 chore: bring in patch release changelogs
  CHANGELOG.md
  client/v2/CHANGELOG.md
  x/tx/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Labels: C:CLI, C:x/upgrade, C:x/tx

#20957 Fix spelling issues
  docs/architecture/PROCESS.md
  docs/architecture/adr-004-split-denomination-keys.md
  docs/architecture/adr-008-dCERT-group.md
Labels: Type: ADR

#20963 fix(auth): UseGrantedFees error
  x/auth/CHANGELOG.md
  x/auth/ante/fee.go
Labels: C:x/auth

#20969 fix(client/grpc): `node.NewQueryServer` method not setting `cfg`
  CHANGELOG.md
  client/grpc/node/service.go
  client/grpc/node/service_test.go
Labels: C:CLI, backport/v0.50.x

#20974 chore: fix functions' comments
  api/cosmos/base/node/v1beta1/query.pulsar.go
  api/cosmos/circuit/v1/query.pulsar.go
  api/cosmos/circuit/v1/query_grpc.pb.go
  api/cosmos/nft/v1beta1/query.pulsar.go
  client/grpc/node/query.pb.go
  docs/architecture/adr-043-nft-module.md
  proto/cosmos/base/node/v1beta1/query.proto
  store/iavl/store.go
  x/auth/keeper/deterministic_test.go
  x/auth/vesting/types/codec.go
  x/bank/simulation/genesis_test.go
  x/circuit/keeper/query.go
  x/circuit/proto/cosmos/circuit/v1/query.proto
  x/circuit/types/query.pb.go
  x/distribution/simulation/genesis_test.go
  x/gov/simulation/genesis_test.go
  x/mint/simulation/genesis_test.go
  x/nft/proto/cosmos/nft/v1beta1/query.proto
  x/nft/query.pb.go
  x/slashing/simulation/genesis_test.go
  x/staking/keeper/migrations.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:Store, C:x/bank, C:x/auth, C:x/nft, Type: ADR, C:x/circuit

#20871 fix(store/v2): using `defer` to ensure close db handle
  store/v2/commitment/metadata.go
Labels: C:Store

#20880 feat(schema): decoding middleware
  schema/decoding/decoding_test.go
  schema/decoding/middleware.go
  schema/decoding/resolver_test.go
  schema/decoding/sync.go
Labels: C:schema

#20981 test: failed to get sub viper
  .github/workflows/v2-test.yml
  server/v2/server_test.go
Labels: Type: CI

#20985 chore(confix): replace version v0.51 to v0.52
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.52-app.toml
  tools/confix/data/v0.52-client.toml
  tools/confix/migrations.go
Labels: C:Confix

#20988 chore(confix): remove gas-adjustment in v0.52 client toml
  tools/confix/data/v0.52-client.toml
Labels: C:Confix

#20931 refactor(depinject/appconfig): remove api module dependency
  depinject/appconfig/config.go
  depinject/appconfig/v1alpha1/config.pb.go
  depinject/appconfig/v1alpha1/module.pb.go
  depinject/appconfig/v1alpha1/query.pb.go
  depinject/go.mod
  depinject/go.sum
  depinject/internal/appconfig/buf.gen.pulsar.yaml
  depinject/internal/appconfig/buf.gen.yaml
  depinject/internal/appconfig/buf.yaml
  depinject/internal/appconfig/registry.go
  depinject/internal/appconfig/testpb/test.proto
  depinject/internal/appconfig/testpb/test.pulsar.go
  depinject/internal/appconfiggogo/buf.gen.gogo.yaml
  depinject/internal/appconfiggogo/buf.gen.yaml
  depinject/internal/appconfiggogo/buf.yaml
  depinject/internal/appconfiggogo/testpb/test.pb.go
  depinject/internal/appconfiggogo/testpb/test.proto
  orm/go.mod
  orm/go.sum
  proto/cosmos/app/v1alpha1/config.proto
  proto/cosmos/app/v1alpha1/module.proto
  proto/cosmos/app/v1alpha1/query.proto
  runtime/v2/go.mod
  runtime/v2/go.sum
Labels: C:orm

#20984 refactor(core,types,runtime,x): make HasName not mandatory
  core/appmodule/genesis.go
  core/appmodule/module.go
  core/appmodule/v2/genesis.go
  docs/build/building-modules/01-module-manager.md
  runtime/v2/builder.go
  runtime/v2/manager.go
  scripts/mockgen.sh
  simapp/app.go
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  testutil/x/counter/module.go
  types/module/core_module.go
  types/module/mock_appmodule_test.go
  types/module/module.go
  x/accounts/module.go
  x/accounts/utils_test.go
  x/auth/module.go
  x/auth/vesting/module.go
  x/authz/module/module.go
  x/bank/module.go
  x/circuit/module.go
  x/consensus/module.go
  x/distribution/module.go
  x/epochs/module.go
  x/evidence/module.go
  x/feegrant/module/module.go
  x/genutil/module.go
  x/gov/module.go
  x/group/module/module.go
  x/mint/module.go
  x/nft/module/module.go
  x/params/module.go
  x/protocolpool/module.go
  x/slashing/module.go
  x/staking/module.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/nft, Type: Build, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs

#20993 chore(x/auth,x/accounts): use `errors.New` to replace `fmt.Errorf` with no parameters
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/utils_test.go
  x/accounts/keeper.go
  x/auth/ante/sigverify.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/client/tx.go
  x/auth/migrations/legacytx/stdsign.go
  x/auth/tx/builder.go
  x/auth/tx/config.go
  x/auth/tx/config/depinject.go
  x/auth/tx/sigs.go
  x/auth/types/account.go
  x/auth/types/credentials.go
  x/auth/types/params_test.go
  x/auth/types/permissions.go
Labels: C:CLI, C:x/auth, C:x/accounts, C:x/accounts/lockup

#20995 test(x/slashing): fix slashing sims
  x/slashing/simulation/operations.go
Labels: C:x/slashing, C:Simulations

#20999 chore(docs): fix comments that do not start with the name of the exported element
  store/dbadapter/store.go
  store/gaskv/store.go
  store/iavl/store.go
  store/internal/maps/maps.go
  store/prefix/store.go
  store/rootmulti/proof.go
  store/rootmulti/store.go
  store/snapshots/store.go
  store/snapshots/types/convert.go
  store/streaming/abci/grpc.go
  store/transient/store.go
  store/types/codec.go
  store/types/store.go
  store/types/validity.go
  store/v2/db/prefixdb.go
  store/v2/internal/encoding/encoding.go
  store/v2/storage/pebbledb/comparator.go
  store/v2/validation.go
Labels: C:Store

#21004 chore(x/staking,x/upgrade): replace `fmt.Errorf` without parameters with `errors.New`
  x/params/types/common_test.go
  x/protocolpool/types/genesis.go
  x/simulation/simulate.go
  x/staking/keeper/delegation.go
  x/staking/keeper/slash.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/types/params.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/migrations.go
Labels: C:x/staking, C:Simulations, C:x/params, C:x/upgrade, C:x/protocolpool

#21006 fix: NewIntegrationApp does not write default genesis to state
  CHANGELOG.md
  testutil/integration/router.go
Labels: backport/v0.50.x

#21010 chore(docs): fix functions and struct comments
  api/cosmos/base/node/v1beta1/query.pulsar.go
  client/grpc/node/query.pb.go
  proto/cosmos/base/node/v1beta1/query.proto
  tests/integration/example/example_test.go
  x/auth/ante/sigverify.go
Labels: C:CLI, C:x/auth

#21011 refactor: set `help` as default target of Makefile
  Makefile
Labels: Type: Build

#20989 feat(server/v2/cometbft): config
  runtime/v2/app.go
  runtime/v2/builder.go
  server/v2/api/grpc/server.go
  server/v2/api/grpcgateway/server.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/commands.go
  server/v2/cometbft/config.go
  server/v2/cometbft/flags.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/options.go
  server/v2/cometbft/query.go
  server/v2/cometbft/server.go
  server/v2/cometbft/utils.go
  server/v2/cometbft/version.go
  server/v2/commands.go
  server/v2/config.go
  server/v2/config_test.go
  server/v2/go.mod
  server/v2/server.go
  server/v2/server_test.go
  server/v2/testdata/app.toml
  server/v2/types.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/testnet.go
Labels: C:server/v2, C:server/v2 cometbft, C:server/v2 api

#20441 refactor(storev2): update snapshot manager and migration manager tests
  store/v2/migration/manager_test.go
  store/v2/root/store_test.go
  store/v2/snapshots/manager_test.go
Labels: C:Store

#21017 docs(server): wrong function comments
  server/v2/cometbft/abci.go
  server/v2/config.go
Labels: C:server/v2, C:server/v2 cometbft

#21018 chore(server/v2/cometbft): ensure consistent dash-case in app.toml
  server/v2/cometbft/config.go
Labels: C:server/v2, C:server/v2 cometbft

#21013 chore(all)!: use gogoproto/any instead of codec/types/any
  UPGRADING.md
  client/grpc/cmtservice/service.go
  client/keys/output_test.go
  codec/codec.go
  codec/types/interface_registry.go
  crypto/keyring/legacy_info.go
  crypto/keyring/record.go
  crypto/keys/multisig/multisig.go
  server/v2/cometbft/client/grpc/cmtservice/service.go
  testutil/testdata/animal.go
  testutil/testdata/grpc_query.go
  types/result.go
  types/tx/direct_aux.go
  types/tx/ext.go
  types/tx/msgs.go
  types/tx/signing/signature.go
  types/tx/types.go
  x/auth/migrations/legacytx/stdsign.go
  x/auth/migrations/legacytx/stdsignmsg.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/types/account.go
  x/auth/types/genesis.go
  x/auth/types/query.go
  x/authz/authorization_grant.go
  x/authz/genesis.go
  x/authz/msgs.go
  x/authz/simulation/operations.go
  x/evidence/types/genesis.go
  x/evidence/types/genesis_test.go
  x/evidence/types/msgs.go
  x/feegrant/filtered_fee.go
  x/feegrant/genesis.go
  x/feegrant/grant.go
  x/feegrant/msgs.go
  x/gov/types/v1/genesis.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/proposal.go
  x/gov/types/v1beta1/genesis.go
  x/gov/types/v1beta1/msgs.go
  x/gov/types/v1beta1/proposal.go
  x/group/genesis.go
  x/group/msgs.go
  x/group/proposal.go
  x/group/simulation/operations.go
  x/group/types.go
  x/staking/types/genesis.go
  x/staking/types/msg.go
  x/staking/types/validator.go
Labels: C:x/staking, C:CLI, C:x/gov, C:Keys, C:Simulations, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, C:x/group, C:server/v2, C:server/v2 cometbft

#21015 chore: fix errors reported by running `make lint`
  indexer/postgres/tests/init_schema_test.go
  schema/decoding/decoding_test.go
  schema/decoding/resolver_test.go
  schema/decoding/sync.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
Labels: C:x/accounts, C:schema, C:x/accounts/lockup, C:indexer/postgres

#21032 chore(x): replace `fmt.Errorf` without parameters with `errors.New`
  x/bank/client/cli/tx.go
  x/distribution/keeper/delegation.go
  x/distribution/types/params.go
  x/evidence/types/genesis.go
  x/feegrant/basic_fee.go
  x/feegrant/filtered_fee.go
  x/genutil/client/cli/export_test.go
  x/genutil/utils.go
  x/gov/client/cli/util.go
  x/gov/keeper/common_test.go
  x/group/client/cli/util.go
  x/group/internal/math/dec.go
  x/group/internal/orm/iterator.go
  x/group/keeper/msg_server_test.go
Labels: C:CLI, C:x/gov, C:x/distribution, C:x/bank, C:x/evidence, C:x/feegrant, C:x/genutil, C:x/group

#21026 refactor(schema)!: move bech32 address prefixes to a higher level
  schema/field.go
  schema/field_test.go
  schema/kind.go
  schema/kind_test.go
Labels: C:schema

#20736 feat(server/v2) Add prune cmd to serverv2
  runtime/v2/builder.go
  runtime/v2/go.mod
  runtime/v2/go.sum
  runtime/v2/module.go
  runtime/v2/types.go
  server/v2/go.mod
  server/v2/go.sum
  server/v2/store/commands.go
  server/v2/store/config.go
  server/v2/store/flags.go
  server/v2/store/server.go
  simapp/v2/app_di.go
  simapp/v2/go.mod
  simapp/v2/simdv2/cmd/commands.go
  store/v2/commitment/iavl/config.go
  store/v2/go.mod
  store/v2/go.sum
  store/v2/options.go
  store/v2/root/factory.go
  store/v2/root/store.go
  store/v2/store.go
Labels: C:Store, C:server/v2

#21036 refactor(schema)!: collect all types in ModuleSchema
  schema/decoding/decoding_test.go
  schema/decoding/resolver_test.go
  schema/enum.go
  schema/module_schema.go
  schema/module_schema_test.go
  schema/object_type.go
  schema/type.go
Labels: C:schema

#21047 docs(x/epochs): Fix proto comment
  api/cosmos/epochs/module/v1/module.pulsar.go
  x/epochs/proto/cosmos/epochs/module/v1/module.proto
Labels: C:x/epochs

#21041 ci: add 52 labels and ci
  .github/dependabot.yml
  .github/workflows/sims-052.yml
  .mergify.yml
  client/v2/go.mod
  client/v2/internal/testpb/msg.proto
  server/v2/cometbft/go.mod
  simapp/go.mod
  simapp/v2/go.mod
  tests/go.mod
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/multisig/go.mod
  x/accounts/go.mod
  x/auth/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/consensus/go.mod
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, Type: CI, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs, C:x/accounts/lockup, C:x/accounts/multisig, C:server/v2, C:server/v2 cometbft

#21049 test(sims): Reduce test scope to 150 blocks for long sim run
  scripts/build/simulations.mk
Labels: backport/v0.52.x

#21050 refactor(server/v2/cometbft): typecast SC & SS to correct interfaces
  server/v2/cometbft/server.go
Labels: C:server/v2, C:server/v2 cometbft

#20977 fix(x/slashing): do not error when val has zero tokens
  tests/integration/slashing/keeper/slash_redelegation_test.go
  x/staking/keeper/slash.go
Labels: C:x/staking

#21009 docs: update ADR 054 (go semver compatible SDK modules)
  docs/architecture/adr-054-semver-compatible-modules.md
Labels: Type: ADR

#21043 feat(schema)!: add more range methods, rename EnumDefinition -> EnumType
  schema/enum.go
  schema/enum_test.go
  schema/field.go
  schema/field_test.go
  schema/kind.go
  schema/module_schema.go
  schema/module_schema_test.go
  schema/object_type.go
  schema/object_type_test.go
  schema/type.go
Labels: C:schema

#20790 feat(x/protocolpool,x/distribution)!: remove dependency + fix continuous fund bug
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  simapp/app.go
  simapp/app_config.go
  simapp/v2/app_config.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/protocolpool/module_test.go
  testutil/configurator/configurator.go
  x/distribution/CHANGELOG.md
  x/distribution/depinject.go
  x/distribution/go.mod
  x/distribution/go.sum
  x/distribution/keeper/allocation.go
  x/distribution/keeper/allocation_test.go
  x/distribution/keeper/delegation_test.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/grpc_query_test.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/keeper_test.go
  x/distribution/keeper/migrations.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/msg_server_test.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/distribution/module.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/distribution/types/keys.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/expected_keepers.go
  x/protocolpool/CHANGELOG.md
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/genesis_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/module.go
  x/protocolpool/proto/cosmos/protocolpool/v1/genesis.proto
  x/protocolpool/types/errors.go
  x/protocolpool/types/genesis.go
  x/protocolpool/types/genesis.pb.go
  x/protocolpool/types/keys.go
Labels: C:x/gov, C:x/distribution, C:x/protocolpool, backport/v0.52.x

#21053 chore: add test for account creation
  tests/systemtests/README.md
  tests/systemtests/account_test.go
Labels: backport/v0.52.x

#21068 chore(all): replace all `fmt.Errorf` without paramters with `errors.New`
  baseapp/grpcrouter_helpers.go
  client/cmd.go
  client/grpc_query.go
  client/snapshot/load.go
  client/tx/factory.go
  client/tx/tx_test.go
  client/v2/autocli/flag/coin.go
  client/v2/internal/coins/format.go
  client/v2/internal/prompt/validation.go
  client/v2/offchain/verify.go
  collections/iter_test.go
  collections/map_test.go
  depinject/appconfig/config.go
  depinject/container_test.go
  depinject/internal/codegen/file.go
  indexer/postgres/indexer.go
  internal/testutil/cmd_test.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  orm/internal/listinternal/options.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  orm/model/ormtable/backend.go
  orm/model/ormtable/bench_test.go
  runtime/branch_test.go
  runtime/v2/manager.go
  schema/decoding/decoding_test.go
  server/cmt_cmds.go
  server/grpc/reflection/v2alpha1/reflection.go
  server/v2/api/telemetry/metrics.go
  server/v2/appmanager/appmanager.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/commands.go
  server/v2/cometbft/handlers/defaults.go
  server/v2/cometbft/utils.go
  server/v2/stf/core_branch_service_test.go
  server/v2/stf/stf_test.go
  store/v2/commitment/store.go
  store/v2/migration/manager.go
  tests/integration/example/example_test.go
  testutil/network/network.go
  testutil/sims/address_helpers.go
  testutil/sims/app_helpers.go
  testutil/sims/state_helpers.go
  testutil/testdata/grpc_query.go
  tools/cosmovisor/args.go
  tools/hubl/internal/version.go
  types/collections.go
  types/mempool/mempool_test.go
  types/mempool/priority_nonce.go
  types/mempool/sender_nonce.go
  types/mempool/signer_extraction_adapater_test.go
  types/query/collections_pagination.go
  types/query/filtered_pagination.go
  types/query/pagination.go
  types/simulation/account.go
  x/protocolpool/keeper/genesis.go
Labels: C:CLI, C:Store, C:Cosmovisor, C:orm, C:collections, C:Hubl, C:x/protocolpool, C:schema, C:indexer/postgres, C:server/v2, C:server/v2 stf, C:server/v2 appmanager, C:server/v2 cometbft, C:server/v2 api

#21067 ci: Use large box for 052 branch sims on CI
  .github/workflows/sims-052.yml
Labels: Type: CI

#20879 feat(schema/appdata): async listener mux'ing
  schema/appdata/async.go
  schema/appdata/async_test.go
  schema/appdata/mux.go
  schema/appdata/mux_test.go
Labels: C:schema

#21077 chore(indexer/postgres): update to changes on main
  indexer/postgres/column.go
  indexer/postgres/enum.go
  indexer/postgres/go.mod
  indexer/postgres/go.sum
  indexer/postgres/internal/testdata/example_schema.go
  indexer/postgres/module.go
  indexer/postgres/tests/go.mod
  indexer/postgres/tests/go.sum
Labels: C:indexer/postgres

#21076 feat(simapp/v2): Add store server to testnet init cmd
  scripts/local-testnet.sh
  simapp/v2/simdv2/cmd/testnet.go
Labels: Type: Build

#21042 fix(runtime): remove `appv1alpha1.Config` from runtime
  runtime/app.go
  runtime/module.go
  runtime/v2/app.go
  runtime/v2/module.go
Labels: backport/v0.50.x, backport/v0.52.x

#21055 chore(network): remove `DefaultConfigWithAppConfigWithQueryGasLimit`
  tests/integration/server/grpc/out_of_gas_test.go
  testutil/network/network.go
Labels: backport/v0.52.x

#21099 refactor(simd/v2): Rename to `minimum-gas-price`
  scripts/local-testnet.sh
  simapp/v2/simdv2/cmd/testnet.go
Labels: Type: Build, backport/v0.52.x

#21052 feat(confix): add migration to v2
  store/v2/commitment/iavl/config.go
  tools/confix/cmd/migrate.go
  tools/confix/cmd/mutate.go
  tools/confix/data/v2-app.toml
  tools/confix/data/v2-client.toml
  tools/confix/match.go
  tools/confix/migrations.go
  tools/confix/upgrade.go
Labels: C:Store, C:Confix, backport/v0.52.x

#21078 feat(indexer/postgres): block, tx and event schemas
  indexer/postgres/base_sql.go
Labels: C:indexer/postgres

#20870 feat(tx)!: make timeout_height time based
  CHANGELOG.md
  UPGRADING.md
  api/cosmos/tx/v1beta1/tx.pulsar.go
  baseapp/abci_test.go
  baseapp/abci_utils_test.go
  client/flags/flags.go
  client/tx/aux_builder.go
  client/tx/factory.go
  client/tx_config.go
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/msg-output.golden
  client/v2/offchain/builder.go
  docs/architecture/adr-070-unordered-transactions.md
  docs/learn/advanced/00-baseapp.md
  proto/cosmos/tx/v1beta1/tx.proto
  simapp/ante.go
  tests/e2e/baseapp/block_gas_test.go
  tests/systemtests/unordered_tx_test.go
  types/errors/errors.go
  types/tx/tx.pb.go
  types/tx_msg.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/ante/unorderedtx/manager.go
  x/auth/ante/unorderedtx/manager_test.go
  x/auth/ante/unorderedtx/snapshotter.go
  x/auth/ante/unorderedtx/snapshotter_test.go
  x/auth/tx/builder.go
  x/auth/tx/gogotx.go
Labels: C:CLI, C:x/auth, Type: ADR, backport/v0.52.x

#20803 fix(x/auth/tx): JSON TX encoding/decoding
  .vscode/launch.json
  testutil/testdata/testpb/tx.proto
  testutil/testdata/testpb/tx.pulsar.go
  testutil/testdata/tx.go
  testutil/testdata/tx.pb.go
  types/tx_msg_test.go
  x/auth/ante/unordered.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/tx/decoder.go
  x/auth/tx/encoder.go
  x/auth/tx/testutil/suite.go
Labels: C:x/auth

#21109 docs: Enhance provisions docs
  x/mint/README.md
Labels: C:x/mint

#21084 feat: check latest block if no arg in `q block` and `q block-results`
  server/cmt_cmds.go
Labels: backport/v0.50.x, backport/v0.52.x

#21038 feat(serverv2): integrate gRPC
  runtime/v2/app.go
  runtime/v2/manager.go
  runtime/v2/module.go
  schema/appdata/mux_test.go
  server/v2/api/grpc/gogoreflection/serverreflection.go
  server/v2/api/grpc/server.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/server.go
  server/v2/go.mod
  server/v2/server_test.go
  server/v2/types.go
Labels: C:server/v2, C:schema, C:server/v2 cometbft, C:server/v2 api

#20316 docs: ADR-071 Bank/v2
  docs/architecture/adr-071-bank-v2.md
  docs/architecture/bankv2.png
Labels: Type: ADR

#21095 refactor(store/v2): handle the error returned by `batch.Close` correctly
  store/v2/migration/manager.go
Labels: C:Store

#20705 feat(schema): testing utilities
  .github/workflows/test.yml
  schema/appdata/forwarder.go
  schema/appdata/forwarder_test.go
  schema/kind.go
  schema/kind_test.go
  schema/testing/CHANGELOG.md
  schema/testing/README.md
  schema/testing/app.go
  schema/testing/app_test.go
  schema/testing/appdatasim/app_data.go
  schema/testing/appdatasim/app_data_test.go
  schema/testing/appdatasim/diff.go
  schema/testing/appdatasim/diff_test.go
  schema/testing/appdatasim/doc.go
  schema/testing/appdatasim/testdata/app_sim_example_schema.txt
  schema/testing/appdatasim/testdata/diff_example.txt
  schema/testing/diff.go
  schema/testing/doc.go
  schema/testing/enum.go
  schema/testing/enum_test.go
  schema/testing/example_schema.go
  schema/testing/field.go
  schema/testing/field_test.go
  schema/testing/go.mod
  schema/testing/go.sum
  schema/testing/module_schema.go
  schema/testing/module_schema_test.go
  schema/testing/name.go
  schema/testing/name_test.go
  schema/testing/object.go
  schema/testing/object_test.go
  schema/testing/sonar-project.properties
  schema/testing/statesim/app.go
  schema/testing/statesim/app_diff.go
  schema/testing/statesim/doc.go
  schema/testing/statesim/module.go
  schema/testing/statesim/module_diff.go
  schema/testing/statesim/object_coll.go
  schema/testing/statesim/object_coll_diff.go
  schema/testing/statesim/options.go
Labels: Type: CI, C:schema

#21100 chore: rename snapshots to v2 in store/v2
  api/cosmos/store/snapshots/v2/snapshot.pulsar.go
  proto/cosmos/store/snapshots/v2/snapshot.proto
  runtime/v2/go.mod
  runtime/v2/go.sum
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/go.mod
  server/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  store/v2/go.mod
  store/v2/go.sum
  store/v2/proof/proof.go
  store/v2/snapshots/chunk.go
  store/v2/snapshots/helpers_test.go
  store/v2/snapshots/manager.go
  store/v2/snapshots/store.go
  store/v2/snapshots/stream.go
  store/v2/snapshots/types/snapshot.pb.go
Labels: C:Store, C:server/v2 cometbft

#21122 fix: fixes evidence skipped
  server/v2/cometbft/utils.go
Labels: C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#21073 fix(x/tx): concurrent map writes when calling GetSigners
  simapp/app.go
  x/tx/CHANGELOG.md
  x/tx/signing/context.go
  x/tx/signing/context_test.go
Labels: C:x/tx

#21127 chore: small fix in readme
  x/tx/CHANGELOG.md
Labels: C:x/tx

#21123 refactor(server/v2): add missing comet flags
  runtime/v2/go.mod
  runtime/v2/go.sum
  server/v2/api/grpc/flags.go
  server/v2/api/grpc/server.go
  server/v2/api/grpcgateway/server.go
  server/v2/cometbft/flags.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/cometbft/server.go
  server/v2/go.mod
  server/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  store/v2/go.mod
  store/v2/go.sum
Labels: C:Store, C:server/v2, C:server/v2 cometbft, C:server/v2 api, backport/v0.52.x

#21120 refactor: remove comet info from consensus as it will be stored in context for v2
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/query_grpc.pb.go
  api/cosmos/consensus/v1/tx.pulsar.go
  api/cosmos/consensus/v1/tx_grpc.pb.go
  server/v2/cometbft/abci.go
  server/v2/stf/stf.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/proto/cosmos/consensus/v1/query.proto
  x/consensus/proto/cosmos/consensus/v1/tx.proto
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/auth, C:x/consensus, C:server/v2, C:server/v2 stf, C:server/v2 cometbft, backport/v0.52.x
