Repository cosmos/cosmos-sdk, pull requests merged in 2024-04, with the labels that each got.

#19908 chore: remove repetitive words
  client/tx/factory.go
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  docs/spec/SPEC_STANDARD.md
  store/storage/README.md
Labels: C:CLI, C:Store, Type: ADR

#19916 refactor(x/group)!: remove Address.String()
  x/group/CHANGELOG.md
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/genesis_test.go
  x/group/keeper/abci_test.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/invariants_test.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_test.go
  x/group/keeper/proposal_executor.go
  x/group/keeper/tally_test.go
  x/group/migrations/v2/gen_state.go
  x/group/migrations/v2/gen_state_test.go
  x/group/migrations/v2/migrate.go
  x/group/migrations/v2/migrate_test.go
  x/group/msgs.go
  x/group/simulation/decoder_test.go
  x/group/simulation/genesis.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/group/types.go
Labels: C:CLI, C:Simulations, C:x/group

#19915 docs(x/mint): Fix inconsistency in mint docs
  x/mint/README.md
Labels: C:x/mint, backport/v0.50.x

#19926 refactor(x/genutil)!: remove Address.String()
  CHANGELOG.md
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
  testutil/network/util.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/commands.go
  x/genutil/client/cli/genaccount.go
  x/genutil/client/cli/genaccount_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/collect.go
  x/genutil/collect_test.go
  x/genutil/genaccounts.go
  x/genutil/gentx.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
Labels: C:CLI, C:x/genutil

#19697 feat(x/epochs): upstream osmosis epoch module
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  api/cosmos/epochs/module/v1/module.pulsar.go
  api/cosmos/epochs/v1beta1/events.pulsar.go
  api/cosmos/epochs/v1beta1/genesis.pulsar.go
  api/cosmos/epochs/v1beta1/query.pulsar.go
  api/cosmos/epochs/v1beta1/query_grpc.pb.go
  go.work.example
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  simapp/app_test.go
  simapp/go.mod
  tests/go.mod
  testutil/configurator/configurator.go
  testutil/list.go
  testutil/types.go
  x/epochs/CHANGELOG.md
  x/epochs/README.md
  x/epochs/autocli.go
  x/epochs/depinject.go
  x/epochs/go.mod
  x/epochs/go.sum
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch.go
  x/epochs/keeper/epoch_test.go
  x/epochs/keeper/genesis.go
  x/epochs/keeper/genesis_test.go
  x/epochs/keeper/grpc_query.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/hooks.go
  x/epochs/keeper/keeper.go
  x/epochs/keeper/keeper_test.go
  x/epochs/module.go
  x/epochs/proto/buf.gen.gogo.yaml
  x/epochs/proto/buf.gen.pulsar.yaml
  x/epochs/proto/buf.lock
  x/epochs/proto/buf.yaml
  x/epochs/proto/cosmos/epochs/module/v1/module.proto
  x/epochs/proto/cosmos/epochs/v1beta1/events.proto
  x/epochs/proto/cosmos/epochs/v1beta1/genesis.proto
  x/epochs/proto/cosmos/epochs/v1beta1/query.proto
  x/epochs/simulation/genesis.go
  x/epochs/sonar-project.properties
  x/epochs/types/events.pb.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/hooks.go
  x/epochs/types/hooks_test.go
  x/epochs/types/identifier.go
  x/epochs/types/keys.go
  x/epochs/types/query.pb.go
  x/epochs/types/query.pb.gw.go
Labels: C:Simulations, Type: CI

#19951 refactor(types): loosen module.AppModule interface
  runtime/app.go
  tests/starship/tests/go.mod
  testutil/mock/types_mock_appmodule.go
  testutil/mock/types_module_module.go
  types/module/module.go
  x/epochs/module.go
  x/genutil/module.go
Labels: C:x/genutil, C:x/epochs

#19955 fix(x/tx): don't shadow Amino marshalling error messages
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
Labels: C:x/tx

#19958 fix(x/epochs): Fix init genesis
  x/epochs/keeper/epoch.go
Labels: C:x/epochs

#19954 refactor(x/bank)!: remove Address.String()
  simapp/simd/cmd/testnet.go
  tests/integration/bank/app_test.go
  tests/integration/bank/bench_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/sims/authz/operations_test.go
  types/query/pagination_test.go
  x/accounts/defaults/lockup/lockup.go
  x/authz/client/cli/tx.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server_test.go
  x/authz/migrations/v2/store_test.go
  x/authz/module/abci_test.go
  x/authz/msgs_test.go
  x/authz/simulation/decoder_test.go
  x/authz/simulation/genesis.go
  x/authz/simulation/operations.go
  x/bank/CHANGELOG.md
  x/bank/client/cli/tx.go
  x/bank/keeper/collections_test.go
  x/bank/keeper/genesis.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server_test.go
  x/bank/simulation/genesis.go
  x/bank/simulation/operations.go
  x/bank/simulation/proposals.go
  x/bank/simulation/proposals_test.go
  x/bank/types/balance.go
  x/bank/types/balance_test.go
  x/bank/types/inputs_outputs.go
  x/bank/types/msgs_test.go
  x/bank/types/querier.go
  x/bank/types/send_authorization.go
  x/bank/types/send_authorization_test.go
  x/genutil/genaccounts.go
Labels: C:CLI, C:Simulations, C:x/bank, C:x/genutil, C:x/authz, C:x/accounts

#19978 chore: linting fixes
  client/cmd.go
  client/config/config.go
  client/v2/autocli/common_test.go
  server/start.go
  store/db/rocksdb_noflag.go
  store/root/migrate_test.go
  tests/integration/server/grpc/server_test.go
  tests/starship/tests/suite.go
  tools/hubl/internal/load.go
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/protov2_wrapper.go
Labels: C:CLI, C:Store, C:Hubl, C:x/accounts

#19989 build(ci): Remove staticmajor due to false positives
  .github/workflows/staticmajor.yml
Labels: Type: CI

#19980 docs: clarify gas-prices option
  client/flags/flags.go
  client/v2/autocli/testdata/help-echo-msg.golden
Labels: C:CLI

#19976 fix(client/v2): add encoder for `cosmos.base.v1beta1.DecCoin`
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
Labels: C:CLI, backport/v0.50.x

#19967 refactor(x/auth): use transaction service
  core/transaction/service.go
  simapp/ante.go
  simapp/app_config.go
  simapp/app_di.go
  types/context.go
  x/auth/CHANGELOG.md
  x/auth/ante/ante.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/export_test.go
  x/auth/ante/ext.go
  x/auth/ante/fee.go
  x/auth/ante/setup.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_internal_test.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/ante/validator_tx_fee.go
  x/auth/keeper/keeper.go
Labels: C:x/auth

#19919 feat(x/tx): Rename custom Amino JSON encoder to "inline_json"
  docs/build/building-modules/05-protobuf-annotations.md
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/encoder.go
  x/tx/signing/aminojson/encoder_test.go
  x/tx/signing/aminojson/internal/testpb/test.proto
  x/tx/signing/aminojson/internal/testpb/test.pulsar.go
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Labels: C:x/tx

#20002 refactor(x/auth): auth module can recognize x/accounts account
  client/rpc/rpc_test.go
  server/api/server_test.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  simapp/simd/cmd/testnet_test.go
  tests/e2e/baseapp/block_gas_test.go
  tests/integration/bank/app_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/appconfig.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/app_config.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/example/example_test.go
  tests/integration/gov/common_test.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/gov/module_test.go
  tests/integration/mint/app_config.go
  tests/integration/runtime/query_test.go
  tests/integration/slashing/app_config.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/slashing/slashing_test.go
  tests/integration/staking/app_config.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/integration/tx/context_test.go
  tests/sims/authz/operations_test.go
  tests/sims/bank/operations_test.go
  tests/sims/distribution/app_config.go
  tests/sims/feegrant/operations_test.go
  tests/sims/gov/operations_test.go
  tests/sims/nft/app_config.go
  tests/sims/protocolpool/app_config.go
  tests/sims/slashing/app_config.go
  testutil/configurator/configurator.go
  testutil/network/network.go
  types/query/pagination_test.go
  x/accounts/depinject.go
  x/accounts/keeper.go
  x/auth/ante/testutil_test.go
  x/auth/depinject.go
  x/auth/keeper/account.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/testutil/app_config.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/expected_keepers.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/testutil/expected_keepers_mocks.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/group/migrations/v2/migrate_test.go
  x/group/testutil/app_config.go
Labels: C:CLI, C:x/distribution, C:x/bank, C:x/auth, C:x/group, C:x/accounts

#20012 chore(confix): update latest config value
  server/config/toml.go
  tools/confix/data/v0.50-app.toml
  tools/confix/data/v0.51-app.toml
Labels: C:Confix

#20000 docs(x/feegrant): fix allowance typo
  api/cosmos/feegrant/v1beta1/query_grpc.pb.go
  client/docs/swagger-ui/swagger.yaml
  x/feegrant/proto/cosmos/feegrant/v1beta1/query.proto
  x/feegrant/query.pb.go
Labels: C:CLI, C:x/feegrant

#20011 fix(store): fix the typo
  store/snapshots/manager.go
Labels: C:Store

#19903 feat: Conditionally emit metrics based on enablement
  CHANGELOG.md
  server/start.go
  telemetry/metrics.go
  telemetry/wrapper.go
  telemetry/wrapper_test.go
  x/circuit/module.go
  x/crisis/abci.go
  x/crisis/module.go
  x/distribution/keeper/abci.go
  x/evidence/keeper/abci.go
  x/gov/keeper/abci.go
  x/mint/keeper/abci.go
  x/slashing/abci.go
  x/staking/keeper/abci.go
  x/upgrade/keeper/abci.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/crisis, C:x/evidence, C:x/upgrade, C:x/circuit, backport/v0.50.x

#20014 feat(x/bank): support depinject for send restrictions
  api/cosmos/bank/module/v1/module.pulsar.go
  x/bank/CHANGELOG.md
  x/bank/depinject.go
  x/bank/proto/cosmos/bank/module/v1/module.proto
  x/bank/types/restrictions.go
Labels: C:x/bank, backport/v0.50.x

#20015 chore: prepare x/tx changelog
  x/tx/CHANGELOG.md
Labels: C:x/tx

#20016 refactor(x/evidence)!: remove Address.String()
  x/evidence/CHANGELOG.md
  x/evidence/keeper/keeper_test.go
  x/evidence/keeper/msg_server_test.go
  x/evidence/types/evidence_test.go
  x/evidence/types/msgs.go
Labels: C:x/evidence

#20026 refactor(x/slashing)!: remove Accounts String
  x/slashing/CHANGELOG.md
  x/slashing/keeper/migrations.go
  x/slashing/migrations/v4/migrate.go
  x/slashing/migrations/v4/migrate_test.go
  x/slashing/module.go
  x/slashing/simulation/proposals.go
  x/slashing/simulation/proposals_test.go
Labels: C:x/slashing, C:Simulations

#20028 fix(x/bank): align query with multi denoms for send-enabled
  CHANGELOG.md
  x/bank/autocli.go
Labels: C:x/bank, backport/v0.50.x

#20030 fix(x/epochs): avoid invalid epoch duration in simulation
  x/epochs/simulation/genesis.go
Labels: C:Simulations, C:x/epochs

#20027 fix: Implement gogoproto customtype to secp256r1 keys
  CHANGELOG.md
  crypto/keys/secp256r1/privkey.go
  crypto/keys/secp256r1/privkey_internal_test.go
  crypto/keys/secp256r1/pubkey.go
  crypto/keys/secp256r1/pubkey_internal_test.go
Labels: backport/v0.47.x, backport/v0.50.x

#19350 feat: Add non atomic multimsg
  api/cosmos/auth/v1beta1/tx.pulsar.go
  api/cosmos/auth/v1beta1/tx_grpc.pb.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  tests/integration/auth/keeper/msg_server_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/example/example_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/sims/nft/app_config.go
  x/accounts/depinject.go
  x/accounts/internal/implementation/implementation.go
  x/accounts/keeper.go
  x/accounts/keeper_test.go
  x/accounts/utils_test.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/ante/testutil_test.go
  x/auth/depinject.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/keeper/msg_server.go
  x/auth/module.go
  x/auth/proto/cosmos/auth/v1beta1/tx.proto
  x/auth/testutil/app_config.go
  x/auth/testutil/expected_keepers_mocks.go
  x/auth/types/codec.go
  x/auth/types/expected_keepers.go
  x/auth/types/msgs.go
  x/auth/types/tx.pb.go
  x/auth/vesting/testutil/expected_keepers_mocks.go
  x/auth/vesting/types/expected_keepers.go
  x/auth/vesting/types/vesting_account_test.go
  x/bank/testutil/expected_keepers_mocks.go
  x/distribution/migrations/v4/migrate_funds_test.go
  x/group/migrations/v2/migrate_test.go
Labels: C:x/distribution, C:x/bank, C:x/auth, C:x/group, C:x/accounts

#20020 fix(server): bootstrap-state command can't parse latest genesis format
  CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  server/cmt_cmds.go
  simapp/go.mod
  simapp/go.sum
  simapp/gomod2nix.toml
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/auth/go.mod
  x/auth/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/circuit, backport/v0.50.x, C:x/accounts, C:x/protocolpool, C:x/epochs

#20033 fix(client/v2): respect output format from client ctx
  client/v2/CHANGELOG.md
  client/v2/autocli/common.go
Labels: C:CLI, backport/v0.50.x

#20043 refactor(x/crisis)!: remove Address.String()
  CHANGELOG.md
  x/crisis/depinject.go
  x/crisis/keeper/msg_server_test.go
  x/crisis/types/msgs.go
Labels: C:x/crisis

#20048 refactor(x): remove Address.String()
  x/accounts/cli/cli.go
  x/authz/keeper/keeper.go
  x/circuit/depinject.go
  x/circuit/keeper/genesis_test.go
  x/circuit/keeper/keeper_test.go
  x/consensus/depinject.go
  x/consensus/keeper/keeper_test.go
  x/mint/simulation/proposals.go
  x/mint/simulation/proposals_test.go
  x/slashing/keeper/signing_info.go
  x/slashing/keeper/signing_info_test.go
Labels: C:x/slashing, C:x/mint, C:Simulations, C:x/authz, C:x/consensus, C:x/circuit, C:x/accounts

#20003 feat(x/accounts): use router service from env
  simapp/app.go
  tests/integration/auth/keeper/msg_server_test.go
  x/accounts/depinject.go
  x/accounts/genesis_test.go
  x/accounts/keeper.go
  x/accounts/keeper_test.go
  x/accounts/msg_server_test.go
  x/accounts/query_server_test.go
  x/accounts/utils_test.go
  x/bank/types/codec.go
Labels: C:x/bank, C:x/accounts

#19616 fix(baseapp): don't share global gas meter in tx execution
  CHANGELOG.md
  baseapp/baseapp.go
Labels: backport/v0.50.x

#20056 refactor(x/simulation)!: remove accounts string
  CHANGELOG.md
  simapp/app_di.go
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/upgrades.go
  x/simulation/simulate.go
Labels: C:Simulations

#20053 refactor(x/accounts): Skip Importing Unregistered Genesis Account Types
  x/accounts/genesis.go
  x/accounts/genesis_test.go
Labels: C:x/accounts

#20065 fix(x/accounts): remove double execute
  x/accounts/keeper.go
Labels: C:x/accounts

#20060 fix: secp256r1 json missing quotes
  crypto/keys/secp256r1/privkey.go
  crypto/keys/secp256r1/pubkey.go
Labels: backport/v0.47.x, backport/v0.50.x

#20064 chore: fix some comments
  api/cosmos/accounts/v1/query.pulsar.go
  x/accounts/proto/cosmos/accounts/v1/query.proto
  x/accounts/v1/query.pb.go
  x/auth/types/tx.pb.go
Labels: C:x/auth, C:x/accounts

#20081 docs(x/accounts): remove unnecessary TODO comments
  x/auth/tx/query.go
  x/auth/tx/service.go
Labels: C:x/auth

#20082 refactor(x/group)!: remove MustAccAddressFromBech32
  testutil/testdata/table.go
  x/group/CHANGELOG.md
  x/group/internal/orm/auto_uint64.go
  x/group/internal/orm/auto_uint64_test.go
  x/group/internal/orm/example_test.go
  x/group/internal/orm/genesis_test.go
  x/group/internal/orm/index_test.go
  x/group/internal/orm/iterator_test.go
  x/group/internal/orm/orm_scenario_test.go
  x/group/internal/orm/primary_key.go
  x/group/internal/orm/primary_key_property_test.go
  x/group/internal/orm/primary_key_test.go
  x/group/internal/orm/table.go
  x/group/internal/orm/table_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/invariants_test.go
  x/group/keeper/keeper.go
  x/group/keeper/msg_server.go
  x/group/keeper/tally.go
  x/group/migrations/v2/migrate_test.go
  x/group/simulation/decoder_test.go
  x/group/types.go
Labels: C:Simulations, C:x/group

#20079 docs: update links and information that pointed to CometBFT docs
  baseapp/abci.go
  docs/architecture/adr-064-abci-2.0.md
  docs/build/abci/00-introduction.md
  docs/build/abci/03-vote-extensions.md
  docs/build/building-apps/02-app-mempool.md
  docs/learn/advanced/00-baseapp.md
  docs/learn/advanced/01-transactions.md
  docs/learn/advanced/02-context.md
  docs/learn/advanced/03-node.md
  docs/learn/advanced/06-grpc_rest.md
  docs/learn/advanced/08-events.md
  docs/learn/advanced/15-upgrade.md
  docs/learn/advanced/16-config.md
  docs/learn/beginner/00-app-anatomy.md
  docs/learn/beginner/01-tx-lifecycle.md
  docs/learn/beginner/02-query-lifecycle.md
  docs/learn/intro/01-why-app-specific.md
  docs/learn/intro/02-sdk-app-architecture.md
  docs/spec/_ics/ics-030-signed-messages.md
  store/snapshots/README.md
Labels: C:Store, Type: ADR

#20086 chore: fix function names in comment
  client/v2/autocli/query_test.go
  crypto/keyring/migration_test.go
  simapp/simd/cmd/config.go
Labels: C:CLI

#20049 feat(x/tx): Sort JSON attributes for "inline_json" encoder
  x/tx/signing/aminojson/encoder.go
  x/tx/signing/aminojson/encoder_test.go
Labels: C:x/tx

#20083 feat(client/v2): implement version filtering using annotation
  client/v2/CHANGELOG.md
  client/v2/README.md
  client/v2/autocli/common.go
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg.go
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  client/v2/internal/buf.lock
  client/v2/internal/offchain/msgSignArbitraryData.pulsar.go
  client/v2/internal/testpb/msg.proto
  client/v2/internal/testpb/msg.pulsar.go
  client/v2/internal/testpb/msg_grpc.pb.go
  client/v2/internal/testpb/query.pulsar.go
  client/v2/internal/util/util.go
  client/v2/internal/util/util_test.go
  docs/build/building-modules/05-protobuf-annotations.md
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/starship/tests/go.mod
  tests/starship/tests/go.sum
Labels: C:CLI, backport/v0.50.x

#20101 build: set go 1.21.0 everywhere
  client/v2/go.mod
  x/accounts/defaults/lockup/go.mod
  x/accounts/go.mod
  x/auth/go.mod
  x/authz/go.mod
  x/bank/go.mod
  x/circuit/go.mod
  x/distribution/go.mod
  x/epochs/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/gov/go.mod
  x/group/go.mod
  x/mint/go.mod
  x/nft/go.mod
  x/params/go.mod
  x/protocolpool/go.mod
  x/slashing/go.mod
  x/staking/go.mod
  x/upgrade/go.mod
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs

#20103 refactor(x/evidence): cleanup api
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/evidence/keeper/keeper_test.go
  x/evidence/testutil/expected_keepers_mocks.go
  x/evidence/types/expected_keepers.go
  x/feegrant/simulation/operations.go
Labels: C:Simulations, C:x/auth, C:x/evidence, C:x/feegrant

#20091 chore: codeql changes
  .github/codeql/config.yml
  .github/workflows/codeql-analysis.yml
  crypto/keys/bcrypt/bcrypt.go
  store/db/db.go
  store/db/rocksdb_noflag.go
Labels: C:Store, Type: CI

#19998 chore: prepare v0.50.6
  CHANGELOG.md
  RELEASE_NOTES.md
  x/circuit/CHANGELOG.md
  x/evidence/CHANGELOG.md
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/CHANGELOG.md
  x/nft/CHANGELOG.md
  x/upgrade/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:x/circuit

#20108 fix: use timestamp for sim log file name
  x/simulation/log.go
Labels: C:Simulations, backport/v0.47.x, backport/v0.50.x

#20102 fix(x/authz,x/feegrant): check blocked address
  x/authz/expected_keepers.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/module/module.go
  x/authz/testutil/expected_keepers_mocks.go
  x/feegrant/expected_keepers.go
  x/feegrant/keeper/keeper.go
  x/feegrant/keeper/keeper_test.go
  x/feegrant/module/module.go
  x/feegrant/testutil/expected_keepers_mocks.go
Labels: C:x/feegrant, C:x/authz, backport/v0.47.x

#20119 chore: fix some comments
  crypto/keys/ed25519/doc.go
  x/auth/client/cli/tx_sign.go
  x/staking/README.md
Labels: C:x/staking, C:CLI, C:x/auth

#20124 chore: update v0.50.6 release notes
  CHANGELOG.md
  RELEASE_NOTES.md
  x/circuit/CHANGELOG.md
  x/evidence/CHANGELOG.md
  x/feegrant/CHANGELOG.md
  x/nft/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Labels: C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:x/circuit

#20087 feat(x/gov): add MaxVoteOptionsLen
  api/cosmos/gov/module/v1/module.pulsar.go
  x/gov/CHANGELOG.md
  x/gov/README.md
  x/gov/keeper/common_test.go
  x/gov/keeper/config.go
  x/gov/keeper/keeper.go
  x/gov/keeper/vote.go
  x/gov/keeper/vote_test.go
  x/gov/proto/cosmos/gov/module/v1/module.proto
  x/gov/types/errors.go
Labels: C:x/gov

#20107 fix(baseapp): avoid header height overwrite block height
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp_test.go
Labels: backport/v0.50.x

#20125 chore: sync main changelogs with v0.47.11, v0.50.6, modules and x/tx
  CHANGELOG.md
  x/authz/CHANGELOG.md
  x/bank/CHANGELOG.md
  x/circuit/CHANGELOG.md
  x/distribution/CHANGELOG.md
  x/evidence/CHANGELOG.md
  x/feegrant/CHANGELOG.md
  x/gov/CHANGELOG.md
  x/group/CHANGELOG.md
  x/nft/CHANGELOG.md
  x/slashing/CHANGELOG.md
  x/staking/CHANGELOG.md
  x/tx/CHANGELOG.md
  x/upgrade/CHANGELOG.md
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/bank, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/circuit, C:x/tx

#20126 build(deps): bump sdk in modules
  client/v2/CHANGELOG.md
  client/v2/go.mod
  client/v2/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  x/circuit/CHANGELOG.md
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/CHANGELOG.md
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/CHANGELOG.md
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/CHANGELOG.md
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:Confix, C:x/circuit

#20128 docs(gas/fees): Update block gas documentation
  docs/learn/beginner/04-gas-fees.md
Labels: backport/v0.50.x

#20133 docs: fix broken link
  docs/learn/advanced/05-encoding.md
Labels: backport/v0.50.x

#20132 fix(docs): fix dead links
  docs/architecture/adr-062-collections-state-layer.md
  docs/build/tooling/00-protobuf.md
  tools/hubl/README.md
Labels: Type: ADR, C:Hubl

#20130 chore: typo fix
  x/staking/keeper/delegation_test.go
Labels: C:x/staking

#20146 docs: add authz reference info in the circuit antehandler
  x/circuit/ante/circuit.go
Labels: C:x/circuit, backport/v0.50.x

#20158 chore: reduce codeql time
  .github/workflows/codeql-analysis.yml
  .github/workflows/gosec.yml
  Makefile
Labels: Type: Build, Type: CI

#20120 fix(client/v2): close json file
  client/v2/autocli/flag/json_message.go
Labels: C:CLI

#20157 docs(x/authz): Update Staking Module Broken Link
  x/authz/README.md
Labels: C:x/authz

#20166 chore: fix some quoting
  x/genutil/genaccounts.go
Labels: C:x/genutil

#20142 chore: fix malformed struct tag
  x/gov/client/cli/util.go
  x/upgrade/plan/info.go
Labels: C:CLI, C:x/gov, C:x/upgrade

#20180 chore: remove repetitive words
  store/storage/rocksdb/db_test.go
  store/storage/sqlite/db_test.go
  store/storage/storage_test_suite.go
  types/collections.go
  types/dec_coin.go
  types/module/module.go
  x/auth/ante/unorderedtx/snapshotter_test.go
Labels: C:Store, C:x/auth

#20151 fix(testsuite/sims): set all signatures
  testutil/sims/tx_helpers.go
Labels: backport/v0.47.x, backport/v0.50.x

#19949 refactor(x/**): rewrite ante handlers as tx validators
  simapp/ante.go
  x/accounts/testing/counter/counter.go
  x/auth/ante/ante.go
  x/auth/ante/basic.go
  x/auth/ante/basic_test.go
  x/auth/ante/sigverify.go
  x/auth/module.go
  x/auth/tx/config/depinject.go
  x/feegrant/module/module.go
Labels: C:x/auth, C:x/feegrant, C:x/accounts

#19600 refactor: migrate to query Consensus Params
  baseapp/abci_test.go
  baseapp/abci_utils.go
  go.mod
  orm/go.mod
  orm/go.sum
  orm/model/ormdb/module.go
  simapp/ante.go
  simapp/app.go
  simapp/app_di.go
  simapp/sim_test.go
  store/db/db_test.go
  store/db/rocksdb_test.go
  tests/integration/auth/keeper/msg_server_test.go
  tests/integration/bank/keeper/deterministic_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/example/example_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  tests/sims/feegrant/operations_test.go
  testutil/integration/router.go
  testutil/sims/app_helpers.go
  types/context.go
  x/accounts/defaults/lockup/lockup_test.go
  x/accounts/defaults/lockup/utils_test.go
  x/auth/CHANGELOG.md
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/ante/setup.go
  x/auth/ante/setup_test.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/ante/testutil_test.go
  x/auth/tx/config/depinject.go
  x/evidence/keeper/infraction.go
  x/gov/go.mod
  x/gov/go.sum
  x/gov/keeper/common_test.go
  x/gov/testutil/expected_keepers_mocks.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/testutil/expected_keepers_mocks.go
  x/upgrade/keeper/abci.go
  x/upgrade/keeper/abci_test.go
Labels: C:x/staking, C:x/gov, C:Store, C:x/auth, C:x/evidence, C:x/upgrade, C:orm, C:x/accounts

#20161 feat(x/authz): Add `MsgRevokeAll`
  api/cosmos/authz/v1beta1/event.pulsar.go
  api/cosmos/authz/v1beta1/tx.pulsar.go
  api/cosmos/authz/v1beta1/tx_grpc.pb.go
  x/authz/CHANGELOG.md
  x/authz/README.md
  x/authz/event.pb.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/keys.go
  x/authz/keeper/msg_server.go
  x/authz/keeper/msg_server_test.go
  x/authz/module/autocli.go
  x/authz/proto/buf.lock
  x/authz/proto/cosmos/authz/v1beta1/event.proto
  x/authz/proto/cosmos/authz/v1beta1/tx.proto
  x/authz/tx.pb.go
Labels: C:x/authz

#20190 docs(x/auth/tx): fix typo in decodeMultisignatures function comment
  x/auth/tx/README.md
Labels: C:x/auth

#20194 docs(x/authz): fix broken link
  x/authz/README.md
Labels: C:x/authz

#20196 chore: fix all typos
  CHANGELOG.md
  api/cosmos/tx/v1beta1/tx.pulsar.go
  client/docs/swagger-ui/swagger.yaml
  cliff.toml
  core/appmodule/v2/module.go
  crypto/keys/secp256k1/internal/secp256k1/libsecp256k1/include/secp256k1.h
  crypto/keys/secp256k1/internal/secp256k1/libsecp256k1/src/ecmult_impl.h
  docs/architecture/PROCESS.md
  docs/architecture/adr-034-account-rekeying.md
  docs/architecture/adr-043-nft-module.md
  docs/architecture/adr-050-sign-mode-textual.md
  docs/architecture/adr-063-core-module-api.md
  docs/learn/advanced/05-encoding.md
  docs/spec/fee_distribution/f1_fee_distr.tex
  proto/cosmos/tx/v1beta1/tx.proto
  tests/e2e/distribution/grpc_query_suite.go
  tests/e2e/distribution/withdraw_all_suite.go
  tests/integration/staking/keeper/validator_test.go
  testutil/sims/simulation_helpers.go
  types/tx/tx.pb.go
  x/auth/migrations/legacytx/stdtx.go
  x/auth/vesting/README.md
  x/authz/README.md
  x/authz/keeper/keeper.go
  x/evidence/CHANGELOG.md
  x/feegrant/filtered_fee.go
  x/gov/keeper/msg_server.go
  x/params/README.md
  x/staking/types/authz.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/params, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, Type: ADR

#19898 docs(lockup): add documentation
  x/accounts/defaults/lockup/README.md
Labels: C:x/accounts

#20076 v2 genesis
  .vscode/launch.json
  core/app/identity.go
  core/appmodule/v2/genesis.go
  core/context/context.go
  core/transaction/transaction.go
  runtime/v2/builder.go
  runtime/v2/go.mod
  runtime/v2/manager.go
  runtime/v2/module.go
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/appmanager_builder.go
  server/v2/cometbft/abci.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/cometbft/utils.go
  server/v2/go.mod
  server/v2/go.sum
  server/v2/stf/mock/tx.go
  server/v2/stf/stf.go
  server/v2/util.go
  simapp/app.go
  simapp/v2/app_di.go
  simapp/v2/go.mod
  simapp/v2/go.sum
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  store/errors/errors.go
  store/storage/pebbledb/db.go
  store/storage/rocksdb/db.go
  store/storage/sqlite/db.go
  types/staking.go
  x/consensus/keeper/keeper.go
  x/distribution/keeper/abci.go
  x/distribution/module.go
  x/evidence/keeper/abci.go
  x/slashing/abci.go
  x/staking/depinject.go
  x/staking/keeper/genesis.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
  x/staking/types/expected_keepers.go
  x/upgrade/depinject.go
  x/upgrade/expected/keeper.go
  x/upgrade/keeper/abci.go
  x/upgrade/keeper/abci_test.go
  x/upgrade/module.go
Labels: C:x/staking, C:x/slashing, C:x/distribution, C:Store, C:x/evidence, C:x/upgrade, C:x/consensus

#20197 refactor(x/accounts): add sender assertions to SendModuleMessageUntyped
  x/accounts/keeper.go
Labels: C:x/accounts

#20201 docs(x/circuit): fix broken link
  x/circuit/README.md
Labels: C:x/circuit

#20037 refactor(x/accounts/defaults/lockup): Clean up some logic
  .github/workflows/test.yml
  api/cosmos/accounts/defaults/lockup/tx.pulsar.go
  tests/e2e/accounts/lockup/continous_lockup_test_suite.go
  tests/e2e/accounts/lockup/delayed_lockup_test_suite.go
  tests/e2e/accounts/lockup/periodic_lockup_test_suite.go
  tests/e2e/accounts/lockup/permanent_lockup_test_suite.go
  tests/e2e/accounts/lockup/utils.go
  x/accounts/defaults/lockup/continuous_locking_account.go
  x/accounts/defaults/lockup/delayed_locking_account.go
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/lockup.go
  x/accounts/defaults/lockup/lockup_test.go
  x/accounts/defaults/lockup/periodic_locking_account.go
  x/accounts/defaults/lockup/permanent_locking_account.go
  x/accounts/defaults/lockup/sonar-project.properties
  x/accounts/defaults/lockup/types/tx.pb.go
  x/accounts/defaults/lockup/utils_test.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/tx.proto
Labels: Type: CI, C:x/accounts

#20211 chore: downgrade to go 1.19
  go.mod
  simapp/go.mod
  tests/go.mod
  tools/cosmovisor/go.mod
  tools/rosetta/go.mod
Labels: C:Cosmovisor, C:Rosetta

#20209 chore: fix mocks
  x/auth/ante/expected_keepers.go
  x/gov/keeper/abci.go
  x/gov/simulation/operations.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/group/testutil/expected_keepers.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/gov, C:Simulations, C:x/auth, C:x/group

#20207 chore(x/gov): reduce allocations
  x/gov/client/utils/utils.go
  x/gov/keeper/deposit.go
  x/gov/keeper/proposal.go
Labels: C:CLI, C:x/gov

#20216 chore: remove duplicate word
  client/context.go
Labels: C:CLI

#20214 refactor: replace error-handling code for potential wrapped errors
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  x/group/internal/orm/table_test.go
  x/upgrade/plan/downloader.go
Labels: C:x/upgrade, C:x/group

#20213 chore(test): fix lint and refactor test
  store/snapshots/store_test.go
  tests/e2e/accounts/lockup/continous_lockup_test_suite.go
  tests/e2e/accounts/lockup/delayed_lockup_test_suite.go
  tests/e2e/accounts/lockup/periodic_lockup_test_suite.go
  tests/e2e/accounts/lockup/permanent_lockup_test_suite.go
  tests/e2e/accounts/lockup/utils.go
Labels: C:Store

#19971 feat(genutil): allow manually setting the consensus key type in genesis.
  CHANGELOG.md
  x/genutil/client/cli/init.go
Labels: C:CLI, C:x/genutil

#20220 chore: tidy with go 1.19
  go.sum
  simapp/go.sum
  tests/go.sum
  tools/cosmovisor/go.sum
  tools/rosetta/go.sum
Labels: C:Cosmovisor, C:Rosetta

#20222 refactor(server/v2): init fixes
  .vscode/launch.json
  go.work.example
  runtime/v2/manager.go
  runtime/v2/module.go
  server/v2/commands.go
  server/v2/server_test.go
  server/v2/util.go
  simapp/v2/app_config.go
  simapp/v2/app_di.go
  simapp/v2/simdv2/cmd/commands.go
  simapp/v2/simdv2/cmd/root_di.go
  x/staking/depinject.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
Labels: C:x/staking
