Repository cosmos/cosmos-sdk, pull requests merged in 2024-05, with the labels that each got.

#20247 chore: revert comet 0.37.6 upgrade due to go version bump
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
Labels: C:Rosetta

#20062 fix(cosmovisor): fixed cosmovisor add-upgrade permissions
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
Labels: C:Cosmovisor

#20144 fix: remove txs from mempool when antehandler fails in recheck
  baseapp/abci_test.go
  baseapp/baseapp.go
Labels: backport/v0.47.x, C: mempool, backport/v0.50.x

#20238 refactor: fetch CometInfo from service
  runtime/comet.go
  runtime/environment.go
  runtime/module.go
  simapp/app.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/abci_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  tests/integration/staking/keeper/deterministic_test.go
  x/evidence/CHANGELOG.md
  x/evidence/depinject.go
  x/evidence/keeper/abci.go
  x/evidence/module.go
  x/slashing/CHANGELOG.md
  x/slashing/abci.go
  x/slashing/depinject.go
  x/slashing/module.go
  x/staking/CHANGELOG.md
  x/staking/depinject.go
  x/staking/keeper/historical_info.go
  x/staking/keeper/keeper.go
  x/staking/keeper/keeper_test.go
Labels: C:x/staking, C:x/slashing, C:x/evidence

#19896 feat(x/mint): Add max supply param
  api/cosmos/mint/v1beta1/mint.pulsar.go
  tests/e2e/mint/grpc.go
  x/mint/CHANGELOG.md
  x/mint/README.md
  x/mint/keeper/abci.go
  x/mint/keeper/genesis_test.go
  x/mint/keeper/migrator.go
  x/mint/keeper/msg_server_test.go
  x/mint/module.go
  x/mint/proto/cosmos/mint/v1beta1/mint.proto
  x/mint/simulation/genesis.go
  x/mint/testutil/expected_keepers_mocks.go
  x/mint/types/expected_keepers.go
  x/mint/types/mint.pb.go
  x/mint/types/params.go
Labels: C:x/mint, C:Simulations

#20266 feat(client/v2): override short description in generated command
  api/cosmos/autocli/v1/options.pulsar.go
  client/v2/CHANGELOG.md
  client/v2/autocli/common.go
  client/v2/autocli/msg.go
  client/v2/autocli/query.go
  proto/cosmos/autocli/v1/options.proto
Labels: C:CLI, backport/v0.50.x

#20274 chore: remove consensus as a direct dependency
  tests/e2e/auth/keeper/account_retriever_test.go
  tests/e2e/auth/keeper/app_config.go
  tests/e2e/auth/keeper/keeper_bench_test.go
  tests/e2e/auth/keeper/module_test.go
  tests/e2e/auth/suite.go
  x/auth/go.mod
  x/auth/go.sum
  x/gov/common_test.go
  x/gov/go.mod
Labels: C:x/gov, C:x/auth

#20283 fix(x/protocolpool): Remove `TotalBudget` filed and keep only `BudgetPerTranche` to simplify things
  api/cosmos/protocolpool/v1/query.pulsar.go
  api/cosmos/protocolpool/v1/tx.pulsar.go
  api/cosmos/protocolpool/v1/types.pulsar.go
  x/protocolpool/README.md
  x/protocolpool/autocli.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/grpc_query.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/proto/cosmos/protocolpool/v1/query.proto
  x/protocolpool/proto/cosmos/protocolpool/v1/tx.proto
  x/protocolpool/proto/cosmos/protocolpool/v1/types.proto
  x/protocolpool/types/genesis.go
  x/protocolpool/types/query.pb.go
  x/protocolpool/types/tx.pb.go
  x/protocolpool/types/types.pb.go
Labels: C:x/protocolpool

#19988 feat(x/accounts): On-chain multisig
  api/cosmos/accounts/defaults/multisig/v1/multisig.pulsar.go
  x/accounts/CHANGELOG.md
  x/accounts/accountstd/test_util.go
  x/accounts/defaults/base/account.go
  x/accounts/defaults/multisig/README.md
  x/accounts/defaults/multisig/account.go
  x/accounts/defaults/multisig/account_test.go
  x/accounts/defaults/multisig/update_config.go
  x/accounts/defaults/multisig/utils_test.go
  x/accounts/defaults/multisig/v1/multisig.pb.go
  x/accounts/internal/implementation/context.go
  x/accounts/proto/cosmos/accounts/defaults/multisig/v1/multisig.proto
  x/accounts/testing/counter/counter.go
Labels: C:x/accounts

#20204 chore: Fix all broken links
  core/CHANGELOG.md
  docs/build/building-apps/01-app-go-v2.md
  docs/build/building-modules/03-msg-services.md
  docs/build/building-modules/11-structure.md
  docs/build/building-modules/13-upgrade.md
  docs/spec/store/interblock-cache.md
  x/auth/README.md
  x/authz/README.md
Labels: C:x/auth, C:x/authz

#20281 chore: move counter to testutils
  client/fuzz_test.go
  client/grpc_query_test.go
  client/tx/aux_builder_test.go
  client/tx/tx_test.go
  codec/bench_test.go
  codec/proto_codec_test.go
  runtime/router_test.go
  testutil/x/counter/README.md
  testutil/x/counter/depinject.go
  testutil/x/counter/keeper/keeper.go
  testutil/x/counter/module.go
  testutil/x/counter/proto/buf.gen.gogo.yaml
  testutil/x/counter/proto/buf.gen.pulsar.yaml
  testutil/x/counter/proto/buf.lock
  testutil/x/counter/proto/buf.yaml
  testutil/x/counter/proto/cosmos/counter/module/v1/module.proto
  testutil/x/counter/proto/cosmos/counter/v1/query.proto
  testutil/x/counter/proto/cosmos/counter/v1/tx.proto
  testutil/x/counter/testutil/expected_keepers_mocks.go
  testutil/x/counter/types/codec.go
  testutil/x/counter/types/keys.go
  testutil/x/counter/types/query.pb.go
  testutil/x/counter/types/tx.pb.go
  types/mempool/mempool_test.go
Labels: C:CLI

#20299 chore(proto): fix buf.work.yaml and make proto-gen
  api/cosmos/accounts/defaults/multisig/v1/multisig.pulsar.go
  api/cosmos/consensus/module/v1/module.pulsar.go
  api/cosmos/counter/module/v1/module.pulsar.go
  buf.work.yaml
  testutil/x/counter/types/query.pb.go
  testutil/x/counter/types/tx.pb.go
  x/accounts/proto/cosmos/accounts/defaults/multisig/v1/multisig.proto
  x/consensus/types/query.pb.go
  x/consensus/types/tx.pb.go
Labels: C:x/consensus, C:x/accounts

#20297 feat(stf): implement core branch service
  server/v2/stf/core_branch_service.go
  server/v2/stf/core_branch_service_test.go
  server/v2/stf/core_gas_service.go
  server/v2/stf/go.mod
  server/v2/stf/go.sum
  server/v2/stf/stf.go
  server/v2/stf/stf_test.go
  x/auth/go.sum
  x/distribution/go.mod
Labels: C:x/distribution, C:x/auth

#20307 chore(tests): Fix path for systemtests
  Makefile
Labels: Type: Build

#20295 refactor!(staking): remove comet crypto as a dep
  baseapp/abci_test.go
  baseapp/abci_utils.go
  baseapp/abci_utils_test.go
  baseapp/testutil/mock/mocks.go
  types/staking.go
  x/staking/CHANGELOG.md
  x/staking/keeper/validator.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
  x/staking/types/validator.go
Labels: C:x/staking

#20308 chore(store): Better error message
  store/rootmulti/store.go
Labels: C:Store

#20286 chore: upstream stf to main
  .github/workflows/v2-test.yml
  core/app/app.go
  core/app/codec.go
  core/app/identity.go
  core/context/context.go
  core/gas/service.go
  core/header/service.go
  core/header/service_test.go
  core/transaction/transaction.go
  go.work.example
  runtime/gas.go
  server/v2/stf/README.md
  server/v2/stf/branch/branch_test.go
  server/v2/stf/branch/changeset.go
  server/v2/stf/branch/defaults.go
  server/v2/stf/branch/doc.go
  server/v2/stf/branch/mergeiter.go
  server/v2/stf/branch/store.go
  server/v2/stf/branch/writer_map.go
  server/v2/stf/core_branch_service.go
  server/v2/stf/core_branch_service_test.go
  server/v2/stf/core_event_service.go
  server/v2/stf/core_gas_service.go
  server/v2/stf/core_header_service.go
  server/v2/stf/core_store_service.go
  server/v2/stf/export_test.go
  server/v2/stf/gas/defaults.go
  server/v2/stf/gas/meter.go
  server/v2/stf/gas/store.go
  server/v2/stf/gas/writer_map.go
  server/v2/stf/go.mod
  server/v2/stf/go.sum
  server/v2/stf/mock/db.go
  server/v2/stf/mock/tx.go
  server/v2/stf/stf.go
  server/v2/stf/stf_router.go
  server/v2/stf/stf_test.go
Labels: Type: CI

#20323 fix: allow tx decoding to fail in GetBlockWithTxs
  x/auth/CHANGELOG.md
  x/auth/tx/service.go
Labels: C:x/auth

#20261 feat(runtime): Add missing NewTransientStoreService
  runtime/store.go
Labels: backport/v0.50.x

#19696 feat(server/v2): router service
  runtime/v2/builder.go
  runtime/v2/module.go
  server/v2/stf/core_router_service.go
  server/v2/stf/stf_router.go
Labels: S:blocked

#20330 fix(client/v2): correctly check subcommand short descriptions
  client/v2/autocli/msg.go
  client/v2/autocli/query.go
Labels: C:CLI, backport/v0.50.x

#20255 chore: use comet proto type instead of custom
  CHANGELOG.md
  api/cosmos/base/tendermint/v1beta1/query.pulsar.go
  client/grpc/cmtservice/query.pb.go
  client/grpc/cmtservice/service.go
  client/grpc/cmtservice/types.go
  proto/cosmos/base/tendermint/v1beta1/query.proto
Labels: C:CLI

#20273 chore: migrate sdk.Msg to transaction.type
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/streaming/abci/grpc_grpc.pb.go
  api/cosmos/store/v1beta1/commit_info.pulsar.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  core/app/app.go
  core/header/service_test.go
  core/transaction/transaction.go
  proto/cosmos/store/streaming/abci/grpc.proto
  proto/cosmos/store/v1beta1/commit_info.proto
  proto/cosmos/store/v1beta1/listening.proto
  server/v2/stf/core_branch_service_test.go
  server/v2/stf/core_header_service.go
  server/v2/stf/go.mod
  server/v2/stf/go.sum
  server/v2/stf/mock/tx.go
  server/v2/stf/stf.go
  server/v2/stf/stf_test.go
  store/rootmulti/store.go
  store/snapshots/types/snapshot.pb.go
  store/streaming/abci/grpc.pb.go
  store/types/commit_info.pb.go
  store/types/listening.pb.go
  store/types/store.go
  testutil/x/counter/types/codec.go
  types/codec.go
  types/tx_msg.go
  x/accounts/testing/counter/counter.go
  x/accounts/utils_test.go
  x/auth/tx/config_test.go
  x/auth/types/codec.go
  x/auth/types/msgs.go
  x/auth/vesting/types/codec.go
  x/auth/vesting/types/msgs.go
  x/authz/codec.go
  x/authz/keeper/keeper.go
  x/bank/types/codec.go
  x/bank/types/msgs.go
  x/circuit/types/codec.go
  x/consensus/types/codec.go
  x/crisis/types/codec.go
  x/distribution/types/codec.go
  x/evidence/types/codec.go
  x/feegrant/codec.go
  x/gov/keeper/msg_server.go
  x/gov/types/v1/codec.go
  x/gov/types/v1beta1/codec.go
  x/group/codec.go
  x/group/keeper/msg_server.go
  x/mint/types/codec.go
  x/nft/codec.go
  x/protocolpool/types/codec.go
  x/slashing/types/codec.go
  x/staking/types/codec.go
  x/staking/types/msg.go
  x/upgrade/types/codec.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Store, C:x/bank, C:x/crisis, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool

#20342 fix: correctly assign `execModeSimulate` to context for `simulateTx`
  baseapp/baseapp.go
Labels: backport/v0.50.x

#20347 fix(x/consensus): apply ConsensusParam update rules according to CometBFT spec (forward-port of #20314)
  testutil/integration/router.go
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
  x/consensus/types/consensus.go
  x/consensus/types/msgs.go
Labels: C:x/consensus

#20315 chore: upstream app manager
  .github/workflows/v2-test.yml
  core/transaction/transaction.go
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/appmanager_builder.go
  server/v2/appmanager/config.go
  server/v2/appmanager/genesis.go
  server/v2/appmanager/go.mod
  server/v2/appmanager/go.sum
  server/v2/appmanager/store/types.go
  server/v2/appmanager/types.go
  server/v2/stf/stf.go
Labels: Type: CI

#20344 refactor: remove directive errors comparison
  client/snapshot/load.go
  orm/encoding/ormfield/string.go
  orm/encoding/ormkv/index_key.go
  orm/encoding/ormkv/key_codec.go
  orm/encoding/ormkv/primary_key.go
  orm/encoding/ormkv/unique_key.go
  server/grpc/gogoreflection/serverreflection.go
  store/rootmulti/store.go
  store/snapshots/chunk.go
  store/snapshots/helpers_test.go
  store/v2/snapshots/chunk.go
  store/v2/snapshots/helpers_test.go
  tools/hubl/internal/compat.go
Labels: C:CLI, C:Store, C:orm, C:Hubl

#20350 chore: make fmt.Errorf use %w to wrap error instead of %v
  .golangci.yml
  crypto/armor.go
  math/uint.go
  server/start.go
  server/v2/appmanager/config.go
  simapp/app.go
  simapp/app_di.go
  store/v2/storage/sqlite/iterator.go
  tests/systemtests/system.go
  tools/cosmovisor/process.go
  x/bank/keeper/genesis.go
  x/epochs/module.go
  x/evidence/genesis.go
  x/genutil/client/testutil/helpers.go
  x/group/module/module.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
  x/staking/keeper/delegation.go
  x/staking/keeper/genesis.go
  x/staking/module.go
Labels: C:x/staking, C:CLI, C:Store, C:x/bank, C:x/evidence, C:x/genutil, C:Cosmovisor, C:x/group, Type: CI, C:x/protocolpool, C:x/epochs

#20353 style: Fix gov query proposals examples syntax
  x/gov/autocli.go
Labels: C:x/gov, backport/v0.50.x

#20328 feat(client): add consensus address for debug cmd
  CHANGELOG.md
  client/debug/main.go
Labels: C:CLI, backport/v0.50.x

#20280 chore: cleanup store/v2 interface
  core/store/store.go
  store/v2/batch.go
  store/v2/commitment/README.md
  store/v2/commitment/iavl/tree.go
  store/v2/commitment/iavl/tree_test.go
  store/v2/commitment/store.go
  store/v2/commitment/store_test_suite.go
  store/v2/database.go
  store/v2/db/db.go
  store/v2/db/db_test.go
  store/v2/db/goleveldb.go
  store/v2/db/memdb.go
  store/v2/db/pebbledb.go
  store/v2/db/prefixdb.go
  store/v2/db/rocksdb.go
  store/v2/db/rocksdb_noflag.go
  store/v2/db/wrapper.go
  store/v2/migration/manager.go
  store/v2/snapshots/store.go
Labels: C:Store

#20298 chore(store/v2): cleanup the migration API
  store/v2/migration/manager.go
  store/v2/root/migrate_test.go
  store/v2/root/store.go
  store/v2/store.go
Labels: C:Store

#20310 test(accounts): add multisig e2e tests
  tests/e2e/accounts/multisig/account_test.go
  tests/e2e/accounts/multisig/test_suite.go
  x/accounts/defaults/multisig/account.go
  x/accounts/defaults/multisig/account_test.go
  x/accounts/defaults/multisig/update_config.go
  x/accounts/defaults/multisig/utils_test.go
  x/accounts/depinject.go
Labels: C:x/accounts

#20361 refactor: move baseapp/AppVersionModifer -> core/app
  baseapp/params.go
  core/app/app.go
  runtime/module.go
  x/upgrade/depinject.go
  x/upgrade/exported/exported.go
  x/upgrade/keeper/keeper.go
Labels: C:x/upgrade

#20320 chore: upstream runtime/v2
  api/cosmos/app/runtime/v2/module.pulsar.go
  core/appmodule/v2/genesis.go
  core/appmodule/v2/message.go
  core/context/context.go
  core/transaction/transaction.go
  go.work.example
  proto/cosmos/app/runtime/v2/module.proto
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/go.mod
  runtime/v2/go.sum
  runtime/v2/manager.go
  runtime/v2/migrations.go
  runtime/v2/module.go
  runtime/v2/services/autocli.go
  runtime/v2/services/comet.go
  runtime/v2/services/reflection.go
  runtime/v2/services/transaction.go
  runtime/v2/store.go
  runtime/v2/types.go
  server/v2/stf/core_router_service.go
  server/v2/stf/export_test.go
  server/v2/stf/mock/tx.go
  server/v2/stf/stf.go
  server/v2/stf/stf_router.go
  store/v2/commitment/mem/tree.go
  store/v2/commitment/store.go
  store/v2/db/db.go
  store/v2/errors/errors.go
  store/v2/go.mod
  store/v2/go.sum
  store/v2/internal/util.go
  store/v2/root/factory.go
  store/v2/root/store.go
  store/v2/storage/pebbledb/db.go
  store/v2/storage/rocksdb/db.go
  store/v2/storage/sqlite/db.go
Labels: C:Store

#20379 refactor(store/v2): get rid of `WorkingHash`
  store/v2/root/migrate_test.go
  store/v2/root/store.go
  store/v2/root/store_test.go
  store/v2/store.go
Labels: C:Store

#20386 chore: remove cockroach db errors
  baseapp/abci.go
  baseapp/abci_utils.go
  baseapp/baseapp.go
  client/cmd.go
  client/query.go
  client/v2/autocli/flag/binary.go
  client/v2/autocli/flag/map.go
  client/v2/autocli/flag/maps/generic.go
  client/v2/autocli/msg.go
  client/v2/autocli/query.go
  client/v2/go.mod
  depinject/check_type.go
  depinject/config.go
  depinject/container.go
  depinject/errors.go
  depinject/go.mod
  depinject/go.sum
  depinject/group.go
  depinject/one_per_module.go
  depinject/provider_desc.go
  depinject/struct_args.go
  go.mod
  runtime/v2/store.go
  simapp/gomod2nix.toml
  store/v2/go.mod
  store/v2/root/store.go
  tools/hubl/go.mod
  tools/hubl/internal/load.go
  x/circuit/ante/circuit.go
  x/circuit/go.mod
  x/distribution/go.mod
  x/distribution/keeper/keeper.go
  x/slashing/go.mod
  x/slashing/keeper/infractions.go
Labels: C:CLI, C:x/slashing, C:x/distribution, C:Store, C:x/circuit, C:Hubl

#20399 fix(sims): skip operations that use denoms that can't be sent
  testutil/mock/types_module_module.go
  x/distribution/simulation/operations.go
  x/distribution/testutil/expected_keepers_mocks.go
  x/distribution/types/expected_keepers.go
  x/staking/simulation/operations.go
  x/staking/testutil/expected_keepers_mocks.go
  x/staking/types/expected_keepers.go
Labels: C:x/staking, C:x/distribution, C:Simulations

#20401 refactor(runtime,core): split router service
  UPGRADING.md
  core/appmodule/v2/environment.go
  core/router/service.go
  runtime/environment.go
  runtime/module.go
  runtime/router.go
  runtime/router_test.go
  runtime/v2/module.go
  server/v2/stf/core_router_service.go
  simapp/ante.go
  simapp/app.go
  tests/integration/auth/keeper/msg_server_test.go
  tests/integration/distribution/keeper/msg_server_test.go
  tests/integration/evidence/keeper/infraction_test.go
  tests/integration/gov/keeper/keeper_test.go
  tests/integration/slashing/keeper/keeper_test.go
  tests/integration/staking/keeper/common_test.go
  testutil/integration/router.go
  x/accounts/keeper.go
  x/accounts/utils_test.go
  x/auth/ante/setup.go
  x/auth/ante/testutil_test.go
  x/authz/keeper/genesis_test.go
  x/authz/keeper/keeper.go
  x/authz/keeper/keeper_test.go
  x/authz/keeper/msg_server.go
  x/authz/module/abci_test.go
  x/evidence/keeper/infraction.go
  x/gov/keeper/abci.go
  x/gov/keeper/abci_internal_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper_test.go
  x/group/keeper/proposal_executor.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/upgrade/keeper/abci.go
  x/upgrade/keeper/abci_test.go
Labels: C:x/staking, C:x/gov, C:x/auth, C:x/evidence, C:x/upgrade, C:x/authz, C:x/group, C:x/accounts

#20389 refactor(runtime/v2): remove dependency on sdk
  codec/depinject.go
  core/appmodule/genesis.go
  core/appmodule/module.go
  core/appmodule/v2/genesis.go
  crypto/codec/proto.go
  crypto/keys/secp256r1/doc.go
  runtime/module.go
  runtime/v2/app.go
  runtime/v2/builder.go
  runtime/v2/go.mod
  runtime/v2/go.sum
  runtime/v2/manager.go
  runtime/v2/module.go
  runtime/v2/types.go
  std/codec.go
  types/codec.go
  types/tx/types.go
  x/accounts/defaults/lockup/go.mod
  x/genutil/module.go
Labels: C:x/genutil, C:x/accounts

#20055 feat(x/accounts): Add schema caching feature and corresponding test case
  x/accounts/query_server.go
  x/accounts/query_server_test.go
Labels: C:x/accounts

#20417 docs(x/auth): fixed typo in command example for multisign transaction
  x/auth/README.md
Labels: C:x/auth

#20419 fix: avoid default sendenabled for module accounts
  x/bank/keeper/keeper.go
Labels: C:x/bank

#20418 docs(x/auth/ante): fixed typo in TxWithTimeoutHeight interface name
  x/auth/ante/basic.go
Labels: C:x/auth

#20423 fix(store/v2): Remove should not error on miss
  store/v2/commitment/iavl/tree.go
Labels: C:Store

#20425 fix: nil pointer panic when store don't exists in historical version
  store/CHANGELOG.md
  store/rootmulti/store.go
  store/rootmulti/store_test.go
Labels: C:Store

#20427 revert: bank change module to account change
  store/cache/cache.go
  store/rootmulti/store.go
  tests/e2e/accounts/base_account_test.go
  testutil/testdata/grpc_query.go
  x/bank/CHANGELOG.md
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
Labels: C:Store, C:x/bank

#20426 docs(x/account/auth): Improve error handling and comments in fee.go
  x/auth/ante/fee.go
Labels: C:x/auth

#20384 fix(x/accounts): check for overflows in multisig weights and votes
  x/accounts/defaults/multisig/account.go
  x/accounts/defaults/multisig/account_test.go
  x/accounts/defaults/multisig/update_config.go
Labels: C:x/accounts

#20442 chore: fix function name
  x/gov/keeper/migrations.go
Labels: C:x/gov

#20444 refactor!: update staking code #2
  CHANGELOG.md
  tests/integration/staking/keeper/msg_server_test.go
  x/staking/keeper/msg_server.go
  x/staking/simulation/operations.go
  x/staking/types/errors.go
Labels: C:x/staking, C:Simulations

#20447 docs(x/auth/tx): fixed typo in error log in `query.go`
  x/auth/tx/query.go
Labels: C:x/auth

#20445 refactor(store/v2): remove snapshot conversion fns from store/v2
  runtime/v2/go.mod
  runtime/v2/go.sum
  store/v2/go.mod
  store/v2/go.sum
  store/v2/snapshots/types/convert.go
Labels: C:Store

#20452 collections: fix typos in README
  collections/README.md
Labels: C:collections

#20461 chore: update contributing
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/docs.md
  CONTRIBUTING.md
Labels: Type: CI

#20381 fix(x/consensus): harden consensus params proposal
  CHANGELOG.md
  x/consensus/keeper/keeper.go
  x/consensus/keeper/keeper_test.go
Labels: C:x/consensus

#20422 refactor(core,server): make commands not rely on server context
  CHANGELOG.md
  client/cmd.go
  client/snapshot/delete.go
  client/snapshot/dump.go
  client/snapshot/export.go
  client/snapshot/list.go
  client/snapshot/load.go
  client/snapshot/restore.go
  core/context/server_context.go
  core/go.mod
  core/go.sum
  server/util.go
  simapp/simd/cmd/testnet.go
  simapp/simd/cmd/testnet_test.go
  simapp/test_helpers.go
  tests/e2e/genutil/export_test.go
  testutil/network/interface.go
  testutil/network/network.go
  testutil/network/util.go
  testutil/network/validator.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/export.go
  x/genutil/client/cli/export_test.go
  x/genutil/client/cli/genaccount.go
  x/genutil/client/cli/genaccount_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/client/cli/validate_genesis.go
  x/genutil/client/testutil/helpers.go
  x/genutil/collect_test.go
Labels: C:CLI, C:x/genutil

#20467 ci: fix sonar exclusion files
  .github/PULL_REQUEST_TEMPLATE.md
  client/v2/sonar-project.properties
  collections/sonar-project.properties
  core/sonar-project.properties
  depinject/sonar-project.properties
  log/sonar-project.properties
  math/sonar-project.properties
  orm/sonar-project.properties
  simapp/sonar-project.properties
  sonar-project.properties
  store/sonar-project.properties
  store/v2/sonar-project.properties
  tools/confix/sonar-project.properties
  tools/cosmovisor/sonar-project.properties
  tools/hubl/sonar-project.properties
  x/accounts/sonar-project.properties
  x/auth/sonar-project.properties
  x/authz/sonar-project.properties
  x/bank/sonar-project.properties
  x/circuit/sonar-project.properties
  x/consensus/sonar-project.properties
  x/distribution/sonar-project.properties
  x/epochs/sonar-project.properties
  x/evidence/sonar-project.properties
  x/feegrant/sonar-project.properties
  x/gov/sonar-project.properties
  x/group/sonar-project.properties
  x/mint/sonar-project.properties
  x/nft/sonar-project.properties
  x/params/sonar-project.properties
  x/protocolpool/sonar-project.properties
  x/slashing/sonar-project.properties
  x/staking/sonar-project.properties
  x/tx/sonar-project.properties
  x/upgrade/sonar-project.properties
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Store, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:Cosmovisor, C:x/group, C:x/nft, C:orm, Type: CI, C:x/consensus, C:collections, C:Confix, C:x/circuit, C:x/tx, C:Hubl, C:log, C:x/accounts, C:x/protocolpool, C:x/epochs

#20463 fix(distribution): wrong codec usage
  CHANGELOG.md
  x/distribution/types/msg.go
Labels: C:x/distribution

#20354 perf: reduce the number of ValidateDenom calls in bank.SendCoins
  CHANGELOG.md
  types/coin.go
  x/bank/keeper/keeper.go
  x/bank/keeper/send.go
Labels: C:x/bank

#20474 ci: remove livness test
  .github/workflows/test.yml
  contrib/localnet_liveness.sh
Labels: S:proposed, T: Tests, T: CI, Type: CI

#20223 refactor: remove `defer` in loop
  store/snapshots/store.go
  store/v2/commitment/store.go
  store/v2/migration/manager.go
  store/v2/storage/storage_test_suite.go
  tests/integration/auth/client/cli/suite_test.go
  x/group/keeper/invariants.go
Labels: C:Store, C:x/group

#20458 refactor(x/accounts): reuse calculated sum in `func safeAdd`
  x/accounts/defaults/multisig/account.go
  x/accounts/defaults/multisig/update_config.go
Labels: C:x/accounts

#20480 chore: force reload sonar cloud
  client/v2/sonar-project.properties
  collections/sonar-project.properties
  core/sonar-project.properties
  depinject/sonar-project.properties
  errors/sonar-project.properties
  log/sonar-project.properties
  math/sonar-project.properties
  orm/sonar-project.properties
  simapp/sonar-project.properties
  sonar-project.properties
  store/sonar-project.properties
  store/v2/sonar-project.properties
  tools/confix/sonar-project.properties
  tools/cosmovisor/sonar-project.properties
  tools/hubl/sonar-project.properties
  x/accounts/sonar-project.properties
  x/auth/sonar-project.properties
  x/authz/sonar-project.properties
  x/bank/sonar-project.properties
  x/circuit/sonar-project.properties
  x/consensus/sonar-project.properties
  x/distribution/sonar-project.properties
  x/epochs/sonar-project.properties
  x/evidence/sonar-project.properties
  x/feegrant/sonar-project.properties
  x/gov/sonar-project.properties
  x/group/sonar-project.properties
  x/mint/sonar-project.properties
  x/nft/sonar-project.properties
  x/params/sonar-project.properties
  x/protocolpool/sonar-project.properties
  x/slashing/sonar-project.properties
  x/staking/sonar-project.properties
  x/tx/sonar-project.properties
  x/upgrade/sonar-project.properties
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Store, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:Cosmovisor, C:x/group, C:x/nft, C:orm, C:x/consensus, C:collections, C:Confix, C:x/circuit, C:x/tx, C:Hubl, C:log, C:x/accounts, C:x/protocolpool, C:x/epochs

#20481 fix: Bump CometBFT versions
  .github/workflows/test.yml
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/upgrade_test.go
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/auth/go.mod
  x/auth/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/consensus/go.mod
  x/consensus/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/params/go.mod
  x/params/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/params, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, Type: CI, C:x/consensus, C:x/circuit, C:x/accounts, C:x/protocolpool, C:x/epochs

#19995 feat(cosmovisor): load cosmovisor configuration from toml file
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/args.go
  tools/cosmovisor/args_test.go
  tools/cosmovisor/cmd/cosmovisor/add_upgrade.go
  tools/cosmovisor/cmd/cosmovisor/config.go
  tools/cosmovisor/cmd/cosmovisor/init.go
  tools/cosmovisor/cmd/cosmovisor/init_test.go
  tools/cosmovisor/cmd/cosmovisor/root.go
  tools/cosmovisor/cmd/cosmovisor/run.go
  tools/cosmovisor/cmd/cosmovisor/version.go
  tools/cosmovisor/flags.go
  tools/cosmovisor/process.go
  tools/cosmovisor/process_test.go
Labels: C:Cosmovisor

#20485 refactor(x/upgrade): migrate to appmodule.VersionMap
  simapp/CHANGELOG.md
  simapp/app_test.go
  simapp/upgrades.go
  types/module/module.go
  x/upgrade/keeper/abci_test.go
  x/upgrade/keeper/grpc_query_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/handler.go
Labels: C:x/upgrade

#20499 chore: fix the note box syntax error
  docs/README.md
  x/protocolpool/README.md
Labels: C:x/protocolpool

#20498 chore: fix comment
  x/auth/vesting/types/period.go
Labels: C:x/auth

#20486 chore: Address linter issues
  Makefile
  core/context/context.go
  server/v2/cometbft/client/grpc/cmtservice/query.pb.go
  server/v2/cometbft/client/grpc/cmtservice/query.pb.gw.go
  server/v2/cometbft/client/grpc/cmtservice/types.pb.go
  types/address.go
  x/gov/types/v1/proposal.go
  x/gov/types/v1/vote.go
  x/gov/types/v1beta1/proposal.go
  x/gov/types/v1beta1/vote.go
  x/group/keeper/keeper.go
Labels: C:x/gov, C:x/group, Type: Build

#20501 ci: Add GitHub Action for go mod tidy and mocks
  .github/workflows/pr-go-mod-tidy-mocks.yml
  testutil/mock/logger.go
Labels: Type: CI

#20448 chore: update protoc-gen-swagger to protoc-gen-openapiv2
  client/docs/swagger-ui/swagger.yaml
  contrib/devtools/Dockerfile
  proto/buf.gen.swagger.yaml
  proto/cosmos/app/v1alpha1/config.proto
  proto/cosmos/app/v1alpha1/module.proto
  proto/cosmos/app/v1alpha1/query.proto
  proto/cosmos/orm/query/v1alpha1/query.proto
  scripts/protoc-swagger-gen.sh
Labels: C:CLI, Type: Build

#20508 ci: run action in merge queue
  .github/workflows/pr-go-mod-tidy-mocks.yml
Labels: Type: CI

#20509 chore: sonar ignore directories with their own go.mods
  .golangci.yml
  sonar-project.properties
Labels: Type: CI
