Repository cosmos/cosmos-sdk, pull requests merged in 2025-10, with the labels that each got.

#25379 refactor: use b.Loop() to simplify the code and improve performance
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  x/auth/keeper/keeper_bench_test.go
  x/bank/bench_test.go
  x/mint/types/minter_test.go
  x/upgrade/internal/conv/string_test.go
Labels: C:x/mint, C:x/bank, C:x/auth, C:x/upgrade

#25378 chore: Remove unused KVStoreKey field from DeterministicTestSuite in auth keeper tests
  x/auth/keeper/deterministic_test.go
Labels: C:x/auth

#25411 refactor: use b.Loop() in benchmark tests for better performance
  types/coin_benchmark_test.go
  x/auth/ante/sigverify_benchmark_test.go
  x/tx/signing/textual/bench_test.go
Labels: C:x/auth, C:x/tx
