Repository cosmos/cosmos-sdk, pull requests merged in 2025-08, with the labels that each got.

#25080 docs: fix misspelled issues
  docs/architecture/adr-046-module-params.md
  docs/architecture/adr-047-extend-upgrade-plan.md
  docs/architecture/adr-050-sign-mode-textual.md
  docs/architecture/adr-054-semver-compatible-modules.md
  docs/architecture/adr-058-auto-generated-cli.md
  docs/architecture/adr-059-test-scopes.md
  docs/architecture/adr-060-abci-1.0.md
  docs/architecture/adr-063-core-module-api.md
  docs/architecture/adr-065-store-v2.md
  docs/architecture/adr-076-tx-malleability.md
Labels: Type: ADR

#25081 chore: polishing docs and comments: typo fixes for clarity
  docs/spec/store/README.md
  errors/doc.go
  errors/errors.go
  internal/testutil/cmd_test.go
  math/CHANGELOG.md
  runtime/app.go
  runtime/events.go
  server/util.go
  server/util_test.go
  store/cachekv/store_bench_test.go
  store/rootmulti/store.go
Labels: C:Store

#25089 chore: update tools
  Makefile
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  x/bank/keeper/genesis_test.go
Labels: C:x/bank, Type: Build

#25068 fix: multiple typos of different importance
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/state/state.go
  client/keys/import.go
  docs/architecture/adr-043-nft-module.md
  docs/architecture/adr-048-consensus-fees.md
  docs/architecture/adr-054-semver-compatible-modules.md
  docs/docs/user/run-node/06-run-production.md
  docs/rfc/rfc-001-tx-validation.md
Labels: C:CLI, C:Keys, Type: ADR

#25098 docs: multiple typos of different importance
  x/evidence/CHANGELOG.md
  x/evidence/README.md
  x/evidence/types/router.go
  x/feegrant/errors.go
  x/genutil/README.md
  x/gov/client/cli/prompt.go
  x/gov/client/cli/prompt_test.go
  x/gov/keeper/common_test.go
Labels: C:CLI, C:x/gov, C:x/evidence, C:x/feegrant, C:x/genutil

#25087 fix(x/epochs): remove redundant error check in BeginBlocker
  CHANGELOG.md
  x/epochs/keeper/abci.go
Labels: C:x/epochs

#25106 fix: correct various typos across codebase
  client/broadcast_test.go
  client/query.go
  client/v2/CHANGELOG.md
  client/v2/README.md
  codec/codec.go
  codec/types/any_test.go
  docs/docs/learn/beginner/02-query-lifecycle.md
  store/cachekv/benchmark_test.go
  store/iavl/store.go
  testutil/ioutil.go
  types/handler.go
  x/auth/ante/validator_tx_fee.go
  x/auth/vesting/README.md
  x/authz/authorizations.go
  x/group/internal/orm/auto_uint64.go
  x/group/internal/orm/index.go
Labels: C:CLI, C:Store, C:x/auth, C:x/authz, C:x/group

#25110 fix: typos in documentation
  docs/architecture/adr-016-validator-consensus-key-rotation.md
  docs/architecture/adr-019-protobuf-state-encoding.md
  docs/architecture/adr-020-protobuf-transaction-encoding.md
  docs/architecture/adr-021-protobuf-query-encoding.md
  docs/architecture/adr-022-custom-panic-handling.md
  docs/architecture/adr-023-protobuf-naming.md
  docs/architecture/adr-027-deterministic-protobuf-serialization.md
  docs/architecture/adr-028-public-key-addresses.md
  docs/architecture/adr-029-fee-grant-module.md
Labels: Type: ADR

#25129 docs: fix grammar and spelling errors
  docs/architecture/PROCESS.md
  docs/architecture/README.md
  docs/architecture/adr-064-abci-2.0.md
  docs/architecture/adr-065-store-v2.md
  docs/architecture/adr-068-preblock.md
  docs/architecture/adr-070-unordered-account.md
  docs/architecture/adr-076-tx-malleability.md
  docs/architecture/adr-template.md
Labels: Type: ADR

#25172 fix(docs,code): correct spelling and grammar across comments, tests, and documentation
  client/keys/rename_test.go
  crypto/keyring/keyring_test.go
  docs/docs/build/building-modules/00-intro.md
  docs/spec/fee_distribution/f1_fee_distr.tex
  internal/testutil/cmd.go
  server/start.go
  store/cachekv/store.go
  store/cachekv/store_test.go
  testutil/network/network.go
  types/router.go
  x/authz/README.md
  x/epochs/keeper/epoch.go
  x/feegrant/migrations/v2/keys.go
  x/gov/types/v1/params.go
  x/nft/keeper/nft_batch_test.go
  x/upgrade/README.md
Labels: C:CLI, C:x/gov, C:Keys, C:Store, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/nft, C:x/epochs

#25191 chore: fix typos
  store/internal/maps/maps.go
  store/internal/proofs/convert.go
  store/internal/proofs/create.go
  store/internal/proofs/helpers.go
  store/internal/tree/hash.go
  store/listenkv/store.go
  store/prefix/store.go
  store/pruning/manager_test.go
  store/pruning/types/options.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/snapshots/helpers_test.go
  store/snapshots/manager_test.go
  store/snapshots/types/snapshotter.go
Labels: C:Store

#25232 fix(typos): correct spelling and wording in Go code and Markdown
  codec/unknownproto/benchmarks_test.go
  contrib/x/README.md
  crypto/ledger/ledger_test.go
  depinject/container.go
  math/uint_test.go
  server/start.go
  server/util.go
  simapp/app_di.go
  types/config_test.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#25247 fix: Small visualization fix by removing unclosed code block in ADR 063
  docs/architecture/adr-063-core-module-api.md
Labels: Type: ADR
