Repository cosmos/cosmos-sdk, pull requests merged in 2025-03, with the labels that each got.

#23871 chore: set up backport rule for 53
  .mergify.yml
Labels: Type: CI, backport/v0.53.x

#23860 fix: add missing field to unordered for amino json signing
  CHANGELOG.md
  client/tx/aux_builder.go
Labels: C:CLI

#23880 fix: Fix npe in pagination
  CHANGELOG.md
  types/query/collections_pagination.go
  types/query/collections_pagination_test.go
Labels: backport/v0.47.x, backport/v0.50.x, backport/v0.53.x

#23879 fix(baseapp): ensure finalize block response is not empty
  CHANGELOG.md
  baseapp/abci.go
  baseapp/abci_test.go
Labels: backport/v0.50.x, backport/v0.53.x

#23897 chore: use go1.23
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot-update-all.yml
  .github/workflows/dependencies-review.yml
  .github/workflows/lint.yml
  .github/workflows/pr-go-mod-tidy-mocks.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release.yml
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-047.yml
  .github/workflows/sims-050.yml
  .github/workflows/sims-053.yml
  .github/workflows/sims-nightly.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  client/v2/go.mod
  contrib/devtools/Dockerfile
  go.mod
  math/go.mod
  simapp/go.mod
  store/go.mod
  systemtests/go.mod
  tests/go.mod
  tests/systemtests/go.mod
  tools/cosmovisor/go.mod
  x/circuit/go.mod
  x/evidence/go.mod
  x/feegrant/go.mod
  x/nft/go.mod
  x/upgrade/go.mod
Labels: C:CLI, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, Type: CI, C:x/circuit

#23905 ci: add darwin to platforms
  .github/workflows/docker.yml
Labels: Type: CI, backport/v0.50.x, backport/v0.53.x

#23909 ci: remove darwin from platforms
  .github/workflows/docker.yml
Labels: Type: CI, backport/v0.50.x, backport/v0.53.x

#23886 chore: setup systemtests in CI
  .github/workflows/systemtests.yml
  Makefile
  errors/go.mod
  systemtests/system.go
  tests/systemtests/go.mod
  tests/systemtests/go.sum
Labels: Type: Build, Type: CI

#23918 chore: actually remove orm from v50
  orm/CHANGELOG.md
  orm/README.md
  orm/encoding/encodeutil/util.go
  orm/encoding/ormfield/bool.go
  orm/encoding/ormfield/codec_test.go
  orm/encoding/ormfield/duration.go
  orm/encoding/ormfield/duration_test.go
  orm/encoding/ormfield/enum.go
  orm/encoding/ormfield/int32.go
  orm/encoding/ormfield/int64.go
  orm/encoding/ormfield/string.go
  orm/encoding/ormfield/timestamp.go
  orm/encoding/ormfield/timestamp_test.go
  orm/encoding/ormfield/uint32.go
  orm/encoding/ormfield/uint64.go
  orm/encoding/ormkv/index_key.go
  orm/encoding/ormkv/key_codec.go
  orm/encoding/ormkv/primary_key.go
  orm/encoding/ormkv/unique_key.go
  orm/encoding/ormkv/unique_key_test.go
  orm/go.mod
  orm/go.sum
  orm/internal/codegen/file.go
  orm/internal/codegen/index.go
  orm/internal/codegen/query.go
  orm/internal/listinternal/options.go
  orm/internal/testkv/compare.go
  orm/internal/testkv/debug.go
  orm/internal/testkv/leveldb.go
  orm/internal/testkv/mem.go
  orm/model/ormdb/genesis.go
  orm/model/ormdb/module.go
  orm/model/ormdb/module_test.go
  orm/model/ormtable/auto_increment_test.go
  orm/model/ormtable/backend.go
  orm/model/ormtable/batch.go
  orm/model/ormtable/bench_test.go
  orm/model/ormtable/hooks.go
  orm/model/ormtable/iterator.go
  orm/model/ormtable/table_test.go
  orm/orm.go
  orm/sonar-project.properties
  orm/testing/ormmocks/hooks.go
  orm/testing/ormmocks/match.go
  orm/types/kv/store.go
  orm/types/ormerrors/errors.go
Labels: C:orm

#23922 ci: add releaser for simapp
  .github/workflows/release-simd.yml
  simapp/.goreleaser.yml
Labels: Type: CI

#23935 ci: update go releaser version
  .github/workflows/release-simd.yml
Labels: Type: CI

#23938 ci: bump release action and set workdir
  .github/workflows/release-simd.yml
Labels: Type: CI

#23939 ci: use old releaser method
  .github/workflows/release-simd.yml
  simapp/.goreleaser.yml
Labels: Type: CI

#23934 fix(x/distribution): vulnerable incrementReferenceCount in distribution (#19301)
  CHANGELOG.md
  x/distribution/keeper/validator.go
Labels: C:x/distribution

#23952 fix(sims): Use liveness matrix for validator sign status in sims (21952)
  CHANGELOG.md
  x/simulation/mock_cometbft.go
Labels: C:Simulations

#23955 docs: add x/ docs
  x/README.md
Labels: backport/v0.50.x, backport/v0.53.x

#24002 ci: use depot setup action
  .github/workflows/docker.yml
Labels: Type: CI

#24007 chore: restore `TxWithTimeoutHeight`
  x/auth/signing/sig_verifiable_tx.go
Labels: C:x/auth

#24009 chore: attempt to fix flakey test
  client/rpc/rpc_test.go
  testutil/network/network.go
Labels: C:CLI

#24006 docs: Deprecation of 'go get' for installing executables
  contrib/githooks/README.md
Labels: backport/v0.53.x

#23850 fix: tx compat
  Makefile
  api/cosmos/tx/v1beta1/tx.pulsar.go
  client/tx/aux_builder.go
  proto/cosmos/tx/v1beta1/tx.proto
  systemtests/cli.go
  systemtests/system.go
  systemtests/testnet_init.go
  tests/systemtests/go.mod
  tests/systemtests/unordered_tx_test.go
  types/tx/tx.pb.go
  x/auth/tx/adapter.go
  x/auth/tx/builder.go
  x/tx/signing/aminojson/aminojson.go
  x/tx/signing/aminojson/aminojson_test.go
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.proto
  x/tx/signing/aminojson/internal/aminojsonpb/aminojson.pulsar.go
  x/tx/signing/testutil/util.go
Labels: C:CLI, C:x/auth, Type: Build, C:x/tx

#23973 chore: deps
  Makefile
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  depinject/go.sum
  go.mod
  go.sum
  math/go.mod
  math/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, Type: Build, C:collections, C:Confix, C:x/circuit, C:x/tx

#24018 feat(genutil): Allow manually setting the consensus key type in genesis
  CHANGELOG.md
  crypto/keys/ed25519/ed25519.go
  x/genutil/client/cli/init.go
Labels: C:CLI, C:x/genutil

#24046 chore: create temp fix for faulty vuln report in CI
  .github/workflows/dependencies-review.yml
Labels: Type: CI

#24022 refactor(client): use map.Copy for cleaner map handling
  client/v2/autocli/flag/maps/generic.go
  client/v2/autocli/flag/maps/generic_test.go
Labels: C:CLI, backport/v0.53.x

#23958 docs: add transaction malleability docs
  docs/architecture/README.md
  docs/architecture/adr-076-tx-malleability.md
Labels: Type: ADR, backport/v0.53.x

#24056 fix(ci): vuln check comment
  .github/workflows/dependencies-review.yml
Labels: Type: CI

#24059 fix(client,server): consistently set env prefix between client/server
  CHANGELOG.md
  client/config/config_test.go
  client/context.go
  server/start.go
  simapp/simd/cmd/root.go
  simapp/simd/cmd/root_di.go
Labels: C:CLI

#23974 docs: adr-070 unordered transactions refactor
  docs/architecture/adr-070-unordered-account.md
Labels: Type: ADR

#24021 feat(tools/benchmark): introduce benchmark module
  api/cosmos/benchmark/module/v1/module.pulsar.go
  api/cosmos/benchmark/v1/benchmark.pulsar.go
  api/cosmos/benchmark/v1/tx.pulsar.go
  api/cosmos/benchmark/v1/tx_grpc.pb.go
  proto/cosmos/benchmark/module/v1/module.proto
  proto/cosmos/benchmark/v1/benchmark.proto
  proto/cosmos/benchmark/v1/tx.proto
  tools/benchmark/CHANGELOG.md
  tools/benchmark/README.md
  tools/benchmark/benchmark.pb.go
  tools/benchmark/client/cli/tx.go
  tools/benchmark/generator/gen.go
  tools/benchmark/generator/gen_test.go
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/benchmark/module/depinject.go
  tools/benchmark/module/keeper.go
  tools/benchmark/module/module.go
  tools/benchmark/tx.pb.go
Labels: tooling, C:Simulations

#24079 fix: vuln CI job
  .github/workflows/dependencies-review.yml
Labels: Type: CI

#23936 feat: add InitOptions to `x/distribution` keeper for protocol pool enabling
  proto/cosmos/distribution/module/v1/module.proto
  simapp/app.go
  simapp/app_di.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/module.go
  x/distribution/types/expected_keepers.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/types/interface.go
Labels: C:x/distribution, C:x/protocolpool

#23951 fix: correct panic messages and enforce sealing check in SetStreamingManager
  CHANGELOG.md
  baseapp/options.go
Labels: backport/v0.53.x

#24035 fix(`protocolpool`): community pool query
  api/cosmos/protocolpool/v1/query.pulsar.go
  proto/cosmos/protocolpool/v1/query.proto
  tests/systemtests/go.mod
  x/protocolpool/keeper/grpc_query.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/types/query.pb.go
Labels: C:x/protocolpool

#24065 chore: fix bugs in `x/protocolpool` validation and test
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/validate.go
  x/protocolpool/keeper/validate_test.go
Labels: C:x/protocolpool

#24084 chore: lint fixes
  baseapp/abci_test.go
  client/cmd_test.go
  client/flags/flags_test.go
  client/tx/aux_builder_test.go
  codec/amino_codec_test.go
  codec/codec_common_test.go
  crypto/keyring/keyring_test.go
  crypto/types/compact_bit_array_test.go
  simapp/app_test.go
  simapp/export.go
  simapp/sim_test.go
  simapp/simd/cmd/testnet.go
  store/iavl/store_test.go
  store/pruning/manager_test.go
  store/types/iterator_test.go
  store/types/store_test.go
  types/coin_test.go
  types/context_test.go
  types/dec_coin_test.go
  types/events_test.go
  types/tx/direct_aux_test.go
  types/utils_test.go
  x/auth/ante/basic_test.go
  x/auth/keeper/msg_server_test.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/tx/aux_test.go
  x/authz/authorization_grant_test.go
  x/authz/client/cli/tx_test.go
  x/authz/keeper/grpc_query_test.go
  x/bank/client/cli/tx_test.go
  x/bank/keeper/genesis_test.go
  x/bank/keeper/grpc_query_test.go
  x/bank/types/balance_test.go
  x/bank/types/genesis_test.go
  x/bank/types/metadata_test.go
  x/consensus/keeper/keeper_test.go
  x/evidence/keeper/msg_server_test.go
  x/evidence/types/evidence_test.go
  x/feegrant/client/cli/tx_test.go
  x/feegrant/grant_test.go
  x/feegrant/keeper/genesis_test.go
  x/feegrant/keeper/keeper_test.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/migrate_test.go
  x/genutil/client/cli/validate_genesis_test.go
  x/gov/client/cli/tx_test.go
  x/gov/client/utils/query_test.go
  x/gov/keeper/msg_server_test.go
  x/gov/migrations/v3/convert_test.go
  x/gov/types/v1/genesis_test.go
  x/group/client/cli/tx_test.go
  x/group/genesis_test.go
  x/mint/keeper/msg_server_test.go
  x/slashing/keeper/msg_server_test.go
  x/staking/client/cli/tx_test.go
  x/staking/keeper/msg_server_test.go
  x/staking/types/authz_test.go
  x/upgrade/keeper/keeper_test.go
  x/upgrade/types/plan_test.go
  x/upgrade/types/storeloader_test.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/mint, C:Store, C:x/bank, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/genutil, C:x/authz, C:x/group, C:x/consensus

#24051 fix: set `nullable` options of `x/protocolpool` fields to be reasonable
  api/cosmos/protocolpool/v1/query.pulsar.go
  api/cosmos/protocolpool/v1/tx.pulsar.go
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/query.proto
  proto/cosmos/protocolpool/v1/tx.proto
  proto/cosmos/protocolpool/v1/types.proto
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/genesis_test.go
  x/protocolpool/keeper/grpc_query.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/keeper/validate.go
  x/protocolpool/keeper/validate_test.go
  x/protocolpool/types/genesis.go
  x/protocolpool/types/query.pb.go
  x/protocolpool/types/tx.pb.go
  x/protocolpool/types/types.pb.go
  x/protocolpool/types/types_test.go
Labels: C:x/protocolpool

#24086 chore: fix proto building warning
  .github/workflows/proto-registry.yml
  .github/workflows/proto.yml
  client/v2/internal/buf.yaml
  depinject/internal/appconfig/buf.yaml
  depinject/internal/appconfiggogo/buf.yaml
  proto/buf.yaml
  tests/integration/tx/internal/buf.yaml
  x/tx/internal/testpb/buf.yaml
  x/tx/signing/aminojson/internal/buf.yaml
  x/tx/signing/textual/internal/textualpb/buf.yaml
Labels: C:CLI, Type: CI, C:x/tx

#24089 ci: try running lint with just --new flag
  scripts/go-lint-changes.bash
Labels: Type: Build

#24076 refactor(store): use map.Copy for cleaner map handling
  store/cachemulti/store.go
  store/rootmulti/store.go
  store/types/store.go
Labels: C:Store

#24045 perf: Replace runsim with Go stdlib testing
  .github/workflows/sims.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  baseapp/baseapp.go
  contrib/devtools/Makefile
  scripts/go-lint-all.bash
  scripts/go-lint-changes.bash
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simapp/test_helpers.go
  testutil/sims/simulation_helpers.go
  testutil/sims/state_helpers.go
  testutils/sims/runner.go
  types/simulation/account.go
  types/simulation/config.go
  types/simulation/rand_util.go
  x/gov/simulation/operations.go
  x/gov/simulation/operations_test.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/simulation/client/cli/flags.go
  x/simulation/doc.go
  x/simulation/log.go
  x/simulation/params.go
  x/simulation/simulate.go
Labels: C:CLI, C:x/gov, C:Simulations, C:x/group, Type: Build, Type: CI

#23720 refactor(cosmovisor): get block height from db after node execution fails
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/go.mod
  tools/cosmovisor/scanner.go
Labels: C:Cosmovisor, C:orm

#24109 fix(test): avoid panic of SetStreamingManager() on sealed BaseApp
  baseapp/abci_test.go
Labels: backport/v0.53.x

#24044 fix: Do not call Remove during Walk
  CHANGELOG.md
  x/gov/abci.go
  x/gov/client/cli/prompt_test.go
  x/gov/simulation/operations_test.go
Labels: C:CLI, C:x/gov, C:Simulations

#24112 refactor: use the built-in max/min to simplify the code
  math/int_test.go
  math/uint_test.go
  store/pruning/manager.go
Labels: C:Store

#24010 refactor: PoC for unordered txs per new spec
  runtime/app.go
  simapp/ante.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  x/auth/ante/ante.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/ante/unorderedtx/manager.go
  x/auth/ante/unorderedtx/manager_test.go
  x/auth/ante/unorderedtx/snapshotter.go
  x/auth/ante/unorderedtx/snapshotter_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/unordered_tx_test.go
  x/auth/module.go
  x/auth/types/keys.go
Labels: C:x/auth

#24124 chore(all): modernized code with built-in min/max
  baseapp/block_gas_test.go
  client/utils.go
  x/distribution/client/cli/tx.go
  x/group/internal/orm/iterator_property_test.go
Labels: C:CLI, C:x/distribution, C:x/group

#24129 chore: gen mocks
  x/auth/ante/testutil/expected_keepers_mocks.go
Labels: C:x/auth

#24106 feat(x/bank): Placing SendRestriction before Deduction of Coins in SendCoins
  CHANGELOG.md
  x/bank/README.md
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Labels: C:x/bank

#24125 chore(all): modernized code with slices
  baseapp/streaming.go
  x/auth/ante/basic.go
  x/auth/types/account.go
  x/auth/types/genesis.go
  x/gov/migrations/v4/store.go
  x/group/keeper/msg_server.go
  x/staking/keeper/msg_server.go
  x/staking/migrations/v4/store.go
Labels: C:x/staking, C:x/gov, C:x/auth, C:x/group

#24095 fix(sims): Minor fixes
  Makefile
  baseapp/test_helpers.go
  simapp/sim_test.go
  testutils/sims/runner.go
  x/simulation/simulate.go
  x/slashing/simulation/operations.go
  x/staking/simulation/operations.go
Labels: C:x/staking, C:x/slashing, C:Simulations, Type: Build

#24132 ci: fix gosec
  .github/workflows/gosec.yml
Labels: Type: CI

#24149 chore: clean utils's SliceContains
  store/types/utils.go
Labels: C:Store

#24103 test: add test to ensure timeout timestamp can be encoded/decoded in txs
  x/auth/tx/builder_test.go
Labels: C:x/auth

#24160 feat(baseapp): extend abci listeners in streaming manager
  CHANGELOG.md
  baseapp/baseapp.go
Labels: backport/v0.53.x

#24162 refactor: slices.Contains
  x/auth/types/permissions.go
Labels: C:x/auth

#24090 fix: prune cmd should disable async pruning
  CHANGELOG.md
  baseapp/options.go
  client/pruning/main.go
  go.mod
  go.sum
  server/mock/store.go
  server/start.go
  server/util.go
  simapp/go.mod
  simapp/go.sum
  store/iavl/store.go
  store/rootmulti/store.go
  store/rootmulti/store_test.go
  store/types/store.go
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/nft, C:x/circuit

#24117 chore: protocolpool sims
  x/distribution/keeper/abci.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/simulation/operations.go
  x/protocolpool/module.go
  x/protocolpool/simulation/genesis.go
  x/protocolpool/simulation/msg_factory.go
  x/protocolpool/simulation/operations.go
  x/protocolpool/simulation/proposals.go
Labels: C:x/distribution, C:Simulations, C:x/protocolpool

#24116 chore: refactor protocolpool for simplicity
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  api/cosmos/protocolpool/v1/query.pulsar.go
  api/cosmos/protocolpool/v1/query_grpc.pb.go
  api/cosmos/protocolpool/v1/tx.pulsar.go
  api/cosmos/protocolpool/v1/tx_grpc.pb.go
  api/cosmos/protocolpool/v1/types.pulsar.go
  proto/cosmos/protocolpool/v1/genesis.proto
  proto/cosmos/protocolpool/v1/query.proto
  proto/cosmos/protocolpool/v1/tx.proto
  proto/cosmos/protocolpool/v1/types.proto
  simapp/app.go
  simapp/app_config.go
  systemtests/cli.go
  systemtests/system.go
  systemtests/test_runner.go
  tests/e2e/distribution/suite.go
  tests/e2e/distribution/withdraw_all_suite.go
  tests/integration/protocolpool/module_test.go
  tests/systemtests/go.mod
  tests/systemtests/protocolpool_test.go
  testutil/configurator/configurator.go
  x/distribution/keeper/abci.go
  x/distribution/keeper/abci_test.go
  x/distribution/keeper/grpc_query.go
  x/distribution/keeper/keeper.go
  x/distribution/keeper/msg_server.go
  x/distribution/simulation/operations.go
  x/protocolpool/README.md
  x/protocolpool/autocli.go
  x/protocolpool/depinject.go
  x/protocolpool/keeper/abci.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/genesis_test.go
  x/protocolpool/keeper/grpc_query.go
  x/protocolpool/keeper/grpc_query_test.go
  x/protocolpool/keeper/keeper.go
  x/protocolpool/keeper/keeper_test.go
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
  x/protocolpool/keeper/validate.go
  x/protocolpool/keeper/validate_test.go
  x/protocolpool/module.go
  x/protocolpool/simulation/genesis.go
  x/protocolpool/simulation/msg_factory.go
  x/protocolpool/simulation/operations.go
  x/protocolpool/simulation/proposals.go
  x/protocolpool/types/codec.go
  x/protocolpool/types/genesis.go
  x/protocolpool/types/genesis.pb.go
  x/protocolpool/types/genesis_test.go
  x/protocolpool/types/keys.go
  x/protocolpool/types/msg.go
  x/protocolpool/types/params.go
  x/protocolpool/types/params_test.go
  x/protocolpool/types/query.pb.go
  x/protocolpool/types/query.pb.gw.go
  x/protocolpool/types/tx.pb.go
  x/protocolpool/types/types.go
  x/protocolpool/types/types.pb.go
  x/protocolpool/types/types_test.go
Labels: C:x/distribution, C:Simulations, C:x/protocolpool

#24170 fix(test): to avoid reusing previous store across upgrade test
  x/upgrade/keeper/abci_test.go
Labels: C:x/upgrade, backport/v0.53.x

#24126 feat(sims): introduce message factories/ simsx
  simapp/sim_bench_test.go
  simapp/sim_test.go
  simsx/README.md
  simsx/common_test.go
  simsx/delivery.go
  simsx/delivery_test.go
  simsx/environment.go
  simsx/environment_test.go
  simsx/msg_factory.go
  simsx/msg_factory_test.go
  simsx/params.go
  simsx/registry.go
  simsx/registry_test.go
  simsx/reporter.go
  simsx/reporter_test.go
  simsx/runner.go
  simsx/slices.go
  simsx/slices_test.go
  testutils/sims/runner.go
  types/simulation/account.go
  x/bank/module.go
  x/bank/simulation/msg_factory.go
  x/bank/simulation/operations.go
  x/bank/simulation/proposals.go
  x/simulation/simulate.go
Labels: C:Simulations, C:x/bank

#24179 chore: dependency prep
  .github/workflows/dependabot-update-all.yml
  client/v2/autocli/testdata/help-toplevel-msg.golden
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  depinject/go.sum
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  log/go.mod
  log/go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/upgrade, C:x/feegrant, C:x/nft, Type: CI, C:collections, C:x/circuit, C:log

#24183 chore: use latest log tag
  depinject/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:Simulations, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit

#24081 refactor(collections): remove core dependency
  collections/CHANGELOG.md
  collections/collections_test.go
  collections/colltest/store.go
  collections/corecompat/codec.go
  collections/corecompat/doc.go
  collections/corecompat/genesis.go
  collections/corecompat/store.go
  collections/genesis_test.go
  collections/go.mod
  collections/go.sum
  collections/indexed_map_test.go
  collections/indexes/indexes_test.go
  collections/internal/testutil/context.go
  collections/internal/testutil/store.go
  collections/iter.go
  collections/lookup_map_test.go
  collections/map.go
  collections/protocodec/collections.go
  collections/quad_test.go
  collections/schema.go
  collections/triple_test.go
Labels: C:collections

#24180 chore: bump linter
  Makefile
Labels: Type: Build

#24184 chore: use latest errors
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  depinject/go.sum
  go.mod
  go.sum
  math/go.mod
  math/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit, C:x/tx

#24208 fix(x/auth): ensure the elements of do not exceed 1000
  x/auth/keeper/deterministic_test.go
Labels: C:x/auth

#24164 chore: slices Delete
  types/mempool/sender_nonce.go
  x/staking/types/delegation.go
Labels: C:x/staking

#24186 chore: use math `v1.5.1`
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  depinject/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit, C:x/tx

#24230 chore: use `cosmossdk.io/api` `v0.9.0`
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  depinject/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  x/circuit/go.mod
  x/circuit/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/upgrade, C:x/feegrant, C:x/nft, C:Confix, C:x/circuit, C:x/tx

#24240 chore: use latest store
  client/v2/go.mod
  client/v2/go.sum
  depinject/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit

#24243 chore: use sdk release tag
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/autocli/testdata/msg-output.golden
  client/v2/go.mod
  client/v2/go.sum
  depinject/CHANGELOG.md
  depinject/go.mod
  depinject/go.sum
  simapp/go.mod
  systemtests/CHANGELOG.md
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/systemtests/go.mod
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/CHANGELOG.md
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/CHANGELOG.md
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/CHANGELOG.md
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/CHANGELOG.md
  x/nft/go.mod
  x/nft/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit, C:x/tx
