Repository cosmos/cosmos-sdk, pull requests merged in 2025-07, with the labels that each got.

#24935 docs: fix CosmosSDK protos path
  store/streaming/abci/README.md
Labels: C:Store

#24872 feat: port bls12381 from v0.52.rc2
  CHANGELOG.md
  crypto/codec/amino.go
  crypto/codec/cmt.go
  crypto/codec/proto.go
  crypto/hd/algo.go
  crypto/keys/bls12_381/key.go
  crypto/keys/bls12_381/key_cgo.go
  crypto/keys/bls12_381/keys.pb.go
  crypto/keys/multisig/codec.go
  x/genutil/client/cli/collect.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/init.go
  x/genutil/client/cli/init_test.go
  x/genutil/utils.go
  x/genutil/utils_test.go
Labels: C:CLI, C:x/genutil

#24925 docs: fix typos and clarify wording
  x/gov/README.md
  x/slashing/README.md
Labels: C:x/gov, C:x/slashing

#24965 docs: fix spelling issues
  docs/README.md
  docs/architecture/adr-007-specialization-groups.md
  docs/docs/build/building-modules/01-module-manager.md
  docs/docs/build/building-modules/11-structure.md
  docs/docs/learn/advanced/07-cli.md
  docs/docs/learn/advanced/11-runtx_middleware.md
  docs/docs/learn/beginner/00-app-anatomy.md
  docs/docs/user/run-node/06-run-production.md
Labels: Type: ADR

#24975 enhance codebase clarity through systematic terminology corrections
  baseapp/abci_utils_test.go
  baseapp/baseapp.go
  baseapp/test_helpers.go
  docs/architecture/adr-037-gov-split-vote.md
  docs/architecture/adr-063-core-module-api.md
  docs/rfc/PROCESS.md
  docs/rfc/rfc-001-tx-validation.md
  docs/rfc/rfc-template.md
  types/address_test.go
  types/denom.go
  x/auth/migrations/legacytx/stdtx.go
  x/group/config.go
  x/upgrade/keeper/keeper.go
Labels: C:x/auth, C:x/upgrade, C:x/group, Type: ADR

#24974 Fix typos and minor comment cleanup in ADR documentation
  docs/architecture/adr-012-state-accessors.md
  docs/architecture/adr-014-proportional-slashing.md
  docs/architecture/adr-018-extendable-voting-period.md
  docs/architecture/adr-021-protobuf-query-encoding.md
  docs/architecture/adr-023-protobuf-naming.md
  docs/architecture/adr-028-public-key-addresses.md
Labels: Type: ADR

#24972 fix typographical errors across architecture design records
  docs/architecture/adr-028-public-key-addresses.md
  docs/architecture/adr-038-state-listening.md
  docs/architecture/adr-039-epoched-staking.md
  docs/architecture/adr-041-in-place-store-migrations.md
  docs/architecture/adr-044-protobuf-updates-guidelines.md
  docs/architecture/adr-046-module-params.md
  docs/architecture/adr-048-consensus-fees.md
Labels: Type: ADR

#24985 docs: fix misspelled issues
  client/debug/main.go
  client/rpc/tx.go
  client/tx/tx.go
  client/tx/tx_test.go
  crypto/keys/ed25519/doc.go
  simapp/app_config.go
  x/auth/ante/sigverify.go
  x/bank/migrations/v1/types.go
  x/bank/types/restrictions_test.go
  x/staking/types/historical_info.go
  x/upgrade/internal/conv/doc.go
  x/upgrade/plan/info.go
Labels: C:x/staking, C:CLI, C:x/bank, C:x/auth, C:x/upgrade

#24978 docs: fix typos and improve documentation clarity
  docs/architecture/adr-006-secret-store-replacement.md
  docs/architecture/adr-010-modular-antehandler.md
  docs/architecture/adr-028-public-key-addresses.md
  docs/architecture/adr-042-group-module.md
  docs/architecture/adr-043-nft-module.md
  docs/architecture/adr-059-test-scopes.md
  docs/docs/learn/advanced/01-transactions.md
  docs/docs/learn/advanced/05-encoding.md
  types/tx/tx.pb.go
Labels: Type: ADR

#25002 docs: correct spelling errors across multiple packages
  client/keys/migrate_test.go
  crypto/armor.go
  crypto/keyring/keyring_test.go
  crypto/keyring/migration_test.go
  crypto/keys/secp256k1/secp256k1_cgo.go
  crypto/keys/secp256r1/privkey.go
  crypto/ledger/ledger_test.go
  crypto/types/multisig/multisignature.go
  depinject/appconfig/module.go
Labels: C:CLI, C:Keys

#25017 docs: fix typos in comments / code
  core/coins/format_test.go
  crypto/keys/ed25519/doc.go
  crypto/keys/ed25519/ed25519.go
  crypto/keys/secp256k1/internal/secp256k1/secp256_test.go
  crypto/keys/secp256k1/secp256k1.go
  crypto/keys/secp256k1/secp256k1_test.go
  depinject/debug.go
  depinject/group.go
  x/authz/README.md
  x/bank/migrations/v2/store_test.go
  x/feegrant/filtered_fee.go
Labels: C:x/bank, C:x/feegrant, C:x/authz

#25019 docs: fix multiple typos
  tests/e2e/gov/grpc.go
  x/gov/README.md
  x/gov/autocli.go
  x/gov/keeper/deposit.go
  x/gov/keeper/msg_server_test.go
  x/group/simulation/operations.go
  x/group/types.go
  x/mint/simulation/genesis_test.go
  x/params/keeper/keeper_test.go
  x/params/types/subspace.go
Labels: C:x/gov, C:x/mint, C:Simulations, C:x/group

#25036 chore: ledger bump
  client/v2/go.mod
  client/v2/go.sum
  depinject/go.mod
  depinject/go.sum
  go.mod
  go.sum
  math/go.mod
  math/go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Labels: C:CLI, C:Simulations, C:Cosmovisor, C:Confix, backport/v0.53.x

#25026 fix: multiple typos of different importance
  tests/integration/tx/benchmark/benchmarks_test.go
  testutil/types.go
  tools/confix/testdata/README.md
  tools/cosmovisor/README.md
  tools/cosmovisor/cmd/cosmovisor/init_test.go
  tools/cosmovisor/cmd/cosmovisor/run_config.go
  tools/cosmovisor/process.go
  types/address/hash.go
  types/mempool/mempool.go
  types/mempool/priority_nonce_spec.md
  types/module/module.go
Labels: C:Cosmovisor, C:Confix

#25032 chore: upgrade to Node.js 24
  .github/workflows/build-docs.yml
Labels: Type: CI

#24989 docs: fix misspelled issues
  codec/codec.go
  codec/yaml.go
  collections/corecompat/genesis.go
  core/CHANGELOG.md
  core/appmodule/genesis.go
  core/comet/service.go
  tests/integration/staking/keeper/msg_server_test.go
  tests/integration/staking/keeper/slash_test.go
  x/auth/vesting/client/cli/tx.go
Labels: C:x/auth, C:collections

#25045 fix: typos across the codebase
  x/authz/README.md
  x/bank/keeper/keeper.go
  x/bank/types/genesis.go
  x/circuit/keeper/msg_server.go
  x/crisis/README.md
  x/epochs/README.md
  x/genutil/client/cli/gentx.go
  x/gov/migrations/v3/json.go
  x/gov/migrations/v5/store.go
Labels: C:CLI, C:x/gov, C:x/bank, C:x/genutil, C:x/authz, C:x/circuit, C:x/epochs

#25051 docs: fix broken and outdated internal documentation links in Cosmos SDK docs
  docs/docs/Introduction.md
  docs/docs/build/build.md
  docs/docs/build/building-modules/03-msg-services.md
  docs/docs/build/migrations/01-intro.md
  docs/docs/learn/advanced/08-events.md
  x/auth/README.md
  x/group/internal/orm/README.md
Labels: C:x/auth, C:x/group

#25059 docs: fix typos in comments / code
  x/tx/signing/context.go
  x/tx/signing/context_test.go
  x/tx/signing/textual/timestamp_test.go
  x/tx/signing/textual/tx.go
  x/tx/signing/textual/tx_test.go
  x/upgrade/abci_test.go
  x/upgrade/keeper/keeper.go
  x/upgrade/types/handler.go
Labels: C:x/upgrade, C:x/tx

#25065 docs: fix typos
  docs/architecture/PROCESS.md
  docs/architecture/README.md
  docs/architecture/adr-034-account-rekeying.md
  docs/architecture/adr-039-epoched-staking.md
  docs/architecture/adr-043-nft-module.md
  docs/architecture/adr-044-protobuf-updates-guidelines.md
  docs/architecture/adr-045-check-delivertx-middlewares.md
  docs/architecture/adr-050-sign-mode-textual.md
  docs/architecture/adr-053-go-module-refactoring.md
  docs/architecture/adr-057-app-wiring.md
  docs/architecture/adr-059-test-scopes.md
  docs/architecture/adr-063-core-module-api.md
  docs/docs/build/building-modules/02-messages-and-queries.md
Labels: Type: ADR

#25066 docs: fix grammatical and terminology issues in ADR documents
  docs/architecture/adr-036-arbitrary-signature.md
  docs/architecture/adr-045-check-delivertx-middlewares.md
  docs/architecture/adr-047-extend-upgrade-plan.md
  docs/architecture/adr-050-sign-mode-textual-annex1.md
  docs/architecture/adr-053-go-module-refactoring.md
  docs/docs/learn/beginner/01-tx-lifecycle.md
  docs/docs/learn/intro/01-why-app-specific.md
  docs/docs/learn/intro/02-sdk-app-architecture.md
  docs/docs/learn/learn.md
  docs/docs/user/run-node/01-run-node.md
  docs/docs/user/run-node/03-txs.md
  docs/rfc/PROCESS.md
  docs/spec/README.md
  docs/spec/addresses/bech32.md
Labels: Type: ADR

#25058 fix: correct various typos across codebase
  UPGRADE_GUIDE.md
  proto/cosmos/gov/v1/query.proto
  proto/cosmos/tx/v1beta1/tx.proto
  store/cachekv/benchmark_test.go
  x/gov/simulation/genesis.go
  x/group/internal/orm/sequence_property_test.go
Labels: C:x/gov, C:Simulations, C:Store, C:x/group
