Repository cosmos/cosmos-sdk, pull requests merged in 2025-01, with the labels that each got.

#23150 chore(docs): STF readme
  server/v2/stf/README.md
Labels: C:server/v2, C:server/v2 stf

#23142 docs: update `collections` readme latest code refer link
  collections/README.md
Labels: C:collections

#23151 chore(docs): Appmanager readme
  server/v2/appmanager/README.md
Labels: C:server/v2, C:server/v2 appmanager

#23128 feat(x/auth/ante): allow custom verifyIsOnCurve when validate tx for public key
  CHANGELOG.md
  x/auth/ante/sigverify.go
Labels: C:x/auth

#23146 fix(server/v2): `fp.Close` is called twice
  server/v2/store/snapshot.go
Labels: C:server/v2

#23152 docs: fix typos
  x/accounts/defaults/lockup/README.md
Labels: C:x/accounts, C:x/accounts/lockup

#23154 ci: build simapp with sqlite deps
  .github/workflows/build.yml
  scripts/build/build.mk
Labels: Type: CI

#23157 fix: remove 0 length check in pebble
  store/v2/commitment/store_bench_test.go
  store/v2/db/db.go
  store/v2/db/pebbledb.go
  store/v2/db/rocksdb.go
  store/v2/db/rocksdb_noflag.go
  store/v2/db/rocksdb_test.go
  store/v2/go.mod
  store/v2/go.sum
Labels: C:Store

#23166 ci: introduce sqlite build tag
  .github/workflows/build.yml
  scripts/build/build.mk
Labels: Type: CI

#23131 feat(store/v2): full iavl/v2 support
  .github/workflows/build.yml
  runtime/v2/module.go
  scripts/build/build.mk
  scripts/init-simapp-v2.sh
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/commands.go
  simapp/v2/app.go
  simapp/v2/benchmark.go
  simapp/v2/go.mod
  simapp/v2/go.sum
  store/v2/commitment/iavl/tree.go
  store/v2/commitment/iavlv2/snapshot.go
  store/v2/commitment/iavlv2/tree.go
  store/v2/commitment/iavlv2/tree_test.go
  store/v2/commitment/mem/tree.go
  store/v2/commitment/store.go
  store/v2/commitment/store_test_suite.go
  store/v2/commitment/tree.go
  store/v2/database.go
  store/v2/go.mod
  store/v2/go.sum
  store/v2/proof/commit_info.go
  store/v2/proof/commit_info_test.go
  store/v2/root/factory.go
  store/v2/root/factory_test.go
  store/v2/root/store.go
  store/v2/store.go
  tests/go.mod
  tests/go.sum
  tools/benchmark/client/cli/tx.go
Labels: C:Simulations, C:Store, Type: Build, Type: CI, C:server/v2, C:server/v2 cometbft

#23160 chore: typo mnemonic.go
  client/keys/mnemonic.go
Labels: C:CLI, C:Keys

#23138 chore: fix comment
  client/v2/tx/factory.go
Labels: C:CLI

#23164 fix: avoid simd not exist error when make localnet-build-env
  Dockerfile
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
Labels: Type: Build

#23130 style: remove redundant import alias
  core/appmodule/v2/handlers.go
  crypto/codec/amino.go
  crypto/codec/cmt.go
  crypto/codec/proto.go
  crypto/codec/pubkey.go
  crypto/keys/multisig/codec.go
  runtime/v2/manager.go
  server/v2/config_test.go
  server/v2/server_test.go
  store/cachekv/benchmark_test.go
  store/snapshots/types/convert.go
  store/types/codec.go
  store/v2/proof/proof.go
  tools/cosmovisor/process.go
  x/feegrant/keeper/genesis_test.go
  x/mint/module.go
  x/protocolpool/types/types_test.go
Labels: C:x/mint, C:Store, C:x/feegrant, C:Cosmovisor, C:server/v2, C:x/protocolpool

#23126 chore: fix struct field name and some typos in comment
  docs/rfc/rfc-003-crosslang.md
  schema/testing/statesim/module_diff.go
  simapp/v2/export.go
  x/auth/ante/unordered.go
  x/tx/decode/unknown.go
Labels: C:x/auth, C:x/tx, C:schema

#23148 fix(x/auth/tx): avoid panic from intoAnyV2 when v1.PublicKey is optional
  CHANGELOG.md
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: C:x/auth

#22941 feat(server/v2)!: grpcgateway autoregistration
  server/v2/CHANGELOG.md
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/uri.go
  server/v2/api/grpcgateway/uri_test.go
  server/v2/go.mod
  simapp/v2/simdv2/cmd/commands.go
  tests/systemtests/distribution_test.go
Labels: C:server/v2, C:server/v2 api

#22988 refactor: improve edge case handling for recursion limits
  CHANGELOG.md
  codec/types/interface_registry.go
  codec/unknownproto/unknown_fields.go
  x/tx/decode/unknown.go
Labels: C:x/tx, backport/v0.52.x

#23074 docs: Correct grammar errors across multiple files
  collections/iter.go
  core/appmodule/v2/doc.go
  depinject/group.go
  docs/spec/store/README.md
  errors/errors.go
  orm/model/ormtable/hooks.go
  runtime/events.go
  server/v2/stf/core_event_service.go
  store/cachekv/store_test.go
  store/snapshots/helpers_test.go
  store/v2/snapshots/helpers_test.go
  x/auth/types/account.go
  x/group/internal/orm/iterator.go
Labels: C:Store, C:x/auth, C:x/group, C:orm, C:collections, C:server/v2, C:server/v2 stf

#23076 fix(x/staking): avoid overriding error
  x/staking/keeper/delegation.go
Labels: C:x/staking, backport/v0.52.x

#23185 fix(simsx): make use chainID from config
  simsx/runner.go
Labels: backport/v0.52.x

#23192 ci: ci cleanup
  .github/scripts/get-rocksdb-version.sh
  .github/scripts/install-rocksdb-deps.sh
  .github/scripts/install-rocksdb.sh
  .github/workflows/build.yml
  .github/workflows/cache-rocksdb.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: Type: CI

#23197 feat(simsx): allow RunWithSeeds with custom randAccFn
  simsx/runner.go
Labels: C:Simulations, backport/v0.52.x

#22517 feat(collections): add Address and Integer codecs
  baseapp/streaming.go
  collections/pair.go
  server/v2/cometbft/server.go
  types/collections.go
Labels: C:collections, C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#23198 chore: prep collections v1 and api v0.8.0
  client/v2/go.mod
  client/v2/go.sum
  collections/go.mod
  collections/go.sum
  go.mod
  go.sum
  math/CHANGELOG.md
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  x/accounts/defaults/base/go.mod
  x/accounts/defaults/base/go.sum
  x/accounts/defaults/lockup/go.mod
  x/accounts/defaults/lockup/go.sum
  x/accounts/defaults/multisig/go.mod
  x/accounts/defaults/multisig/go.sum
  x/accounts/go.mod
  x/accounts/go.sum
  x/authz/go.mod
  x/authz/go.sum
  x/bank/go.mod
  x/bank/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/consensus/go.mod
  x/consensus/go.sum
  x/distribution/go.mod
  x/distribution/go.sum
  x/epochs/go.mod
  x/epochs/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/mint/go.mod
  x/mint/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/protocolpool/go.mod
  x/protocolpool/go.sum
  x/slashing/go.mod
  x/slashing/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/consensus, C:collections, C:x/circuit, C:server/v2, C:x/accounts, C:x/protocolpool, C:x/epochs, C:x/accounts/lockup, C:x/accounts/multisig, C:server/v2 cometbft, backport/v0.52.x, C:x/accounts/base

#23144 fix(x/auth/tx): add missing CacheWithValue for ExtensionOptions
  CHANGELOG.md
  x/auth/tx/builder.go
  x/auth/tx/gogotx.go
Labels: C:x/auth, backport/v0.52.x

#23149 fix: query balances with --resolve-denom panics on invalid metadata.Display
  x/bank/keeper/grpc_query.go
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
Labels: C:x/bank, backport/v0.52.x

#23168 fix(store/v2): `chunk.Close` is called twice
  store/v2/snapshots/store.go
Labels: C:Store

#23233 fix(x/staking): use overwritten default bond denom
  x/staking/simulation/genesis.go
  x/staking/types/params.go
Labels: C:x/staking, C:Simulations, backport/v0.52.x

#23230 docs: update `global type registration` code link
  docs/architecture/adr-019-protobuf-state-encoding.md
Labels: Type: ADR

#23184 fix(store/v2): flaky TestDenomMetadata integration test.
  store/v2/db/pebbledb.go
Labels: C:Store

#23201 refactor(store/v2): compatible with storev1
  api/cosmos/store/v2/commit_info.pulsar.go
  proto/cosmos/store/v2/commit_info.proto
  scripts/init-simapp-v2.sh
  server/v2/cometbft/internal/mock/mock_store.go
  server/v2/server.go
  simapp/v2/app_config.go
  store/v2/commitment/metadata.go
  store/v2/commitment/store.go
  store/v2/commitment/store_test_suite.go
  store/v2/migration/manager_test.go
  store/v2/proof/commit_info.go
  store/v2/proof/commit_info.pb.go
  store/v2/proof/commit_info_test.go
  store/v2/proof/proof.go
  store/v2/root/factory.go
  store/v2/root/factory_test.go
  store/v2/root/store.go
  tests/integration/distribution/genesis_test.go
Labels: C:Store, Type: Build, C:server/v2, C:server/v2 cometbft

#23212 docs: remove RocksDB
  scripts/build/build.mk
  scripts/go-lint-all.bash
  server/v2/store/commands.go
  server/v2/testdata/config.toml
  store/v2/CHANGELOG.md
Labels: C:Store, Type: Build, C:server/v2, backport/v0.52.x

#23251 docs: update collections api example code link
  docs/architecture/adr-062-collections-state-layer.md
Labels: Type: ADR

#23238 refactor(server)!: continue server v1 removal
  CHANGELOG.md
  api/cosmos/base/reflection/v1beta1/reflection.pulsar.go
  baseapp/baseapp.go
  baseapp/streaming.go
  client/flags/flags.go
  client/grpc/node/service.go
  client/grpc/node/service_test.go
  client/grpc/reflection/reflection.pb.go
  client/v2/internal/testpb/msg.pulsar.go
  go.mod
  proto/cosmos/base/reflection/v1beta1/reflection.proto
  runtime/app.go
  runtime/builder.go
  runtime/module.go
  runtime/types.go
  server/cmd/execute.go
  server/config/config.go
  server/config/config.toml.tpl
  server/config/config_test.go
  server/config/toml.go
  server/flags.go
  server/grpc/gogoreflection/doc.go
  server/grpc/gogoreflection/fix_registration.go
  server/grpc/gogoreflection/fix_registration_test.go
  server/grpc/gogoreflection/serverreflection.go
  server/grpc/reflection/v2alpha1/reflection.go
  server/grpc/server.go
  server/log/cmt_logger.go
  server/mock/app.go
  server/mock/app_test.go
  server/mock/store.go
  server/mock/store_test.go
  server/mock/tx.go
  server/types/abci.go
  server/types/app.go
  simsx/runner.go
  tests/integration/genutil/cmt_abci.go
  tests/integration/genutil/init_test.go
  testutil/sims/app_helpers.go
  tools/confix/CHANGELOG.md
  tools/confix/upgrade.go
  tools/confix/upgrade_test.go
  x/accounts/cli/cli_test.go
  x/bank/client/cli/tx_test.go
  x/genutil/client/cli/export.go
  x/genutil/client/cli/gentx.go
  x/genutil/client/cli/gentx_test.go
  x/genutil/client/cli/util.go
  x/group/client/cli/tx_test.go
  x/upgrade/depinject.go
Labels: C:CLI, C:Simulations, C:x/bank, C:x/upgrade, C:x/genutil, C:x/group, C:Confix, C:x/accounts

#23097 docs: add a synopsis upgrade doc for 52
  docs/architecture/adr-040-storage-and-smt-state-commitments.md
  docs/build/build.md
  docs/build/building-apps/00-runtime.md
  docs/build/building-apps/upgrades/0.52.md
  docs/build/building-apps/upgrades/_category_.json
  docs/build/building-modules/06-keeper.md
  docs/build/building-modules/16-testing.md
  docs/learn/advanced/00-baseapp.md
  docs/learn/advanced/04-store.md
  docs/user/run-node/06-run-production.md
Labels: T:Docs, Type: ADR, backport/v0.52.x

#23259 chore: update codeowners
  .github/CODEOWNERS
Labels: Type: CI

#23013 feat(sims): Integration with app v2
  CHANGELOG.md
  runtime/v2/app.go
  scripts/build/simulations.mk
  server/v2/appmanager/appmanager.go
  server/v2/appmanager/stf.go
  server/v2/stf/sims_entry.go
  server/v2/stf/stf.go
  server/v2/streaming/examples/file/file.go
  simapp/v2/go.mod
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  simsx/msg_factory.go
  simsx/registry.go
  simsx/registry_test.go
  simsx/v2/msg_factory.go
  simsx/v2/registry.go
  simsx/v2/txutils.go
  simsx/v2/valset.go
  simsx/v2/valset_history.go
  store/v2/db/db.go
  tests/systemtests/tx_test.go
  testutil/sims/state_helpers.go
  testutil/sims/tx_helpers.go
  testutil/testdata/tx.go
  x/gov/simulation/msg_factory.go
  x/nft/simulation/msg_factory.go
  x/staking/simulation/msg_factory.go
Labels: C:x/staking, C:x/gov, C:Simulations, C:Store, C:x/nft, C:server/v2, C:server/v2 stf, C:server/v2 appmanager, backport/v0.52.x

#23264 docs: fix runtime doc dead link to app-go-di.md
  docs/build/building-apps/00-runtime.md
Labels: backport/v0.52.x

#23261 chore(x/upgrade): Use `cosmossdk.io/core/codec` instead of `github.com/cosmos/cosmos-sdk/codec`
  x/upgrade/depinject.go
  x/upgrade/keeper/keeper.go
Labels: C:x/upgrade

#23170 fix(x/auth/tx): avoid panic from newWrapperFromDecodedTx
  CHANGELOG.md
  x/auth/tx/gogotx.go
  x/auth/tx/gogotx_test.go
Labels: C:x/auth, backport/v0.52.x

#23285 feat(x/auth/ante): allow custom verifyIsOnCurve when validate tx for public key (backport: #23128)
  CHANGELOG.md
  tests/systemtests/fraud_test.go
  x/auth/ante/sigverify.go
Labels: C:x/auth

#23286 fix(systemtests): wait longer to detect double sign
  tests/systemtests/fraud_test.go
Labels: backport/v0.52.x

#23306 fix(systemtests): align halt-height with comet in upgrade
  tests/systemtests/upgrade_test.go
Labels: backport/v0.52.x

#23318 refactor(x/auth/tx): Provide DefaultTxDecoder
  x/auth/tx/config.go
  x/auth/tx/decoder.go
Labels: C:x/auth, backport/v0.52.x

#23325 fix(simapp/v2): correctly wire client/v2, clean-up api client/v2
  client/v2/CHANGELOG.md
  client/v2/autocli/app.go
  client/v2/go.mod
  simapp/v2/simdv2/cmd/root.go
Labels: C:CLI, backport/v0.52.x

#23330 docs: Add environment documentation link and description
  UPGRADING.md
Labels: backport/v0.52.x

#23292 chore(x/gov, x/authz): use cosmossdk.io/core/codec instead of github.com/cosmos/cosmos-sdk/codec
  x/authz/migrations/v2/store.go
  x/authz/module/module.go
  x/authz/simulation/decoder.go
  x/gov/migrations/v5/store.go
  x/gov/module.go
Labels: C:x/gov, C:Simulations, C:x/authz, backport/v0.52.x

#23278 test: Add more sims test scenarios
  scripts/build/simulations.mk
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  simsx/environment.go
  simsx/runner.go
  simsx/v2/valset_history.go
  types/simulation/config.go
  x/simulation/client/cli/flags.go
Labels: C:CLI, C:Simulations, backport/v0.52.x

#23333 fix(server/v2/grpc): fix reflection
  CHANGELOG.md
  server/v2/api/grpc/gogoreflection/serverreflection.go
  tests/integration/runtime/query_test.go
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tests/systemtests/grpc_test.go
Labels: C:server/v2, C:server/v2 api, backport/v0.52.x

#22336 feat(store/v2): build the migration manager in the root store factory
  api/cosmos/store/v2/commit_info.pulsar.go
  client/grpc/reflection/reflection.pb.go
  proto/cosmos/store/v2/commit_info.proto
  scripts/init-simapp-v2.sh
  server/v2/cometbft/abci_test.go
  server/v2/cometbft/internal/mock/mock_store.go
  server/v2/server.go
  simapp/v2/app_config.go
  simapp/v2/simdv2/cmd/testnet.go
  store/v2/commitment/iavl/exporter.go
  store/v2/commitment/iavl/tree.go
  store/v2/commitment/metadata.go
  store/v2/commitment/store.go
  store/v2/commitment/store_test_suite.go
  store/v2/go.mod
  store/v2/migration/manager.go
  store/v2/migration/manager_test.go
  store/v2/proof/commit_info.go
  store/v2/proof/commit_info.pb.go
  store/v2/proof/commit_info_test.go
  store/v2/proof/v1/types/commit_info.pb.go
  store/v2/root/factory.go
  store/v2/root/factory_test.go
  store/v2/root/store.go
  tests/systemtests/bankv2_test.go
Labels: C:CLI, C:Store, Type: Build, C:server/v2, C:server/v2 cometbft

#23262 refactor(server/v2): auto-gateway improvements
  server/v2/api/grpcgateway/doc.go
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/interceptor_test.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/uri.go
  server/v2/api/grpcgateway/uri_test.go
  tests/systemtests/bank_test.go
  tests/systemtests/distribution_test.go
Labels: C:server/v2, C:server/v2 api, backport/v0.52.x

#23361 fix(server/v2): post request fallback
  server/v2/api/grpcgateway/interceptor.go
  tests/systemtests/distribution_test.go
Labels: C:server/v2, C:server/v2 api, backport/v0.52.x

#23057 test: v2 services helpers and demo using `x/bank`
  core/testing/context.go
  core/testing/environment.go
  core/testing/event.go
  core/testing/gas.go
  core/testing/header.go
  core/testing/services_test.go
  core/testing/transaction.go
  schema/appdata/mux.go
  testutil/queryclient/queryclient.go
  x/bank/go.mod
  x/bank/go.sum
  x/bank/keeper/grpc_query_test.go
  x/bank/keeper/keeper_test.go
  x/bank/types/restrictions_test.go
  x/bank/types/send_authorization_test.go
  x/bank/v2/keeper/handlers.go
  x/bank/v2/module.go
Labels: C:x/bank, C:core/testing, C:schema, C:x/bank/v2

#23236 feat(testutil/sims): add back AppStateFnWithExtendedCbs
  testutil/sims/state_helpers.go
Labels: backport/v0.52.x

#23179 fix(x/upgrade): register missing implementation for SoftwareUpgradeProposal
  UPGRADING.md
  simapp/v2/upgrades.go
  tests/systemtests/upgrade_test.go
  x/upgrade/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/types/codec.go
  x/upgrade/types/codec_test.go
  x/upgrade/types/proposal.go
Labels: C:x/upgrade, backport/v0.52.x

#23365 fix(server/v2/cometbft): align default response for filter cmd when handleQueryP2P
  server/v2/cometbft/query.go
Labels: C:server/v2, C:server/v2 cometbft, backport/v0.52.x

#23374 fix(schema): fix `make lint-fix` reports error
  schema/appdata/mux.go
Labels: C:schema

#23375 chore(store): use the built-in clear to clear the map
  store/cache/cache.go
Labels: C:Store

#23372 docs: fix function name and comment
  baseapp/abci_test.go
  client/v2/tx/encoder.go
  crypto/ledger/ledger_secp256k1.go
Labels: C:CLI

#23381 chore(store): use the built-in `clear` to clear the map
  store/cachekv/store.go
Labels: C:Store

#23328 chore: fix system test for v2
  .github/workflows/v2-test.yml
  scripts/build/testing.mk
  tests/systemtests/tx_test.go
Labels: Type: CI

#23394 docs: clarify what is available in ctx.BlockHeader()
  types/context.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/testutil/expected_keepers_mocks.go
Labels: C:x/auth, backport/v0.52.x

#23244 fix(server): allow align block header with skip check header in grpc server
  CHANGELOG.md
  baseapp/grpcserver.go
  server/config/config.go
  server/config/config.toml.tpl
  server/grpc/server.go
  server/start.go
  server/types/app.go
  tools/confix/data/v0.52-app.toml
Labels: C:Confix

#23390 refactor(server/v2): use net/http for matching logic in auto-gateway
  server/v2/api/grpcgateway/config.go
  server/v2/api/grpcgateway/doc.go
  server/v2/api/grpcgateway/handler.go
  server/v2/api/grpcgateway/handler_test.go
  server/v2/api/grpcgateway/interceptor.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/grpcgateway/uri.go
  server/v2/api/grpcgateway/uri_test.go
Labels: C:server/v2, C:server/v2 api

#23378 fix(x/upgrade): register missing implementation for CancelSoftwareUpgradeProposal
  x/upgrade/CHANGELOG.md
  x/upgrade/types/codec.go
  x/upgrade/types/codec_test.go
  x/upgrade/types/proposal.go
Labels: C:x/upgrade, backport/v0.52.x

#23414 chore: prep beta.2 (0.52 branch)
  server/v2/cometbft/CHANGELOG.md
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tools/confix/CHANGELOG.md
  tools/confix/Makefile
  tools/confix/go.mod
  tools/confix/go.sum
  tools/confix/upgrade.go
  tools/confix/upgrade_test.go
Labels: C:Confix, C:server/v2, C:server/v2 cometbft

#23357 fix(x/auth): update proto address conversion query to prevent duplicate HTTP binding
  CHANGELOG.md
  api/cosmos/auth/v1beta1/query.pulsar.go
  client/grpc/reflection/reflection.pb.go
  proto/cosmos/auth/v1beta1/query.proto
  server/v2/api/grpcgateway/handler.go
  server/v2/cometbft/go.mod
  server/v2/cometbft/go.sum
  server/v2/go.mod
  server/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/auth_test.go
  x/auth/types/query.pb.go
  x/auth/types/query.pb.gw.go
Labels: C:CLI, C:x/auth, C:server/v2, C:server/v2 cometbft, C:server/v2 api, backport/v0.52.x

#23355 chore: remove baseapp from `x/accounts`
  client/v2/go.mod
  client/v2/go.sum
  core/testing/go.mod
  core/testing/go.sum
  core/testing/msgrouter/msgrouter.go
  core/testing/queryclient/queryclient.go
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/v2/accounts/fixture_test.go
  tests/integration/v2/accounts/lockup/utils.go
  tests/integration/v2/accounts/multisig/test_suite.go
  tests/integration/v2/auth/app_test.go
  tests/integration/v2/distribution/fixture_test.go
  tests/integration/v2/gov/common_test.go
  tests/integration/v2/gov/keeper/fixture_test.go
  tests/integration/v2/services.go
  x/accounts/go.mod
  x/accounts/go.sum
  x/accounts/utils_test.go
  x/authz/go.mod
  x/authz/go.sum
  x/bank/keeper/keeper_test.go
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
Labels: C:CLI, C:x/gov, C:x/bank, C:x/authz, C:x/group, C:x/accounts, C:core/testing, backport/v0.52.x

#23418 docs: fix: escape mod reference
  docs/build/building-apps/upgrades/0.52.md
Labels: backport/v0.52.x

#23419 fix: lint in `release/v0.52.x`
  server/v2/cometbft/abci_test.go
  server/v2/cometbft/utils.go
  tests/integration/accounts/lockup/utils.go
  tests/integration/distribution/genesis_test.go
  x/accounts/defaults/lockup/continuous_locking_account_test.go
  x/accounts/defaults/lockup/delayed_locking_account_test.go
Labels: C:server/v2, C:x/accounts, C:x/accounts/lockup, C:server/v2 cometbft

#23409 docs: fix the outdated description of `transaction.Msg`
  docs/build/building-modules/02-messages-and-queries.md
Labels: backport/v0.52.x

#23421 test: add more sims tests
  scripts/build/simulations.mk
  simapp/v2/.gitignore
  simapp/v2/sim_bench_test.go
  simapp/v2/sim_fuzz_test.go
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  simsx/v2/rand_source.go
  simsx/v2/rand_source_test.go
Labels: C:Simulations, backport/v0.52.x

#23403 chore(x/auth): use `cosmossdk.io/core/codec` instead of `github.com/cosmos/cosmos-sdk/codec`
  x/auth/module.go
  x/auth/tx/decoder.go
  x/auth/tx/encoder.go
  x/auth/types/genesis.go
Labels: C:x/auth, backport/v0.52.x

#23415 docs: sync main with 0.52 branch
  CHANGELOG.md
  server/v2/appmanager/CHANGELOG.md
  server/v2/cometbft/CHANGELOG.md
  tools/confix/CHANGELOG.md
  tools/confix/data/v0.52-app.toml
Labels: C:Confix, C:server/v2, C:server/v2 appmanager, C:server/v2 cometbft

#23395 refactor(crypto): add check in multisig verification
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
  tests/integration/auth/client/cli/suite_test.go
Labels: backport/v0.52.x

#23442 test: add BeginBlock extension interface to module mocks
  testutil/mock/types_mock_appmodule.go
  types/module/mock_appmodule_test.go
Labels: backport/v0.52.x

#23439 chore: revert multisig M>N rule
  crypto/keys/multisig/multisig.go
  crypto/keys/multisig/multisig_test.go
Labels: backport/v0.52.x

#23324 fix(x/tx): add unordered and timeout timestamp fields in textual signing
  x/tx/CHANGELOG.md
  x/tx/signing/textual/internal/testdata/tx.json
  x/tx/signing/textual/internal/textualpb/buf.lock
  x/tx/signing/textual/internal/textualpb/buf.yaml
  x/tx/signing/textual/internal/textualpb/textual.proto
  x/tx/signing/textual/internal/textualpb/textual.pulsar.go
  x/tx/signing/textual/tx.go
Labels: C:x/tx

#23440 feat: `EmptyAppOptions` implement `DynamicConfig`
  testutil/sims/app_helpers.go
Labels: backport/v0.52.x

#23437 refactor!: remove duplicate block
  CHANGELOG.md
  api/cosmos/base/tendermint/v1beta1/query.pulsar.go
  client/grpc/cmtservice/query.pb.go
  client/grpc/cmtservice/service.go
  proto/cosmos/base/tendermint/v1beta1/query.proto
Labels: C:CLI, backport/v0.52.x

#23462 fix: Add sims export/import test and fix
  api/cosmos/accounts/defaults/lockup/v1/lockup.pulsar.go
  api/cosmos/accounts/v1/tx.pulsar.go
  api/cosmos/mint/v1beta1/mint.pulsar.go
  api/cosmos/protocolpool/v1/genesis.pulsar.go
  api/cosmos/staking/v1beta1/genesis.pulsar.go
  runtime/v2/manager.go
  scripts/build/simulations.mk
  simapp/v2/app_config.go
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  simapp/v2/sim_test_utils.go
  types/simulation/collections.go
  x/accounts/defaults/lockup/v1/lockup.pb.go
  x/accounts/proto/cosmos/accounts/defaults/lockup/v1/lockup.proto
  x/accounts/proto/cosmos/accounts/v1/tx.proto
  x/accounts/v1/tx.pb.go
  x/mint/proto/cosmos/mint/v1beta1/mint.proto
  x/mint/types/mint.pb.go
  x/protocolpool/proto/cosmos/protocolpool/v1/genesis.proto
  x/protocolpool/types/genesis.pb.go
  x/staking/CHANGELOG.md
  x/staking/depinject.go
  x/staking/keeper/genesis.go
  x/staking/proto/cosmos/staking/v1beta1/genesis.proto
  x/staking/simulation/decoder.go
  x/staking/simulation/decoder_test.go
  x/staking/types/genesis.pb.go
Labels: C:x/staking, C:x/mint, C:Simulations, C:x/accounts, C:x/protocolpool, C:x/accounts/lockup, backport/v0.52.x

#23465 chore: Review feedback
  simapp/v2/sim_test_utils.go
  x/staking/keeper/genesis.go
Labels: C:x/staking, backport/v0.52.x

#23461 fix(x/staking): fix validator metadata update
  x/staking/CHANGELOG.md
  x/staking/types/validator.go
  x/staking/types/validator_test.go
Labels: C:x/staking

#23467 fix(x/protocolpool): withdraw rewards before export genesis
  simapp/v2/app_config.go
  x/protocolpool/keeper/genesis.go
  x/protocolpool/keeper/genesis_test.go
Labels: C:x/protocolpool, backport/v0.52.x

#23271 fix(store/v2): `chunkBody.Close` and `chunkFile.Close` both are called twice
  store/v2/snapshots/store.go
Labels: C:Store

#23470 refactor!: simplify signing packages
  CHANGELOG.md
  baseapp/msg_service_router_test.go
  client/tx/aux_builder.go
  client/tx/aux_builder_test.go
  client/tx/factory.go
  client/tx/tx.go
  client/tx/tx_test.go
  client/v2/autocli/builder.go
  client/v2/autocli/common.go
  crypto/keyring/autocli.go
  crypto/keyring/keyring.go
  crypto/keyring/keyring_ledger_test.go
  crypto/keyring/keyring_test.go
  crypto/keys/multisig/multisig_test.go
  crypto/types/multisig/pubkey.go
  simsx/v2/txutils.go
  tests/integration/baseapp/block_gas_test.go
  tests/integration/tx/decode_test.go
  tests/integration/tx/internal/util.go
  tests/integration/v2/app.go
  testutil/cli/cmd.go
  testutil/sims/tx_helpers.go
  types/tx/direct_aux.go
  types/tx/direct_aux_test.go
  types/tx/signing/signature.go
  types/tx/signing/signature_data.go
  types/tx/signing/types.go
  x/auth/ante/ante_test.go
  x/auth/ante/basic_test.go
  x/auth/ante/fee_test.go
  x/auth/ante/feegrant_test.go
  x/auth/ante/setup_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil_test.go
  x/auth/ante/unordered_test.go
  x/auth/client/cli/tx_multisign.go
  x/auth/client/cli/validate_sigs.go
  x/auth/client/tx.go
  x/auth/migrations/legacytx/amino_signing.go
  x/auth/migrations/legacytx/stdsign.go
  x/auth/migrations/legacytx/stdtx_test.go
  x/auth/signing/adapter.go
  x/auth/signing/adapter_test.go
  x/auth/signing/sign_mode_handler.go
  x/auth/signing/verify.go
  x/auth/tx/aux_test.go
  x/auth/tx/config.go
  x/auth/tx/legacy_amino_json.go
  x/auth/tx/sigs.go
  x/auth/tx/testutil/suite.go
Labels: C:CLI, C:Simulations, C:x/auth, backport/v0.52.x

#23476 refactor: simplify sign mode (2/2)
  CHANGELOG.md
  client/tx/aux_builder.go
  client/tx/aux_builder_test.go
  types/tx/direct_aux.go
  types/tx/direct_aux_test.go
  types/tx/signing/signature.go
  types/tx/signing/types.go
  x/auth/tx/sigs.go
Labels: C:CLI, C:x/auth, backport/v0.52.x

#23483 fix(server/v2): inject latest height when not provide in grpc query
  server/v2/cometbft/abci.go
Labels: C:server/v2, C:server/v2 cometbft

#23480 chore(simapp/v2): consensus server isn't command dep
  runtime/v2/builder.go
  server/v2/appmanager/config.go
  simapp/v2/app_config.go
  simapp/v2/simdv2/cmd/commands.go
Labels: C:server/v2, C:server/v2 appmanager

#23488 refactor: export `HasRegisterServices`
  CHANGELOG.md
  runtime/app.go
  testutil/mock/types_module_module.go
  types/module/core_module_test.go
  types/module/module.go
  types/module/module_test.go
Labels: backport/v0.52.x

#23492 fix(x/auth/tx): add missing timeoutTimestamp in newBuilderFromDecodedTx
  CHANGELOG.md
  x/auth/tx/builder.go
  x/auth/tx/builder_test.go
Labels: C:x/auth, backport/v0.52.x

#23478 chore(sims): Complete sims integration for app v2
  scripts/build/simulations.mk
  server/v2/appmanager/CHANGELOG.md
  server/v2/cometbft/abci.go
  server/v2/cometbft/streaming.go
  server/v2/stf/CHANGELOG.md
  simapp/v2/go.mod
  simapp/v2/sim_runner.go
  store/CHANGELOG.md
  store/v2/CHANGELOG.md
Labels: C:Store, C:server/v2, C:server/v2 stf, C:server/v2 appmanager, C:server/v2 cometbft

#23486 feat(server/v2): add swagger server component
  client/docs/config.json
  client/docs/embed.go
  client/docs/swagger-ui/index.html
  client/docs/swagger-ui/swagger.yaml
  server/v2/CHANGELOG.md
  server/v2/api/grpcgateway/handler.go
  server/v2/api/grpcgateway/server.go
  server/v2/api/swagger/config.go
  server/v2/api/swagger/doc.go
  server/v2/api/swagger/handler.go
  server/v2/api/swagger/server.go
  server/v2/api/telemetry/server.go
  simapp/v2/simdv2/cmd/commands.go
  tools/confix/data/v2-app.toml
Labels: C:CLI, C:Confix, C:server/v2, C:server/v2 api, backport/v0.52.x

#23501 refactor: replace `golang.org/x/exp` with stdlib
  depinject/check_type.go
  depinject/go.mod
  depinject/go.sum
  depinject/internal/util/util.go
  depinject/provider_desc.go
  math/go.mod
  math/go.sum
  math/max_min.go
  orm/go.mod
  orm/internal/codegen/query.go
  orm/model/ormdb/genesis.go
Labels: C:orm

#23503 chore: remove unecessary SDKGasMeter impl
  runtime/gas.go
Labels: backport/v0.52.x

#23504 fix(codec): provide legacy amino og type
  codec/depinject.go
Labels: backport/v0.52.x

#23513 feat(x/tx): add an option to encode maps using amino json
  x/tx/signing/aminojson/json_marshal.go
Labels: C:x/tx

#23515 chore(collections): bring in `protocodec` in collections directly
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/test.yml
  collections/CHANGELOG.md
  collections/go.mod
  collections/protocodec/CHANGELOG.md
  collections/protocodec/go.mod
  collections/protocodec/go.sum
  go.work.example
Labels: Type: CI, C:collections, C:collections/protocodec

#23539 fix(x/tx): add an option to encode maps using amino json (ref #23513)
  x/tx/CHANGELOG.md
  x/tx/signing/aminojson/json_marshal.go
  x/tx/signing/aminojson/json_marshal_test.go
Labels: C:x/tx, backport/v0.50.x

#23552 fix(db): Fix pebbleDB integration
  simapp/v2/sim_runner.go
  simapp/v2/sim_test.go
  store/v2/CHANGELOG.md
  store/v2/db/pebbledb.go
  x/simulation/client/cli/flags.go
Labels: C:CLI, C:Simulations, C:Store

#23544 feat(client/v2): add map support
  client/v2/CHANGELOG.md
  client/v2/autocli/query.go
  client/v2/go.mod
  client/v2/go.sum
  simapp/v2/go.mod
  simapp/v2/go.sum
  tests/go.mod
  tests/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/group/go.mod
  x/group/go.sum
  x/tx/CHANGELOG.md
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:x/gov, C:x/upgrade, C:x/feegrant, C:x/group, C:x/tx, backport/v0.50.x, backport/v0.52.x

#23561 chore: update `pflag` on `v0.52.x`
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/gov/go.mod
  x/gov/go.sum
  x/staking/go.mod
  x/staking/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/staking, C:CLI, C:x/gov, C:x/upgrade

#23562 chore: rm `tools/hubl`
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  CHANGELOG.md
  ROADMAP.md
  UPGRADING.md
  client/v2/README.md
  docs/.gitignore
  docs/build/tooling/README.md
  docs/post.sh
  docs/pre.sh
  go.work.example
  scripts/build/build.mk
  tools/hubl/.gitignore
  tools/hubl/CHANGELOG.md
  tools/hubl/Makefile
  tools/hubl/README.md
  tools/hubl/cmd/hubl/main.go
  tools/hubl/go.mod
  tools/hubl/go.sum
  tools/hubl/internal/compat.go
  tools/hubl/internal/config/config.go
  tools/hubl/internal/flags/flags.go
  tools/hubl/internal/keyring.go
  tools/hubl/internal/load.go
  tools/hubl/internal/registry.go
  tools/hubl/internal/remote.go
  tools/hubl/internal/root.go
  tools/hubl/internal/util.go
  tools/hubl/internal/version.go
  tools/hubl/sonar-project.properties
Labels: C:CLI, Type: CI, C:Hubl

#23392 fix(auth): audit issues with unordered txs
  types/mempool/mempool_test.go
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
  types/mempool/sender_nonce.go
  types/mempool/sender_nonce_test.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify.go
  x/auth/ante/testutil_test.go
  x/auth/ante/unordered.go
Labels: C:x/auth, backport/v0.52.x

#23570 fix(simapp/v2): wire swagger in testnet cmd
  server/v2/api/swagger/server.go
  simapp/v2/simdv2/cmd/testnet.go
Labels: C:server/v2, C:server/v2 api

#23568 store/v2: remove auto migration and fix restore cmd
  runtime/v2/go.mod
  runtime/v2/go.sum
  server/v2/commands.go
  server/v2/store/commands.go
  server/v2/store/server.go
  server/v2/store/snapshot.go
  simapp/v2/go.mod
  store/v2/CHANGELOG.md
  store/v2/commitment/store.go
  store/v2/root/factory.go
  store/v2/root/factory_test.go
  store/v2/root/migrate_test.go
  store/v2/root/store.go
  store/v2/root/store_mock_test.go
  store/v2/root/store_test.go
  store/v2/root/upgrade_test.go
  tests/systemtests/store_test.go
Labels: C:Store, C:Hubl, C:server/v2, C:collections/protocodec
