Repository cosmos/cosmos-sdk, pull requests merged in 2025-04, with the labels that each got.

#24244 chore: use rc tags
  client/v2/go.mod
  client/v2/go.sum
  depinject/go.mod
  depinject/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit

#24260 test(client/rpc): Fix flacky RPC client test
  client/rpc/rpc_test.go
Labels: C:CLI

#24327 chore: update deps to silence dependatbot
  api/go.mod
  api/go.sum
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  errors/go.mod
  errors/go.sum
  go.mod
  go.sum
  math/go.mod
  math/go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit, C:x/tx

#24330 fix: use the gogoproto merge registry as a file resolver instead of the interface registry
  client/v2/CHANGELOG.md
  client/v2/autocli/app.go
Labels: C:CLI, backport/v0.50.x, backport/v0.53.x

#24145 feat(sims): Add simsx support to modules
  CHANGELOG.md
  simsx/context.go
  simsx/environment.go
  simsx/environment_test.go
  x/auth/module.go
  x/auth/simulation/genesis.go
  x/auth/simulation/msg_factory.go
  x/auth/simulation/proposals.go
  x/authz/module/module.go
  x/authz/simulation/msg_factory.go
  x/authz/simulation/operations.go
  x/bank/simulation/genesis.go
  x/bank/simulation/operations.go
  x/bank/simulation/proposals.go
  x/distribution/module.go
  x/distribution/simulation/genesis.go
  x/distribution/simulation/msg_factory.go
  x/distribution/simulation/operations.go
  x/distribution/simulation/proposals.go
  x/evidence/simulation/genesis.go
  x/feegrant/module/module.go
  x/feegrant/simulation/msg_factory.go
  x/feegrant/simulation/operations.go
  x/gov/module.go
  x/gov/simulation/genesis.go
  x/gov/simulation/msg_factory.go
  x/gov/simulation/operations.go
  x/gov/simulation/proposals.go
  x/group/keeper/keeper.go
  x/group/module/module.go
  x/group/simulation/msg_factory.go
  x/group/simulation/operations.go
  x/mint/module.go
  x/mint/simulation/genesis.go
  x/mint/simulation/msg_factory.go
  x/mint/simulation/proposals.go
  x/nft/module/module.go
  x/nft/simulation/msg_factory.go
  x/nft/simulation/operations.go
  x/params/simulation/operations.go
  x/params/simulation/proposals.go
  x/protocolpool/module.go
  x/protocolpool/simulation/msg_factory.go
  x/slashing/module.go
  x/slashing/simulation/genesis.go
  x/slashing/simulation/msg_factory.go
  x/slashing/simulation/operations.go
  x/slashing/simulation/proposals.go
  x/staking/module.go
  x/staking/simulation/genesis.go
  x/staking/simulation/msg_factory.go
  x/staking/simulation/operations.go
  x/staking/simulation/proposals.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/auth, C:x/evidence, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/protocolpool

#24336 refactor: migrate codec/types to type aliases, remove depinject dep on sdk
  CHANGELOG.md
  client/grpc/cmtservice/query.pb.go
  codec/types/any.go
  codec/types/any.pb.go
  codec/types/any_internal_test.go
  codec/types/any_test.go
  codec/types/compat.go
  codec/types/compat_test.go
  codec/types/doc.go
  codec/types/interface_registry.go
  codec/types/types_test.go
  crypto/keyring/record.pb.go
  crypto/keys/multisig/keys.pb.go
  depinject/appconfig/v1alpha1/config.pb.go
  depinject/go.mod
  depinject/go.sum
  proto/buf.gen.gogo.yaml
  types/abci.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/auth/types/auth.pb.go
  x/auth/types/genesis.pb.go
  x/auth/types/query.pb.go
  x/authz/authz.pb.go
  x/authz/tx.pb.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/types/genesis.pb.go
  x/evidence/types/query.pb.go
  x/evidence/types/tx.pb.go
  x/feegrant/feegrant.pb.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/tx.pb.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/tx.pb.go
  x/gov/types/v1beta1/gov.pb.go
  x/gov/types/v1beta1/tx.pb.go
  x/group/tx.pb.go
  x/group/types.pb.go
  x/nft/nft.pb.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/types/upgrade.pb.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/auth, C:x/evidence, C:x/upgrade, C:x/feegrant, C:x/authz, C:x/group, C:x/nft

#24361 fix(client/v2): *big.Int unmarshal (cherry-pick #21853)
  client/v2/CHANGELOG.md
  client/v2/autocli/flag/builder.go
  client/v2/autocli/flag/legacy_dec.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
Labels: C:CLI, backport/v0.53.x

#24262 fix(cosmovisor): Fix consensus failure lottery
  tools/cosmovisor/CHANGELOG.md
  tools/cosmovisor/process.go
  tools/cosmovisor/testdata/dontdie/cosmovisor/genesis/bin/dummyd
Labels: C:Cosmovisor

#24359 feat(client/v2): support gov proposals (cherry-pick #18461)
  client/prompt_validation.go
  client/v2/CHANGELOG.md
  client/v2/README.md
  client/v2/autocli/flag/builder.go
  client/v2/autocli/msg.go
  client/v2/autocli/msg_test.go
  client/v2/go.mod
  client/v2/go.sum
  client/v2/internal/flags/flags.go
  x/auth/autocli.go
  x/bank/autocli.go
  x/consensus/autocli.go
  x/crisis/autocli.go
  x/distribution/autocli.go
  x/gov/autocli.go
  x/gov/client/cli/prompt.go
  x/gov/client/cli/tx.go
  x/gov/client/cli/util.go
  x/mint/autocli.go
  x/slashing/autocli.go
  x/staking/autocli.go
  x/upgrade/autocli.go
Labels: C:x/staking, C:CLI, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:x/bank, C:x/auth, C:x/upgrade, C:x/consensus, backport/v0.53.x

#24147 chore: replace strings.SplitN(arg, sep, 2) with strings.Cut(arg, sep)
  client/v2/autocli/flag/map.go
  client/v2/autocli/flag/map_test.go
  client/v2/autocli/flag/maps/generic.go
  store/rootmulti/store.go
Labels: C:CLI, C:Store, v54

#24372 docs: fix linking
  docs/architecture/README.md
  docs/docs/build/abci/01-prepare-proposal.md
  docs/docs/build/abci/02-process-proposal.md
  docs/docs/build/tooling/README.md
  docs/docs/learn/advanced/05-encoding.md
  x/README.md
Labels: Type: ADR

#24373 docs: fixes from v53 branch
  docs/architecture/README.md
  docs/docs/build/abci/01-prepare-proposal.md
  docs/docs/build/abci/02-process-proposal.md
  docs/docs/build/tooling/README.md
  docs/docs/learn/advanced/05-encoding.md
  docs/docs/user/user.md
  docs/pre.sh
  x/README.md
Labels: Type: ADR

#24344 fix(t/tx): fix data race for "err" shared variable in getSignersFunc
  x/tx/signing/context.go
Labels: C:x/tx

#24377 chore: use new depinject tag
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  depinject/go.mod
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit

#24380 docs: include upgrade reference in docs
  UPGRADING.md
  docs/pre.sh
Labels: backport/v0.53.x

#24393 docs: clean up app wiring docs
  docs/docs/build/building-apps/01-app-go-v2.md
Labels: backport/v0.53.x

#24354 perf(staking): optimize endblock by reducing bech32 conversions
  CHANGELOG.md
  x/staking/keeper/val_state_change.go
  x/staking/keeper_bench_test.go
Labels: C:x/staking

#24395 chore: use latest math
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/go.mod
  store/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:Store, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/tx

#24350 chore(tx): use buffer byte slice method directly
  x/auth/client/tx.go
Labels: C:CLI, C:x/auth

#24396 docs: web link to ADRs
  docs/docs/learn/advanced/05-encoding.md
Labels: backport/v0.53.x

#24409 fix(x/tx): fallback to injected resolver for placeholder descriptors BACKPORT
  x/tx/CHANGELOG.md
  x/tx/decode/unknown.go
Labels: C:x/tx

#24416 chore: clean up buf warnings when running `make proto-all`
  proto/buf.lock
  proto/buf.yaml
  x/staking/types/staking.pb.go
  x/tx/internal/testpb/buf.lock
  x/tx/internal/testpb/buf.yaml
  x/tx/signing/aminojson/internal/buf.lock
  x/tx/signing/aminojson/internal/buf.yaml
Labels: C:x/staking, C:x/tx

#24398 docs: explicit warnings about using external community pool with x/distribution
  UPGRADE_GUIDE.md
  UPGRADING.md
  x/distribution/README.md
  x/protocolpool/README.md
Labels: C:x/distribution, C:x/protocolpool

#24418 docs: update docs with fixes from main-backup [part 1]
  docs/architecture/PROCESS.md
  docs/architecture/README.md
  docs/architecture/adr-039-epoched-staking.md
  docs/docs/build/abci/00-introduction.md
  docs/docs/build/abci/01-prepare-proposal.md
  docs/docs/build/abci/02-process-proposal.md
  docs/docs/build/abci/03-vote-extensions.md
  docs/docs/build/build.md
  docs/docs/build/building-apps/02-app-mempool.md
  docs/docs/build/building-apps/03-app-upgrade.md
  docs/docs/build/building-apps/05-app-testnet.md
  docs/docs/build/building-modules/00-intro.md
  docs/docs/build/building-modules/01-module-manager.md
  docs/docs/learn/intro/03-sdk-design.md
  docs/docs/learn/learn.md
  docs/docs/user/run-node/00-keyring.md
  docs/docs/user/run-node/01-run-node.md
  docs/docs/user/run-node/03-txs.md
  docs/docs/user/run-node/05-run-testnet.md
  docs/docs/user/run-node/06-run-production.md
  docs/spec/SPEC_MODULE.md
  docs/spec/SPEC_STANDARD.md
  docs/spec/addresses/bech32.md
  docs/spec/fee_distribution/f1_fee_distr.tex
Labels: Type: ADR

#24434 docs: fix ToC linking in upgrade guide
  UPGRADE_GUIDE.md
Labels: backport/v0.53.x

#24419 docs: unordered txs
  docs/docs/learn/advanced/01-transactions.md
  docs/docs/user/run-node/03-txs.md
Labels: backport/v0.53.x

#24391 chore(staking): Replace panics with error results; more verbose error messages
  CHANGELOG.md
  x/staking/keeper/val_state_change.go
Labels: C:x/staking

#24429 docs: runtime docs + fix runtime missing field (#22816)
  docs/docs/build/abci/01-prepare-proposal.md
  docs/docs/build/abci/02-process-proposal.md
  docs/docs/build/building-apps/00-runtime.md
  docs/docs/build/building-apps/01-app-go-di.md
  docs/docs/build/building-apps/02-app-mempool.md
  docs/docs/build/building-modules/15-depinject.md
  docs/docs/learn/beginner/00-app-anatomy.md
  runtime/module.go
  simapp/app_config.go
Labels: backport/v0.53.x

#24441 refactor(schema)!: remove unimplemented stubs
  .github/workflows/test.yml
  schema/field.go
  schema/go.mod
  schema/indexer/config.go
  schema/indexer/start.go
  schema/kind.go
  schema/oneof.go
  schema/struct.go
Labels: Type: CI, C:schema

#24449 fix(client/v2): add fallbacks when incorrect protos
  client/v2/autocli/app.go
  client/v2/autocli/flag/builder.go
  x/crisis/autocli.go
  x/gov/client/cli/util.go
Labels: C:CLI, C:x/gov, backport/v0.50.x, backport/v0.53.x

#24408 fix(x/tx): add feePayer as signer (#22311) BACKPORT
  x/tx/CHANGELOG.md
  x/tx/decode/decode.go
  x/tx/decode/decode_test.go
Labels: C:x/tx

#24453 chore: add example yaml app
  docs/docs/build/building-apps/01-app-go-di.md
  simapp/example_app.yaml
Labels: backport/v0.53.x

#24470 chore: clean up workflows
  .github/dependabot.yml
  .github/pr_labeler.yml
  .github/workflows/fork-cherry-pick.yml
Labels: Type: CI

#24466 docs: update reference to v50 in x/auth
  x/authz/README.md
Labels: C:x/authz

#24471 chore: use `v0.53.0-rc.3` tag
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.53-app.toml
  tools/confix/data/v0.53-client.toml
  tools/confix/data/v2-app.toml
  tools/confix/data/v2-client.toml
  tools/confix/go.mod
  tools/confix/go.sum
  tools/confix/migrations.go
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit

#24431 perf(bank): Reduce the number of `ValidateDenom` calls in Coin and Bank
  CHANGELOG.md
  types/coin.go
  types/coin_test.go
  types/dec_coin.go
  x/bank/keeper/keeper.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/send.go
Labels: C:x/bank

#24493 docs: add docs about x/gov new option
  x/gov/README.md
Labels: C:x/gov

#24439 feat(store): upgrade `store` CometBFT dependency to v1.0.1
  store/go.mod
  store/go.sum
  store/iavl/store.go
  store/internal/maps/maps.go
  store/internal/proofs/convert.go
  store/internal/proofs/helpers.go
  store/rootmulti/store.go
  store/streaming/abci/README.md
  store/streaming/abci/examples/file/file.go
  store/streaming/abci/examples/stdout/stdout.go
  store/streaming/abci/grpc.go
  store/streaming/abci/grpc.pb.go
  store/streaming/streaming_test.go
  store/types/commit_info.go
  store/types/listening.pb.go
  store/types/proof.go
  store/types/store.go
  store/types/streaming.go
Labels: C:Store

#24436 feat: custom `x/mint` minting function
  CHANGELOG.md
  UPGRADING.md
  simapp/app.go
  simapp/app_di.go
  x/mint/README.md
  x/mint/abci.go
  x/mint/keeper/keeper.go
  x/mint/keeper/mint.go
  x/mint/keeper/mint_test.go
  x/mint/module.go
Labels: C:x/mint

#24481 chore: move `simsx` to `testutil`
  simapp/sim_bench_test.go
  simapp/sim_test.go
  testutil/simsx/README.md
  testutil/simsx/common_test.go
  testutil/simsx/context.go
  testutil/simsx/delivery.go
  testutil/simsx/delivery_test.go
  testutil/simsx/environment.go
  testutil/simsx/environment_test.go
  testutil/simsx/msg_factory.go
  testutil/simsx/msg_factory_test.go
  testutil/simsx/params.go
  testutil/simsx/registry.go
  testutil/simsx/registry_test.go
  testutil/simsx/reporter.go
  testutil/simsx/reporter_test.go
  testutil/simsx/runner.go
  testutil/simsx/slices.go
  testutil/simsx/slices_test.go
  x/auth/module.go
  x/auth/simulation/msg_factory.go
  x/authz/module/module.go
  x/authz/simulation/msg_factory.go
  x/bank/module.go
  x/bank/simulation/msg_factory.go
  x/distribution/module.go
  x/distribution/simulation/msg_factory.go
  x/feegrant/module/module.go
  x/feegrant/simulation/msg_factory.go
  x/gov/module.go
  x/gov/simulation/msg_factory.go
  x/group/module/module.go
  x/group/simulation/msg_factory.go
  x/mint/module.go
  x/mint/simulation/msg_factory.go
  x/nft/go.mod
  x/nft/go.sum
  x/nft/module/module.go
  x/nft/simulation/msg_factory.go
  x/protocolpool/module.go
  x/protocolpool/simulation/msg_factory.go
  x/slashing/module.go
  x/slashing/simulation/msg_factory.go
  x/staking/module.go
  x/staking/simulation/msg_factory.go
Labels: C:x/staking, C:x/gov, C:x/slashing, C:x/distribution, C:x/mint, C:Simulations, C:x/bank, C:x/auth, C:x/feegrant, C:x/authz, C:x/group, C:x/nft, C:x/protocolpool

#24513 chore: prep x/tx for release
  x/tx/go.mod
  x/tx/go.sum
Labels: C:x/tx

#24516 chore: remove issue labeler
  .github/issue_labeler.yml
Labels: Type: CI

#24460 fix(x/gov): Do not call Remove during Walk
  CHANGELOG.md
  x/gov/keeper/tally.go
  x/gov/keeper/tally_test.go
Labels: C:x/gov

#24518 chore: use new tags
  client/v2/go.mod
  client/v2/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit

#24536 chore: clean up nightly sims workflows
  .github/workflows/sims-045.yml
  .github/workflows/sims-046.yml
  .github/workflows/sims-050.yml
  .github/workflows/sims-053.yml
  .github/workflows/sims-nightly.yml
Labels: Type: CI

#24463 feat(api): Upgrade api module to CometBFT v1.0.1
  Makefile
  api/cometbft/abci/v1/service.pulsar.go
  api/cometbft/abci/v1/service_grpc.pb.go
  api/cometbft/abci/v1/types.pulsar.go
  api/cometbft/crypto/v1/keys.pulsar.go
  api/cometbft/crypto/v1/proof.pulsar.go
  api/cometbft/libs/bits/v1/types.pulsar.go
  api/cometbft/p2p/v1/conn.pulsar.go
  api/cometbft/p2p/v1/pex.pulsar.go
  api/cometbft/p2p/v1/types.pulsar.go
  api/cometbft/types/v1/block.pulsar.go
  api/cometbft/types/v1/canonical.pulsar.go
  api/cometbft/types/v1/events.pulsar.go
  api/cometbft/types/v1/evidence.pulsar.go
  api/cometbft/types/v1/params.pulsar.go
  api/cometbft/types/v1/types.pulsar.go
  api/cometbft/types/v1/validator.pulsar.go
  api/cometbft/version/v1/types.pulsar.go
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  api/cosmos/base/tendermint/v1beta1/query.pulsar.go
  api/cosmos/base/tendermint/v1beta1/types.pulsar.go
  api/cosmos/consensus/v1/query.pulsar.go
  api/cosmos/consensus/v1/tx.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/store/streaming/abci/grpc.pulsar.go
  api/cosmos/store/v1beta1/listening.pulsar.go
  api/cosmos/tx/v1beta1/service.pulsar.go
  proto/buf.yaml
  proto/cometbft/abci/v1/service.proto
  proto/cometbft/abci/v1/types.proto
  proto/cometbft/crypto/v1/keys.proto
  proto/cometbft/crypto/v1/proof.proto
  proto/cometbft/libs/bits/v1/types.proto
  proto/cometbft/p2p/v1/conn.proto
  proto/cometbft/p2p/v1/pex.proto
  proto/cometbft/p2p/v1/types.proto
  proto/cometbft/types/v1/block.proto
  proto/cometbft/types/v1/canonical.proto
  proto/cometbft/types/v1/events.proto
  proto/cometbft/types/v1/evidence.proto
  proto/cometbft/types/v1/params.proto
  proto/cometbft/types/v1/types.proto
  proto/cometbft/types/v1/validator.proto
  proto/cometbft/version/v1/types.proto
  proto/cosmos/base/abci/v1beta1/abci.proto
  proto/cosmos/base/tendermint/v1beta1/query.proto
  proto/cosmos/base/tendermint/v1beta1/types.proto
  proto/cosmos/consensus/v1/query.proto
  proto/cosmos/consensus/v1/tx.proto
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/store/streaming/abci/grpc.proto
  proto/cosmos/store/v1beta1/listening.proto
  proto/cosmos/tx/v1beta1/service.proto
  scripts/protocgen.sh
Labels: Type: Build

#24479 feat(x/tx): Upgrade x/tx to CometBFT v1.0.1
  x/tx/go.mod
  x/tx/go.sum
Labels: C:x/tx

#24541 chore: add telemetry measurement to x/auth PreBlocker
  CHANGELOG.md
  telemetry/wrapper.go
  x/auth/module.go
  x/upgrade/abci.go
Labels: C:x/auth, C:x/upgrade

#24542 chore: clean up some workflows and templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/docs.md
  .github/PULL_REQUEST_TEMPLATE/other.md
  .github/actions/last-workflow-status/action.yaml
  .github/codeql/config.yml
  .github/workflows/stale.yml
Labels: Type: CI

#24533 fix(auth): support legacy global AccountNumber when query historical state (port #23743)
  CHANGELOG.md
  x/auth/keeper/keeper.go
  x/auth/keeper/keeper_test.go
  x/auth/migrations/v5/migrate.go
  x/auth/migrations/v5/migrate_test.go
  x/auth/types/keys.go
Labels: C:x/auth

#24499 chore: use slices.Contains to simplify code
  store/snapshots/manager.go
  store/snapshots/manager_test.go
Labels: C:Store

#24559 fix: add check for duplicate continuous fund in `x/protocolpool` genesis
  x/protocolpool/types/genesis.go
  x/protocolpool/types/genesis_test.go
Labels: C:x/protocolpool

#24561 refactor(client): change flag for unordered tx timeouts
  CHANGELOG.md
  client/flags/flags.go
  client/tx/factory.go
  docs/docs/learn/beginner/01-tx-lifecycle.md
  systemtests/cli.go
  tests/systemtests/unordered_tx_test.go
Labels: C:CLI

#24569 chore: fix autocli test
  client/v2/autocli/testdata/help-echo-msg.golden
Labels: C:CLI

#24540 chore: prep client/v2 for release
  client/v2/CHANGELOG.md
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/go.mod
  client/v2/go.sum
Labels: C:CLI

#24587 feat(x/evidence): upgrade `x/evidence` module to CometBFT v1.0.1
  x/evidence/genesis_test.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/evidence/keeper/keeper_test.go
Labels: C:x/evidence

#24588 feat(x/feegrant): upgrade `x/feegrant` module to CometBFT v1.0.1
  x/feegrant/basic_fee_test.go
  x/feegrant/client/cli/tx_test.go
  x/feegrant/filtered_fee_test.go
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/feegrant/grant_test.go
  x/feegrant/periodic_fee_test.go
  x/feegrant/simulation/operations_test.go
Labels: C:CLI, C:Simulations, C:x/feegrant

#24589 feat(x/upgrade): upgrade `x/upgrade` module to CometBFT v1.0.1
  x/upgrade/go.mod
  x/upgrade/go.sum
  x/upgrade/types/storeloader_test.go
Labels: C:x/upgrade

#24590 feat(x/circuit): upgrade `x/circuit` module to CometBFT v1.0.1
  x/circuit/ante/circuit_test.go
  x/circuit/go.mod
  x/circuit/go.sum
  x/circuit/keeper/keeper_test.go
Labels: C:x/circuit

#24591 feat(x/nft): upgrade `x/nft` module to CometBFT v1.0.1
  x/nft/go.mod
  x/nft/go.sum
  x/nft/keeper/keeper_test.go
  x/nft/simulation/operations_test.go
Labels: C:Simulations, C:x/nft

#24560 chore: check if fund exists for CancelContinuousFund in `x/protocolpool`
  x/protocolpool/keeper/msg_server.go
  x/protocolpool/keeper/msg_server_test.go
Labels: C:x/protocolpool

#24573 refactor: unordered transactions ante handling
  UPGRADE_GUIDE.md
  UPGRADING.md
  api/cosmos/auth/module/v1/module.pulsar.go
  go.mod
  go.sum
  proto/cosmos/auth/module/v1/module.proto
  simapp/ante.go
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/auth/ante/ante.go
  x/auth/ante/ante_test.go
  x/auth/ante/expected_keepers.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
  x/auth/ante/testutil/expected_keepers_mocks.go
  x/auth/ante/testutil_test.go
  x/auth/ante/unordered.go
  x/auth/ante/unordered_test.go
  x/auth/keeper/keeper.go
  x/auth/keeper/unordered_tx_test.go
  x/auth/module.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
Labels: C:x/auth, C:x/evidence, C:x/feegrant, C:x/nft

#24581 fix: do not allow unordered txs to have sequence values set
  UPGRADE_GUIDE.md
  UPGRADING.md
  api/cosmos/tx/v1beta1/tx.pulsar.go
  client/flags/flags.go
  client/tx/factory.go
  client/tx/factory_test.go
  docs/architecture/adr-070-unordered-account.md
  docs/docs/learn/advanced/01-transactions.md
  docs/docs/learn/beginner/01-tx-lifecycle.md
  docs/docs/user/run-node/03-txs.md
  proto/cosmos/tx/v1beta1/tx.proto
  tests/e2e/tx/service_test.go
  types/mempool/nonce.go
  types/mempool/nonce_test.go
  types/mempool/priority_nonce.go
  types/mempool/priority_nonce_test.go
  types/mempool/sender_nonce.go
  types/mempool/sender_nonce_test.go
  types/tx/tx.pb.go
  x/auth/ante/sigverify.go
  x/auth/ante/sigverify_test.go
Labels: C:CLI, C:x/auth, Type: ADR

#24595 chore: fixes from diff review
  depinject/README.md
  docs/.gitignore
  docs/architecture/adr-057-app-wiring.md
  docs/docs/build/building-modules/15-depinject.md
  docs/docs/build/tooling/README.md
  docs/docs/learn/advanced/12-simulation.md
  docs/post.sh
  docs/pre.sh
  math/sonar-project.properties
  store/go.mod
Labels: C:Store, Type: ADR

#24584 chore: deps bump pre 53
  Makefile
  client/v2/go.mod
  client/v2/go.sum
  core/go.mod
  core/go.sum
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/go.sum
  tests/systemtests/go.mod
  tests/systemtests/go.sum
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/tx/go.mod
  x/tx/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, Type: Build, C:Confix, C:x/circuit, C:x/tx, backport/v0.53.x

#24594 fix: update `x/protocolpool` to use passed codecs to avoid nil pointer
  CHANGELOG.md
  simapp/app.go
  x/epochs/depinject.go
  x/epochs/module.go
  x/protocolpool/depinject.go
  x/protocolpool/module.go
Labels: C:x/protocolpool, C:x/epochs

#24571 chore: deprecate group module
  CHANGELOG.md
  simapp/app.go
  simapp/app_config.go
  simapp/app_di.go
  simapp/app_test.go
  tests/e2e/group/suite.go
  tests/integration/rapidgen/rapidgen.go
  tests/integration/tx/aminojson/aminojson_test.go
  tests/integration/tx/decode_test.go
  x/README.md
  x/group/README.md
  x/group/client/cli/tx.go
  x/group/client/cli/tx_test.go
  x/group/client/cli/util.go
  x/group/keeper/genesis.go
  x/group/keeper/genesis_test.go
  x/group/keeper/grpc_query.go
  x/group/keeper/grpc_query_test.go
  x/group/keeper/keeper.go
  x/group/keeper/keeper_test.go
  x/group/keeper/msg_server.go
  x/group/keeper/msg_server_priv_test.go
  x/group/keeper/msg_server_test.go
  x/group/keeper/proposal_executor.go
  x/group/keeper/tally.go
  x/group/keeper/tally_test.go
  x/group/migrations/v2/migrate.go
  x/group/module/abci.go
  x/group/module/abci_test.go
  x/group/module/module.go
  x/group/proposal_test.go
  x/group/simulation/decoder.go
  x/group/simulation/decoder_test.go
  x/group/simulation/genesis.go
  x/group/simulation/genesis_test.go
  x/group/simulation/msg_factory.go
  x/group/simulation/operations.go
  x/group/simulation/operations_test.go
  x/group/testutil/app_config.go
  x/group/testutil/expected_keepers.go
  x/group/types.go
Labels: C:CLI, C:Simulations, C:x/group, v54

#24575 chore: deprecate nft for future
  CHANGELOG.md
  simapp/app.go
  simapp/app_config.go
  x/README.md
  x/nft/README.md
  x/nft/keeper/class.go
  x/nft/keeper/genesis.go
  x/nft/keeper/grpc_query.go
  x/nft/keeper/grpc_query_test.go
  x/nft/keeper/keeper.go
  x/nft/keeper/keeper_test.go
  x/nft/keeper/keys.go
  x/nft/keeper/msg_server.go
  x/nft/keeper/msg_server_test.go
  x/nft/keeper/nft.go
  x/nft/keeper/nft_batch.go
  x/nft/keeper/nft_batch_test.go
  x/nft/keys.go
  x/nft/module/autocli.go
  x/nft/module/module.go
  x/nft/simulation/decoder.go
  x/nft/simulation/decoder_test.go
  x/nft/simulation/genesis.go
  x/nft/simulation/genesis_test.go
  x/nft/simulation/msg_factory.go
  x/nft/simulation/operations.go
  x/nft/simulation/operations_test.go
  x/nft/testutil/app_config.go
Labels: C:Simulations, C:x/nft, v54

#24547 refactor: update telemetry keys in module BeginBlockers/PreBlockers
  x/upgrade/CHANGELOG.md
  x/upgrade/abci.go
Labels: C:x/upgrade, v54

#24599 feat(tools/cosmovisor): upgrade `tools/cosmovisor` module to CometBFT v1.0.1
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
Labels: C:Cosmovisor

#24598 feat(tools/confix): upgrade `tools/confix` module to CometBFT v1.0.1
  tools/confix/cmd/migrate_test.go
  tools/confix/data/v0.53-app.toml
  tools/confix/data/v0.53-client.toml
  tools/confix/data/v2-app.toml
  tools/confix/data/v2-client.toml
  tools/confix/go.mod
  tools/confix/go.sum
  tools/confix/migrations.go
Labels: C:Confix

#24610 chore: audit epoch
  CHANGELOG.md
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch.go
  x/epochs/keeper/epoch_test.go
  x/epochs/types/genesis.go
Labels: C:x/epochs, backport/v0.53.x

#24614 chore: all modules use `v0.53.0`
  client/v2/autocli/testdata/help-echo-msg.golden
  client/v2/go.mod
  client/v2/go.sum
  simapp/go.mod
  systemtests/go.mod
  systemtests/go.sum
  tests/go.mod
  tests/systemtests/go.mod
  tools/benchmark/go.mod
  tools/benchmark/go.sum
  tools/confix/go.mod
  tools/confix/go.sum
  tools/cosmovisor/go.mod
  tools/cosmovisor/go.sum
  x/circuit/go.mod
  x/circuit/go.sum
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:CLI, C:Simulations, C:x/evidence, C:x/upgrade, C:x/feegrant, C:Cosmovisor, C:x/nft, C:Confix, C:x/circuit, backport/v0.53.x

#24623 docs: Update documentation links to v0.53.0-rc.2
  docs/docs/learn/advanced/04-store.md
Labels: backport/v0.53.x

#24629 chore: add note in `x/staking` about reserved keys from LSM modules
  x/staking/types/keys.go
Labels: C:x/staking, backport/v0.53.x

#24635 docs: fix broken link to ARC implementation in interblock-cache.md
  docs/spec/store/interblock-cache.md
Labels: backport/v0.53.x
